[2018-05-02 16:31] DonaldAlan commented on #2226
OK. Perhaps the documentation should make that clearer.

[2018-05-02 16:37] mcosta74 opened #2229 "[datagrid] Chrome issue on header on sorting"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When a user click on datagrid header to sort the header shall look like
<img width="917" alt="datagrid-header-safari" src="https://user-images.githubusercontent.com/3706809/39536570-4a0de81e-4e37-11e8-8353-571bfd908002.png">

### Actual behavior
In Chrome the header looks like
<img width="901" alt="datagrid-header-chrome" src="

[2018-05-02 17:01] Shijir commented on #2229
Well, that's a default focus outline by Chrome, which is an accessibility feature. So we avoid removing that outline as it would make it very challenging if not impossible for keyboard users to tell where they are on the page.

[2018-05-02 17:01] #2229 closed

[2018-05-03 09:49] dorthrithil opened #2233 "Corner drag-handle icon"
[code]

### Expected behavior
A drag handle icon for corners.

### Actual behavior
Currently there's a drag-handle icon which is great for horizontal and vertical dragging. For dragging in two directions simultaneously, e.g. when grabbing the corner of an element, this icon does not convey the right meaning to the user.

[2018-05-03 10:18] mcosta74 commented on #2229
ok thanks

[2018-05-03 12:23] petarbk opened #2234 "clr-datagrid loading spinner placement bug"
[x] bug
[ ] feature request
[ ] enhancement

### Expected behavior
If the clr-datagrid is in a loading state and we have horizontal scroller, datagrid's spinner overlay and the spinner itself should be placed correctly.

### Actual behavior
Spinner's overlay and the spinner are not placed correctly if we scroll horizontally. Also the overlay's height exceeds content's height (this is caused by mar

[2018-05-03 12:39] petarbk commented on #2234
I fix this by using the following CSS rules:
[code]

This doesn't fix the excessive height, though. One solution is to simply remove the problematic margin-top rule. Or apply a margin-top rule with the same value to .datagrid-spinner. For me the best solution is just removing the margin. This also fixes another issue - if you have content above the grid, it won't align properly because you have th

[2018-05-03 13:06] petarbk opened #2235 "clr-datagrid loading spinner bug if used inside clr-wizard"
[x] bug
[ ] feature request
[ ] enhancement

Expected behavior
If the clr-datagrid is in a loading state and is used inside clr-wizard the spinner should be placed on overlay's center.

Actual behavior
The spinner is not aligned properly.

Reproduction of behavior
https://stackblitz.com/edit/clarity-light-theme-v11-spinner-bug-wizard

Environment details
Clarity version: 0.11

Browser: all

[2018-05-03 13:14] petarbk commented on #2235
When used inside clr-wizard the following problematic rule is applied:

[code]

[2018-05-03 15:31] hippee-lee commented on #2234
Hey @petarbk , I'm closing this because there is already an issue for centering the loading spinner properly here: https://github.com/vmware/clarity/issues/1409

Please subscribe to that issue for updates and the latest changes to the feature branch that will fix these issues.

[2018-05-03 15:31] #2234 closed

[2018-05-03 15:38] hippee-lee commented on #2235
@petarbk - It seems like you expecting the datagrid spinner (which is relative to the datagrid container) to be centered in the wizard container. Am I misunderstanding what you reported?

[2018-05-03 17:14] #2227 closed

[2018-05-04 04:29] jakehockey10 opened #2239 "after ng add, can't resolve rxjs objects on ng serve"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

After updating `npm`, `@angular/cli`, creating a new angular application (version 6), and adding clarity with `ng add @clr/angular@next` should create an application that can be served up locally.

### Actual behavior

Upon running `ng serve` after following the steps mentioned above, I receive the following error message:

[c

[2018-05-04 07:10] petarbk commented on #2235
@hippee-lee I'm expecting the datagrid spinner to be relative to the datagrid container. Currently, If the datagrid is used in a wizard, the spinner is relative to the wizard page. That's the problem I'm reporting.

[2018-05-04 09:16] stefnoten commented on #1752
We have the same problem. The problem seems to be that the Page service does not trigger the StateDebouncer inside the [size setter](https://github.com/vmware/clarity/blob/a2bc32dc49bc63a968983a6a00f94d74282f0b1d/src/clr-angular/data/datagrid/providers/page.ts#L22). It only does this for changes of the [current page](https://github.com/vmware/clarity/blob/a2bc32dc49bc63a968983a6a00f94d74282f0b1d/s

[2018-05-04 11:48] sosharma1403 opened #2240 "Intelligent popover positioning using @angular/cdk overlay module"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Popover components should change their position in order to be visible on the screen all the time.

### Actual behavior
Dropdown menu gets clipped off when placed to extreme right or left of the screen.
![clarity-dropdown](https://user-images.githubusercontent.com/30067725/39687445-1a68eefc-51ec-11e8-86a5-325a96f64b28.png)

###

[2018-05-04 12:32] gnomeontherun commented on #2239
This is a known limitation that isn't well published, but you'll need to try adding the https://www.npmjs.com/package/rxjs-compat package to help with these import issues. This is a preview of our schematics, which we'll be updating very soon for standalone v6 compatibility (see PR #2238).

[2018-05-04 15:33] gnomeontherun commented on #2240
Hello, to provide us with a meaningful feature request, please fill out details and explain what your needs are. Don't focus on the implementation (like using @angular/cdk, because we don't), but rather focus on the problem or feature.

[2018-05-04 15:55] reddolan commented on #474
@gerald-gonzales there is no easy way to change the size of it such as a class like -sm or -lg. If it was able to change sizes, how would you see that happening? Would it be smaller, larger, longer, wider, etc?

[2018-05-04 16:00] #2235 closed

[2018-05-04 17:14] hippee-lee commented on #2234
Correct, Both issues (horizontal and vertical positioning of hte loading spinner) will be addressed with the changes I'm making for pinned first column.
The loading spinner will overlay the entire datagrid and prevent user interaction with the datagrid until loading is complete.

[2018-05-04 19:45] mathisscott commented on #2107
@karmasakshi
There is a problem with this feature request when we consider that dropdown menus can show up on top, to the right, to the left, or on the bottom of the dropdown trigger. If there is a use case for your application that requires this behavior, it can easily be achieved with a few lines of CSS to augment the default styles. But it is not a feature we plan to implement in Clarity.

Than

[2018-05-04 19:45] #2107 closed

[2018-05-04 20:02] mathisscott commented on #2100
Per review, we feel the best course of action here is to remove the OK button. It is not consistent with design choices in other components. The suggestion is to simplify the hide/show column experience so it looks more like this...

<img width="403" alt="screen shot 2018-05-04 at 3 00 31 pm" src="https://user-images.githubusercontent.com/2728359/39649975-165a65f8-4fac-11e8-8a20-02640ffbdc6f.png">

[2018-05-04 20:07] mathisscott commented on #2167
We have the following style listed for fonts in Clarity...

`Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;`

I believe that to be sufficient for this request. Please let me know if you think that is incorrect.

[2018-05-04 20:07] #2167 closed

[2018-05-04 23:39] jeeyun opened #2241 "[CORE] Get rid of embedded SVGs in our components"
**Select one ...**  (check one with "x")
[code]
We should get rid of embedded SVGs in our components, and use `clr-icon` where appropriate. Spinner is one of them, but generally any component using functions inside `_icons.clarity.scss` should be reviewed. This is most likely a breaking change especially for static components, since the markup will have to change to include `clr-icon`.

[2018-05-05 21:03] gautamkrishnar opened #2242 "Not abe to run on angular 6"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Must support angular 6

### Actual behavior
Not supporting angular 6

### Reproduction of behavior
Run following commands:
[code]
The  build is failing with following error:
[code]

### Environment details

* **Angular version:** 6.0.0

* **Clarity version:** Latest

* **OS and version:** Latest

* **Browser:** [all | Chrome XX

[2018-05-05 21:29] MogauGeeky commented on #2242
@gautamkrishnar  Angular 6 has updated RxJS version, you need to install the compat lib to make other libraries depending on the previous version to work until they are also update to the latest RxJS version.

Run `npm install rxjs-compat` or `yarn add rxjs-compat` this should solve your issue, at least did for me. Check out this link for more info https://www.npmjs.com/package/rxjs-compat

[2018-05-05 21:39] gautamkrishnar commented on #2242
Thanks @MogauGeeky it solved my issue.

[2018-05-05 21:52] #2242 closed

[2018-05-06 11:18] alberthoekstra commented on #2005
Nice and valuable component 😄

[2018-05-06 19:38] kgidwani opened #2243 "Clarity not working with Angular V6"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Application should come up when i run ng serve

### Actual behavior

The build fails with error below

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

1. create a new project using angular cli (version 6)
ng new navigator-clarity --style=

[2018-05-06 19:47] Shijir commented on #2243
This is a duplicate of https://github.com/vmware/clarity/issues/2239 and https://github.com/vmware/clarity/issues/2242. Please take a look at the solutions specified in those issues.

[2018-05-06 19:47] #2243 closed

[2018-05-06 20:04] kgidwani commented on #2243
Thanks.. It solved my problem.

[2018-05-07 08:10] amemifra commented on #1995
News about the topic?

[2018-05-07 10:06] jaanreddy opened #2244 "VMware clarity not supporting for latest version of rxjs in Angular 6."
Getting below error
================

ERROR in ./node_modules/@clr/angular/esm5/clr-angular.js
Module not found: Error: Can't resolve 'rxjs/BehaviorSubject' in 'D:\jaan\harman\Angular6_VMware-clr-App\ng6-vmware-clr-app\node_modules\@clr\angular\esm5'
ERROR in ./node_modules/@clr/angular/esm5/clr-angular.js
Module not found: Error: Can't resolve 'rxjs/Subject' in 'D:\jaan\harman\Angular6_VMware-clr

[2018-05-07 10:32] dorthrithil commented on #2244
I would guess this will be fixed in https://github.com/vmware/clarity/pull/2238

[2018-05-07 12:40] pumano commented on #2244
`rxjs-compat` solve problem. I have fully working clarity with angular 6

[2018-05-07 12:54] pumano opened #2245 "Circular progress"
**Select one ...**  (check one with "x")
[code]
![donut](https://user-images.githubusercontent.com/17675259/39702750-78e4184a-520e-11e8-96ac-4691132a7fae.jpg)
just found similar in internet (for example)

### Expected behavior

Donut Chart for dashboard widgets
You have `spinner` element, that element perfectly fit for making another component "Donut Chart" with
 or w/o percentage and possibility

[2018-05-07 14:27] tarundhillon commented on #2244
@pumano can you please expand how you are using rxjs-compat to overcome clarity compatibility issues  ? Thanks

[2018-05-07 14:34] pumano commented on #2244
@tarundhillon when you upgrade to angular 6 you need to install `rxjs-compat` npm module for project.
Check https://update.angular.io/ for more details.
It's specially for having backward compatibility with 5 rxjs libs. I'm sucessfully upgraded to angular 6 and clarity works perfectly.

[2018-05-07 14:37] tarundhillon commented on #2244
brilliant !! thanks

[2018-05-07 14:42] mcosta74 commented on #1364
One use case where a `ModalService` would be useful is if you need to open some modal (for instance a confirmation modal) in a @ngrx/effect.

For instance I'd like to manage the logged in state in *ngrx* and I'd like to add an action to log out and asking confirmation in a effect

[2018-05-07 15:27] DeadlyBrad42 commented on #1400
Is this issue still on the radar? I love all the Clarity components and would rather using something built-in to this library if I could, but unfortunately the app I'm writing requires that the treeview allows children to be selected even if the parent is collapsed.

[2018-05-07 15:40] hippee-lee commented on #1995
@amemifra - take a look at issues #2239 and #2242 they have details about using `rxjs-compat` to address this topic.

[2018-05-07 18:02] jeremydejiacomo opened #2246 "Wizard full width footer area for action buttons"
**Select one ...**  (check one with "x")
[code]

### Description
Enhancement to the wizard component for the footer area to extend the full width of the modal window. This allows for:
- clear separation of content area and buttons
- increased space for multiple buttons
- increased space for longer string length of button labels

### Documentation
Wizard footer area that spans the width of the moda

[2018-05-07 18:10] adityarb88 commented on #2244
Thanks @pumano. Closing based on the above info provided by @pumano.

[2018-05-07 18:10] #2244 closed

[2018-05-07 18:11] adityarb88 commented on #2244
Also please refer to https://github.com/vmware/clarity/issues/2242

[2018-05-07 18:12] adityarb88 commented on #2246
Thanks @jeremydejiacomo!

[2018-05-07 18:13] adityarb88 commented on #2233
@lil-kim: Could you please take a look at this?

[2018-05-07 18:24] jeremydejiacomo opened #2247 "Wizard left step navigation panel collapse/expand interaction"
**Select one ...**  (check one with "x")
[code]

### Description
Enhancement to the wizard component to allow users to collapse and re-expand the left step navigation panel. This gives users the ability to increase the content area.

### Documentation
Wizard left step navigation panel collapsible functionality to emphasize information in the content area. The collapse/expand interaction behavior i

[2018-05-07 18:33] lil-kim commented on #2233
Hi @dorthrithil
We have a "resize" icon on the Clarity Iconography page:
https://vmware.github.io/clarity/icons/icon-sets#commerce-shapes
![image](https://user-images.githubusercontent.com/23196444/39718028-e199db60-51e9-11e8-82e0-85fe584c65f4.png)
This would need to be flipped, of course, if you're dragging a window from the bottom right corner. Is this icon what you had in mind?

[2018-05-08 00:50] icepeng commented on #2245
https://github.com/vmware/clarity/issues/372

[2018-05-08 05:46] jaanreddy commented on #2244
Thank you, It's working :)

On Mon, May 7, 2018 at 6:10 PM, Dmitry Zakharov <notifications@github.com>
wrote:

[2018-05-08 16:36] luis-cortina commented on #248
It would be great to also have a way to clear the single selection (setting the selected object to null) right from the select, much like [ng-select](https://ng-select.github.io/ng-select#/data-sources). Like this image...

![image](https://user-images.githubusercontent.com/25346332/39770163-876073c6-52ab-11e8-9b58-f5239db82969.png)

Thanks for the awesome work.

[2018-05-08 17:36] adityarb88 commented on #1955
@hspier: Discussed this with @reddolan & we are going to add this to our backlog. In the meanwhile, you could use `#ccc` color as the background for both the tooltip and the arrow.

![image](https://user-images.githubusercontent.com/1426805/39772924-80102d50-52c4-11e8-81cf-ee57fcf847d9.png)

The border solution is requires more work than simply flipping a variable as of now because the arrow requi

[2018-05-08 20:00] ewaschen commented on #580
Any updates? Its been over a year :(

[2018-05-09 01:17] neaped commented on #1364
just as a reference, here is a good approach:

https://stackblitz.com/edit/clarity-light-theme-v11-3clpz8?file=app%2Fmodal.component.ts

[2018-05-09 03:40] gnomeontherun commented on #580
Hi @ewaschen you can use the workaround described here https://github.com/vmware/clarity/issues/580#issuecomment-286052934 until this is implemented. It is something we'd be happy to get a contribution for, but it does not have any prioritization at the moment.

[2018-05-09 08:31] mcosta74 commented on #1364
@neaped My use case require to open a modal from something that's not a component. For instance a service or a ngrx/effect.

[2018-05-09 09:36] neaped commented on #1364
@mcosta74 I haven't code for this use case yet, but I think the link that provided above, it gave a good way to approach for you use case. As mathisscott mentioned,  a single (or even multiple) modal can be write as a component, then register it as a service. Once you want to use it,  just call the modal service, then use the modal component to control the modal behaviors.  In addition,  LubosD al

[2018-05-09 10:29] ph55 opened #2250 "Closing sidenav on navigation"
**Select one ...**  (check one with "x")
[code]
Currently when navigating from sidenav on small screens - it remain open until you close it manually.
Is there anyway to close sidenav automatically on navigation ?
![image](https://user-images.githubusercontent.com/1386622/39810203-d9789d0a-538c-11e8-8417-4444171a8eb5.png)

https://vmware.github.io/clarity/documentation/v0.10/navigation

### Environ

[2018-05-09 10:48] compmaster opened #2251 "Tree View nodes in Modal do not expand for first time"
[code]

### Expected behavior
Tree View nodes inside Modal should be expanded after user clicks the expand arrow.

### Actual behavior
If modal is opened more that once: Tree View nodes do not expand for the first time.

### Reproduction of behavior
1. Open a Modal that contains hierarchical TreeView nodes
2. Close the Modal.
3. Reopen the Modal.
4. Try to expand nodes.

#### Demo
https://clarity-

[2018-05-09 13:07] adityarb88 commented on #2250
@ph55: Could you provide a replication of this behavior? It depends on the way you have implemented it. If you take a look at our website, we close the menu when a nav link is clicked. The way we recommend you implement Responsive Navigation is documented here: https://vmware.github.io/clarity/documentation/v0.11/app-layout.

You could also take a look at the nav in our dev app for more info: http

[2018-05-09 13:17] adityarb88 commented on #2251
@compmaster: Thanks for reporting this. We will take a look and get back to you.

Simplified demo: https://stackblitz.com/edit/clarity-light-theme-v11-apbfw3?file=app/app.component.html

[2018-05-09 13:19] adityarb88 commented on #2239
@gnomeontherun: Can we close this issue?

[2018-05-09 13:40] #2239 closed

[2018-05-09 15:02] jayrungta commented on #1262
@youdz any update on this?

[2018-05-09 15:03] michelegoglio opened #2252 "New component Carousel"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Does Clarity consider creating a Carousel component ?

### Actual behavior
There's no Carousel component in Clarity. Is it a possible component for the future ?

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **

[2018-05-09 15:12] ph55 commented on #2250
Ok, so `nav-link` class was missing in `a` element. Thanks.

[2018-05-09 15:12] #2250 closed

[2018-05-09 15:19] mathisscott commented on #2252
Duplicate of #2174

[2018-05-09 15:19] #2252 closed

[2018-05-09 16:09] youdz commented on #1262
There is currently no work planned on this, it is not one of our short-term priorities.

We are all working on higher impact new components and features at the moment.

[2018-05-09 19:50] colinskow opened #2253 "[BUG] DataGrid clrDgSelected mutates array of selected items"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The clrDgSelected binding on DataGrid should not mutate the array of selected items, but create a new array. It should not change anything if the binding is one way. This is required for OnPush change detection and Redux / ngrx workflows.

### Actual behavior

A clrDgSelected binding mutates the array by pushing new items. Thi

[2018-05-09 20:07] adityarb88 opened #2254 "[UI] Add box-shadow to the date picker popover."
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Date picker popover should have the same box-shadow that other popovers have.

Note: Add the box-shadow for both the light and dark theme

### Actual behavior

Date picker popover doesnt have a box shadow.

### Reproduction of behavior
https://vmware.github.io/clarity/documentation/v0.11/datepicker

### Environment details

*

[2018-05-09 20:07] adityarb88 commented on #2254
cc: @reddolan

[2018-05-09 20:58] reddolan commented on #2005
@vmwareux-vivian there are no "fat cell" examples or content describing them and how they work. There are some questions and things to address in the [comment above](https://github.com/vmware/clarity/issues/2005#issuecomment-369353238)

[2018-05-09 21:07] reddolan commented on #2005
@vmwareux-vivian @mathisscott everything looks good to me.

**Note:** we decided to hold off on implementing the "fat cell" design

[2018-05-09 22:31] elesueur opened #2255 "Reconsider max-width on .branding container in clr-header"
[code]

### Expected behavior
At smaller screen sizes / breakpoints, the app title should not be truncated if there is available space to the right

![screen shot 2018-05-09 at 6 30 24 pm](https://user-images.githubusercontent.com/8139865/39843006-0f366ef2-53b7-11e8-8164-a024fda51d8b.png)

### Actual behavior
The application title text is truncated even if there is space to the right.

![screen sh

[2018-05-09 22:31] elesueur commented on #2255
My proposal would be to consider simply removing the max-width on the .branding container.

[2018-05-09 22:54] mathisscott commented on #2255
@reddolan + @adityarb88
Thoughts?

[2018-05-10 02:31] reddolan commented on #2255
Sounds good to me

[2018-05-10 10:09] dorthrithil commented on #2233
This would be OK if I wouldn't have to combine it with the standard drag handle icons. The usecase where I could need such an icon is an editor where one of the features is to resize boxes:

![usecase](https://user-images.githubusercontent.com/3655915/39864525-28fb09ea-544a-11e8-83eb-f61ac7fde0d7.jpg)

[2018-05-10 12:51] youdz commented on #2255
Clarity does not have a `max-width` on the branding container or the title in the header. Could you check where the max-width comes in your case? Thanks!

[2018-05-10 13:03] #2219 closed

[2018-05-10 16:57] adumesny commented on #474
Is there a place to track progress on the Time picker part ?
I'm interested in the analog version - up/down arrow keys doesn't seem like great UX, though the native android scrolling works well - and wondering if you've seen this one and if I should wrap angular around it for now:
https://www.jqueryscript.net/demo/Android-Clock-Time-Picker-Plugin-jQuery

[2018-05-10 17:10] adumesny commented on #474
![time_range_picker](https://user-images.githubusercontent.com/3496166/39882888-0983696e-543a-11e8-829f-3433ed77f181.png)
FYI, I've been working on an interactive timeline range picker (part of FlyingDragon) some part of which may make sense to contribute back to Clarity as we have angular dragable and range slider which are very generic, and re-used above for time selection.

[2018-05-10 17:49] sstrobel99 opened #2256 "v11 clr-datagrid height not calculated correctly on IE"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
clr-datagrid (angular) height computation should be correct for all browsers including IE

### Actual behavior
Using Clarity v10, this seemed to display correctly, however when upgrading to v11 the effective height seems to be calculated incorrectly on IE.

### Reproduction of behavior
I've create two reproductions to demonstra

[2018-05-10 19:26] michelegoglio opened #2259 "Scss variables list by component ?"
Is there a place where we can have a scss variables list by components ?

**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and versi

[2018-05-10 20:58] lil-kim commented on #2233
Ah, I see. Thanks @dorthrithil for clarifying your use case. I will design it to be consistent with the standard drag handles.

[2018-05-10 21:19] lil-kim commented on #2222
A couple more to add...
1) Compact Disc
2) USB symbol

[2018-05-10 21:47] #2254 closed

[2018-05-11 14:52] MartinPenev opened #2262 "[TreeView][Lazy Loading] The tree view arrow remains visible, even though there are no child nodes below it"
Migrating from version 0.9 to 0.10, the docs are suggesting that clrTreeNodeExpandable property is not needed anymore and it will be detected automatically by clrIfExpanded directive (https://vmware.github.io/clarity/news/0.10.0-alpha)

However after expanding a node that has no children the "expand-collapse" arrow remains visible, and since clrTreeNodeExpandable property is missing from version 0

[2018-05-11 15:55] youdz commented on #2262
The problem is that we can't remove the caret for you as we have no guarantee that the node won't have children in the future. If these were more dynamic resources than office locations, handled concurrently by several users, I could expand and get no children, collapse, and 2 minutes later expand again and finally get children that were just created by someone else. In other words, this "was expa

[2018-05-11 15:55] #2262 closed

[2018-05-11 16:25] MartinPenev commented on #2262
Actually I was looking for something that works like clrTreeNodeExpandable and your suggestion works perfectly. Thanks!

[2018-05-11 16:57] williangd opened #2263 "Date Picker don't mark form as dirty"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When you select a date in the date picker, the form is marked as dirty.

### Actual behavior
When you select a date in the date picker, the form is not marked as dirty.

### Reproduction of behavior
Click the date picker icon to open the component and select a date.
The form is marked as dirty only when typing the date with the

[2018-05-11 16:59] adityarb88 commented on #2263
@williangd: Thanks for reporting this issue. We will take a look and get back to you.

[2018-05-11 17:04] gnomeontherun commented on #2263
Yup, that should do it. Same with `markAsTouched()`

[2018-05-11 20:15] gnomeontherun opened #2264 "Table rows are incorrect height"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Table rows are 34 pixels

### Actual behavior
Expect them to be 36 px for vertical rhythm.

### Reproduction of behavior

https://vmware.github.io/clarity/documentation/v0.11/tables

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX

[2018-05-11 20:27] gitnarendra opened #2265 "[Datagrid] Update and refresh for a data grid row breaks select all toggle functionality"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Checkbox for each row on data grid should be checked.

### Actual behavior
Checkbox for each row on data grid appears unchecked.

### Reproduction of behavior
**Stackblitz** : https://stackblitz.com/edit/clr-datagrid-server-driven-demo

1. Select an item on the data grid.
2. On item selection _“Update and Refresh”_ button will

[2018-05-11 20:47] gnomeontherun opened #2266 "Audit the reference images for gemini"
We need to review the existing reference images for any oddities we shouldn't find acceptable, such as scrollbars in datagrids when they don't exist.

[2018-05-11 21:09] gnomeontherun commented on #2265
Did you save your stackblitz correctly? https://stackblitz.com/edit/clr-datagrid-server-driven-demo is not showing the button as you describe.

[2018-05-11 21:13] gitnarendra commented on #2265
Yes I did save the stackblitz correctly. I just clicked on the link and can see the “Update and Refresh” button upon an item selection in data grid. Did you select an item in data grid?

[2018-05-11 21:28] gnomeontherun commented on #2253
Thanks, we'll need to investigate this a bit further

[2018-05-11 22:01] gnomeontherun commented on #2265
Ah it only shows with one item selected. That was my mistake.

I suspect it is an order of lifecycle events that is causing this particular issue, since if you select one, use the refresh, then paginate forward and back, it appears correctly. We have the right state, but the lifecycle is off slightly.

[2018-05-12 01:35] gnomeontherun commented on #2205
This should be resolved for 0.11.

[2018-05-12 01:35] #2205 closed

[2018-05-12 01:48] #1995 closed

[2018-05-12 13:45] micsel commented on #2239
npm install rxjs-compat
https://github.com/vmware/clarity/issues/2242 by MogauGeeky

[2018-05-12 15:33] vinayakpatil commented on #2240
@gnomeontherun I know we should NOT focus on the implementation part but would like to suggest http://tether.io for above requirement.

cc: @youdz @adityarb88

[2018-05-13 13:42] essivision opened #2267 "Add custom icon by URL"
[code]

### Expected behavior
Do you have any solution to add custom icon to clarity by URL. I want to add some custom icon but I don't want to copy svg code to js file. What should I do?

### Environment details

* **Clarity version:** 0.11.17

* **OS and version:** Windows 10

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX S

[2018-05-13 16:41] mathisscott commented on #2267
When you add custom icons to the Clarity Icons API running in your app, it can be any html snippet that you want. From a font-awesome span or i tag to an image tag pointing to a remote source.

[2018-05-13 16:41] #2267 closed

[2018-05-14 12:31] mcosta74 opened #2268 "Pagination component"
[code]

### Expected behavior
In [this page](https://vmware.github.io/clarity/documentation/v0.11/cards) you suggest to implement a switch between a card view and a datagrid view.
In case of large dataset I want to use pagination to load data from the server, with datagrid I can use the pagination control while there's noting can be used in Card View.

In general a "generic" pagination control wou

[2018-05-14 13:52] ivvatov opened #2269 "Resize cursor is visible over dropdown menu when it appears over column separator"
[X] bug
[ ] feature request
[ ] enhancement

### Expected behavior
Datagrid column separator is *not movable* when under a drop-down menu.

### Actual behavior
When a dropdown menu is opened above a column separator, one can still resize the column beneath the dropdown menu.

![clr-dg-resize-cursor](https://user-images.githubusercontent.com/27762496/40001256-8433f9c6-5796-11e8-9815-44b6b1fba08e.PN

[2018-05-14 13:56] adityarb88 commented on #2269
@ivvatov: Thanks for reporting this. I will add this to the backlog.

[2018-05-14 13:58] adityarb88 commented on #2269
This is happening because the z-index of the column separator handle is 1000 too.

![image](https://user-images.githubusercontent.com/1426805/40001977-5bdb33f6-575d-11e8-819f-8d052a5a1542.png)

[2018-05-14 14:27] d-m-s commented on #2268
I was searching exactly for the same component: a generic pagination!

Especially as the pagination in the datagrid is quite small, it's hard to use on touch devices, and therefore a solution to iterate through eg. cards with a generic pagination component would be fine!

Imagine any kind of search where you don't want to present the search results in a datagrid, so you'll end up with cards quickl

[2018-05-14 14:29] adityarb88 commented on #2268
cc: @reddolan

[2018-05-14 16:25] Shijir commented on #1826
@pumano I am actively working on this feature. The ETA is around mid-July.

[2018-05-14 16:38] pumano commented on #1826
@Shijir sounds really good! Thanks for answer.

[2018-05-14 17:14] #2269 closed

[2018-05-14 17:18] reddolan commented on #2268
@adityarb88 yeah, this is what I have been thinking about too, is pagination outside and inside datagrid. Will make sure we include this use case when we start working on this

[2018-05-14 17:32] reddolan commented on #2268
@mcosta74 in the mean time, your suggestion is a good one that can get you by until we finish work on this.

[2018-05-14 17:42] reddolan commented on #474
@mathisscott do we have another issue created yet for the time pickers?

[2018-05-14 18:35] mathisscott commented on #474
@reddolan
I don't think there's an issue for that yet.

[2018-05-14 18:54] MithilaTople commented on #1878
Hi, @jeremydejiacomo and I were looking at some of the mockups for error handling in the new form update. The error icon is placed next to the field (except for radio buttons and checkboxes) and the error message appears below the field. We were wondering if the icon could be placed next to the error message, since the current placement seems a bit detached from the message and could be confused w

[2018-05-15 09:00] pumano opened #2275 "[Icons request] Mobile platform icons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Would be good to have mobile platform icons:
1) Android (for example: https://fontawesome.com/icons/android)
2) iOS (https://fontawesome.com/icons/apple)

**note:** For web I think `world` fits good: ```<clr-icon shape="world"></clr-icon>```
for desktop you also have icons.

[2018-05-15 12:35] pumano opened #2276 "[Icons request] social networks icons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Would be good to have icons of popular social networks:
facebook;
twitter;
github;
linkedin;
and etc

[2018-05-15 12:45] adityarb88 commented on #2275
@lil-kim @mathisscott: Could you please take a look at this request?

[2018-05-15 12:45] adityarb88 commented on #2276
@lil-kim @mathisscott: Could you please take a look at this request?

[2018-05-15 15:09] mcosta74 commented on #2275
In general would be nice to have icons for all platforms, at least

- Android
- Apple
- Linux
- Windows
- Chromebook

[2018-05-15 15:46] youdz commented on #2276
I remember us considering it a while back and running into legal issues. Not sure what's the current status, but any attempt to work on this will have to go through legal first. 😞

[2018-05-15 15:47] youdz commented on #2275
Same as #2276, this needs to go through legal first. 😞

[2018-05-15 17:00] gnomeontherun opened #2278 "Fix Gemini testing"
For reasons yet unknown, Gemini tests fail (specifically the datagrid ones, sometimes the wizard). We've disabled the offending suites for now, but need to investigate and fix by 0.12

[2018-05-15 18:30] #1488 closed

[2018-05-15 18:32] lil-kim commented on #2276
Hi @pumano,
Youdz is correct. We can’t distribute other companies’ branded logos due to legal issues.
All of these companies have very strict guidelines for how their logos can and cannot be used. For instance, Instagram’s guideline says : “Only use the official brand assets that are available from Instagram’s Brand Resources website". I know that these icons exist online in many forms in free ico

[2018-05-15 18:52] lil-kim commented on #2276
@pumano Thanks for understanding :-)

[2018-05-15 18:52] #2276 closed

[2018-05-15 19:55] gearsandcode opened #2280 "Move Clarity UI components to Angular Elements"
**Select one ...**  (check one with "x")
[code]

Transition of Clarity UI components to Angular Elements. I'm just curious if this is on the road map.

[2018-05-15 20:18] mathisscott commented on #2280
Hi @gearsandcode
Far future. Possibly.

[2018-05-15 22:03] hippee-lee commented on #2276
@pumano - fyi - if you wanted to make your own icons for the social networks your app needs you could still do use the [clarity icons api](https://vmware.github.io/clarity/icons/api) to add something that meets your needs.

After you import ClarityIcons into your app you can add a custom icon with this:
[code]

And then you can use it like this
[code]

[2018-05-16 07:11] pumano commented on #2276
@hippee-lee thank you, I will try your solution, it looks good to me!

[2018-05-16 07:59] KANekT opened #2282 "UI. Form. Button After Select"
[code]

### Expected behavior
How i may vertical center Button after Select ? Only write self code css ?

### Actual behavior
https://stackblitz.com/edit/clarity-light-theme-v11-j2tw8q

### Environment details

* **Angular version:** 5.x.x

* **Clarity version:** 0.11.*

[2018-05-16 09:48] sosharma1403 commented on #2240
@gnomeontherun Information provided

[2018-05-16 12:51] sosharma1403 commented on #1582
Any updates on this?

[2018-05-16 14:21] ellitsaHristova opened #2283 "Column control cannot be removed"
[code]

### Expected behavior
The column control shows up on first click and can be closed

### Actual behavior
The column control does not show up on first click and cannot be closed

### Reproduction of behavior
1. Open 1 or more column filters.
2. Click the button for showing the column control.
3. Observe that the column control does not show up. So click the button again.
4. Observe that the

[2018-05-16 14:38] youdz commented on #2283
Duplicate of #1183.

[2018-05-16 14:38] #2283 closed

[2018-05-16 15:07] gnomeontherun commented on #1582
Actually, we just merged a revamp of our build tooling. It uses the Angular CLI for most of the work so it might do better on Windows. Would you mind testing against master and if you have issues report back?

[2018-05-16 17:50] mollyyee opened #2286 "Update documentation and demo for selection batch action to include [export]"
### Description

<img width="1041" alt="screen shot 2018-05-16 at 10 36 58 am" src="https://user-images.githubusercontent.com/16811152/40133857-c78efe04-58f5-11e8-8a16-f87eccb202e8.png">

<img width="895" alt="screen shot 2018-05-16 at 10 37 09 am" src="https://user-images.githubusercontent.com/16811152/40147298-f406fcb6-591d-11e8-8cfa-6b43397402a1.png">

Update copy and demo in the selection batc

[2018-05-16 19:20] KANekT commented on #2282
@adityarb88 Yes, i understand.

but for checkbox example added css class .checkbox-inline or class .radio-inline for radio box

[2018-05-16 20:53] jmcmichael commented on #927
I'd like to chime in to add a vote for allowing developers to place the action overflow menu, as well as choose an icon for the button.

I am working on a table with expandable rows and action overflow - this places both the action overflow and expansion controls right next to each other, causing a wide margin in the expanded content (see screenshot below). It also makes the left side of the table

[2018-05-17 12:54] Gesh4o opened #2289 "[TAB] Tabs content caching when custom tab navigate is required."
**Select one ...**  (check one with "x")
[code]
### Description

I have the following scenario - several clarity tabs one of which **initially** should be **open** based on a url parameter (after that clarity handles tab selection).

In order to achieve that I am using the `*clrIfActive` structural directive. The issue that I am having is when the user is switching between tabs the closed tab gets

[2018-05-17 13:07] adityarb88 commented on #2289
@Gesh4o: This looks like a duplicate of https://github.com/vmware/clarity/issues/2112. Please subscribe to #2112 for more information.

Closing this based on the above info. Please feel free to reopen the issue if you have more questions/feedback.

[2018-05-17 13:07] #2289 closed

[2018-05-17 13:10] adityarb88 commented on #2251
@compmaster: There is a work around for this until we investigate the issue. Please refer to this StackBlitz: https://stackblitz.com/edit/clarity-light-theme-v11-yq4hqz?file=app/app.component.html

You can add an `*ngIf` on the `.modal-body`:

`<div class="modal-body" *ngIf="opened">`

[2018-05-17 14:42] nghiado opened #2292 "Doc Issue - "Try to Open at Step 3" and "Try to Open at Step 5" should open wizard and jump to step 3 and 5 after clicked."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Document Website https://vmware.github.io/clarity/documentation/v0.11/wizards
Programmatically Navigating the Wizard
"Try to Open at Step 3" and "Try to Open at Step 5" should open wizard and jump to step 3 and 5 after clicked.

### Actual behavior
"Try to Open at Step 3" and "Try to Open at Step 5" just open wizard at step1 fo

[2018-05-17 14:44] #2292 closed, assigned to nobody

[2018-05-17 15:58] mathisscott commented on #2292
@nghiado
I hear what you are saying but it is not a bug.

If you have a use case where you have a 3 step wizard and only need to edit data in the last step then you simply have steps one and two marked "completed". This is also discussed in the documentation.

Thanks!

[2018-05-17 17:07] borcherspm opened #2293 "Select row in DataGrid from code"
[code]

### Expected behavior
I'm trying to have code select a row in a DataGrid based on an action outside of the DataGrid.

### Actual behavior
The DataGrid in the pagination bar shows that a count of rows was selected, but it nevers reflects in the DataGrid selection column.

### Reproduction of behavior
* [Example Plunker](https://stackblitz.com/edit/clarity-light-theme-v11-vatsfi?file=app%2Fa

[2018-05-17 17:46] youdz commented on #2293
A quick look tells me you are not using `trackBy`, so Angular checks reference equality when comparing users. See https://angular.io/api/common/NgForOf for how to use the `trackBy` option for `*ngFor`.

[2018-05-17 17:54] gearsandcode commented on #2280
@gnomeontherun - Sure. I'm looking to use Clarity as a solution in a large enterprise setting. We have several projects using different frameworks in addition to Angular. I need my components to be available to the various Angular apps via our internal package manager (Artifactory). Then, once Elements can be used to create components as vanilla JS that we can use in other frameworks, we'll make t

[2018-05-17 17:55] borcherspm commented on #2293
Thanks for the quick reply.  It's my bad, I forgot to add the trackBy.

Even with that it still doesn't work.

[2018-05-17 18:11] spetri opened #2294 "datagrid with signpost sorts instead of displays signpost (and not working in firefox)"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When there is a signpost in the datagrid-header + sort, the user should be able to click the signpost without sorting.

### Actual behavior
When the user clicks the signpost, it sorts the datagrid. Also, in Firefox, the user cannot even click the signpost (because in the DOM, it's a signpost `<button>` as a child in a sort`<but

[2018-05-18 10:54] rameshyala commented on #2055
Hi, @adityarb88 i am set Locale to my app like { provide: LOCALE_ID, useValue: 'en-IN' } in app module, but it still showing the MMDDYYYY format only, actually it need to change into DDMMYYY format right?.How i get this format.

and i have a one more doubt, now if i change the actual date in datePicker i will get any onChnage event  now (change detection)?

Thank you.

[2018-05-18 10:55] d-m-s commented on #2268
hi @reddolan we really would like to have such a component in clarity! we start developing it, but would really look forward to contribute here to clarity. currently we would base the styling on the buttongroup component and follow the same patterns as the pager in the datagrid. is this fine with you, do you've any more advise for us?

[2018-05-18 11:26] rameshyala commented on #2091
Hi @adityarb88 , i am set locale to my app in app.module file like ' providers: [{ provide: LOCALE_ID, useValue: 'en-IN' }]', but this ' en-IN' locale need to show format as DDMMYYYY but actually it showing MMDDYYYY format. check once [Stackblitz](https://stackblitz.com/edit/clarity-light-theme-v11-nknd98?file=app%2Fapp.module.ts).

One more doubt is now date picker have change detection option ,

[2018-05-18 11:46] mcosta74 commented on #2268
Since I'm working to the migration to Clarity from Boostrap I'm implementing similar to the Bootstrap Pagination component.

Here a screenshot of the UI

![screen shot 2018-05-18 at 13 43 02](https://user-images.githubusercontent.com/3706809/40232998-708bb702-5aa1-11e8-80f9-4d2339c00e14.png)

[2018-05-19 02:58] sirajc commented on #2033
Changing import to following, fixes the error
[code]

Should I create a new issue, to track the fix
cc: @youdz

[2018-05-19 23:39] sdurnov commented on #2221
Yes, please. Also, we need some failback font for Cyrillic, which is compatible with Metropolis.

[2018-05-21 02:47] lieaqnes opened #2299 "There would be double X in filter box after user enters some words in IE 11"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
There are only one  X in filter input after user enters some words in IE 11

### Actual behavior
There would be double X in filter box after user enters some words in IE 11
<img width="712" alt="screen shot 2018-05-21 at 10 41 36 am" src="https://user-images.githubusercontent.com/8463373/40288032-f5f30e7e-5ce3-11e8-9268-a58e93a

[2018-05-21 05:08] rameshyala opened #2300 "Date Picker not outputting dates in Reactive & Template Driven Forms"
[X] Question

Hi , i am set locale to my app in app.module file like ' providers: [{ provide: LOCALE_ID, useValue: 'en-IN' }]', but this ' en-IN' locale need to show format as DDMMYYYY but actually it showing MMDDYYYY format. check once [Stackblitz](https://stackblitz.com/edit/clarity-light-theme-v11-nknd98?file=app%2Fapp.module.ts).

One more doubt is now date picker have change detection option

[2018-05-21 06:29] brinton-chand commented on #2300
https://angular.io/guide/i18n#i18n-pipes

Check the link for instructions in how to import. Hope this helps.

[2018-05-21 11:08] rameshyala commented on #2300
Thank you @brinton-chand the locale issue is works fine, now this date picker is having a change detection option for reactive forms ?.

[2018-05-21 13:11] mathisscott commented on #2280
Hi @gearsandcode
This is great information. Thank you. I can take this and communicate it to our corporate overlords. I think it is a use case that also applies to many product teams within VMware as well.

[2018-05-21 13:12] mathisscott commented on #1878
@reddolan + @gnomeontherun ^

[2018-05-21 13:41] pumano commented on #2299
I got the same thoughts about it.
It's not a bug, but an enhancement.

It's will be cool to have possibility to remove filter data with one click to 'x' icon.

[2018-05-21 15:30] hippee-lee commented on #2299
Hi @lieaqnes - the second `X` is a clear button for the input put there by IE11 and MS Edge. Its a non standard [pseudo-element](https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-clear) that is only shown on focused, non empty inputs.

You can remove the `pseudo-element` by targeting the input(s) in the apps css.

[2018-05-21 15:30] #2299 closed

[2018-05-21 17:22] hippee-lee commented on #2033
Thanks for reporting this @sirajc. The issue you are seeing is similar to this issue. I'll create a new issue to track this one and we will get a fix for it out this week.

[2018-05-21 20:15] hippee-lee opened #2302 "Fix import paths for loading buttons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Clarity artifacts will AOT compile properly when they use a loading button.

### Actual behavior
Consumer app fails during build for production
 ```ERROR in : Error: Internal error: unknown identifier undefined```

This issue was reported on a similar but closed issue: #2033.

[2018-05-21 20:55] gnomeontherun opened #2304 "AoT Test not catching errors"
The updated build doesn't catch AoT errors properly, particularly ones where there are files imported from an index instead of direct file. Need to fix this so we catch those bugs before release.

[2018-05-21 22:20] reddolan commented on #1878
That text location is used by other text types: helper, red error (normal), black error (masked inputs). Adding the icon for just the error state would create jiggle between the different states. We also wanted to tie the visual cue of the icon to the input field in all places possible, helping to enforce that the input has an error.

[2018-05-21 23:45] #2302 closed

[2018-05-22 09:34] rameshyala opened #2306 "Popups for clarity"
[ X] feature request

Hi Clarity team,
Do you have any future plans for develop popup in this clarity framework? if not can you suggest me how i will do app change menu some like below image with your components or using third party framework.

Thank you.

![icld](https://user-images.githubusercontent.com/18004992/40354199-eb1b99ce-5dd0-11e8-8e22-2314c877524e.png)

[2018-05-22 09:36] mcosta74 commented on #2268
Hello there,
[here](https://stackblitz.com/edit/clarity-pagination-control) the first implementation.

I'm going to add `maxSize` and `scrolling feature

[2018-05-22 09:49] dorthrithil commented on #2306
Did you try signposts?

https://vmware.github.io/clarity/documentation/v0.11/signposts

[2018-05-22 11:17] essivision opened #2307 "Clarity icon doesn't show icon in firefox in none-angular project"
[code]

### Expected behavior
I used clarity-icons in none-angular project (none single page application). Every things work in chrome, but it doesn't work in Mozilla Firefox. In project I added this assets:
[code]
What should I do? I'm missing something?

Thanks

### Environment details

* **Angular version:** N/A

* **Clarity icon version:** 0.11.15

* **OS and version:**  Windows 10

* **Browse

[2018-05-22 13:02] gnomeontherun commented on #2306
Signposts are the correct implementation for a popover, which provides you with a blank space to implement your own internal content. If you have questions about how to use it, please try to use StackOverflow for follow up questions. Closing based on this answer.

[2018-05-22 13:02] #2306 closed

[2018-05-22 14:49] gnomeontherun commented on #2280
The biggest challenge right now is how to efficiently build and distribute components. There is no real tooling built yet for this, and therefore using components standalone will likely incur a large amount of duplicated code because each web component will share a lot of similar pieces. This is definitely something on my radar, but it really depends on prioritization and ability to make a reasona

[2018-05-22 15:42] hippee-lee commented on #2268
Hi @mcosta74 and @d-m-s Thank you, we really appreciate your interest in contributing to Clarity.

While you are still getting started I'd like to point you to our [Contributing Guidelines](https://github.com/vmware/clarity/blob/master/CONTRIBUTING.md) as well as our [Code Contribution](https://github.com/vmware/clarity/blob/master/DEVELOPMENT_CONTRIBUTION.md) and [Coding Guidelines](https://githu

[2018-05-22 15:45] MartinPenev opened #2308 "Cannot read property 'findIndex' of undefined when using [(clrDgSingleSelected)]="property" on clr-datagrid"
Setting [(clrDgSingleSelected)]="property" on clr-datagrid causes an unexpected error in the latest clarity release. It works correctly in 0.10.23.

**Select one ...**  (check one with "x")
[code]

### Expected behavior
No errors should be thrown at all.

### Actual behavior

ERROR TypeError: Cannot read property 'findIndex' of undefined
    at Selection.set [as currentSingle] (selection.ts:136)

[2018-05-22 16:13] mcosta74 commented on #2268
Hi @hippee-lee,

as I said before I'm not a UX designer so my implementation is only an example of what I'm doing while I'm migrating my application to Clarity.

Since this will be a new component, if I understood correctly, I shall wait for a approved UX design before start coding.

[2018-05-22 16:23] rbirkgit opened #2309 "0.12.0-beta3 gets internal error when building with AoT"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior
Get internal error when building.

### Reproduction of behavior
Build with AoT and you get:

[code]

### Environment details

* **Angular version:** 6.0.2

* **Clarity version:** 0.12.0-beta3

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Androi

[2018-05-22 23:00] DonaldAlan opened #2311 "<input pattern="<REGEX>")...> ignores pattern"
**I'm submitting a ...**  (check one with "x")

- [x] bug report - search github for a similar issue or PR before submitting
- [ ] feature request
- [ ] support request - use StackOverflow (add the `ngx-charts` tag) or the gitter chat for support questions

**Current behavior**

If I add a pattern attribute to an HTML5 input component, I expect a red border to appear if the value I enter doesn't m

[2018-05-23 01:11] gnomeontherun commented on #2311
Hi @DonaldAlan I think you used a different GitHub issue template here, you aren't describing what version of Clarity you have or a sample of what you're doing. Could you provide details about what you are doing that is failing?

[2018-05-23 09:10] sdurnov commented on #566
@adityarb88 I don't see any footer in your example. Probably your example was modified.

[2018-05-23 13:10] adityarb88 commented on #2300
@rameshyala: What exactly do you mean by change detection problems? Can you replicate this on a StackBlitz? In the StackBlitz that you posted above, I do not see Reactive Forms.

Our docs has an example of using Date Picker in reactive forms. May be that will help?
https://vmware.github.io/clarity/documentation/v0.11/datepicker
![image](https://user-images.githubusercontent.com/1426805/40426476-2c

[2018-05-23 13:55] rameshyala commented on #2300
Hi, @adityarb88 i am just asking, if change the date (assume the date picker have default today date), when i am modify that date in that time i will get any event now?
Thank you

[2018-05-23 14:05] adityarb88 commented on #2300
@rameshyala: What I was saying is that your StackBlitz doesnt have reactive forms. Can you replicate your issue exactly. If you look at the link above, we have provided a demo for Reactive Forms. And when the user modifies the date, an event is emitted. If you can replicate the issue you are facing in a StackBlitz we can take a look and let you know what the issue is.

[2018-05-23 14:17] adityarb88 commented on #2300
@rameshyala: I created a StackBlitz which demos this: https://stackblitz.com/edit/clarity-light-theme-v11-u1lzvu?file=app/app.component.html

Hope this helps.

[2018-05-23 14:19] #2263 closed

[2018-05-23 16:10] DonaldAlan commented on #2311
Sorry, fixed.  clr version 0.11.16.  Here's the code:
[code]
The pattern input field doesn't work:  put an invalid email syntax and it doesn't show red.

[2018-05-23 19:58] btd1337 opened #2313 "Tooltips displayed with error inside modal"
[code]

### Expected behavior
Display an error tooltip inside a modal.

### Actual behavior
Tooltip is displayed clipped.

### Reproduction of behavior
![captura de tela de 2018-05-23 16-39-54](https://user-images.githubusercontent.com/11943860/40447815-2cf0ddc6-5eaa-11e8-80fa-017a1f6a89b4.png)

![captura de tela de 2018-05-23 16 56 56](https://user-images.githubusercontent.com/11943860/40447897-5

[2018-05-23 21:12] #2151 closed

[2018-05-23 21:12] #2125 closed

[2018-05-23 21:42] hippee-lee commented on #2311
It looks like inputs are missing style for the `:invalid` pseudo class.
Thanks for reporting this.

[2018-05-23 22:00] gnomeontherun commented on #2311
Our current form controls don't automatically validate, unfortunately. The validation is handled largely on your end by adding the `invalid` class, see https://vmware.github.io/clarity/documentation/v0.11/input-fields.

This will change with the forms refactoring currently underway, by providing Angular components that wire up to the control states and automatically handling the validation classes

[2018-05-23 22:02] gnomeontherun commented on #2313
This is a known issue with current forms, due to the use of position relative and tooltips. See #931 and #1878 for progress on this issue, but for now the recommendation is to change the tooltip directionality (such as here you could do bottom left to stay in modal).

Closing as duplicate.

[2018-05-23 22:02] #2313 closed

[2018-05-23 22:03] gnomeontherun commented on #2309
I haven't been able to isolate why this happens given your codebase, it compiles fine in other examples I have. If you have a chance to do any experimentation with what could be this ill-defined error please let us know, otherwise I'll keep looking as I have time.

[2018-05-23 23:58] rbirkgit commented on #2309
I reproduced this with a clean Angular-CLI project. All I did was adding Clarity to it. I will send you my code.

[2018-05-24 02:35] gnomeontherun commented on #2309
Can you please try again with beta-4?

[2018-05-24 02:40] rbirkgit commented on #2309
Works in the angular-cli project. Will test next with out full project!

[2018-05-24 03:04] rbirkgit commented on #2309
Tested full project and it builds! Also tested running it and so far looking good!

[2018-05-24 03:08] gnomeontherun commented on #2309
Great, will close this issue and thanks for checking things!

[2018-05-24 03:08] #2309 closed

[2018-05-24 04:58] rameshyala commented on #2300
Thank you @adityarb88 looks good, my doubt solved with your stackbliz.

[2018-05-24 08:02] Thoplusmas commented on #112
i also upvote this. http://seiyria.com/bootstrap-slider/ <-- especially something like the example 2 would be really nice to have in clarity.

[2018-05-24 09:40] speti43 commented on #2092
Do you have any estimation, when this bug will be fixed?
We can't go with any workaround, we have to use pure clarity solution.

Thanks!

[2018-05-24 13:06] gssjr opened #2314 "Datagrid Select All does not respect clrDgItem when using deep property"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Using the "Select All" checkbox in datagrid selection should respect what's given in [clrDgItem].

### Actual behavior

When using a deep property, checking the Select All checkbox will instead add the root model instead of the property values.

### Reproduction of behavior

* [https://stackblitz.com/edit/clarity-light-theme-v

[2018-05-24 13:55] adityarb88 commented on #2300
@rameshyala: Let me take a look and get back to you. Thanks!

[2018-05-24 14:58] youdz commented on #2314
As indicated in the issue template, please provide a running example of your issue on [StackBlitz](https://stackblitz.com/edit/clarity-light-theme-v11) or Plunker so we can investigate. Thank you.

[2018-05-24 15:42] gssjr commented on #2314
Updated original post

[2018-05-24 16:12] #2101 closed

[2018-05-24 16:12] #2099 closed

[2018-05-24 16:12] #2191 closed

[2018-05-24 16:51] gssjr opened #2315 "Cannot initialize row selection in Datagrid"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Can set the selected rows by adding to the list bound to clrDgSelected

### Actual behavior

The array seems to be reset

### Reproduction of behavior
[https://stackblitz.com/edit/clarity-light-theme-v11-hxgqpz](https://stackblitz.com/edit/clarity-light-theme-v11-hxgqpz)

In ngOnInit, the inputdata is pushed to the selected ro

[2018-05-25 16:08] eymriseFrance commented on #2309
Hello good evening sorry for some error i got my amnesia with my code but im a member:))

[2018-05-25 18:53] lil-kim commented on #2222
Adding moar...
3. File share folder
4. Container (ie docker/K8)

[2018-05-25 20:08] jayrungta commented on #1262
@youdz any work around you can suggest for the time being?

[2018-05-29 11:33] petarbk opened #2317 "clr-datagrid layout issue if used inside flex container"
[code]

### Expected behavior
If clr-datagrid is an item (with `flex-grow: 1`) inside flex container (with `flex-direction: column`), it should fill the available vertical space (if there is any).

### Actual behavior
Only the outermost element (clr-datagrid) is expanded. The inner clr-datagrid elements (`div.datagrid-overlay-wrapper` and its child `div.datagrid-scroll-wrapper`) do not expand. Ele

[2018-05-29 12:56] youdz commented on #1262
As usual, the recommended workaround until we address this is to simply position the dropdown in a direction that is "safe" for your application, since it's entirely dependent on where the dropdown is used within your layout.

[2018-05-30 02:07] austinfu1 opened #2320 "The default style of the "power" icon is not correct"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

It  should  show the default style on page
https://vmware.github.io/clarity/icons/icon-sets#core-shapes

### Actual behavior

It displays the same style with the power icon with class="is-solid" which is not correct.

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the

[2018-05-30 13:17] rogerarmstrong opened #2321 "Some expandable rows stay hidden when using *clrDgItems"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The height of the datagrid should expand to show expandable row details

### Actual behavior
If *clrDgItems is used, then the size of the datagrid appears to be fixed and so expandable rows at the bottom do not show their details correctly.

### Reproduction of behavior
https://stackblitz.com/github/rogerarmstrong/clarity-expan

[2018-05-30 13:26] whizkidwwe1217 commented on #932
Will this be available in the next release?

[2018-05-30 13:29] rogerarmstrong commented on #2321
Note: if, using browser dev tools, I manually remove the style="height: 278px" off the clr-datagrid, it works fine...

[2018-05-30 13:37] rogerarmstrong commented on #2321
btw apologies for not using a plunker as requested, but angular plunkers (including the clarity plunker templates) do not seem to work at the moment...

[2018-05-30 13:56] KANekT opened #2322 "Time Range Picker"
[code]

Create a Time Range Component based on the details specified in #474.

[2018-05-30 14:15] adityarb88 commented on #2320
@austinfu1: Could you replicate the issue you are facing on a StackBlitz?

We couldn't replicate it: https://stackblitz.com/edit/clarity-light-theme-v11-t7gsvz?file=app/app.component.html and like you mentioned in the issue description, it works on the website.

Are you sure you are loading the Media Shapes category? More details about loading different sets is in the Get Started section of the Ic

[2018-05-30 14:17] adityarb88 commented on #2322
@reddolan: Could you please take a look at this request?

[2018-05-30 14:42] #2145 closed

[2018-05-30 14:53] adibwoy opened #2323 "[WEB] Update Documentation to include 0.12 release"
**Select one ...**  (check one with "x")
[code]

1. Update website to change default to 0.12 docs.
2. Add release notes for 0.12 releases

[2018-05-30 14:57] adityarb88 commented on #2038
@jeeyun: We can divide this into 3 tasks and tackle them individually. @youdz mentioned that you can contact him for more details.

[2018-05-30 19:20] gnomeontherun commented on #932
This will be fixed in 0.12, with the updated grid and form styles. The existing form and grid will continue to exist (for now) but can not be patched for this specific bug.

[2018-05-30 20:58] jayrungta commented on #1262
I found a work around in case anybody needs (works for my use case):

**overview**:
In my use case, I have a data grid (ag grid, not clarity grid) and each column header of this grid can open a filter dropdown. Inside this filter dropdown, there is a clarity dropdown that opens on the right, kind of like this:
![image](https://user-images.githubusercontent.com/16365416/40746805-6183538c-6429-11e8-

[2018-05-31 06:03] austinfu1 commented on #2320
@adityarb88 : My bad, i  put 2 icons on my page, but for the 1st icon, </clr-icon> is missing，i fixed this, and the power icon shows as expected. So this issue can be closed, thank you.

[2018-05-31 11:58] uded commented on #831
@youdz - I can give you a simple example of such use case: currency values. I do not want to filter it since it is complex and difficult to implement, but sorting is absolutely a valid use case and makes a hell lot of sense.

Can someone point me to a simple implementation that will enable me to switch off filtering on a column?

[2018-05-31 12:52] Ergnos opened #2326 "Barcode icons request"
**Select one ...**  (check one with "x")
[code]

We are developing an application in where barcode scans have to be performed, therefore barcode and qr code icons would be a great addition.

[2018-05-31 12:53] adityarb88 commented on #2326
@lil-kim: Could you please take a look at this request?

[2018-05-31 12:54] #2320 closed

[2018-05-31 14:49] youdz commented on #831
@uded: We enforce a strict policy not to answer "How to" questions on GitHub, both because other people interested in the question would never find the answer buried here, and to avoid polluting our bug tracker.

Could you please ask your question on StackOverflow with the tag [vmware-clarity](https://stackoverflow.com/questions/tagged/vmware-clarity)? As per StackOverflow rules, you should post a

[2018-05-31 17:21] constantant commented on #627
@jacobbutton  CanDeactivate doesn't work for such an approach. A tab ignores *clrIfActive value

[2018-05-31 18:51] #2156 closed

[2018-06-01 05:34] KANekT opened #2329 "Not correct Date in News"
[code]

### Expected behavior

https://vmware.github.io/clarity/news

0.11.19 & 0.11.20 Released May 24, 2018 - You need fix it :)

[2018-06-01 07:31] shravansofts commented on #1400
Any update on this?

[2018-06-01 08:03] KANekT opened #2330 "bootstrap dep in 0.12-rc1"
[code]
I use
[code]
for create theme

and i have error in angular cli 6:
[code]
[code]

for fix it:
from
[code]
to
[code]

from
[code]
to
[code]

summary replace
`/node_modules/` to `/../`
### Environment details

* **Angular version:** 6

* **Clarity version:** 0.12.0-rc.1

[2018-06-01 09:45] uded commented on #831
OK, let me then rephrase this question.

As per a simple use case in which I would like to enable sorting on a column but skip on filtering as it is not needed or requires a complex model. A simple example of that are fields with currency or similar number based columns that provide summary or detailed information to the user. As such my suggestion would be to introduce a simple, boolean based or

[2018-06-01 12:54] hippee-lee commented on #2329
Thanks for reporting this. I missed it yesterday.
I just pushed a fix that will go live soon.

[2018-06-01 12:54] #2329 closed

[2018-06-01 13:03] hippee-lee commented on #2330
Hi @KANekT - do you have bootstrap installed in the projects dependencies? I suspect that its not installed.
If I am wrong and you do have bootstrap installed, in order to see whats going one I need something that recreates the issue. Can you push a project that recreates it to github and link to it here so I can take a look at it?

[2018-06-01 13:05] KANekT commented on #2330
Yes i install bootstrap

`  "dependencies": {
    "@angular/animations": "^6.0.3",
    "@angular/cdk": "^6.2.0",
    "@angular/cli": "^6.0.7",
    "@angular/common": "^6.0.3",
    "@angular/compiler": "^6.0.3",
    "@angular/core": "^6.0.3",
    "@angular/forms": "^6.0.3",
    "@angular/http": "^6.0.3",
    "@angular/platform-browser": "^6.0.3",
    "@angular/platform-browser-dynamic": "^6.0.3",

[2018-06-01 13:51] gnomeontherun commented on #2330
I changed the import paths when we updated scripts for building our packages recently, but perhaps there is a workaround to avoid this relative path issue. It would be different for each project, and I wish Sass had better support here.

@hippee-lee Let's try the `~` again and double check. I forget what it was doing, but it wasn't building the styles the same in both the CLI and node-sass scripts

[2018-06-01 15:05] hippee-lee commented on #2330
👍🏽 I'll take a look at this as soon as I can.

[2018-06-01 15:39] cdskill commented on #474
are we able to chose hours and minutes with the actual DatePicker from Clarity or it still a feature request?

[2018-06-01 15:43] reddolan commented on #474
@cdskill that feature hasn't been developed yet

[2018-06-01 15:53] Kevin2iBi opened #2331 "DatePicker position customizable"
**Select one ...** (check one with "x")

[code]

### Expected behavior

I want it to be possible to put the position where the component is intended to appear.
Ex: Bottom-Left, Top-Left

### Actual behavior

Currently the component always appears at the bottom

### Reproduction of behavior

### Environment details

* **Angular version:** 5.x.x

* **Clarity version:**

* **OS and version:**

* **Br

[2018-06-03 18:29] pumano opened #2332 "Dropdown button with position: absolute overrides by position: static"
**Select one ...** (check one with "x")

[code]

### Expected behavior
When I set to `clr-dropdown` css: `position: absolute;` component should not override it with `position: static;` when I click on it.

### Actual behavior
I have usecase where I want to use dropdown with icon as dropdown menu. I'm positioning that dropdown as absolute value in card. But when I click to dropdown button it overri

[2018-06-04 12:59] youdz commented on #2331
I think that's a reasonable request to solve popover positioning issues until we have (one day™) smart positioning.

[2018-06-04 13:18] dorthrithil opened #2333 "Signpost disappears when scrolling"
[code]

### Expected behavior

Signpost stays open when you scroll the page.

### Actual behavior

The signpost closes itself as soon as you start scrolling. As in the documentation it says:

I consider this a bug and not a feature, because you can never view content inside a signpost that is scrolled out of view.

### Environment details

* **Angular version:** 5.2.10

* **Clarity version:** 0.11

[2018-06-04 14:03] adityarb88 commented on #2333
@dorthrithil: I am not sure if I understand the issue here. Please take a look at this StackBlitz:
https://stackblitz.com/edit/clarity-light-theme-v11-kgpfey?file=app/app.component.html

I am able to scroll the overflowing content in the signpost but our UX recommendation is that scrolling outside of the signpost should close the signpost itself.

![image](https://user-images.githubusercontent.com

[2018-06-04 14:20] dorthrithil commented on #2333
OK, I checked the StackBlitz and it looks good there. The issue in my usecase seemed to be the usage of the Signpost inside another scrolling element which somehow sometimes catches the scroll event? Anyway, I think that's not a Clarity issue, I will fix this myself.

[2018-06-04 14:20] #2333 closed

[2018-06-05 03:50] mviger commented on #2314
@gssjr Using *ngFor instead of *clrDgItems will get it working the way you expect, though you may lose some functionality you're getting with the smart iterator.

[code]

I believe this is the case because ln 185 through 195 in datagrid.ts (code block above) runs if *ngFor is used instead of *clrDgItem.  If this logic doesn't run this.rows references the value in the array, rather than the value s

[2018-06-05 08:20] KANekT commented on #2330
@hippee-lee Awaiting More Info - You wait for some information from me or the @gnomeontherun  explained what needs to be done? :-)

[2018-06-05 14:08] #2256 closed

[2018-06-05 14:28] gnomeontherun commented on #2330
We're still reviewing what we need to handle here, but its probably on our end to update documentation or code.

[2018-06-05 15:56] gnomeontherun opened #2337 "Custom themes schematic"
Create a new schematic to setup custom theme builds for a project.

Then we need a test for custom themes to ensure they work as expected on a new project.

* [ ] Install a new Angular project (`ng new theme-test`)
* [ ] Install Clarity (`ng add @clr/angular`)
* [ ] Run schematic (`ng schematic ...`)
* [ ] Run build (`ng build`)

It should not error out.

[2018-06-05 16:05] gnomeontherun commented on #2330
I have a fix out to go into the next release, and plan to also update the custom theme docs with a slight change for how to do it.

[2018-06-05 17:16] elesueur opened #2338 "App-level alert text overflows left and right of container"
**Select one ...** (check one with "x")

[code]

### Expected behavior

App-level alert should not overflow container

### Actual behavior

For alert text which is wider than the viewport, the text is overflowed on the left and right:

![screen shot 2018-06-04 at 6 04 55 pm](https://user-images.githubusercontent.com/8139865/40991699-98ea337a-68c2-11e8-84ff-bbfc5da2fc12.png)

### Reproduction of be

[2018-06-06 08:54] KANekT opened #2339 "Tree not update state"
**Select one ...** (check one with "x")

[code]

### Expected behavior
i init app
![screenshot_01](https://user-images.githubusercontent.com/580273/41027402-9df8d14c-697f-11e8-82e6-519f11f8ba52.png)
folded tree
![screenshot_02](https://user-images.githubusercontent.com/580273/41027403-9e2f7d00-697f-11e8-85cc-3d51892fb5ab.png)
check main element
![screenshot_03](https://user-images.githubuserconten

[2018-06-06 09:32] KANekT commented on #2339
Oh, this error is duplicate of #1400 ?

[2018-06-06 12:44] adityarb88 commented on #2339
Looks like it is. Closing this as a duplicate.

[2018-06-06 12:44] #2339 closed

[2018-06-06 12:49] adityarb88 commented on #1400
@DeadlyBrad42 @shravansofts: Apologies for the late reply. Missed the earlier comments. We still haven't gotten to this ticket. We do not have an ETA of when someone will start working on this. All members of our team are working on other components/issues. You can take a look at whats in progress right now here: https://github.com/vmware/clarity/issues?q=is%3Aopen+is%3Aissue+label%3A%22In+Progres

[2018-06-06 12:53] #2300 closed

[2018-06-06 14:01] jacobbutton commented on #2005
Any progress on this? Where does it stand on the priority list?

[2018-06-06 15:48] gperdomor opened #2340 "Problem with dynamic icons"
**Select one ...** (check one with "x")

[code]

### Expected behavior

I want render icons with dynamic shapes and classes, the shape is stored in a variable inside the component

<a href="javascript://" class="nav-link nav-icon">
    <clr-icon shape={{iconShape}} class={{iconClass}}></clr-icon>
</a>

### Actual behavior

Console throw error and screen is white (app is not rendered)

[code]

###

[2018-06-06 15:59] gnomeontherun opened #2341 "v0.12 Sketch Library"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Need to update the Sketch library for 0.12 changes.

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and version:**

* **Browser:**

[2018-06-06 16:42] youdz opened #2342 "Datagrid: preserve selection when filtering"
**Select one ...** (check one with "x")

[code]

### Expected behavior

I need to be able to incrementally build a selection of items in a datagrid through the following process:
1. filter the items of a datagrid down to a manageable number,
2. select one of these items,
3. undo my filter,
4. repeat from step 1 for a new item.

### Actual behavior

Currently adding, removing or changing any filter

[2018-06-06 17:11] reddolan commented on #2124
For those following this issue, we have opened a [new issue](https://github.com/vmware/clarity/issues/2342) with the intent of solving this scenario. Please subscribe to the new issue for updates

[2018-06-06 17:12] reddolan commented on #484
For those following this issue, we have opened a [new issue](https://github.com/vmware/clarity/issues/2342) with the intent of solving this scenario. Please subscribe to the new issue for updates

[2018-06-06 18:45] #2330 closed

[2018-06-06 18:59] gnomeontherun commented on #2136
I came across this when doing the Angular 6 upgrade.

https://github.com/vmware/clarity/commit/dc5e2bdf8fd580560b02b0f4bbfd64492c26eea8#diff-a9f1481d435a614d8710d59fe4abb11e

[2018-06-06 18:59] #2136 closed

[2018-06-06 20:32] spetri commented on #1985
@mathisscott it's been a few months, has there been any updates to this ticket?

[2018-06-06 20:41] gnomeontherun commented on #1985
The work on selecting a range hasn't been prioritized, but since the base date picker is available you could approximate it by using two date pickers as a workaround for now.

[2018-06-07 02:26] #2323 closed, assigned to gnomeontherun

[2018-06-07 02:30] gnomeontherun commented on #98
Deprecation notice provided.

[2018-06-07 02:30] #98 closed

[2018-06-07 07:34] 19Arne75 commented on #1364
Can you give more info about -> "i18n issues with the way Material is doing their modals. " ?
@mathisscott

[2018-06-07 12:21] vishalmanohar commented on #2308
@MartinPenev  FWIW, I tried downgrading to 0.10.20 from 0.10.27 and it works on that version. There might be a slightly newer version that also works.

[2018-06-07 14:22] gnomeontherun commented on #932
I've been working on some drafts, the goal is for next week sometime.

[2018-06-07 15:00] reddolan commented on #2005
We haven't started development on it yet. It is one of the highest priority items in our backlog though.

[2018-06-07 15:00] reddolan commented on #2005
@jacobbutton We haven't started development on it yet. It is one of the highest priority items in our backlog though.

[2018-06-07 16:11] gnomeontherun commented on #1650
Adding to the website and closing as resolved.

[2018-06-07 16:11] #1650 closed

[2018-06-07 16:49] gnomeontherun commented on #2341
Duplicate of #2069

[2018-06-07 16:49] #2341 closed

[2018-06-07 18:11] reddolan opened #2346 "Improve URL path of documentation on our site"
[code]

### Expected behavior
https://vmware.github.io/clarity/documentation/buttons (for current versions)
https://vmware.github.io/clarity/documentation/v0.10/buttons (for past versions)

Current documentation urls without version numbers. This way bookmarks will always point to the current version of documentation. Unless someone bookmarks a versioned documentation page

### Actual behavior
htt

[2018-06-07 18:27] KashMoneyMillionaire commented on #1354
Now here: [html](https://github.com/vmware/clarity/blob/master/src/dev/src/app/wizard/wizard-inline.demo.html) and here: [ts](https://github.com/vmware/clarity/blob/master/src/dev/src/app/wizard/wizard-inline.demo.ts)

[2018-06-07 18:27] KashMoneyMillionaire commented on #1483
Now here: [html](https://github.com/vmware/clarity/blob/master/src/dev/src/app/wizard/wizard-inline.demo.html) and here: [ts](https://github.com/vmware/clarity/blob/master/src/dev/src/app/wizard/wizard-inline.demo.ts)

[2018-06-07 19:53] gnomeontherun commented on #2142
Merged into website.

[2018-06-07 19:53] #2142 closed

[2018-06-07 19:54] gnomeontherun commented on #2141
Completed

[2018-06-07 19:54] #2141 closed

[2018-06-07 19:55] gnomeontherun commented on #1381
Resolved by latest forms.

[2018-06-07 19:55] #1381 closed

[2018-06-08 07:17] rokobasilisk commented on #1889
The links to Code and Examples in the Vertical Nav Documentation are also broken. Not sure if it is worth creating a new issue for this.

[2018-06-08 10:34] pumano commented on #2245
I try to create simple `svg` and it works good. If you want that component we can collaborate on it. I don't know your developments process, but I wish to help with it.
![donut-custom](https://user-images.githubusercontent.com/17675259/41153555-bbf9cdbc-6b1f-11e8-8e3d-79f58736defc.jpg)

[2018-06-08 12:00] tarangkhandelwal commented on #2293
Try using the reference of same object that data grid is working on.
Updated plunker: [Link](https://stackblitz.com/edit/clarity-light-theme-v11-uk35vf)

[2018-06-08 12:02] d-m-s commented on #365
Are there any updates regarding the priority of toast messages? We really would like to see a toast-notification component in clarity and can provide an implementation!

Find below the Change Proposal:

# Summary
Implement Toast messages/notification component for Clarity.

# Implementation Options
##option 1 - restyle and integrate ng-snotify##
use available opensource lib: ng-snotify (released i

[2018-06-08 13:21] youdz commented on #2346
I will let @gnomeontherun put an estimate on this, I have no idea how long this would take with the current website.

[2018-06-08 13:30] zerocewl commented on #2315
Thank you @jeeyun
Maybe add your example to the documentation?

[2018-06-08 15:19] gnomeontherun commented on #365
Thanks for your interest in helping with this, and I'd love to figure out how we can get a contribution towards this effort. We have other priorities at the moment to tackle this by ourselves, but we need to ensure we're aligned if you'd like to help out.

We haven't defined any UX for this component, so that should come first. You've provided two suggestions, but we're short on UX resources at th

[2018-06-08 23:41] gssjr commented on #2315
It seems to work as expected if using `*ngFor` instead of `*clrDgItems`

[2018-06-10 00:27] kaustubhtalathi commented on #2317
![clarity](https://user-images.githubusercontent.com/12479414/41197206-77e943d2-6c23-11e8-90e6-cf49e392a9e7.png)

There is 900px height set to flex-parent by the component css. It looks good if the height is removed.

[2018-06-10 08:17] petarbk commented on #2317
@kaustubhtalathi The height of 900px is put intentionally on the flex-parent to show the problem more clearly, i.e the flex item (in that case the clr-datagrid and its contents) should size correctly.

[2018-06-10 19:17] imcotton opened #2349 "Button lost its warning color"
[code]

### Expected behavior

`btn-warning` should has different color than `btn-danger`

[code]

### Actual behavior

`btn-warning` has the exact color as `btn-danger`

### Reproduction of behavior

- [Documentation](https://vmware.github.io/clarity/documentation/v0.11/buttons)
- StackBlitz: [Light Theme v11](https://stackblitz.com/edit/js-7jlpfg?embed=1&file=index.html&hideExplorer=1&hideNaviga

[2018-06-11 07:52] SayakMukhopadhyay commented on #2349
IIRC, the warning button doesn't have a different colour like orange due to accessibility issues. The clarity team will be able to (wait for it) _clarify_

[2018-06-11 10:35] d-m-s commented on #365
Thanks for your quick reply!

Taking a look at the "UX Ready" tickets, is it a screendesign you need first?
Can you give us some more advise what's necessary?

Because from UX point of view, we basically need either a subset of the functionality from ng-snotify / or an auto-hide alert component with the features describe above.

A bit confusing to me is the statement that things shouldn't automati

[2018-06-11 16:55] d-m-s commented on #365
find in the following a screendesign suggestion:
![toast_0-25](https://user-images.githubusercontent.com/311619/41245238-c4f9f736-6da7-11e8-8346-aa8114633a2e.gif)

Features shown:
- visual style matching claritys applevel alerts, in this case warning
- dismiss-able on close link
- progress bar on top

Note: currently the automatic hide (fade out) is not shown, I just wanted some quick feedback if

[2018-06-11 18:12] Jatin136 commented on #745
@Jinnie  Thanks alot!

[2018-06-11 20:40] gnomeontherun commented on #365
I'm collecting the UX guidelines we are trying to publish, so let me get back to you on that in a day or two (we've been working on this but haven't published it yet). A quick answer about auto-disappearing, there are ways this can be handled while still having the visual experience you describe, such as having the toast appear and fade out but still persist somewhere in a notifications bar, perha

[2018-06-11 23:37] sdurnov commented on #2280
@gnomeontherun bundle size is not THAT critical for many enterprise apps.

Btw, I have different scenario: we're migrating old Durandal large SaaS to Angular. It's not possible to migrate all modules quickly, so we'd like to have at least unified shell for both old and new apps, switching between them without changing UI dramatically. If Clarity would provide web components, we'd just use single c

[2018-06-12 02:28] whizkidwwe1217 opened #2350 "Notifications/Activities Dropdown Panel Feature Request"
**Select one ...** (check one with "x")

[code]

### Expected behavior
This is usually used in headers where there's a notifications icon that when clicked, it shows some recent information collected by the web app. This is very useful in displaying recent notifications such as when a download is completed or when an activity arrives and needs an attention from the user. Also useful when you have

[2018-06-12 03:18] dragon503 opened #2351 "clr-datagrid getting vertical scrollbar for paginated grid"
**Select one ...** (check one with "x")

[code]

### Expected behavior

### Actual behavior

### Reproduction of behavior

clr-datagrid getting vertical scrollbar for paginated grid. I see the same happening in documentation page as well for datagrid pagination examples.

https://vmware.github.io/clarity/documentation/v0.11/datagrid/full.

And the clr-dg-clumn not accurately aligned with clr-dg-ce

[2018-06-12 08:47] d-m-s commented on #365
thanks, looking forward to your reply! We've taken a look at your other 'UX Ready' tickets, especially the design specs in  #1826, #1827, ... look pretty sophisticated, how do you create those? looks almost like an html prototype being screen-recorded?!

What you've described, a kind of notification center sounds like a good idea to me to restore/have access to past toast-notifications. But I woul

[2018-06-12 15:39] hippee-lee commented on #2351
Thanks for reporting this issue. The DOM structure for Datagrid is currently being updated to support pinned columns (#1586) I'm trying to address as many of these UI issues as I can for that feature since we have to make the DOM changes to support pinned columns.

[2018-06-12 18:28] hippee-lee commented on #2349
Warning button color and danger button should be the same.

[2018-06-12 18:28] #2349 closed

[2018-06-12 19:44] gitnarendra commented on #2265
I know this is not a show stopper issue, but Can we expect a fix for this issue in near future.

[2018-06-12 19:56] Shijir opened #2353 "Bind clr-icon directive's shape input to clr-icon elements shape attribute"
**Select one ...** (check one with "x")

[code]

### Expected behavior

`<clr-icon [shape]="myShape"></clr-icon>` should work.

### Actual behavior

`<clr-icon [shape]="myShape"></clr-icon>` currently throws an error saying the shape isn't a known property fo `clr-icon` directive.

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and version:**

* **Browser:**

[2018-06-12 20:07] pumano commented on #2350
Looks like layout can be used from "alerts" widget from here: https://dribbble.com/shots/4577060-Dashboard-exploration/attachments/1034895

[2018-06-13 07:03] RobArbor opened #2355 "text from spinner button disappears when `[clrLoading]` contains a variable that is `undefined`."
**Select one ...** (check one with "x")

[code]

### Expected behavior

`[clrLoading]` should accepts 'falsey' variables.

### Actual behavior

text from spinner button disappears when `[clrLoading]` contains a variable that is `undefined`.

### Reproduction of behavior

https://stackblitz.com/edit/clarity-light-theme-v012-ctekgq?file=src%2Fapp%2Fapp.component.ts

### Environment details

* **Angu

[2018-06-13 12:42] dkanev opened #2356 "Keyboard Interaction for a datagrid component"
[X ] feature request
[X ] enhancement

### Expected behavior

Keyboard Interaction for the datagrid component with arrow keys
https://www.w3.org/TR/wai-aria-practices/#grid

Hierarchical data grids is good to support collapsed and expanded row states and to have ability their rowes to be expanded/collapse through keyboard interaction

### Environment details

Angular version: 4.x.x

Clarity versio

[2018-06-13 12:45] dkanev opened #2357 "Keyboard Interaction for a stack view component"
[X ] feature request
[X ] enhancement

I would like to request a Keyboard Interaction for the stack view component
Probably they should be something like the on specified by the “WAI-ARIA Authoring Practices 1.1” for Accordion (https://www.w3.org/TR/wai-aria-practices/#accordion)
For example:
The stack view is good to support collapsed and expanded with a keyboard.

We have a lot of Angular JS com

[2018-06-13 12:48] dkanev opened #2358 "ARIA attributes and Keyboard Interaction for a tree view component"
[X ] feature request
[X ] enhancement

### Expected behavior

I would like to request ARIA attributes and Keyboard Interaction for the tree view component
https://www.w3.org/TR/wai-aria-practices/#TreeView
Some of the attributes can be applied by the users of the tree view, but some will be good to be built in the component.

For example:
The tree is good to have ARIA attributes which to indicate

[2018-06-13 12:54] dkanev opened #2359 "Advanced keyboard navigation for the step/page progress component in the wizard"
[X ] feature request
[X ] enhancement

### Expected behavior

I would like to request ARIA attributes for the step/page progress component in the wizard (the component in the left pane).
The active state information is indicated using color only we would like to have ARIA attribute for the active state (selected step).

Also probably is good to have ability to move to the next page by clicking or

[2018-06-13 14:36] wmpedersen opened #2360 "clrDate does not override browser-native date picker"
[code]

### Expected behavior

The date picker directive clrDate should show the Clarity date picker across supported browsers.

### Actual behavior

According to v0.11 docs and component status the date picker component should be available. When I include an input with type date and the directive clrDate the native browser picker is shown, and the component does not render the Clarity version.

#

[2018-06-13 15:16] youdz commented on #2360
The date picker was introduced in [0.11.8](https://vmware.github.io/clarity/news/0.11.8), and your StackBlitz is using 0.11.1. If I update it to the latest 0.11, it works fine: https://stackblitz.com/edit/clarity-light-theme-v11-datepicker

[2018-06-13 15:17] #2360 closed

[2018-06-13 15:21] youdz commented on #2356
We are indeed missing some ARIA attributes, but please not that basic keyboard interaction is already available through focus and activation. Every single one of the interactive pieces of the datagrid can be activated with the keyboard only. More advanced keyboard interactions are not on our plate right now, mostly because of potential conflicts between components (dropdowns will soon support up/d

[2018-06-13 20:22] lil-kim commented on #2222
...and moar:
5. Container volume
6. Atom
7. Assign user
8. Clone
9. Paste

[2018-06-13 20:35] mollyyee opened #2361 "Pagination for Datagrids"
[code]

## Description

Pagination in datagrids has been enhanced to include:

- Pagination by input field
- Total number of items/datagrid
- Ability to select number of rows per page

![static](https://user-images.githubusercontent.com/16811152/41371017-00b13d96-6efe-11e8-8e97-47dae2434348.png)

## Documentation
[Documentation on Invision
](https://vmware.invisionapp.com/share/279YRSQRD#/30136490

[2018-06-14 09:15] keshav1007 opened #2363 "BUILD ERROR - when compiling with ng-packagr"
[code]

### Expected behavior

Build should be successful

### Actual behavior

When trying to build a angular library using ng-packagr. Build failure is happening with following error

BUILD ERROR
(1,1): : Directive ɵcb, Property 'block' does not exist on type 'ClrDatagridColumnToggleButton'.
node_modules/@clr/angular/clr-angular.d.ts.ClrHeader.html(6,13): : Property 'NAV_LEVEL_1' does not exist

[2018-06-14 10:50] jokarmus opened #2364 "Datagrid height in modal is calculated incorrectly"
[code]

### Expected behavior

Visible Datagrid with records

### Actual behavior

Invisible Datagrid. Actually, height style is set to 0px (ng-reflect-selected="" style="height: 0px;")
The problem occurs when using smart iterator:

`       <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
`

Using ngFor everything is fine.
Latest working version is 0.11.17. I think the bug appeared

[2018-06-14 12:56] gnomeontherun commented on #2363
I was able to use Angular 6's library feature to generate a library (which configures ng-packagr and things for you) and build a library that imports Clarity. I believe this is more of a problem with how you're setting up your project in some way.

https://github.com/gnomeontherun/library-with-clarity

[2018-06-14 14:44] #2355 closed

[2018-06-14 14:47] gnomeontherun commented on #2364
This looks like an issue with lifecycle and when it calculates. It might be the animations that hide and delay the ability to compute the correct values so it ends up as 0 if we run it too early.

[2018-06-14 16:37] keshav1007 commented on #2363
But i have not done anything in the given repo. Just imported clarity module and the build fails.

[2018-06-14 17:03] gnomeontherun commented on #2363
I think it has to do with the purpose of ng-packagr, which is to publish libraries and not applications. The fact your trying to build the AppModule is not realistic. My point is that if it works using the above approach, then there is likely something with how you've setup ng-packagr in your project that is causing this problem.

[2018-06-15 09:09] dkanev commented on #2356
Thank you for the info.  I think it will be good if possible to be provided arrow key navigation for the  grid.
It is good also the component to provide ARIA roles otherwise I think the screen readers will not read the data correctly.  I know that these can be done by the users of the clarity library but it will be very helpful if this can be done by component at least for some of the ARIA roles.

[2018-06-15 14:18] belyan commented on #1148
It looks like [Angular issue](https://github.com/angular/angular/issues/18305) has been fixed in version 5.0.0-rc.3. Could you please support this fix on your side?

[2018-06-15 18:37] borcherspm commented on #2293
Thank you!  That helped a lot.  Once I started filtering to the same objects that are in the grid, the selection works.

[2018-06-15 18:37] #2293 closed

[2018-06-15 18:50] borcherspm opened #2366 "Selection on DataGrid reset on filtering"
[code]

### Expected behavior
I would like to be able to maintain the selection in a grid even if the filters changed.  Even if it's just an new input that can configured whether it resets on filtering.

### Actual behavior
DataGrid selection is reset everytime the filters are changed.

### Reproduction of behavior
* [Example Plunker](https://stackblitz.com/edit/clarity-light-theme-v11-uk35vf)
  *

[2018-06-15 19:28] gnomeontherun commented on #2366
This is a duplicate of #2342, feel free to subscribe to that issue to follow progress and discussion.

[2018-06-15 19:28] #2366 closed

[2018-06-15 19:29] borcherspm commented on #2366
Cool, thanks.  Sorry I didn't see it.

[2018-06-15 23:29] gnomeontherun commented on #365
I've gotten the draft of our design process up https://github.com/vmware/clarity/wiki/Contribution-Process. It has some notes about what to consider for building a design proposal. It might help to open a new ticket with the full details once you get more concrete information together so we can keep the latest version of it in the main post.

[2018-06-16 17:25] peterblazejewicz opened #2367 "Replacement for `label` element used without interactive element in Login component"
[code]

### Expected behavior

The `label` element has very specific semantics and UX role within the form element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label
I think it should be used as intended preventing spread of non-advised practises within community
Anyway, it just spills errors in IDE (if someone is using html linter) or in validator

here is a correct use of `label` in

[2018-06-17 17:36] antitoine opened #2368 "Form in new grid (0.12)"
[code]

### Expected behavior

It is impossible to use the new grid (clr 0.12) in the forms, the specific rules are only applied for the old grid (clr 0.11).

### Actual behavior

There's an extra space.

![image](https://user-images.githubusercontent.com/10686594/41510391-0dce522a-7264-11e8-9546-3c9c4f909d34.png)

The HTML:

[code]

The missing CSS rule:

[code]

### Reproduction of behavior

htt

[2018-06-18 12:52] osamamnagiub opened #2369 "RTL languages support"
[ ] bug
[x] feature request
[ ] enhancement

Please consider supporting the RTL languages.

[2018-06-18 13:51] adityarb88 commented on #2368
@antitoine: If I am not wrong, I think the documentation for the redesigned forms hasn't been updated yet. The old forms can only be used with the old grid. I will confirm this with @gnomeontherun and get back to you on the website update status.

@gnomeontherun could you please confirm?

[2018-06-18 13:55] mathisscott commented on #1364
@19Arne75
That comment was from around 8 months ago. ngMaterial at that time had a11y issues with keyboard navigation in their modals. Those seem to have been cleared up. Thanks!

[2018-06-18 14:02] mathisscott commented on #2369
hi @osamamnagiub
We already have an issue tracking this request (#1176). Please subscribe to that issue to keep up with any updates or progress. Thanks!

[2018-06-18 14:02] #2369 closed

[2018-06-18 15:05] gnomeontherun commented on #2368
This is not intended to be a supported configuration, the new forms and new grid will work together, while the old forms and old grid will work together. There are some breaking changes that we cannot fully support other configurations, and the beginnings of the new forms documentation is open on PR #2365. However, we're still putting together all of the Angular controls so for the time being I re

[2018-06-18 15:13] gnomeontherun commented on #2367
The CSS styles for this section are designed by class names, so you could change it from a label to div or other container element. So in reality, this is just a documentation issue that we could fixup I believe.

[2018-06-18 23:06] rongery opened #2372 "Datagrid with only one item display with a blank row"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Datagrid with only one item should not show a blank row.

### Actual behavior

Datagrid shows the one item and a blank row. This does not seem like the desired behavior. Two items show as two rows (with no blank).

### Reproduction of behavior

https://stackblitz.com/edit/clarity-light-theme-v11-jaqjff

(or go to Clarity docs,

[2018-06-19 01:02] hippee-lee commented on #2372
The reason there is a min height on a datagrid is because we have to accommodate the loading spinner.

This was filed discussed previously here: https://github.com/vmware/clarity/issues/402#issuecomment-274880337

That said, can you let me know a little more about your use case for a datagrid that only has a single row?

[2018-06-19 04:36] rongery commented on #2372
That's unfortunate, but it makes sense.

I have a table of created objects. It's possible to have just one, and it's possible to have 100+, so the table makes sense for the general case, though it's obviously not ideal for the "one case". Ultimately, not a very big deal.

Thanks for the quick reply.

[2018-06-19 04:36] #2372 closed

[2018-06-19 10:03] ChihoSin commented on #2363
@keshav1007 I'm using clarity base on JHipster v5, it's package by Webpack, but I meet the same problem!

[2018-06-19 11:47] daslashi opened #2373 "Incorrect behavior of nested components inside <clr-dg-row>"
**Select one ...** (check one with "x")

[code]

### Expected behavior

I think it would be great to use custom components inside `<clr-dg-row>`:

[code]

### Actual behavior

Now in this scenario all the nested `<clr-dg-cell>` are placed in the first column of datagrid.

### Reproduction of behavior

https://stackblitz.com/edit/clarity-datagrid-nested-row

### Environment details

* **Angular ver

[2018-06-19 13:27] cat-mandres opened #2374 "Collapse/Expand Component"
[code]

### Expected behavior

There should be a clarity component which can easily collapse & expand any content anywhere on a page.

[2018-06-19 13:59] gnomeontherun commented on #2373
This can be done without any changes. You just put the clr-dg-row inside of your component and then use `*clrDgItems` on your component.

[code]

Then the UserComponent template is

[code]

https://stackblitz.com/edit/clarity-datagrid-nested-row-7xxlq8?file=app/app.component.html

I'm going to close this and if you have other questions about this we try to use StackOverflow with the `vmware-clarit

[2018-06-19 13:59] #2373 closed

[2018-06-19 14:00] gnomeontherun commented on #2363
@ChihoSin do you have a reproduction that I can see? I'm not sure what the similarities are, but if it works using the Angular 6 CLI configuration, I suspect its more of a configuration issue.

[2018-06-19 14:55] gnomeontherun commented on #2374
This seems like a duplicate of #250, is that fair? If it is similar or close enough you could expand on any additional use cases on that ticket for us. Otherwise I'm closing this as a duplicate, feel free to reopen if there is something distinctly different and provide more detail.

[2018-06-19 14:55] #2374 closed

[2018-06-19 14:57] RobArbor opened #2375 "Spinner button remains active after state change when [disabled] is true"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Spinner button should remain disabled when `[disabled]` is `true`.

### Actual behavior

After state change spinner button becomes active.

### Reproduction of behavior
https://stackblitz.com/edit/clarity-light-theme-v012-2ohocu

Steps to reproduce:
1. type some text
2. click save

### Environment details

* **Angular version:

[2018-06-19 15:16] adityarb88 commented on #2375
@RobArbor: We will take a look and get back to you. Thanks!

[2018-06-19 15:25] daslashi commented on #2373
Thanks for quick help.

[2018-06-19 16:44] gearsandcode commented on #2280
@sdurnov - Agreed, the benefit of shared components outweighs the bundle size concerns right now.

[2018-06-20 01:14] ChihoSin commented on #2363
###package.json
---
[code]
---
###build log:
[code]

[2018-06-20 01:43] gnomeontherun commented on #2363
That doesn't really help me, as I don't know how you're actually building the project. Do you have the ability to setup a github project that demonstrates the build error?

[2018-06-20 06:47] cat-mandres commented on #2374
Not quite, we were more thinking about something like this:

https://getbootstrap.com/docs/4.0/components/collapse/

Where you can hide/show entire sections anywhere on the page - not only in the accordion style.

[2018-06-20 15:24] keshav1007 commented on #2363
@ChihoSin can you share your project and library folder structure?

[2018-06-20 21:13] gnomeontherun commented on #2363
Please also see https://github.com/vmware/clarity/pull/2377, this may resolve this issue.

[2018-06-20 21:21] gnomeontherun commented on #2363
Please test with 0.12.1 when it is released tomorrow!

[2018-06-21 15:05] petrtravnik commented on #1400
In my opinion this issue makes the Checkbox Tree not safe to use - it leads to big errors from the user input side unless you force the dropdown to always stay expanded. It is easy for the developers to oversee this bug and I think there should at least be a note about it somewhere. We've learned the hard way...

[2018-06-21 15:29] 19Arne75 commented on #1364
@mcosta74 Something like this you looking for ?

https://stackblitz.com/edit/clarity-8jhcl5

[2018-06-21 16:57] Shijir commented on #2146
This issue has been addressed. We have announced this in our changelog on our weekly release news as well as on icons set page.

[2018-06-21 16:57] #2146 closed

[2018-06-21 17:02] DonaldAlan opened #2379 "clr-tree-node shows checkbox even if [clrSelected]="null""
[code]

Sometimes I want clr-tree-nodes to have checkboxes. Sometimes I don't. With the current implementation, if you say
[code]
then a checbox is always shown. If `selected` has value true, the checkbox is shown as checked. If `selected` has the value false, the checkbox is shown as unchecked.  Even if `selected` is null, the checkbox shows as unchecked.

*This behavior prevents me from wrapping

[2018-06-21 17:47] chrizy commented on #1364
that looks promising. Thanks

[2018-06-21 18:19] btd1337 opened #2380 "Error in upgrade to 0.12 version"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Compile the project correctly.

### Actual behavior

After you upgrade from version 0.11 to version 0.12 this error occurs:
[code]

### Reproduction of behavior

* Install the new Clarity version:

[code]
* Try run project:
[code]

### Environment details

* **Angular version:** 5.2.11

* **Clarity version:** 0.12.1

* **OS an

[2018-06-21 18:41] adityarb88 commented on #2380
@btd1337: Are you still on Angular 5? 0.12 requires that you upgrade to Angular 6. If you are still on Angular 5, please upgrade and let us know if you face this issue.

[2018-06-21 18:46] hippee-lee commented on #2380
Following up on @adityarb88's comment if you are already on Angular 6, I did a fresh install with the @angular/cli and manually added Clarity without any issues.

https://github.com/hippee-lee/clarity-12-test

If you continue to have this issue please post a repository that reproduces the error so I can take a look.

[2018-06-21 19:03] gnomeontherun commented on #2380
Angular 6 introduced an optional generic for ElementRef, so Angular 6 is required for 0.12 as outlined in release https://vmware.github.io/clarity/news/0.12.0.

https://github.com/angular/angular/blob/master/CHANGELOG.md#small-features

[2018-06-21 19:36] d-m-s commented on #616
some further reading on breadcrumbs can be found here https://www.nngroup.com/articles/breadcrumb-navigation-useful/

[2018-06-21 22:37] syndesis commented on #1057
You can get around this behavior by doing something like the following:

[code]

[2018-06-22 01:35] reddolan commented on #2069
@adityarb88 the updates are complete. Here are links to the files:
[UI Library 0.12.1](https://gitlab.eng.vmware.com/DesignRepo/Clarity/Libraries/blob/master/Clarity-UI-Library-0.12.1.sketch)
[UI Library - dark 0.12.1](https://gitlab.eng.vmware.com/DesignRepo/Clarity/Libraries/blob/master/Clarity-UI-Library-dark-0.12.1.sketch)
[Icon Library 0.12.1](https://gitlab.eng.vmware.com/DesignRepo/Clarity/

[2018-06-22 03:58] GaryHyland opened #2382 "Inlines spinner - multiple images spinning"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Std inline spinner wanted

### Actual behavior

Attached shows the issue
![clarity spinner issue](https://user-images.githubusercontent.com/39715655/41757119-a09d7b24-7612-11e8-9238-36e7ca033826.png)

### Reproduction of behavior

`<form>
	<h3>blah</h3>

	<section class="form-block">
		<label>Geolocation data</label>
		<div cl

[2018-06-22 08:18] biapar opened #2383 "Question: Is't possibile to use the UI Components with VueJS?"
Is't possibile to use the UI Components with VueJS?

[2018-06-22 08:37] biapar opened #2384 "New Component Suggestion: Slider"
Is there the slider component similar this https://jqueryui.com/slider/?

[2018-06-22 08:53] jewway commented on #2384
Hi @biapar , you can refer issue #112

[2018-06-22 13:31] mathisscott commented on #2384
Thanks @jewway !

@biapar : @jewway is correct. We have an open ticket for this already. Please subscribe to that issue to receive updates. I'm closing this issue as a duplicate.

[2018-06-22 13:31] #2384 closed

[2018-06-22 13:58] adityarb88 commented on #2383
We just add styles to native HTML elements in Clarity UI. You should have no issues using Clarity UI with VueJS.

Closing the issue based on the above info. Please feel free to reopen the issue if you have more questions.

[2018-06-22 13:58] #2383 closed

[2018-06-22 14:12] adityarb88 commented on #2382
@GaryHyland: It looks like you are using the forms in grid markup incorrectly. Our docs provide more info on how to use forms in grids.
![image](https://user-images.githubusercontent.com/1426805/41781095-9c622450-7604-11e8-895a-0fdfcfb19e6a.png)

Also, please note that 0.12 adds a new grid and a redesigned forms component. The new grid should only be used with the new forms (new forms docs are sti

[2018-06-22 14:12] #2382 closed

[2018-06-22 16:01] franckstifler opened #2385 "Min and max dates for datepicker component"
[code]

### Expected behavior

Date picker does not provide an api to disable dates from a min or a max value.

### Environment details

* **Angular version:** 6.x.x

* **Clarity version:** 0.12*

* **OS and version:** Windows*

* **Browser:** [all]

[2018-06-22 16:03] adityarb88 commented on #2385
@franckstifler: This is a duplicate of https://github.com/vmware/clarity/issues/1984. Its already in our queue. Please subscribe to https://github.com/vmware/clarity/issues/1984 for more updates.

[2018-06-22 16:03] #2385 closed

[2018-06-22 16:40] biapar commented on #2383
Have you some example?

[2018-06-22 16:53] hippee-lee opened #2386 "Add an example for using the right-label class on a toggle"
**Select one ...** (check one with "x")

[code]

### Expected behavior
Demonstrate and show code that will enable a toggle with the right label
[code]

### Actual behavior
Documentation does not have an example showing how to use the right label toggle component.

### Reproduction of behavior
n/a

This is an enhancement to the documentation.

[2018-06-22 17:33] gnomeontherun opened #2387 "Improve size of clarity repo"
Currently its about 250MB to clone our repo due to hosting some large static assets. We can clean this up.

* [ ] Move static assets from website branches (particularly icon sets and sketch files)
* [ ] Move visual diff assets

[2018-06-22 19:07] tedyoung opened #2389 "Getting Started Unclear for UI-only (Non-Angular)"
**Select one ...** (check one with "x")

[code]

### Expected behavior

As a non-Angular developer, I want to use the UI (i.e., the HTML/CSS). I expected the "Getting Started" page to have a section, with step-by-step instructions, for making use of just the UI portion.

### Actual behavior

The "Getting Started" page doesn't provide straightforward instructions for the above use case. It starts o

[2018-06-22 19:11] mathisscott commented on #2389
Hi @tedyoung
What do you have in mind for a re-org? I'm happy to discuss.

As for using just the UI portion, I believe you can just import `@clr/ui` into your project and use the CSS.

More information here: https://www.npmjs.com/package/@clr/ui

[2018-06-22 23:32] btd1337 commented on #2380
Somewhere informs you that the installation of version 0.12 is only for Angular 6?

[2018-06-22 23:44] Shijir commented on #2380
@btd1337 It's in the changelog for v0.12: https://vmware.github.io/clarity/news/0.12.0

[2018-06-23 02:05] lil-kim opened #2390 "Add Dark theme palette. Create links for Dark theme and Charting color sections in Clarity Color docs"
**Select one ...** (check one with "x")

[code]

### Dark theme colors should be a linked section within Color docs. Same for the current Charting colors content.

Add links for the new sections:
![image.png](https://images.zenhubusercontent.com/5840974cb9dc3c622022d1df/49cb440b-3af6-425b-8232-1af5c0ee1bfb)

Add the dark theme colors. PDF version for ease of copying hex#s and text: [https://app.ze

[2018-06-23 11:30] shad1w opened #2391 "Datagrid placeholder always visible when using pagination"
[code]

### Expected behavior

When using a datagrid with pagination, the bottom border of the last item should align with the datagrid footer.

### Actual behavior

An empty placeholder (div with class `datagrid-placeholder`) is shown between the last entry of the datagrid and the footer.
![empty placeholder is shown](https://user-images.githubusercontent.com/22195087/41809195-8a5081ea-76e9-11e8-

[2018-06-24 02:27] rajinder-yadav opened #2392 "ReferenceError: customElements is not defined"
[code]

### Expected behavior

New Angular 6 app built using the CLI, seeing a reference error in debug console.

[code]

![clarity-error](https://user-images.githubusercontent.com/439226/41815298-6d43fa00-7734-11e8-8552-9675674718c3.png)

### Actual behavior

Don't expect to see any error.

### Reproduction of behavior

Create new app using cli and follow step to install Clarity design.

* Includ

[2018-06-25 12:38] hippee-lee commented on #2391
Thanks for reporting this. It does look like the datagrid height is not being calculated correctly and it should also be constrained to a container (see a modification of this StackBlitz fork: https://stackblitz.com/edit/datagrid-placeholder-bug-qu7btz)

[2018-06-25 14:02] smk commented on #1956
Uh oh, fast forward four months, and the solution is already broken 😞

[code]

SCSS variables should really be separated from the actual styles...

[2018-06-25 15:07] hippee-lee commented on #1956
@smk - I agree. Unfortunately the evolution of the component scss didn't allow us to implement that when I implemented themes, what we have today was the closest I could get.

I'm aware that this seems to be a pain point for folks building apps with the Clarity scss. Since this issue has been closed, can you file a new issue for this and include a link to a repo that reproduces the error your foun

[2018-06-25 18:19] gnomeontherun commented on #2100
Will need another issue to clean up the OK button logic for projected buttons.

[2018-06-25 18:22] Shijir commented on #2147
The milestone is correctly set. We have a few deprecated icons in 0.12 that can be removed once we release 0.13.

[2018-06-25 19:15] dfaivre commented on #2392
I had the same issue, it was because I was loading the `clr-icons.min.js` before the polyfill.  FYI, I got it from the `clarity-seed` project, which also seems to have it backwards.  https://github.com/vmware/clarity-seed/blob/master/.angular-cli.json

[2018-06-25 23:11] krotscheck opened #2393 "clarity dropdown <a> tag is white-on-white."
**Select one ...** (check one with "x")

[code]

### Expected behavior

Using <a> tags in primary dropdowns should show legible text.

### Actual behavior

Text is white-on-white.

### Reproduction of behavior

https://stackblitz.com/edit/clarity-wcbkws?file=app/app.component.html

### Environment details

See stackblitz.

[2018-06-26 09:12] dszegvari opened #2394 "Missing error icon tooltip message"
[code]

### Expected behavior

When a field is not valid, it should be marked invalid by the exclamation mark icon. When clicking on the icon, the validation error message should be displayed in a tooltip.

### Actual behavior

When a textarea, a datepicker or a combobox is invalid, the exclamation mark icon appears, but it doesn't open any tooltip for the error message.

### Reproduction of behav

[2018-06-26 15:06] d-m-s commented on #365
## Description of the request ##
Implement Toast messages/notification component for Clarity.

## Features ##
+ auto-hide notification after a configurable amount of seconds (timeout)
+ support for different types of notifications (see clarity alert types)
    error, warning, info, and success.
    https://vmware.github.io/clarity/documentation/v0.11/alerts
+ multiple toast messages are stacked, n

[2018-06-26 16:50] adestis-ds commented on #1825
Any update regarding the new roadmap for version 1.0? I have checked the milestones at https://github.com/vmware/clarity/milestones but could not find this issue there. Would be nice if you could provide the new release timeframe.

[2018-06-26 16:51] adestis-ds commented on #1821
Any update regarding the new roadmap for version 1.0? I have checked the milestones at https://github.com/vmware/clarity/milestones but could not find this issue there. Would be nice if you could provide the new release timeframe.

[2018-06-26 17:07] gnomeontherun commented on #1825
@adestis-ds we have not prioritized this feature yet because it is dependent upon other work, so that is why it is not in the milestones yet. Keep an eye on this ticket to know when its prioritized and work has started.

[2018-06-26 19:40] gnomeontherun commented on #2392
The seed has it correct https://github.com/vmware/clarity-seed/blob/master/.angular-cli.json#L29.

Also, if you are starting a new project you can run `ng add @clr/angular` and it should set it up correctly for you.

[2018-06-26 19:46] gnomeontherun commented on #2393
This is a typo in the buttons. The `clrDropdownItem` was lowercasing the `i`, and there is no need for the `class="btn"` on the link.

[code]

[2018-06-26 19:46] #2393 closed

[2018-06-26 19:48] gnomeontherun commented on #2380
Also, NPM will warn you when trying to install packages that have outdated dependencies. Closing as this should not be an issue if you have Angular 6.

[2018-06-26 19:48] #2380 closed

[2018-06-26 19:52] gnomeontherun commented on #2368
The first round of forms documentation will be out this week, but old grid and old forms will continue to work together with new grid and new forms working together.

Closing as this is as expected for now, and additional documentation will help clarify some of this. See #2365

[2018-06-26 19:52] #2368 closed

[2018-06-26 19:55] gnomeontherun commented on #2394
Hello, this is a limitation of our old forms, which is being addressed by the new forms work in progress. Unfortunately, the complete lineup of Angular components are not yet ready, so the datepicker, select, and textarea examples are currently not supported for tooltip validation. We're moving away from tooltips entirely. You can see the first round of documentation in #2365 which should go up th

[2018-06-26 19:55] #2394 closed

[2018-06-26 19:57] gnomeontherun commented on #2363
@ChihoSin or @keshav1007 have you tried Clarity 0.12.1 yet?

[2018-06-26 21:33] dfaivre commented on #2392
@gnomeontherun -- That's actually the line I had to manually edit, and put the `"../node_modules/web-animations-js/web-animations.min.js"` script above it (switch lines 29 and 30).  My scripts section:

[code]

[2018-06-26 21:35] dfaivre commented on #2392
Oh, yep, I misread web-animations for webcomponents.  Sorry about that.

[2018-06-27 08:04] bashibozuk opened #2396 "Modals are losing focus when user presses tab"
**Select one ...** (check one with "x")

[code]

### Expected behavior
I would like to request the following functionality:
when I open a Clarity Modal and navigatе with the Tab button in it and when I focus out the last element in the modal the first focusable element of the modal should be focused like this example shows https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html

[2018-06-27 10:03] emilyliuguiling opened #2397 "How to binding focus event for clr-dg-row ?"
**Select one ...** (check one with "x")

[code]

### Expected behavior

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX |

[2018-06-27 13:35] hippee-lee commented on #2397
Hi @emilyliuguiling - I'm not seeing an issue report or a stackblitz that replicates / demonstrates it. It seems like you submitted without filling in the details? Here is a link to a Clarity starter stackbliz: https://stackblitz.com/edit/clarity-dark-theme-v11

[2018-06-27 14:20] mathisscott commented on #248
@shravansofts
This new component will not be in 0.11.

[2018-06-27 15:16] #2392 closed

[2018-06-27 15:18] #2363 closed

[2018-06-27 15:30] mathisscott commented on #2321
@rogerarmstrong
If you want to do this in your app, here is a stackblitz that will enable it for you. It's one line of CSS.

It's just not something we want as default in the component library.

https://stackblitz.com/edit/github-hngcte

[2018-06-27 15:32] #2315 closed

[2018-06-27 15:44] mathisscott commented on #2294
Need to allow for non-content title items in the column header that will not invoke a click event on the column name/title.

[2018-06-27 15:45] mathisscott commented on #2294
Per @youdz, this would be a breaking change to the datagrid...

[2018-06-27 15:46] mathisscott commented on #2255
Your thoughts, @adityarb88

[2018-06-27 15:55] adityarb88 commented on #2255
@elesueur @reddolan: When we implemented the header, we specifically added the max-width on the branding area. This was to safeguard against the text overlapping with `.settings` container on the right if the user has the section. If you do not have a `.settings` container (like in the above example), I would instead recommend that this override be added on the application side.
Removing the `max-

[2018-06-27 16:31] reddolan commented on #2255
The above example looks like it should have adequate space for the text `AWS` and the right icon area. That right icon area should be only taking up about 60px width, leaving some additional space for the text in the middle.

[2018-06-27 16:33] adityarb88 commented on #2255
@reddolan but thats just the above example. In general the header can also contain the `.settings` area. We chose to add the max-width to handle that use case. Unfortunately, we can't add that style conditionally as the branding is placed before the `.settings` area.

[2018-06-27 17:52] gnomeontherun commented on #2367
Updated documentation website as well.

[2018-06-27 17:52] #2367 closed

[2018-06-28 01:01] gnomeontherun commented on #365
Thanks @d-m-s for the design brief, we've alerted the design team to review this!

[2018-06-28 11:26] sosharma1403 opened #2399 "Wizard styles to be based on hidden attribute instead of aria-hidden"
**Select one ...** (check one with "x")

[code]

### Expected behavior
Wizard styles should be based on `hidden` attribute instead of `aria-hidden`

### Actual behavior
Wizard styles are based on `hidden` attribute.

### Reproduction of behavior
https://vmware.github.io/clarity/documentation/v0.12/wizards#examples

### Environment details

* **Angular version:** 6.x.x

* **Clarity version:**: 0.12

[2018-06-28 11:34] bashibozuk opened #2400 "When the user presses Tab + Shift in modal dialog and the first element is focused the last focusable element should be focused"
[code]

### Expected behavior

When I open a modal then press Tab the first focusable element gets focused
Then when I press Tab + Shift the last focusable element should get focused.
If I keep pressing Tab + Shift the previous focusable element should be focused.
Expected behavior is described here: https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html

### Actual behavior

W

[2018-06-28 12:18] busino opened #2401 "Data-Grid: Select All not propagated to item.selected"
[code]

### Expected behavior

Use `[(clrDgSelected)]` to have selection flag set on every object selected.
This works fine when selecting entry one-by-one.
But if you click on checkbox in datagrid to select all items the flag is not propagated to the item.seleted flag.

### Actual behavior
See above.

### Reproduction of behavior

https://stackblitz.com/edit/angular-ekhwqg

Select items and click

[2018-06-28 15:33] reddolan commented on #2069
Updates are complete. Here are links to the files:
[UI Library 0.12.2](https://gitlab.eng.vmware.com/DesignRepo/Clarity/Libraries/blob/master/Clarity-UI-Library-0.12.2.sketch)
[UI Library - dark 0.12.2](https://gitlab.eng.vmware.com/DesignRepo/Clarity/Libraries/blob/master/Clarity-UI-Library-dark-0.12.2.sketch)
[Icon Library 0.12.2](https://gitlab.eng.vmware.com/DesignRepo/Clarity/Libraries/blob/m

[2018-06-28 15:35] d-m-s commented on #365
perfect, looking forward for their reply!
thx for your quick reply and constantly updates.

[2018-06-28 15:55] gnomeontherun opened #2403 "Mark unsupported versions of documentation"
Update the website to clarify the support for a particular version, such as 0.10 is now EOL.

[2018-06-28 17:01] mikec83 opened #2405 "Typo on Documentation: getting started"
On the getting started documentation, there is a typo in the sample code:

Step 4: Add Clarity to Angular application
Import the ClarityModule into your Angular application's module. Some features also depend upon the BrowserAnimationsModule, so you should add it as well. Your application's main module might look like this:
[code]

The typo is **_Brwoser_**AnimationsModule

[2018-06-28 19:10] hippee-lee commented on #2069
Sketch has been updated on the website for `0.12.2`

[2018-06-28 19:10] #2069 closed

[2018-06-28 19:11] hippee-lee commented on #2405
@mathisscott - I'll publish this separate from the v0.12.2 website push.

[2018-06-28 19:15] hippee-lee commented on #2405
Fixed with this commit: https://github.com/vmware/clarity/commit/260a5fd347506ac9845060b829a76b0821bd0c69

[2018-06-28 19:15] #2405 closed

[2018-06-28 21:31] ph55 opened #2406 ""ng add" works only if default project exist"
[code]

### Expected behavior

`ng add @clr/angular@next` should support applications and not only work with default one.

Please allow to specify project:
`ng add @clr/angular@next --project=another-app`

### Actual behavior

Currently it only works if `src/app` exist
If trying to add to different project - error thrown:
![image](https://user-images.githubusercontent.com/1386622/42061577-5c326794

[2018-06-28 23:36] bmgdev commented on #2123
We use slide panels religiously, this would be a tremendous boon to add.

[2018-06-29 12:50] hippee-lee commented on #2406
Thanks for the feedback. There are plans to expand the capabilities for the Clarity schematic and this feedback helps us to know whats important to you as a user.

[2018-06-29 13:58] rameshyala opened #2407 "Form submit action is not working"
[ X] bug

Hi,  i am using normal form it have a POST action with form data, i am update clarity with latest v0.12.1, after that this form submit action is not working, even  i did't see any call info in network tab (developer tools). It is works fine with the previous versions .

check the [stackblitz,](https://stackblitz.com/edit/clarity-light-theme-v11-yp5xeg?file=app/app.component.htmll) in tha

[2018-06-29 15:43] gnomeontherun commented on #2407
Your stackblitz is using 0.11.21, but why are you trying to do a normal form instead of an Angular form?

https://stackblitz.com/edit/clarity-light-theme-v11-dg6nfk?file=app/app.component.html

[2018-06-29 15:43] gnomeontherun commented on #2407
Closing as this is not really a bug, but an incorrect form.

[2018-06-29 15:43] #2407 closed

[2018-06-29 19:16] 2upmedia commented on #1588
@hippee-lee Thanks for that. That clue helped us figure out what was going on.

I'll add also, not only should your @angular dependencies bet the same version but check package-lock.json and double check that they're all the same there. Our package.json versions were all the same, but because the versions were ranges the @angular compiler was ahead by a few minor versions in the lock file vs the r

[2018-06-29 21:17] #2338 closed

[2018-06-30 05:20] rameshyala commented on #2407
Hi, @gnomeontherun in my case  i am not using any angular framework hear(in this page), i need call the  servicel with POST (it's not need not be a  XHR call,my service expect non XHR call) , It works fine with older versions of clarity with latest update it is breaking. It's work for angular forms ,just try once with normal forms with clarity UI call the form post action.

[2018-06-30 08:49] GolubevS opened #2410 "customElements is undefined in IE11"
[X] bug
[ ] feature request
[ ] enhancement
[code]

[2018-07-01 10:14] mpicard commented on #627
Any updates? Seems like a few people have workarounds, can they post any current workarounds that they think are decent?

[2018-07-02 08:54] whizkidwwe1217 opened #2411 "Server-Driven Datagrid should have a debounce time when filtering"
**Select one ...** (check one with "x")

[code]

### Expected behavior

### Actual behavior
Each time you type in the column filter box, the clrDgRefresh is triggered thus sending a request on each key press.

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.

[2018-07-02 10:01] rameshyala commented on #2306
Hi, @gnomeontherun for that above screenshot implemention signpost is fine but the signpost have cross icon on the top right, right now there is no option for hide that icon, Can you provide that option to remove/ hide to that cross icon.

Thanks

[2018-07-02 10:04] GolubevS opened #2412 "Modals not working in IE11"
[X] bug
[ ] feature request
[ ] enhancement
[code]

[2018-07-02 12:49] GolubevS commented on #2412
It's my mistake: this behavior is observed due to change of default script order - see

https://github.com/vmware/clarity/issues/2410

With the default script order everything works well except for IE11 exception "customElements is undefined" (as described in https://github.com/vmware/clarity/issues/2410)

[2018-07-02 12:49] #2412 closed

[2018-07-02 12:56] GolubevS commented on #2410
Change in default script order described above leads to many of clarity components goes into a non-working state (i.e. this workaround not working).

[2018-07-02 14:36] adityarb88 commented on #2031
@reddolan @lil-kim: Do we want to support buttons in the header by default?

[2018-07-02 14:43] reddolan commented on #2031
@adityarb88 are we intentionally not supporting them?

[2018-07-02 14:49] gnomeontherun commented on #2410
I'm not clear about how the https://vmware.github.io/clarity/documentation/v0.12/input-fields page is an example, I see it loading fine in IE11. I am fixing the bug with `ng add @clr/angular` so it orders them correctly.

https://live.browserstack.com/issue-tracker/58d2510c4afd9a6bcd37dd2492cc6dd29fd9afd4/win10_ie_11.0.jpg

[2018-07-02 14:52] whizkidwwe1217 commented on #2411
this might be a duplicate of #793.

[2018-07-02 14:52] #2411 closed

[2018-07-02 15:14] adityarb88 commented on #1880
@pumano: I was looking into this issue but found that this works without any issues when you use the Angular component like @youdz suggested above. Please take a look at this StackBlitz: https://stackblitz.com/edit/clarity-light-theme-v11-o9kwbx?file=app/app.component.html

Let us know if this works for you. Closing the issue based on the above info. Please feel free to reopen the issue if you hav

[2018-07-02 15:14] #1880 closed

[2018-07-02 15:18] gnomeontherun commented on #2306
There has to be a way to close the popover, so you shouldn't remove them.

[2018-07-02 16:05] lil-kim commented on #2031
A lot of apps already have too many options in the main header. IMO switching themes isn't an option that warrants visibility at all times. I prefer it in a dropdown menu.

[2018-07-02 19:08] GolubevS commented on #2410
After changing script order to

"scripts": [
      "node_modules/@webcomponents/custom-elements/custom-elements.min.js",
      "node_modules/@clr/icons/clr-icons.min.js"
]

datagrid and modals stop working in ie11 (and i guess many others components), so i think this workaround is not a good decision.

As to "IE11 error: customElements is undefined", i can't reproduce it on https://vmware.github.i

[2018-07-02 20:05] gnomeontherun commented on #2410
This appears to be an issue related to the build and setting up the polyfill. I'm not sure what you're doing in your build, nor do I see this issue in the stackblitz you provided in IE11. Are you including the polyfill twice (in polyfills.ts and in angular.json)? Otherwise, if you have a custom webpack build there are some possibilities that your build could mangle it in a way that it breaks the p

[2018-07-02 20:45] #2150 closed

[2018-07-02 21:46] reddolan commented on #2031
I would second @lil-kim's comment. I would be surprised if a user needed the quick access to changing theme. In the setting menu or even on a user preferences page, seems to make more sense to me for this case.

[2018-07-02 23:21] reddolan commented on #2031
Though the issue is more around buttons in the header. While having a number of buttons in the header wouldn't be desirable, restricting someone from putting a button in the header isn't something we really want to do.

[2018-07-03 06:01] m-tomczyk opened #2418 "Usage of *clrDgHideableColumn with Server-driven Datagrid"
**Select one ...** (check one with "x")

[code]

### Expected behavior

In my application there is use-case where data grid may contain many columns. Some of them should not be visible by default but only on user request. It is possible to accomplish it by using `*clrDgHideableColumn` directive but all columns must be provided with data even if not visible.
For performance reason this is not possi

[2018-07-03 09:33] GolubevS commented on #2410
I finally found the cause of the IE11 error (thanks for polfills mention) - in polyfills.ts uncomment line:

import 'core-js/es6/reflect';

and yes, it's needed to change script order in angular.json with polyfill in first:

"scripts": [
    "node_modules/@webcomponents/custom-elements/custom-elements.min.js",
    "node_modules/@clr/icons/clr-icons.min.js"
]

My polyfill.ts file looks like this no

[2018-07-03 09:33] #2410 closed

[2018-07-03 09:58] ph55 opened #2419 "@clr/ui@0.12.2 requires a peer of bootstrap@4.0.0-alpha.5 but none is installed"
**Select one ...** (check one with "x")

[code]

### Expected behavior

No warning should be thrown

### Actual behavior

NPM warning thrown:
[code]

### Reproduction of behavior

`ng new ng-clr`
`ng add @clr/angular`
![image](https://user-images.githubusercontent.com/1386622/42213084-91793870-7ec0-11e8-9290-650f10cf29fb.png)

### Environment details
[code]

[2018-07-03 13:29] gnomeontherun commented on #2419
This is expected behavior, and described for anyone who wants to use a custom theme https://vmware.github.io/clarity/documentation/v0.12/themes#examples.

This will go away when we stop having any dependency on Bootstrap, and so follow a different ticket #1531 for updates. I'm going to close this as its a duplicate.

[2018-07-03 13:29] #2419 closed

[2018-07-03 13:29] adityarb88 commented on #2031
@reddolan: We aren't restricting anyone from putting a button in the header. You can put a button in the header but the alignment might be off. While the header was being designed and implemented, we didn't have a good use case of using a button in the header. We could give the search button as an example of a valid use case but if I remember correctly, we had thought about the search experience t

[2018-07-03 13:30] gnomeontherun commented on #2410
I refer you to Angular's details about IE11 https://angular.io/guide/browser-support

[2018-07-03 13:35] #1927 closed

[2018-07-03 13:41] GolubevS commented on #2410
Thanks!

[2018-07-03 16:24] youdz commented on #2418
You are right, we are not exposing an output for hideable columns, and we should.

We're a bit backed up up right now so I don't think we can tackle this feature request in the short term, but I believe using your own `*ngIf` on the columns and the corresponding cells like you suggested is a reasonable workaround that won't break in the future (only uses stable features like "dynamic" columns). On

[2018-07-03 17:05] whizkidwwe1217 opened #2420 "Enable Content Projection for columns and/or other inner components of the Data Grid component"
**Select one ...** (check one with "x")

[code]

### Expected behavior
I have a base component that wraps the data grid component. It handles all the necessary functions to load the data from the server, provides pagination, filtering, sorting, etc. This component is used by multiple views/screens in the application. Each view just passes a server-side resource input that will be used by the base

[2018-07-03 20:37] youdz commented on #2420
We do support content projection, that's the entire basis of our API.

The problem is that you are wrapping part of our datagrid while still using others as part of your own public API. This is something that hardly ever works in Angular, it leads to many issues like the one you have here and there is nothing we can do on our side, your wrapper has to handle it or wrap _everything_ instead of just

[2018-07-03 20:37] #2420 closed

[2018-07-04 01:58] GaryHyland opened #2423 "Override responsive shrink of sidenav menu to trigger at larger screen size"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Setting/config to allow responsive hide of left nav menu at specific screen size.
Have some tablets that am running my app on that are 1024 x768 and would really benefit from having the left nav menu shrink to hamburger (as it does currently if go below 576 wide).
Would think this a useful settings for people to have access to

[2018-07-04 02:05] GaryHyland opened #2424 "DataGrid show spinner while retrieving"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Datagrid retrieve progress spinner.
Currently can use clr-dg-placeholder to show an image and text. This shows though during retrieve and also if no results found.
Would be REALLY nice to natively use spinner image while retrieving and then show any placeholder if no records found. Can use a setting "retrieve-spinner" to enabl

[2018-07-04 15:21] ttsvetko opened #2425 "Grid action menu is cut off in stack view"
[code]

### Expected behavior
Action menu should be accessible and visible. When action menu is displayed and it overflows - then scrolling down/up to see all items from the menu should not close the menu.

https://stackblitz.com/edit/clarity-light-theme-v11-gzhqk4

As the main-container height is set to 200px(in order to simulate window borders), the grid item's action menu does not fit in the sc

[2018-07-04 18:55] m-tomczyk commented on #2418
Thank you for information. `*ngIf` with custom column showing logic is what was my first choice and the one I'll go for as for now.
Still I went for some source snooping and found alternative. I'll leave it here, maybe it will be useful for somebody else.

### Alternative workaround that will *not* work
First thing that I was looking into is `ClrDatagridHideableColumn` directive itself and right t

[2018-07-05 02:19] royling opened #2426 "use `<clr-wizard />` in a non-modal context"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Now, `<clr-wizard />` wraps a `<clr-modal />` underneath, which makes sense to most use cases. However, do you consider to support using it in a non-modal context? Specifically, I mean:
* providing a context option so the user can choose whether it's in a modal or not
* or, providing this component in a context-agnostic way so

[2018-07-05 02:40] jewway commented on #2426
Hi @royling , you can refer [Inline Wizard](http://new-clarity-grid.surge.sh) ,
The document seems to have not been updated yet , but it's work.

[2018-07-05 08:13] emmalivingstone opened #2427 "Spinner button ignores disabled attribute"
[code]

### Expected behavior

Once a spinner button has changed state from Loading to Success and the animation has completed, it should respect the 'disabled' attribute on the button.

### Actual behavior

It ignores the disabled attribute. In the example below the spinner button starts off as enabled, then once it's clicked it transitions from Loading to Success and the disabled property bindin

[2018-07-05 09:58] royling commented on #2426
@jewway Thanks for the demo and sample code, the inline wizard is exactly what I wanted.

I guess it works by adding `class="clr-wizard--inline clr-wizard--no-shadow clr-wizard--no-title"` to the host tag.

I'll keep this issue open for tracking doc updat, or possibly if it's still considered a valid feature requirement. 😛

[2018-07-05 12:41] adityarb88 commented on #2427
@emmalivingstone: Hi. This looks a duplicate of #2375. We have a PR https://github.com/vmware/clarity/pull/2421 which is under review right to now to fix this issue. Please subscribe to both for further updates.

Closing this as a duplicate. Thanks!

[2018-07-05 12:41] #2427 closed

[2018-07-05 12:45] adityarb88 commented on #2423
@GaryHyland: I was wondering if you got a chance to take a look at the Vertical Nav (https://vmware.github.io/clarity/documentation/v0.12/vertical-nav/basic-structure/charmander). It provides an option to collapse on larger screens and then similar to the sidenav, you can assign it a responsive level for breakpoints `sm` and below. Please let us know if that helps.

[2018-07-05 12:59] mathisscott commented on #2426
Hi @jewway and @royling
The inline/static wizard will remain in our demos. It is something we did explicitly for @royling's use case. But that is not a use case we want to promote to all users of Clarity because most of them aren't going to be projecting wizards into iframes inside of existing modals.

The styles are there and will remain there. But we won't be adding them to our documentation bec

[2018-07-05 12:59] #2426 closed

[2018-07-05 14:12] #2406 closed

[2018-07-05 15:00] mathisscott commented on #2255
Investigating using flexbox to dynamically adjust the width. We'll see if that winds up being the solution we need.

[2018-07-05 15:54] d-m-s commented on #2361
i really like the improved pagination shown in the screens! just one thing - have you tested it on tablet? touch-target might be problematic ...

[2018-07-05 18:02] ChitMeng-VMware opened #2428 "[Improvement] Position of the action pop-up in the single row action data-grid"
**Select one ...** (check one with "x")

[code]

### Expected behavior

When the overflow button is clicked within the row of the data-grid, the action pop-up should show along alongside with data row selected.

### Actual behavior

When the overflow button is clicked within the row of the data-grid, the action pop-up covers the first item of the row (or more)
![screenshot of single row action dat

[2018-07-05 18:23] mathisscott commented on #2361
Hi @d-m-s
Generally our touch targets include space _around_ the icons. So the touch targets of the design shown would be much larger than just the glyph.

[2018-07-06 01:10] royling commented on #2426
@mathisscott Thanks, that makes sense.

[2018-07-06 04:35] anaice commented on #831
@uded I think you can use this approach:

Use `[clrDgSortBy]="'field'"` alone if you want only sorting features (up and down arrows). See [custom sorting](https://vmware.github.io/clarity/documentation/v0.12/datagrid/custom-sorting)
Use `[clrDgField]="'field'"` if you want both sorting and filtering features (arrows + input)

[2018-07-06 06:00] dkanev commented on #2357
We have a lot of Angular JS components which uses the downgrade stack block. We would like if possible the above requested improvements to be made in such a way that to be available in downgraded stack blocks.

[2018-07-06 10:51] dkanev opened #2429 "ARIA attributes for a stack view component"
**Select one ...** (check one with "x")

[code]

I would like to request ARIA attributes for the stack view component
Probably they should be something like the on specified by the “WAI-ARIA Authoring Practices 1.1” for Accordion (https://www.w3.org/TR/wai-aria-practices/#accordion)
For example:
The stack view is good to have ARIA attributes when the stack block is collapsed and expanded.

Also I

[2018-07-06 11:03] walter-mair opened #2430 "Clarity alert should be visible, when a new alert is pushed to an empty list of alerts"
[code]

### Expected behavior

A Clarity alert should be visible, when a new alert is pushed to an empty list of alerts
This happens in production mode only. It works as expected in development mode.

### Actual behavior

Clarity alert is not visible, the first time an alert is pushed.
On the next push of an alert, both alerts show up.
After deleting all alerts, this behavior can be reproduced!

S

[2018-07-06 11:08] dkanev opened #2431 "ARIA attributes for a datagrid component"
**Select one ...** (check one with "x")

[code]

### Expected behavior
I would like to request ARIA roles, attributes and states for the clarity datagrid.
https://www.w3.org/TR/wai-aria-practices/#grid

The selected or expanded row is good to have appropriate attributes.
The cells to be map to the column and rows.
The expanded rows to have appropriate attributes.
The datagrid to be recognizable by

[2018-07-06 12:46] belyan commented on #444
Hi @vzayko!
Sorry, if it is not actual for you already, but I found this question on SO:
https://stackoverflow.com/questions/38054631/angular2-validate-and-submit-form-from-outside

According to it there are two ways to solve this problem.

1) Associate button with form via HTML attribute `form` e.g.:
[code]
This solution does not working in IE and Edge less than 16:
https://caniuse.com/#search=fo

[2018-07-06 12:54] adityarb88 commented on #2429
@dkanev: We have a general issue open to add ARIA attributes to all our components here: https://github.com/vmware/clarity/issues/1190 Please subscribe to https://github.com/vmware/clarity/issues/1190 for more updates.

@smathis: Can we close this issue as a duplicate of https://github.com/vmware/clarity/issues/1190 or do we want to track this separately?

[2018-07-06 12:54] adityarb88 commented on #2431
@dkanev: Thanks for filing the issue. We have a general issue open to add ARIA attributes to all our components here: https://github.com/vmware/clarity/issues/1190 Please subscribe to https://github.com/vmware/clarity/issues/1190 for more updates.

@smathis: Can we close this issue as a duplicate of https://github.com/vmware/clarity/issues/1190 or do we want to track this separately?

[2018-07-06 12:56] adityarb88 commented on #2430
@walter-mair: I am unable to access the stackblitz that you posted. I see this:
![image](https://user-images.githubusercontent.com/1426805/42379990-67f6c86e-80fa-11e8-84ab-0da8d08949bd.png)

Please fix the StackBlitz and update the issue and we will be happy to take a look. Thanks!

[2018-07-06 13:16] mathisscott commented on #2431
@adityarb88
No, we are keeping these separate so we can prioritize them according to a need of a VMware product. Let's leave them atm. Thanks.

[2018-07-06 13:16] mathisscott commented on #2429
@adityarb88
No, we are keeping these separate so we can prioritize them according to a need of a VMware product. Let's leave them atm. Thanks.

[2018-07-06 14:42] mathisscott commented on #2357
Our plan is to enable this via tabindex. This should allow users to interact with stack views via the keyboard.

[2018-07-06 15:16] gnomeontherun opened #2432 "Need to implement automated accessibility CI testing"
**Select one ...** (check one with "x")

[code]

### Expected behavior

We want to include a test step in our CI that validates that we pass accessibility guidelines such as aria attributes and so forth.

Possible tools
* Pa11y
* Lighthouse

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

[2018-07-06 15:56] mathisscott commented on #2396
@bashibozuk
We need more info on this. We cannot reproduce this issue on http://clarity-ks.surge.sh/modals

I see it in your stackblitz but only in that stackblitz. Do you know why that might be?

[2018-07-06 19:21] gondomar opened #2435 "Single Row Action"
**Select one ...** (check one with "x")

[code]

### Expected behavior

I can't get it to work.  The documentation appears to be incomplete.

### Actual behavior

I can't get it to work.

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Clarity version

[2018-07-06 19:36] mathisscott commented on #2435
Hi @gondomar
Can you try replicating your issue in a [stackblitz](https://stackblitz.com/edit/clarity-light-theme-v012-bsnf7z?file=src/main.ts)?

We are often happy to help people work through issues. But we don't know where to start with this one.

[2018-07-06 20:19] gondomar commented on #2435
What I'm trying to do is quite straight-forward, but...
https://clarity-light-theme-v012-wjhsmo.stackblitz.io

[2018-07-06 20:55] gnomeontherun commented on #2435
If you want to select an item, you should use the selection options of the datagrid. Otherwise, you haven't implemented any logic to handle the click events for the edit/delete buttons, which is on the application side to manage.

https://vmware.github.io/clarity/documentation/v0.12/datagrid/batch-action

[2018-07-06 21:02] gondomar commented on #2435
I don't want to use the selection.  You'll notice that the action-overflow items have "edit" and "delete".  I simply want those records to populate a form on the same screen.  That means that it needs to have access to that particular item.  The example on clarity found here:
https://vmware.github.io/clarity/documentation/v0.12/datagrid/single-action
does exactly that, but the documentation doesn'

[2018-07-06 21:47] gnomeontherun commented on #2435
This is really a question for Stack Overflow as you are the one who has to populate the list of records when someone clicks the edit/delete buttons. You define those buttons and their behaviors, not Clarity. So unless you use our built in selection, Clarity does not try to handle selecting items in some way. Our documentation doesn't show the click handler, because thats up to the application to h

[2018-07-06 21:47] #2435 closed

[2018-07-06 22:21] gnomeontherun commented on #2356
I wanted to give at few quick examples of why this is a complex request. We have to consider all of the potential edge cases and scenarios before we can proceed.

Putting keyboard navigation into the datagrid raises a lot of questions about _how_ the keys should behave, _what_ should be in focus, and _who_ is responsible for orchestrating it (Clarity or the app). The best behavior for the datagrid

[2018-07-07 01:42] adityarb88 commented on #2155
Looks like this is a duplicate of https://github.com/vmware/clarity/issues/2241

[2018-07-07 06:57] walter-mair commented on #2430
@adityarb88
sorry,
here the correct URL:
https://stackblitz.com/edit/clarity-light-theme-v11-6npkwj

[2018-07-07 18:09] isawk opened #2437 "upgraded to version 0.12.3 producing error when doing angular prod build"
**Select one ...** (check one with "x")

[code]

### Expected behavior
Prod builds shouldn't fail

### Actual behavior

Prod builds fail with error below after upgrade from 0.12.2 to 0.12.3

`ERROR in : Unexpected value 'undefined' exported by the module 'ClrFormsNextModule in /Users/KOGA/Development/angular/ibudo-app/node_modules/@clr/angular/clr-angular.d.ts'`

### Reproduction of behavior

Run

[2018-07-07 22:38] adityarb88 commented on #2437
@isawk: I believe this issue was fixed but the version you need to install is: 0.12.3-patch.2. Release notes here: https://vmware.github.io/clarity/news/0.12.3-patch.2

Please let us know if this version works.

[2018-07-08 00:10] KashMoneyMillionaire opened #2438 "Error when using new Clarity Forms w/ Angular Reactive Forms"
**Select one ...** (check one with "x")

[code]

### Expected behavior

New forms should not throw error.

### Actual behavior

[code]

When trying to use the new ClrFormsNextModule, the `clr-input` inside the `clr-input-container` throws an error.
Happens here in the code: https://github.com/vmware/clarity/blob/221ff315e94c2cb6eae2e972bdfe7c786b4fd4b6/src/clr-angular/forms/common/if-error/if-erro

[2018-07-08 00:17] Shijir commented on #2438
Hi @KashMoneyMillionaire, could you trying installing `v0.12.3-patch.2`, which resolves the problem you are seeing: https://vmware.github.io/clarity/news/0.12.3-patch.2

[2018-07-08 00:32] KashMoneyMillionaire commented on #2438
Upgrading does not appear to work. I was able to verify I have the correct clr installed by going to `\node_modules\@clr\angular\package.json` where `"version": "0.12.3-patch.2"`.

Also, I'm not sure how to upgrade the stackblitz to any patch version. It just says 0.12.3 even after upgrading.

The project builds fine, and going to the page w/ the error "works", but that error appears.

[2018-07-08 06:32] Itay777 commented on #1400
Hi @mathisscott
Any news about this bug fix?
Thanks in advance.

[2018-07-09 06:00] technbuzz commented on #1633
This would be exciting feature to be include. Currently in one of my angular project, Timeline is the cornerstone. So if we really gonna see **Timeline in Clarity** than kindly make it highly customize able and just limit it to 5 steps. Because I see timeline as time line of video editor :)

[2018-07-09 07:28] ChrisKaun opened #2439 "Angular + DatePicker - can't change font color for the input value"
[code]

### Expected behavior

I'm using clarity in a angular project and currently I am struggling with the date picker.
When using the date picker without injecting the LOCALE in a simple `<input type='date' clrDate>` I can change the font-color by simply adding a css-rule `color: red` to it.

### Actual behavior

When I inject the current LOCALE ('de-DE')  to my my angular component, the date w

[2018-07-09 12:45] bashibozuk commented on #2396
According to my observations if the wizard is the last focusable element  in the DOM it happens all the time. This is a bug in the focus trap directive which you are using to keep the focus in the wizard. This is what happens according to my observations:
1) When you press tab on the last button of the wizard the focus goes away from the wizard
2) The browser tries to focus the next focusable elem

[2018-07-09 13:17] gnomeontherun commented on #2438
This is an issue with rxjs, you need to have v6 or greater (so it works with Angular 6 correctly). 0.12 does not work with Angular 5 (without the rxjs-compat layer at least).

[2018-07-09 13:21] gnomeontherun commented on #2437
Yes this patch was required to fix this issue, use `npm install --save @clr/angular@latest` to get it.

[2018-07-09 13:28] gnomeontherun commented on #2439
There appears to be some issue with the stackblitz, adding:

[code]

[2018-07-09 13:44] gnomeontherun commented on #2430
There is some kind of lifecycle issue here, probably around the internals of detecting changes in the alert.

[2018-07-09 14:06] mathisscott commented on #2439
@ChrisKaun
Your style declarations were all messed up.

See [this working example on stackblitz based on your code](https://stackblitz.com/edit/clarity-light-theme-v11-dvdmqk?file=app/hello.component.ts)

[2018-07-09 14:06] #2439 closed

[2018-07-09 14:08] mathisscott commented on #2396
@bashibozuk
So this is an issue with the wizard? The description and title only say modal.

[2018-07-09 14:12] mathisscott commented on #1400
Hi @Itay777
We're currently working on it. Please subscribe to the issue for updates. You should be able to see the labels. It will receive the label "In Review" when it is being peer reviewed and getting ready for release.

thanks.

[2018-07-09 14:31] bashibozuk commented on #2396
@mathisscott the issue actually is the focus trap which is used to keep the focus inside the clarity modals. Since the wizard uses clr-modal internally I think that the issue affects both the wizard and the modal. Here is an example which I think illustrates the issue better https://clarity-light-theme-v11-bwyf5c.stackblitz.io/. In my opinion you should employ the `window.blur` event to detect whe

[2018-07-09 14:32] mathisscott commented on #2396
Yes, @bashibozuk

But as I pointed out earlier, we couldn't reproduce this with the modal. I'll ask the team to look at it with the wizard.

Thanks!

[2018-07-09 14:45] bashibozuk commented on #2396
Hi @mathisscott , would you please take a look at this example https://clarity-light-theme-v11-bwyf5c.stackblitz.io/. The issue is 100% reproducible here. Just open the link, press the button and start pressing TAB.  Please let me know if you have any problems with reproducing the issue, I could record a video if the behavior if it is it is necessary.

[2018-07-09 14:59] bashibozuk commented on #2396
Attaching a recording

[clarity-focus-trap-issue.mov.zip](https://github.com/vmware/clarity/files/2176726/clarity-focus-trap-issue.mov.zip)

[2018-07-09 15:14] #2357 closed

[2018-07-09 15:15] #1946 closed

[2018-07-09 18:44] KashMoneyMillionaire commented on #2438
Sorry, I forgot to update the stackblitz. It has been updated in the original and here is the link as well: https://stackblitz.com/edit/clarity-light-theme-v12-forms-next-broken

[2018-07-09 19:19] #2429 closed

[2018-07-09 19:40] isawk commented on #2437
Thanks, updated to patch version and all works as expected.

On Mon, Jul 9, 2018 at 3:21 PM Jeremy Wilken <notifications@github.com>
wrote:

--
Kwasi Gyasi-Agyei
I am part of an *EDGED* crowd

*Mobile* +27 (81) 466 4488
*Email* kwasi@edged.agency
*Skype* kwasi.gyasiagyei
*Web*  http://edged.agency

[2018-07-09 19:42] rjmccluskey commented on #1956
@hippee-lee @smk was the new issue ever created for this? I am now upgrading and running into the same problem. If the issue has not been created then I'll go ahead and add one

[2018-07-09 19:45] ATMarcks opened #2441 "Eraser icon request"
**Select one ...** (check one with "x")

[code]

An eraser icon would be a nice compliment to the pencil icon

[2018-07-09 20:09] hippee-lee commented on #1956
Hi @rjmccluskey - please do create a new issue. If you can link to a repo that reproduces the issue you are seeing that would help determining if its the same issue or if something changed recently that is causing the issue.

[2018-07-09 20:51] #2437 closed

[2018-07-09 20:58] gnomeontherun commented on #2438
Thanks, I'll have to investigate further and report back.

[2018-07-09 21:18] rjmccluskey opened #2442 "Importing clarity sass variables breaks build"
[code]

### Expected behavior

Per issue #1956 , clarity's sass variables should be able to be imported and used by importing the following files:

[code]

[code]

### Actual behavior

The Angular project fails to build with the following error message:

[code]

### Reproduction of behavior

https://github.com/rjmccluskey/clarity-sass-import-two

### Environment details

* **Angular version:** 6.0

[2018-07-09 21:32] mathisscott commented on #2441
@lil-kim
Thoughts on this icon request?

[2018-07-09 21:36] rjmccluskey commented on #2442
@gnomeontherun Unfortunately that did not fix the problem, please see issue #1956 for more information. I updated the linked repo with your suggested fix if you want to try it out.

[2018-07-10 10:17] boeckMt opened #2443 "Datagrid not rendering data correctly if it is inside a modal (height: 0px;)"
**Select one ...** (check one with "x")

[code]

### Expected behavior
Datagrid should render as normal.

### Actual behavior
The height of the Datagrid (clr-datagrid) is 0px (``element.style { height: 0px;}``) so nothing is displayed.

If the modal is open on init -> everything is working.  ``// this.modalopen = true;``
If there is no pagination or clrDgPageSize is greater than length of data ->

[2018-07-10 11:02] mibryamov commented on #2356
While keyboard interaction is only one of the ways to address accessibility concerns (among other like Theme Contrast, Screen Readers, ARIA attributes, Rows virtualization, etc.) i think the following features should be provided at least as a minimum (compared to some other popular component libraries' accessibility support) :
1. Using arrow keys the focus should be moved between cells, if the sel

[2018-07-10 12:31] nikhildhankani opened #2444 "Nav titles in wizard which are really long and truncated should have a tooltip"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Nav titles in wizard which are really long and truncated should have a tooltip

### Actual behavior

There is no tooltip for nav titles in wizard which get truncated

### Reproduction of behavior

https://stackblitz.com/edit/clarity-wizard-navtitle-tooltip?file=app/app.component.html

[2018-07-10 12:47] mathisscott commented on #2444
We should use an HTML `title` attribute for these cases if possible. I reviewed some other applications and that appears to be the appropriate solution. The stepnav titles are all buttons. So we would need to project the stepnav text into the button and capture the text for the title attribute on the button as well.

[2018-07-10 12:49] mathisscott commented on #2356
Hi @mibryamov
This is a good start. But the UX issues and edge cases @gnomeontherun has raised remain.

We can't dive into implementation until we have a reasonable path forward on these edge cases. Otherwise, we risk creating a mountain of rework and confusing our end users with shifting patterns and breaking changes.

[2018-07-10 14:57] gnomeontherun commented on #2438
This started when we moved the `setControl` to the constructor from the lifecycle hook. Reactive forms are async and not available at the constructor time just yet, so making a PR for this week.

[2018-07-10 17:03] youdz commented on #2364
This is because we are still not using structural directives for our modal, which has been in our backlog for a long time. 😞

The workaround is pretty easy, just put and`*ngIf="open"` on the modal itself, the modal body or the datagrid, whichever you prefer. This will properly instantiate the Datagrid when you need it and everything will display fine: https://stackblitz.com/edit/datagrid-modal-fix

[2018-07-10 17:05] youdz commented on #2443
This is a duplicate of #2364, I just posted the workaround and the explanation over there.
So in your case, just write `<clr-datagrid *ngIf="modalopen">` and it will display correctly: https://stackblitz.com/edit/datagrid-modal-fix-2?file=app/app.component.html
It's also better for performance.

[2018-07-10 17:05] #2443 closed

[2018-07-10 21:19] gnomeontherun commented on #2442
Dug into this further, and you just aren't including all of the files needed. This can get a little hairy, so really you just need to have your `clr-variables.scss` file contain the following to get all the variables setup.

[code]

[2018-07-10 21:29] gnomeontherun commented on #2403
Done https://vmware.github.io/clarity/documentation/v0.10/color

[2018-07-10 21:29] #2403 closed

[2018-07-10 21:38] rjmccluskey commented on #2442
Thanks for looking into this further. As mentioned in issue #1956, importing dependencies.clarity unfortunately causes other problems. @hippee-lee was working with me on the last issue and might be able to weigh in on this. My simple example repo is fixed by your solution but a larger project I am working on gets different errors.

I understand that it gets complicated to import all the necessary

[2018-07-10 21:40] gnomeontherun commented on #2442
We aren't in a position to reorganize at the moment, so you'll need to look at the order of files inside of the `dependencies.clarity.scss` file and try to eliminate ones that you don't need from your build.

[2018-07-10 21:42] reddolan commented on #2403
Did we build a custom App-level Alert for this? The font sizing is different between the implementation and the docs

![image](https://user-images.githubusercontent.com/1858226/42539252-6983d764-844f-11e8-9eff-26ebf302a340.png)

[2018-07-10 21:42] reddolan commented on #2403
Docs show the font-size at 13, whereas the implementation is at font-size 11

[2018-07-10 21:43] rjmccluskey commented on #2442
Ok thanks I'll give it a try. I'm busy with other work at the moment but when I get back to this I'll update the issue if I'm able to get it working

[2018-07-10 21:54] gnomeontherun commented on #2403
Nothing special, I just used the 'alert-small' variation.

[2018-07-10 21:57] reddolan commented on #2403
Hmm, didn't know that we could do that. Thx

[2018-07-11 02:22] yuezhizizhang commented on #248
Any progress on this feature?

[2018-07-11 02:49] Shijir commented on #248
@yuezhizizhang The implementation of this component has been started and ongoing.

[2018-07-11 08:14] chuduyunhuan commented on #1057
@syndesis , Hello, could you please help to make it clear about this code:
debounce(this.compareFilters(state) ? timer(500) : EMPTY),

where does the state param come from?  so as timer and EMPTY.

Thanks a lot.

[2018-07-11 08:31] whizkidwwe1217 opened #2448 "Error when adding the new forms with angular reactive forms"
**Select one ...** (check one with "x")

[code]

### Expected behavior

### Actual behavior

![image](https://user-images.githubusercontent.com/1977391/42559825-d026e104-8527-11e8-9f7e-d161c876ed1a.png)

### Reproduction of behavior

[https://stackblitz.com/edit/clarity-light-theme-v11-x5hujx](https://stackblitz.com/edit/clarity-light-theme-v11-x5hujx)

* Include a link to the reproduction scenari

[2018-07-11 09:08] boeckMt commented on #2443
Thanks for the fast response and the workaround!
Maybe you can add this to the documentation.

[2018-07-11 10:21] gerinjacob opened #2449 "Provision to allow clr-tooltip width to be auto (fitting the content)"
**Select one ...** (check one with "x")

- [ ] bug
- [ ] feature request
- [x] enhancement

### Expected behavior

When the tooltip text is dynamic, fixing the clrSize (xs, sm, md, lg) to a specific value is difficult. It will be better if,
1. clrSize can take `auto` that sets `tooltip-content` width to auto.
   OR
2. based on clrSize (xs, sm, md, lg) set max-width and keep width to auto always, s

[2018-07-11 12:44] youdz commented on #2448
This is a duplicate of #2438, please follow that issue for updates.

[2018-07-11 12:44] #2448 closed

[2018-07-11 13:07] lucianmol opened #2450 "[Documentation][InputComponent] The source code for the Input in error state is wrong"
**Select one ...** (check one with "x")

[code]

### Expected behavior

The Angular Input error state code example should show the source for the input component above.

[code]

### Actual behavior

It shows the source for the Textarea component.

### Reproduction of behavior

![screen shot 2018-07-11 at 16 00 27](https://user-images.githubusercontent.com/16926235/42573019-ae75bbb0-8523-11e8-884f-

[2018-07-11 13:29] adityarb88 commented on #2449
@gerinjacob: I believe both the solutions you mentioned above will clip the content once we hit the max-width. You can see that over here: https://stackblitz.com/edit/clarity-light-theme-v11-fmps1c?file=app%2Fapp.component.css

I believe that is why we assign it a `width` so that once the content hits the `width` limitation, it wraps to the next line. If you do not want the content to wrap, you co

[2018-07-11 13:29] #2449 closed

[2018-07-11 13:31] adityarb88 commented on #2450
@lucianmol: Thanks for reporting this issue. We will get this fixed soon.

[2018-07-11 13:51] gerinjacob commented on #2449
Clipping happens with existing style also right? A tooltip content with no whitespace will not wrap even now. That is not my concern. I am okay with content to wrap, my issue is when the tooltip is small, it looks stretched
![image](https://user-images.githubusercontent.com/7568688/42575881-004b0452-853f-11e8-9114-8abe9a61be25.png)
I prefer,
![image](https://user-images.githubusercontent.com/75686

[2018-07-11 13:58] adityarb88 commented on #2449
@gerinjacob: Even then it doesn't work as expected. Please take a look at this: https://stackblitz.com/edit/clarity-light-theme-v11-fmps1c?file=app%2Fapp.component.html

Even though the `max-width` is `500px` and the `width` is `auto`, `position: absolute` has does not behave as expected. If I remember correctly, this is a limitation with `position: absolute` elements. I can't find the link which

[2018-07-11 14:09] gerinjacob commented on #2449
Not sure what I am missing, the following style works for me,
[code]
https://stackblitz.com/edit/clarity-light-theme-v11-vhirrs

[2018-07-11 14:19] adityarb88 commented on #2449
@gerinjacob: It totally depends on the parent container width. For eg: please take a look at this: https://stackblitz.com/edit/clarity-light-theme-v11-a3svpb?file=app/app.component.css

I have wrapped the above tooltip in a container which is inline-block and has a smaller width. In that case, the tooltip does not behave the same way as expected. This is one of the reasons why we wanted to provide

[2018-07-11 14:55] #2375 closed

[2018-07-11 15:47] #2438 closed

[2018-07-11 15:58] #1274 closed

[2018-07-11 16:55] mathisscott commented on #2396
Hi @bashibozuk

Sorry this has taken me a bit to get back to you. This week we've had a dozen fires and I'm only one fireman.

I've reviewed your video and see what you're describing. The problem is that we don't know if this is a bug introduced by stackblitz or not. We have to look into it. Again, see fires vs. firemen.

I'm attaching a video of the modal in our kitchen sink app. It doesn't show

[2018-07-11 17:42] syndesis commented on #1057
Sorry, state should be the argument for debounce.  I updated the code above to reflect that.  `timer` and `empty` come from rxjs 6:

`import { timer, EMPTY } from 'rxjs';`

[2018-07-11 18:00] mollyyee opened #2452 "Accordion Component (new)"
[code]

## Description
An accordion is a set of vertically stacked panels that expand to reveal content related to its panel.

![static](https://user-images.githubusercontent.com/16811152/42589557-38e422ce-84f6-11e8-9f9a-941d3a7ceb7e.png)

## States

**Hover/Focus**
Each panel will serve as a click target for expanding content.
![hover active](https://user-images.githubusercontent.com/16811152/425

[2018-07-11 19:10] dhanunjaya commented on #186
Hey there! did anyone implemented the above search design?

[2018-07-11 19:17] gnomeontherun commented on #186
There has been no change in implementation status for Clarity.

[2018-07-11 19:28] gnomeontherun commented on #2400
Our focus trap has a limitation currently. When the focus trap is setup on the modal, we listen for the `document:focusin` event (not specifically for tab or shift+tab key events), and when it is detected we check if the newly focused item is part of the focus trap element (ie the modal), we always reset it to focus on the modal itself. This makes sense as long as you are progressing down the page

[2018-07-11 20:20] youdz commented on #2400
@gnomeontherun did not explain **why** we use `document.focusin` here, and I would understand if the first intuition of people reading this was "Just list to Tab or Shift+Tab keys!".

The problem is that not all devices use Tab to move focus around, so doing so would break the focus trap on these devices. Here is a quote from [MDN's documentation on accessibility](https://developer.mozilla.org/en-

[2018-07-11 21:12] gnomeontherun commented on #2396
The workaround for this is to not allow the modal to be the last content of the page, instead put it at the top of the page. The issue only happens when the modal is the last element of the page that can be tabbed into, and our focus trap doesn't kick in here. The wizard should work find with the same workaround.

This is related to #2400 and could be fixed in the same basic way. Since we only cat

[2018-07-11 21:52] hippee-lee commented on #2431
Recommendations for ARIA attributes on the `ClrDatagrid` component

## Easy Additions
- Add role="grid" to the `clr-datagrid` component
- Add role="row" to the `clr-dg-row` component
- Add role="columnheader" to the `clr-dg-column` component
- Add role="gridcell" to the `clr-dg-cell` component

## Complex Additions
- Add `aria-tabindex` to cells to enable arrow key navigation
- Add `aria-rowindex`

[2018-07-12 05:40] Rush commented on #2442
So at least for me the fix was to import the contents of _dependencies except for `@import 'bootstrap/scss/normalize';`

[2018-07-12 05:52] chuduyunhuan commented on #1057
Yeah, it works well, thanks a lot.

[2018-07-12 09:36] ttsvetko opened #2454 "Scrollbar appears when the last column of the datagrid is hidden"
[code]

### Expected behavior

There should be no scrollbar when datagrid fits in its parent container.

### Actual behavior

Although the datagrid fits perfectly, there is a scrollbar because the last column of the datagrid is hidden by default.

### Reproduction of behavior

  https://stackblitz.com/edit/clarity-dark-theme-v11-exxkms

### Environment details

* **Angular version:** 5.2.1

* **Cl

[2018-07-12 11:05] dkanev commented on #2429
@adityarb88, @mathisscott
Is it possible this to be merge in 0.11.x version of clarity?
Thanks!

[2018-07-12 12:17] youdz commented on #2454
This is a duplicate of #1248, please subscribe to that issue for updates. It might be fixed when our current work on the datagrid's rendering engine lands.

[2018-07-12 12:17] #2454 closed

[2018-07-12 12:19] adityarb88 commented on #2429
Yes. This change will be merged in both 0.11 and 0.12

[2018-07-12 15:54] mathisscott commented on #2431
I've spent the morning with screenreaders and the easy additions above are sufficient to enable arrow-key up/down navigation in screenreaders as well as row and column counts.

I think this is sufficient (for now) to address concerns with datagrids and screenreaders.

It would be nice to break this item up into the easy additions and then putting the other two categories into another issue. If the

[2018-07-12 16:58] #2390 closed

[2018-07-12 17:39] youdz commented on #2431
I just read this, we also need to use the `rowgroup` role, and potentially the `aria-owns` attribute to link everything together. Thanks Matt for posting this. 👍

[2018-07-12 17:40] gondomar commented on #2361
I've updated clarity to v0.12.4 and I'm not seeing this working.
Currently have:
<clr-datagrid>
...
   <clr-dg-footer>
      <clr-dg-pagination></clr-dg-pagination>
   <clr-dg-footer>
<clr-datagrid>

Am I missing something?

[2018-07-12 18:39] mathisscott commented on #2361
Hi @gondomar
We've finished the _design_ and UX of pagination but have not implemented it yet.

It will be a while before this shows up in the datagrid. If you have an immediate need for it, I'd love to hear the use case. It will help us in our prioritization after 1.0.

[2018-07-12 18:40] gnomeontherun commented on #2361
Please see https://vmware.github.io/clarity/documentation/v0.12/datagrid/pagination for current pagination details.

[2018-07-12 19:14] javierfz1980 opened #2455 "Datagrid with actions inside an iframe overlaps columns"
**Select one ...** (check one with "x")

[code]

### Expected behavior

When the Datagrid is running inside an iframe and if it has enabled <clr-dg-action-overflow> it should auto fix columns width to the contents like it does when it doesn't has <clr-dg-action-overflow> enabled.

### Actual behavior

When the Datagrid is running inside an iframe and if it has enabled <clr-dg-action-overflow> it d

[2018-07-13 13:28] adityarb88 commented on #2359
@dkanev: I believe the ARIA attributes were already added by @mathisscott when he wrote the component.

Wizard Step:
![image](https://user-images.githubusercontent.com/1426805/42693981-d825b4f4-867e-11e8-9f87-b33653b92bb3.png)

![image](https://user-images.githubusercontent.com/1426805/42694023-f1f30aa8-867e-11e8-8ef2-42978770bac4.png)

Wizard Page:
![image](https://user-images.githubusercontent.c

[2018-07-13 13:32] combine13 opened #2456 "Extra scrollbar appears for no reason in datagrid if the last column is hidden"
[code]

### Expected behavior
This extra scrollbar is useless and should not appear there if the last column is hidden.

### Actual behavior
When you have datagrid (clr-datagrid) if the last column is hidden, a horizontal scrollbar appears under the datagrid. The scrollbar is useless and can be moved just a little bit.

### Reproduction of behavior
See the attached file - clarity.txt - there is wo

[2018-07-13 20:16] youdz opened #2458 "Export the structural directives from the main index"
**Select one ...** (check one with "x")

[code]

### Expected behavior

I should be able to:
[code]

### Actual behavior

Our structural directives like `clrIfActive` and `clrIfOpen` are exported from their local folder's index, but not re-exported from the main index.

[2018-07-13 21:01] cdxf opened #2459 "Form show scrollbar when using inside Modal"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Dont show the scrollbar

### Actual behavior

![modal](https://user-images.githubusercontent.com/6419729/42713663-6dba1104-871a-11e8-94ed-e920e1527d69.png)

### Reproduction of behavior
[code]
### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and version:**

* **Browser:** [all ]

[2018-07-13 21:05] cdxf commented on #2459
I fix it by add clr-form class into the form:
`
     <form clrForm [formGroup]="loginForm" class="clr-form clr-form-compact">`

[2018-07-13 21:05] #2459 closed

[2018-07-13 21:14] martijnmelchers opened #2460 "Glitch when opening Sidenav"
[code]

### Expected behavior
No glitch when opening the menu

### Actual behavior
![d84e53fba934ecaa5f3bd67e2 1](https://user-images.githubusercontent.com/6060006/42714094-32ffef0c-86f2-11e8-80d8-3ad5a99f4429.gif)

### Reproduction of behavior
Create a new project and add the navigation with Angular components

### Environment details

* **Angular version:** 6.0.9

* **Clarity version:** 0.12.4

[2018-07-13 21:16] gnomeontherun commented on #2460
Can you please provide a stackblitz or example for us to reproduce?

[2018-07-13 21:16] whizkidwwe1217 commented on #2460
I'm also experiencing this bug.

[2018-07-13 21:17] gnomeontherun commented on #2456
Please provide a stackblitz with your issue isolated so we can more easily triage your issue, otherwise it takes us longer to get to it.

[2018-07-13 21:30] martijnmelchers commented on #2460
Sure! https://stackblitz.com/edit/clarity-light-theme-v11-otmuux

[2018-07-13 23:39] venilnoronha opened #2462 "Alert doesn't reappear"
**Select one ...** (check one with "x")

[code]

### Expected behavior

The following snippet should show an alert whenever the selected element's `starships` count is 0.

[code]

### Actual behavior
The alert shows up initially; however, once the alert is closed via the X button, it doesn't reappear even if it's re-selected after selecting a bunch of other elements.

### Reproduction of behavior

[2018-07-14 00:44] gnomeontherun commented on #2460
Thanks, can confirm this on Chrome (but not Safari or Firefox) and also see it on our docs. We haven't made changes to this recently, so I'm wondering if it is something to do with the animations library, a recent Chrome change.

https://vmware.github.io/clarity/documentation/v0.12/vertical-nav/nav-groups/fire/charizard

[2018-07-14 01:06] gnomeontherun commented on #2462
The alert doesn't open again because its not truly destroyed. The issue is around the *ngIf logic. Since it looks only at the `selected.starships.length` property, it doesn't really understand when the `selected`value changes. So if you close an alert, and select another option that doesn't have a starship, the alert remains closed because it hasn't been fully recycled (in other words, the content

[2018-07-14 01:06] #2462 closed

[2018-07-14 04:48] venilnoronha commented on #2462
@gnomeontherun thanks for the explanation!

[2018-07-14 06:12] CarreraPHP opened #2463 "Need Colspan(Summary Row) support in the Datagrid."
**Select one ...** (check one with "x")

[code]

### Expected behavior

Need Colspan support in the Datagrid.

- If i can submit a PR Request for the same, need some guides as to how i can implement it,
- What all should i take into account.
- For instance, I believe, to implement colspan support on grid, i need to also handle column resizing as well.
- If for any reason, colspan was not implement

[2018-07-14 06:21] isawk commented on #2437
Clarity version 0.12.3-patch.2 and 0.12.4

Build with ng -prod produces a series of warnings (see below) an fails
during runtime with this error

Uncaught TypeError: t is not a constructor
    at main.5ef8cd25f7f3edd41c08.js:1
    at zo (main.5ef8cd25f7f3edd41c08.js:1)
    at main.5ef8cd25f7f3edd41c08.js:1
    at new e (main.5ef8cd25f7f3edd41c08.js:1)
    at Object.Zo [as createNgModuleRef] (main.

[2018-07-14 09:36] martijnmelchers commented on #2460
I tested it on Firefox too but it's only chrome that seems to be having this issue.

[2018-07-14 12:15] m-tomczyk commented on #2418
Related/duplicated issues for this change: https://github.com/vmware/clarity/issues/1856 https://github.com/vmware/clarity/issues/2117 and https://github.com/vmware/clarity/issues/2204#issuecomment-383210477

[2018-07-14 17:50] daverickdunn commented on #2322
Just wanna add that without this, I imagine the date picker is redundant in the majority of use cases, certainly in terms of having to add more packages.

In other words, if I'm gonna add a standalone package for picking a date + time, I'm not going to use the date picker from Clarity and the time picker from package X - I'm just going to use package X.

@reddolan Is the design in https://github.c

[2018-07-15 10:12] Physium opened #2464 "Bug with Header Example Code in clarity v12"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Expected behavior is as shown in the example of the clarity site.

![screen shot 2018-07-15 at 6 01 59 pm](https://user-images.githubusercontent.com/7604837/42732751-445366fe-8859-11e8-8af0-3b1395496a5a.png)

### Actual behavior

Sample code provided does not seem to work with the button showing up with missing CSS.

<img widt

[2018-07-16 03:08] GaryHyland opened #2465 "Prod build warnings with clr 0.12.4"
**Select one ...** (check one with "x")

[code]

### Expected behavior

prod build without the following warnings

### Actual behavior

upgraded to clr 0.12.4 via
npm install --save @clr/angular@latest
npm install --save @clr/ui@latest
npm install --save @clr/icons@latest

Then do a ng build --prod to check form any warnings, etc and the following show up. The app still seems to run fine but unsur

[2018-07-16 12:35] gnomeontherun commented on #2465
Can you reproduce this and share a github repo with it? Doing a fresh install doesn't have this error from my testing, unless there is something special you are doing. I presume you are trying to use the new textarea right?

[2018-07-16 12:54] gnomeontherun commented on #2463
This is a major feature request, since we don't use tables under the hood. I think for this request to carry weight, we need more details about _why_ its a useful feature and use cases.

[2018-07-16 12:56] gnomeontherun commented on #2464
You are using the Angular component outside of Angular, this will not work. If you are trying to use just the Clarity styles, then do not use the Angular components and only use the components that support CSS directly. Closing as this is not a bug but implementation issue.

[2018-07-16 12:56] #2464 closed

[2018-07-16 13:31] RobArbor opened #2466 "Layout issue progress bar card IE 11"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Progress bar should be displayed correctly in a card

### Actual behavior

Progress bar isn't displayed correctly

### Reproduction of behavior

Note can only be reproduced with Internet Explorer.

https://stackblitz.com/edit/clarity-light-theme-v012-3ux5ga

### Environment details

* **Angular version:** 6.0.4

* **Clarity ve

[2018-07-16 13:45] adityarb88 commented on #2466
@RobArbor: Can you post an image as to what you are seeing on IE11? I couldn't get the StackBlitz to open on IE11 but our website documentation (Progress Bars in Cards)

https://vmware.github.io/clarity/documentation/v0.12/cards

[2018-07-16 13:56] Itay777 commented on #1400
Hi @mathisscott,
I can see this bug is still on hold, do you know when it will be fixed?
this component has stopped working as expected since our last clarity upgrade,
and we need it to work before our incoming release.
Thanks in advance.

[2018-07-16 14:38] RobArbor commented on #2466
![ie11_issue](https://user-images.githubusercontent.com/18066581/42764612-5a254b60-8916-11e8-9e1c-266a4b8ff048.png)

[2018-07-16 14:43] adityarb88 commented on #2466
@RobArbor: Please try this link: https://stackblitz.com/edit/clarity-light-theme-v012-qupq1v?file=src/app/app.component.html on IE11

You need to use `attr.value` and `attr.max` for it to work on IE. I believe this should solve your issue.

Please let us know if it doesn't

[2018-07-16 14:43] #2466 closed

[2018-07-16 15:03] RobArbor commented on #2466
Thanks for the help.

Swapping the attributes fixed my issue
`<progress [max]="100" [value]="70"></progress>`
strange behaviour of IE... 😕

looks related
https://github.com/angular/angular/issues/24001

[2018-07-16 15:23] RNACode commented on #248
+1

[2018-07-16 15:58] #2458 closed

[2018-07-16 18:20] reddolan commented on #2322
@daverickdunn there is a Date Range feature on #474. The request here is for a design/experience around a time range, which we didn't cover in #474. Teams could just set up to side by side time-form controls to adapt this idea. However, there may be a more valuable experience to having one unified control to manage this.

[2018-07-17 04:51] GaryHyland opened #2468 "New Forms Documentation and Usage"
**Select one ...** (check one with "x")

[code]

### Expected behavior

Probably mostly documentation but wanted somewhere to capture some points as I start tackling clrForm in clr 0.12.4
- clrForm will issue indexOf errors in console for any label outside of clr-input-container. I (incorrectly really) have used label elements for some headings -which I will amend. A note possibly on strictly usin

[2018-07-17 05:40] Itay777 commented on #1400
Yes, this component is very useful in our project, we are using it to filter documents by status.
The release is scheduled to beginning of august, we will really appreciate your help by fixing this bug soon.
Thanks @mathisscott & @jeeyun !

[2018-07-17 06:47] KANekT commented on #1400
@Itay777 Until Clarity worked on this bug - I use
https://github.com/leovo2708/ngx-treeview/tree/master/src/lib

[2018-07-17 08:06] 19Arne75 commented on #2468
Why is vertical default layout option ? I always got the impression from clarity that desktop environment should be the default mode.

[2018-07-17 12:21] 11mb commented on #2207
@sdurnov, do you already sell this?

[2018-07-17 16:33] youdz commented on #2456
Duplicate of #1248, please subscribe to that issue for updates.

[2018-07-17 16:33] #2456 closed

[2018-07-17 18:05] reddolan commented on #2322
@daverickdunn agreed. That is why we have it in the design spec on #474. It just happens to have higher priority items in front of it

[2018-07-17 19:04] gondomar commented on #2361
A few use cases:

- User filters for relevant information and needs to compare several rows of data.  Switching to another page of data makes it difficult to compare previous rows of data.  Changing viewable record count makes it possible to see more side by side.
- User's screen sizes are different and may allow for a larger set of data to be displayed between devices.  Makes see similar data on

[2018-07-17 21:00] mathisscott commented on #2361
Hi @gondomar
Thanks for the details. Pagination is in our queue. It's a priority for us because it is blocking a couple of other key issues/components we are looking to implement. It is not something we are currently working on but I can say with confidence that it is under consideration for our next batch of work later this year.

[2018-07-18 00:25] sdurnov commented on #2207
@11mb, gonna finish library in a week or so

[2018-07-18 08:12] jayapalapm commented on #248
Any idea when will this feature available?

[2018-07-18 08:51] GaryHyland commented on #2465
Hmm.. Tried various step backs in versions. The "ng build --prod" errors above do not happen for 0.12.0, but happen for 0.12.4 and 0.12.3-patch.2. Can try other versions possibly if it would help to nail down but pretty hammered just now. Will hold off until 0.13 I figure and try again unless a good reason to update.
Appreciate the work you are doing people... Awesome product..  ;o)
Happy to close

[2018-07-18 12:00] dennitsa commented on #2005
Hello, is this component planned for a particular release already? We have some pending designs based on it and I would like to find out if we should wait for it or use alternative approach :)

[2018-07-18 13:18] gnomeontherun commented on #2465
New things have been introduced since 0.12.0, notably the textarea component. If you are having an issue, then I need more details about how to reproduce it so I can verify if it is an issue with Clarity or something else. I would expect that you'd see the same issues in 0.13 so if you are able to describe or demonstrate what you've done to cause it then I can debug from there.

[2018-07-18 13:40] GaryHyland commented on #2465
Yeah - I kind of figured I would really need to get a reproducible example.
I will try two approaches
- create new app from the seed and test prod build
- clone my app, upgrade, cut it back to bare basics and see whether it persists.
Not writing off that it may be my relative newby status regarding npm/node and Ng.
Will block some time out towards end of this week.
I am really wanting to use the n

[2018-07-18 13:51] GaryHyland commented on #2005
This sounds like it would probably be a better fit for core pages in my app.
I currently have 34 core set of data (tables) that have their own pages. Each has filter box at top (outside datagrid) to allow easy searching of key columns. clicking on a row then opens a large modal which has details and various tabs with further details and possibly lists.
I had been thinking of moving from modals to

[2018-07-18 14:06] gnomeontherun commented on #2468
There are a few notes here that we'll be resolving when we add the UX documentation for forms, which should be very soon. There are a few gaps due to pending development, and some things that we can improve. I'll be internalizing this list over the coming weeks and appreciate the input to help make it better!

[2018-07-18 15:07] mathisscott commented on #248
Hi @jayapalapm

Right now, we have moved Select 2 back into our prioritization queue. We will be discussing it in our next quarterly planning (probably in the next few weeks) and determine if it is something that we can pick up between August-February or if it something that will need to be pushed out past next February.

Voices from the community (including thumbsup and +1s) do factor into those

[2018-07-18 17:22] rbirkgit opened #2472 "Red asterisk on required fileds take an extra pixel"
**Select one ...** (check one with "x")

[code]

### Expected behavior

When adding the red asterisk the field should still take 24px height and the label text not move

### Actual behavior

Adding the red asterisk makes the label height 25px and the label text jumps 1px

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker T

[2018-07-18 20:14] gnomeontherun commented on #1937
Needs to consider multi-level dropdowns as well.

[2018-07-18 20:20] gnomeontherun commented on #1935
When you are focused on the last page arrow or any page number and select it, the focus leaves the datagrid because the element is removed. Is the fix the new pagination to avoid this issue or should we fix this?

[2018-07-18 20:29] gnomeontherun commented on #1923
Might be just an issue with our demo app, or the nav is after the main content (for some reason?).

[2018-07-18 20:32] gnomeontherun commented on #2155
Decided we're going to timebox this issue and accomplish what we can, probably to 2 weeks.

[2018-07-18 23:29] hippee-lee commented on #2389
@tedyoung - Two questions:
1. did you have any follow-up ideas for the documentation re-org mentioned above?
2. Were you able to integrate the `@clr/ui` into your project?

[2018-07-18 23:30] youdz commented on #999
I think it's valid, we should add a general unit test for chocolate errors on datagrids that have an `*ngIf` on it. The test should be on a datagrid that uses most features all at once.

[2018-07-18 23:30] hippee-lee commented on #2397
@emilyliuguiling - any updates on a reproduction stackblitz?

[2018-07-18 23:30] jeeyun commented on #2428
Deferring to @reddolan for UX input on whether we need to change our design on this.

[2018-07-18 23:32] mathisscott commented on #1976
This is something that would be decided based on a product's use case as some products may have more than two themes. Other products may have too many items in their header to accommodate a theme switcher and may need to place that functionality in a panel or deeper in their application's settings.

So this is not something we would make a recommendation on. If it makes sense to have theme switchi

[2018-07-18 23:32] #1976 closed

[2018-07-18 23:32] hippee-lee commented on #2399
Hi @sosharma1403 - do you have any more information to provide so we can understand the enhancement you are proposing?

[2018-07-18 23:34] hippee-lee commented on #2423
Hey @GaryHyland - will the vertical nav suggested above help you with this issue?

[2018-07-18 23:36] hippee-lee commented on #2463
Hey @CarreraPHP - did you have any additional details about your use case for colspan in datagrid?

[2018-07-18 23:38] mathisscott commented on #2245
Hi @pumano
We've updated our [contribution guidelines](https://github.com/vmware/clarity/blob/master/CONTRIBUTING.md)

This is normally something we would consider for a chart library. But I think it could make sense in our library of components as-is for now.

Let me know if you still want to contribute and I can get someone on our team to go over anything in the contribution process that is not

[2018-07-18 23:39] gnomeontherun commented on #180
There appears to be two issues with this currently. First, there is actually a bug in webkit that we suffer from here.

https://github.com/twbs/bootstrap/issues/22311
https://bugs.webkit.org/show_bug.cgi?id=153852

From preliminary research, it should be workable with Chrome (mostly) but might need some changes https://bugs.chromium.org/p/chromium/issues/detail?id=175502.

Second issue is that at

[2018-07-18 23:48] mathisscott commented on #1938
Gray badge ratio = 4.7:1
Purple badge = 4.57:1
Blue badge = 4.54:1
Green badge = 4.57:1

https://webaim.org/resources/contrastchecker/

Some colors (green and gray) have been updated since this ticket was opened. Others, I believe, were called out in error.

[2018-07-18 23:48] #1938 closed

[2018-07-18 23:50] gnomeontherun commented on #1801
We've discussed and this is largely a duplicate of #1632. It is slightly different ask, but we don't want to support multiple approaches for this problem.

[2018-07-18 23:50] #1801 closed

[2018-07-19 00:22] youdz commented on #1149
The workaround doesn't work anymore, and that's a pretty tough fix as far as I can see. Marking as more complex than expected for now, we'll have to investigate more when we start working on it.

The problem is that the overall width changes when nodes are expanded or collapsed, but I think it's doable.

[2018-07-19 06:13] GaryHyland commented on #2428
Yeah - I reckon an option to position at end of the row would also be good. For example.. I have a grid that has input fields and buttons in it on the right hand side and I also then position an action button on the right by using clr-dropdown-menu.

[2018-07-19 08:34] GaryHyland commented on #2423
Thanks. I am still reviewing the best option for me.
Good to know about the vertical nav and that it can be responsive also.
Happy to close. I will look to feedback if I do anything that may be worth sharing.

[2018-07-19 09:21] cptblues opened #2474 "DatePicker reset with Form usage"
[code]

### Expected behavior

When I use FormControl on my DatePicker field, if I apply a reset on my form, I didn't want DatePicker remember the old date. I should enter the same date as before.

### Actual behavior

When I reset my FormControl, I can't choose the same date as before. The only way I found is to use the "Two-way binding" and declare var for each datePicker and set manually "undef

[2018-07-19 09:29] superche opened #2475 "Document conditional expandable rows (wiki or Website)"
**Select one ...** (check one with "x")

[code]

### Expected behavior

I would like to request supporting conditionally disable for extendable datagrid row.

The content in row detail might be invalid for some cases.
It's better to hide the arrow and row detail for those rows.

For Example:
The arrow and row detail is hidden for the 3rd row.
![screen shot 2018-07-19 at 5 09 26 pm](https://user-im

[2018-07-19 15:29] jmcmichael commented on #248
+1

You may want to create a separate comment for voting as thumbs up/down on the above comment is ambiguous - 'down' could mean 'waaah why is this taking two years?!' or 'I don't need this feature'

As an emergency solution, perhaps it would makes sense to temporarily lean on another ng select2 component, by skinning it to fit in w/ ClarityUI's theme. Honestly I now need to do this myself as I ha

[2018-07-19 17:16] youdz commented on #253
Ok, we will address this soon.

For now, the plan is to simply publicly expose the list of displayed items and the list of all filtered items (in sort order) on the Datagrid itself. These will then be easy to access with `@ViewChild` or dependency injection.

[2018-07-19 21:48] gondomar opened #2477 "Clarity DataGrid dynamically Selected UI not working"
[code]

### Expected behavior

With 2 way binding, I expect to set the "selected" variable and see the update in the datagrid

### Actual behavior

In the Stackblitz example, the "Selected" string changes when you manually select an item and it also changes when you programmatically change the value (button), but the UI doesn't update to reflect that change.  I'm not sure if this is similar to iss

[2018-07-20 14:28] jensenmensen opened #2478 "Progress colors for warning and danger mixed up"
[code]

### Expected behavior

If I declare separate colors for progress bar warning and danger in a theme, actually use these colors.

### Actual behavior

Colors for warning and danger are mixed up. Wrong code is in lines 99-100 in _progress-bar.clarity.scss.

### Environment details

* **Angular version:** 6.x.x

* **Clarity version:** 0.12.4

* **OS and version:** Windows 7

* **Browser:** Chr

[2018-07-20 14:47] mathisscott commented on #2478
Hi @jensenmensen
If you are looking to customize the colors for progress bars in a Clarity-based app, I would recommend just overriding the existing ones with CSS.

I wouldn't recommend rebuilding the Clarity SASS into CSS unless you're doing something dramatically different in theming. I haven't drilled down into why that wouldn't work though. Could you provide more details on how and what you're

[2018-07-20 14:54] jensenmensen commented on #2478
Hi @mathisscott
I'm just creating a theme for our app and have overriden $clr-progress-danger-color and $clr-progress-warning-color. But because of the mixup in _progress-bar.clarity.scss they get assigned to the wrong css classes.

[2018-07-20 14:59] mathisscott commented on #2478
Oh I see. I also see that we are defining those variables without a `!default` designation. So it's really anyone's guess if an override happens predictably.

I move this into our backlog and try to get a fix for it for the next release.

[2018-07-20 16:20] #2358 closed

[2018-07-20 17:22] youdz commented on #2474
The description of the bug is a bit vague, could you please post a StackBlitz reproducing the issue? Here is a link to our standard StackBlitz: https://stackblitz.com/edit/clarity-light-theme-v012
Thank you.