[2020-12-01 15:04] mathisscott commented on #5332
You could put `cursor: pointer` inside that style block if you want

[2020-12-01 15:07] astorije commented on #5332
Right, that would address links, but that means we need to manually set it for every icon out there, right? As in there is no way to inherit the cursor of the surrounding block. Is that correct?
You can see that on the second example of https://stackblitz.com/edit/react-ts-nizyzw

[2020-12-01 15:12] mathisscott commented on #5332
@astorije
I updated the stackblitz to demo it better. https://stackblitz.com/edit/react-ts-kpt22u?file=index.tsx

You can inherit the cursor of the surrounding block.

[2020-12-01 15:15] mathisscott commented on #5332
@Shijir
I'm sending this your way because you're already working on Vol 18 icons. Please take a look at the stackblitz (https://stackblitz.com/edit/react-ts-kpt22u?file=index.tsx). It shows the use case of this issue and dips into the fixes required. You may want to set `--color` to `currentColor` instead of hard-coding it like I did though.

CC: @coryrylan

[2020-12-01 23:36] gnomeontherun commented on #800
The ask is to have a link like `https://clarity.design/icons#angle` to enable linking to the documentation of a specific icon, not to the SVG download.

[2020-12-01 23:47] hippee-lee commented on #800
This can be done. The website components for icons will need to be re-worked so that they can use anchor links to update the url when an icon detail is expanded.

[2020-12-02 00:55] astorije commented on #5332
This is really great, thank you so much @mathisscott et al.

I confirm that setting the following in a global CSS stylesheet fixes all our issues, and indeed it would be really great if the base component included this:

[code]

[2020-12-02 00:57] astorije commented on #5332
Actually, I realize that I am using `--color: currentColor` locally and not `fill: currentColor` which avoids the need for the `!important` in the example.

[2020-12-02 07:09] MeghnathDas commented on #4553
Thanks for your reply.
Here are the points:

- Since the tab headers have some size, it would be great if the size can be calculated respected to parent container's width and determine if the tab headers are going to be overflown. So the minimum size should be dynamically calculated as per the available parent width.

- A three-dot menu can be shown at the right to indicate the overflow(hidden) it

[2020-12-02 07:42] lf-collins opened #5346 "Apply a role="region" to datagrid filter pop-up container along with a meaningful label."
## Describe the accessibility issue

We got a report from AccessLevel where they note that role="region" should be applied to datagrid filter pop-up container along with a meaningful label.

## WCAG Guideline

[Issue - WCAG20]
The datagrid filter pop-ups do not have an appropriate role and label to denote the boundaries of the pop-up.
[Impact]
Screen reader users will have difficulty identifying w

[2020-12-02 11:09] gerneck opened #5348 "Icon for timeline-view"
## Summary

The purpose of the icon is to indicate the switch to a timeline-view. The same is currently possible with the icons view-list, view-cards and tree-view.

## Use case

Switching between different representation of same data.

## Examples

A similar icon is the tree-view icon. But the timeline-view icon should be without indention.

## Alternatives

[2020-12-02 13:15] bbogdanov commented on #5348
@lil-kim Can you please take a look at this one?

[2020-12-02 15:47] mathisscott commented on #5332
@astorije : yep, that's how we'd do it to fix it in the code too. if you're up for another contribution.... 😊

[2020-12-02 15:48] astorije commented on #5332
Absolutely! I will open a PR today :)

[2020-12-02 16:30] gnomeontherun commented on #5235
Will be fixed by #5345.

[2020-12-02 16:30] #5235 closed, assigned to nobody

[2020-12-02 17:13] lil-kim commented on #5348
Hi @gerneck
Would you please attach an image of what the timeline looks like? A google image will suffice. Thank you.

[2020-12-02 17:15] gnomeontherun commented on #5346
@scroniser is this valid or is it captured already in our list?

[2020-12-02 17:20] #5101 closed

[2020-12-02 20:12] gerneck commented on #5348
It should give a hint what I can expect when switching to a view which uses the Clarity Timeline Component

Clarity Timeline Component
![Clarity Timeline](https://user-images.githubusercontent.com/75367966/100925820-d1150100-34e2-11eb-9c6b-8a6b4f41be37.png)

Suggestions
![Timeline icon proposal 1](https://user-images.githubusercontent.com/75367966/100925945-fbff5500-34e2-11eb-89e7-932c2e44fdbc.png

[2020-12-02 20:31] karan-kang opened #5351 "Date-picker control: Support for work week numbers"
## Summary

It would be great if the date picker control can support showing the work week number in the left most column for ease selection.

- What is the change?
Adding an extra column (leftmost) in each row.
- Why should it go in Clarity?
Most line of business applications use work weeks for scheduling, so this would make the date picker more complete.
- Does this change impact existing behavi

[2020-12-02 21:07] tran2 opened #5352 "Detail pane toggle icon grayed out after row update"
## Describe the bug

After row update, the toggle icon is no longer blue.

## How to reproduce

https://stackblitz.com/edit/clarity-v406-detail-pane-refresh?file=src%2Fapp%2Fapp.component.ts

Steps to reproduce the behavior:

1.  Go to the stackblitz https://stackblitz.com/edit/clarity-v406-detail-pane-refresh?file=src%2Fapp%2Fapp.component.ts
2. Click on >> open detail pane
3. Click on Load New D

[2020-12-02 22:55] astorije opened #5355 "Flipping an icon seems to not be working"
## Describe the bug

It seems the `flip` attribute of the Clarity Core `cds-icon` element has no effect on the `next` branch.

<img width="221" alt="Screen Shot 2020-12-02 at 3 50 01 PM" src="https://user-images.githubusercontent.com/113730/100940665-60f88200-34c6-11eb-8d1e-903e8ebd3047.png">

## How to reproduce

I did not do any research or anything, just came across this when running the latest

[2020-12-02 23:08] astorije opened #5356 "Node.js v14 support"
Node.js v14 [is the currently Active LTS](https://nodejs.org/en/about/releases/). I have been running it locally for some time now, and did not experience any issue with it while working on #5353.
The only 2 things I have noticed:

- `engines.node` in `package.json` needs to be updated from `">=12 <13"` to `"^12 || ^14"`
- There is an error popping up when running `yarn install` related to `node-g

[2020-12-02 23:19] mathisscott commented on #5355
Thanks for the report, @astorije. We will take a look at it.

[2020-12-03 07:20] akate1 opened #5357 "Datalist changes width when focused"
## Describe the bug

Datalist is changing its width when focused.

## How to reproduce
Steps to reproduce the behavior:

1.  Go to https://clarity.design/documentation/datalist#examples
2.  Go to basic example or any other example
3.  Click inside datalist or type anything in datalist
4.  See the changing width of datalist

## Expected behavior

Datalist width should not change on focus

## Versio

[2020-12-03 08:37] WhiteLord opened #5358 "Signpost content cut off when signpost present in a stack view label"
## Bug description

Long signpost content is being cut off, when the signpost is present in a stack view label, or content, in that matter.

## How to reproduce

1. Use the example stack view on [Clarity website](https://clarity.design/documentation/stack-view)
2. Add a basic [singpost](https://clarity.design/documentation/signposts) in the `<clr-stack-label>`
3. Add a new paragraph to the signpos

[2020-12-03 11:33] Dreamerset opened #5360 "Datagrid Detail Pane used in Modal -> Close button missing."
## Describe the bug
Detail pane close button on top right corner is missing.

## How to reproduce

Implement Datagrid with Details Pane enabled component in modal screen.

Steps to reproduce the behavior:

1.  Go to modal with Datagrid and Detail Pane.
2.  Click on '>>' to open details for random row from the grid.
3.  See if "x" closing detail pane button is present.

## Expected behavior

Detail

[2020-12-03 14:03] bdryanovski commented on #5360
Hey @Dreamerset can you provide a reproducible Stackblitz demo - I can't reproduce your issue locally

[2020-12-03 14:10] bdryanovski commented on #5357
@akate1 thanks for reporting this, we have opened an issue related to this #5269

So I'm closing this one in its favor

[2020-12-03 14:10] #5357 closed, assigned to nobody

[2020-12-04 00:20] RockLikeAmadeus opened #5361 "Combobox auto-complete list doesn't reset itself when losing focus"
I'm using a combobox control in a pretty typical way. As expected, when I start typing in the text entry field of the dropdown, the dropdown list narrows itself to items which match my search criteria.

But if I click the focus away from the combobox, or close the modal dialog which contains the combobox, even though the text entry is emptied, the dropdown list still seems to be filtered by my mos

[2020-12-04 00:42] scroniser commented on #5346
@gnomeontherun, this is already on [our list](http://a11y.vmware.com/reporting/viewInstance.php?&table=clarityangular_v4_092420&id=216).

[2020-12-04 14:21] VladimirAnaniev opened #5364 "Combobox popover is not repositioned after selection"
## Describe the bug

Now that the Multi Combobox popover is not closed after each selection, if we select or deselect many items and new rows are added to the input field, the combobox is not being moved and starts covering the content or is left detached from the field.

## How to reproduce

https://stackblitz.com/edit/combobox-popover-not-repositioned

Steps to reproduce the behavior:

1.  Resiz

[2020-12-04 19:27] maurerke opened #5365 "Dark Theme build (clr-ui-dark.css) does not expose CSS custom properties"
## Describe the bug

I dynamically add the @clr/ui/clr-ui.css and @clr/ui/clr-ui-dark.css stylesheets to the application, so the user can switch the theme. This works great and witout any issue. However, I started to use the css variables that clarity exposes to style custom components in order to fit the clarity theme. I also wanted to do this, so the theme switch also works for my custom compone

[2020-12-04 20:28] mathisscott commented on #5365
@maurerke
You are correct that the compiled dark theme CSS doesn't expose the CSS custom properties. [the line of code that blocks that is here](https://github.com/vmware/clarity/blob/8b0b27e6386385199e53c4c9dc5ba46315dd0754/packages/angular/projects/clr-angular/src/utils/_theme.dark.clarity.scss#L35).

You'll notice that the theme is set up use SCSS variables as well. When we introduced custom pr

[2020-12-04 20:44] mathisscott commented on #5352
The datagrid isn't set up to preserve state across actions like reloading data. The expected behavior would be for the detail pane to close when new data is loaded into the datagrid.

[Here is a stackblitz](https://stackblitz.com/edit/clarity-v406-detail-pane-refresh-y8t9ye?file=src%2Fapp%2Fapp.component.ts) that demonstrates how that can be accomplished.

[2020-12-04 20:44] #5352 closed, assigned to nobody

[2020-12-04 21:06] mathisscott commented on #5361
@alhampton9
I've [tried reproducing this and cannot](https://stackblitz.com/edit/clarity-v4-light-theme-3j2x11?file=src%2Fapp%2Fapp.component.html). Can you make a reproduction?

[2020-12-04 21:09] #5346 closed, assigned to nobody

[2020-12-04 23:29] bcallaghan-et opened #5366 "Icons within timeline content are incorrectly sized"
When placing an icon within the title or description of a timeline step, the icon inherits the same size as the step's main icon. This is unintuitive and makes styling icons within the content difficult if not impossible. I can reproduce this behavior in a [Stackblitz](https://stackblitz.com/edit/clarity-v4-timeline-icons?file=src/app/app.component.html). All four icons in this sample are supposed

[2020-12-04 23:53] tran2 commented on #5352
@mathisscott thank you for the stackblitz, I ran into this issue while trying out the detail pane closing:

1. Open detail pane for id 3
2. Filter for 4 from the string filter
3. See that detail pane is closed and only 4 is being shown
4. Click on the toggle to see detail pane for 4
5. Clear filter
6. Now filter again for 3
7. See that there's an error in the console
![image](https://user-images.g

[2020-12-05 09:34] dorthrithil opened #5367 "Future of Clarity Angular"
I see that you are putting a lot of work in Clarity core which is awesome. At the same time I see that first bug reports are getting closed as wontfix because of the move to core (e.g. https://github.com/vmware/clarity/issues/5299).
In a [blog post](https://medium.com/claritydesignsystem/clarity-core-72f6d3a029bc) I read that core will not fully include any components that require complex datamana

[2020-12-05 09:41] maurerke commented on #5365
@mathisscott
Thank you for your prompt reply!
I will try to compile it, test it and report back.

I found this (which was linked in the docs): https://github.com/mathisscott/clarity-theming-starter/blob/clarity-css-dark-theme-switcher/src/dark-theme.css

Was this file generated somehow or just a proof of concept?

Thanks!

[2020-12-07 07:17] #5367 closed

[2020-12-07 09:44] Dreamerset commented on #5360
Excuse the delay.
Couldn't reproduce it either in Stackblitz - https://clarity-datagrid-in-modal.stackblitz.io/
Must be local setup issue to find.

[2020-12-07 09:44] #5360 closed, assigned to nobody

[2020-12-07 12:55] Jinnie commented on #800
If it's not really hard, we should consider it in the new site.
Or close this issue, if we don't want to do it.

[2020-12-07 14:20] bdryanovski commented on #5366
@bcallaghan-et  thanks for reporting this, we gonna need some time to investigate the issue I manage to reproduce it so it's a valid issue, keep in mind that in December we will be with limited staff for the holidays, so it could take a little bit more.

[2020-12-07 14:47] bdryanovski commented on #5339
@iivanovgit thanks for reporting it. We gonna take a look at it.

[2020-12-07 15:53] mathisscott commented on #5365
@maurerke
That was a proof of concept. It is a good starting point and may be all you need. Thanks for tracking it down. I had forgotten about it.

[2020-12-07 16:16] RockLikeAmadeus commented on #5361
Thanks Scott, sure thing, when I get a moment in the next couple of days
I'll put one together.

-Alec

On Fri, Dec 4, 2020 at 2:06 PM Scott Mathis <notifications@github.com>
wrote:

[2020-12-07 16:42] hippee-lee commented on #800
It should stay open, it has the proper labels: website enhancement that is low priority.

[2020-12-07 16:58] hippee-lee commented on #5366
Hi Ben, it looks like this is an issue with min width/height set for timeline main step icon. I forget why I added that so as Bozhidar mentioned we need to investigate to see if we can make the css more specific.

Until then, I came up with a workaround [here](https://stackblitz.com/edit/gh-5366-icon-size-in-timeline?file=src/app/app.component.html). What it does is unset the min height/width for

[2020-12-07 20:48] xlucvvs commented on #5342
same issue here

[2020-12-07 21:18] hippee-lee commented on #5342
It sounds like the issue here is when a datagrid is not placed inside the `.content-area` as described in the [application layout ](https://clarity.design/documentation/app-layout)docs.

We recommend putting the datagrid inside that container to get proper style and behavior. If this isn't possible please create an isolated reproduction and give us as much details for the use case that forces the

[2020-12-07 21:22] gnomeontherun commented on #3665
A major fix to help speed up performance has been added, and together with the ability to disable the animations on the app side when necessary, we expect this to be resolved. Closing as shipped in v3 and v4, and if issues remain please create additional examples with the latest versions to review.

[2020-12-07 21:22] #3665 closed

[2020-12-08 09:22] Jinnie commented on #5364
Not sure if this can be addressed with the current smart popovers design. But it's worth investigating if it's possible to retrigger the layouting process with the container-provided offset, which now only happens on init.

[2020-12-08 10:00] Jinnie commented on #5361
Probably related to this: https://github.com/vmware/clarity/issues/5275
Which was fixed 2 releases ago, I think.
Make sure you're using the latest release for the Clarity version you use.

[2020-12-08 10:03] Jinnie commented on #5361
I reproduced it on the website, with the "My State" single-selection demo. I guess we're clearing the input on blur but not clearing the selection model.

[2020-12-08 11:23] nishant-gh opened #5368 "Undesired submit call on collapse of stepper step"
## Describe the bug

I'm using stepper example from doc (the reactive forms one). When all steps have been completed the submit callback fires as expected. Although at this state if you try to expand and collapse any step it fires again. This is undesired as one would normally want to invoke the submit handler only when the submit button in clicked. Invocation of the handler in any other case like

[2020-12-08 12:49] bbogdanov commented on #5368
Hi @hthserhs! Thank you for sharing this with us!

After some investigation I see that even when the stepper is completed and panel is closing [this function](https://github.com/vmware/clarity/blob/10c6b32161938f19255084801e537e71667f93b0/packages/angular/projects/clr-angular/src/accordion/stepper/stepper.ts#L81) is still executed and it triggers the form to submit again. I'll investigate further

[2020-12-08 13:11] bbogdanov commented on #5335
@astorije Thank you once again for the great contribution!

[2020-12-08 13:11] #5335 closed, assigned to nobody

[2020-12-08 13:36] iivanovgit opened #5369 "Can't navigate through clr-tabs with keyboard Arrows"
## Describe the bug
Can't navigate through clr-tabs with keyboard Arrows.

On initial load, when we set the focus on the active tab and try to navigate with keyboard arrows to focus the next one we receive an error which prevents any farther focus actions by receiving the following error:

ERROR TypeError: Cannot read property 'nativeElement' of undefined
    at ClrKeyFocus.get (key-focus.ts:78)

[2020-12-08 13:43] xlucvvs commented on #5342
https://stackblitz.com/edit/clarity-v4-light-theme-fakdmw? the code is something like this

[2020-12-08 14:54] bdryanovski commented on #5369
@iivanovgit thanks for reporting this we gonna take a look at it, it seems like a bug but more investigation is needed. Taking into consideration that there are a lot of holidays this days it could take some time.

[2020-12-08 14:59] #5332 closed, assigned to nobody

[2020-12-08 17:55] astorije commented on #5335
My pleasure! Do you have any sense of when it will be available in a release?

[2020-12-08 17:56] mathisscott commented on #5335
@astorije
It's merged into next so it will be released with the next 5.0 release

[2020-12-08 18:07] astorije commented on #5335
Perfect, thank you!

[2020-12-08 18:09] bcallaghan-et commented on #5366
@hippee-lee That workaround mostly works for me. I added the following CSS to the root of my project, and it seems to work well. I had to re-add the height and width of alert-icons to restore their normal look, and there's probably other components that are similarly affected.
[code]

Looking over the [source](https://github.com/vmware/clarity/blob/next/packages/angular/projects/clr-angular/src/ti

[2020-12-08 19:07] hippee-lee commented on #5342
That stackblitz isn't running for me, even if I disable Ivy.
[Here is a forked version](https://stackblitz.com/edit/gh-5342-datagrid-scrolling-issue-report) that disables ivy and gets around the ngcc issue in stackblitz. Please update it to compile and run without errors so that I can take a look.

[2020-12-08 19:10] hippee-lee commented on #5366
I believe they were intended to work with the timeline icons but this component came from an external contributor so I'm not 100% sure. Yeah, the fix is likely to increase the specificity of the css.

Thanks for finding and reporting this.

[2020-12-09 07:00] asychikov commented on #5344
also there is the following problem when using modals

**How to reproduce**

https://stackblitz.com/edit/clarity-v4-dark-theme-mtec8m?file=src/app/app.component.html

![5344_2](https://user-images.githubusercontent.com/15362165/101595667-ce476e00-3a04-11eb-9c3a-eaceecec5ed7.gif)

[2020-12-09 12:40] bbogdanov commented on #5368
I got the root of the issue.

[Expected behavior example](https://stackblitz.com/edit/clarity-v4-light-theme-gfcmev?file=src/app/stepper/stepper.component.html)

Quick summary of the example:

- Removing `(ngSubmit)="submit()"` from the form
- Applying a click event to the submit button `(click)="submit()"`

When you submit a stepper you would reset it after that. Closing this as a non Clarity iss

[2020-12-09 12:40] #5368 closed, assigned to bbogdanov

[2020-12-09 12:45] xlucvvs commented on #5342
so sorry @hippee-lee, u can see the issue here: https://stackblitz.com/edit/gh-5342-datagrid-scrolling-issue-report-9x6f2g

[2020-12-09 17:56] d-m-s commented on #5273
can you give us a little more info about *when* this will start to be implemented?
or if *some form of contribution* could speed up the process?

[2020-12-09 18:18] d-m-s commented on #5132
- updating the counter must happen on keydown/up, - on blur would be quite useless.
- for the "loss of focus" i don't see any usecase - as the user is informed about the current focus it's obvious where the focus relies at all times.
- of course the user should be blocked to add more characters than the maximum. I haven't seen any implementation in any design system - including the major ones ment

[2020-12-09 21:29] gnomeontherun commented on #5273
Hey @d-m-s, we're starting to consider enhancements only for Clarity Core implementations of components, as we wish to stabilize Clarity Angular for long term support. We've had internal discussions about how and when to build the Clarity Core versions of Date Picker, but have currently settled for the default browser date picker as we have a few dependencies to build first (we need to finish work

[2020-12-10 00:36] RockLikeAmadeus commented on #5361
Thanks Ivan. In my case, it does seem to have been the package version. I
was exactly 2 releases behind -_-

On Tue, Dec 8, 2020 at 3:04 AM Ivan Donchev <notifications@github.com>
wrote:

[2020-12-10 11:32] ttsvetanov-vmware opened #5374 "Datagrid should not be stealing focus when the page change"
## Describe the accessibility issue
In many places, we set Datagrid pagination page, size, ... programmatically. This trigger page changes observable and sets focus on Datagrid.

## WCAG Guideline
WCAG-G2.4.3 Level-A

## How to reproduce
https://stackblitz.com/edit/clarity-v4-light-theme-jj3zdt

Steps to reproduce the behavior:

1.  Go to 'https://stackblitz.com/edit/clarity-v4-light-theme-jj3zdt'

[2020-12-10 11:59] bbogdanov commented on #5369
Hi @iivanovgit,

Still investigating the root cause of this issue but found a workaround to get this working.

[Expected behavior example](https://stackblitz.com/edit/clarity-v4-light-theme-tabsfocus-tgqrjh?file=src/app/tabs/tabs.component.ts)

Lines 34 and 57.

For some reason the `currentItem` in `ClrKeyFocus` is `undefined` when the page is loaded.

I'll update this issue when I have more info.

[2020-12-10 16:51] gnomeontherun commented on #5374
This is actually a duplicate of #4229, please check for existing issues when creating issues.

Accessibility has required that focus moves on page changes of data, but the PR #5375 will also address this with an optional disable for certain cases where the default behavior has side effects.

[2020-12-10 16:51] #5374 closed, assigned to nobody

[2020-12-11 10:20] neospio opened #5376 "Customized trigger point for datagrid hide/show column action"
## Summary

We keep receiving user's requests on how to open the datagrid hide/show column pannel. As in the previous version(before swtich to clarity), we had an obvious toggle button at the top of the grid. To fulfill the user's request, we want to have a customized appoach to be able to trigger the hide/show column panel from an external element event.

The requirement should be a common need f

[2020-12-11 12:49] dkanev opened #5377 "The multi-select datagrid doesn't emit selection change event when it receives selection programmatically"
## Describe the bug

I have a multi-select clarity datagrid and have bind my component to listen for selection changes:

<clr-datagrid [clrDgSelected]="selected"
              (clrDgSelectedChange)="selectionChanged($event)">
...
<clr-datagrid>

When I set programmatically the  selected items the grid is updated but I don't receive selection change event and my
selectionChanged(...) handler is not

[2020-12-14 06:37] sswaroop-cont opened #5380 "Responsive design for dropdowns in header > header-actions"
## Summary

_Summary the request and address the questions as appropriate._

- What is the change?
Add responsive behaviour for dropdowns inside header-actions present in header
- Why should it go in Clarity?
currently clarity supports header navigation with only links but not dropdowns. Header can consist of both links and dropdowns.
- Does this change impact existing behaviors? If so how?
there

[2020-12-14 13:50] alexpichler99 opened #5381 "Datagrid: vertical scrollbar appears because of the horizontal scrollbar"
## Describe the bug

When resizing the browser window and therefore reducing the width of the datagrid, a horizontal scrollbar appears. Because the horizontal scrollbar reduces the area where the rows are displayed also a vertical scrollbar will appear.

![image](https://user-images.githubusercontent.com/17060999/102088355-15759a80-3e1b-11eb-8a33-6cd434e95512.png)

## How to reproduce

Steps to re

[2020-12-14 15:19] bbogdanov commented on #5358
Hi @WhiteLord,

It is not a good practice to nest clickable items. One of the reasons is a11y support.

A possible workaround will be to use `stopPropagation` when you click the sign post trigger, but I do not recommend you go in this direction.

Have you tried solving your issue with [tooltips](https://clarity.design/documentation/tooltips)?

Also, the stackblitz example is broken.

[2020-12-14 15:26] WhiteLord commented on #5358
Tooltips unfortunatelly, could not be used as a solution here, as we're following UX design.
Yes, I now see that Stackblitz is broken for some unobvious reason, but the example is really mainstream and could be reproduced easily.
Thanks for taking a look at this!

[2020-12-14 15:31] sneksinnej commented on #5269
We are having the same issue while using clarity 4.0.6
It seems that when you focus a field it adds a `clr-focus` class to the `clr-input-group`.
This `clr-focus` has only 1 css field `width: 100%`.
This seems to only happen for `<clr-password-container>` that are within `<form>`  tags.
The same is happening on the documentation site of clarity.

[2020-12-14 18:36] chlane commented on #5132
Two blind screen reader users I've worked with like hearing a beep when a character limit has been reached as seen at http://www.chrislane.info/examples/maxLengthNotify.html.

[2020-12-14 20:35] gnomeontherun commented on #5358
This is the relative positioning issue that clips the signpost. See #5061 and #1757, but the best solution is when we have a Clarity Core signpost that won't have this issue since this would require a major overhaul of our popovers (signposts, tooltips, etc) in Clarity Angular.

Bogdan is right about the nested click targets, which is an accessibility and UX usability problem. Nothing we change ca

[2020-12-14 21:24] WhiteLord commented on #5358
I see. Well then, we're sticking with what we have. It's too-late to ask for a UX rework now, and since you guys have this on the roadmap, eventually we'll get it once it's released.

[2020-12-15 02:28] antonevane commented on #474
Any updates regarding `only year` selection?

[2020-12-15 08:17] VedikaGujarBiomni opened #5383 "Extra space getting displayed in grid"
Hi All,

I am currently using latest **Clarity version 0.13.11**, with **Angular 6**.
I am facing a minor issue, while using data grid.
When I try using both Pagination and Selection batch action both with data grid, there is an empty space getting created after the end of the rows.
This happens when I use both pagination and action bar, if I skip any of them it works perfectly fine.
Below is the

[2020-12-15 11:02] sswaroop-cont commented on #5380
https://stackblitz.com/edit/angular-tu6gyw?file=angular.json

[2020-12-15 13:10] bbogdanov commented on #5383
Hi @VedikaGujarBiomni!

We dropped the support for versions below v2, but If you provide us a stackblitz example we will be happy to take a look and advice you on how to proceed.

[2020-12-15 13:12] bbogdanov commented on #5381
Hi @alexpichler99,

Could you please provide us a stackblitz example?

[2020-12-15 14:06] bbogdanov commented on #5376
Hi @neospio!

Here is a [quick stackblitz](https://stackblitz.com/edit/datagrid-toggle-columns-button?file=src/app/app.component.html) example I created to show this can be done for all columns in a single click. The same way you can create a button for each column in the datagrid.

Let me know if that helps!

[2020-12-15 15:13] bbogdanov commented on #5377
Hi @dkanev!

It doesn't emit cause passing a new object to `selected` is not actually a selection. We probably have to change the behavior in the single selected as well but having in mind that we are focusing on bringing the datagrid in `core` we are more likely to unify this behavior in `core`.

Providing a [stackblitz example](https://stackblitz.com/edit/clarity-v3-datagrid-selection-3-vn6478?f

[2020-12-15 16:45] Middeaslam opened #5384 "Button is not working inside clr-input-container"
## Describe the accessibility issue

_If this is a VMware product, do not fill this out! Instead consult with the accessibility team about the issue so we can consolidate all VMware related issues and track them separately._

_Provide clear description of the accessibility issue and the impact to the user. Is this only in certain use cases? Is it confusing or broken?_

## WCAG Guideline

_What WCA

[2020-12-15 19:07] gnomeontherun commented on #5384
Hi @Middeaslam please provide details about your issue so we can help, and there is no intended support for buttons inside of clr-input-container (its meant for inputs), so details about what you are trying to accomplish would be helpful.

[2020-12-15 20:54] #4229 closed

[2020-12-16 07:46] dkanev commented on #5377
@bbogdanov Thank you for the help!
Is it OK when I want programmatically to select row in the datagrid to use
datagrid.selection.setSelected(itemToSelect, true);  ?

[2020-12-16 08:05] bbogdanov commented on #5377
It is. That's why we made it available to use.

On the other hand, I would go over the solution one more time and think about it. Is it really necessary to select something programmatically and expect the notifier to trigger something else?

By setting the `selected` items as you do in your example and on the next line execute the same code that the subscription executes, might be a better approac

[2020-12-16 11:10] siddharth1903 commented on #5287
@bdryanovski do you guys have a tentative date in mind when this can be addressed?

[2020-12-16 16:32] myukselen commented on #1821
Hi, I'd like to thank Clarity Team for their work. I was following this issue for a very long time, more than 2 years. This design is amazing.

I don't want to raise expectations of other followers but I tinkered with implementing this design. Code is here: https://github.com/myukselen/clarity/tree/development2 . It is an update of my first attempt from April 2020.

Sample declarative and recursiv

[2020-12-17 04:01] pumano commented on #1821
@myukselen dragging not working properly from mobile chrome, but love to see your implementation! (I'm not from clarity team, but also subscribe this issue few years ago)

[2020-12-17 08:31] #5377 closed, assigned to nobody

[2020-12-17 21:01] joshjohnsonux opened #5393 "Clarity website renders application header icon oddly"
## Describe the bug

In reviewing the new Clarity website, it appears that the icons in the App Header component aren't rendering correctly.

Steps to reproduce the behavior:

1.  Go to Clarity's new website (https://next.clarity.design/)
2.  Click on Navigation
3.  Scroll down to examples that include the App Header component
4.  See error in screenshot
![Screen Shot 2020-12-17 at 12 50 00 PM](ht

[2020-12-17 21:04] joshjohnsonux commented on #5393
Note that the issue doesn't exist on the old website.
![Screen Shot 2020-12-17 at 1 03 15 PM](https://user-images.githubusercontent.com/8105536/102543584-5ca49b00-4068-11eb-95b2-366310731a26.png)

[2020-12-17 23:20] #4502 closed

[2020-12-17 23:22] #4839 closed

[2020-12-17 23:27] mathisscott opened #5394 "core (dropdowns): positioned overlay"
With the generic overlay and refactor of modal completed in #5200, the next step is a _positioned_ overlay. These will form the basis for all our trapped overlay components like dropdown menus, signposts, etc.

MVP is not currently planning on adding the smarts. But it may. Just depends on how this first pass goes.

[2020-12-17 23:31] mathisscott opened #5395 "core: adding clarity motion, specifically to modals"
Now that overlays and the modal refactor to use this is complete (#5200), we plan to introduce the motion library work via the modal.

Motion will be a decorator that can be applied to a component or possibly a property on a component. Users will be able to turn motion off via the API. Motion will be largely driven by CSS transitions and Animations.

[2020-12-18 08:49] VedikaGujarBiomni commented on #5383
Hi @bbogdanov

Thank you for your reply. :)

Please find the [stackblitz example](https://stackblitz.com/edit/extra-space-in-grid-vedika?file=src/app/app.component.html).

Thanks
Vedika Gujar

[2020-12-18 09:37] bbogdanov commented on #5383
For some reason, something sets `style="height: ...` on the `clr-datagrid` tag and that's why there is an empty space.

[code]

Unfortunately, I can't find any code on our side that does this in the published packages, but this should unblock you to continue further.

I would encourage you if possible to update to our latest versions. This issue doesn't exist there.

[2020-12-18 09:37] #5383 closed, assigned to bbogdanov

[2020-12-18 10:57] VedikaGujarBiomni commented on #5383
Hi @bbogdanov ,

Thank you for your reply.
We are not using the latest version of Clarity, because we are using VCloud Director version 9.7, which supports Angular 6 and Clarity 0.13.11

Adding above CSS solves the issue, but it creates small problem in pagination.
Data Grid height gets resized on every page, and its not constant.
So if we have just 2 records on the last page, height will reset ac

[2020-12-18 19:53] ashleyryan opened #5397 "CdsCheckbox indeterminate not working in React"
## Describe the bug

using the `indeterminate` property in the React wrapper `CdsCheckbox` doesn't work

## How to reproduce

Stackblitz:

https://stackblitz.com/edit/react-ts-hraphp?file=index.tsx

1. Create a checkbox with refs on both the `CdsCheckbox` and `input` components
2. apply `indeterminite` to the input ref in `useEffect` (after the nativeElement promise has resolved)
3. Nothing happen

[2020-12-19 05:39] astorije opened #5403 "core: disabled state colors for cds-button"
## Describe the bug

The `flat` variant of `cds-button`, when disabled, has incorrect text color, and gets some background interaction on hover:

![flat-disabled](https://user-images.githubusercontent.com/113730/102681765-311dcf80-4192-11eb-96ef-202c9ba506bd.gif)

## How to reproduce

You can see the code for the above screencast at https://stackblitz.com/edit/react-ts-js9w2u?file=index.tsx

## Ex

[2020-12-21 15:58] #5355 closed, assigned to mathisscott

[2020-12-21 16:36] ashleyryan commented on #5397
I also discovered that I'm not able to set the input as checked directly on the element (or via a ref) either.

[2020-12-21 19:32] mathisscott commented on #5397
@ashleyryan
Thanks for reporting this issue. Good news is I'm replicating this issue with no problem. The stackblitz helped. The bad news is this issue is not easily solved. It's going to take some investigation. I've tried a few passes at low-hanging fruit fixes but need to dive into the architecture.

CC: @coryrylan

[2020-12-21 19:33] ashleyryan commented on #5397
Cory did reply to me on slack and said he thinks he knows what the problem is and will look into it after the holiday

[2020-12-22 06:43] sheguloves commented on #5342
@xlucvvs Thanks for your stackblitz example. It works and shows the issue.

@hippee-lee I checked the code and found that the issue is caused by action item focus. When action pop up, Clarity focus the first item and it cause the issue.

The root cause is following

[code]

Once datagrid action overflow DOM element is appended to `document.body`, the following code will be executed. Then the datag

[2020-12-22 12:35] xlucvvs commented on #5342
@sheguloves the code is located in which file?

[2020-12-22 12:57] sumegha26 opened #5408 "axe core 4.1.1 issues in tree view"
## Describe the bug

Two issues reported by Chrome axe plugin on accessibility of clarity tree view

## How to reproduce

Steps to reproduce the behavior:

1.  Go to  https://clarity.design/documentation/tree-view
2.  Click on checkbox-tree - https://clarity.design/documentation/tree-view#checkbox-tree
3.  Right click inspect and run axe plugin in chrome
4.  See two axe issues -

a) Certain ARIA r

[2020-12-22 12:57] xlucvvs commented on #5342
@sheguloves doesn't work here, I found this line in 4 files, even commenting on all the files it didn't work.

[2020-12-22 19:44] belyan opened #5410 "Placeholder of combobox is not visible"
## Describe the bug

Placeholder of combobox is not visible.

## How to reproduce

https://stackblitz.com/edit/clarity-v4-combobox?file=src%2Fapp%2Fapp.component.html

## Expected behavior

Placeholder of combobox should be visible.

## Versions

**App**

- Angular: 10.0.14
- Node: 10.17.0
- Clarity: 4.0.8

**Device:**

- Type: MacBook Pro
- OS: Mac OS High SIerra
- Browser Chrome
- Version 87

##

[2020-12-22 21:06] ccjasonlin opened #5411 "Progress bars - indeterminate state (loop) is solid color and without animation in latest Firefox 84.0"
Progress bars - indeterminate state (loop) is solid color and without animation in latest Firefox 84.0

## How to reproduce

1. goto https://clarity.design/documentation/progress
2. look at "indeterminate" under "Messaging" section and compare to chrome which works

## Expected behavior

Same behavior as chrome

## Versions
- Clarity: [4.0.8]

- Browser [Firefox]

[2020-12-23 03:10] sheguloves commented on #5342
@xlucvvs Sorry for miss leading. I just found the root cause.

[code]
[code]

As comments says, change position to `fixed` to fix scrollbar jumping with the disadvantage: datagrid-action-overflow DOM element will keep current position which means it will not be aligned with datagrid row when datagrid is scrolling.

[2020-12-23 03:31] neospio commented on #5376
Thanks for your response! The example is straightforward and easy to understand. However, if we want to have the similar functionality with Clarity's built-in hide/show column pannel(toogle all columns in the grid dynamically), we need to re-implement the same widget again.

If the built-in hide/show columns pannel can but reused by providing a trigger API/endpoint, that would be really helpful.

[2020-12-23 14:09] xlucvvs commented on #5342
@sheguloves I think that is some problem with the element's scrollToClose, 'cause in the Datagrid documentation, you can see that if you scroll the page, the element will be hidden. Looking in the file you mentioned above, I found the line of code:
`* clrPopoverContent =" open; at: smartPosition; outsideClickToClose: true; scrollToClose: true `
Where scrollToClose is probably not working...

[2020-12-24 04:28] jwangyangls opened #5415 "ERROR RangeError: Maximum call stack size exceeded ( clr-tree)"
When the amount of data reaches about 100, the component clr-tree will report such an error at this time（clairty V2, clairty v4);

(clairty V1 doesn't have such a problem).

You can directly use this code for testing.

![image](https://user-images.githubusercontent.com/29826789/103060231-7e5ece80-45e2-11eb-8553-27487992df78.png)

![image](https://user-images.githubusercontent.com/29826789/10306054

[2020-12-24 17:09] bdryanovski commented on #5410
@belyan thanks for reporting this - it seems that we (I in this case) forgot to backport it to v4.

It will be resolved in the next release.

[2020-12-24 21:41] alsahlawi commented on #4982
Hello there,

This might be old, but did you sort this out? I have installed the package as described in the docs and copied the example. All icons all not showing, except the progress circle.

Thank you.

[2020-12-25 02:52] jwangyangls commented on #5415
If you cannot reproduce this problem, use three groups of < clr-tree>< /clr-tree> on the UI at the same time
< clr-tree>< /clr-tree>
< clr-tree>< /clr-tree>
< clr-tree>< /clr-tree>

[2021-01-04 08:10] sswaroop-cont commented on #5380
Do we have any update on this?

[2021-01-04 10:58] bdryanovski commented on #5415
Hey @jwangyangls thanks for reporting this but could you create a [StackBlitz](https://stackblitz.com/@clr-team) reproducible demo. So we could be sure that we are looking at the same thing as you.

I manage to make one [here](https://clarity-v4-dark-theme-tybc1d.stackblitz.io/) - and it seems that on v4.0.8 the issue is not reproducible - but maybe I'm missing something?

Having huge trees is not

[2021-01-04 15:34] gnomeontherun commented on #5380
Header actions are not considered navigation, so we don't have responsive navigation built-in. At the moment, the application will have to decide what to do with the actions based on their own needs. We don't have any demos showing multiple dropdowns in the header like this, which might require different treatment based on what the actions are for.

@yuxin-ux @colinreedmiller We don't have any gui

[2021-01-04 15:44] #5411 closed, assigned to mathisscott

[2021-01-04 16:11] gnomeontherun commented on #4982
Please provide a working reproduction as described by @bdryanovski above so we can help, it sounds like the icons are not being loaded in the application, see https://clarity.design/icons/get-started. Closing as stale without a reproduction.

[2021-01-04 16:11] #4982 closed

[2021-01-04 16:12] gnomeontherun commented on #5342
@coryrylan can you review this week?

[2021-01-04 18:27] coryrylan opened #5419 "core: reduced motion theme"
_Please review our [Contribution guide](https://github.com/vmware/clarity/blob/master/CONTRIBUTING.md) for more details about how to contribute effectively._

## Summary

_Describe the change or feature in detail. Try to answer the following questions._

- What is the change?
- Why should it go in Clarity?
- Does this change impact existing behaviors? If so how?
- If this change introduces a new b

[2021-01-04 18:29] coryrylan commented on #5419
Visibility @mathisscott

[2021-01-04 18:50] coryrylan opened #5420 "core: safari technical preview layouts"
## Describe the bug

Next major release of Safari ads flex gap support while good causes a problem with the current shim for the current Safari release. With the next Safari version the css shim and native gap double up and cause excess gap space in layouts.

## How to reproduce

View Core layouts in Safari Technical Preview

## Expected behavior

Gap sizes should be correct.

## Versions
Core 5.x

[2021-01-05 04:42] jwangyangls commented on #5415
@bdryanovski
I created a demo, and the link is below. The problem can be clearly re-displayed inside (v4.0.5);
https://stackblitz.com/edit/angular-ivy-moqlqc?file=src/app/app.component.html
![image](https://user-images.githubusercontent.com/29826789/103607283-77757b80-4f53-11eb-92e0-e499a96c5446.png)

I found that this problem has really been fixed in version 4.0.8.

Thank you very much for your r

[2021-01-05 08:37] Jinnie commented on #5415
Yes, the problem has already been fixed in 4.0.8.
https://clarity.design/news/4.0.8
A backport of https://github.com/vmware/clarity/pull/5363 to v2 could fix it in v2

[2021-01-05 10:30] bdryanovski commented on #5384
I'm closing this issue because no information is provided and it's inactive for 21 days!

[2021-01-05 10:30] #5384 closed, assigned to nobody

[2021-01-05 10:35] bdryanovski commented on #5393
Hey @joshjohnsonux, thanks for reporting this, I did not manage to reproduce the issue

<img width="914" alt="Screenshot 2021-01-05 at 12 31 50" src="https://user-images.githubusercontent.com/204564/103636044-17caa080-4f52-11eb-8437-5f1a80e996df.png">

So it could be fixed from one of the previous fixes that we made or it could be some local glitch at some point.

If someone could provide reproduc

[2021-01-05 11:16] bdryanovski commented on #4818
This issue is not reproducible into the latest v3 version (v3.1.14)

[2021-01-05 11:16] #4818 closed

[2021-01-05 13:09] bbogdanov commented on #5358
Related to #5340

[2021-01-05 13:09] #5358 closed, assigned to bbogdanov

[2021-01-05 15:29] mathisscott commented on #5403
@Shijir : What is our status on this?

[2021-01-06 08:25] joshjohnsonux commented on #5393
Odd. I am consistently reproducing it on my systems.  I've cleared cache and gone incognito with no extensions, and that hasn't helped.  I tried using latest Firefox instead to isolate it as a Chrome issue, but the problem exists there as well.  I also tried both on a Mac, a Windows machine, and even a clean Windows VM.  Issue appeared consistently across them.  Only thought left is that the image

[2021-01-06 08:36] bdryanovski commented on #5410
The fix is merged and will be released soon.

[2021-01-06 08:36] #5410 closed, assigned to nobody

[2021-01-06 08:49] bdryanovski commented on #5356
In addition to the possible update checklist, a change into the Github Actions is also required - to use a later version or we gonna have a mismatch between local and CI build env.

Most of us use [nvm](https://github.com/nvm-sh/nvm) to handle the different versions of the node between projects and get automatically the requested version.

Made a quick test and did not find any issues with updatin

[2021-01-06 08:53] kirilmicev opened #5425 "Tooltip is cut off inside data grid with details open"
## Describe the bug
I have datagrid with tooltip which gets cut off when Detail Pane is open

https://i.imgur.com/on9AL8l.png
## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://stackblitz.com/@clr-team). Reports without a clear reproduction may not be prioritized until one is provided._

Steps to reproduce the behavior:

1

[2021-01-06 11:14] Jinnie commented on #5415
Backported with https://github.com/vmware/clarity/pull/5426
Expect it on next v2 release.

[2021-01-06 11:14] #5415 closed, assigned to nobody

[2021-01-06 11:39] jerone commented on #5259
Any news from the UX team? Orange is not orange anymore, more like brown.

[2021-01-06 11:56] bdryanovski commented on #5425
This is duplicate - so I'm closing it in favor of https://github.com/vmware/clarity/issues/4891

[2021-01-06 11:56] #5425 closed, assigned to nobody

[2021-01-06 14:49] Jinnie commented on #5259
Feedback after my last talks with UX:
Due to accessibility color contrast requirements, this is the background color accepted as warning in Clarity Core:
See here: https://clarity.design/storybook/core/?path=/story/components-badge-stories--status
Synchronizing with them lead to this issue, as we still need to update our font color. We shouldn't mix light over dark with dark over light in the same

[2021-01-06 14:53] bdryanovski commented on #4674
I think that this will create a breaking change, or we have to keep two working copies of both HTML and styles - we had the same problem with the Modals windows and their order.

I think that this will be better resolve in the core implementation.

[2021-01-06 16:09] astorije commented on #5356
_EDIT: See comment below, this is incorrect..._

We use nvm too actually, regardless of the LTS/non-LTS or version used. This is less about _switching_ to a LTS and more about adding official support to Node v14, since the current version of Clarity is set up to explicitly disallow it (see `engines.node` in `package.json`).

Node 14 is the active LTS and Node 15 is the current version (in other wo

[2021-01-06 17:13] gnomeontherun commented on #5356
We'll want to update to v14 sometime, but until v5 is out I don't want to see any more build changes. After v5, we could consider updating it with some of our build improvements.

[2021-01-06 17:22] astorije commented on #5356
_EDIT: See comment below, this is incorrect..._

@gnomeontherun, I'm sorry if I'm not expressing myself clearly, I'm not talking about changing your build or updating anything, but adding support for Node v14 at the consumer level.
In other words, if a developer wants to build a Clarity project with Node v14 on their machine, they will get errors and warnings which I believe could be resolved with

[2021-01-06 17:28] astorije commented on #5356
Oh wow. This is what happens when I resume after the holidays, being mistaken about my own issue 🤦
Sorry I'm an idiot, ahah. For some reason I was convincing myself I opened this issue after using Clarity on our projects, but no I opened it while _building Clarity_.
Me ➡️ 🚪

To whoever stops by this ticket, nothing prevents you to use Clarity on a project built with Node 14: https://unpkg.com/@cds

[2021-01-06 18:59] gnomeontherun commented on #5259
The fix here is to make the text white. The color contrast of text on orange is pretty hard to work out for accessibility requirements, hence the brownish color. This is only Clarity UI.

[2021-01-06 19:04] krotscheck commented on #5185
Here's the repro https://stackblitz.com/edit/clarity-v4-light-theme-eqg4wi
See the test browser console as an example.

[2021-01-07 11:40] immihaylova opened #5429 "Input component has aria-describedby pointing to id that does not exist on the page"
## Describe the bug

An input field that is required but does not have a helper text has an ‘aria-describedby’ that references an element with id ‘input-id-helper’ but there is no such element.
When the input is correctly filled in, the ‘aria-describedby’ changes to reference an element with id ‘input-id-success’, and again there is no such element.

## How to reproduce

https://stackblitz.com/edi

[2021-01-07 22:50] coryrylan commented on #5429
Thank you for filing an issue with a reproducible stackblitz, I am seeing the same as well. 👍

[2021-01-08 15:11] bbogdanov commented on #5376
Hi @neospio,

At this stage, this is the only way to create a custom column toggle panel. The team expects this to be more flexible with the `core` implementation of the datagrid that will come in the next couple of months.

Closing the issue as solved.

[2021-01-08 15:11] #5376 closed, assigned to bbogdanov

[2021-01-08 15:24] grahamford opened #5432 "Link visited colour is preventing hover colour from displaying"
## Describe the bug

The order of the CSS styling for links is currently `link`, `hover`, `active`, `visited`.
https://github.com/vmware/clarity/blob/next/packages/angular/projects/clr-angular/src/utils/_reboot.clarity.scss

The hover colour doesn't show for visited links because the `visited` state is defined last.
The order should be `link`, `visited`, `hover`, `active`.

## How to reproduce
Sta

[2021-01-11 07:21] sheguloves opened #5436 "Export focus / focus-trap related directives"
## Summary

Export focus / focus-trap related directives

Since more and more website need to support VPAT and Clarity includes many directives which are implementations for VPAT support. Others can use them instead of repeat them.

## Examples

If I want to implement a customized dropdown list component and it need to be VPAT support, then I can use focus-trap to catch focus and use key-focus / k

[2021-01-11 10:03] bdryanovski commented on #5432
@GrahamFord thanks for reporting this - I gonna make some test to see are they any side-effects from changing the order and may push a fix by the end of the week

[2021-01-11 15:05] bdryanovski commented on #5429
This issue can be reproduced for almost all form-controls (they all share a single service to handle this) - at the same time, we have an issue for not setting the correct describeby for radio and checkboxes.

I spend some time investigating it and will require a lot of reworking on how the service work and a lot of monitoring the DOM for changes.

[2021-01-11 15:20] gnomeontherun commented on #5436
Hello, the focus trap and related things are not something we are currently considering to make public. They weren't designed for general purpose consumption and aren't documented well, so its likely they might not work as expected in some use cases.

There are at least two options:

1. You could clone the focus trap directives from Clarity and use them in your project. That way you can also updat

[2021-01-11 15:20] #5436 closed, assigned to nobody

[2021-01-11 21:38] #5420 closed, assigned to coryrylan

[2021-01-12 07:56] siennathesane commented on #5082
Is this planned for v5?

[2021-01-12 09:07] #4718 closed

[2021-01-13 12:58] bbogdanov commented on #4718
@civanova This fix will be available in the next minor versions of v4 and v3 and also in the incoming v5.

[2021-01-13 20:07] mathi123 opened #5445 "Dynamically showing a combobox throws an error in smart iterator"
## Describe the bug

Showing a ComboBox with an ngIf, throws an exception in smart iterator.

## How to reproduce

Can't seem to get stackblitz sample to work.

Steps to reproduce the behavior:

1.  Put a multiselect combobox in a form
2.  Use smart iterator for options

[code]

3.  Toggle combobox with an *ngIf from false -> true
4.  See error in console

Avoiding smart iterator _clrOptionItems_

[2021-01-14 12:10] imonikaimonika opened #5446 "btn-group class affects inner buttons' on-focus style due to its { overflow: visible } style property"
## Describe the bug

btn-group class affects inner buttons' on-focus style due to its { overflow: visible } style property

Not particularly an accessibility issue, the focus of the buttons inside a btn-group does work,
but it is not styled properly.

<img width="1444" alt="Screenshot 2021-01-14 at 13 00 25" src="https://user-images.githubusercontent.com/77442222/104588995-e8aee000-5671-11eb-9790-

[2021-01-14 13:42] mcosta74 opened #5447 "[website] Core Component alert website page shows a modal"
## Describe the bug

When you navigate to the Core Component -> Alert Page you see a modal that cannot be dismissed

## How to reproduce

Steps to reproduce the behavior:

1. Build website (branch `next`)
2.  Open the Core Component -> Alert Page
3.  There's a modal (not closable) that blocks the website

## Expected behavior

Work as https://next.clarity.design/web-components/alert/#placement

##

[2021-01-14 14:57] mathisscott commented on #5447
@hippee-lee

[2021-01-15 11:11] d-m-s opened #5451 "Icon request: Digital Signature"
## Summary

Icon to represent digital signature.
- What is the icon?
   Pen, Fountain-Pen
- What does the requested icon signify?
   Open Signature Pad where the user can provide his/her digital signature.

## Use case
   Digital sign some document / some object.

## Examples
Material Icons, Font Awesome
<img width="88" alt="2021-01-15_12h27_18" src="https://user-images.githubusercontent.com/31161

[2021-01-15 18:20] gnomeontherun commented on #5451
@lil-kim Here is an icon request to consider

[2021-01-15 21:07] ashleyryan opened #5455 "CdsTag is clickable by default [React]"
## Describe the bug

By default, with no additional properties `CdsTag` behaves like a button, even without the `clickable` property.

In addition, adding a `closable` property, does not render an X like expected.

## How to reproduce

Stackblitz: https://stackblitz.com/edit/react-ts-9sxe8z?file=index.tsx

## Expected behavior

Tags should render without clickable behavior by default.

"Closable"

[2021-01-15 21:11] ryan-bradford commented on #5344
Experiencing this same problem in VCD UI running v4.0.9

[2021-01-15 21:13] mathisscott commented on #5455
@jeeyun : since you are in this area of the code already, could you take a look?

[2021-01-15 21:51] #5447 closed, assigned to nobody

[2021-01-16 02:50] ConnerEnders commented on #5082
A simple solution is to put an `*ngIf` on a parent element as such

[code]

[Stackblitz solution](https://stackblitz.com/edit/clarity-v4-light-theme-3gvwba?file=src/app/app.component.ts)

[2021-01-16 03:03] ConnerEnders commented on #4829
If anyone has or knows of any examples of using the css `text-overflow: ellipsis` with a datagrid cell's contents, while not causing any other visual bugs, it would be greatly appreciated.

I realize it is not Clarity's intent for data to be truncated in a datagrid, but it would wonderful to show a small preview of certain data that could be shown in full in a detail pane.

I'm struggling to come

[2021-01-16 20:38] tonyganchev opened #5456 "Datagrid fixed height gets broken once the user changes page size"
## Describe the bug

When you have a clarity data grid with fixed height (in pixels or percent) and the datagrid is paged, whenever the user changes the page size the grid resizes to a different height (same as needed to exactly fit the new page size).

From this point on the grid can never get back to it intended fixed height.

## How to reproduce

You can see the following stack blitz example: h

[2021-01-16 21:07] tonyganchev commented on #5456
On further digging, the issue seems to be related to the height reset happening on page change. The handler for size change (https://github.com/vmware/clarity/blob/e28c89b74aad11aeb861ca5cd4a569d9953e8b96/packages/angular/projects/clr-angular/src/data/datagrid/render/main-renderer.ts#L71) triggers `resetDatagridHeight()`
https://github.com/vmware/clarity/blob/e28c89b74aad11aeb861ca5cd4a569d9953e8b

[2021-01-16 21:14] tonyganchev commented on #5456
Seems that if I strictly follow the example from the clarity docs and define the fixed height in a class based on the grid's parent container all works as expected: https://stackblitz.com/edit/clarity-datagrid-broken-height-workaround. Basically instead of specifying `height="600px"` on the `<clr-datagrid />` itself I had to have a CSS class defined based on the clr-datagrid being part of a wrappi

[2021-01-17 10:45] ghost opened #5457 "docs: broken links on Get Started/Introduction"
Hi everyone!
I've found a bug on [Introduction Page](https://next.clarity.design/get-started/).

When clicking on:
1. [Getting started with Clarity Core using our Web Components](https://next.clarity.design/angular/components/web-components/get-started.html)
2. [Getting started with Clarity Angular using our Angular Components](https://next.clarity.design/angular/components/angular-components/get-

[2021-01-17 13:23] mathi123 opened #5458 "ClrOptionItems cannot bind to a list with objects that have a 'null' property."
## Describe the bug

_When you bind a combobox to a list of options, an exception is thrown if any of the objects have a property with value null._

## How to reproduce

Stackblitz is down. In order to reproduce locally, in the Angular app:

1. Open _combobox.demo.ts_
2. Add a property 'test' with null value to the states list:

[code]

3. See errors. Page does not render.

[code]

## Expected beh

[2021-01-17 13:24] mathi123 commented on #5445
After a long and painful debug on different angular & clarity versions,
I have pinned down the problem and made a more accurate bug report here #5458.

[2021-01-17 13:24] #5445 closed, assigned to nobody

[2021-01-17 15:18] agostinodd commented on #474
any updates?

[2021-01-17 18:55] siennathesane commented on #5082
Thanks @ConnerEnders <3

Not being a front-end dev by default, your solution was what I missing, but also neatly worked around the problem for me. Where I was struggling was that I had two separate instantiations of the observable in my component template, so it was still throwing errors; I didn't know you could declare a variable then use it later. I ended up with this:

[code]

No more errors, t

[2021-01-18 01:21] ConnerEnders opened #5459 "Datagrid: Exception thrown when keeping the detail pane open after re-emitting datagrid data"
## Describe the bug

If the datagrid's data comes from an observable, and the data is updated while the detail pane is open (through a form in the detail pane), the `[(clrIfDetail)]` value needs to be re-set to keep the detail pane open to the same item.

In doing so, an exception is thrown: `Error: ExpressionChangedAfterItHasBeenCheckedError`

## How to reproduce

[Stackblitz Example](https://sta

[2021-01-18 02:30] sheguloves commented on #5342
Hi @xlucvvs

I downloaded the sample and ran it on my local environment with **Clarity V3**.

datagrid-action-overflow.ts
[code]

[2021-01-18 09:15] boeckMt commented on #474
Maybe this is helpful for some people in the meantime.
https://stackblitz.com/edit/clarity-v4-dark-theme-clr-core-test?file=src%2Fapp%2Fapp.component.html

[2021-01-18 13:41] #5267 closed, assigned to sis0k0, bbogdanov

[2021-01-19 09:18] WhiteLord opened #5461 "Datagrids lack accessible names"
## Describe the accessibility issue

A part of our app consists in a screen with several datagrids that have a title above them,
After a11y audit, it is stated that `Assistive technologies will not be able to programmatically identify these grids and convey their purpose to users.`
I'd like to create a discussion whether this is actually needed, as I'm wondering what the accessibility review for t

[2021-01-19 09:19] bdryanovski commented on #5457
@macieyn thanks for point this out ;)

[2021-01-19 09:19] bdryanovski commented on #5456
@tonyganchev thanks for open this issue, we gonna take a look at it ...

[2021-01-19 09:21] bdryanovski commented on #5446
I could confirm that this is reproducible.

[2021-01-19 09:30] Jinnie commented on #5461
@chlane I am not sure I understand what is required here, can you please take a look if it is valid and if we already track it internally.

[2021-01-19 09:47] WhiteLord commented on #5461
I'm guessing that, according to the a11y review we got, we should have the possibility to add `aria-label` or `aria-labelledby` to the datagrid.
I come to this conclusion from the following lines in our review:

[code]

[2021-01-19 11:36] mcosta74 opened #5462 "[website] Checkbox page issue"
## Describe the bug

Core Checkbox page is empty

## How to reproduce

Steps to reproduce the behavior:

1.  Build the website from `next` branch
2.  Go to 'Core Components --> Checkbox page`
3.  The page is Empty

## Expected behavior

The page should not be empty https://next.clarity.design/web-components/checkbox/

## Versions

**App**

- Clarity: sha1 `94e1f4b35`

[2021-01-19 14:53] Jinnie commented on #5459
Hello, @ConnerEnders

In order to be able to preserve state (selection, panel, etc) between calls, we need to be able to identify unique records in your data. For this, the datagrid needs a trackby function, similar to this:
in template
[code]
and in controller:
[code]
Check this updated example. It should be working fine:
https://stackblitz.com/edit/clarity-detail-pane-bug-5459?file=src%2Fapp%2Fa

[2021-01-19 14:53] #5459 closed, assigned to Jinnie

[2021-01-19 15:12] coryrylan commented on #5397
Fixed, this will go out in our next release https://github.com/vmware/clarity/pull/5431

[2021-01-19 15:12] #5397 closed, assigned to coryrylan

[2021-01-19 16:33] chlane commented on #5461
This issue in now tracked internally by our accessibility team

[2021-01-19 17:04] nightwolfdev opened #5468 "clrAlertClosed input is not respecting value change"
## Describe the bug

The alert component's **clrAlertClosed** input is not respecting a value change.

## How to reproduce

[https://stackblitz.com/edit/clarity-v4-light-theme-nspfiu](https://stackblitz.com/edit/clarity-v4-light-theme-nspfiu)
[https://clarity-v4-light-theme-nspfiu.stackblitz.io](https://clarity-v4-light-theme-nspfiu.stackblitz.io)

Steps to reproduce the behavior:

1.  When the ap

[2021-01-19 19:28] ashleyryan commented on #5455
I just realized that I believe this is the expected behavior and you have to add `readonly` if you *don't* want it clickable.

[2021-01-19 19:47] WhiteLord commented on #5461
Thanks for the update. Please, do close it if it's tracked elsewhere so that we avoid duplication.

[2021-01-19 19:58] chlane commented on #5461
I think someone on the Clarity team needs to close it I don't see the option

[2021-01-19 20:03] #5455 closed, assigned to jeeyun

[2021-01-19 21:43] #5461 closed, assigned to nobody

[2021-01-20 06:24] #5259 closed, assigned to Jinnie

[2021-01-20 17:38] twittwer commented on #1757
Is there some progress regarding signposts? - Seems like the number of issues closed in favour of this is growing.

Used in datagrid it causes some really strange behaviour. In the last rows the table gets a scrollbar when opening the signpost and the user has to scroll to see the signpost content.

Thx

[2021-01-20 19:27] yuxin-ux opened #5471 "Inconsistent spacing between H2 sections"
On the website build https://600785229dc7a010a3b902a9--next-clarity.netlify.app/, there are a few pages with inconsistent spacings between H2 sections.
- [ ] Accordion (Usage, Behavior)
- [ ] Datalist (States, Layout)
- [ ]  Files (States, layout)
- [ ]  Layout (States, layout)
- [ ]  Input group (States, layout)
- [ ]  List (Spacing between H3s can be one size larger)
- [ ]  Password (States, lay

[2021-01-21 06:23] kumar-tadepalli commented on #961
I have the same requirement for vSphere HTML plugin.
Can we use .clr-wizard--inline in Clarity v4?
Are there any plans to deprecate in future versions?

[2021-01-21 15:01] AlicePain opened #5473 "ClrTimeline 4 Angular 11 not working with clrState value as string as depicted in example"
TypeScript error occurs
error TS2322: Type '"success"' is not assignable to type 'ClrTimelineStepState'.

This error shows in the Terminal window of VS Code. If I comment the below code application compiles, if I then uncomment the code below and save, the timeline shows, but the errors still show, one for each clrState.

`<clr-timeline>
  <clr-timeline-step clrState="success">
    <clr-timeline-s

[2021-01-21 18:25] ashleyryan opened #5474 "Allow Core Tags to be selectable"
## Summary

The documentation for the click functionality of a CdsTag describes a scenario where a user might click a tag to filter some data (choosing chocolate, vanilla, or strawberry). This implies that a user has the ability to select that option, making the tag more like a checkbox than a button, but Clarity doesn't support any sort of selected state. Devs can manage that state and change the

[2021-01-21 18:31] ashleyryan commented on #5474
I had threads on slack about this as well in clarity-support and accessibility-dev.

[2021-01-21 19:39] AlicePain commented on #5473
I'm able to successfully reproduce this issue.
Create an angular 11 application, set strict to yes, and add routing yes.
Add Clarity ng add @clr/angular

create a route
const routes: Routes = [
  { path: '', component: FrameworkComponent }];

  in app.component.html add the timeline using angular syntax and set a clrState="success"  You can use the example timeline code above.

Serve the project a

[2021-01-21 20:08] AlicePain commented on #5473
tsconfig.json  The following will fix the errors

 "angularCompilerOptions": {
    "enableI18nLegacyMessageIdFormat": false,
    "strictInjectionParameters": false,
    "strictInputAccessModifiers": true,
    "strictTemplates": false
  }

[2021-01-21 21:27] #5471 closed, assigned to nobody

[2021-01-21 22:21] hippee-lee opened #5475 "Update Accordion content"
## Describe the bug

Accordion content needs to be updated to reflect the most current [design spec](https://www.figma.com/file/rWE0j6DRp0LR8euGGJ97Dz/Core-Accordion?node-id=22%3A425).

At the time of filing this issue, the Anatomy section should **not** be implemented. `

## Expected behavior

Accordion content will match with the spec.

[2021-01-21 22:27] hippee-lee opened #5476 "Combine button documentation into a single page."
## Describe the bug

There are three documentation pages for Button, Icon Button and Inline Button. They need to be combined into a single page and under Button and the content should be updated with the [current design spec.](https://www.figma.com/file/JPEKbovrfAz5IYX3ZJfcMU/Core-Button?node-id=138%3A0)

At the time of filing this issue, the Anatomy section should **not** be implemented. `

## Ex

[2021-01-21 22:40] hippee-lee opened #5477 "Update Alert content structure"
## Describe the bug

Alert content needs to combine the status and placement content under the correct type h3 element.

there should be two h2's (##) in the markdown: Usage & Types
Under types there should be three h3's (###) Standard, App-Level & Lightweight Alerts with the relevent content grouped under each alert type.

[2021-01-21 22:49] hippee-lee opened #5478 "Update Alert group documentation"
Alert group content needs to be updated to align with the [latest design spec](https://www.figma.com/file/PTcnYNKEhqvN4jigjIGC1e/Core-Input-Group?node-id=473%3A275).

Note: The anatomy section is not part of this update so it can be left out.

[2021-01-21 22:51] hippee-lee opened #5479 "Update Tags docuemntation content"
Tags content needs to be updated to align with the [latest design spec](https://www.figma.com/file/5Bc8WraulEfarU14IaDyvj/Core-Tags?node-id=253%3A206).

Note: The anatomy section is not part of this update so it can be left out.

[2021-01-21 22:56] hippee-lee opened #5480 "Align background color used in website theme"
The theme needs to be audited to look at all of the website components that use a background color and align with the one background color that provides higher contrast and meet a11y requirements.

Use the `--cds-global-color-warm-gray-900` color token for all places where a background color is used to highlight an image.

Known components that need to be investigated for a11y and impact with prop

[2021-01-21 23:01] yuxin-ux commented on #5477
Actually, the current implementation is correct. The 3 types Standard, App-Level & Lightweight Alerts are introduced in the Type section first. Then type is expanded to their own H2 section because of their distinct usage guidelines.

[2021-01-21 23:02] yuxin-ux commented on #5477
The "Size" section within "Standard alerts" was originally part of the Anatomy section. This is the only type that is offered in two sizes (Default, compact). I will recommend it as a H3, following "Status" and "Placement" until we bring in the Anatomy section.

[2021-01-21 23:28] gnomeontherun commented on #5473
We have an open PR to help with some of these issues, it might address this case. https://github.com/vmware/clarity/pull/5448

[2021-01-21 23:32] mayesgr opened #5481 "https://v4.clarity.design is down (DNS issue?)"
https://v4.clarity.design isn't displaying in my browser on my desktop or phone (using a separate network).

![Screen Shot 2021-01-21 at 3 30 39 PM](https://user-images.githubusercontent.com/1157057/105425246-d4348f80-5bfd-11eb-9bd3-1502dd625f0a.png)

[2021-01-21 23:35] gnomeontherun commented on #5481
We are working on the cutover, and having issues to get it deployed. For now, you can view https://v3.clarity.design which has almost everything that v4 has.

[2021-01-22 01:07] gnomeontherun commented on #5481
Is up now! https://v4.clarity.design/

[2021-01-22 01:07] #5481 closed, assigned to nobody

[2021-01-22 04:42] kumar-tadepalli opened #5484 "Support for CSS Component in Clarity 5 ?"
## Summary

_Summary the request and address the questions as appropriate._

- What is the change?
I could not find the CSS component in Clarity 5 documentation. Our current application is on clarity 4 and using CSS component approach. Is the CSS component support removed?
- Why should it go in Clarity?
The CSS way is much useful to customize the form like showing radio inline.
- Does this change

[2021-01-22 04:43] vinayk406 opened #5485 "Data in Clarity DataGrid component is not aligned properly"
## Description
With asynchronous way of setting the data inside application, we ran into a scenario in which the data inside the grid component is not aligned properly.
Here is a screenshot of the grid component in our application.

![image](https://user-images.githubusercontent.com/5180606/105446782-d7c92480-5c98-11eb-83d7-fed391fe83cc.png)

## How to reproduce
Here is the stackblitz link to repr

[2021-01-22 10:09] alexpichler99 opened #5486 "Combobox "No results" translation"
## Summary

It seems like the text's provided by Clarity for the combobox can't be translated. I'm having the issue, that I want to change the text for "No results" in the combobox to another language/text. It would be nice to have some input property where you can set the text.

![image](https://user-images.githubusercontent.com/17060999/105477420-1d3e1f80-5ca2-11eb-95fa-2e737a956d30.png)

[2021-01-22 11:26] Jinnie commented on #5486
Check the internationalization documentation:
https://clarity.design/foundation/internationalization/

Use the `comboboxNoResults` property.

[2021-01-22 11:26] #5486 closed, assigned to nobody

[2021-01-22 11:48] Jinnie commented on #5485
Dynamic column assignment/reassignment is not a pattern that we recommend. There are many challenges to it from the practical standpoint, with minimal value in return. Our support is to the level of configurable hideable columns, or *ngIf-ing certain predefined columns.
If you are downloading the column structure and expect the possibility that it will drastically change in subsequent data retriev

[2021-01-22 11:54] #4744 closed

[2021-01-22 11:55] #5432 closed, assigned to nobody

[2021-01-22 12:10] Jinnie commented on #5351
This should definitely go through Accessibility team first, as I don't see this feature in the W3C examples:
https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/datepicker-dialog.html
@chlane

[2021-01-22 13:10] Jinnie commented on #5369
Looking at the stackblitz example, this is duplication of the "Integration of tabs with the router" issue:
https://github.com/vmware/clarity/issues/627

[2021-01-22 13:21] #5458 closed, assigned to Jinnie

[2021-01-22 13:33] Jinnie commented on #5351
Just found this to be duplication of #5273
Please follow the above for updates

[2021-01-22 13:33] #5351 closed, assigned to nobody

[2021-01-22 13:34] Jinnie commented on #5273
Transferring my last comment form #5351

This should definitely go through Accessibility team first, as I don't see this feature in the W3C examples:
https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/datepicker-dialog.html
@chlane

[2021-01-22 15:37] vinayk406 commented on #5485
@Jinnie Stackblitz shows a simplified version of the problem we have.

In our use case, column data and row data are dynamic in nature.
Columns can be configured by the end users which cannot be determined upfront.

show/hide(*ngIf) workaround may result in a flicker effect and does not comply with our UX guidelines.

[2021-01-22 15:45] coryrylan opened #5491 "website: core component import examples"
Most of the Core component documentation pages have the code tab to show code examples. However I don't think there is any example of how to import and use each component. We likely would want the appropriate import statement at the top of the code section in each component.

https://clarity.design/core-components/button/code/

[code]

[2021-01-22 16:41] gnomeontherun commented on #5484
We have not removed the CSS options, but they are documented within the Angular Components section. If you are using v4, you may wish to continue to use the https://v4.clarity.design documentation site as needed. Nothing has or will change for Clarity UI, but Clarity Core is the long term path for allowing applications to use Clarity in a framework agnostic way.

[2021-01-22 16:42] #5484 closed, assigned to nobody

[2021-01-22 17:38] chlane commented on #5351
Added to the accessibility team's internal database for Clarity Accessibility Issues

[2021-01-22 19:27] tran2 opened #5494 "Datagrid Detail Pane with Filter Errors"
## Describe the bug
After the reproduce steps, I get error and filter stopped working while working with detail pane.
![image](https://user-images.githubusercontent.com/7945885/105535629-4fed1580-5cac-11eb-8637-07a6cfa3d689.png)
Video if it helps: https://www.youtube.com/watch?v=WU2QRey1nUQ

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz

[2021-01-22 20:25] yuxin-ux opened #5495 "The link to figma library needs to be updated"
The button "Clarity Figma Libraries" on the [get started page]( https://clarity.design/get-started/design/) should point to the external community page (http://figma.com/@vmware) for external users.

This link will have all the libraries published publicly. So there is no need to update the link every release.

[2021-01-22 20:31] gnomeontherun commented on #5485
As @Jinnie said, we don’t support reordering columns in Clarity Angular. I’m not sure how column order is configured in your app, but it must be done outside of the Datagrid. The root issue here appears to be related to our assumption that columns are not changed and our auto-sizing feature assumes the columns size upon creation If you change the columns later, the sizes do get miscalculated. Also

[2021-01-22 20:40] gnomeontherun opened #5496 "Website SW not being registered properly"
## Describe the bug

There appears to be an issue with the SW plugin because the file https://clarity.design/service-worker.js is not loading.

## How to reproduce

https://clarity.design

## Expected behavior

SW registers properly.

## Versions

Latest

## Additional notes

_Add any other notes about the problem here._

[2021-01-22 20:59] nghiado commented on #5485
@gnomeontherun We are using Clarity 4/ Angular 10.
This happens without reordering columns. Basically, we have two async APIs one to get raw data for table, one to fetch columns metadata(name/label).

[2021-01-22 22:42] gnomeontherun commented on #5229
This has been resolved in the website, closing as fixed.

[2021-01-22 22:42] #5229 closed, assigned to nobody

[2021-01-22 22:56] gnomeontherun commented on #1308
We've revised our documentation with the new website for more depth and it is available now.

[2021-01-22 22:56] #1308 closed

[2021-01-23 05:46] wendellestradairely opened #5498 "Missing dependencies error"
## Describe the bug

[code]
Installed packages:
[code]
## How to reproduce

1. Upgrade from v4 to v5.
2. Run `ng serve`.

## Expected behavior

Should not have an error when running `ng serve`

## Versions

**App**

- Angular: 11
- Node: 12+
- Clarity: v5

**Device:**

- Type: Intel NUC
- OS: Windows 10 Enterprise
- Browser: Chrome
- Version: 87/88

## Additional notes

`at TargetedEntryPointFinde

[2021-01-24 14:28] wendellestradairely commented on #5498
Fixed by installing
"@cds/angular": "^5.0.0",
"@cds/core": "^5.0.0",

[2021-01-24 14:28] #5498 closed, assigned to nobody

[2021-01-24 17:48] siddharth1903 opened #5499 "IE11 Support"
Could understand from the release notes that IE11 is no longer supported. Would like to know the reason behind this, since microsoft hasn't declared IE11 dead yet... Is this a strategic decision? Our clients are still looking to use IE11 as long as it is supported and we have been using clarity right from 0.11  till 4 now.

[2021-01-25 15:33] #5361 closed, assigned to Jinnie

[2021-01-25 15:59] Jinnie commented on #5499
VMware is ending support for IE11:
https://blogs.vmware.com/vsphere/2020/09/end-of-support-for-ie-11.html
based on Microsoft ending support for IE11 in their applications themselves:
https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666

Also, although support for custom elements in IE11 is possible with the use of polyfi

[2021-01-25 16:03] Jinnie commented on #5499
Please, reopen in Discussions if you need more information.
Because of an open Github bug, I am currently not able to convert this issue.

[2021-01-25 16:03] #5499 closed, assigned to nobody

[2021-01-25 16:16] Jinnie commented on #5494
Confirmed. It properly closes the detail pane when it's out of scope, but we're missing a detection cycle somewhere.

[2021-01-25 16:23] #5495 closed, assigned to nobody

[2021-01-25 16:34] Jinnie commented on #4674
I see Chris has kindly added this issue to the internal A11Y tracking.
Closing it here, to avoid duplication.

[2021-01-25 16:34] #4674 closed

[2021-01-25 17:55] gnomeontherun commented on #5498
Thanks for the update, in the future you can run `ng update @clr/angular` and it will process our schematics that would have installed those dependencies for you.

[2021-01-25 20:06] AlicePain opened #5501 "clr-password-container formatting of eye icon broken inside a timeline"
The password clear text eye icon wraps to a new line and is 36x36px

Use the following code in app.component.html

`<clr-timeline clrLayout="horizontal">
  <clr-timeline-step clrState="success">
    <clr-timeline-step-title><a routerLinkActive="disabled" routerLink="personal-info">Create your account</a></clr-timeline-step-title>
    <clr-timeline-step-description>
      <div class="clr-row">

[2021-01-25 20:34] gnomeontherun commented on #2111
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-25 20:34] #2111 closed

[2021-01-25 20:39] gnomeontherun commented on #1474
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-25 20:39] #1474 closed

[2021-01-25 20:39] gnomeontherun commented on #2477
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-25 20:39] #2477 closed

[2021-01-25 20:46] gnomeontherun commented on #1757
This ticket was generated before our strategy with Core was defined, where we had intended to bring the smart popovers into all of the Angular components. The problem is that the smart popovers need further refinement to work with signposts and tooltips, and our efforts with Clarity Core will address this problem more holistically.

To that end, I'm going to close this issue as something we aren't

[2021-01-25 20:46] #1757 closed

[2021-01-25 20:47] gnomeontherun commented on #937
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-25 20:47] #937 closed

[2021-01-25 21:52] twittwer commented on #1757
@gnomeontherun Is there an issue to keep track and get notified when the cutoff type bugs (e.g. signposts) are solved with Clarity Core?

[2021-01-25 22:17] mathisscott commented on #1757
@twittwer
They will be fixed when signposts are introduced in Clarity Core. There are dependencies we are working on now to get to signposts but right now signposts are blocked until the dependencies are completed.

[2021-01-25 23:10] gnomeontherun commented on #2513
This is a worthwhile enhancement request, but is challenging to implement due to the existing behaviors and nature of Clarity Angular. As we build out Clarity Core, this should be possible to realize with the applications managing the state and functionality more directly instead of Clarity Angular.

In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to

[2021-01-25 23:10] #2513 closed

[2021-01-25 23:21] gnomeontherun commented on #2906
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-25 23:21] #2906 closed

[2021-01-25 23:35] eemt opened #5505 "Helper text (clr-control-helper) text color has contrast that is too low"
## Describe the accessibility issue

## WCAG Guideline

"Helper Text" (clr-control-helper) for the various input controls has contrast that is too low for Web Content Accessibility Guidelines (WCAG) standards.

Color contrast should minimally be 4.5:1
(AA, https://www.w3.org/WAI/WCAG21/quickref/#contrast-minimum)
preferrably 7:1
(AAA, https://www.w3.org/WAI/WCAG21/quickref/#contrast-enhanced)

##

[2021-01-25 23:39] ArturGudiev opened #5506 "A disabled radio button is not grayed out"
## Describe the bug

When a radio button is in the middle, it can be not grayed out when it is disabled.

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://stackblitz.com/@clr-team). Reports without a clear reproduction may not be prioritized until one is provided._

Steps to reproduce the behavior:

1.  Create a new clar

[2021-01-25 23:56] yuxin-ux opened #5507 "The radio for HEX/HSL is not working on the website color page"
The HEX/HSL switch on the color page is not working.
https://clarity.design/foundation/color/#dark-theme-functional-colors

[2021-01-26 00:42] syndesis opened #5508 "Improve intuitiveness of Combobox autocomplete behavior"
## Summary

Change the behavior of autocomplete for the Combobox component

- What is the change?

1. Create a Combobox with option list `OPTION LIST`
2. Type into the Combobox input such that a filtered list of options which match the input is displayed: `VISIBLE LIST`
3. The first item from `VISIBLE LIST` is automatically selected
4. Use key (enter, tab) or mouse to alter focus while keeping tha

[2021-01-26 01:07] gnomeontherun commented on #3057
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we won't be adding margins by default so this will be easy to address. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that can support your use ca

[2021-01-26 01:07] #3057 closed

[2021-01-26 02:07] gnomeontherun commented on #865
This issue is about a version of Clarity that is out of support, and we have recently dropped IE11 support as of the end of 2020 for any version of Clarity. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a r

[2021-01-26 02:07] #865 closed

[2021-01-26 13:52] danail-vasilev opened #5514 "TreeView wrong rendering with ng-template and Ivy enabled"
## Describe the bug

TreeView has a wrong rendering when tree node is inside ng-template and Ivy is enabled - https://www.screencast.com/t/nnx0MATX96N  and https://www.screencast.com/t/e4ePfy349T

## How to reproduce

The issues is reproducible with Clarity3/Clarity4  -  https://stackblitz.com/edit/clarity-v3-dark-theme-r12emw
Ivy can be enabled from Stackblitz settings.

[2021-01-26 14:08] Jinnie commented on #5514
I reproduced this. I find it's related to the ng-template projection.
Ivy seems to over-simplify the generated html.
Suggestions for workaround are to try avoiding the ng-template and if needed, use a small child component, like this:
https://stackblitz.com/edit/clarity-issue-5514-workaround?file=src%2Fapp%2Fapp.component.ts

[2021-01-26 14:26] Jinnie commented on #5508
Our implementation is based on the Manual Selection scenario (Example 1 from the examples page provided in the bug description). It's been one of the choices we've made. It's not been intended to cover all possible scenarios.
In my personal opinion, it would be more confusing to have a component which would automatically select in single-selection scenario and will need manual selection in multi-s

[2021-01-26 14:30] Jinnie commented on #5507
Note: it rejects mouse clicks, but works fine with k/b only.

[2021-01-26 14:32] Jinnie commented on #5506
Please provide a stackblitz reproduction

[2021-01-26 14:41] Jinnie commented on #5506
But looking at the description, you're trying to disable individual radio options. This does not work. Not only in Clarity, but it's not supported by Angular.
As documented in the Clarity website:

https://v4.clarity.design/documentation/radio

[2021-01-26 14:41] #5506 closed, assigned to nobody

[2021-01-26 14:50] Jinnie commented on #5505
This is already tracked by our A11Y team and is in nature the same as the one you linked. The same blocker is in effect.
I will close this, to avoid duplication.

[2021-01-26 14:50] #5505 closed, assigned to nobody

[2021-01-26 14:55] Jinnie commented on #5501
You code throws errors when I am trying to reproduce it.

Please, use the template provided by the "New Issue" page.
We need to know what versions you are using and we need a working stackblitz example (links to starter projects for different Clarity versions are provided in the new issue template)

I will close this one, so you can go through the New Issue template again.

[2021-01-26 14:55] #5501 closed, assigned to nobody

[2021-01-26 15:30] syndesis commented on #5508
In example 1 of that scenario, hitting "Enter" without using arrow keys to move to a list item does not make a selection - it does nothing.  I think that would be better than selecting an item that's not even displayed.  That said, it would be nice to have functionality like the second example as an option, at least for single selection.

[2021-01-26 16:27] coryrylan commented on #5403
Looks like this was fixed with the theme fixes in the 5.0 release
![Screen Shot 2021-01-26 at 10 27 15 AM](https://user-images.githubusercontent.com/2021067/105873438-19234200-5fc1-11eb-9f8d-0664cd76cf5f.png)

[2021-01-26 16:28] AlicePain opened #5515 "Password clear text icon wrapping to newline inside a timeline"
I posted this issue yesterday and was asked to create a stackblitz example. I can't figure out how to install Clarity 4 and when installing clarity 5 I get stackblitz errors.

Here's directions to reproduce in stackblitz.
1) open this url https://stackblitz.com/edit/clarity-v3-dark-theme-r12emw?file=src%2Fapp%2Fapp.component.html
2) replace the app.component.html with the below code.
3) the clear

[2021-01-26 17:36] AlicePain commented on #5515
I'm using Clarity v4, Angular 11. But this seems to happen in other version of Clarity and Angular as well.

[2021-01-26 18:36] astorije commented on #5403
I noticed that, thank you!
Quick question though, was it on purpose that:
- text on disabled state is dark gray on gray, as opposed to white on gray (as it was on disabled solid before)?
- outline disabled has changed? I think the previous way worked better

/Cc @jaybellew1 @sbaldwa-cht

[2021-01-26 18:38] lil-kim opened #5517 "Add icons to Clarity library"
Add two new icons (already created) to the Clarity library for use by the UEM team
[https://app.zenhub.com/files/69590701/0e8c1f37-0fa8-408a-9a0f-d0cfcae8808f/download](https://app.zenhub.com/files/69590701/0e8c1f37-0fa8-408a-9a0f-d0cfcae8808f/download)
![image.png](https://images.zenhubusercontent.com/5840974cb9dc3c622022d1df/02155cb1-4038-4ff2-970f-8ed7b17fa09b)

Icons:
Line and solid versions (

[2021-01-26 18:39] chlane commented on #5508
Now tracking this issue internally as an accessibility issue.

[2021-01-26 18:56] coryrylan commented on #5403
@astorije ah yes I see the diff comparing to clr-ui. I'll check on if they are supposed to be synced as one disabled style now or each different. Comparison this is clr-ui

![Screen Shot 2021-01-26 at 12 55 39 PM](https://user-images.githubusercontent.com/2021067/105891092-d5870300-5fd5-11eb-9df6-2c80482856b9.png)

[2021-01-26 19:03] chlane commented on #5508
As long as we follow the ARIA Working Group's example mentioned in the description it can be done IMO.

https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html
Example 2: List Autocomplete with Automatic Selection.

[2021-01-26 20:04] yuxin-ux opened #5519 "Component overview link on the homepage is broken"
The component overview link on the homepage leads to a 404 page.
![image](https://user-images.githubusercontent.com/33043434/105898736-a4570480-5fce-11eb-9448-161bf50377f0.png)
![image](https://user-images.githubusercontent.com/33043434/105898823-c0f33c80-5fce-11eb-9fe1-37222ae4afea.png)

[2021-01-26 22:52] yuxin-ux opened #5520 "The link "Get started with web component" on homepage uses a different font style and it links to storybook"
The font style looks different and i assume it should link to the get started page on the website (https://clarity.design/get-started/developing/)

![image](https://user-images.githubusercontent.com/33043434/105916615-0e2ed880-5fe6-11eb-9f2c-5eb10821d94f.png)

[2021-01-27 04:08] hippee-lee commented on #5507
This only breaks with a bookmarked link. When navigating from the site root all of the radio buttons work. Given that the color foundation content needs a complete re-write to reflect core I'm going to remove the high priority label.

[2021-01-27 04:09] hippee-lee commented on #5496
Fixed with #5504

[2021-01-27 04:09] #5496 closed, assigned to hippee-lee

[2021-01-27 11:23] Jinnie commented on #5515
Thank you for providing a better reproduction and details.

I see where the problem is coming from. We need more specific css selectors in the component. And this _is_ a bug.
Trying to find the initial designs, I see that we already have this issue logged (https://github.com/vmware/clarity/issues/5366), so I'll link and close this one to avoid duplication.
Please, follow 5366 for updates.
Also, in

[2021-01-27 11:23] #5515 closed, assigned to nobody

[2021-01-27 14:02] cat-mandres opened #5522 "Text color of disabled input fields on iOS/Safari are not readable"
## Describe the bug

Disabled input fields are very difficult to read on iOS/Safari on the default grayish background color.
In modals they are not readable at all because the text color is the same as the background color.

Setting the color to e.g. black fixes this problem.

## How to reproduce

https://clarity-v4-light-theme-2zvj5m.stackblitz.io

Open the stackblitz once in Chrome (everything v

[2021-01-27 15:58] gnomeontherun opened #5523 "Higher contrast prismjs code theme"
## Summary

The website code theme in Prism is a little hard to read, even though it seems to pass contrast requirements. I would like to see us use a stronger contrast theme so the code is easier to read.

This is debatable, but a dark theme might be better too? Open to suggestions here, or happy for the team to tell me its sufficient.

## Use case

Better readability of code snippets.

## Exampl

[2021-01-27 16:53] #5519 closed, assigned to nobody

[2021-01-28 10:51] d-m-s opened #5527 "Documentation Toggle (success helper message)"
## Describe the bug

Correct success helper message should be shown.

## How to reproduce
Steps to reproduce the behavior:
1.  Go to 'https://clarity.design/core-components/toggle/'
2.  See error in screenshot
<img width="501" alt="2021-01-28_11h44_15" src="https://user-images.githubusercontent.com/311619/106127441-da2af300-615e-11eb-82c5-475e44898b5c.png">

## Expected behavior

Success message,

[2021-01-28 11:00] sis0k0 opened #5528 "ESLint plugin for Clarity Core Adoption"
## Summary

The `@clr/eslint-plugin-clarity-adoption` package is an ESLint plugin aiming to ease the adoption of Clarity Core. The plugin provides different rules that detect and warn against the usage of Clarity Angular components. The selection of rules can vary based on the project configuration. For example, you can start with a single rule detecting only `clr-alert`s and gradually, add more r

[2021-01-28 15:04] gnomeontherun commented on #2719
Closing due to being stale, we can always put content together as needed.

[2021-01-28 15:04] #2719 closed

[2021-01-28 15:09] d-m-s opened #5529 "Documentation: button vs link"
## Describe the bug
Button vs. Link - find the difference ... ;-)

## How to reproduce
1.  Go to 'https://clarity.design/core-components/button/'
2.  See error in screenshot
<img width="689" alt="2021-01-28_16h06_11" src="https://user-images.githubusercontent.com/311619/106157569-25ef9380-6183-11eb-8db0-f0d994c21971.png">

## Expected behavior
Proper documentation.

## Versions
Current docu versio

[2021-01-28 15:16] gnomeontherun commented on #4792
This is certainly limited to an enhancement to the website, which was recently relaunched. I agree that adding more tagging is potentially helpful but also potentially arbitrary and hard to define. We will close this issue for now as something we don't intend to prioritize in the near future, but should someone consider a contribution we would be open to it.

[2021-01-28 15:16] #4792 closed

[2021-01-28 15:18] gnomeontherun commented on #5457
This is fixed on https://clarity.design/get-started/. Closing as resolved.

[2021-01-28 15:18] #5457 closed, assigned to nobody

[2021-01-28 15:18] d-m-s opened #5531 "Documentation: Inline-button"
## Describe the bug
Styling of hover-state on inline-button seems like an accident.

## How to reproduce
1.  Go to 'https://clarity.design/core-components/inline-button/'
2.  See error in screenshot
<img width="346" alt="2021-01-28_16h00_43" src="https://user-images.githubusercontent.com/311619/106158536-22104100-6184-11eb-9b1d-f8398f060f42.png">

## Expected behavior
Proper Styling.

Rethink nece

[2021-01-28 15:19] gnomeontherun commented on #5462
The page is live on the main website without a 404, see https://clarity.design/core-components/checkbox/. If you have more details with the latest site please let us know, otherwise closing as resolved.

[2021-01-28 15:19] #5462 closed, assigned to nobody

[2021-01-28 15:21] d-m-s opened #5532 "Documentation: Alignment of input group"
## Describe the bug
1. Alignment of input group docu needs a small fix
2. Alignment of helper text

## How to reproduce
1.  Go to 'https://clarity.design/core-components/input-group/'
2.  See errors in screenshot
### Docu
<img width="815" alt="2021-01-28_16h19_40" src="https://user-images.githubusercontent.com/311619/106159217-d8742600-6184-11eb-8a65-5409a80e96be.png">

### Helper text
<img width=

[2021-01-28 15:26] gnomeontherun commented on #961
@shravansofts we have not removed the inline wizard from Clarity Angular. We have not yet built a Clarity Core wizard, but the inline wizard is not currently a documented or official feature, so I can't guarantee we'll support it with Clarity Core.

[2021-01-28 15:27] gnomeontherun commented on #961
This is a worthwhile enhancement request, but is challenging to implement due to the existing behaviors and nature of Clarity Angular. As we build out Clarity Core, this should be possible to realize with the applications managing the state and functionality more directly instead of Clarity Angular.

In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to

[2021-01-28 15:27] #961 closed

[2021-01-28 15:28] gnomeontherun commented on #3156
This is for the old website, and should not be an issue in the new website. Closing as resolved through new site.

[2021-01-28 15:28] #3156 closed

[2021-01-28 18:32] #5527 closed, assigned to mathisscott

[2021-01-28 20:25] stefanmichalk opened #5534 "Timeline component is broken"
## The timeline component is not rendering well.
The Icon of a timeline step is not rendering like in v4.

## How to reproduce

Just visit your own site [Timeline Documentation](https://clarity.design/angular-components/timeline/)

## Versions

**App**

- Angular: 11.1.1
- "@cds/core": "^5.0.0",
- "@clr/angular": "5.0.0",
- "@clr/icons": "5.0.0",
- "@clr/ui": "5.0.0",

**Device:**

- Type: MacBook

[2021-01-28 21:33] gnomeontherun commented on #5534
@bbogdanov Can you take a look, the icons are not styled properly in v5.

[2021-01-28 21:36] gnomeontherun commented on #4997
With the new website, Clarity Core documentation contains a whole dedicated section to all styling options. We aren't currently planning to invest in auditing the Clarity Angular documentation for any missing classes (there may be a few but most are documented), but are happy to consider improvements for missing details if people find them in the future. I'm closing this as resolved in new website

[2021-01-28 21:36] #4997 closed

[2021-01-28 22:18] gnomeontherun commented on #251
I don't see the behavior on v4 website listed above, and I think if you put the modal outside of the stack view element it would be better. It is also possible to use the Core modal instead which might address the issue. Since the demos are beyond our supported versions, I'm going to close this issue as stale and if there is an updated reproduction of the issue we'd welcome a fresh demo with a rec

[2021-01-28 22:18] #251 closed

[2021-01-28 22:21] gnomeontherun commented on #253
The only workaround I see here is to treat your datagrids as server-driven so the application manages the list of items. You lose the built-in filtering and have to handle that yourself, but it also opens up more customizations.

This is a worthwhile enhancement request, but is challenging to implement due to the existing behaviors and nature of Clarity Angular. As we build out Clarity Core, this

[2021-01-28 22:21] #253 closed

[2021-01-28 22:26] gnomeontherun commented on #566
Thank you for the suggestion for this component, but it doesn't have a lot of context for us to build something that is more than a generic container. With Clarity Core, we have really great Layout Tokens to help you organize an application or page structure, including making a footer, and that would be the recommendation to utilize in the future. We are considering a drawer type component which m

[2021-01-28 22:26] #566 closed

[2021-01-28 22:28] gnomeontherun commented on #580
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-28 22:28] #580 closed

[2021-01-28 22:35] gnomeontherun commented on #776
Given the nature of fonts and changes, it sounds like the issues will have to be addressed on the app size by ensuring that other fonts have the same baseline sizes or adjust accordingly.

Closing due to being stale and the solution being likely application driven.

[2021-01-28 22:35] #776 closed

[2021-01-28 22:50] gnomeontherun commented on #1065
Due to the availability of workarounds and that apps can easily handle this on their end, I'm going to close this as not something we'll implement. There are also accessibility considerations to truncating text and I'm not confident we can standardize the implementation to satisfy both. Closing as best handled by applications.

[2021-01-28 22:50] #1065 closed

[2021-01-28 22:51] hippee-lee commented on #5520
This was fixed with #5521.

[2021-01-28 22:51] #5520 closed, assigned to hippee-lee

[2021-01-28 22:54] gnomeontherun commented on #1099
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that can support your use case with Clarity Core compo

[2021-01-28 22:54] #1099 closed

[2021-01-28 23:13] gnomeontherun commented on #1235
This is pretty stale, and believe is a duplicate. Having the modal defined outside of the stackview would likely address this or to use the Core modal. Closing as stale, unless we have a recent reproduction to address.

[2021-01-28 23:13] #1235 closed

[2021-01-29 01:05] gnomeontherun commented on #1175
There is are workarounds available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements tha

[2021-01-29 01:05] #1175 closed

[2021-01-29 01:34] #5507 closed, assigned to nobody

[2021-01-29 01:42] gnomeontherun commented on #4070
This issue appears to be resolved in v3+, and it has not been updated in a while so I'm marking it as closed.

[2021-01-29 01:42] #4070 closed

[2021-01-29 09:24] Jinnie commented on #1099
Logged the workaround/pattern in our support db.

[2021-01-29 10:19] Jinnie commented on #5529
The paragraph before the demo explains "While buttons and links can both be given similar visual treatments..."
It's about the semantic meaning of `<button>` vs `<a>`.
But it can be hard to understand the way it currently is. We could probably add a bit of code sample to the demo to make it clear.
@hippee-lee leaving it open for you to decide if we may want to improve.
And we do need to fix the `.

[2021-01-29 14:55] gnomeontherun commented on #627
There are a few challenges to implementing this now that we've baked accessibility into the tabs. Given the ability to accomplish this with using the CSS version of the tabs as a workaround, and the future Clarity Core tabs that would likely allow applications to do this, I'm going to close this feature as something we don't plan to build directly into the Angular tabs component.

[2021-01-29 14:55] #627 closed

[2021-01-29 15:01] gnomeontherun commented on #1148
This issue persists, as the fix in Angular does not appear to have addressed the root cause. While this is a UX annoyance, it doesn't have a major impact on the user. We're actively working on this with Clarity Core animations, so that will be the future recommendation.

In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to be resolved by upcoming imple

[2021-01-29 15:01] #1148 closed

[2021-01-29 15:02] gnomeontherun commented on #1123
We have a grid icon already, so I believe we can close this as available.

[2021-01-29 15:02] #1123 closed

[2021-01-29 15:06] gnomeontherun commented on #1328
Our current  design supports clicking the bottom of the vertical nav (if there is space) to act as a toggler.

This is a worthwhile enhancement request, but is challenging to implement due to the existing behaviors and nature of Clarity Angular. As we build out Clarity Core, this should be possible to realize with the applications managing the state and functionality more directly instead of Clari

[2021-01-29 15:06] #1328 closed

[2021-01-29 15:34] gnomeontherun commented on #1362
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 15:34] #1362 closed

[2021-01-29 15:45] gnomeontherun commented on #1405
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-29 15:45] #1405 closed

[2021-01-29 15:47] gnomeontherun commented on #1445
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 15:47] #1445 closed

[2021-01-29 15:48] gnomeontherun commented on #1636
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-29 15:48] #1636 closed

[2021-01-29 18:08] gnomeontherun commented on #2529
This is a long standing request, and I suggest that for Angular folks look at the https://material.angular.io/cdk/overlay/overview for a generic overlay mechanism. It can be styled and match Clarity, but we are not going to commit to making our Clarity Angular overlay public and supported since it wasn't built to be generic enough for these use cases. I'm going to close this as something we won't

[2021-01-29 18:08] #2529 closed

[2021-01-29 18:10] gnomeontherun commented on #2350
This has been linked to the Toasts/Notifications #365 request and should be considered as part of the overall notifications pattern we've been developing. I'm going to close this separate issue so we can streamline our view of requests.

[2021-01-29 18:10] #2350 closed

[2021-01-29 18:15] gnomeontherun commented on #2294
We won't consider this behavior because it nests click targets and breaks accessibility expectations. We appreciate the request and suggest consideration of other patterns to support adding more contextual information to your application.

[2021-01-29 18:15] #2294 closed

[2021-01-29 18:34] gnomeontherun commented on #2094
This is a long standing request that we understand would make things easier in some cases, but also is a major overhaul and potential breaking change to implement. As we build out Clarity Core version of the Datagrid, we expect that an application could easily wrap it and make this feature for their own use case and not be blocked by us in any way. Closing as something we aren't planning to tackle

[2021-01-29 18:34] #2094 closed

[2021-01-29 18:37] gnomeontherun commented on #2056
This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized. There is a workaround available for this issue, and we recommend using it for Clarity

[2021-01-29 18:37] #2056 closed

[2021-01-29 18:38] gnomeontherun commented on #1853
I don't see this behavior while reviewing this issue. If it persists, please provide an updated demo and details with current versions of Clarity for us to triage. Closing as stale and appearing to be fixed.

[2021-01-29 18:44] gnomeontherun commented on #1982
We are investigating some options for how to make a more responsive datagrid, and this is a specific suggestion for that larger goal. We have a bigger ticket #3098 for datagrid responsiveness that I'll point to and close this in favor of it.

[2021-01-29 18:44] #1982 closed

[2021-01-29 18:46] gnomeontherun commented on #1935
This is stale and we've updated the focus management around the Datagrid since this time, which would cover the concerns here. Closing as addressed by our other a11y auditing.

[2021-01-29 18:46] #1935 closed

[2021-01-29 18:49] gnomeontherun commented on #2188
This request has merit but we are not currently planning to address it due to it likely requiring a design change and possible visual breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized.

In an effort to clean up our backlog and focus our attention, I’m going t

[2021-01-29 18:50] gnomeontherun commented on #2463
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-29 18:50] #2463 closed

[2021-01-29 18:50] #2188 closed

[2021-01-29 18:53] gnomeontherun commented on #2194
This is related to #2188 and closing with the same resolution details.

[2021-01-29 18:53] #2194 closed

[2021-01-29 19:01] gnomeontherun commented on #2455
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 19:01] #2455 closed

[2021-01-29 19:03] gnomeontherun commented on #2428
This request has merit but we are not currently planning to address it due to it likely requiring a design change and possible visual breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized.

In an effort to clean up our backlog and focus our attention, I’m going t

[2021-01-29 19:03] #2428 closed

[2021-01-29 19:04] gnomeontherun commented on #2401
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 19:04] #2401 closed

[2021-01-29 19:07] gnomeontherun commented on #2117
This is a worthwhile enhancement request, but is challenging to implement due to the existing behaviors and nature of Clarity Angular. As we build out Clarity Core, this should be possible to realize with the applications managing the state and functionality more directly instead of Clarity Angular.

In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to

[2021-01-29 19:07] #2117 closed

[2021-01-29 19:08] gnomeontherun commented on #2314
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-29 19:08] #2314 closed

[2021-01-29 19:08] gnomeontherun commented on #2332
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 19:08] #2332 closed

[2021-01-29 19:10] gnomeontherun commented on #2616
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-29 19:10] #2616 closed

[2021-01-29 19:11] gnomeontherun commented on #2638
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-29 19:11] #2638 closed

[2021-01-29 19:19] gnomeontherun commented on #2359
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking changes. As we build out Clarity Core, we are able to address these root cause accessibility issues and recommend ado

[2021-01-29 19:19] #2359 closed

[2021-01-29 19:20] gnomeontherun commented on #1725
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 19:20] #1725 closed

[2021-01-29 19:24] gnomeontherun commented on #1559
This is really captured under #1757, which we've decided to not tackle due to breaking changes and the future availability of Clarity Core tooltips and popovers.

There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help

[2021-01-29 19:24] #1559 closed

[2021-01-29 19:28] gnomeontherun commented on #3165
This is related to the old website, closing as no longer valid.

[2021-01-29 19:28] #3165 closed

[2021-01-29 19:29] gnomeontherun commented on #3164
This is related to our old website, closing as no longer valid.

[2021-01-29 19:29] #3164 closed

[2021-01-29 19:29] gnomeontherun commented on #3163
This is related to the old website, closing this as no longer valid.

[2021-01-29 19:29] #3163 closed

[2021-01-29 19:30] gnomeontherun commented on #3115
There is a workaround available for this issue, and we recommend using it for Clarity Angular. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that c

[2021-01-29 19:32] gnomeontherun commented on #2642
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 19:32] #2642 closed

[2021-01-29 22:27] gnomeontherun commented on #3038
I don't see the issue currently, and this is reflective of an older issue.

[2021-01-29 22:28] gnomeontherun commented on #3038
There is a workaround to address this, but also a different implementation available. Consider using the Clarity Core version of the component for your application which should not have this concern. In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to be resolved by  implementations in Clarity Core.

[2021-01-29 22:28] #3038 closed

[2021-01-29 22:29] gnomeontherun commented on #3008
This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized.

In an effort to clean up our backlog and focus our attention, I’m going to close this

[2021-01-29 22:29] #3008 closed

[2021-01-29 22:31] gnomeontherun commented on #2978
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-01-29 22:31] #2978 closed

[2021-01-29 22:33] gnomeontherun commented on #2894
This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized.

In an effort to clean up our backlog and focus our attention, I’m going to close this

[2021-01-29 22:33] #2894 closed

[2021-01-29 22:35] gnomeontherun commented on #2832
Applications can define extra options in their own CSS (without compiling Clarity), so nobody is blocked by Clarity.

There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or

[2021-01-29 22:35] #2832 closed

[2021-01-29 22:36] gnomeontherun commented on #2819
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 22:36] #2819 closed

[2021-01-29 22:50] gnomeontherun commented on #2794
Given the limited cases where this would be viable for accessibility and ux reasons, I'm going to close this request since applications can easily handle this on their own.

[2021-01-29 22:50] #2794 closed

[2021-01-29 22:51] gnomeontherun commented on #2763
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 22:51] #2763 closed

[2021-01-29 22:52] gnomeontherun commented on #2718
This is really just a duplicate of #963, closing in favor of it.

[2021-01-29 22:52] #2718 closed

[2021-01-29 22:54] gnomeontherun commented on #2713
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-01-29 22:54] #2713 closed

[2021-01-29 22:59] gnomeontherun commented on #3480
This is a feature available in Clarity Core's forms. Consider using the Clarity Core version of the component for your application to get these benefits. In an effort to clean up our backlog and focus our attention, I’m going to close this as resolved by implementations in Clarity Core.

[2021-01-29 22:59] #3480 closed

[2021-01-29 23:00] gnomeontherun commented on #3536
This issue has merit but we are not currently planning to address it due to it likely requiring a breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized.

In an effort to clean up our backlog and focus our attention, I’m going to close this and note that it should

[2021-01-29 23:00] #3536 closed

[2021-01-29 23:01] gnomeontherun commented on #3541
We've not prioritized or had further discussion on this. We could still consider a PR if necessary but I'm going to close this request as not a priority.

[2021-01-29 23:01] #3541 closed

[2021-01-29 23:03] gnomeontherun commented on #3479
As we stabilize and lock Clarity Angular's features, this shouldn't be an issue in the future. Files did move from time to time, which could have broken import chains. With Clarity Core, we don't anticipate this issue because theming should resolve the need to build custom versions of CSS. I'm going to close this as stale and not something that should continue to affect folks in future updates.

[2021-01-29 23:03] #3479 closed

[2021-01-29 23:04] gnomeontherun commented on #3444
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-01-29 23:04] #3444 closed

[2021-01-29 23:06] gnomeontherun commented on #3408
This is stale issue that is not clear exactly if it is still an issue. If it is, feel free to reopen with a fresh demo with a supported version of Clarity. Otherwise, I'm going to close this and believe CSS rules could change the outline as needed.

[2021-01-29 23:06] #3408 closed

[2021-01-29 23:06] gnomeontherun commented on #3393
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 23:06] #3393 closed

[2021-01-29 23:08] gnomeontherun commented on #3382
The Clarity Tree was rewritten in v2, so this seems like it might have been addressed.

This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recen

[2021-01-29 23:08] #3382 closed

[2021-01-29 23:10] gnomeontherun commented on #3335
We could entertain a PR for this, but in an effort to clean up our backlog I'm going to close this as stale. The minor overhead is only really an issue for testing in most cases.

[2021-01-29 23:10] #3335 closed

[2021-01-29 23:11] gnomeontherun commented on #3281
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-01-29 23:11] #3281 closed

[2021-01-29 23:12] gnomeontherun commented on #3265
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-01-29 23:12] #3265 closed

[2021-02-01 10:41] wghglory opened #5542 "Title attribute is not necessary to be set for clr-dg-action-overflow"
## Describe the bug

Let's say we have a datagrid with some options for each row. The triple dot generated by clr-dg-action-overflow also has a hardcoded text "Available actions". L10n team fired a bug for this hardcoded text.

## How to reproduce

[code]

## Expected behavior

`<clr-icon shape="ellipsis-vertical" title="Available actions" role="none"></clr-icon>`

title attribute should not be ge

[2021-02-01 14:01] #5534 closed, assigned to bbogdanov

[2021-02-01 14:17] rogerfar commented on #1853
@gnomeontherun it's OK looking I suppose, if this is by spec then yeah, let's leave it. But I still have to add extra hack CSS to make to colors work. At least it's consistent on every browser.

https://stackblitz.com/edit/clarity-v4-dark-theme-abnpwk?file=src%2Fapp%2Fapp.component.html

![image](https://user-images.githubusercontent.com/1142915/106470336-96393600-645d-11eb-9bb7-c3a5bc87cf76.png)

[2021-02-01 16:23] hippee-lee commented on #5542
The `rowAction` can be internationalized with the common strings service. See [here](https://v4.clarity.design/documentation/internationalization) for how to localize as well as a full list of properties that can be localized.

I'm closing this as not an issue but if there is an issue with the common strings please follow up here.

[2021-02-01 16:23] #5542 closed, assigned to nobody

[2021-02-01 17:13] rogerfar commented on #5498
@gnomeontherun I updated today but it didn't install any missing schematics.

Now that NPM upgrades you to 5.0 I think a lot of users will experience this issue.

Also the docs still say that @clr/icons should be enough. Is there an official upgrade from 4 to 5 somewhere? I'm confused to what I'm supposed to use, like what is the difference between @clr/angular vs @cds/angular? Do I need both? Wha

[2021-02-01 19:40] gnomeontherun commented on #1853
@hippee-lee can you take a look at this this week?

[2021-02-01 20:05] hippee-lee commented on #1853
@rogerfar - can you explain more about what needs a css override? I'm not seeing any css to override the default styles in [this](https://stackblitz.com/edit/clarity-v4-dark-theme-abnpwk?file=src%2Fapp%2Fapp.component.html) example from above.

The issue here is specific to the options in a native select element - originally there was an issue with the font color not being set in dark theme and th

[2021-02-01 20:08] rogerfar commented on #1853
That's correct, the original issue was the font color being wrong in the selects, black on black.

But that's why I said, it's OK working, some of the other selects are now completely missing styling.

[2021-02-01 20:16] hippee-lee commented on #1853
Ok, which ones? Sorry I don't see any issues in the stackblitz or the screen captures. What am I missing?

[2021-02-01 20:18] rogerfar commented on #1853
I'm referring to the first 3 selects in the stackblitz:

![image](https://user-images.githubusercontent.com/1142915/106513259-f5b03980-648f-11eb-9905-1ff411f22cdf.png)

[2021-02-01 20:32] hippee-lee commented on #1853
They look like they are working to me:

## Edge
![edge](https://user-images.githubusercontent.com/433692/106514684-6e5fc780-6489-11eb-8d2c-a30d22a02b92.png)

## Firefox
![firefox](https://user-images.githubusercontent.com/433692/106514718-77e92f80-6489-11eb-83b9-5da00799ade5.png)

## Safari
![safari](https://user-images.githubusercontent.com/433692/106514739-80416a80-6489-11eb-8a88-8c297682cd52.pn

[2021-02-01 21:08] gnomeontherun commented on #5498
@cds/angular is the Angular wrapper for Clarity Core. This basically registers the web components in a way that the Angular compiler understands. It does not provide the traditional Clarity Angular components.

If you are using just Clarity Angular, with v5 you should have
* @clr/angular
* @clr/ui
* @cds/core (icons are found inside @cds/core/icon, but you can still use @clr/icon if you have them)

[2021-02-01 21:13] gnomeontherun commented on #3288
This issue is about a version of Clarity that is out of support, and we have recently dropped IE11 support as of the end of 2020 for any version of Clarity. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but there is a workaround that can help address this case.

[2021-02-01 21:13] #3288 closed

[2021-02-01 21:15] gnomeontherun commented on #3245
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-01 21:15] #3245 closed

[2021-02-01 21:16] gnomeontherun commented on #3280
This should have been addressed as part of various accessibility fixes for the Datagrid, closing as resolved.

[2021-02-01 21:16] #3280 closed

[2021-02-01 21:17] gnomeontherun commented on #3299
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-02-01 21:17] #3299 closed

[2021-02-01 21:20] gnomeontherun commented on #3380
At some point we did export the layouts option. If there are other requests with good reason, we could consider them if as contributions if they are meaningful to make public and not internal use only. Closing as resolved.

[2021-02-01 21:20] #3380 closed

[2021-02-01 21:22] gnomeontherun commented on #3433
Angular still doesn't provide this functionality so we are limited in what we can do here. In an effort to help clean up our backlog, I'm going to close this request largely as blocked by Angular and might not require us to do additional work if it is supported. We can revisit the notion in the future if necessary if Angular makes it available.

[2021-02-01 21:22] #3433 closed

[2021-02-01 21:28] gnomeontherun commented on #3542
The drag and drop utilities are internal and we are not planning to make them public. They are meant for any unique purposes we develop internally, and recommend that you consider using other supported drag and drop utilities or build your own for best results. Closing as stale and not supported.

[2021-02-01 21:28] #3542 closed

[2021-02-01 21:30] gnomeontherun commented on #3618
We revamped the color system, and I believe this should have been addressed as part of that work. Closing as resolved.

[2021-02-01 21:30] #3618 closed

[2021-02-01 21:30] #3646 closed

[2021-02-01 21:32] gnomeontherun commented on #3778
This is possible with using CSS form controls in Clarity Angular, or upgrading to the Clarity Core forms which have better input groups built-in. Closing as resolved.

[2021-02-01 21:32] #3778 closed

[2021-02-01 21:33] gnomeontherun commented on #3764
Clarity has a vision for including some accessibility content, but this is a specific detail that we don't need to track. Closing as something that is outside of Clarity's documentation or may be included as part of a generic accessibility guide.

[2021-02-01 21:33] #3764 closed

[2021-02-01 21:37] gnomeontherun commented on #3771
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. To help us clean up our backlog, we are going to close this with a functional workaround available.

[2021-02-01 21:37] #3771 closed

[2021-02-01 21:39] gnomeontherun commented on #3779
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that can support your use case with Clarity

[2021-02-01 21:39] #3779 closed

[2021-02-01 21:40] gnomeontherun commented on #3820
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-01 21:40] #3820 closed

[2021-02-01 21:41] gnomeontherun commented on #3638
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-01 21:41] #3638 closed

[2021-02-01 21:44] RoelRoel commented on #1853
They are not dark themed.

[2021-02-01 21:45] gnomeontherun commented on #3654
Closing as I believe the question has been addressed and it is acting as expected.

[2021-02-01 21:45] #3654 closed

[2021-02-01 21:46] gnomeontherun commented on #3653
Consider using the Clarity Core version of the component for your application which should not have this concern. In an effort to clean up our backlog and focus our attention, I’m going to close this as resolved by the implementation of progress circles in Clarity Core.

[2021-02-01 21:46] #3653 closed

[2021-02-01 21:46] rogerfar commented on #1853
@hippee-lee I was hoping for something like this, like it was in v3:

![image](https://user-images.githubusercontent.com/1142915/106522000-4a59b180-649c-11eb-87a7-a6ef340fe49e.png)

[2021-02-01 22:02] hippee-lee commented on #1853
Ah ok I see. Sorry I should have clarified first. There are only a couple of properties that can be applied to the select options element. It is OS dependent and iir background color isn't one of them. I believe we only have control over the text color.

[2021-02-01 22:19] gnomeontherun commented on #5369
Closing as a duplicate of #627, please review it for details.

[2021-02-01 22:19] #5369 closed, assigned to bbogdanov

[2021-02-01 22:20] gnomeontherun commented on #5329
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-01 22:20] #5329 closed, assigned to nobody

[2021-02-01 22:21] gnomeontherun commented on #5150
Closing as part of the color theme work.

[2021-02-01 22:21] #5150 closed

[2021-02-01 22:23] gnomeontherun commented on #5133
Another workaround would be to use the CSS version of tabs and manage the aria-owns lifecycle yourself. The more we manage internal state the harder it can be to make things behave as expected in interesting edge cases.

There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work ou

[2021-02-01 22:23] #5133 closed

[2021-02-01 22:25] gnomeontherun commented on #4926
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:25] #4926 closed

[2021-02-01 22:26] gnomeontherun commented on #4896
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:26] #4896 closed

[2021-02-01 22:29] gnomeontherun commented on #4750
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues.Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking changes. As we build out Clarity Core, we are able to address these root cause accessibility issues and recommend adop

[2021-02-01 22:29] #4750 closed

[2021-02-01 22:32] gnomeontherun commented on #4739
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:32] #4739 closed

[2021-02-01 22:34] gnomeontherun commented on #4736
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:34] #4736 closed

[2021-02-01 22:35] gnomeontherun commented on #4686
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:35] #4686 closed

[2021-02-01 22:40] gnomeontherun commented on #4683
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:40] #4683 closed

[2021-02-01 22:40] gnomeontherun commented on #4650
@bdryanovski is looking at this one, assigning.

[2021-02-01 22:41] gnomeontherun commented on #4554
Closing as duplicate.

[2021-02-01 22:41] #4554 closed

[2021-02-01 22:42] gnomeontherun commented on #4552
There is a workaround available to update the color as needed for the immediate moment.

Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects

[2021-02-01 22:42] #4552 closed

[2021-02-01 22:43] gnomeontherun commented on #4513
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:43] #4513 closed

[2021-02-01 22:43] gnomeontherun commented on #4508
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:43] #4508 closed

[2021-02-01 22:43] gnomeontherun commented on #4505
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:43] #4505 closed

[2021-02-01 22:43] gnomeontherun commented on #4450
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:43] #4450 closed

[2021-02-01 22:44] gnomeontherun commented on #2677
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:44] #2677 closed

[2021-02-01 22:44] gnomeontherun commented on #3522
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:44] #3522 closed

[2021-02-01 22:45] gnomeontherun commented on #3572
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:45] #3572 closed

[2021-02-01 22:45] gnomeontherun commented on #3891
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:45] #3891 closed

[2021-02-01 22:45] gnomeontherun commented on #3976
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:45] #3976 closed

[2021-02-01 22:46] gnomeontherun commented on #4055
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:46] #4055 closed

[2021-02-01 22:46] gnomeontherun commented on #4067
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:46] #4067 closed

[2021-02-01 22:46] gnomeontherun commented on #4084
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:46] #4084 closed

[2021-02-01 22:46] gnomeontherun commented on #4095
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:46] #4095 closed

[2021-02-01 22:47] gnomeontherun commented on #4110
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:47] #4110 closed

[2021-02-01 22:47] gnomeontherun commented on #4160
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:47] #4160 closed

[2021-02-01 22:47] gnomeontherun commented on #4210
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:47] #4210 closed

[2021-02-01 22:48] gnomeontherun commented on #4211
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:48] gnomeontherun commented on #4212
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:48] #4212 closed

[2021-02-01 22:49] gnomeontherun commented on #4290
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:49] #4290 closed

[2021-02-01 22:49] gnomeontherun commented on #4294
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:49] #4294 closed

[2021-02-01 22:49] gnomeontherun commented on #4347
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:49] #4347 closed

[2021-02-01 22:49] gnomeontherun commented on #4382
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:49] #4382 closed

[2021-02-01 22:50] gnomeontherun commented on #4388
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:50] #4388 closed

[2021-02-01 22:50] gnomeontherun commented on #4400
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:50] #4400 closed

[2021-02-01 22:50] gnomeontherun commented on #4402
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:50] #4402 closed

[2021-02-01 22:50] gnomeontherun commented on #4782
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:50] #4782 closed

[2021-02-01 22:51] gnomeontherun commented on #4835
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:51] #4835 closed

[2021-02-01 22:51] gnomeontherun commented on #5098
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-01 22:51] #5098 closed

[2021-02-02 00:00] hippee-lee commented on #1853
Clarity doesn't set any style for the background color **of the options** ... that comes from the OS. When I switch my macOS appearance to Dark, this is what a demo with Clarity v3 looks like:

### Dark
![Screen Shot 2021-02-01 at 3 52 26 PM](https://user-images.githubusercontent.com/433692/106532811-c1e00e80-64a5-11eb-8940-a1e091893f06.png)

### Light
![Screen Shot 2021-02-01 at 3 55 58 PM](https

[2021-02-02 00:02] rogerfar commented on #1853
Odd that it does work on the multi selects, it's the same thing but with an added attribute as a regular select.

[2021-02-02 00:15] hippee-lee commented on #1853
The options dropdown _thing_ (not a technical term) is owned by the OS, not the browser. Some browsers do allow css to set style, others do not. Since it is owned by the OS we let it be.

I'm going to close this as its not something we have control over. Please lmk if you have a reason to keep it open.

[2021-02-02 00:27] hippee-lee commented on #5531
I linked the PR that fixes this issue and will close it. The fix will be available in the next release and it will also fix the website.

[2021-02-02 00:27] #5531 closed, assigned to nobody

[2021-02-02 02:57] rogerfar commented on #1853
I don't think that's entirely true, why design all other elements to have dark backgrounds, but the select?

This code works fine for all browsers in Windows:
https://stackblitz.com/edit/clarity-v4-dark-theme-dhwreq?file=src%2Fstyles.css
Chrome:
![image](https://user-images.githubusercontent.com/1142915/106545779-38413880-64c7-11eb-8025-21c5fa6a242a.png)
Firefox:
![image](https://user-images.githu

[2021-02-02 04:11] rogerfar commented on #5498
Ok I'll wait with the upgrade until there is more documentation. I tried v5 but there's something up with my icons, some got much bigger, some much smaller.

[2021-02-02 13:40] Jinnie commented on #627
Added to Support Log/DB, as it is a reoccurring question.

[2021-02-02 13:59] Jinnie commented on #2294
I find this similar to something I recently worked on - the popover in a model pattern.
In general - we in Clarity can't know who hosts our components (signpost in this case), so we can't afford to prevent event distribution through the DOM. But the user using our components can and should.
You can (accept this as pseudo-code please) add a `(click)=$event.stopPropagation()` to the clr-signpost tag

[2021-02-02 14:02] tarangkhandelwal opened #5548 "ClrTabs component focus & key support issues when applying clrTabLinkInOverflow to in-between tabs."
## Describe the bug

Clarity ClrTabs component focus (trying to move between tabs using keyboard) does not go to ClrTab present after a tab with clrTabLinkInOverflow set as true. Opening the overflow menu also set's focus to the wrong element.

I am having a use case where some items in between all the tabs can have **clrTabLinkInOverflow**=true

Currently, the component we have in clarity is stat

[2021-02-02 14:12] Jinnie commented on #5548
Adding clrTabLinkInOverflow is not a very common scenario, though it looks pretty valid to me.

I have to state that the tab overflow is not the most accessible pattern by itself and recommend it should be avoided if possible, or substituted to vertical tabs, but still it would be nice to evaluate the effort to fix our key focus handling, especially if it is small and does not need any breaking ch

[2021-02-02 14:34] danosheaz opened #5549 "<form> in modal can cause ExpressionChangedAfterItHasBeenCheckedError"
## Describe the bug

If a modal includes a form, using the ESC key to close the modal can cause an ExpressionChangedAfterItHasBeenCheckedError error.

## How to reproduce

Steps to reproduce the behavior:

CASE 1:

1.  Go to https://stackblitz.com/edit/clarity-v4-dark-theme-aqufsp?file=src/modal/modal.component.html
2.  Put input focus on the "Name" field by clicking there
3.  Hit the ESC key
4.

[2021-02-02 15:22] gnomeontherun commented on #5498
Please provide feedback if you have issues on specifics so we can triage, and make a new issue please.

[2021-02-02 16:41] #5393 closed, assigned to hippee-lee

[2021-02-02 16:42] #5529 closed, assigned to nobody

[2021-02-02 16:42] #5532 closed, assigned to nobody

[2021-02-02 17:02] hippee-lee commented on #1853
That code will not work at all in Safari or chrome on macOS.

[2021-02-02 18:28] davidrourke commented on #4289
Any idea when this will be fixed?  We use several datagrid's within forms and it really throws off the clean UI we are trying to achieve with your framework.

[2021-02-02 18:46] hippee-lee commented on #5549
This seems like a lifecycle issue between the modal lifecycle and the form lifecycle.

[2021-02-02 20:28] danosheaz commented on #5549
Yes, that's what we were theorizing, but being new to Angular, didn't quite know where to go next.

[2021-02-02 20:30] danosheaz commented on #5549
Oh, I also forgot to mention that if you move the form into a sub-component, and use that in the modal instead, the error does not occur.

[2021-02-02 20:43] RoelRoel commented on #1853
Does that matter?

[2021-02-02 22:09] gnomeontherun commented on #5485
@nghiado A possible fix would be to delay rendering the datagrid until both columns and rows have loaded.

[2021-02-02 22:19] gnomeontherun commented on #3917
The issue appears to be resolved from the comments, so I'm going to mark this as resolved. If the issue returns, we can reopen and make sure its an issue with a recent version of Clarity.

[2021-02-02 22:19] #3917 closed

[2021-02-02 22:28] gnomeontherun commented on #3923
There isn't an internal state to access with the Stepper, you have to manipulate the form's state to allow or disallow the step to be completed. For example, if a field is marked as required it will need to have a value before moving forward. I'm still not fully confident the use case or details are outlined here though.

To help us clean up our backlog, we are going to close this knowing that the

[2021-02-02 22:28] #3923 closed

[2021-02-02 22:30] gnomeontherun commented on #3927
We have moved away from the sidenav and rebuilt our website, so this is no longer visible. If you are impacted by this, some custom CSS could align the menu items.

In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo

[2021-02-02 22:41] gnomeontherun commented on #3946
I don't know if this is still an issue, but the provided Stackblitz is not functioning. If it is, please provide an updated demo and we can review otherwise I'm going to close this and it has a workaround as well.

[2021-02-02 22:41] #3946 closed

[2021-02-02 22:50] gnomeontherun commented on #5109
We won't actually remove this to avoid breaking changes, but it is deprecated and useful only if it works for you. If it doesn't, then we suggest using a different service or building your own.

[2021-02-02 22:50] #5109 closed

[2021-02-02 22:52] gnomeontherun commented on #3836
This issue is about a version of Clarity that is out of support. In an effort to better manage our backlog, we are closing this issue. We recognize that some of these issues may remain problematic for you, but to help us to be able to prioritize it we ask for a new GitHub issue with an updated demo with a recent supported version of Clarity.

[2021-02-02 22:52] #3836 closed

[2021-02-02 22:53] gnomeontherun commented on #4119
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-02 22:53] #4119 closed

[2021-02-02 22:54] gnomeontherun commented on #4118
Given this is an internal detail, I'm concerned about possible side effects. At this stage it makes sense to close this and only consider it if we have issues with the existing implementation.

[2021-02-02 22:54] #4118 closed

[2021-02-02 22:58] gnomeontherun commented on #4013
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-02 22:58] #4013 closed

[2021-02-02 22:59] gnomeontherun commented on #4010
We have adopted Clarity City within Clarity Core, making this as completed.

[2021-02-02 22:59] #4010 closed

[2021-02-02 22:59] #4004 closed

[2021-02-02 23:12] hippee-lee commented on #1853
This is a really old issue. In the last discussion about select option backgrounds that I remember, we didn't want to implement styles that were not consistent across all browsers/OSes.

That said, I looked back at v2, v3 and v4 on macOS: Safari, Chrome and Firefox and Windows: Edge, Firefox and Chrome and it doesn't look like we have ever implemented a background-color for select options in any o

[2021-02-02 23:13] #1853 closed

[2021-02-02 23:21] gnomeontherun commented on #4786
Clarity does support trackBy on clrDgItems, so I'm not exactly sure if there is anything that we need to do. I'm going to close this as already a feature.

[2021-02-02 23:21] #4786 closed

[2021-02-03 09:27] #3927 closed

[2021-02-03 09:48] Jinnie opened #5553 "Open event fired twice on Esc key when combobox is in closed state"
## Describe the bug

Combobox fires obsolete events on the (clrOpenChange) output

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://stackblitz.com/edit/clarity-combobox-double-event?file=src/app/app.component.html
2.  Open console
3.  Focus the input without opening the menu
4.  Hit Esc button
5.  Observe 2 subsequent events (open and close).

## Expected behavior

No unnee

[2021-02-03 09:49] Jinnie commented on #5107
I had a research session based on this scenario last week.
Clarity can not know if a component should or should not stop event propagation. But this can (and should) be handled on the user side. Here is a demo, illustrating how this can be achieved for a modal and dropdown:
https://stackblitz.com/edit/pattern-modal-smart-escape-demo?file=src%2Fapp%2Fsmart-escape.directive.ts
It may currently not w

[2021-02-03 09:49] #5107 closed

[2021-02-03 09:50] Jinnie commented on #5107
The combobox event bug mentioned above:
https://github.com/vmware/clarity/issues/5553

[2021-02-03 10:05] Jinnie commented on #5508
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which, as noticed by Chris, has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing i

[2021-02-03 10:05] #5508 closed, assigned to Jinnie

[2021-02-03 11:39] envyN opened #5555 "[Accessibility] Clarity datagrid clr-dg-page-size enhancement request to improve screen reader experience"
This is a fork from #3189 which also mentioned the issue with the select box for the page-size, but was closed without fixing it in the PR #3421 . To re-iterate, specifically this part of the previous issue is left unfixed:

- Setting title on the select using the text in clr-dg-page-size. Example rendered html:

    <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-pa

[2021-02-03 12:32] danosheaz commented on #5549
One other thing about this example is if you put focus in the Name field, then immediately hit the cancel or X (close) button, the validator fires red and the dialog does not close.

Is this another bug (I'm happy to submit an issue if so), or am I doing something wrong?

[2021-02-03 19:34] coryrylan opened #5558 "core: disabled cds-button state"
## Describe the bug

The styles for cds-button and cds-icon-button are breaking theming by having `!important` statements for the disabled state making it impossible to override. There are also overlapping properties between the shared styles of cds-button and cds-icon-button that could be simplified.

## Expected behavior

You should be able to overide the css props in a disabled state

[code]

#

[2021-02-03 20:31] gnomeontherun commented on #4923
Given the complexity of this ask and the availability of workarounds, I don't think we'll pursue this as part of Clarity Angular. Pagination is the recommendation for scaling large datagrids and anything beyond that going to require applications to handle it on their end in an accessible manner. I'm going to close this as something we won't deliver with Clarity Angular.

[2021-02-03 20:31] #4923 closed

[2021-02-03 20:52] gnomeontherun commented on #1468
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-03 20:52] #1468 closed

[2021-02-03 20:53] gnomeontherun commented on #1355
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-03 20:53] #1355 closed

[2021-02-03 20:54] gnomeontherun commented on #1293
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-03 20:54] #1293 closed

[2021-02-03 22:46] jzabinski opened #5559 "Clarity Stackblitz template does not compile"
## Describe the bug

When the Clarity Stackblitz template is opened on Stackblitz, the following message appears:
"Error in ~/src/main.ts
ngcc failed to run on @clr/angular@5.0.0-next.0."

## How to reproduce

[template provided by Clarity](https://stackblitz.com/edit/clarity-v4-light-theme-oeq1uy)

Steps to reproduce the behavior:

Navigate to Clarity's supplied template

## Expected behavior

Th

[2021-02-03 22:50] coryrylan opened #5560 "core: control padding overrides"
## Describe the bug

The control input will add internal padding to compensate for when a control action is placed within the input. However if no control action is being used the inputs are still being overridden breaking certain theme options.

## How to reproduce

Use a cds form control with no control actions and try to override the padding

## Expected behavior

If no control actions are used

[2021-02-04 03:43] himanshunegi1987 opened #5561 "Clarity datagrid | Cannot add row after removing all rows"
## Describe the bug
After removing all items from datagrid source, if I add more items, datagrid does not display the new items.
**Screen Capture**
![Screen_Capture](https://user-images.githubusercontent.com/6043434/106840310-bda62380-6654-11eb-8426-d7aa52ddf874.gif)

## Steps to reproduce the behavior
1. Bind datagrid source to an array
2. Add first item to array
3. datagrid shows one row
4. Add

[2021-02-04 08:32] mathi123 commented on #5107
@Jinnie Could you elaborate a bit more conceptually? Why can't a component decide to stop event propagation? In the case of a popped open dropdown, it seams reasonable to assume that event propagation of ESC can be stopped?

ps: Just trying to get a better grasp of Clarity concepts here :-)

[2021-02-04 09:18] toolen commented on #5344
Hi @Jinnie, any updates on this?

[2021-02-04 10:23] bbogdanov commented on #5561
Hi @himanshunegi1987,

Seems like the installed version of Clarity in the stackblitz is `3.1.15`. I remember doing a fix not along ago with @Jinnie about the rows manipulation and it was definitely after `3.1.2`.

Give it a try with `3.1.15` and let me know how it went.

[2021-02-04 10:38] tarangkhandelwal opened #5562 "ClrTabs: Ability to set custom text for overflow drop down button"
## Summary

The clarity ClrTabs component supports overflow capability where-in some tabs can be put behind a drop-down. This is a useful pattern in the case of a large number of tabs and limited available width. The current implementation however doesn't show the label of the selected item from within the drop down.

- What is the change?
To be able to set custom text and potentially show the sel

[2021-02-04 12:09] bbogdanov opened #5563 "Core component: Card"
Implement Clarity Card in Clarity Core

## API Proposal

[Here](https://github.com/vmware/clarity/blob/22d80b6badbf3250d3a4db7d6ef8aba8de0a7428/packages/core/src/card/card.stories.mdx) and [Here](https://github.com/vmware/clarity/blob/22d80b6badbf3250d3a4db7d6ef8aba8de0a7428/packages/core/src/internal-components/panel/panel.stories.mdx)

[2021-02-04 16:30] jzabinski opened #5564 "Combobox emits null when all characters removed from input"
## Describe the bug

When a combobox option is chosen, removing all input causes the combobox to emit `null`, regardless of whether `null` is a valid combobox option.

## How to reproduce

Stackblitz templates don't seem to be working right now. (See [issue #5559](https://github.com/vmware/clarity/issues/5559).) [This repository](https://github.com/jzabinski/clarity-combobox-emits-null) reproduces

[2021-02-04 17:41] himanshunegi1987 commented on #5561
@bbogdanov
Does that mean '3.1.15' > '3.1.2' ?
I will give '3.1.15' a try and update back

..........Update..........
Works with version '3.1.15'
Thanks

[2021-02-04 18:04] jzabinski opened #5565 "Combobox: error can be thrown while combobox is focused"
## Describe the bug

When Angular removes the combobox while the combobox is focused, the error 'ApplicationRef.tick is called recursively' can be thrown.

## How to reproduce

[This repository](https://github.com/jzabinski/clarity-combobox-ondestroy-error) has code which emulates the issue.

Steps to reproduce the behavior:

1. Download the repository.
2. `npm install`
3. `ng serve`
4. In the com

[2021-02-04 18:11] #5561 closed, assigned to bbogdanov

[2021-02-04 20:04] yuxin-ux opened #5566 "The demo of the button vs. link comparison is incorrect"
The button component pages in core and angular both needs to update the demo:

- [on core page](https://clarity.design/core-components/button/), it is showing two solid buttons.
- [on angular page](https://clarity.design/angular-components/button/), it is showing two flat buttons.

It should be a comparison between flat button and links. Here is the intended design
![image](https://user-images.git

[2021-02-04 21:51] gnomeontherun commented on #5565
I imported this as Stackblitz for easier triage https://stackblitz.com/github/jzabinski/clarity-combobox-ondestroy-error

[2021-02-04 22:03] coryrylan opened #5568 "website: icon a11y docs"
## Describe the bug

The website docs for icon a11y are missing for the new cds-icon recommendations

## How to reproduce

Previous content:
 https://clarity.design/foundation/icons/accessibility/

## Expected behavior

Recommend a11y guidelines for cds-icon
https://clarity.design/storybook/core/?path=/story/components-icon--page

## Versions
@cds/core 5.0

[2021-02-04 22:13] gnomeontherun commented on #2247
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:13] #2247 closed

[2021-02-04 22:14] gnomeontherun commented on #2246
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:14] #2246 closed

[2021-02-04 22:29] gnomeontherun commented on #1985
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:29] #1985 closed

[2021-02-04 22:31] gnomeontherun commented on #1827
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:31] #1827 closed

[2021-02-04 22:33] gnomeontherun commented on #1826
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:33] #1826 closed

[2021-02-04 22:34] gnomeontherun commented on #1825
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:34] #1825 closed

[2021-02-04 22:35] gnomeontherun commented on #1821
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:35] #1821 closed

[2021-02-04 22:37] gnomeontherun commented on #1790
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:37] #1790 closed

[2021-02-04 22:40] gnomeontherun commented on #1782
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:40] #1782 closed

[2021-02-04 22:41] gnomeontherun commented on #1771
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-04 22:41] #1771 closed

[2021-02-04 22:42] gnomeontherun commented on #1674
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-04 22:42] #1674 closed

[2021-02-04 23:53] Shijir opened #5575 "Icons Volume 19"
## Icons Volume 19

Epic to consolidate icon requests for the next icon release

[2021-02-04 23:56] hippee-lee commented on #5107
As a library we cannot stop event bubbling. We need to make that guarantee so that Clarity users have access to events generated inside a Clarity component when they need it. We don't know when they may be listening. If we stop propagation we can prevent the application from having access to user generated events that they may depend on to do other things besides what our components are doing.

 I

[2021-02-05 00:02] lil-kim commented on #5575
Icons for this Epic:
#5089
#5451
#5348
#5517

[2021-02-05 00:07] lil-kim commented on #5089
Hi @alanrenouf
We don't have a specific update icon, but this one is often used. Would it work in your use case?
![image](https://user-images.githubusercontent.com/23196444/106971053-f8ff2b80-6702-11eb-9fa4-57f21e7ead98.png)

[2021-02-05 00:21] #5562 closed, assigned to nobody

[2021-02-05 00:28] hippee-lee commented on #5564
Thanks for the report and sorry about Stackblitz :(
We will triage and get this into the backlog once we know more about what is going on.

[2021-02-05 00:34] hippee-lee commented on #5564
Stackblitz version of the repo from above: https://stackblitz.com/edit/gh-issue-5564-clarity-combobox-emits-null

[2021-02-05 04:51] yuxin-ux opened #5578 "Typo on the website - progress bar"
There is a typo on the [angular component/progress bar page](https://v4.clarity.design/documentation/progress)
Should be "estimated"

![image](https://user-images.githubusercontent.com/33043434/106991300-ca954680-672a-11eb-86d6-bb3f0f4f2001.png)

[2021-02-05 07:58] haichaom commented on #5344
Same problem running on 5.0.0

[2021-02-05 14:50] gnomeontherun commented on #5132
I believe this can be implemented by an application with minimal effort today, but it is a good suggestion to have a standard.

The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Pleas

[2021-02-05 14:50] #5132 closed

[2021-02-05 14:52] gnomeontherun commented on #920
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 14:52] #920 closed

[2021-02-05 14:52] gnomeontherun commented on #963
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 14:52] #963 closed

[2021-02-05 14:53] wghglory commented on #5542
Thanks @hippee-lee ! Very helpful

[2021-02-05 14:54] gnomeontherun commented on #1067
This is similar to other requests that allow triple state sorting. #1468

The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we r

[2021-02-05 14:54] #1067 closed

[2021-02-05 14:57] gnomeontherun commented on #1262
When we implemented the smart popovers for dropdowns, we fixed the issues for the datagrid filter. However, the solution is forthcoming with our Clarity Core implementation of dropdowns which will have this capability.

The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog

[2021-02-05 14:57] #1262 closed

[2021-02-05 14:58] gnomeontherun commented on #1586
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 14:58] #1586 closed

[2021-02-05 15:08] gnomeontherun commented on #2444
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 15:08] #2444 closed

[2021-02-05 15:14] gnomeontherun commented on #674
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 15:14] #674 closed

[2021-02-05 15:15] gnomeontherun commented on #651
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 15:15] #651 closed

[2021-02-05 15:23] gnomeontherun commented on #375
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 15:23] #375 closed

[2021-02-05 16:36] astorije commented on #5403
Hey @coryrylan, it looks like #5518 fixed this issue so I think it can be closed.

Given the following buttons:

<img width="470" alt="Screen Shot 2021-02-05 at 7 30 23 PM" src="https://user-images.githubusercontent.com/113730/107061261-f3a6ed00-67a5-11eb-8ae0-f93d0223cd22.png">

We correctly get the following now:

<img width="466" alt="Screen Shot 2021-02-05 at 7 29 24 PM" src="https://user-imag

[2021-02-05 16:38] coryrylan commented on #5403
@astorije hey yeah lets leave this issue open and I'll update the title

[2021-02-05 18:07] hippee-lee commented on #5344
Hi @toolen and @haichaom - I did a little bit of investigation here and I think I see where the issue is. If its a small change that I can make I'll try to get a PR up soon. If the change has side effects for Combobox we will have to wait until there is time to prioritize and properly address this.

[2021-02-05 18:51] gnomeontherun commented on #2137
Just posting an interesting way this could be done today with minimal effort and Core, but not something we have built in to Core icons.

The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature reque

[2021-02-05 18:51] #2137 closed

[2021-02-05 18:57] gnomeontherun commented on #1347
Issue #5562 is a pretty similar duplicate.

The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to

[2021-02-05 18:57] #1347 closed

[2021-02-05 18:59] gnomeontherun commented on #2482
There are a few workarounds for those using Clarity Angular, which is great thanks for sharing.

The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and re

[2021-02-05 18:59] #2482 closed

[2021-02-05 19:01] gnomeontherun commented on #2528
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:01] #2528 closed

[2021-02-05 19:03] gnomeontherun commented on #2661
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-05 19:03] #2661 closed

[2021-02-05 19:05] gnomeontherun commented on #2807
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:05] #2807 closed

[2021-02-05 19:06] gnomeontherun commented on #2990
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:06] #2990 closed

[2021-02-05 19:10] gnomeontherun commented on #3009
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:10] #3009 closed

[2021-02-05 19:11] gnomeontherun commented on #3608
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:11] #3608 closed

[2021-02-05 19:12] gnomeontherun commented on #3386
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:12] #3386 closed

[2021-02-05 19:15] gnomeontherun commented on #3271
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:15] #3271 closed

[2021-02-05 19:17] gnomeontherun commented on #3930
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:17] #3930 closed

[2021-02-05 19:18] gnomeontherun commented on #3902
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:18] #3902 closed

[2021-02-05 19:20] gnomeontherun commented on #3899
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:20] #3899 closed

[2021-02-05 19:20] gnomeontherun commented on #3861
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct