[2016-11-03 14:22] youdz opened #5 "[Bug] Closed modals emit (clrModalOpenChange) even when Esc is pressed"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Already closed modals should not emit anything when trying to close again. Ideally, they shouldn't even listen to keyboard events unless they're open.

### Actual behavior
If I have 5 closed modals on my page and press Esc, all 5 of them emit a(clrModalOpenChange) output.

### Environment details

* **Angular version:** 2.0.X

[2016-11-08 20:26] jaffoneh opened #17 "Need a single row selection/action pattern on datagrid"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
We need a pattern for selecting a single row in datagrid and taking action on it especially when patch operations are not available. Think of a datagrid containing user accounts and a single action (Edit). How do you select one user and edit their account.

### Actual behavior
Currently, we don't have a pattern for this.

### R

[2016-11-08 23:20] jaffoneh opened #19 "[Clarity Website] Improve scrolling on mobile devices"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Scrolling on the Clarity website on mobile devices should work smoothly.

### Actual behavior
Right now, it is hard to scroll in the documentation or get started pages (although it is fine on the homepage for example)

### Reproduction of behavior
Attempt to scroll on any of the component pages.

### Environment details
iOS 10

[2016-11-09 22:42] jaffoneh opened #29 "Need to provide an option to close all other open stackblocks when a new stackblock is opened in StackView"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Need to provide a way for users to close all other stack blocks when a new stack block gets opened so the stack view acts as an accordion. This will *not* be the default option, it will be an additional feature that a user can turn on.

### Actual behavior
Right now the default and only behavior is to allow as many stack blocks

[2016-11-11 16:41] #19 closed, assigned to mathisscott

[2016-11-11 17:44] #5 closed, assigned to hippee-lee

[2016-11-11 23:24] jaffoneh opened #35 "[WEB] Internal component pages in documentation can scroll left/right even when they shouldn't"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Scrolling should be smooth and work correctly on mobile devices.

### Actual behavior
Currently, pages like the card documentation page can scroll to show empty space to the right/left on the Clarity website. Some components have less space but can continue to scroll left/right as you try to scroll through the page.

### Reprod

[2016-11-11 23:43] mathisscott opened #36 "Remove routerLinks from datagrid demos"
**Select one ...**  (check one with "x")
[code]
### Actual behavior
Having routerLinks in the templates of the datagrid demos is breaking the datagrid documentation.

[2016-11-14 17:41] adityarb88 opened #37 "Tooltips, Dropdown Menus & Sign Posts get clipped off in Modals"
**Select one ...**  (check one with "x")
[code]

### Current behavior

Currently `.modal-body` in `.modal` has a `max-height: 55vh` and `overflow-y: auto`. Using the `max-height` and `overflow: auto` allows us to handle overflowing content inside of the `.modal-body`. But because of the way `overflow: auto` works, the current behavior clips off tooltips, dropdown menus, sign posts, or any other co

[2016-11-14 17:45] jaffoneh opened #38 "Datagrid - Multiline Text"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Currently, multi-line text is supported(-ish) for text inside rows. We don't have a spec for multi-line text in column headers, though. So:
1) Confirm the current design for multi-line text in rows is the one we want. See screenshot attached.
2) Create spec for multi-line text in headers.

<img width="949" alt="screen shot 2016

[2016-11-14 18:38] jaffoneh opened #39 "[WEB] Sub-navigation renders incorrectly on the website (renders correctly on the Clarity Demos)."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The sub-navigation in the headers and sub-nav documentation should appear correctly.

### Actual behavior
Right now, it appears below the line as in the following image:

<img width="925" alt="screen shot 2016-11-14 at 10 27 24 am" src="https://cloud.githubusercontent.com/assets/690949/20277503/b8141252-aa55-11e6-8982-04accc0b6

[2016-11-14 19:00] jaffoneh opened #41 "Provide an infinite scrolling option to the Datagrid"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The datagrid should provide a feature to allow infinite scrolling (in addition to pagination).

### Actual behavior
Currently, we only offer pagination.

### Environment details

* **Angular version:** 2.0.X
2.1.X

* **Clarity version:**
0.7.0

* **Browser:**
All

[2016-11-14 19:22] jaffoneh opened #42 "[CORE] Add CSS regression testing to Clarity's repo"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
We currently have tools that we use to make sure components work when we make changes but we should have public CSS regression testing as part of our build/submission process.

[2016-11-14 19:30] jaffoneh opened #43 "[Core] Upgrade Clarity to TypeScript 2.0"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
We should upgrade Clarity to TypeScript 2.0

[2016-11-14 19:51] jaffoneh opened #45 "Provide validation for text areas"
**Select one ...**  (check one with "x")
[code]

The following tasks will be needed.
- [ ] Design form validation/errors for textareas
- [ ] Implement error/validation messages for textareas
- [ ] Add Documentation on the website

### Expected behavior
How does a user provide validation to a text area. In an input field, there is an error icon to the right of the field which provides a tooltip wit

[2016-11-14 19:56] jaffoneh opened #46 "Provide validation for select boxes"
**Select one ...**  (check one with "x")
[code]

- [ ] Design validation messages for select boxes
- [ ] Implement validation/errors for select boxes
- [ ] Add documentation/example of form validation for selects and multi-selects to website

### Expected behavior
We need design/implementation for form validation/error messages for select boxes.
Note this should include multi-selects.

This should

[2016-11-14 20:00] jaffoneh opened #47 "[Core] Upgrade to Angular 2.2.0"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Angular 2.2.0 is out, we should upgrade Clarity to it (and making sure there are no breaking changes) to release in 0.7.1.

https://github.com/angular/angular/blob/master/CHANGELOG.md#220-upgrade-firebooster-2016-11-14

[2016-11-14 20:05] adityarb88 opened #48 "Active .nav-item box-shadow does not overlap with the box-shadow of .nav"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The box-shadow of `.nav` should overlap with the box-shadow of an active `.nav-item`

![image](https://cloud.githubusercontent.com/assets/1426805/20280726/7d0bdae8-aa62-11e6-9832-f34426821046.png)

### Actual behavior

The box-shadow of `.nav` is not overlapping with the box-shadow of an active `.nav-item`

![image](https://cl

[2016-11-14 22:35] #43 closed

[2016-11-15 02:01] jaffoneh opened #54 "Publish the initial set of Clarity Icons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Now that we have an initial set of 50 icons, we should make them available as part clarity-icons.

**Initial set of icons**
![unspecified](https://cloud.githubusercontent.com/assets/690949/20290336/4d079de6-aa94-11e6-921b-6db02de4a966.png)

[2016-11-15 07:12] #48 closed

[2016-11-15 19:11] adityarb88 opened #56 "[WEB] Incorrect padding being set on the website header for screen-sizes under 991px"
**Select one ...**  (check one with "x")
[code]

### Actual behavior

Extra padding is added after the `.header-actions` on the website on screen size below 991px. This should only be done for the website header on all the 4 pages and not the header demos

![image](https://cloud.githubusercontent.com/assets/1426805/20319601/a83fac00-ab23-11e6-93d2-f199ff83bb18.png)

### Expected behavior

![image]

[2016-11-15 19:35] #56 closed

[2016-11-15 20:43] #39 closed

[2016-11-15 21:15] JohannesRudolph opened #59 "Provide a .forRoot() method on ClarityModule to prevent reimport of ClrResponsiveNavigationService in lazy-loaded feature modules"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
`ClarityModule` needs a `.forRoot()` method so that it cooperates nicely with lazy-loaded feature modules.

### Actual behavior
The current implementation results in separate instances of `ClrResponsiveNavigationService` per injector scope of lazy loaded feature modules

### Reproduction of behavior
For reference, see https://a

[2016-11-15 22:13] mathisscott opened #60 "Re-factored cards added padding to the left and right of progress blocks"
**Select one ...**  (check one with "x")
[code]

### Actual behavior
There is an additional X amount of padding to the left and right to progress blocks inside of cards.

See image.

### Reproduction of behavior

Visible on the website https://vmware.github.io/clarity/documentation/progress

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:** 0.7.1

* **Browser:** all

![

[2016-11-15 22:22] jaffoneh commented on #59
Thanks for filing this issue @JohannesRudolph. @youdz will try to get this fixed ASAP. Assigning this to him.

[2016-11-15 22:22] mathisscott opened #61 "[icons] clarity icons should not depend on source code outside of itself"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Clarity icons should be a package all on its own. It should not rely on SASS files inside of ClarityUI.

### Actual behavior
Clarity icons imports `../clarity/utils/variables.clarity` -- which is a file inside of clarityUI.

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version

[2016-11-15 22:24] jaffoneh commented on #59
Actually, @hippee-lee will take care of this one!

[2016-11-15 22:40] youdz opened #62 "[NG] Support AoT compilation"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Applications using Clarity components should be able to use AoT compilation.

### Actual behavior

Some of the Clarity components cannot be compiled ahead of time, mostly because they modify HTML elements directly instead of going through the renderer.

### Reproduction of behavior

Pretty hard to reproduce in a plunker...

##

[2016-11-15 23:51] reddolan commented on #37
Discussion started

[2016-11-15 23:56] hippee-lee opened #65 "The Stack View Cheveron is not middle aligned on Stack View with children"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Stack View's with children should display a chevron vertically aligned in the middle.

### Actual behavior

The Stack View with children has a chevron aligned to the top of its container.

### Reproduction of behavior

<img width="259" alt="screen shot 2016-11-15 at 3 53 30 pm" src="https://cloud.githubusercontent.com/assets/4

[2016-11-16 08:01] aldialimucaj opened #67 "Feature Request: TreeView"
We would love to have TreeView in the awesome framework.

[code]

[2016-11-16 08:04] jaffoneh commented on #67
@aldialimucaj thanks for the feedback, a tree view is definitely on our roadmap.

[2016-11-16 08:46] jaffoneh opened #68 "Homepage should have a link to the sketch template when mentioning it"
**Select one ...**  (check one with "x")
[code]

### Actual behavior
Currently, we mention the sketch template on the homepage but do not provide a link to it, this might be confusing to some users based on discussion here: https://news.ycombinator.com/item?id=12965381. We should provide a link to the sketch template when appropriate, even on the homepage.

[2016-11-16 09:05] kucharzyk commented on #67
@jaffoneh Maybe it's good idea to publish clarity roadmap to avoid issues like this one?

[2016-11-16 09:10] jaffoneh commented on #67
@kucharzyk we're actually working on it. We're considering a few ways to do it (Trello, GitHub Projects and Issues, etc) but our goal to provide short term goals (that you can depend on) as well as longer term roadmap as well.

[2016-11-16 09:14] Radu-Dunarentu opened #69 "Feature Request: Multiple select for dropdown/select boxes"
### Multiple select
[code]

### Expected behavior
With a select box/drop-down, the users can select one or multiple items from a list of values. On the option list, every option can have a checkbox in front of it. Should be able to select/check all options and uncheck/unselect all options. This feature would be very useful on a dashboard application.

### Example:
http://i.stack.imgur.com/1SYwV.gi

[2016-11-16 09:20] aldialimucaj commented on #67
@jaffoneh thanks for the quick response. im closing this issue then and wait for the roadmap.

[2016-11-16 09:20] #67 closed

[2016-11-16 13:48] JohannesRudolph opened #71 "Support Momentum Scrolling on .main-container"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The main container should support momentum scrolling on iOS devices.

### Actual behavior
The main container does not scroll nicely on iOS devices (tested with iPad on iOS 9).

### Reproduction of behavior
E.g. the clarity docs site:

Adding this css fixes the issue:
[code]

### Environment details

* **Angular version:** 2.2.X

[2016-11-16 14:18] mathisscott commented on #71
Quick question.

This works fine on iPhone 6 and iPhone 5. We are applying `-webkit-overflow-scrolling: touch;` responsively.

So I am wondering if you're using iPad in portrait or landscape mode? Maybe there is an issue with the breakpoint?

Thanks.

[2016-11-16 14:37] JohannesRudolph opened #74 "<input type="url"> doesn't get styled like <input type="text"> does"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Should look like text input

### Actual behavior
Looks unstyled, no css selector matches, see top field in figure below
![image](https://cloud.githubusercontent.com/assets/130103/20351306/94633edc-ac12-11e6-8731-26bec2211b72.png)

### Reproduction of behavior
... trivial

### Environment details

* **Angular version:** 2.2.X

*

[2016-11-16 14:39] benelliott opened #75 "Documentation site is running in Angular dev mode"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The documentation site at https://vmware.github.io/ is currently running in Angular 2 Development mode. This means that debug metadata is still attached to elements and slows the site down. You could improve the speed of the site significantly by adding a production setup which disables dev mode and includes AOT compilation.

#

[2016-11-16 15:18] JohannesRudolph commented on #71
Thanks for the quick response @mathisscott, using iPad in Landscape mode os it's above the breakpoint. Momentum scrolling should work regardless of breakpoint. You can also reproduce this in Safari Mobile using Xcode's iOS Device Simulator.

[2016-11-16 15:31] mathisscott commented on #71
Yup. I've reproduced some bad issues with an iPad in landscape mode. Thanks for bringing them to our attention. In portrait mode, the site appears to do fine. But we need to fix a bunch of issues with landscape mode, mostly around responsive breakpoints.

Thanks for pointing this out, @JohannesRudolph.

[2016-11-16 15:48] JohannesRudolph opened #76 "Document how to use dropdown in header-nav"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Documentation should include an example for how to correctly use a dropdown with a text label in the navbar.

### Actual behavior
Consider the following code:
[code]

This positions the caret in the center of the nav-link like so:
![image](https://cloud.githubusercontent.com/assets/130103/20353818/4d0aa93a-ac1c-11e6-9e29-976fcb

[2016-11-16 15:53] adityarb88 commented on #76
Hi @JohannesRudolph. Really appreciate your feedback. We will get this fixed this asap.

[2016-11-16 15:59] JohannesRudolph opened #77 "Add Plunkr/Codepen/JSFiddle or similar template for quick bug reports"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
It would help tremendously if you could provide a  Plunkr/Codepen/JSFiddle template (whatever works for you) for users to spin up quick repros and submit bug reports. Couldn't find any such template in the docs.

[2016-11-16 15:59] adityarb88 commented on #76
@JohannesRudolph: Our UX team does not recommend using dropdowns in the `.header-nav` section of the header. Clarity supports 3 levels of navigation. If you want to add another level of navigation to the header, we recommend you consider using the Sub Navigation or the Sidenav. We have a section on our docs which explains this in more detail: https://vmware.github.io/clarity/documentation/app-layo

[2016-11-16 16:30] #47 closed

[2016-11-16 17:11] jeeyun opened #79 "Add installation instruction for Clarity using angular-cli"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

In the documentation, add instruction on how to include Clarity for projects using angular-cli.

[2016-11-16 17:25] amellnik commented on #79
I missed it the first time around, but I think [this section](https://github.com/vmware/clarity#installing-clarity-angular) of README.md covers it.

[2016-11-16 19:46] adityarb88 opened #82 "Branding Icon should hide on medium and smaller screens"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

![image](https://cloud.githubusercontent.com/assets/1426805/20362942/280cd3bc-abf2-11e6-9374-b12aa501897a.png)

### Actual behavior

![image](https://cloud.githubusercontent.com/assets/1426805/20362894/eb156e42-abf1-11e6-849c-fdf6b3dd9c87.png)
Branding Icon should hide on medium and smaller screens.

### Reproduction of behavi

[2016-11-16 20:15] adityarb88 opened #84 "Hamburger/Overflow Icons Bug Fixes"
- The hamburger icon on medium and smaller breakpoints is not vertically aligned.
- cursor is not set to pointer
- header nav/actions styling on hover is not followed by the responsive nav triggers

**Select one ...**  (check one with "x")
[code]

### Expected behavior

![image](https://cloud.githubusercontent.com/assets/1426805/20363988/4d1d516e-abf6-11e6-96ca-7b381132e28b.png)

### Actual behavi

[2016-11-16 22:10] JohannesRudolph opened #86 "clr-dropdown component close on click has delay"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Dropdown should close immediately after click

### Actual behavior
Dropdown closes approx 300ms or later after click. It's enough to be noticably delayed.

### Reproduction of behavior
Check out drop down under heading: "1. clrMenuPosition is set to top-left. Default is bottom-left"
at https://vmware.github.io/clarity/documenta

[2016-11-16 22:20] JohannesRudolph opened #87 "Document how to import only part of Clarity SCSS into a project"
[code]

### Expected behavior
Users of clarity should only have to pull in the css they need (e.g. that of components actually used).
This improves page load times and reduces parsing overhead.

### Actual behavior
Current setup instructions say we should include the full clarity-ui.min.css @ ~800kb IIRC.
Source: https://vmware.github.io/clarity/get-started/index.html#howToUse , section 2b.

I'm n

[2016-11-17 00:51] reddolan opened #89 "Text style updates to UI Kit"
[code]

### Expected behavior
P4 should be #000000
Data Grid & Table headers should be P6

### Actual behavior
P4 is #565656
Data Grid & Table headers are P4

### Reproduction of behavior

### Environment details

* **Angular version:**

* **Clarity version:** 0.6.0 UI Kit

* **OS and version:**

* **Browser:** [all]

[2016-11-17 02:15] #60 closed

[2016-11-17 04:18] cstranex opened #90 "Add an Autocomplete component"
[ ] bug
[X] feature request
[ ] enhancement

### Expected behavior
Implement an auto complete component that will automatically display a dropdown with possible choices. Should support:

- custom filter function
- drop-down template (eg: multiline lines)

### Reproduction of behavior
Example of an autocomplete component from another library: https://material.angularjs.org/latest/demo/autocomplete

[2016-11-17 08:42] Shengjian opened #91 "npm install failed"
**Select one ...**  (check one with "x")
[code]
After I updated the package.json file, then run rpm install
### Expected behavior

The latest clarity UI has been installed

### Actual behavior

It threw errors:
npm ERR! peerinvalid The package @webcomponents/custom-elements@1.0.0-alpha.3 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer clarity-icons@0.6.2 wan

[2016-11-17 10:33] rhodesy commented on #91
What version of Node.js are you running? Find out by using 'node -v' in your console. Updating this, if you're running an outdated version, might help out. It's recommend to run the latest Long Term Support version: v6.91 LTS.

[2016-11-17 11:51] cstranex opened #92 "Alert text is not vertically centred to icon"
[code]

### Expected behavior
Alert icons are aligned with text.

### Actual behavior
Text is slightly higher than the alert text.
![results](https://cloud.githubusercontent.com/assets/453573/20388292/dc4ae6e0-accc-11e6-9dd3-20fabd202f52.png)

### Reproduction of behavior
[code]

### Environment details

* **Clarity version: 0.7.0**

* **Browser:** [ Chrome 54 | Firefox 49.0.2 ]

### Workaround
Sp

[2016-11-17 12:00] adityarb88 commented on #92
Hi @cstranex. Thanks for reporting this. I will get this fixed ASAP.

[2016-11-17 16:54] #82 closed

[2016-11-17 16:55] #84 closed

[2016-11-17 17:03] #92 closed

[2016-11-17 17:34] Shijir commented on #91
Hi @Shengjian,

Please make sure this package "@webcomponents/custom-elements": "github:webcomponents/custom-elements#v1.0.0-alpha.3" have no conflict with the same package that's installed globally.

[2016-11-17 17:34] #91 closed

[2016-11-17 18:44] mathisscott commented on #87
A few challenges here:

• Many of the SCSS files are dependent on other files, so delivering them as individual files may bloat the resulting deliverable
• Breaking up the generated CSS may make using our HTML/CSS deliverable prohibitively painful

The minified CSS is a convenience for those who either do not want or cannot build their own minified CSS from SASS. If users wanted to customize the b

[2016-11-17 19:11] jeeyun commented on #79
@amellnik we thought it wouldn't hurt to add more specific instructions on how to include our static assets to your application if it's built with angular-cli. Now both the README and our website documentation are updated.

[2016-11-17 19:11] #79 closed

[2016-11-17 20:14] amellnik opened #97 "Minor: Debug code left in datagrid.ts"
[code]

### Expected behavior
No messages printed to the console from normal datagrid behavior.

### Actual behavior
Prints the number of empty rows.

### Reproduction of behavior
Can be seen in demo app [here](https://amellnik.github.io/clarity-demo/tables).

### Environment details

* **Angular version:** 2.1.0

* **Clarity version:**  0.7.0

* **OS and version:** Win8.1 x64

* **Browser:** All

[2016-11-17 20:21] amellnik opened #98 "Code highlighting not applied when navigating through angular's router"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Navigating to a component via a route should result in the same code highlighting as refreshing the page on that route.

### Actual behavior
Code highlighting is only applied if the component is refreshed.

### Reproduction of behavior
Load [this page](https://amellnik.github.io/clarity-demo/).  Code highlighting is applied. Ne

[2016-11-18 00:16] youdz commented on #97
Thanks for noticing, we removed it as part of a "misc fixes" for Datagrid, which should go in tonight. 0.7.1 will not have the log anymore.

[2016-11-18 00:45] youdz commented on #98
Hi @amellnik, this is a good catch. A quick investigation reveals that when hitting back, Prism is run on the `<code>` element _before_ the example is interpolated in.

Our code highlight component was initially meant for our static website demos, and listening to changes to its inner text requires quite the refactor. I will raise this to the team and we will see how we can fix it and when.

In th

[2016-11-18 00:46] reddolan opened #100 "Update form headers on the website"
[code]

### Expected behavior
- Form headers should have normal casing
- Form headers margin-bottom should be reduced by 12px

### Actual behavior
- Form headers are set to text-transform: uppercase
- Form headers are difficult to distinguish with the current whitespace
- [https://vmware.github.io/clarity/documentation/forms](https://vmware.github.io/clarity/documentation/forms)

### Reproduction

[2016-11-18 02:59] #97 closed

[2016-11-18 10:33] sbacem opened #102 "[ bug ] Error loading "clarity-angular" in app.module.js"
I have installed clarity in   [quickstart angular ](https://github.com/angular/quickstart)
But i have thise error  loading "clarity-angular" in app.module.js

index.html
[code]
app.module.ts
[code]
link of all code [https://ide.c9.io](https://ide.c9.io/sakli_bacem/proejct-clarity)

[2016-11-18 14:45] sdemurjian opened #103 "Where is the documentation for angular components?"
I don't see the documentation for angular components anywhere; am I missing something here?

I would also expect the full source code for each example to be available like most other component libraries.

BTW, a gitter would be nice for general usage questions.

[2016-11-18 15:08] jaffoneh commented on #103
@sdemurjian depending on the component you're looking for, the Angular documentation is there in that component's page. For example: if you go to dropdowns you can see that part of the component is built on top of Angular (or that dropdown is an Angular 2 component)

<img width="905" alt="screen shot 2016-11-18 at 7 05 51 am" src="https://cloud.githubusercontent.com/assets/690949/20434659/b079e28c

[2016-11-18 15:44] sbacem commented on #102
I fixed it
it should be added clarity-angular in systemjs.config.js

[code]
it must change also
`rxjs: { defaultExtension: 'js' },`
to.
`rxjs: { main: 'Rx.js', defaultExtension: 'js' },`

I think is better to set in Install Clarity

[2016-11-18 16:30] sdemurjian commented on #103
Thanks for the quick reply. The issue I was having is that for example the header page does not have `[clr-nav-level]` or even the components like `<clr-header>` listed. I was only aware the components existed from looking through the source code.

https://vmware.github.io/clarity/documentation/header

[2016-11-18 16:46] adityarb88 commented on #103
@sdemurjian: The responsive navigation is documented on this page: https://vmware.github.io/clarity/documentation/navigation under the Responsive Navigation section since it involves using both `<clr-main-container>` and `<clr-header>` with `clr-nav-level`. I will get this feedback back to the team on finding the docs for responsive navigation to check how we can document this better so that its e

[2016-11-18 17:02] sdemurjian commented on #103
@adityarb88 Oops, I definitely missed that section. Sorry about that!

[2016-11-18 17:12] adumesny opened #105 "Login background pattern black on IE11"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
login background blue background to render correctly

### Actual behavior
solid black background on IE11 (fine on Edge)

### Reproduction of behavior
running IE11 on windows 10 (ok with Edge) open login URL to document (same issue on running app)
https://vmware.github.io/clarity/documentation/login

notice it is running with de

[2016-11-18 17:15] RobPatten opened #107 "Minor: Increase space above first H3 on components pages ~ 24px on component pages"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The H3 (i.e. "Using 'Blat") should be clearly discernible, especially after clicking  the Design Guidelines link.
### Actual behavior

Heading is crowded and pushed to top.
It's difficult to see.

### Reproduction of behavior

https://vmware.github.io/clarity/documentation/datagrid#guidelines
### Environment details

* **Angul

[2016-11-18 17:18] #36 closed

[2016-11-18 17:18] mathisscott commented on #36
Closed with PR listed above

[2016-11-18 17:18] RobPatten opened #108 "Adjust breakpoint on html5, css3, and NG2 badges"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Rendering of badges should have better reactive behavior w/ titles on narrow view ports
### Actual behavior

When component pgs w/ longer titles on iPhone 6, badges crowd over topic title
### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**
0.7.0
* **OS and version:**

* *

[2016-11-18 17:47] mathisscott opened #109 "scrollbar on website What's New section is in the wrong place"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Scrollbar in content area should be all the way to the left and extend from bottom of header to bottom of screen

### Actual behavior
Scroll bar is in the middle of the page

### Reproduction of behavior
Go to the What's New section. Scroll the page

### Environment details

* **Clarity version:** 0.7.1

* **OS and version:**

[2016-11-18 18:54] Kushmaro opened #110 "on minified version of clarity, please have first characters depict the clarity.css version"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Being able to view clarity.css version when inspecting the clarity minified version.
This helps quite a lot to create consistency between different web-services using clarity-css.

### Actual behavior
upon inspecting clarity-ui.min.css, you will see the normalize version it uses:
"/*! normalize.css v4.2.0 | MIT License | github

[2016-11-18 19:20] youdz opened #111 "[NG] Datagrid: offer two-way binding on the selected state of a row"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

We want two-way binding offered on the `<clr-dg-row>` component for its selected state. This would allow users to select items programmatically more easily, or keep up-to date with the current selection status:
[code]

### Actual behavior

Currently, the only way to do this is to grab the DatagridRow instance through template

[2016-11-18 21:47] jaffoneh commented on #103
Pinging @gachappell to make sure we take this into account in our documentation. Closing this bug based on the previous comment!

[2016-11-18 21:47] #103 closed

[2016-11-18 22:39] ArgTang opened #112 "[feature request] Slider component (input type="range")"
[code]

###
input slider
I did try to search here on github and through the docs, but i could not find any. So i would like to voice my need for a slider component.

We have a design for a slider component here

![image](https://user-images.githubusercontent.com/79500/65522675-bbed1d00-deb0-11e9-8c4a-41afa743bec2.png)

[2016-11-19 02:03] yuniors87 opened #115 "Problem with settings dropdown in header-actions"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I want to add a settings dropdown in my header, inside the header-actions as you show in your examples.

### Actual behavior
The dropdown becames to button, does not show the list on click and the icons are superimposed.
BTW I used angular-cli seed to setup the project.

I'm either doing something wrong or this is a bug in clar

[2016-11-19 02:21] jaffoneh commented on #17
@yenmade could you provide some UX input here on the pattern to be used for single row selection/action in a datagrid?

[2016-11-19 02:23] jaffoneh commented on #29
@yenmade this needs some UX input. The point of a stackview is progressive disclosure but my concern is that this makes a stackview an accordion and might encourage that pattern as a recommended pattern by Clarity. It seems to me that if you want to close other stackblocks as you open new ones then maybe a stackview is not what you're looking for because you could many of other options (tabs for e

[2016-11-19 02:27] jaffoneh commented on #65
@hippee-lee seems this has been fixed in 0.7.1 (I believe it was fixed by @Shijir). If you can still replicate it please reopen this issue. https://vmware.github.io/clarity/news/releases/0.7.1/

[2016-11-19 02:27] #65 closed

[2016-11-19 02:29] jaffoneh commented on #68
@yenmade could you provide some more input here? Do we want the "big card" on the homepage to link each of its four aspects to the documentation to make it easier to find those assets/docs?

[2016-11-19 02:32] jaffoneh commented on #86
@reddolan do you mind taking a look to confirm the delay needed for this. I agree, it takes a bit too long for a dropdown to close once I click outside to close.

[2016-11-19 02:33] jaffoneh commented on #102
@jeeyun do we want to document this in the Wiki/FAQ to make sure the resource is available for others to take a look?

[2016-11-19 02:34] jaffoneh commented on #105
I couldn't personally replicate this one on IE11 on Windows 7. @adityarb88: can you take a look and see if you can replicate?

[2016-11-19 02:36] jaffoneh commented on #107
@RobPatten could you provide more details, I am unable to figure out what is meant here in this bug (unless it already got fixed).

[2016-11-19 03:48] sivaah opened #116 "Plnkr link in CONTRIBUTING.md is wrong"
[x] bug
[ ] feature request
[ ] enhancement
[code]

[2016-11-19 04:04] sivaah opened #118 "[NG] Datagrid: Restrict to single row selection"
[ ] bug
[x] feature request
[ ] enhancement
[code]

[2016-11-19 04:14] jaffoneh commented on #118
@sivaah could you provide more information around your use case? Are you trying to select a single row to perform an action, copy content, etc?

I am trying to make sure we include that in Issue #17 which is filed on single row selection in datagrid.

[2016-11-19 05:37] sivaah commented on #118
@jaffoneh, Yeah.. Looks like duplicate of issue #17

The feature request is to restrict user to select only one row from Datagrid so that some action can be performed on that row. currently selection allows selecting multiple row.

Please mark this as duplicate of issue #17

[2016-11-19 05:37] #118 closed

[2016-11-19 05:59] sivaah commented on #111
Can we reuse 'clrDgSelected' directive offered in <clr-datagrid> to select items programmatically?

`<clr-datagrid [(clrDgSelected)]="selected">`

currently the selected property will get updated with the list of items selected. can we make this variable two way? so that any changes to that variable will reflect in the datagrid selection.

1. Push a record to **selected** to make the row selected

[2016-11-19 06:55] adityarb88 commented on #86
@jaffoneh, @reddolan: This is because there is a transition that we have set: `transition: visibility 0.2s ease-in`. If we remove this, the menu will hide without any delay but we had initially decided to add this transition. Let me know if we want to remove this and I can get this done.

[2016-11-19 07:41] adityarb88 commented on #115
Hi @yuniors87. I had some time to take a look at your code and I found 3 issues:

1. You are using the Angular Dropdown outside of the entry point of your application. You need to place your `main-container` inside of `app.component.ts`.

2. You are placing the caret icon before the settings cog.

3. You are missing the `.content-area` wrapper inside of the `.content-container`. This is unrelated

[2016-11-19 07:41] #115 closed

[2016-11-19 12:59] yuniors87 commented on #115
Yeah! the main problem was tha I was trying to put the hearder in the principal index file.
Thanks for your time!

[2016-11-19 19:16] adityarb88 commented on #105
Actually even I am unable to replicate this issue and I made sure that the mode and agent are the same. Since @adumesny is actually facing this issue on the Clarity website too, it isn't related to the markup being used or styles being overridden or something like that. I even tried running this on IE10 and Edge and it worked fine on those browsers too. Not exactly sure how to debug this.

@adumes

[2016-11-19 20:21] saravanareddy opened #121 "[feature request] Add date/time picker component"
**Select one ...**  (check one with "x")
[code]

Would be great to see a calendar component added to the list. Thank you.

[2016-11-19 23:50] jaffoneh commented on #121
@saravanareddy could you provide a bit more information? Are you looking for a date/time picker components? I want to make sure we're talking about the same component before providing more information.

[2016-11-20 08:00] saravanareddy commented on #121
@jaffoneh: I should have called it date/time picker to be more precise. Please feel free to rename the issue as you see fit. Thank you.

[2016-11-20 11:14] uNki23 opened #123 "Custom template for select component"
[code]

### Expected behavior
select component should be able to display items with custom templates. you could have an image in front of the text or some detail information like:

___________________
**USERNAME**
_USERTYPE_
___________________
**USERNAME**
_USERTYPE_
___________________
**USERNAME**
_USERTYPE_
___________________

### Actual behavior
select component display native select (depend

[2016-11-20 11:22] uNki23 commented on #69
checkboxes should be optional - the selected options could be highlighted in another way (another background, bold text, ...).
to get this working, #123 would be needed, so one would be completely free to style the items (selected) template.
it's also important to distinguish between two modes:
- display selected items ("User 1, User 4, User 6")
- display customizable selected items count ("3 user

[2016-11-21 07:52] manuelmoyaroldan opened #124 "Webpack support"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Webpack version for clarity seed & angular2

### Actual behavior

--
### Reproduction of behavior

--
### Environment details
--
* **Angular version:** 2.0.X

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Saf

[2016-11-21 08:20] #124 closed

[2016-11-21 08:20] manuelmoyaroldan commented on #124
Sorry... i have just realized it exists.

[2016-11-21 13:41] Rebolon opened #126 "SideNav not on the left but after content-area when using router-outlet"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
A sideNav should display on the left side of the page.

### Actual behavior
The sideNav is displayed at the bottom of the content-area when we have this DOM :

`

    <body class="">
      <div class="main-container">
        <app-root >
        <header class="header header-4">...</header>

        <div class="content-container

[2016-11-21 13:54] Rebolon commented on #126
Here is a temporary solution :
in the root file styles.css, i added this :

    app-item-layout {
        display: flex;
    }

Not sure it's the right way of doing this.

[2016-11-21 14:31] youdz commented on #111
@sivaah: This is already the case, 2-way biding on `[(clrDgSelected)]` on the datagrid component itself works just like you described.

[2016-11-21 14:37] youdz commented on #116
Fixed in #114

[2016-11-21 14:37] #116 closed

[2016-11-21 15:29] ArgTang opened #127 "[Tutorial] a working form example"
[code]

### Expected behavior
A small working form example with validation using ng2's ReactiveFrom
Showcase of how to trigger tooltips and warnings from ts

### Actual behavior
The examples show snapshots of a form (i.e. markup)

[2016-11-21 16:21] youdz commented on #123
The problem with custom-build "select" elements with divs and spans is that they are not semantic, they are read completely wrong and almost impossible to use on screenreaders. And accessibility is one of our biggest priorities.

For this reason, we decided to stick to native `<select>` elements at the moment. We obviously styled the input part, but heavily customizing the dropdown is pretty much

[2016-11-21 16:31] youdz commented on #126
The `<content-container>` has `display: flex`, and as such it expects the various pieces of the layout to be its direct children. The solution is generally to include more or less in the template of your custom child components: one template containing the overall layout, `<router-outlet>` inside the `.content-area` element, and child components inside the various slots of the layout.

As an examp

[2016-11-21 16:41] youdz commented on #69
I believe a multi-select component was on our roadmap at some point. This is a totally valid request that we will add on our backlog.

This component seems to have dropped out of our priorities though, so I will let @jaffoneh answer with more details when he comes back next week.

Also, before we can start implementing, this new component will need to go through our UX team for evaluation and a fi

[2016-11-21 19:06] reddolan commented on #86
@adityarb88 do we have the transition set for both show/open and hide/close, or are there separate transitions for each? I would prefer to have an show/open transition if possible

We could do one of two things:
1. We could change the transition time to 0.1s (I've tested and it's much faster)
2. We could remove the transition altogether

[2016-11-21 19:14] reddolan commented on #86
After testing it a bit more, it seems that the transition is only on hide/close. If I set the transition time to something ridiculous like 0.9s, it opens quickly and closes slowly. As it seems the transition is only affecting hide/close, I would recommend removing the transition altogether.

[2016-11-22 05:00] yenmade commented on #17
I will be looking at this alongside other datagrid items.

[2016-11-22 06:08] pratheekhegde commented on #62
I wish this gets resolved ASAP. AOT is a lifesaver sometimes.

[2016-11-22 10:12] sivaah opened #130 "[NG] Datagrid: Display message when there are no data to display"
[code]

### Expected behavior
A standard or custom message should be displayed when there are no data to display (when the results array is empty - zero records)

### Actual behavior
currently it displays a blank table
![screen shot 2016-11-22 at 3 35 05 pm](https://cloud.githubusercontent.com/assets/6573919/20519719/07075066-b0ca-11e6-8ed5-8c22285d112d.png)

### Reproduction of behavior

### Envi

[2016-11-22 10:45] sivaah opened #131 "[NG] Datagrid: Grid doesn't clear the data when the items are empty"
[code]

### Expected behavior
The datagrid should clear the previously displayed results when items are empty.

### Actual behavior
1. The datagrid reflects the changes in the items when changed
2. The datagrid reflects when the number of items changed

But the datagrid doesn't reflect when there are no items to display.

### Reproduction of behavior
1. Create a simple grid with load data button t

[2016-11-22 11:16] sivaah commented on #111
@youdz, The selected state works fine once the grid is rendered / displayed data. If i add some records to "selected" to make one/some record selected initially that It doesn't work.

In the following example, I'm pushing the first record to selected as soon as the data is fetched, to make the first record selected by default but it doesn't work.
[code]

I will try to create plunkr and update this

[2016-11-22 16:22] #108 closed

[2016-11-22 16:25] youdz commented on #111
No need to create the plunker, I understand where the issue comes from. I'll see what we can do to fix this. 👍

[2016-11-22 16:52] #109 closed

[2016-11-22 17:00] reddolan commented on #89
[Clarity-0.7.0.sketch.zip](https://github.com/vmware/clarity/files/607012/Clarity-0.7.0.sketch.zip)

[2016-11-22 17:33] #131 closed

[2016-11-22 20:02] yenmade commented on #68
Proposed enhancements to the website:
1. Home page
   * Main card - change text from "Sketch UI Kit" to "Sketch template" (this should be applied anywhere we mention "UI kit")
   * Link "Sketch template" in body to download the template (https://vmware.github.io/clarity/images/sketchTemplates/Clarity-Template-0.6.0.sketch)
<img width="1377" src="https://cloud.githubusercontent.com/assets/22527471/

[2016-11-22 20:44] gssjr opened #137 "Icon-friendly button classes"
**Select one ...**  (check one with "x")
[code]

Clarity has no button styling ideal for icon buttons in toolbars or floating action buttons.

[2016-11-22 20:47] #68 closed

[2016-11-22 21:40] #100 closed

[2016-11-22 21:44] #74 closed

[2016-11-23 04:44] youdz commented on #137
I believe we have actionable icons triggering a dropdown.

Yes, just found the docs: https://vmware.github.io/clarity/documentation/dropdowns#clarity-icon-as-the-dropdown-toggle

Does this correspond to your use case? Or are you looking for a pure icon button, triggering a custom action immediately on click?

[2016-11-23 08:38] sivaah commented on #76
@adityarb88 , Using text as dropdown toggle in .header-action is not documented
https://vmware.github.io/clarity/documentation/header

[code]

Example shows icon as dropdown toggle in the .header-action.

Adding text as dropdown toggle looks like this
###Actual behaviour
![screen shot 2016-11-23 at 1 54 44 pm](https://cloud.githubusercontent.com/assets/6573919/20555015/ad9c67ac-b185-11e6-8fb2-055a

[2016-11-23 11:34] r-bowen opened #139 "Datagrid: Dynamic css class overrides datagrid-row css class"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Dynamic css classes should not override the datagrid-row class that has been created by Clarity.

### Actual behavior
I have dynamic data being pushed from the server to client over websockets which updates my Angular model. The model is bound to the css class of the grid row as shown in the example below. When the html is firs

[2016-11-23 11:40] r-bowen opened #140 "Datagrid: Filters are not applied to dynamic data in a datagrid"
[code]

### Expected behavior
Any applied filters should be reevaluated when data dynamically changes.

### Actual behavior
The filter on a column is only applied when it is first created so if data in that column dynamically changes the filtered results are no longer correct.

### Reproduction of behavior
This is the angular template I am using
[code]
### Environment details

* **Angular version:

[2016-11-23 13:59] manuelarte opened #141 "Add datepicker support"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Date picker. Right now, I can put dates by adding <input type="date"...> but it would be nice to have a date picker component.
### Actual behavior

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | I

[2016-11-23 15:47] jaffoneh commented on #141
Thanks, @manuelarte for the issue. This is definitely on our roadmap. I am only closing as a duplicate of #121

[2016-11-23 15:47] #141 closed

[2016-11-23 16:04] #130 closed

[2016-11-23 16:05] r-bowen opened #145 "Datagrid: Reorderable columns"
[code]

### Expected behavior
The column width of the datagrid is controlled by the size of the data in the cells. It would be really useful for the user to have control over the column width by dragging the column headers.

It would also be really useful if the user could also drag and reorder the columns.

These changes will make data analysis much easier for the user.

### Environment details

[2016-11-23 17:06] #89 closed

[2016-11-23 18:54] youdz commented on #139
Hi @r-bowen, this is the expected behavior when you are directly binding to `className`. Even static classes written directly in your HTML would be overridden.

Please use [NgClass](https://angular.io/docs/ts/latest/api/common/index/NgClass-directive.html) when you're trying to bind dynamic class names, like so:
[code]

[2016-11-23 19:06] youdz commented on #145
We have a design for "column selection", meaning the user gets to choose which columns are displayed.

This, however, is a different feature that needs to go through the UX team for evaluation and a first design. We can't give you a timeline on this yet, we need to evaluate the priority compared to other Datagrid enhancements.

Thank you for the suggestion.

[2016-11-23 19:55] mathisscott opened #146 "Datagrid demo's date pipes broken in IE10"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Datagrid should work in IE10.

### Actual behavior
Datagrid doesn't work in IE10.

### Reproduction of behavior
Go to the datagrid documentation page in IE10.

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:** 0.7.2

* **OS and version:**

* **Browser:** IE10

<img width="1552" alt="screen shot 2016-

[2016-11-23 19:56] #54 closed

[2016-11-23 19:59] jbgarr opened #147 "Datagrid: Offer export options including Excel and PDF"
[code]

It would be great if there were options to export the data from the datagrid similar to the way datatables.net handles it including Excel and PDF formats. Provide buttons to select the export type. Provide render options on cells to specify how the data is rendered when exported. Allow users to include/exclude columns when exporting.

[2016-11-23 20:04] youdz commented on #146
The datagrid itself is not broken on IE, it's the DatePipe from Angular 2, that we use in the demo, that needs a polyfill to work on IE.

I'll rename the issue and label accordingly.

[2016-11-23 20:06] jbgarr opened #148 "New Feature: Searchable Select"
[code]

Similar to select2 (https://select2.github.io/), but built with Angular2. This would be a select dropdown that includes extended features such as an input for searching within the list, asynchronous data loading, templatable options for customized rendering, and tokenized items when selecting multiple options.

[2016-11-23 20:07] #61 closed

[2016-11-23 20:21] youdz commented on #140
The problem with watching all the objects present in the datagrid to re-filter or re-sort every time one of their properties changes is that it's extremely heavy and will destroy performances. It is heavily recommended that you use immutable objects in the Datagrid rather than in-place modifications. Note that the array itself can be modified in place, this is far easier to support.

That said, ma

[2016-11-23 22:21] jaffoneh commented on #148
This is on the roadmap and being worked on in the design cycle. I am closing this as a duplicate of issue #90 which covers this use case as well. cc @reddolan

[2016-11-23 22:21] #148 closed

[2016-11-24 16:53] r-bowen commented on #140
Angulars zoning algorithm is already taking care of the data changes and updating the HTML accordingly. can't you leverage that so you know when the change happens? This could also be optional and disabled by default. A function I can call would also solve the issue.

[2016-11-24 20:10] hrantbagdasarian opened #149 "Why does form-group class have a large left-padding?"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I'm actually not sure if this is a bug, but I would like some clarification about the form-group class.
I would expect the elements inside a form-group to be pushed to the left, but it has a default left-padding of 228.

### Actual behavior
Elements don't align to the far left.

![form-group-example](https://cloud.githubusercon

[2016-11-25 14:18] scottwoodall opened #150 "How do I include Clarity into the Angular seed project?"
[code]

### Expected behavior
To issue `npm start` within the Angular [seed project](https://github.com/mgechev/angular-seed) after configuring it for Clarity and the browser open without any errors in the console.

### Actual behavior
The build output from `npm start` doesn't report any errors and when you open http://localhost:5555 the following exception is in the console:

[code]

### Reproduc

[2016-11-26 12:11] bertofer commented on #126
I have the same problem. In my case @youdz I have nested routes in the content container, and the sidenav itself only appears in a specific component of the root router-outlet. My structure right now is something like:

[code]

Thanks @Rebolon for the solution, worked for me!

[2016-11-26 18:44] scottwoodall commented on #150
I ended up resolving this by following similar steps in this issue: https://github.com/vmware/clarity/issues/102

[2016-11-26 18:44] #150 closed

[2016-11-26 19:28] jeeyun commented on #102
I have added the steps to our [README](https://github.com/vmware/clarity/blob/master/README.md). Do we see a value in still adding this info elsewhere (i.e. wiki)?

[2016-11-26 19:52] jaffoneh commented on #102
@jeeyun adding it to README should be good enough. No need to add to the wiki as well.

[2016-11-28 14:23] gssjr commented on #137
I was referring to creating something more like a toolbar like you'd find in a text-editor or a context sensitive toolbar that may pop up like in Photoshop. As far as floating action buttons: https://material.google.com/components/buttons-floating-action-button.html

[2016-11-28 14:30] Rebolon opened #152 "Wizard : it misses an event for cancel action"
[code]

### Expected behavior
When we use the Wizard component, we expect to bind an event to the CANCEL button

### Actual behavior
We cannot bind event to the cancel button whereas we can with the FINISH button

### Evolution
WizardPage class could have an onCancel method that could be bindable to the clr-wizard-page with a clrWizardPageOnCancel

[2016-11-28 14:59] adityarb88 commented on #149
Hi @hrantbagdasarian. By default, we do this to add space for the label for the form field since the label use `position: absolute` in form which are not used inside of grids. This is for users who want the most basic form with a simple  markup in which the label doesn't wrap. For more complicated forms we recommend you use forms inside of grids because it can accommodate almost any case.

By look

[2016-11-28 14:59] #149 closed

[2016-11-28 15:04] adityarb88 commented on #76
Hi @sivaah. Thanks for reporting this. Adding this to my TODO. Will get this resolved ASAP.

[2016-11-28 15:31] dennitsa opened #153 "clr-stack-label/content are not properly aligned when clr-stack-content contains nested button"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When having clr-stack-content with content that is wrapped in a button, the label field in clr-stack-label should be vertically aligned similarly to other clr-stack-label cells. The clr-stack-content should be horizontally aligned similarly to other clr-stack-content cells.
The button in the clr-stack-header should be properly

[2016-11-28 15:40] adityarb88 commented on #153
Hi @dennitsa. I am assuming that you are using a `.btn-link` over here. Adding the `.btn-sm` class to it will fix the vertical alignment issue. Currently, `.btn-link` have a horizontal padding of `12px` which is the same padding that we assign to all other buttons in Clarity. The only way I can think of fixing this right now is to either remove the padding for that specific button or add a negativ

[2016-11-28 15:47] youdz commented on #140
Angular updating the HTML is a completely different change detection, not the one you want here. For instance, if you have 10000 items and display 10 at a time, Angular is only monitoring changes on these 10 items. But to know if we have to re-filter/re-sort the whole datagrid, we'd need to monitor all 10k entries with deep comparison, not simple reference one.

And Zone is only a library to wrap

[2016-11-28 15:56] youdz commented on #137
I see... This looks like a variant of actionable elements that we don't have a design for. I'm assigning to @jaffoneh to decide which way we're going with this, and probably assign to whoever on the UX team would look at it.

[2016-11-28 16:06] dennitsa commented on #153
Hello @adityarb88 , In the example that I have provided, you can see that I have used:
<button class="btn btn-sm btn-link" type="button">
I'm not sure how this will have effect on the label's vertical alignment, but anyway btn-sm is already there and it doesn't seem to help.
I have 3 alignment problems with the code.
* The label's vertical alignment
* The content's horizontal alignment
* The actio

[2016-11-28 16:09] adityarb88 commented on #153
Hi @dennitsa. Could you please add the markup of your Stack View to the issue so that we can investigate this further?

[2016-11-28 16:14] dennitsa commented on #153
I have added it in the "Reproduction of behavior" section. Is it not visible somehow?

[2016-11-28 16:17] dennitsa commented on #153
Pasting here, just in case:
[code]

[2016-11-28 16:53] adityarb88 commented on #153
Hi @dennitsa. Thanks for pasting the markup. You are missing the `.btn-link` class on the action button in the `stack-header`. That should fix that part. We recommend the stack actions be of the type `.btn-link`. For the link button in `clr-stack-content`, I will check with the team and get back to you soon.

[2016-11-28 18:09] jeeyun commented on #42
TODO:
- [ ] add css regression to Clarity core
- [ ] add css regression to Clarity website

The above tasks also include the task of hooking it up to TravisCI.

[2016-11-28 18:30] #86 closed

[2016-11-28 19:00] yaooluu opened #155 "Wizard: should be able to hide close ("x") button"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

There should be a way to hide the close ("x") button on top-right of a wizard. This is especially an issue when there's an alert showed on top.

### Actual behavior

There is no way to hide the close ("x") button on top-right of a wizard

### Reproduction of behavior

Any Clarity wizard can reproduce this.

### Environment det

[2016-11-28 19:15] jaffoneh commented on #155
@yaooluu do you want to hide/show only when the error is there or are you looking for a way to not include the "X" at all?

On another note, could you provide more details as to why you're showing the error on top of the title in the Wizard. What is the use case where you need a page-wide error vs. inline errors to where the issues are with the possibility of having an error icon on the name of th

[2016-11-28 20:26] #71 closed

[2016-11-28 20:45] youdz opened #156 "[NG] Wizard refactor"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The Wizard component's API should match our other components. At the very least, it should follow our own [coding guidelines](https://github.com/vmware/clarity/blob/master/CODING_GUIDELINES.md).

### Actual behavior
Currently, the Wizard component's API is drastically different from anything else we offer, which means users hav

[2016-11-29 00:21] kevmt commented on #87
I was asking my self the same way.. I wish clarity had choosen vanila javascript to it though. But its quite clean.

[2016-11-29 05:00] yaooluu commented on #156
@youdz Hi Eudes, I noticed that when you have:

`<clr-wizard-step>This is a title</clr-wizard-step>`

Both wizard TOC and page will have this same title. However, if I have:

`<clr-wizard-step>{{ titleVar }}</clr-wizard-step>`

TOC shows the title correctly, but wizard page shows no title at all.

I looked into the code of wizard and was trying to figure out the relationship between interpolation,

[2016-11-29 08:36] sivaah opened #162 "[NG] Datagrid - Placeholder is being displayed in the background while data is loading"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When the data is loading, we should see only the spinner. Placeholder image/message should only be displayed after data is loaded and the number of records is zero.

### Actual behavior
Placeholder image and the message is being displayed in the background, before the data is loaded.
![screen shot 2016-11-29 at 1 49 11 pm](http

[2016-11-29 14:44] youdz commented on #156
@yaooluu: Yes, your example is one of the many that have to be handled with projection. Right now the code for the wizard is playing with native HTML elements on component initialization, which cannot handle anything dynamic.

To be precise, though, I'd say your specific case not working comes from one of the other many places where wizard does this, not the one I pointed out. I think it's because

[2016-11-29 15:25] Rebolon commented on #152
For those who wants to know why we may need this :
 * on CANCEL/CLOSE we might want to do some action (route the user to another page, display alert box...) and for instance it hard to do that kind of features

[2016-11-29 18:00] #162 closed

[2016-11-29 19:12] yaooluu commented on #155
Hi @jaffoneh, the use case here is that the error banner shows errors that are returned from backend after use submitted the form by clicking "Next" on wizard page. This is a convention we've followed in a product series.

I'm looking for a way not to include the "X" at all. Like the option we have for Modal `clrModalClosable`.

[2016-11-29 22:40] #76 closed

[2016-11-30 01:44] lil-kim opened #167 "Need to add an indeterminate checkbox state. Design spec attached."
![indeterminate checkbox](https://cloud.githubusercontent.com/assets/23196444/20736400/0c2026ae-b65b-11e6-9445-a43ae945fd51.png)

**Select one ...**  (check one with "x")
[code]

### Expected behavior
Needed in a tree view to denote a group/folder that has some items checked, but not all.

### Actual behavior

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* *

[2016-11-30 17:49] jaffoneh opened #168 "Add Clarity Icons to the Sketch Template"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Clarity Icons should be available in the Sketch template to make it easier for designers and users of the Sketch template to include it in their designs.

### Actual behavior
They're not there currently.

[2016-11-30 22:50] jaffoneh commented on #102
Closing this based on the previous comment.

[2016-11-30 22:50] #102 closed

[2016-11-30 22:54] jaffoneh commented on #147
@jbgarr seems like this is more of a specific functionality outside of the exact requirements for a datagrid. Seems like implementing this would only implement a very thin layer of shared code that does not provide enough value to be a core part of the datagrid.

Could you provide more details on why you think this should be part of the core functionality of a datagrid?

[2016-11-30 22:55] #35 closed

[2016-11-30 22:56] #77 closed

[2016-11-30 22:58] jaffoneh commented on #105
@adumesny wanted to quickly reach out again and see if you're still facing this issue. I am unable to replicate locally neither is @adityarb88 so I wanted to make sure to check with you before closing it just in case you're still facing this issue.

[2016-11-30 23:49] jaffoneh opened #171 "Upgrade ClarityNG to Angular 2.2.4"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
ClarityNG should upgrade to Angular 2.2.4 since it has been released.

[2016-12-01 01:40] adumesny commented on #105
@adityarb88 I tried clearing cache/cookies, and running private browsing and still seeing same issue. Here is what the CSS dom looks like - yeah it has an svg background attached - maybe some of the display props are messing it up ?
![ie11_issue](https://cloud.githubusercontent.com/assets/3496166/20778661/0a085f70-b724-11e6-85e5-c8134f21be55.png)

[2016-12-01 02:58] adityarb88 commented on #105
@adumesny: Thanks for reporting this. I can see it now. Its a weird issue which occurs only on IE 11 on Windows 10 (http://stackoverflow.com/questions/34225933/ie11-using-svg-as-background-image-fails). Will work on a fix soon.

[2016-12-01 03:13] adumesny commented on #105
great, yep I see the stackoverflow ticket - same issue. weird.

[2016-12-01 06:05] wknet123 opened #172 "Any suggestions about developing with Clarity UI components under AngularJS 1.5.x"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Need information

### Actual behavior

### Reproduction of behavior

### Environment details

* **Angular version:**
1.5.X
* **Clarity version:**
lastest
* **OS and version:**
 Ubuntu 14.04
* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIW

[2016-12-01 06:33] CrisLi commented on #98
@youdz I found there is a problem in the demo code (maybe a defect for CodeHighlight component). When the `@Input("clrCode") public code: string;` changed in the parent component, the code highlight block is still the old value. The component variable `code` is changed, but the rendered DOM is not changed.

[2016-12-01 14:17] #105 closed

[2016-12-01 14:57] youdz commented on #98
@CrisLi: Thanks for the bug report, we will look at it and probably fix it as part of a more general refactor of the code highlight component, because at the moment it really doesn't support anything dynamic.

[2016-12-01 15:39] reddolan commented on #168
Will have this ready for 0.7.3. I know we normally prefer to do whole number releases on the Sketch file, but this was something that I could get out fairly quickly and some folks have been asking for it.

[2016-12-01 16:51] hippee-lee commented on #172
Hi @wknet123,

1. clarity-ui / clarity-icons will work on your angular 1.5 projects as is. You just need to include the css / javascript for them in your project
2. clarity-angular can work with an angular 1.5.x app but there is some work that needs to be done to lay the foundation. I believe that if you follow the preperation steps here: https://angular.io/docs/ts/latest/guide/upgrade.html

Note:

[2016-12-01 16:56] jaffoneh commented on #172
@wknet123: as @hippee-lee mentioned, you can still use Clarity (clarity-ui and clarity-icons) regardless of the framework but when it comes to using clarity-ng, we think looking at the future and building for Angular 2 applications has been the right step for us. We recommend you look into migrating your application to Angular 2, the resources @hippee-lee suggested should help!

[2016-12-01 16:56] #172 closed

[2016-12-01 16:59] jbgarr commented on #147
@jaffoneh While sorting/filtering data in a web app is great, to really DO anything with it requires some way to export it. There are many times that customers/clients/end users want to take their data "with them" so they can interact with it locally. They want to use the datagrid as a starting point that they can expand on with Excel, or share via a downloadable PDF. The full potential and useful

[2016-12-01 17:03] jaffoneh commented on #147
@jbgarr assuming that data needs to be taken outside of a web app to be completely useful isn't the correct assumption for the use of a datagrid. We've been working with dozens of product teams building pretty complex apps in multiple companies using Clarity and a handful of them use export functionality for specific reasons (like auditing). The assumption that data is useful only if taken outside

[2016-12-01 17:14] jaffoneh commented on #155
cc @youdz to provide an opinion here.

[2016-12-01 17:48] jbgarr commented on #147
@jaffoneh I agree that it's not the correct assumption to say that a datagrid is not completely useful unless the data can be exported, however, I do think the feature would be very welcomed. It's a built-in feature among other datatable/datagrid components/plugins (including datatables.net, Kendo UI, PrimeNG, and ag-Grid to name a few) and that was the basis of my request. Considering the datagri

[2016-12-01 18:31] amellnik opened #175 "Minor: initial value is not selected when binding radio buttons to objects"
[code]

### Expected behavior
Dynamically generated radio groups that are bound to an object with `[(ngModel)]` should show an initial selection is the object is a valid selection.

### Actual behavior
No initial selection is shown, but otherwise everything else works -- clicking a radio button selects a option and correctly changes the object.

### Reproduction of behavior
I was unable to recreat

[2016-12-01 19:19] jaffoneh commented on #147
@jbgarr thanks for clarifying. If you could provide more examples on the way you'll be using it that would be helpful (although pointing at other examples already gives us context). I am CCing @youdz to get his opinion on how much of this can we include in our datagrid component that is useful enough to build this feature.

[2016-12-01 19:20] youdz commented on #155
@jaffoneh, @yaooluu: No, `[clrModalClosable]` will not work right now because the wizard currently _wraps_ the modal and doesn't offer a delegate for it.

Yes, this is a valid request that we should address. It's as simple as offering a delegate `[clrWizardClosable]` on the wizard component that just passes it to the modal through `[clrModalClosable]`.

[2016-12-01 19:23] jaffoneh commented on #155
Thanks, @youdz. @adityarb88 could you take a look and see what we can do there?

[2016-12-01 20:35] Choko256 commented on #111
Hello !
Same problem for me. No way to select items in the datagrid programmatically.
Edit the array bound to the clrDgSelected directive does not change anything in the grid.
Please help !

[2016-12-01 21:28] adityarb88 opened #176 "[WEB] Modal Demos on the website are not working"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Modal demos work!

### Actual behavior

The modal demos on the website are not working.

### Reproduction of behavior

Visit: https://vmware.github.io/clarity/documentation/modals

Error that you see in the console:
[code]

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

* **OS and version:**

*

[2016-12-01 22:13] mathisscott opened #177 "[WEB] Card header title is not listed on Typography dox page"
**Select one ...**  (check one with "x")
[code]

Card header titles are H4s. They should be listed in the Headers table on the dox page under H4s.

* **Clarity version:** 0.7.3

[2016-12-01 22:48] #176 closed

[2016-12-01 23:49] youdz commented on #147
My main problem with this feature is that we allow any kind of HTML in the cells, which is perfect for customizability but _not_ exportable. Because of this, we'd have to ask you for the exact data to export for each cell (well, each column given the row's item).

And this is where it bugs me: if you're giving us N functions for N columns to export, all you have to do is literally concatenate that

[2016-12-02 00:21] adityarb88 commented on #155
@jaffoneh: Sure. I will add this to my list

[2016-12-02 03:45] reddolan commented on #168
- Icons added to their own page
- Icons swapped out on components (except for Filter on Datagrid)
- sent file to Lilia for review
[Clarity-UI-Template-0.7.3.sketch.zip](https://github.com/vmware/clarity/files/626341/Clarity-UI-Template-0.7.3.sketch.zip)

[2016-12-02 15:20] mathisscott commented on #168
Once Lilia approves, I can work with @adityarb88 to get this posted to the website.

[2016-12-02 16:00] Rebolon commented on #152
I did this PR that implement the wished feature https://github.com/vmware/clarity/pull/179
but the functional tests failed (see comment of the PR)

[2016-12-02 16:27] jbgarr commented on #147
Unfortunately I have not dug into the codebase for the [datatables.net](https://datatables.net/) jquery plugin I've used to see what the [export features](https://datatables.net/extensions/buttons/built-in) they offer entail (they allow for Copy, CSV, Excel, and PDF exports). I know they offer both HTML5 and fallback to Flash based methods for handling export (although the Flash fallback is there

[2016-12-02 18:16] #110 closed

[2016-12-02 18:41] jaffoneh commented on #147
@jbgarr thanks for providing the background, this really helps. I'll take a deeper look into what would this mean to us and datagrid in Clarity. I'll keep the issue open as we do that.

Feel free to reach out to me directly if you have more information you'd like to share about the product you're trying to move to Angular 2 and how Clarity can help.

[2016-12-02 18:49] RobPatten opened #180 "cirModalClosable ill-behaved on iPad"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

When viewing in Chrome or Safari on an iPad, the dialog for the cirModalClosable example should display centered within the viewport. It should also not allow scrolling of the content behind the modal.
### Actual behavior

There is a noticeable lag (on iOS, but not Windows) after touching the SHOW MODAL button. Button changes

[2016-12-02 22:35] reddolan commented on #168
@mathisscott, Lilia's updates were made to the template. This can go live when you guys are ready to do so.

[Clarity-UI-Template-0.7.3.sketch.zip](https://github.com/vmware/clarity/files/628430/Clarity-UI-Template-0.7.3.sketch.zip)

[2016-12-02 23:08] adityarb88 commented on #153
Hi @dennitsa. Could you please provide us more details on the why you are considering using a link button in the `clr-stack-content`? I am asking because the example shown in the issue is an editable stack view. What would happen to the link button when you click on the edit action button in the stack header?

Regarding the alignment issues that you raised:
1. The action button in `clr-stack-heade

[2016-12-02 23:21] adityarb88 opened #181 "[UI] Buttons by default should not have margins"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Buttons should be assigned margins for specific context (for eg: in forms or modals footers). In general you should be able to use buttons inline without any margins.

### Actual behavior

All Buttons have margin around them irrespective of the context.

![image](https://cloud.githubusercontent.com/assets/1426805/20853720/c9c3

[2016-12-03 00:06] EileenLB commented on #181
I'm interested in knowing if you make this change.
Currently I'm allowing for the default margins in the vertical spacing for my Page layouts.

![verticalspacing-with-btn-margins](https://cloud.githubusercontent.com/assets/14795506/20854479/4b27f6ba-b8a9-11e6-9688-95bd35fdbf61.png)

[2016-12-03 00:39] adityarb88 commented on #181
Hi @EileenLB. Yes I am planning on making this change because having default margins for buttons cause alignment issues when you want to use them inline with other components.

On a different note - in your screenshot above I noticed the comment that `Clarity Headers have no default margins`. That is incorrect because Clarity Headers do have a default top margin but in the example mentioned above,

[2016-12-03 00:40] jaffoneh commented on #181
@adityarb88 how does this change affect products already using Clarity? Is this a 0.8.0 change?

[2016-12-03 00:41] adityarb88 commented on #181
Yes. I think this should be a 0.8.0 change. Even though the change is simple, it might end up causing alignment issues in case users have used buttons in components other than forms, modals etc

[2016-12-03 01:03] jaffoneh commented on #181
@adityarb88 we might need to think of ways to make sure this doesn't effect currently implementations of Clarity in dozens of products. Let's talk about ways to make sure even when this lands in 0.8.0, it doesn't effect current products.

[2016-12-03 06:22] dennitsa commented on #153
Hello @adityarb88,
The stack view I have in the example is not going to be editable. We just happen to have an action button with label Edit... It will be used to open a dialog for editing some settings and no inline editing will be supported in the stack view.
As to why we have a link in the stack view: I work at vmware and we are porting existing flex UI to html, using clarity components. We hav

[2016-12-04 10:48] Papipo opened #182 "Card stretch and overflow."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Cards are expected to stretch in order to contain their children, no less, no more.

### Actual behavior
When they are a direct child of .content-container, they stretch to the height of their parent. It doesn't matter if the content won't fit, or if there will be spare space.

### Reproduction of behavior
Large example so it's

[2016-12-04 17:51] adityarb88 commented on #182
Hi @Papipo.

I see that you are not using the `.content-area` inside of the `.content-container`.  Our [layout](https://vmware.github.io/clarity/documentation/app-layout) recommends that you place your content inside of the `.content-area`. So your layout should look something like this:

[code]

Once you do that, both the issues will be resolved.

I will close the issue but if you feel that the i

[2016-12-04 17:51] #182 closed

[2016-12-05 02:14] jaffoneh commented on #180
@adityarb88 can we replicate this and figure out if it is a website issue vs. an issue with modals themselves? If you have any questions when it comes to replicating this please reach out to @RobPatten

[2016-12-05 02:19] jaffoneh commented on #177
@mathisscott could you provide a little more info here? Do you mean listing them in the "Used for" section in the header styles table on https://vmware.github.io/clarity/documentation/typography? Not sure what this issue is trying to report or is it required. Thanks.

[2016-12-05 02:20] jaffoneh commented on #175
@youdz could you provide your input here?

[2016-12-05 07:43] Papipo commented on #182
Hey @adityarb88 thanks for your response. Actually that fixed the problem. Since I wasn't using a sidebar I just bypassed the content-area completely.

[2016-12-05 14:50] adityarb88 commented on #168
Added to the website

[2016-12-05 14:50] #168 closed

[2016-12-05 15:13] adityarb88 commented on #181
This issue is on hold. @mathisscott and I discussed about this and we want to gather more info before we decide on whether to implement this change or not.

[2016-12-05 15:25] mathisscott commented on #177
Yep. We need to list that card header titles are H4s in the Header table on the typography page of the website. Like the note says: "Headers table on the dox page". Sorry that the wording was not clear.

[2016-12-05 15:29] adityarb88 opened #184 "[UI] Link buttons horizontal padding causes alignment issues"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

https://plnkr.co/edit/Gp8GsAT8Ud2n33Etwnzo?p=preview

![image](https://cloud.githubusercontent.com/assets/1426805/20890581/3647c1a2-babc-11e6-81f3-f98b027c1832.png)

**Note:** If this change is implemented, styles for link button/card links in cards and stack views will have to be updated to remove the negative margin/:first-c

[2016-12-05 15:39] adityarb88 commented on #180
@RobPatten: Do you still see this issue? We fixed an issue 3 days back with the website and Modals and I suspect that was causing this too. Could you please check again and let me know? I am not able to replicate it on my side.

[2016-12-05 15:44] coli opened #185 "<pre> does not preserve newlines"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
<pre> should preserve newlines.

### Actual behavior
Newline is lost

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKW

[2016-12-05 15:53] reddolan opened #186 "Search component (new)"
### Description
- a field or icon that can be interacted with to return a specific result or results
- search from header so that it is in a consistent place site-wide

### Use cases under consideration
- autocomplete
- placeholder text
- recent searches
- hot keys
- advanced search
- responsive design

### Future use cases under consideration
- operators, modifiers, wildcards
- saved searches
- f

[2016-12-05 16:40] jaffoneh commented on #184
@adityarb88 what about link buttons being used in applications outside of cards and stack views? Is this a breaking change?

[2016-12-05 16:40] jaffoneh commented on #177
@mathisscott cool, thanks for clarifying.

[2016-12-05 16:44] adityarb88 commented on #184
@jaffoneh: I am going to work with @mathisscott to decide that. We already had a discussion about this today morning. This similar to #181 is on hold until we gather more info on how it will affect users.

[2016-12-05 17:46] RobPatten commented on #180
@adityarb88 Yes, still seeing on 0.7.3 this morning. Tried it on a third browser (SavySoda) as well.
Git doesn't support .mov for upload, so am Slacking this to you.

[2016-12-05 19:47] youdz commented on #175
This is the expected behavior in Angular 2: `ngModel` on radios uses reference equality to test if a radio button is currently selected.

You can see this easily in your example by replacing:
[code]
by
[code]
at [line 26](https://github.com/amellnik/clarity-demo/blob/master/src/app/radios/radios.component.ts#L26). The radio is correctly initially selected.

As a side note, setting this field to `p

[2016-12-05 19:48] #175 closed

[2016-12-05 20:40] photostu commented on #62
+1 for needing this... angular-cli v beta.22-1 now has AOT turned on by default

[2016-12-06 00:16] bjabes opened #187 "clarity icons aren't placed/sized correctly in buttons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
putting an icon (other than a caret) inside a button, it should aligned and sized correctly. Looking at the plunkr here, it's a bit off.

### Actual behavior
https://plnkr.co/edit/HJQShA3x1wBZvAAlEltZ?p=preview

### Environment details

* **Angular version:** 2.0.X
2

* **Clarity version:**
0.7

* **OS and version:**
Mac

* **B

[2016-12-06 00:18] jaffoneh commented on #187
@Shijir could you take a quick look and see what can we do here to improve this? Also CCing @adityarb88

[2016-12-06 00:25] jaffoneh commented on #107
@RobPatten seems like you edited my message :) This seems like a minor web change (not core to typography) so I am going to close this issue considering we're looking at changes to the spacing on the website and we can address it as we make those changes. Let me know if you'd like to discuss reopening this.

[2016-12-06 00:25] #107 closed

[2016-12-06 00:29] jaffoneh commented on #123
@uNki23 I am closing this issue based on @youdz's comment and the fact that autocomplete is coming soon (see issue #90). Please feel free to reopen this issue if you'd like to discuss further, offer additional solutions, or offer more thoughts on the topic!

[2016-12-06 00:29] #123 closed

[2016-12-06 00:31] jaffoneh commented on #127
@adityarb88 can we work with @gachappell on this one to add to the Form component in our docs?

[2016-12-06 00:34] adityarb88 commented on #187
Removing the `bug` label because this is an enhancement. Clarity buttons don't account for icons currently. @shijir: we will need to ask @lil-kim / design team on what should be the exact icon sizes and the corresponding spacing in regular and small buttons and then implement this enhancement.

[2016-12-06 00:36] jaffoneh commented on #177
@adityarb88 as a quick change to the website, adding it to 0.7.4.

[2016-12-06 00:38] adityarb88 commented on #126
Hi @bertofer, @Rebolon: You could also assign the `.content-container` class to your custom component (`route-compenent` in the above example). Could you please check if that works? Please let us know if it doesn't.

BTW we recently created a Plnkr link which you can use to post issues. The link to the Plnkr template is here: https://plnkr.co/edit/VPxyl7?p=preview

[2016-12-06 00:41] amellnik commented on #175
Thanks for the clarification @youdz!

[2016-12-06 09:30] Rebolon commented on #126
it doesn't seem to work for me, i'll try to use plunkr to reproduce

[2016-12-06 13:40] wodCZ commented on #62
Hello,
we are currently starting new project with Clarity and [angular-seed](https://github.com/mgechev/angular-seed) and we are having troubles with i18n because of this.

Please, do you have an estimate on when AoT would be supported in ClarityNG?

Thanks!

[2016-12-06 14:32] adityarb88 commented on #180
This is blocked. I tried to debug this yesterday but couldn't find a solution. I believe [this](http://stackoverflow.com/a/25014586/3538394) is the only known solution but it doesn't work in our case. Just noting this down here so that its not assigned to any milestone yet. Will continue looking for a solution.

[2016-12-06 14:51] dennitsa opened #188 "Provide support to dynamically set the shape property of a clr-icon"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
It would be nice to be able to pass in the shape of a clarity icon.
This way we won't have to define multiple icons and exclude them with *ngIf or other similar mechanism, instead we could define an icon with interpolated shape and based on logic in the controller class set its value.

### Actual behavior
Trying to write someth

[2016-12-06 14:55] adityarb88 commented on #188
@dennitsa: you have to use attribute binding to do that. Please check this plnkr: https://plnkr.co/edit/3Z9gCqlBHuQreWM4tYRz?p=preview

`<clr-icon [attr.shape]="iconShape"></clr-icon>`

[2016-12-06 14:55] #188 closed

[2016-12-06 15:54] dennitsa commented on #188
Great, thanks!

[2016-12-06 17:14] adityarb88 commented on #177
Merged to master.

[2016-12-06 17:14] #177 closed

[2016-12-06 20:12] mathisscott opened #192 "Changes to error/danger/warning state of icons"
**Select one ...**  (check one with "x")
[code]

so for error colors on icons. here’s what we decided to do:

1) make `.icon-color-danger` same color as `.icon-color-warning`
2) add `.icon-color-error` that is the same color as ^those^
3) update website to include `.icon-color-error` and remove mentions of `.icon-color-danger`

we’re not getting rid of `.icon-color-danger` (yet). just not advertis

[2016-12-06 20:35] kucharzyk commented on #62
It will be great to have aot  in Clarity - It looks like angular-cli will need aot compatibillity even without aot enabled (sic!)

[2016-12-06 21:42] gachappell opened #194 "Add Demo of Extra Large Modal"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The modal doc has a demo and code of small, medium, and large modal sizes, but not extra large (modal-xl)

[2016-12-06 22:23] adityarb88 commented on #153
Hi @dennitsa. The link button problem that you mentioned inside of the stack block content is being looked at. We have an open issue over here: https://github.com/vmware/clarity/issues/184.

For the use case that you mentioned and for using the outline button on the stackview header, I want to check what our UX team says.

cc: @reddolan, @yenmade

[2016-12-06 22:51] jbgarr commented on #147
@jaffoneh Thanks a lot for the offer. I appreciate it. And thanks for keeping an open mind on this feature request.

[2016-12-07 16:02] wodCZ opened #197 "UI: Metropolis font doesn't support Latin Extended characters"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Every character in every text in Clarity should be rendered with same font.

### Actual behavior
Some letters are missing from Metropolis font. These fallback to different font, which is noticeably different. See following demo, which contains different elements with Czech pangram.

### Reproduction of behavior
https://plnkr.co

[2016-12-07 16:25] jaffoneh commented on #197
@wodCZ thanks for reporting this and thanks for including a link to reproduce. This is definitely something to fix. Metropolis is an [open source font](https://github.com/chrismsimpson/Metropolis). We want to work with the maintainer of the font and contribute back to it. Will keep this open and will get you an update.

[2016-12-07 16:39] mathisscott commented on #167
i think we landed on this being good to go.

[2016-12-07 17:00] #194 closed

[2016-12-07 17:22] jaffoneh opened #198 "Move to Angular 4 and new TS"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
We need to research and make recommendations on the plan to move to Angular 4.

[This is a repurpose of the ticket originally filed. Updates: Fri. March 31st]

[2016-12-07 17:24] jaffoneh opened #199 "Upgrade Metropolis (our font) to Release 8"
**Select one ...**  (check one with "x")
[code]

There is a new release of Metropolis. We should upgrade to the latest (release 8) of Metropolis: https://github.com/chrismsimpson/Metropolis/releases/tag/r8

[2016-12-07 20:45] jaffoneh commented on #152
@Rebolon wanted to double-check and confirm you'd be okay with including your name on the [community page](https://vmware.github.io/clarity/news/) as a contributor once this change goes in. We would include it as: `Benjamin RICHARD`

[2016-12-07 21:49] chrismsimpson commented on #197
Hi @wodCZ! I'm the maintainer of Metropolis. Happy to help by updating with any characters required, although Czech should be fully supported. Please ensure you're using the latest version from the Github project (I've noticed sometimes FontSquirrel or other places can be out of date slightly). I've also exported in web font formats (EOF, WOFF & WOFF2) so that you don't have to do this manually. H

[2016-12-07 21:50] jaffoneh commented on #197
@chrismsimpson thanks for responding here! We're in the process of upgrading to Release 8 of Metropolis if that helps: Notice issue #199.

[2016-12-07 22:06] #171 closed

[2016-12-07 22:07] Rebolon commented on #152
@jaffoneh it's ok for me it would be a pleasure. Thanks

[2016-12-07 22:19] jaffoneh opened #201 "Add a contributor to the community page"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Please add the name `Benjamin RICHARD` to the Contributors section on the community page once this pull request is merged: #183

[2016-12-07 22:20] llawall commented on #102
This fix would be useful on this page too: https://vmware.github.io/clarity/get-started/ I'm not sure if this is what you are calling the wiki though?

The clarity project 'wiki' link redirects back to the project page.

[2016-12-07 22:25] Shijir commented on #192
Completed in [[196](https://github.com/vmware/clarity/pull/196)]

[2016-12-07 22:25] #192 closed

[2016-12-07 22:26] jaffoneh commented on #102
@llawall it should be in the README right here: https://github.com/vmware/clarity/blob/master/README.md

[2016-12-07 23:01] #155 closed

[2016-12-08 00:49] RainTomassi opened #204 "Webpack hangs when ClairtyModule imported on project created with angular-cli"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
angular-cli app, added Clarity, Webpack should complete and bundle should be valid(?)
Time: 1734ms
chunk    {0} main.bundle.js, main.bundle.map (main) 4.64 kB {3} [initial]
chunk    {1} styles.bundle.js, styles.bundle.map (styles) 730 kB {4} [initial]
chunk    {2} scripts.bundle.js, scripts.bundle.map (scripts) 55.8 kB {4} [ini

[2016-12-08 02:02] Shijir commented on #204
@RainTomassi people are experiencing the errors with the latest angular-cli [3426](https://github.com/angular/angular-cli/issues/3426) too. We are currently investigating the possible solutions for this issue and get back to you soon.

[2016-12-08 04:53] adityarb88 commented on #127
@jaffoneh: Sorry for the late reply. Sure. I can get this done in 0.7.5 next week.

[2016-12-08 07:41] llawall commented on #102
Thanks @jaffoneh I saw it there. My point was that I followed the instructions on the link in my last comment which are very similar to the README but had the problem described here. I was wondering if you'd consider updating the get-started page too?

[2016-12-08 13:58] jaffoneh commented on #102
@llawall based on @jeeyun's comment. README should've been updated based on the issue (to provide more info). However, we should take into account to update get started as well. Thanks for the feedback! / cc @jeeyun

[2016-12-08 14:49] #152 closed

[2016-12-08 14:53] #146 closed

[2016-12-08 14:53] mathisscott opened #207 "[ng] Datagrid column headers wrap"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The data grid should either not wrap column headers or should wrap them intelligently. When a column header is wrapped, the filter icons across all headers should be positioned relative to the extra line height from the wrapped header text.

### Actual behavior
Data grid column headers wrap haphazardly and the filter icons are

[2016-12-08 15:07] youdz commented on #207
Regarding this:

Datagrid uses `table-layout: auto` to let the browser natively handle column width based on their content. So in the image you posted, the data in he rows that are cut out must correspond more or less to the width of the columns we see (for instance, there must be a pretty long `API` cell with no spaces at all somewhere).

If you _know_ you want a specific column to take a specifi

[2016-12-08 15:10] mathisscott commented on #207
What about the placement of the filter icons?

[2016-12-08 15:13] youdz commented on #207
Placing of filter icons, column separator not scaling, header text pushed to the next line... This is what I mean by wrapping styles messed up. So yes, that's what I'll fix right now, until we investigate smarter columns with UX later.

[2016-12-08 17:23] jaffoneh opened #209 "Upgrade Clarity to Angular 2.3.0"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Angular 2.3.0 was just announced, we should upgrade Clarity to it.

https://github.com/angular/angular/blob/master/CHANGELOG.md#230-2016-12-07

[2016-12-08 17:57] RainTomassi commented on #204
Thank you for the update.  Appreciate the quick response and apologies, I didn't see the other ticket :-)

[2016-12-08 18:48] dragosrusu commented on #204
I can confirm the following: if you remove the clarity dependency as a module and do "ng serve" and then update that file by adding that dependency and let webpack do the build job, it works!

So it must be something that the beginning that makes the compiler not finding ClarityModule. Maybe some include PATH's?

[2016-12-08 19:31] #201 closed

[2016-12-08 20:15] youdz commented on #204
`angular-cli@1.0.0-beta.22` is still experimental and forces AOT compilation. See https://github.com/angular/angular-cli/issues/3354 and https://github.com/angular/angular-cli/issues/3368 on the `angular-cli` project.

It's a pretty heated topic right now, but all we can do on our side is become AOT-compliant as soon as possible. So I'm closing this as a duplicate of #62.

[2016-12-08 20:15] #204 closed

[2016-12-08 22:11] #42 closed

[2016-12-08 22:16] jaffoneh commented on #201
cc @Rebolon

[2016-12-08 22:59] RainTomassi opened #211 "Update icon documentation for 'dashboard' to 'dashboard-gauge'"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Per documentation: https://vmware.github.io/clarity/documentation/iconography
`<clr-icon shape="dashboard"></clr-icon>`
Should display the dashboard icon.

### Actual behavior
Using 'dashboard' displays an exclamation-circle.  Doc just needs to be updated to reflect the correct string of 'dashboard-gauge'
`<clr-icon shape="dash

[2016-12-09 01:10] jeeyun commented on #209
Our unit tests run on phantomJS and we are running into this issue: https://github.com/angular/angular/issues/13301.

It's been fixed and merged to master, so maybe we can upgrade to a later version when Angular releases a patch.

[2016-12-09 04:01] yenmade commented on #17
Attached are designs that include patterns for single/batch actions in a datagrid. We'd love to hear any feedback on this before we build it in Clarity. Thanks in advance!

[datagrid_actions.pdf](https://github.com/vmware/clarity/files/641203/datagrid_actions.pdf)
[datagrid_SingleBatch_actions.mov.zip](https://github.com/vmware/clarity/files/641207/datagrid_SingleBatch_actions.mov.zip)

[2016-12-09 09:54] dragosrusu commented on #62
+1

[2016-12-09 15:17] adityarb88 opened #212 "[UI] Input Field validation does not occupy entire width on smaller screens"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Input field validation occupies the entire width on smaller screens.

### Actual behavior

![image](https://cloud.githubusercontent.com/assets/1426805/21053658/4c2a59be-bddf-11e6-8b64-e0ffca1e2b4f.png)

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:** All

* **OS and v

[2016-12-09 17:47] reddolan commented on #153
@dennitsa is the link button navigating the user somewhere or performing an action within the stack view?

[2016-12-09 17:48] jaffoneh commented on #62
Thanks everyone. This currently our top priority. We have a couple of things to resolve before we're able to make the move and we'll be able to provide better estimates beginning of next week. Stay tuned!

[2016-12-09 18:52] dtsvetkova commented on #153
Hello @reddolan, the link button is used for navigating to another screen.

[2016-12-09 19:55] photostu commented on #62
This will help bundles sizes for sure, is there an open ticket anywhere to split up the CSS into modules? The CSS bundle for Clarity is really big

[2016-12-09 20:11] dragosrusu commented on #62
Don't know if it helps. We created a sass helper for BEM that, unlike
csstyle, perfectly binds to BEM doc; helped us a lot with current devops
project. It also makes a distinction between a modifier and a state. We
opensourced it so I could share the name and components some files for you
to see how it would look.
Of course, it's modularized and customizable on build (you can build the
components

[2016-12-09 20:27] coli opened #215 "clr-modal does not recreate/destroy children nodes when open/closed"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Generally you'd expect the dialog to be recreated when opened and destroyed when closed. Eg: init directive such as autofocus won't currently run when dialog is opened. Workaround is adding ngIf to the dialog.

### Actual behavior
Currently clr-modal open/close is shown/hidden.

### Reproduction of behavior

### Environment det

[2016-12-09 22:34] reddolan commented on #153
@dtsvetkova it is recommended that if you are navigating a user, that a standard anchor link <a> be used. If you are giving the user some action that they can perform, then a button is recommended.

The implementation that is in the provided screenshot shows a flat button being used. It would be better if an anchor <a> were used.

[code]

[2016-12-10 00:03] #185 closed

[2016-12-10 07:45] dtsvetkova commented on #153
Ok, I can try with <a> tag if that won't cause the misalignment in the labels.
The reason we used a link button is, because we invoke a function to perform the navigation. It's a bit complicated, but our view resides inside an iframe and we navigate to a page inside the parent web application.

[2016-12-10 08:08] dennitsa commented on #153
Hmm, adding '''<a href='#' (click)='test($event)'>''' to the stackview does invoke my function, but it also reloads the whole page and we just want to handle the click and call our function, which will do  the actual navigation.
Is it not possible to fix the allignment when a link button is used?
Also what about the outline button on the stackview header, which goes to the right?

[2016-12-10 12:30] whizkidwwe1217 opened #217 "DataGrid bottom border disappears when no footer is specified"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The DataGrid should have a bottom border when footer is removed.

### Actual behavior

The bottom border for the grid is not visible when footer is removed.
![image](https://cloud.githubusercontent.com/assets/1977391/21073359/fe52c332-bf16-11e6-8062-75d1678d0dcf.png)

[code]
### Reproduction of behavior

### Environment details

[2016-12-10 13:58] whizkidwwe1217 opened #218 "Can't override content-area padding"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Should be able to override the default 24px padding.

### Actual behavior

Padding always defaults to 24px

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | An

[2016-12-10 14:08] #218 closed

[2016-12-10 17:35] getcodenow commented on #87
I would appreciate having more documentation on custom implementations for overriding the default SCSS files.

My use case is that I generally like the default styles but I want to be able to easily customize the styles and then rebuild my app reflecting my customization.  I tried doing a full copy and rebuilding all the dependencies, but I started running into issues with getting bootstrap-scss d

[2016-12-10 22:26] bytexro commented on #62
Here's the SASS helper: https://github.com/bytexro/xbem

`
@charset "UTF-8";
@include block(selectbox) {
  position: relative;
  font-size: map-get($webc-selectbox, fontsize-text);

  @include element(button) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-around;
    @include flex($align: center);
    height: map-get($webc-selectbox, height

[2016-12-11 00:25] adityarb88 commented on #153
Hi @dennitsa: If you page is being redirected, I believe its because of the `href='#'`. You can instead try `<a href='javascript://' (click)='test($event)'>` and check if that works. But this again is not a recommended way of handling this because this might cause accessibility problems.

For the alignment issue for the link button, we are planning on fixing that but it may take some time to relea

[2016-12-11 00:58] #212 closed

[2016-12-12 06:26] jaffoneh commented on #87
@getcodenow that's a pretty good suggestion and something we've been considering for a while. We do have the ability to override those styles when needed, we just need to document them/better. CC @mathisscott as we consider this.

[2016-12-12 16:25] BugsyFTW opened #220 "ClarityModule is not an NgModule"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When using ng serve it should compile the app.

### Actual behavior
When i type ng serve it says that the ClarityModule is not an NgModule, i've followed correctly the tutorial on installation.

[code]

[2016-12-12 16:49] adityarb88 commented on #220
Hi @BugsyFTW. Does this happen when you use Angular-CLI version of the clarity-seed?

cc: @Shijir. It looks like an issue being raised over here: https://github.com/angular/angular-cli/issues/3426

[2016-12-12 19:50] reddolan opened #223 "Line height is 23px on anchors in dropdowns"
[code]

### Expected behavior
Line height should be 24px on [dropdown list items](https://vmware.github.io/clarity/documentation/dropdowns)

### Actual behavior
Line height is 23px in the generated CSS

### Reproduction of behavior
![image](https://cloud.githubusercontent.com/assets/1858226/21114095/8e4a7f56-c071-11e6-8509-6ad05599106e.png)

### Environment details

* **Angular version:** 2.0.X

*

[2016-12-12 19:55] reddolan commented on #153
@dennitsa, @adityarb88's is correct, using button versus anchor would be an accessibility issue. The way the link text renders is also misleading. The button displays in all caps, whereas the link would be in normal casing.

[2016-12-12 20:29] hansl commented on #220
Hi @adityarb88. I'm the lead on the Angular-CLI project.

Basically this error likely happens because you did not publish `metadata.json` files to npm. These files contain static information for your module and components.

To generate these files, follow these steps: https://angular.io/docs/ts/latest/cookbook/aot-compiler.html (basically running `ngc` instead of `tsc` to build your project). You

[2016-12-12 20:30] jaffoneh commented on #223
@adityarb88 could you confirm and have a chat with @reddolan to get this fixed?

[2016-12-12 20:37] adityarb88 commented on #223
@reddolan: I see the height as 24px on the website and on my demo app. Is there any particular example that this is failing on? We did set the `line-height` to 23px because the text didn't appear vertically centered otherwise on Edge. @mathisscott could you please confirm this?

[2016-12-12 20:44] jeeyun commented on #220
@hansl is right. We are actively working on supporting AoT compilation (#62) right now and plan to publish the generated `metadata.json` files as soon as we have it working. @BugsyFTW feel free to subscribe to the issue on AoT compilation so you'd know as soon as we have it out.

[2016-12-12 20:44] reddolan commented on #223
In the screenshot above, you can see that the CSS is showing 23px for line-height. This is directly from the website: [https://vmware.github.io/clarity/documentation/dropdowns](https://vmware.github.io/clarity/documentation/dropdowns)

It is coming from clarity-ui-min for .dropdown .dropdown-menu .dropdown-item

[2016-12-12 20:58] adityarb88 commented on #223
@reddolan. I know the line-height is set to 23px but that was done to vertically align the text on certain browsers. Along with the 23px line-height, we have also added a padding-top of 1px to make sure that the height remains 24px. I am not able to replicate the issue on my end :(

[2016-12-12 20:59] jaffoneh commented on #223
@reddolan @adityarb88 I am unable to replicate the issue on my end either. I see it at 24px.
<img width="320" alt="screen shot 2016-12-12 at 12 49 14 pm" src="https://cloud.githubusercontent.com/assets/690949/21116513/bd414be8-c06a-11e6-894f-ed0b29dc11d4.png">

[2016-12-12 21:27] mathisscott opened #224 "Clarity Icons base API"
Users need an API to Clarity Icons so that they can manage icons for themselves.

We need the API to meet the following requirements:

1) It needs to be accessible outside of Angular because not everyone using Icons will be using Angular.

2) It would be preferable if it were importable.

3) It needs to be importable from within the Icons deliverable as well, such that it can be imported into defi

[2016-12-12 21:32] mathisscott opened #225 "[icons] Create add functionality in API"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Users need to be able to add our own icon sets to their collection of icons as well as adding their own custom icons too.

Requirements:
1) Loading a single icon/shape ala... `ClarityIcons.add(‘shape’, ‘<svg…>’`
2) Bulk loading a group of icons ala... `ClarityIcons.add([‘shape-1’, ‘<svg…>’], [‘shape-2’, ‘<svg…>’]);` or `Clarit

[2016-12-12 21:38] mathisscott opened #226 "[icons] Create alias functionality in Clarity Icons API"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Users need the ability to create their own aliases for shapes. Something like...

`ClarityIcons.alias(‘shape-alias’, ‘shape-1’);`

...where "shape-alias" becomes a new alias pointing to whatever "shape-1"s SVG is.

[2016-12-12 21:40] mathisscott opened #227 "[icons] Clarity Icons API"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Users need an API to Clarity Icons so that they can manage icons for themselves.

We need the API to meet the following requirements:

1) It needs to be accessible outside of Angular because not everyone using Icons will be using Angular.

2) It would be preferable if it were importable.

3) It needs to be importable from withi

[2016-12-12 21:45] mathisscott opened #228 "[icons] Break up existing icons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Our existing icons only live in one object. We need to break them up into their respective sets...

Set #1: Core or, maybe, Essentials

Set #2: Social

Set #3: As yet unnamed but more VMware focused icons

When the sets are finalized, we will attach an image here.

Requirements:

1) Each set should be in their own `.ts` file a

[2016-12-12 21:48] jaffoneh commented on #223
Even though line-height is at 23px, we're still following our vertical rhythm and the overall is still at 24px. I am closing based on this and the comment before it.

[2016-12-12 21:48] #223 closed

[2016-12-12 21:55] mathisscott opened #229 "[icons] Figure out a way to load icon sets from the script call"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The idea is to make is easy for people to load icon sets. Something along the lines of...

`<script src="path/to/node_modules/clarity-icons/clarity-icons.min.js?sets=core|social"></script>`

...so that one call get set up Clarity Icons however users need it.

[2016-12-12 21:56] mathisscott commented on #227
Duplicate. Tried doing an epic...

[2016-12-12 21:56] #227 closed

[2016-12-12 22:00] mathisscott opened #230 "[icons] Deliver variant icons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The plan is to implement several variants to each glyph. Currently, we have outlined icons. The plan is to offer:

• outlined
• solid
• badged
• warning

...variants.

Not _all_ variants will be needed for every icon.

0. We need to POC this work to find a system that works for us. <= smathis has already done this.

1. We need

[2016-12-12 22:05] mathisscott opened #231 "[icons] Refactor CSS"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The plan is to refactor the CSS of Clarity Icons to use the naming convention identified by smathis and aditya for post-Bootstrap Clarity.

1) If there are any forward incompatibilities, deprecate them. Avoid breaking changes. Very deep functionality (like the super-secret stuff) can be changed with confidence that no one is u

[2016-12-12 22:08] mathisscott opened #232 "[icons] Small variant icons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Some of our outlined icons might look blurry due to the thin lines. The idea here is to switch them out for fatter-lined variants at small sizes.

This means that...

1) When the icon receives a size of 15 or less...

2) ...it should check to see if its SVG contains a fatter stroked version...

3) ...and add a class displaying

[2016-12-12 22:13] mathisscott opened #233 "[icons] Improved Documentation"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

We need to improve the documentation of Clarity Icons.

## Adding functionality

- [ ] Putting back dynamic listing of icons on new website
- [ ] Add filtering/search
- [ ] Add functionality to preview icon and code with variants

## Improvements
- [ ] List all aliases for a glyph alongside a single glyph (for across object to

[2016-12-12 22:15] mathisscott opened #234 "[icons] Investigate CDN option for delivering icons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Can Clarity Icons be hosted on a CDN? Can we preserve functionality in #229?

[2016-12-12 23:05] mathisscott opened #235 "[icons] Make aliases contain positioning info"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Users should be able to set up an alias that will allow them to determine the orientation of the icon. An example would be adding an alias to double-angle that would tell it to point left, right, or down.

`ClarityIcons.alias("expand", { shape: "collapse", dir: "down" };`

[2016-12-13 12:20] #220 closed

[2016-12-13 12:31] BugsyFTW opened #237 "Unexpected directive 'IconCustomTag'"
[x] bug
[ ] feature request
[ ] enhancement
[code]

[2016-12-13 17:01] Shijir commented on #237
@BugsyFTW You don't need to import Icon Directives as ClarityModule has it already.

[2016-12-13 17:09] #237 closed

[2016-12-13 18:52] lil-kim opened #239 "Design and implement a Tree view"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Design and implement a tree view with options for icons or checkboxes in the nodes. See attached files for and visual spec and behavior info.

## Types of trees and Behavior
**Terminology**
Highlight = Click the text node to navigate to that content.
Select = Choose items to apply an action to, ie: via checkboxes.

**View Tree*

[2016-12-13 20:05] adityarb88 commented on #239
@youdz and I discussed the following use cases/examples that we plan to cover during implementation:

**1. Basic Example**
[code]

**2. Dynamic Example**
[code]

**3. Label changing on expand**
[code]

**4. Lazy loading of children**
[code]

5. Selection, node by node
[code]

**6. Selection, as a global variable**
<clr-tree [(clrTreeSelected)]="selection">
    <clr-tree-node *ngFor="let i of rootN

[2016-12-13 20:44] #167 closed

[2016-12-13 20:48] snagar78 opened #240 "Need to create a buttonbar in clarity"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Need to implement a toolbar with clarity buttons, something very similar to
https://v4-alpha.getbootstrap.com/components/button-group/

### Actual behavior

No Component at present exists to create button bar.

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

* **OS a

[2016-12-13 22:10] #231 closed

[2016-12-14 14:26] rmaspoch opened #242 "Header actions with caret down display issues when using text"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The caret down icon should be aligned next to the adjacent text without overlapping.

### Actual behavior
The caret gets displayed on top of the text. In Edge the caret does not show at all.

![clarity](https://cloud.githubusercontent.com/assets/7172365/21185541/154e4f46-c1df-11e6-8aa7-848fe9ce99f1.png)

### Reproduction of beh

[2016-12-14 15:01] adityarb88 commented on #242
Hi @rmaspoch. Thanks for reporting this. I will take a look at why this works in the demo but not on the actual header.

[2016-12-14 15:48] #127 closed

[2016-12-14 15:54] photostu commented on #62
"We have a couple of things to resolve before we're able to make the move and we'll be able to provide better estimates beginning of next week. Stay tuned!"

Any updates? Thanks :)

[2016-12-14 16:19] hippee-lee opened #244 "CheckBox Style Update"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

An indeterminate CheckBox should have the following style changes:

1. border: 1px solid #007cbb
2. remove blue fill color to the label
3. change the dash color to #007cbb
![checkbox_style_update](https://cloud.githubusercontent.com/assets/433692/21189725/7b4ec34e-c1d4-11e6-9da7-2134eb239fe9.png)

### Actual behavior

### Repr

[2016-12-14 18:26] #244 closed

[2016-12-14 18:30] jaffoneh opened #246 "Add contributors to community page"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

- [ ] Add `Robert Pamfile` to the community page under "Contributors" once Issue #221 is merged.
- [ ] Also add `Ioan Ungurean` to the community page under "Contributors" once issue #211

CC @Robertmw and @ioanungurean

[2016-12-14 19:31] #242 closed

[2016-12-14 19:42] reddolan opened #247 "Button Group component (new)"
### Description
A Button Group is a collection of Buttons aligned side by side with no space between them. This can be used to create a collection of similar actions, to save space, or to respond to different size containers.

### Use cases under consideration
- mixing colored buttons for action differentiation
- adding dropdown menus for additional options
- a responsive experience to handle smal

[2016-12-14 19:43] adityarb88 commented on #197
Hi @chrismsimpson. I upgraded to the Release 8 version of the Metropolis font but I still see this issue with the `Light` font. Am attached an image below with `P0` using the `font-weight: 200` with `font-size: 20px` and `P1` using `font-weight: 400`

![image](https://cloud.githubusercontent.com/assets/1426805/21197949/2a122ce6-c1f2-11e6-9fcc-b2d7cb519bd7.png)

I downloaded the font from here: htt

[2016-12-14 19:44] adityarb88 commented on #197
Removing the milestone based on the above comment until we can fix the issue.

cc: @jaffoneh

[2016-12-14 19:45] adityarb88 commented on #197
Adding a image of one more test that @wodCZ mentioned in the Plnkr link. This is with Metropolis upgraded to r8

![image](https://cloud.githubusercontent.com/assets/1426805/21198083/ccb20a98-c1f2-11e6-93c7-78e1791aaad4.png)

[2016-12-14 19:45] reddolan commented on #247
Original request - #240

[2016-12-14 19:46] adityarb88 commented on #199
Removing the milestone until we can fix the issue mentioned over here: #197

[2016-12-14 20:13] reddolan opened #248 "Combobox component (new)"
### Description
- a Select component that allows for typing as well as scrolling through options
- similar to autocomplete or combobox

### Use cases under consideration
- type into field and filter down to options matching query
- click something to show the options available
- scroll through list and select an option
- multi-select
- option grouping (or categories)
- accessible navigation, optio

[2016-12-14 20:14] reddolan commented on #248
Original request - #90

[2016-12-14 20:27] jaffoneh commented on #247
Closing for now as a duplicate of the original request.

[2016-12-14 20:29] #207 closed

[2016-12-14 20:30] jaffoneh commented on #248
Closing as duplicate for now.

[2016-12-14 20:36] jaffoneh commented on #69
Work on this has started as part of the enhanced autocomplete/select work. cc @reddolan

[2016-12-14 20:37] jaffoneh commented on #90
Work on this has started as part of the enhanced autocomplete/select work. cc @reddolan

[2016-12-14 20:54] jaffoneh commented on #69
I am closing this as a duplicate considering the work will be completed as part of the larger "autocomplete" ticket (Issue #90). Thanks for posting this issue.

[2016-12-14 20:54] #69 closed

[2016-12-14 21:43] hrantbagdasarian commented on #240
A buttongroup using checkbox/radio button would also be a nice feature.
[https://v4-alpha.getbootstrap.com/components/buttons/#button-plugin](https://v4-alpha.getbootstrap.com/components/buttons/#button-plugin)

[2016-12-14 22:55] chrismsimpson commented on #197
Hey @adityarb88, I'm guessing maybe this is related to the base64 encode tool on font squirrel? Have you tried:
- Using a non base64 embedded version
- Generating base64 version from different sources (I've provided exports for UFO, OTF, TTF, EOF, WOFF & WOFF2 in the repo)

[2016-12-14 23:11] adityarb88 commented on #197
Hey @chrismsimpson. Thanks for the quick reply. I can try using different sources from the exports that you have provided and convert them into base64 version and test again. I have only tried converting TTF and OTF till now.

Regarding the first option, we want to use the base64 embedded version so that our users don't have to request/download/manage the font separately. I can discuss this again

[2016-12-14 23:26] chrismsimpson commented on #197
I think I've pinpointed the issue.. In the Font Squirrel Generator, ensure that 'No subsetting' is selected ('Basic Subsetting' is the default) otherwise you'll only end up with a basic Latin subset of the typeface in the Font Squirrel export.

<img width="737" alt="screen shot 2016-12-15 at 10 01 07 am" src="https://cloud.githubusercontent.com/assets/2238758/21205532/d5331b30-c2b0-11e6-866d-e3949

[2016-12-15 01:45] adityarb88 commented on #197
Thanks a lot @chrismsimpson! This is really helpful. I will try this tomorrow and post an update here.

[2016-12-15 04:13] getcodenow opened #250 "Accordion Component"
[code]

### Expected behavior
I expected to find behavior for an accordion component within clarity UI so I don't have pull in accordion functionality in from bootstrap library which has conflicts with Clarity.  Want to also add that Clarity is awesome.  You guys have done a great job with these components and the packaging.

### Actual behavior
The closest thing I can find to an accordion compone

[2016-12-15 04:16] getcodenow commented on #87
Great to hear.  I'll keep a look out.  Thank you for the feedback.

[2016-12-15 06:07] kars7e opened #251 "Modal cropped when inside StackView [Chrome]"
[code]

### Expected behavior
Using StackView, each clr-stack-content element has a subelement in form of a button which opens modal. This modal should display properly centered, with backdrop covering entire page.

### Actual behavior
It behaves correctly in Firefox, however in Chrome/Safari modal window and backdrop seem to be cropped to the size of StackView. see plnkr below.
https://plnkr.co/e

[2016-12-15 06:25] kars7e opened #252 "Horizontal scroll bar always shows up when using "row" class in Modal view"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When adding rows to modal-body, they should be contained inside the modal window without a scrollbar.

### Actual behavior
Despite there is only one column in a row (with col-xs-4 class), modal shows the horizontal scroll bar (and it seems there is indeed something that overflows, like row width is set just a bit too high). See

[2016-12-15 13:45] adityarb88 commented on #251
Hi @kars7e. Thanks for reporting this. We already have a `-webkit-transform: translateZ(0)` on our `.main-container`. I believe I added that while implementing responsive navigation as there was an issue with `position: fixed` at that time too.

I am not sure what is causing this again now inside of stack view. This is an issue with webkit browsers and I tried a couple of things that some users me

[2016-12-15 16:51] adityarb88 commented on #197
This is what I see now:
![image](https://cloud.githubusercontent.com/assets/1426805/21233069/b70f9c7c-c2a2-11e6-8314-103339d1dd38.png)

Most of the characters look good. The ones that might have an issue are the copyright, registered and a few other characters on the thin font (last and second last line of the card in `P0`).

Another Test:
![image](https://cloud.githubusercontent.com/assets/142680

[2016-12-15 17:36] mathisscott commented on #211
@Shijir : What's the status on this?

[2016-12-15 17:40] jaffoneh commented on #211
This is being fixed by #236. @Shijir can confirm.

[2016-12-15 19:56] amellnik opened #253 "Add [(clrDgFiltered)] to expose items in Datagrid matching current filters"
[code]

### Proposed behavior
Currently we have `[(clrDgSelected)]` which exposes the subset of selected rows in a Datagrid.  It would be nice to have an analogous two-way binding to see the items which are shown in the Datagrid after filters are applied.

### Actual behavior
I don't think there's any way to do this currently without using selection.  An example of why this would be useful is a Da

[2016-12-15 23:04] chrismsimpson commented on #197
Hi @adityarb88, the issues you've outlined above is more due to the fact that these charachters/glyphs are missing in the actual typeface. I'd be happy to work through them if you can raise an issue [here](https://github.com/chrismsimpson/Metropolis/issues) of what missing characters you need. The glyph chart generated by Font Squirrel should give you and indication of whats missing, but there are

[2016-12-16 01:09] jaffoneh commented on #197
Thanks @chrismsimpson for the quick responses. @adityarb88: if you could file a bug on Metropolis to add those characters that would be great and in the meantime, we should upgrade to Release 8 next week based on the above.

[2016-12-16 01:14] jaffoneh opened #254 "Increase the contrast of cards"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Cards should appear well even on different screens. This is a ticket to explore different designs and to see if this is actually a problem for our users.

### Actual behavior
Right now, they might look "washed" out on screens with different colors ratios.

### Reproduction of behavior
Look at cards on our typical background (#f

[2016-12-16 01:18] jaffoneh commented on #62
@photostu @jeeyun is actually working on getting a PR out there sometime this week!

[2016-12-16 02:32] Shijir commented on #187
Fixed in PR [#241](https://github.com/vmware/clarity/pull/241)

[2016-12-16 02:32] #187 closed

[2016-12-16 03:13] snagar78 opened #256 "Tooltip is not displayed fully if its on the field inside a dialog near the dialog header."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Tooltip should be shown over the top.

### Actual behavior
https://plnkr.co/edit/fJzlogPxqhDhR97zAiaP?p=preview
Click open dialog button and focus on the first field and tooltip is not displayed properly.

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

* **OS and ver

[2016-12-16 03:20] jaffoneh commented on #256
@snagar78 thanks for submitting an issue here. This seems to be the same issue being discussed in issue #37, right?

[2016-12-16 03:26] snagar78 commented on #256
@jaffoneh Yes this looks similar and looking at the discussion i think i would just change tooltip orientation to bottom :)

[2016-12-16 03:29] jaffoneh commented on #256
@snagar78 thanks. I'll close this one as duplicate since the other issue is mentioned here. Feel free to add to that discussion there with opinions and/or feedback!

[2016-12-16 03:29] #256 closed

[2016-12-16 04:04] Shijir opened #257 "Error during bundling process"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
No error should be logged out during bundling process.

### Actual behavior

The following error is logged during bundling process
[code]

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Saf

[2016-12-16 13:04] kucharzyk commented on #62
It looks like PR is ready.

Is there any estimated date for next release with this changes?

[2016-12-16 13:43] mathisscott commented on #62
If the PR is approved and there isn't too much effort involved with the remaining SASS issue and code review changes, then it should be going into 0.8.0.

The plan is for 0.8.0 to drop next week. If all goes well, it will. If not, it will probably drop the week after.

[2016-12-16 19:42] yaooluu commented on #156
Hi @jaffoneh  and @mathisscott,

Do we have any updates & timeline on this wizard refactoring? Especially for the issues that @youdz had pointed out.

Also, besides localization of wizard template, we have scenarios where text on wizard buttons could be very long (in other languages like Deutsch). I see that Clarity already uses ellipses for long text. But what we had also been doing is adding the

[2016-12-16 19:53] #246 closed

[2016-12-16 20:04] youdz commented on #248
Regarding accessibility, please make sure to follow these:
https://www.w3.org/TR/wai-aria/roles#combobox
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_listbox_role

[2016-12-16 20:40] Shijir commented on #257
Fixed in [PR#258](https://github.com/vmware/clarity/pull/258)

[2016-12-16 20:40] #257 closed

[2016-12-16 20:41] #211 closed

[2016-12-16 20:43] Shijir commented on #211
Fixed in [PR#236](https://github.com/vmware/clarity/pull/236)

[2016-12-16 21:10] youdz opened #262 "[Docs] Add "clr" prefix to coding guidelines"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Our coding guidelines should explicitly ask for all component, directives, inputs and outputs to use the `clr` prefix to avoid conflicts with other components and directives. Even inputs and outputs, yes.

### Actual behavior
Right now they don't mention it at all.

[2016-12-16 21:31] reddolan commented on #90
We have merged your request into #248 and will be closing this one. Please read the documentation and subscribe for updates. Comments and questions can be posted there.

Thank you

[2016-12-16 21:31] #90 closed

[2016-12-16 21:43] reddolan commented on #69
We have merged your request into #248. Please read the documentation and subscribe for updates. Comments and questions can be posted there.

Thank you

[2016-12-16 22:55] mathisscott commented on #156
@yaolu,

Unfortunately, the wizard refactor got bumped by a couple of other priorities. It's still pretty high up on the list. But won't likely get worked on for another week or two.

[2016-12-16 23:38] mattmutt commented on #248
Are configurations such as characters typed until query fired and maximum number of elements to be shown in a dropdown generally exposed or are they going to be constant? Sometimes the rule should be flexible: only after typing N characters should the options be calculated ( because 1 character is not useful against very large datasets)

Will this widget take a configuration object, or will be man

[2016-12-17 00:28] jaffoneh commented on #248
@reddolan can provide details but from our discussions, it should be configurable (for exactly the use case you mentioned).

We haven't discussed the technical spec for it deeply but that's a good question. cc @youdz

Could you provide more info here? I am not sure I fully understand the use case.

In this one as well, @reddolan would be able to provide more details (and @youdz on the technical si

[2016-12-18 18:20] Papipo opened #263 "Breakpoints in mobile devices with different pixel ratios or screen densities"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I expect media queries to take into account pixel ratios / screen density (not sure what's the term here). In an LG G3, inline radios should be inline, and header branding should be longer than 144px (to give a couple of examples).

### Actual behavior
In my LG G3, I see inline radios stacked, or header branding with 144px of m

[2016-12-18 19:11] Papipo commented on #263
Let's see if an screenshot clarifies this a bit. You can see the branding width (btw, the font feels smaller than expected too), the stacked radios which have .radio-inline class, and the mentioned breakpoint.

![Screenshot](https://cloud.githubusercontent.com/assets/22678/21295847/f21fc20c-c55d-11e6-980f-d4b946de8448.png)

[2016-12-19 00:32] mathisscott commented on #263
Thanks for submitting this issue and for the thorough explanation, @Papipo. We'll take it a look at it and try to get it in the queue. A lot of us are nose-down on work related to AoT so it may be a week or two before we can get this to the top of the list.

[2016-12-19 08:12] lfs1102 commented on #250
I have a similar issue.
I want to display only one data in a row and display it with full width. But Stack View works with name/value pairs and fixes the with of label to 40% and content to 60%. It create \<dd\> tag for label and \<dt\> tag for content dynamically so that I can't modify the style.
<img width="1260" alt="screen shot 2016-12-19 at 3 41 21 pm" src="https://cloud.githubusercontent.com

[2016-12-19 09:34] youdz commented on #248
As a general rule, Clarity components try to stay away from large configuration objects. So probably attributes in markup. There shouldn't be that many, though, I don't foresee a crazy amount of option that won't be solved by projecting custom content.

On this one, @adityarb88 had the issues with dropdowns and tooltips a bunch of times already. I don't believe we have a good universal solution at

[2016-12-19 14:25] youdz opened #264 "Correctly export Stack View components"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

[src/clarity/stack-view/index.ts](https://github.com/vmware/clarity/blob/master/src/clarity/stack-view/index.ts) should export the components themselves in addition to the array. See other components for examples.

### Actual behavior

Right now, it only exports the array, so any interaction through Typescript requires to impo

[2016-12-19 14:54] adityarb88 opened #265 "[DOCS] Add Icons in Buttons Demo to the website"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Website shows a demo for using Clarity Icons in Buttons

### Actual behavior

No documentation exists on how to use Icons in Buttons on the website

### Reproduction of behavior

NA

### Environment details
NA

[2016-12-19 15:22] adityarb88 commented on #263
Hi @Papipo,

Branding Area:
The reason our branding area is 144px our header supports 4 sections. There is no way for us to detect what follows the branding area using just CSS and thats why we have limited it to 144px. If we don't limit it to 144px there is a chance that it might overlap with the other sections. If you don't have additional sections on your header, i would recommend that you over

[2016-12-19 16:49] amellnik commented on #253
Thanks for the thoughtful answer, @youdz!  I will go ahead and plan on using `(clrDgRefresh)` and `DatagridState`.

Just wondering -- does this mean that in the future pagination won't provided an exact number of items and pages remaining after filters are applied for very large sets?

[2016-12-19 16:50] #59 closed

[2016-12-19 17:02] youdz commented on #253
It's a compromise we might want to offer when then performance gain is worth the lack of precision. But now that you mention it, we might want to make that trade-off a manual "opt-in", which means we could provide a separate incompatible feature which does what you're asking for (access to all items passing the current filters). Picking one or the other would be an informed choice, and we would do

[2016-12-19 17:18] jeeyun commented on #156
We should also enhance our API to allow programmatically select a step. A use case was raised where an application persisted the state of a wizard in progress, and wanting to reload it when the user comes back to finish going through the wizard at a later time.

[2016-12-19 18:34] #265 closed

[2016-12-19 19:04] clementcur commented on #41
+1
We currently have a requirement on our project to support infinite scrolling in datagrids. Let us know if that feature is part of any roadmap yet.

[2016-12-19 19:27] mathisscott commented on #41
This is not part of our roadmap at this time. We need the UX team to put together the interaction requirements. Still very early days on this.

[2016-12-19 23:09] chunghha opened #268 "Document theming of Clarity SCSS on website"
[ ] bug
[ ] feature request
[X] enhancement

Do you have a plan on your road-map for these items?
1. Custom Theme Support
2. Clarity NG components can be integrated to users' application independently without Clarity UX and/or UI. (maybe using Component Inheritance in Angular 2.3 +)

Reason to ask is that I have several Angular1/Bootstrap3 Web applications and started a couple of Angular2 projects

[2016-12-20 06:38] lynxone67 opened #269 "Question"
[ ] bug
[ ] feature request
[ ] enhancement
[x] question
[code]

[2016-12-20 14:27] Papipo commented on #263
@adityarb88 sure, but the thing is that on a screen with less pixel-ratio, the branding is wider. I can just resize my desktop browser and see how it behaves in a completely different way (also the font looks thicker):

![clarity 2](https://cloud.githubusercontent.com/assets/22678/21353929/6b23de16-c6c8-11e6-9417-d3b315dca208.png)

In Framework7, for example, they push .pixel-ratio-# classnames in

[2016-12-20 16:42] adityarb88 commented on #263
@Papipo: Thanks for replying back! I will wait for our UX team to respond to this but it looks like you are using the branding area as a heading. The recommended usage for the branding area is for displaying your app name. I believe your heading `Trade a new item` belongs in the `.content-area`

Regarding the max-width consider the following example:

![image](https://cloud.githubusercontent.com/a

[2016-12-20 17:59] Papipo commented on #263
Well, maybe you are right. It's true that I am using branding as a header.
But I still think that pixel ratios should be taken into account, generally speaking. Let's see what the UX team has to say.

Thanks.

[2016-12-20 18:09] Papipo commented on #263
BTW, I am interested in using it as a header in order to save space. My project is a hybrid mobile app, and I chose Clarity because I like how it looks, it has a kinda mobile appearance without being too iOS nor android like. Also, it doesn't depend on JS (I am using mithril, so when needed I'll write the stuff myself. No angular at all).

So, it might be interesting to add a new class to the .hea

[2016-12-20 18:14] adityarb88 commented on #263
@Papipo thanks for the feedback! I will take a look at the pixel-ratio issue that you raised too.

@yenmade: could you please take a look at this issue whenever you get a chance?

[2016-12-20 18:47] jeeyun opened #273 "[core] improve reusability of animation code in Clarity"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

It would be nice to re-use functions that generate animation metadata (we have collapse, fade, fade-slide, and slide) so that the animations are centralized and standardized.

### Actual behavior

As part of AoT refactor, the animation metadata has been hard-coded into the components (Modal and StackBlock). Let's revisit this

[2016-12-20 22:50] mathisscott commented on #269
Take a look at the "Binding model properties to columns" and "Server-driven datagrid" sections on https://vmware.github.io/clarity/documentation/datagrid.

Getting the data into datagrid isn't that big of a deal, however, it's really just popping the datagrid component into your template and pointing the values to _something_.

If you're hitting an API, you probably want a Service and you definite

[2016-12-20 22:50] #269 closed

[2016-12-21 16:23] #197 closed

[2016-12-21 16:23] #199 closed

[2016-12-21 17:37] kevinmcbride opened #277 "Need for 'ReadOnly' style on Input Fields"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

I was looking for a ‘read only’ style for an input field.  Seems like this should look different from the ‘disabled’ style.  Here is the look we want - id does not grey out the text — the value of the text is kinda important, not something we want to diminish.

The use case is a field in the form that tells the user what type

[2016-12-21 17:48] jeeyun opened #278 "[core] Add build script to run AoT version of demo app"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Would be nice to add scripts to run AoT version of the demo app. This is non-trivial though so might want to wait till demo cleanup happens in the project.

### Actual behavior

Right now the demo app runs in JIT format. We have scripts to produce the AoT ready components for the npm package but no way to test it within the ap

[2016-12-21 21:03] #62 closed

[2016-12-21 21:24] photostu commented on #62
Oh Fuck Yeah! ;-)

[2016-12-21 22:27] mathisscott commented on #232
Our hope is that we can design icons well enough that they will look at all reasonable sizes. Due to the multiplicative affect that responsive iconography can have on our SVG code and design, we are going to punt on this.

[2016-12-21 22:27] #232 closed

[2016-12-22 00:45] #230 closed

[2016-12-22 15:20] chunghha opened #282 "[DataGrid] "trackBy must be a function" error with Angular 2.4.1"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
DataGrid should be displayed without error.

### Actual behavior

DataGrid rows are not displayed at all. And I can see this error on console.

**Error in ./Datagrid class Datagrid - inline template:22:62 caused by: trackBy must be a function, but received undefined**

(datagrid.html line 22)
ngFor [ngForOf]="items.displayed" [

[2016-12-22 17:21] jbgarr opened #285 "[Suggestion/request] Don't pull in the whole RX.js library"
[code]

### Expected behavior
Only import the features from Rx.js that Clarity actually needs/uses. This will help minimize the number of requests that are made right off the bat when an app is loaded and each time it's refreshed. Instead of pulling in all of Rx.js, create an rxjs-operators.ts file that imports the operators that the components need. I think this is the suggested route given by th

[2016-12-23 22:04] #225 closed

[2016-12-23 22:04] #226 closed

[2016-12-24 12:10] Vad1mo opened #290 "Best way for a custom Themes"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I would like to find Information in form of a tutorial on how to create a custom theme.

### Actual behavior
There is no such information or any kind of reference how to accomplish this.

### Note
Are you planning to release such information or is it not planned?

[2016-12-24 13:37] Vad1mo opened #291 "Move off Bootstrap"
I just saw in your backlog https://github.com/vmware/clarity/projects/1  that you are planning to move away from bootstrap.

Is this an idea or is it already planned. If you are really thinking about moving away from bootstrap than we have to rethink our decision with clarity as well.

I know that bootstrap has its issues and drawbacks, but on the inevitable pro side is the huge eco system and pop

[2016-12-24 15:16] mathisscott commented on #75
I no longer believe this is the case. I think this has been resolved with our AoT work and the website migration that happened along with that.

[2016-12-24 15:16] #75 closed

[2016-12-24 15:18] mathisscott commented on #290
Yes we were planning to add Documentation to the website to outline these steps. I checked github, however, and found we don't yet have an issue open for it.

Thanks for opening one.

[2016-12-24 15:22] mathisscott commented on #291
The plan is to move off of Bootstrap starting with version 2.0. So that's a long way off.

And version 1.0 of Clarity will stay on v4 Bootstrap -- as much as it is today.

As with any long term goals, the community will have every opportunity to influence our decision and ultimate direction.

I'm closing this issue because it is a question that has been answered.

[2016-12-24 15:22] #291 closed

[2016-12-27 18:34] Vad1mo opened #292 "UI Tooltip positioning of right and left"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Positioning of the tooltips should be as indicated

### Actual behavior

I would expect that the **right** the tooltip would be inline with the row not 50% below the row.
So it is actually diagonal right.

![bildschirmfoto 2016-12-27 um 19 29 19](https://cloud.githubusercontent.com/assets/1492007/21505810/120e243c-cc6b-11e6-90a

[2016-12-27 18:56] jaffoneh commented on #292
@Vad1mo could you provide a bit more information? In the "right" tooltip, it is positioned to the middle of the icon to make sure it is pointing at it. Do you mean it should be pointed at the top of the icon instead (in this example)?

[2016-12-27 19:10] EileenLB opened #293 "Typo – Docs for Icon variants"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Doc explanation should be easy to understand

### Actual behavior
Doc explanation is oddly-phrased.
The problem appears to be due to a 'typo' in the content

### Reproduction of behavior
See screen capture for examples
<img width="645" alt="odd-phrasing-2016-12-27 at 10 51 30 am" src="https://cloud.githubusercontent.com/assets/

[2016-12-28 07:26] wodCZ commented on #282
Just came to confirm that this error is still present in Clarity 0.8.0 with Angular 2.4.1.

[2016-12-28 07:28] 4zriel commented on #282
For me datagrid works (in 0.8.0) only with angular 2.2.3. I have the same symptoms with 2.3.1 so I'm not sure if it`s only problem with 2.4.1.

[2016-12-28 08:35] Vad1mo commented on #292
here is an image what I image right should mean.
![bildschirmfoto 2016-12-27 um 19 29 19](https://cloud.githubusercontent.com/assets/1492007/21517573/7f1604bc-cce0-11e6-907b-6121b19ac75e.png)

The dotted gray line represents the row boundaries.

[2016-12-28 14:47] pjtmatos opened #294 "Calendar/Schedule control"
[ ] bug
[ X] feature request
[ ] enhancement

### Expected behavior
Add a calendar/schedule control (like google calendar, outlook calendar, etc).

[2016-12-28 14:59] chunghha commented on #282
I had datagrid (0.7.5-dev) working with 2.4.0 before updating to 2.4.1. But, I didn't test 0.8.0 with 2.4.0 because this trackBy issue was introduced with 2.4.1. And, for this issue, 0.8.0 doesn't make any difference than 0.7.5 because the clarity update was mainly for AOT support, no upper version of angular support added.

[2016-12-28 15:26] mathisscott commented on #293
Fixed these typos with commit: https://github.com/vmware/clarity/commit/92282c78ab29f32782497f29dbbb8d34a3fe14bd.

[2016-12-28 15:26] #293 closed

[2016-12-28 16:54] jaffoneh commented on #294
@pjtmatos do you mean a date/time picker? Does #121 cover your request/use cases and if not, what is different?

[2016-12-28 17:22] pjtmatos commented on #294
No, I mean an actual calendar/schedule.

Something similar to: http://angular-ui.github.io/ui-calendar/

The datepicker could be use in conjunction with to, for instance, select the month or day.

[2016-12-28 18:37] chunghha commented on #282
@4zriel, I just downgraded @angular/core and common to 2.4.0 and tested with 0.8.0 / angular-cli beta24. Datagrid in my app appears to be working without this trackBy error. So this issue is 2.4.1 specific and you might have a something else problem.

[2016-12-28 19:15] yenmade commented on #29
Agreed, I'll add this to the UX backlog to further research before making a call.

[2016-12-28 19:18] yenmade commented on #277
Adding this to the UX backlog to explore visual treatments for a 'read only' style.

[2016-12-28 19:25] yenmade commented on #292
@Vad1mo Can you elaborate more on what your need is to have the tooltip appear directly to the right and left of an icon (vs slightly lower but the arrow pointed at the correct position)?

[2016-12-28 19:32] Vad1mo commented on #292
Yes exactly.
**right** class, should be **100% right** and not **right and 50% below center**

So at the end there would be two more classes.

[code]

[2016-12-28 20:04] yenmade commented on #292
@Vad1mo Thanks for listing the classes, makes it clear what you're looking for. What I'd like to better understand from a design perspective is why the positioning of the current tooltip doesn't meet your needs. Even though the text sits slightly below, the positioning of the arrow draws relation to the icon. Are there specific use cases you have for a 100% right and 100% left tooltip? This inform

[2016-12-28 20:26] yenmade commented on #263
@Papipo Thanks for bringing this to our attention. Like Aditya pointed out, the reason there is a max width is to account for other sections that are generally found in applications. Decisions like this one and the stacked checkboxes are built this way due to us not being able to detect the content people have, and also to avoid breakage (overlaps and misalignment due to wrapped text). These defau

[2016-12-28 20:35] Vad1mo commented on #292
Difficult to tell it actually looked better, when it was completely right.
We had only horizontal and vertical positions.

To be honest I got used too how it is right now.

If you want you can close this proposal.

[2016-12-28 20:52] yenmade commented on #292
@Vad1mo One of the reasons our tooltips aren't 100% left/right  is to avoid completely covering adjacent items (like in the case of a form). I'm going to close this issue for now, but thanks again for your input!

[2016-12-28 20:53] #292 closed

[2016-12-28 21:34] yenmade commented on #137
Will add this to the UX backlog for design explorations. @gssjr It would help greatly if you could post your specific use case(s) or examples, so that we take those into consideration when we tackle this. Thanks!

[2016-12-28 22:25] eyedefy opened #295 "Global Alerts Enhancement - presentation for handling multiple alerts"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
If the system has triggered two or more global alert messages, the Clarity global alert component gives me a way to know this to be the case. A hypothetical use-case might be: As a user, I need to know that my password is about to expire, I need to renew my user license, and I need to be aware that a dependent service will be s

[2016-12-29 06:44] 4zriel commented on #282
@chunghha True, I looks like I didn't remove all node_modules after downgraded to 2.3. So the issue is only with 2.4.1

[2016-12-29 09:52] wknet123 opened #296 "How can I set offset in a row with columns?"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Answer question

### Actual behavior

### Reproduction of behavior

### Environment details

* **Angular version:** 2.3.X

* **Clarity version:** lastest

* **OS and version:** OS X

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX ]

[2016-12-29 10:33] #296 closed

[2016-12-29 16:54] mathisscott opened #297 "[icons] there is no way to retrieve icons from the ClarityIcons API"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
ClarityIcons should allow me to loop through the list of icons programmatically or retrieve them as needed.

ClarityIcons.get("shapeName") should return the expected shape object. Additionally, I should have some public exposure to the set of icons.

### Actual behavior
I cannot get to the set of icons at all. It appears that t

[2016-12-29 18:42] yenmade commented on #295
Thanks for this awesome concept for handling multiple global alerts @eyedefy! We will queue this on the UX backlog to enhance global alerts.

[2016-12-29 19:52] yenmade opened #298 "Visual discrepancy of "close X" button in alerts, modals, and wizards"
**Select one ...**  (check one with "x")
[code]
The following tasks will be needed:

- [x] Determine the desired visual style for the close X icon
- [ ] Update ~~Sketch/Invision files or~~ code accordingly

### Expected behavior
The "close X" icon in modals and wizards should match the website documentation for respective components.

### Actual behavior
The "close X" icon in the Sketch template a

[2016-12-29 22:52] EileenLB opened #299 "Visual discrepancy - Header text in Sketch Template and Build"
**Select one ...**  (check one with "x")
[code]
The following tasks will be needed:
1.  Determine the desired visual style for the Header text
2. Update Sketch/Invision files –or– code accordingly

### Expected behavior
The appearance & specifications for the text in the Screen Header should be consistent between the Sketch Template and the build.

### Actual behavior
The color, font-weight, and f

[2016-12-29 23:42] pchoi commented on #186
Is there a plan to introduce the following capabilities?

1. `pagination`
2. `throttle/debounce`

[2016-12-29 23:58] yenmade commented on #299
I believe this is a known issue and @reddolan will be updating in the next version of the Sketch UI template. The header font styles should match the latest file in Invision. @reddolan Can you confirm?

[2016-12-30 06:44] yanyixing opened #300 "table paging"
**Select one ...**  (check one with "")
[code]
Is the table paging component  on the roadmap ?
This is a common component in other UI frameworks

[2016-12-30 06:46] jaffoneh commented on #300
@yanyixing what do you mean by table paging? Are you referring to datagrid/datatable? It's available here: https://vmware.github.io/clarity/documentation/datagrid

[2016-12-30 07:04] yanyixing commented on #300
function just like bootstrap datatable's paging
https://datatables.net/manual/styling/bootstrap

[2016-12-30 07:11] yanyixing commented on #300
I have found this component, thanks

[2016-12-30 07:13] jaffoneh commented on #300
No problem. Feel free to provide feedback or open issue on the datagrid component itself as you use it. Closing this issue based on the last comment.

[2016-12-30 07:13] #300 closed

[2016-12-30 09:27] wknet123 opened #301 "Checkbox cannot be seen in modal."
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Showing checkbox tag in modal with Clarity styles.

### Actual behavior

Checkbox tag cannot be seen in modal.
It should be a bug.

### Reproduction of behavior

### Environment details

* **Angular version:** 2.2.3

* **Clarity version:**
clarity-angular: 0.7.5
clarity-icons: 0.7.5
clarity-ui: 0.7.5
* **OS and version:**
OS X

[2016-12-30 11:02] youdz commented on #282
Angular used to ignore the trackBy input if it was undefined, but apparently doesn't anymore. This shouldn't be too hard to fix, hopefully I can work on it some day next week and include the fix in 0.8.1.

[2016-12-30 12:47] jaffoneh commented on #301
@wknet123 thanks for reporting an issue. Do you mind including more information including a plnkr using the clarity template if possible? That would help us reproduce this issue: https://plnkr.co/edit/VPxyl7?p=preview

[2017-01-02 05:14] ThinkontrolSY opened #303 "Two Custom filters in Datagrid, can not get correct state.filters"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I have two customer filter in datagrid,
[code]
[code]
[code]
[code]

I want these two customer filters give me two separated element in state.filters. But it isn't

### Actual behavior

I can not get filter element in state.filters when I active the first customer filter, but I got two copy of same filter element in state.filte

[2017-01-03 03:15] wknet123 commented on #301
I found it only disappeared when it does not follow with a label tag, I think this is a limitation.
e.g.
&lt;div class="checkbox-inline"&gt;
     &lt;input type="checkbox" id="create_project_public"&gt;
    &lt;abel for="create_project_public"&gt;&lt;/label&gt;
&lt;/div&gt; , looks fine.
but,
&lt;div class="checkbox-inline"&gt;
    &lt;input type="checkbox" id="create_project_public"&gt;
&lt;/div>

[2017-01-03 09:55] wodCZ opened #304 "[UI] unstyled input type tel and date"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
input `type="tel"` and `type="date"` should look same as `type="text"`

### Actual behavior

![image](https://cloud.githubusercontent.com/assets/1174421/21604316/d3dcc046-d1a2-11e6-98a9-0fe01f3e5494.png)

### Environment details

* **Angular version:** 2.3.1

* **Clarity version:**  0.8.0

* **OS and version:** macOS 10.12.2

*

[2017-01-03 15:41] integratedinfosys opened #305 "In Datagrid *clrDgItems is not working"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The grid should appear with data

### Actual behavior

Grid doesn't show data with *clrDgItems, where as *ngFor works well

### Reproduction of behavior

I am attaching a zip file of the project. Node modules are deleted
### Environment details

* **Angular version:** 2.0.X
2.4.1
* **Clarity version:**
0.8.0
* **OS and version

[2017-01-03 18:33] adityarb88 commented on #301
@wknet123: Yes you definitely need the label inside of the checkbox because Clarity has custom checkboxes and they are generated by adding styles to the pseudo elements in the label. If you have no text in the checkbox you still have to use an empty label.

Thanks for reporting the plnkr issue. @hippee-lee is taking a look at it.

I am closing this issue but please feel free to reach out if you fa

[2017-01-03 18:33] #301 closed

[2017-01-03 19:47] hippee-lee commented on #301
Howdy @wknet123.
I created a new plunkr that uses the latest (v0.8.0) version of clarity here: https://plnkr.co/edit/8TwwdL?p=preview

I'll update the docs asap but am posting it here if you need it.

[2017-01-03 20:36] chunghha commented on #282
@youdz, in case, Angular team said that

But, regardless I think your fix should be in and appreciated.

[2017-01-03 20:40] chunghha commented on #305
Per your angular version and problem described, I assume you're getting the issue of #282

[2017-01-03 22:01] integratedinfosys commented on #305
Thanks @chunghha, the problem got solved after I downgraded Angular to 2.4.0.
Clarity Design System is a wonderful. If you maintain a working Kitchen Sink App, will be of greatly appreciated.

[2017-01-03 22:01] #305 closed

[2017-01-03 22:24] satsva commented on #126
I am new to Clarity and facing the same problem. I would like the sidenav change basing on the subnav...exactly like explained below. BTW, plnkr is not working.

[2017-01-03 22:30] adityarb88 commented on #126
@satsva: https://plnkr.co/edit/8TwwdL?p=preview this plnkr link should work. Could you please replicate it here and we can take a look at it.

[2017-01-03 22:57] reddolan commented on #156
@yaooluu the max width on a button (non-block) is 360px.

Ideally a button should describe the action a user will be doing within a word or two. For example Save, Submit, Comment, etc.

In the case of languages with long text, I would recommend that the product team do there best to keep the button label within these parameters to keep the button label from truncating to an ellipses.

Also, while

[2017-01-03 23:31] satsva commented on #126
Thanks @adityarb88 plnkr now works. Please check the below for the issue:

https://plnkr.co/edit/qaGgbGlNZM5gxn60H2tZ?p=preview

Maybe I am doing something wrong. Please let me know. Thanks!

[2017-01-04 01:36] jeeyun commented on #264
Hi @youdz I believe this was handled in https://github.com/vmware/clarity/pull/288. Please let me know if that's not the case. If it is, feel free to close this.

[2017-01-04 03:50] lil-kim opened #307 "Clarity icon: User/group icon - filled circle should be an outline"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The user/group icon shown on the Clarity
web site should be outline style

### Actual behavior
The middle circle (head of user) is filled when it should be an outline.
<img width="460" alt="bug-user-group icon" src="https://cloud.githubusercontent.com/assets/23196444/21631194/5809c93c-d1ed-11e6-92be-48075cef8672.png">
[ic_group

[2017-01-04 12:53] #264 closed

[2017-01-04 14:30] mathisscott opened #310 "Fix analytics on new website"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Since the website was moved to a SPA, we've lost our analytics tracking.

[2017-01-04 18:42] Shijir opened #312 "Add declaration file for the ClarityIcons Api object"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

ClarityIcons Api should easily usable in typescript files.

### Actual behavior

Users need to manually declare the Clarity Icons namespace in order to use the api in typescript files.

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

* **OS and version:**

* **Browse

[2017-01-04 22:22] reddolan commented on #298
This also affects [Alerts](https://vmware.github.io/clarity/documentation/alerts) and Signpost (in dev).

I recommend we use the InVision specs. The Wizard and Modal would have a 16x16 Dismiss icon, using the new icon. The Alerts and Signpost would use the new Dismiss icon at 10x10. The examples that exist on the site look like they are using the previous Dismiss icon.

This recommendation would t

[2017-01-04 22:51] reddolan commented on #121
@saravanareddy this is part of our [1.0.0 Roadmap](https://github.com/vmware/clarity/projects/1)

[2017-01-04 23:30] #304 closed

[2017-01-05 00:28] lil-kim opened #317 "Iconography: Red colors for error and warning class are not distinguishable"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The warning color should be a yellow or lighter orange color; should be clearly distinguishable from the Error red color. One possible caveat: would changing "warning" to orange affect classes in any other components? ie: danger/warning buttons?

### Actual behavior
Currently Warning and Error classes both use reds that are ver

[2017-01-05 00:43] mathisscott commented on #317
What color should it be?

[2017-01-05 12:27] youdz opened #319 "[NG] Make the checkbox component public"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The `<clr-checkbox>` component should be documented with proper demos, so that our users can test this "shortcut" and give us feedback on its usefulness. The point being to release this type of component for all inputs, so that our users won't have to constantly check the correct markup and classes needed by our static form con

[2017-01-05 13:56] #262 closed

[2017-01-05 14:14] #310 closed

[2017-01-05 14:15] #297 closed

[2017-01-05 15:19] #282 closed

[2017-01-05 18:01] reddolan commented on #299
All of these updates will be in the next release of the UI Template

[2017-01-05 18:03] jaffoneh commented on #209
We're on Angular 2.4.1.

[2017-01-05 18:03] #209 closed

[2017-01-05 18:11] mathisscott commented on #224
We implemented this with work in 0.8.0 and 0.8.1

[2017-01-05 18:11] #224 closed

[2017-01-05 18:20] hippee-lee opened #322 "Fix Plunker Link"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The website links to a plunkr template for easily demonstrating an issue or a bug with clarity. It does not seem to be working after the latest release.

### Actual behavior
The plunkr link on the website and clarity documentation files will work.

### Reproduction of behavior
n/a

### Environment details

* **Angular version:*

[2017-01-05 21:57] reddolan commented on #298
The decision was to update the component code to use the Dismiss icon.

[2017-01-05 22:36] reddolan commented on #137
@gssjr I see that you are looking something similar to the Material Floating Action Button (FAB). Your other comment about "icon buttons in toolbars", is this similar to [Bootstraps Button Group](http://getbootstrap.com/components/#btn-groups)? Something where you would have icons grouped together for actions?

[2017-01-05 23:09] hippee-lee commented on #322
There are several things to address:

- Make sure that the latest version of clarity pushed to npm works with the 0.8.1 version of clarity
- Surface a link to the 0.7.6 plunker version so people on the last version can submit issues with that
- Modify original plunkr for 0.7.6

[2017-01-05 23:09] lil-kim commented on #317
As decided in today's vizD review meeting, the warning color for icons should be: **#FAC400**.
Note: this change **should not** be applied to any other components with a warning class, ie: alerts and buttons.

[2017-01-06 09:46] youdz commented on #285
This is actually a touchy subject, where everything is still up in the air.
Some people put the task on the developer, like the Angular team does. Some put it on the bundlers, which should be able to treeshake the dead weight even if you import from the index. And some put it on the library itself to provide a stable internal structure, like RxJS does.

Angular's recommendation right now relies on

[2017-01-06 11:31] youdz opened #324 "[CORE] Clean up the demos in src/app"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Our main project should have a `sandbox/` folder in `src/` next to `app/` and `clarity-angular/`.
It should contain fewer examples, mostly all-encompassing ones, rather than splitting everything per feature as we used to do when the demos where exported to the website. A component's example should now be one (maybe a couple in

[2017-01-06 11:33] youdz commented on #324
@jeeyun: I'll let you confirm if this seems reasonable to you, and maybe provide some details or warnings about build changes that would need to be implemented. Feel free to unassign yourself after this and remove the `Review Needed` label, we'll decide at that point who's going to work on this.

[2017-01-06 17:19] jbgarr commented on #285
Hello @youdz thanks for your reply.

So just to add some additional info here, I am running the SystemJS seed (and will raise an issue there as well) and with that seed project (just the basic version of it out of the box) it makes 454 requests when the app is fired up or reloaded. Out of those 454 requests, 343 of them are related to RxJS. I have been able to work around this by modifying my gulp

[2017-01-06 17:21] reddolan opened #325 "Update the UI Template and post to the site"
[code]

### Expected behavior
An updated version of the UI template including fixes from other issues
Include new icons and variants

### Actual behavior
Minor errors in colors, sizes

[2017-01-06 17:25] reddolan commented on #299
update coming in #325 for 0.8.2 next week

[2017-01-06 17:25] #299 closed

[2017-01-06 20:38] serkandyck opened #326 "Universal Rendering"
trying add Clarity Ui for server rendering but i get error

[code]

[2017-01-06 20:51] jeeyun commented on #326
Hi @SerkanDayicik, can you give us some more info? Is your app based on the starter app from Angular Universal's [quickstart page](https://universal.angular.io/quickstart/)? Giving us some more information on your setup and/or code snippet would help us to resolve issues in a more timely manner.

[2017-01-06 20:58] SerkanDayicik commented on #326
hey @jeeyun i'm using this starter [https://github.com/pmachowski/angular2-starter-kit] and i try impot ClarityModule from browser.module.ts this not error but angular say <clr-icons not found if i try add ClarityModule from node.module.ts or directly app.module.ts i get this error i try both forRoot and forChild

[2017-01-06 22:56] MRHarrison commented on #37
I think you just have to bite the bullet and have the option to append to body or assigned class.  There sometimes isn't a perfect solution.  This functionality is in every UI library I have used.  You should add the append to body solution until you find the perfect solution you are looking for.  I'm having the same issue with the sidebar.  This is a huge blocker for me and now I have to make my

[2017-01-06 23:48] adityarb88 commented on #37
Hi @MRHarrison. Thanks for your feedback. This is actually one of our top priorities to fix but we want to make sure that the fix that we decide to implement solves the meets the following things:

1. Does not clip off tooltips, sign posts etc inside the modal
2. Is not bad for accessibility
3. If possible, does not manipulate DOM

If we do attach the tooltip to the body, it is bad for accessibili

[2017-01-07 01:13] MRHarrison commented on #37
Perhaps I don't understand the screen readers issue well enough, but the append to body only happens when you do a hover.  The information is still inline with its content, the tooltip is only appended and removed with hover events.

Turning off the `overflow: hidden` for the modal, sidebar, and whatever else that will require, will create a huge headache for you and whoever wants to build a custo

[2017-01-07 01:29] adityarb88 commented on #37
@MRHarrison I would need more details or an example to look at that. Are you suggesting adding the content as an attribute to the markup? If yes then we wont be able to support links, images or anything other than plain text in components which extend tooltips like Sign Posts. If not, could you please give us an example?
But even then it would make the tooltips an angular component, no? Tooltips r

[2017-01-07 01:38] MRHarrison commented on #37
Can't see tooltip in sidebar.
<img width="256" alt="overflow-hidden-hides-tooltip" src="https://cloud.githubusercontent.com/assets/486209/21738215/a6eddbf6-d436-11e6-8ecd-128e900d0a2c.png">

I kinda think the issue here is the tooltips.  Yes, the tooltips should be an angular component.  Not sure why it must be pure CSS?

[2017-01-09 04:26] snagar78 commented on #37
![image](https://cloud.githubusercontent.com/assets/7144356/21757230/801125d2-d5e0-11e6-9833-525ae72bc8b2.png)

One more case where tooltip is getting cut.
I am using card column layout (.card-columns-2) and tooltip is displayed on a "badge" and is not displayed fully.

[2017-01-09 06:17] yanyixing opened #330 "where is the source code?"
**Select one ...**  (check one with "x")
[code]
Where can I found the source code about your official website’s document https://vmware.github.io/clarity/documentation

[2017-01-09 06:20] jaffoneh commented on #330
@yanyixing could you explain your question a bit more? Are  you looking for the Clarity source code or the source code for the documentation website itself? cc @mathisscott and @adityarb88

[2017-01-09 06:22] yanyixing commented on #330
I need the source code for the  documentation website itself, thanks

[2017-01-09 11:11] youdz commented on #330
The source code of our website is on `website` branch: https://github.com/vmware/clarity/tree/website
It is however not meant to be public or taken as an example, and is mostly undocumented.
Could you tell us why you want to look at it, so we can maybe give you some advice?

[2017-01-09 17:21] mvsrao opened #331 "Ability to minimize Sidenav completely to reuse the space on large devices"
Currently Sidenav contents can be minimized but Sidenav title still displaying the screen . Is there a property on the Sidenav to minimize it completely as an icon on the large devices in a way that happens on smaller devices to reuse the screen space.

[2017-01-09 17:41] jaffoneh opened #332 "Create nested menus/action menus"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
We should have the ability to have nested menus. An example below is included from bootstrap-like design. This is included simply to provide an example of the definition of a "nested" menu.

<img width="621" alt="screen shot 2017-01-08 at 4 01 50 pm" src="https://cloud.githubusercontent.com/assets/690949/21776511/d0626446-d64f-

[2017-01-09 17:47] jaffoneh opened #333 "Create Signpost component"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Have the ability to display help information in the context of input fields as well as anywhere within an application.

An example is attached below although more cases might need to be covered.

<img width="743" alt="screen shot 2017-01-09 at 9 46 36 am" src="https://cloud.githubusercontent.com/assets/690949/21776718/a96cc9de-

[2017-01-09 17:51] jaffoneh opened #334 "Create Table of Content Component"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The ability to provide a table of content within the context of a page. We do currently have the side navigation to provide similar functionality for the full page but it serves as a method of navigation vs. the traditional TOC.

[2017-01-09 17:52] jeeyun commented on #324
This sounds reasonable. I think this should be done in stages until we finalize our strategy for CSS regression testing. My proposal:

1. Create `sandbox/` folder with one demo component per component. The demo component still contains variations of a given component to cover CSS regression, but no documentation texts. Think one kitchen sink page per component.
2. Port over the CSS regression test

[2017-01-09 17:52] jaffoneh opened #335 "Create Masked Input Component"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Have the ability to enter data in a certain format within an input field. For example: specifying the way a phone number needs to be entered by a user and have that enforced by the masked input field itself.

[2017-01-09 18:59] mathisscott opened #337 "[icons] Create load function that builds icon collection from icon sets"
**Select one ...**  (check one with "x")
[code]

ClarityIcons needs a `load()` method.

Parameters to this method will either be `undefined` or an array of strings (`String[]`).

The `load()` method will:

• compile a collection of all known icon sets if the parameter is undefined
• compile a collection of icon sets whose names match the strings it is passed
• create an empty collection if passed

[2017-01-09 21:35] mathisscott opened #340 "[icons] tests for ClarityIcons"
**Select one ...**  (check one with "x")
[code]

We need to make sure we build some unit tests for the ClarityIcons API.

[2017-01-09 21:37] #317 closed

[2017-01-09 22:05] mathisscott commented on #156
This is just the issue that keeps on issuing.

Here is a list of other things to look at with the Wizard per meeting today with @jaffoneh, @youdz, and @yenmade

- [ ] Wizard title should account for long title names. Either beyond two lines or truncation. Currently it is up to two lines but no truncation and no padding to right
- [ ] Styling of Wizard title + Step is different from designs (see In

[2017-01-09 22:43] reddolan commented on #333
@jaffoneh with the design spec being complete, what "UX input" is needed on this issue?

[2017-01-09 22:45] jaffoneh commented on #333
@reddolan as far as I know, design spec was not complete. The effort started but hasn't been completed with different use cases looked at and addressed. Might need a final pass + posting it here as a design spec.

[2017-01-09 22:52] reddolan commented on #333
@jaffoneh awesome. I will pass the info on.

[2017-01-09 23:19] mathisscott commented on #298
This tangentially affects the wizard refactor (#156). So I've picked it up because I have questionable judgment.

[2017-01-10 00:03] virusakos opened #341 "No provider for ClrResponsiveNavigationService!"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

No error thrown

### Actual behavior

Error "No provider for ClrResponsiveNavigationService!"

### Reproduction of behavior

Not reproducable in plunker

### Environment details

* **Angular version:** "@angular/compiler-cli": "^2.3.1"

* **Clarity version:** "clarity-angular": "^0.8.1"

* **OS and version:** macOS Sierra 10.1

[2017-01-10 00:46] Shijir commented on #341
Hi @virusakos, you might need to call `forRoot` on ClarityModule in `app.module.ts`. So instead of including just `ClarityModule`, it should be `ClarityModule.forRoot()` in the `imports` field.

[2017-01-10 01:14] MRHarrison commented on #37
Whats the verdict on this?

[2017-01-10 01:53] yanyixing commented on #330
@youdz thanks. I just want to consult the website's style

[2017-01-10 01:54] jaffoneh commented on #330
Closing this one based on the last comment.

[2017-01-10 01:54] #330 closed

[2017-01-10 02:14] reddolan commented on #37
@MRHarrison @snagar78 Thank you for your patience. We are currently reviewing all of the details on this. We are discussing the best way to solve these situations. We will post a comment once we have more

[2017-01-10 04:03] yanyixing opened #342 "In Datagrid *clrDgItems is not working"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior

### Reproduction of behavior

### Environment details

* **Angular version:** 2.4.1

* **Clarity version:0.8.0

* **OS and version: osx 10.11.6

* **Browser:** [ Chrome 55.0.2883.95 ]

*clrDgItems not working, but *ngFor works fine

[2017-01-10 04:18] yanyixing opened #343 "TypeError: Cannot read property 'length' of undefined"
Select one ... (check one with "x")

[x] bug
[ ] feature request
[ ] enhancement
Expected behavior

Actual behavior

Reproduction of behavior

Environment details

Angular version: 2.4.1

**Clarity version:0.8.0

**OS and version: osx 10.11.6

Browser: [ Chrome 55.0.2883.95 ]

In my datagrid template html file, {{users.length}} will meet this error: TypeError: Cannot read property 'length' of unde

[2017-01-10 06:11] virusakos commented on #341
Hi @Shijir, thank you!
The documentation in "Step 2c: Install Clarity Angular" has `ClarityModule.forChild()` in the imports field.
I copy pasted the code and didn't pay attention. My bad.
I changed it to `ClarityModule.forRoot()` and the error is now gone.

[2017-01-10 11:35] youdz commented on #342
Angular 2.4.1 and Clarity 0.8.0 are incompatible due to a breaking change introduced in Angular. Please either upgrade to Clarity 0.8.1 or change to a different Angular version (either 2.4.0 or 2.4.2).

See #282, #320 and https://github.com/angular/angular/issues/13641 for more information.

For next time, please take the time to at least look at your browser console, you would have seen a big red

[2017-01-10 11:35] #342 closed

[2017-01-10 12:22] youdz commented on #343
Please provide more information, we have no idea what `users` is in your case.
We have an issue template for this reason, so that you can give a detailed explanation of what's happening and a link to a plunker reproducing the issue.

That said, please see my answer to your issue #342: Angular 2.4.1 and Clarity 0.8.0 are incompatible. You can change either of them to a different version, be it futu

[2017-01-10 12:22] #343 closed

[2017-01-10 12:36] bsduncan opened #344 "Optional description for radio buttons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When creating a radio button group I want to allow for an optional multi-line description for each of the radio labels.  One possible implementation would put the description below the label.  This provides more information than can be conveyed by a label alone.

### Actual behavior
Enhancement request

### Reproduction of beha

[2017-01-10 15:58] jaffoneh commented on #341
Closing based on the last comment.

[2017-01-10 15:58] #341 closed

[2017-01-10 16:17] elesueur opened #347 "overflow trigger icon is not right aligned when no header-actions div exists"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When in sub 768px mode, the responsive navigation level 2 trigger button should be right aligned.

### Actual behavior
The overflow trigger icon hugs the app title

### Reproduction of behavior
Repro is trivial, just remove the header-actions div from the DOM

### Environment details

* **Angular version:** 2.0.X
2.4.1

* **Cla

[2017-01-10 16:20] adityarb88 commented on #344
Hi @bsduncan: If I understand your question correctly, you should be able to do this by just adding a `div` after the `label` in the `.radio` button. I created a plunk to demo it: https://plnkr.co/edit/3uBN8gRUoeVQcaAnfbLA?p=preview

![image](https://cloud.githubusercontent.com/assets/1426805/21814248/8c05c266-d70d-11e6-97c0-db3bbb3e94fb.png)

I am closing this issue for now but please feel free t

[2017-01-10 16:20] #344 closed

[2017-01-10 16:21] adityarb88 commented on #347
Thanks for reporting this @elesueur. I will investigate and try to get this fixed soon.

[2017-01-10 19:59] adityarb88 commented on #37
Hi @MRHarrison. Thanks for your feedback again. The discussion last week with you was very useful. We are thinking of taking a look at Tether (http://tether.io/) or other similar libraries to help us solve the issues that we discussed last week. Once we finalize on details around this, we plan on implementing this change and releasing them as part of v0.9.0 (Please note that there is no firm date

[2017-01-10 20:02] #322 closed

[2017-01-10 23:15] chunghha opened #350 "Need to set "width:100%" to input in login-group class."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
To get proper tooltip position, should not need to set my own style to the username and password inputs with tooltip-validation class. ( **with style="width:100%;"** )
![image](https://cloud.githubusercontent.com/assets/24458075/21828421/fd814148-d755-11e6-9a44-d1f62ca4ae58.png)

### Actual behavior
Need to set "width:100%" to

[2017-01-10 23:19] adityarb88 commented on #350
Thanks for reporting this @chunghha. I will investigate and get this fixed soon.

[2017-01-10 23:25] adityarb88 commented on #350
@chunghha: Actually using validation on individual input fields is something that we dont recommend. If you read our design and guidelines section on the login page documentation you will see that we mention that there:

![image](https://cloud.githubusercontent.com/assets/1426805/21829042/c7e264c0-d748-11e6-8fa5-9f51a36fbfe0.png)

We do provide a section for validation in the login form and I reco

[2017-01-11 00:23] caveman43 opened #351 "Inline data-grid editor"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Data grids should be able to perform basic actions on row/column values such as add a row, inline-edit a row, delete a row, import/export data.

Also, on top of that if data schema is complex, then data-grid should be comprehensive enough to tackle that while editing inline. Consider data-grids of extjs, in which grid-cells co

[2017-01-11 00:45] jaffoneh commented on #331
@mvsrao I am assuming what you're asking for is a collapsable side navigation pattern?

I am closing this request since it does not include the issue template we recommend using. Without it, it is unclear if you're reporting an issue, asking for a feature request, or an enhancement. Also, without it and without more details, it is unclear what you're asking for.

Please do reopen another issue usi

[2017-01-11 00:45] #331 closed

[2017-01-11 01:19] yanyixing commented on #342
please update the clarity-seed 's package.json file

[2017-01-11 03:44] chunghha commented on #350
@adityarb88, I did read the design doc before opening this issue and like to ask re-opening because of two reasons below.

1. visual discrepancy: please look and compare field size of username in the 2nd screenshot above with other input fields on the login page. Whether adding **tooltip** to an input field shouldn't be a matter to field size, in my opinion. And, since username has its own style c

[2017-01-11 07:26] yanyixing opened #352 "how to configure the default sorting of datagrid"
**Select one ...**  (check one with "x")
[code]

In the document https://vmware.github.io/clarity/documentation/datagrid, I can't found how to configure the default sorting of datagrid.
Can datagrid setting the default sorting column?

[2017-01-11 13:11] manuelarte opened #353 "Feature request timeline"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

To have a nice timeline feature, that can be inserted in a card, for example. Something like google chart has. Or like what we can see in PrimeNg Ultima template http://www.primefaces.org/ultima-ng/
### Actual behavior

### Reproduction of behavior

### Environment details

* **Angular version:** 2.0.X

* **Clarity version:**

[2017-01-11 16:04] mathisscott commented on #298
I'm moving this to 0.8.3. I initially thought that the close "X" was just in a couple of places. But it's not. It's in four components (possibly more) and many, many demos on the demo-app and website. So the scope of work is about two or three times what I thought it was to begin with.

Given that today has started filling up with meetings, there's no way I'll have this done today.

[2017-01-11 16:20] #252 closed

[2017-01-11 16:25] jaffoneh commented on #112
@ArgTang: I am assuming we're talking about a slider component similar and behaves the same way to: https://jqueryui.com/slider/ or any other slider and that the focus of its use will be on touch screens, right?

[2017-01-11 16:33] hippee-lee opened #355 "Add 2-way binding to the clr-dg-column Component for Filters and Sorting"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

1. Add the ability to detect if a column is currently sorted -or- specify an initial sort state for the clr-dg-column Component.
2. Add the ability to detect when a column is currently filtered -or- specify an initial filter state for the clr-dg-column Component.

### Actual behavior
Users can set an initial State for clr-dg-c

[2017-01-11 16:40] MRHarrison commented on #37
That should work, thanks for the quick reply!

[2017-01-11 16:42] ArgTang commented on #112
Yes, this is also a similar example http://seiyria.com/bootstrap-slider/
Thanks!

[2017-01-11 17:10] #350 closed

[2017-01-11 19:32] Shijir commented on #312
completed in https://github.com/vmware/clarity/pull/336

[2017-01-11 19:32] #312 closed

[2017-01-11 19:59] #278 closed

[2017-01-12 00:54] #111 closed

[2017-01-12 07:27] Igor9669 opened #359 "Put placeholder above input field when you start typing in it."
[ ] bug
[x] feature request
[ ] enhancement
[code]

[2017-01-12 09:33] ssanghavi opened #360 "Pagination links state is confusing"
[code]

### Expected behavior
Once user clicks page# 2 on data-grid pagination footer, only page# 2 link should appear as selected.

### Actual behavior
Page# 2 link has a border at bottom to make it look like selected. But at the same time Page# 3 link is showing outline which appears as currently active page.
Please see attached screenshot to understand it better.

### Reproduction of behavior
D

[2017-01-12 09:34] ssanghavi commented on #360
![screen shot 2017-01-12 at 2 53 25 pm](https://cloud.githubusercontent.com/assets/5438020/21884206/5de0c94a-d8d8-11e6-8a86-51a9143b9a36.png)

[2017-01-12 13:00] zivanov123 commented on #17
1. This does not seem as single object selection. It would be better if we have selection not based on checkboxes, but on row click.
2. Is the three dots button intended to replace the right click of an item ?

3. Also it will be of great use to have support for CTRL + click, SHIFT + click, CTRL/SHIFT + KEY UP/DOWN for multiple selection.

[2017-01-12 13:20] zivanov123 opened #361 "DataGrid layout is akward"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
DataGrid cannot be easily used and layed out as its height depends on the number of rows which were specified.
Much better would be if it scales the content in order to fit in its parent.
The number of rows can be used, however if there is not enough space to display them - a scroller to be added.

### Actual behavior
Currently

[2017-01-12 13:31] #298 closed

[2017-01-12 13:34] mathisscott commented on #360
The blue outline is the browser highlighting the "3" because it has focus. Did you hit tab when page 2 loaded or does it just load in like that?

[2017-01-12 15:14] youdz commented on #352
Currently, this is a feature we're missing. We've had several requests for it, it's currently tracked in #355. Feel free to comment over there if you want to provide additional requests or information.

[2017-01-12 15:14] #352 closed

[2017-01-12 15:19] youdz commented on #360
I think this happens without hitting tab. Because of the structure of our pagination template, I believe the "clicked" link becomes the next page naturally, without being destroyed, so the browser keeps focus on it even though angular modifies its content.

Pretty interesting, not sure if the best fix is to move to `*ngFor` to better track pagination links, or to start hacking with native elements

[2017-01-12 16:05] jaffoneh commented on #17
@zivanov123 thanks for your feedback. Some comments below:

Having selection on row click wouldn't be a solution in the case you have click targets within that row (imagine you have input fields, flat buttons, or any other click targets). When a user clicks are they clicking on the row or that other click target?

It is intended to provide the ability to add actions to a row.

Keyboard support is

[2017-01-12 16:09] zivanov123 commented on #17
@jaffoneh

In such cases these clickable targets will be with higher priority. Does not seem as an issue which has no solution.

Thanks!

[2017-01-12 16:14] jaffoneh commented on #17
@zivanov123 the challenge is not only technical it is also a user experience challenge that we need to be careful about. We don't want to have click targets with different priorities on the same area for the user to figure out what to click, where, and when to get what they need. Hope that makes sense.

[2017-01-12 17:21] jaffoneh commented on #359
@Igor9669 that's a pretty good suggestion. We'll have to look at what that means in the context of the way forms are currently organized as well as when it relates to things like accessibility and the relationship of forms to other components to make good recommendations of when to use such a pattern if implemented. Adding @yenmade to make sure we take a look.

[2017-01-12 18:30] sbacem opened #363 "Toast in clarity ?"
there is toast in clarity ?

[2017-01-12 18:31] jaffoneh commented on #363
@sbacem could you provide more information and follow the Clarity template when filing an issue? There is no enough info there for us to provide an answer. Please either reopen this issue or file another issue with enough details using the Clarity template.

[2017-01-12 18:31] #363 closed

[2017-01-12 18:59] chunghha commented on #350
@adityarb88, works like a charm with v0.8.2! Thanks.

[2017-01-12 19:22] reddolan commented on #325
Template updated
[Clarity-UI-Template-0.8.2.sketch.zip](https://github.com/vmware/clarity/files/702645/Clarity-UI-Template-0.8.2.sketch.zip)

[2017-01-12 20:24] chunghha opened #364 "option for clr-wizard to know which button is clicked on clr-wizard-step"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I like to have an option for clr-wizard to know which button is clicked on clr-wizard-step so I can use it to differentiate logic on my clrWizardPageOnCommit function.

### Actual behavior
I can't find a way to distinguish which button is clicked on clr-wizard-step. Please see the demo in the plnkr below. If there is one alread

[2017-01-12 20:45] chunghha commented on #364
Probably what I would like to have is clrWizardPage**OnCancel** option which is not there yet.

[2017-01-12 21:05] yenmade commented on #217
@whizkidwwe1217 Some elements that could appear in the footer are pagination, and in the case of no pagination, the total item count. This can be useful so the user knows at a glance the # of items displayed and even 0 items in empty states. The footer also helps to visually contain information. Like in the case of scrolling within the datagrid, having a footer helps as a guide to where the scroll

[2017-01-12 22:11] jeeyun commented on #364
Hi @chunghha, this is our bad. We actually merged in a PR last month that added this option (https://github.com/vmware/clarity/pull/183). The option is called just what you suggested: `clrWizardOnCancel`. So if your clarity-angular version is 0.7.4 or later, it should have it so give it a try.

Our documentation is outdated and we need to update it. I'll tag this issue appropriately so that either

[2017-01-12 23:17] chunghha commented on #364
@jeeyun thanks for letting me know the option.

updated plnkr:
https://plnkr.co/edit/pEcTShQmRykVaIhbmmcn?p=preview

onCancel() works fine on all three steps. But, onCommit() does not with the cancel option. Event emitted twice, one from onCommit() and another from onCancel(). Latter event shouldn't be emitted. Please try the plnkr in this comment, you will see alert twice when you click FINISH bu

[2017-01-13 00:12] jeeyun commented on #364
Yes you are right. Thanks for updating the plnkr. It seems that we are treating close/cancel as synonymous in some of our code when we should distinguish between them. I'll float it up to the team and see when we can address this.

[2017-01-13 06:40] jaffoneh commented on #325
Assigning to @hippee-lee to add to the website as part of the release next week.

[2017-01-13 11:16] mrmokwa opened #365 "Toasts/Notifications Feature Request"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Add a new component for displaying floating messages.
This can be seen in primeng at http://www.primefaces.org/primeng/#/growl

[2017-01-13 17:17] jaffoneh commented on #365
@MRMokwa thanks for the feature request! Would you say this replace the notification functionality for you or would you still expect a notifications components? I am trying to figure out the use cases you would use each for so it would be great if you can share some!

[2017-01-13 17:36] MRMokwa commented on #365
Notification functionality you mean the use of alert component? I'd say so, but with this different layout approach.
For example, I'd like to send a message to the user after add/modify a record:
[code]
Hope I made myself clear.

[2017-01-13 17:38] jaffoneh commented on #365
@MRMokwa thanks for the quick reply. One of the things on our [roadmap](https://github.com/vmware/clarity/projects/1) (still not implemented) is a notifications components and I was wondering if that's how you would use this component as well.

The use case you describe seems to fall under that as well so this makes sense. Thanks for providing more info!

[2017-01-13 21:34] juanargote opened #366 "Including clarity-icons in an Angular2 app compiled with webpack."
**Select one ...**  (check one with "x")
[code]

### Expected behavior

I am trying to follow [Angular2's webpack configuration guidelines](https://angular.io/docs/ts/latest/guide/webpack.html). Based on those, I expect that importing clarity-icons.min.js in a vendor.ts file that I include as an entry in my webpack configuration file should also allow me to use clarity-icons throughout my web app

[2017-01-13 22:05] nghiado opened #367 "Unable to concat clarity-ui.min.css with other css files using gulp-concat-css"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Should be able to concat clarity-ui.min.css with other css files to create a single css using gulp-contact-css
### Actual behavior
When I run gulp-concat-css, it throws error when concating clarity-ui.min.css with the error property missing ':'.
I think it has something todo with the encoded svg icons in /clarity-angular/images

[2017-01-13 22:34] Shijir commented on #366
Hi @juanargote, could you try removing `../node_modules/` to load your modules? I believe webpack already resolves these paths for you. So your `vendor.ts` would look like this:

[code]

Also, it's ideal to have `custom-elements.min.js` and `mutationobserver.min.js"` in your `polyfills.ts` as they are polyfill modules.

[2017-01-13 23:52] Shijir commented on #367
Hi @nghiado, I was able to reproduce the same error thanks to your provided gulp task code. Using `gulp-concat-css` plugin was logging that error. However, I was able to successfully concatenate the css files using `gulp-concat` plugin. Also, one of my teammates suggested that the error was with the `gulp-concat-css` plugin itself originally.

Related to https://github.com/mariocasciaro/gulp-conca

[2017-01-15 15:28] paavels opened #370 "clr-stack-block"
**Select one ...**  (check one with "x")
[code]

It would be very good if StackView's would be able to handle tree view like structure. Currently when there is some kind of tag (ie your custom recursive directive) inside clr-stack-block, design for StackView breaks.

### Environment details

* **Angular version:** 2

* **Clarity version:** 0.8.0

[2017-01-15 16:13] integratedinfosys opened #371 "Datagrid Selection not working"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior

Datagrid Selection not working
### Reproduction of behavior

Including zip file of the project without npm modules.
### Environment details

* **Angular version:** 2.0.X
2.4.0
* **Clarity version:**
0.8.0
[data-grid.zip](https://github.com/vmware/clarity/files/706708/data-grid.zip)

* **OS and version:**

[2017-01-15 19:29] jaffoneh commented on #371
@integratedinfosys is this basically a duplicate of #17? Also, could you include a plnkr instead of the zipped file so Clarity team members are able to help? Thanks.

[2017-01-15 19:29] jaffoneh commented on #370
@paavels do you mean you would want to nest stackblocks beyond the immediate parent-child relationship? Wouldn't a tree be better for that structure?

Could you describe a bit more about the use case you're trying to achieve here?

[2017-01-15 22:54] integratedinfosys commented on #371
No its not a duplicate. Select in Datagrid is not working at all. I might be missing something in the code. It is a short code, please look into this.
Somehow, I couldn't manage to run the code in plnkr, may be some issue with Angular Version, as I have to use Angular 2.4.0 to have Datagrid working.

[2017-01-15 22:59] jaffoneh commented on #371
@integratedinfosys the latest 0.8.x plnkr should work. When we talk about select, are you taking about multi-select (what's available in the documentation today)?.

Running local applications from different issues outside of the plnkr is pretty time consuming for the team so we prefer plnkers if possible. If you're seeing a specific bug or issue, reporting that and the stacktrace should help as we

[2017-01-15 22:59] integratedinfosys commented on #371
https://plnkr.co/edit/V6touMW8PC3NTIDT0muX?p=preview

[2017-01-15 23:09] jaffoneh commented on #371
@integratedinfosys All I see in the plnkr is a datagrid with 5 rows. Could you provide more details so we're able to figure out if there is an issue here or if we can help you. Are you looking for single row selection in a datagrid? What have you attempted, what are you looking to do, and what is not working? Please be more detailed with this issue.

[2017-01-15 23:13] integratedinfosys commented on #371
I am not looking for single row selection. I might be missing something. I am not getting check boxes for the row selection at all.

[2017-01-16 12:39] paavels commented on #370
Yes, I do want to nest stackblocks in tree structure. As far as I tested - Stackview allows to display more than 1 level. However connecting that to Angular is difficult. What I tried is creating recursive component. When you are using tag based component, your design breaks, because Angular is creating tag for that component. The outcome is something like

[code]

If there would be a CSS class in

[2017-01-16 15:27] chunghha commented on #371
@integratedinfosys I think you missed two things.

1. selected: string[] = []; in your home component TS.
2. [(clrDgSelected)]="item.selected" in your home component html.

Please see this updated plnkr.
https://plnkr.co/edit/IHfrjo9B5JUWP8uSyFIG?p=preview

[2017-01-16 15:29] juanargote commented on #366
Hi @Shijir, you are totally right. After removing the `../node_modules/` prefix from my paths the import worked just fine. I had previously opened [a question on Stackoverflow](http://stackoverflow.com/questions/41292255/how-to-enable-clarity-icons-in-an-angular2-app-through-a-webpack-entry) about this issue. Feel free to answer there if you want. Otherwise I can answer it myself and point to this

[2017-01-16 16:26] juanargote commented on #366
Hi again @Shijir, I just noticed that even though the webpack compilation now works fine, some icons that are enclosed in buttons are now 36px large by default, their orientation is not modified by adding `[up, down, right, left]` to the shape or an explicit `dir` attribute, and they do not respond to changes in their `size` attribute. See the image and its corresponding code snippet below:

![ima

[2017-01-16 16:36] nghiado commented on #367
@Shijir Thanks for your suggestion. I had to  switch to gulp-concat to work around this issue.
Just a thought while debugging this issue and looking at https://github.com/vmware/clarity/blob/master/src/clarity-angular/images/_icons.clarity.scss
I think it's not a scalable solution when we have to put all encoded svg manually like that.
Can we checkin original svg files and use some gulp plugins to

[2017-01-16 17:19] Shijir commented on #366
Hi @juanargote, can I see how you are loading `clarity-icons.min.css`?

[2017-01-16 17:25] integratedinfosys commented on #371
Thank you. selected: string[] = [] solves the problem.
Looks like [(clrDgSelected)]="item.selected" is not needed. Please see
https://plnkr.co/edit/IHfrjo9B5JUWP8uSyFIG?p=preview
Can you please clarify this.

[2017-01-16 17:27] integratedinfosys commented on #371
I think having complete code in the documentation may be a good idea.

[2017-01-16 18:14] juanargote commented on #366
Sure, I am loading it at the bottom of my `vendor.ts` file. It currently looks like this:

[code]

[2017-01-16 22:25] chunghha commented on #371
@integratedinfosys you don't need to have **clrDgSelected** on row unless you want to select items from your code.

[2017-01-16 22:35] integratedinfosys commented on #371
Thank you!!

[2017-01-16 22:35] #371 closed

[2017-01-16 23:02] Shijir commented on #366
@juanargote you might want to place those `sass` or `css` above `js` libraries as they are dependent on style files. I would try the following:

[code]

[2017-01-17 03:15] juanargote commented on #366
@Shijir that did not seem to work but I also realized that I was simply missing the `clarity-icons.min.css` file. For reference, this is the final look of the `vendor.ts` file:

[code]

Thank you very much for your help.

[2017-01-17 03:15] #366 closed

[2017-01-17 07:29] yanyixing opened #372 "chart element"
https://www.starwindsoftware.com/blog/vmware-clarity-why-should-you-care
In this blog, I found the chart element. Does clarity contains those elements? where can I found ?