[2019-08-16 17:32] #3502 closed

[2019-08-16 18:48] LeandroDoldan commented on #2268
Same here.

[2019-08-16 22:24] kbuffington opened #3708 "Datepicker does not honor readonly/disabled options"
## Describe the bug

When I add `readonly` or `disabled` to a clrDate input, the text input itself honors those settings, but the calendar button is still clickable and selecting a date in it will change the value of the input.

## How to reproduce

Click on the calendar of a disabled or readonly clrDate input.

https://stackblitz.com/edit/clarity-light-theme-v2-ikxvod

## Expected behavior

Calen

[2019-08-18 17:51] mcosta74 opened #3709 "commit message guidelines are no longer valid"
## Describe the bug

The PR #3681 introduced the `conventional-changelog` package to automatically generate the CHANGELOG.md file.

To make it working properly the commit message should follow the angular guidelines.

Would be nice to update the `DEVELOPMENT_CONTRIBUTION.md`

[2019-08-18 21:27] Tatenda opened #3710 "ReferenceError: HTMLInputElement is not defined"
## Describe the bug

I installed Clarity in my project that has angular universal implemented. I succefully managed to build:ssr app but the problem is that when I try to serve the angular universal app i get the error ReferenceError: HTMLInputElement is not defined .

## How to reproduce

Build and serve an angular universal app with clarity installed.

Steps to reproduce the behavior:

1.  Insta

[2019-08-19 07:17] vitthalmahale opened #3711 "External datagrid filter/ search option should be available on top of table rather than header column with full example"
## Summary

_Summary the request and address the questions as appropriate._

* What is the change?
* Why should it go in Clarity?
* Does this change impact existing behaviors? If so how?
* If this change introduces a new behavior, is this behavior accessible?

## Use case

_Provide some specific details about how this change would improve your application and use case._

## Examples

_Are there an

[2019-08-19 13:48] gnomeontherun commented on #3711
We have a design spec for this functionality but it has not been implemented. You can look at the spec and build something for yourself if you need as a workaround until we implement it.

Follow #1632 for updates.

Also, we require information about your use case and what exactly you are requesting so we can better understand your request for future tickets.

[2019-08-19 13:48] #3711 closed

[2019-08-19 13:50] gnomeontherun commented on #3710
We'll need a reproduction of this to be able to triage, I can't be sure this is Clarity or what is happening without that. Is there something you can provide like a GitHub project?

[2019-08-19 14:05] gnomeontherun commented on #3709
This will be resolved by the open PR https://github.com/vmware/clarity/pull/3705

[2019-08-19 17:36] gnomeontherun commented on #2268
This would be a great contribution. We changed the pagination design already so that work has been done. I would expect a similar pattern, but we need to do some diligence to understand it holistically.

If anyone is up for it, the basic steps are:

1. Research other pagination components and compare
2. Write up a more formal and complete design spec for us to review, think MVP and then identify e

[2019-08-19 18:58] #3685 closed

[2019-08-20 09:22] pumano opened #3713 "clr-toggle-wrapper should be clr-toggle-container according to other form item containers"
## Describe the bug

All form items aka input / textarea / select etc have their own clr-[element-name]-container but for toggle, naming is `wrapper` not a container.

## Expected behavior

Looks like `clr-toggle-wrapper` should be `clr-toggle-container` according other form items naming.

## Versions

**App**

* Angular: *8.3*
* Node: *12.6.0*
* Clarity: *2.1.1*

[2019-08-20 09:33] pumano commented on #3713
Oops looks like clr-toggle-container and clr-toggle-wrapper exists for different purposes. So I close issue

[2019-08-20 09:33] #3713 closed

[2019-08-20 12:24] vitthalmahale commented on #3711
I want a Datagrid example like which will search matching inputs all over table row with an external search option without header input field. with full example implemented as like plunker or something similar

[2019-08-20 14:42] gnomeontherun commented on #3711
That is not something built into the datagrid now, so you're in charge of handling the searching/filtering at that stage like a server-driven datagrid would do.

[2019-08-20 22:43] jeeyun commented on #3610
Hi @jkjha, `[disabled]` attribute not working in 1.1.5 is definitely a regression and is fixed in 1.2.0. However, we will be deprecating the `[disabled]` attribute in the near future. This is because there's accessibility requirement to make disabled items focusable in an aria menu (you can read more about it in our doc under the Accessibility heading here: https://clarity.design/documentation/dro

[2019-08-21 01:07] nagarsuresh opened #3721 "Tooltip contents not visible in Dark theme (V2.1.1)"
## In the dark theme tooltip contents are not visible as both background and text color is white.

## How to reproduce
Please check stackblitz example below.  Tooltip contents are not visible in div tooltip or angular component.

https://stackblitz.com/edit/clarity-angular8-dark-theme-tooltip

Steps to reproduce the behavior:

check stackblitz example above.

## Expected behavior

Tooltip content

[2019-08-21 07:23] bdryanovski opened #3722 "feat(dropdown): add translatable aria-labels to clrDropdownTrigger"
## Summary

Implement translatable aria-labels to dropdowns.

* What is the change?

Add translatable aria-labels to clrDropdownTrigger button and change it based on the dropdown current state (open or close).

* Why should it go in Clarity?
Right now all dropdown doesn't have aria-label that is working out of the box and developer have to do it manually. Also, have to track the state of the dropd

[2019-08-21 08:41] baio opened #3723 "ClrConditionalModule missed import from @clr/angular"
## Describe the bug

ClrConditionalModule missed import from @clr/angular

## How to reproduce

Try to include into project
`import { ClrConditionalModule } from '@clr/angular';`

Steps to reproduce the behavior:

add `import { ClrConditionalModule } from '@clr/angular';`
into project

compile project got error
`"export 'ClrConditionalModule' was not found in '@clr/angular'`

## Expected behavior

[2019-08-21 10:16] florin-borceanu commented on #3708
I investigated this issue and I found out that if you add the "clr-date-container" tags before and after the input tag, the disable behavior works just fine.
Although, the read-only behavior needs more investigations and some logic to be written.
Can I start to update the documentation accordingly?
If so, can you assign the issue to me?
Thanks!

[2019-08-21 11:19] #3514 closed

[2019-08-21 11:20] #3515 closed

[2019-08-21 11:20] #1924 closed

[2019-08-21 11:50] florin-borceanu commented on #3721
I investigated this issue and I found a fix for it.
Can I start working on it?
If so, can you assign the issue to me?
Thanks!

[2019-08-21 12:17] mathisscott commented on #3721
Sure! Thanks, @florin-borceanu

[2019-08-21 12:20] mathisscott commented on #3708
Sounds great. Thanks again, @florin-borceanu !

[2019-08-21 13:06] AlexMarcuBytex commented on #3622
While i was investigating this issue, i found that this bug reproduces just on nested dropdowns. If we re looking for a quick fix, we can replace that nested dropdown with a normal one, considering that isn't needed a nested one in that specific demo. I think this bug occurs because of the "clrIfOpen" directive. If i dont use it, the bug doesnt reproduce either the dropdown is nested or not.
Shoul

[2019-08-21 14:24] mathisscott commented on #2245
@colinreedmiller
When you get the chance, could you post a link to your design here so I can work off it? This is a 20% time project for me over the next couple of months.

[2019-08-21 14:32] gnomeontherun commented on #3708
The `readonly` functionality would require you to create a new input on the date-input to capture that setting and inform the parent controls that we're in a readonly mode. I don't believe we have special styles, we would just treat it like it was disabled by applying the correct disabled class and disabling the dropdown button.

[2019-08-21 14:33] gnomeontherun commented on #3723
This is an internal module that we don't export or document, do you have a use case for why you want this?

[2019-08-21 19:29] baio commented on #3723
When importing ClrDatagridModule (not ClarityModule) expand row not working.
Please, see repro here https://stackblitz.com/edit/clr-list-expand-row-repro.

[2019-08-21 19:42] Shijir commented on #3723
This looks like a bug. We need to export the conditional modules from the datagrid module in order to enable users to use them if they are using `ClrDatagridModule`  alone without `ClarityModule `.

[2019-08-21 20:26] Shijir commented on #3723
@baio why do you need to import individual component modules? The unused modules from ClarityModule would be tree-shaken once you build your application. So you should only use ClarityModule.

[2019-08-21 21:04] gnomeontherun commented on #3509
@Jinnie this is done then right?

[2019-08-21 22:18] Coada opened #3726 "Hashtag"
* What is the icon?

The icon is a pound sign (#).

* What does the requested icon signify?

It is typically used on social media placed in front of a word to represent the word as a tag. Instagram uses an icon for this in a submenu to allow users to see hashtags. Slack/Rocket.Chat uses this icon in the nav to represent a channel.

* In which product(s) will this icon be used?

Chat applications,

[2019-08-21 22:51] Coada opened #3727 "Crown"
* What is the icon?

A crown (👑)

* What does the requested icon signify?

Typically placed after/before an entity to denote it as distinguished/leader. Should not be confused with the _administrator_ icon.

* In which product(s) will this icon be used?

Game Lobbies, chats, cluster overviews (a cluster typically consists of a lead entity, followed by multiple backups)

## Examples

![image](https

[2019-08-22 10:56] AlexMarcuBytex commented on #3173
Can you assign this to me? I m working on a fix.

[2019-08-22 10:56] AlexMarcuBytex commented on #3173
Can you assign this to me? I m working on a fix.

[2019-08-22 11:23] baio commented on #3723
Hi @Shijir it is mostly hygienic question
1. It will bee tree shaken only in prod mode and supposedly with `build-optimizer=true` flag on (and theoretically wholesale import will takes more time to build)
2. I think it's a best practice import only what you need
3.  It is more clear from dev point of view when you see which functionality module used from another modules
4. Anyway why then clarity

[2019-08-22 13:19] davidrourke commented on #3642
I see that this has been fixed in v2.2.1.  Do you plan on patching in v1.2.x?

Regards,
David

[2019-08-22 13:26] florin-borceanu commented on #3704
I investigated this issue and I found a fix for it.
Can I start working on it?
If so, can you assign the issue to me?
Thanks!

[2019-08-22 13:33] danail-vasilev opened #3729 "Dropdownmenu item autofocus breaks filtering logic"
Hello,
I have a some sort of cross column filter implementation (https://github.com/vmware/clarity/issues/1632) that stopped working properly after upgrading from Clarity 2.0.2 to Clarity 2.1.1 because of the introduced dropdown menu item autofocus.

The filtering component has an input that triggers dropdownmenu open. When you write in the input, items in the dropdownmenu are filtered down. Havin

[2019-08-22 13:49] coryrylan commented on #3642
Yes this should be backported to 1.x. It missed the last release cycle so it should be backported soon.

[2019-08-22 13:55] gnomeontherun commented on #3729
Hi @danail-vasilev, thanks for the report.

What you've got here is an approximation of a combobox, which is a work in progress in Clarity and should be the component to use when its ready. Mixing a dropdown and input is not a use case we support, so unfortunately this is a tricky scenario. Until Combobox is available, I would suggest using the non-Angular version of dropdown since it doesn't mana

[2019-08-22 13:55] #3729 closed

[2019-08-22 14:46] gnomeontherun commented on #3723
Hi @baio, Angular only does tree shaking in prod mode, that is correct. Clarity is meant to be a whole design system, not just a set of components that you consume individually. Across a large project (even if you break it into feature modules), the vast majority of Clarity is likely to be used. Angular will drop out any modules that aren't used (so if you don't use anything from Datagrid, the who

[2019-08-22 15:05] mathisscott commented on #3704
Sounds good, @florin-borceanu. Thanks!

[2019-08-22 15:07] mathisscott commented on #3173
@gnomeontherun
Thoughts on assigning this to @AlexMarcuBytex ?

[2019-08-22 16:11] Shijir commented on #3173
We are integrating `clrFocusOnViewInit` in vertical navigation for the same kind of purpose. https://github.com/vmware/clarity/pull/3725

The fix to this issue could be simply placing the directive on every page title.

[2019-08-22 18:20] baio commented on #3723
Hey @gnomeontherun thanks for detailed response. Just to clarify a little bit more this is [where](https://github.com/scalio/ng-holistic/blob/c63e9ff47941701d07b3cedb905d4db4ef1b3870/libs/clr-list/src/lib/table/table.module.ts#L16) it just doesn't feel right (module in library which uses clarity grid)

[2019-08-22 23:43] spitfjre commented on #3486
I can confirm this problem in all versions since 2.0.0, that only the first custom filter appears in the `state.filters` object. For all others `state.filters` is `undefined`.

[2019-08-22 23:46] #3199 closed

[2019-08-23 07:18] AlexMarcuBytex commented on #3173
@Shijir cool then. so, will you fix this issue after integration?

[2019-08-23 08:06] dexfab commented on #1183
Any updates on this bug?

[2019-08-23 08:19] wendellestradairely opened #3730 "Incorrect latest version published to npm"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._
Running `npm install --save @clr/angular@latest @clr/icons@latest @clr/ui@latest` installs the version 1.2.2 when it's supposed to install 2.1.2
## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://stackblitz.com/@cl

[2019-08-23 11:33] #3149 closed

[2019-08-23 12:36] Jinnie commented on #3684
Why do you keep the `class="content-container"` on your inner test divs? If you use unclassed divs all works as you expext. Any div with `flex` layout will break your default layout. If you **do** need your containers to be `flexbox`, then you may need to manually manage widths to 100% of container for the datagrid and the containers themselves.

[2019-08-23 12:36] #3684 closed

[2019-08-23 13:03] whizkidwwe1217 opened #3735 "The datagrid component's loading state background color became dark in light theme"
## Describe the bug

Before the 2.1.2 update, the background color of the loading state of the datagrid component blends in perfectly with the light theme.
![image](https://user-images.githubusercontent.com/1977391/63594039-f6c91000-c5e7-11e9-856b-6db61e51d311.png)

In the 2.1.2 update, the background turned into a dark color. The new color doesn't play nice with the light theme as if there's a hu

[2019-08-23 13:22] mathisscott commented on #3735
Thanks for reporting this, @whizkidwwe1217

It's a regression from our change to hsl() values. One of them was lost in translation.

As a workaround, you could add...

[2019-08-23 13:24] Jinnie commented on #3509
Yes, it's handled by the current implementation.

[2019-08-23 13:24] #3509 closed

[2019-08-23 14:55] hippee-lee commented on #1183
We need to check the popover refactor that is about to get merged into master and investigate/triage this again.

[2019-08-23 15:04] hippee-lee commented on #3730
Thanks for reporting this. Sorry for the inconvenience.
I have updated the `dist-tags` on npm to reflect 2.1.2 as the lastest version.

[2019-08-23 15:04] #3730 closed

[2019-08-23 15:06] #3735 closed

[2019-08-23 15:06] Jinnie opened #3737 "[WEB] Custom filters example incorrect and ambiguous"
## Describe the bug

An example on the custom filters website page incorrectly adds clrDgItem property to a clr-dg-cell, while it should be using clr-dg-column instead.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity.design/documentation/datagrid/custom-filtering
2.  Scroll down to the example which description starts with `By default, filtering searches the origi

[2019-08-23 16:33] corganfuzz opened #3739 "Upgraded from Angular cli 8.1.2 to 8.3.0 gave a Duplicate Identifier error"
## Describe the bug

I had my brand new project on Angular CLI 8.1.2, did an ng update to latest 8.3.0 and I've got the following errors:

[code]

## How to reproduce

Steps to reproduce the behavior:

1.  Create a new project with angular cli 8.1.2
2.  Do `ng add @clr/angular` (no errors at this point)
3.  Install latest version of the angular CLI , with npm on your local machine
4.  Perform an n

[2019-08-23 17:09] gnomeontherun commented on #3739
Angular 8.3.0 isn't available yet, can you confirm your versions `ng version` and `npm ls @clr/angular`?

[2019-08-23 17:11] jeeyun commented on #3673
Hi @twittwer,
We've made some changes recently to comply with the ARIA spec for menu, which means a prescribed focus management for the whole dropdown: https://www.w3.org/TR/wai-aria-practices/#menubutton

Unfortunately this means what you are trying to do is not supported. Sounds like the use case is better suited for combobox which is in active development but unfortunately not yet available. Me

[2019-08-23 17:11] #3673 closed

[2019-08-23 17:45] corganfuzz commented on #3739
It got released 1 day ago.

https://github.com/angular/angular-cli/releases

[2019-08-23 17:56] Shijir opened #3740 "The tooltip text is not visible in Dark theme"
## Describe the bug

The tooltip text is not visible in Dark theme. Needs to have dark visible text.

## How to reproduce

https://stackblitz.com/edit/clarity-dark-theme-v2-ysdyky

## Expected behavior

Visible tooltip text

## Versions

**App**

* Angular: 8.0.0^
* Clarity: 2.1.2

[2019-08-23 18:06] jeff-bacon commented on #2203
Are there any plans to remove this from the official documentation since it's not implemented yet?  A little text giving a warning to readers would even suffice.  Unfortunately I spent time refactoring some of my code base to implement this feature but when the time came, found out that it was not even a feature in Clarity although it has a fairly large section under the wizard documentation.

[2019-08-23 18:30] mathisscott commented on #3740
This is a regression caused by a deprecation that was incorrectly applied.

[2019-08-23 18:30] mathisscott commented on #3740
I should have a fix for PR shortly.

[2019-08-23 18:59] corganfuzz commented on #3739
versions

[code]
[code]

[2019-08-23 19:00] hippee-lee commented on #3739
In order to replicate this issue should I use angular cli v 8.3.0 or 8.1.2 to create the new project?

[2019-08-23 19:01] corganfuzz commented on #3739
@gnomeontherun forgot to mention. If I create a brand new project with 8.3.0 and do` ng add @clr/angular` everything compiles successfully. this error only happens when you upgrade from older versions to 8.3.0

[2019-08-23 19:04] corganfuzz commented on #3739
@hippee-lee , yo should use 8.1.2, which was released on Jul 17, according to [this](https://github.com/angular/angular-cli/releases?after=v8.2.0-rc.0)

[2019-08-23 19:13] hippee-lee commented on #3739
What version of Clarity were you upgrading from?

[2019-08-23 19:28] corganfuzz commented on #3739
from package.json that contains my cli 8.1.2
[code]

[2019-08-23 19:31] #3740 closed

[2019-08-23 19:35] hippee-lee commented on #3739
I see so you already have the latest version of clarity and the app was running angular 8.1.2.

It sounds like the steps to take to reproduce the issue are
1. Have a clarity@latest app running with version 8.1.2 of angular
2. Upgrade angular to the latest version
3. ng serve -> and there should be the error

Correct?

[2019-08-23 19:42] corganfuzz commented on #3739
Well... This is how it happened to me. (Altough, your way might also work)

1. Created a brand new app on July 17 with angular cli 8.1.2
2. Did a  `ng add @clr/angular` which installed clarity 2.1.1
3. Almost a month went by without making any changes
4. Upgraded my local angular cli to 8.3.0
5. Did a ng update, performed all the update tasks, including clarity update which brought me to 2.1.2
6.

[2019-08-23 19:45] hippee-lee commented on #3739
Thanks, I am just having a hard time recreating your scenario. What was is the output of `ng upgrade` in the project before you upgraded the local angular cli?

[2019-08-23 19:52] hippee-lee commented on #3739
SO I have a project that I think is in the state as described (angular v8.1.3 and clarity c2.1.1)

Here is the output from `ng update` :

[code]

If thats correct can you describe to me the next steps to take?

[2019-08-23 19:57] corganfuzz commented on #3739
I have the code with 8.1.2 cli in one of my private repos. I will push it to a public one so we can avoid doubts.

[2019-08-23 20:04] corganfuzz commented on #3739
[here](https://github.com/corganfuzz/clarityissue) you go. Clone this, and do ng update, also update @clr/angular and you will see it

[2019-08-23 20:33] hippee-lee commented on #3739
It looks like this is related to recent changes in the angcular-cli: https://github.com/angular/angular-cli/issues/14980. It looks like ivy was installed under the hood and it doesn't like the FocusService.

When I create a project with v8.1.2 of the cli, add Clarity 2.1.1 and then upgrade angular and clarity packages with npm to their latest version The issue goes away for me.

So the fix here is

[2019-08-23 20:33] #3739 closed

[2019-08-23 20:44] corganfuzz commented on #3739
how do you update angular with npm only?...I'm guessing you are not using ng-update

[2019-08-23 21:00] gnomeontherun commented on #3739
I used your project, ran `ng update @angular/core @angular/cli @clr/angular` and it worked ok. This error sounds like ivy is enabled or you are running a v9 early release.

[2019-08-23 21:15] corganfuzz commented on #3739
Interesting.
I was doing ng update separately , you did all of 3 packages at once. If I do the commands separately with --allow-dirty and -force. then the issue shows. so the key here is

`ng update @angular/core @angular/cli @clr/angular`

Thanks for the help

[2019-08-23 21:22] hippee-lee commented on #3739
`ng update @angular/cli` is installing several v9 packages under the hood and that triggers a `Renderer to Renderer2 Migration` that has an issue with the _FocusService_.

[2019-08-23 21:23] hippee-lee commented on #3739
Or maybe FocusService has an issue with Ivy ¯\_(ツ)_/¯ ?

[2019-08-23 21:37] tJeyhun opened #3742 "Datagrid in compact mode with clrDgRowSelection"
Compact mode is broken for datagrid with

   [clrDgRowSelection]="true"

[2019-08-23 21:50] hippee-lee commented on #3742
Hi @tJeyhun - in the issue template we ask for some information about the issue and a stackblitz reproduction. You can see what the content/markdown for bug reports was here: https://github.com/vmware/clarity/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

Please fill that our and add a stackblitz that recreates the issue as described so we can investigate/triage.

[2019-08-25 17:30] Ketec commented on #3739
Not sure why this is closed - I just got the same issue.

npm install @clr/icons @clr/angular @clr/ui @webcomponents/custom-elements@1.0.0 --save
With Angular 8.2.3 already installed + ivy enabled.

Or does clarity not work with ivy? That would be a deal-breaker.

Downgrading angular CLI didn't help.

[2019-08-25 18:27] corganfuzz commented on #3739
Instead of doing nom separately I did:

ng add @clr/angular

Then, ng update which brought me to do:

ng update @angular/core @angular/cli @clr/angular (all in on line, instead of separated)

After that, the error went away. They (angular team) are still working on this bug

Also, if you do an ng new adding clarity with ng add you wont see this error

[2019-08-25 19:48] Ketec commented on #3739
It runs even with 8.3.0 cli. As long as you have Ivy turned off in the tsconfig.

[code]

For example - if I wipe node modules and do a clean npm install and add clarity to the app.module, it works.
If I enable ivy in tsconfig, it fails.

Seems to be because with ivy enabled, modules are installed differently.
Using ngcc.
https://github.com/angular/angular/blob/master/packages/compiler/design/arch

[2019-08-26 08:50] AlexMarcuBytex commented on #3527
@mathisscott hello, was this issue solved ? i found that the inverse spinner is using a plain #74c1e2 hex color. Let me know if i can help with this issue.
`background: generateSpinnerIcon($clr-spinner-inverse-bg-color, #74c1e2);`

[2019-08-26 13:43] mathisscott commented on #3527
@AlexMarcuBytex
Yes, thanks for pointing this out. I completed this as part of #3286 and did not find this issue in github when i did so.

This is fixed.

[2019-08-26 13:43] #3527 closed

[2019-08-26 19:01] davidrourke opened #3747 "Datagrid current page not rendered correctly in IE 11"
## Describe the bug

In version 1.2.x the current page in the pagination footer is rendered correctly:

![Datagrid paging v1 2 x](https://user-images.githubusercontent.com/25104184/63715075-07a89a00-c811-11e9-91cd-705be6eb8fa1.PNG)

However, in version 2.x the current page in the pagination footer is not rendered correctly:

![Datagrid paging v2 0](https://user-images.githubusercontent.com/2510418

[2019-08-26 20:32] davidrourke opened #3748 "Extra spacing between tab and tab content in IE 11"
## Describe the bug

There appears to be extra spacing (or offset) between tab and tab content in IE 11.

IE 11:

![tab ie11](https://user-images.githubusercontent.com/25104184/63721157-b1425800-c81e-11e9-9e2b-daf3e7911d33.PNG)

Chrome:

![tab chrome](https://user-images.githubusercontent.com/25104184/63721165-b69fa280-c81e-11e9-92bb-0740c7a3a00d.PNG)

## How to reproduce

I have provided a stackb

[2019-08-27 07:32] florin-borceanu commented on #3748
I investigated this problem and I found out that there is a `display: inline` that cause this issue.
If you remove it, the extra spacing disappear. I tested it on Chrome, Mozilla, Edge and IE 11 and seems like this fix doesn't affect the usability.

[2019-08-27 08:29] AlexMarcuBytex commented on #3591
What implies this issue? Should we fully delete it from the code? If you can tell me some steps, i ll solve this.

[2019-08-27 09:05] AlexMarcuBytex commented on #3747
@hippee-lee that's true. actually, the pagination number has a line-height of 1rem. With 0.75. fits perfectly.

[2019-08-27 13:26] AlexMarcuBytex commented on #3176
hello @chlane ! Are there any conclusions on this issue?
It is possible to eliminate those spans from the DOM, but i think you cant control the transitions by using this approach. However, you can change the visibility property which can be modified through transitions. I find that elements with `visibility:hidden`, will not be seen nor heard by screen readers. I can implement either this alernati

[2019-08-27 17:04] #2186 closed

[2019-08-27 17:04] #2683 closed

[2019-08-27 18:56] TorstenDittmann opened #3752 "Removing focus outline"
## Summary

Since the highlighting in the browser looks out of place on touch devices, I would suggest removing the highlight.

* Removing the orange Outline/Highlight.
* Destroys the naturality of the UI on touch devies.

## Use case

Adding some global css like:
[code]

## Examples

### Now:
![now](https://user-images.githubusercontent.com/1759475/63799603-b54ca380-c90c-11e9-9911-11383ac58b19.pn

[2019-08-27 20:47] ashpr commented on #3752
It's an [accessibility](https://a11yproject.com/posts/never-remove-css-outlines/) feature for visually impaired users or users who can only use a keyboard/screenreader. I don't think we should disable it by default.

[2019-08-27 23:45] tJeyhun commented on #3742
Sorry, my mistake,
Problem was conflicting bootstrap css file that I added earlier.
Will use stackblitz more often :)

[2019-08-27 23:45] #3742 closed

[2019-08-28 18:29] #3704 closed

[2019-08-28 22:07] rogerfar opened #3754 "Cannot select text in modal"
In any modal you cannot select any of the text.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to Go to https://clarity.design/documentation/modals
2.  Click on any of the demo buttons
3.  Try to select any of the text in the body
4.  You can't.

Setting `clrModalStaticBackdrop` to false doesn't change the behaviour.

This commit is most likely the cause: https://github.com/vmware/

[2019-08-28 22:36] clane commented on #3522
Taking another look at the Login Page and found that in Firefox on Windows, the contrast ratio of the placeholder is low. The foreground color I found when testing with the [Colour Contrast analyser](https://developer.paciellogroup.com/resources/contrastanalyser/).  It shows that the foreground color is #74A5D1 and the background color is #FAFAFA. These colors yield a contrast ratio of 2.5:1 which

[2019-08-29 08:59] BennieMeng opened #3757 "clrCheckbox required check"
## Describe the bug

when i use clrCheckbox latest clarity version,add required both clrCheckbox input, only choose one ,shoult throw error message. i think the error message should be throw only when none was choosed.

Steps to reproduce the behavior:

1.  Go to [clrCheckbox demo](https://clarity.design/documentation/checkboxes)'
2. search Inline checkboxes demo
## Expected behavior

when add req

[2019-08-29 10:14] AlexMarcuBytex commented on #3176
@chlane im gonna pr with this change today. please assign this issue to me

[2019-08-29 13:02] jkjha opened #3759 "Datagrid custom filtering doesn't work properly with column toggle"
## Describe the bug

With Column toggle, adding custom filtering doesn't work properly.

## How to reproduce

https://stackblitz.com/edit/clarity-issue-3120-jskbuz?file=src/app/checkbox-list-filter.component.ts

Steps to reproduce the behavior:

1.  Go to  above stackblitz.
2.  Try appling filter to "Group" Column. It oprns the filter window but at the same time it sorts column too.

## Expected b

[2019-08-29 13:27] andreiconstantinbytex commented on #3616
Hello. I would like to be assigned to this issue. I will need further clarification though: is it enough to pull out of the webpage the icon-only example?

[2019-08-29 13:30] andreiconstantinbytex commented on #3576
Tried to investigate this but the following website cannot be found: https://v1.clarity.design/vertical-nav/nav-groups/credit
![image](https://user-images.githubusercontent.com/52167120/63944491-468d5880-ca7a-11e9-8b7d-466893b95a7c.png)

[2019-08-29 14:11] andreiconstantinbytex commented on #3574
I've investigated this and it seems that a simple "aria-label" applied to all of the sidenav buttons should suffice. I would like to be assigned to this issue if you consider the aforementioned solution is the best one. Thanks

[2019-08-29 14:36] nicolasbreuni opened #3761 "clr-datagrid loading backgroud is very dark"
## Describe the bug

_After the update to 2.1.2, the datagrid loading spinner background is much darker than before, as you can see in the stackblitz._

## How to reproduce

https://stackblitz.com/edit/angular-wryxc3

## Expected behavior

_The lighter background from before the update._

## Versions

* Angular: [8.2.4]
* Clarity: [2.1.2]

**Device:**

* Type: [Dell Laptop]
* OS: [Windows]
* Brows

[2019-08-29 15:00] mathisscott commented on #3761
This has already been fixed and merged. #3736

It should be released in the next version of 2.x

[2019-08-29 15:00] #3761 closed

[2019-08-29 16:43] envyN opened #3762 "Auto focus causes page scroll for ClrAlert and ClrSignpost components"
## Describe the bug

If we open https://clarity.design/documentation/signposts we are automatically scrolled down to the last signpost trigger on the page.
This is not expected

## How to reproduce

Visit
https://clarity.design/documentation/signposts
or
https://clarity.design/documentation/alerts

## Expected behavior

Signpost trigger shouldnt be focused automatically(at least not if its in clos

[2019-08-29 16:45] hippee-lee commented on #3176
Thanks Alex. We will leave feedback on the PR.

[2019-08-29 16:58] hippee-lee commented on #3759
This happens in the provided stackblitz because the filter is being projected into the wrong place for the column template because its inside of the `*clrDgHideableColumn` container.

We have to use the structural directive with the ng-container to get a reverence to the content (in this case 'Group') in order to know what should be used in the toggle for hide/show.

Here is how the column should

[2019-08-29 16:58] #3759 closed

[2019-08-29 17:24] hippee-lee opened #3763 "Timeline Dark Theme Enhancement"
## Summary

The static timeline needs colors and theme-able scss variables in order to provide a dark theme option for this component.

* What is the change?
Designing the component inline with current Clarity dark theme colors
* Why should it go in Clarity?
To allow Static timeline component usage in dark themed Clarity apps.
* Does this change impact existing behaviors? If so how?
n/a
* If this

[2019-08-29 17:33] mathisscott commented on #3763
The timeline has themeable SASS variables.

It just needs the colors and then to have the SASS variables added to `_theme.dark.clarity.scss`

[2019-08-29 17:34] mathisscott commented on #3763
@colinreedmiller
Does this need UX guidance or are you okay with us flipping the variables to what we've used in other components and circling back for you to visually review?

[2019-08-29 17:40] colinreedmiller commented on #3763
I am fine with flipping what exists to dark theme and reviewing from there. I spoke with Red about this spec and apparently there are some errant colors chosen by the designer rather than being Clarity values so those will need someone to look at them re: dark theme. I can do this all at once as a dark theme timeline review and specify what changes (if any) are needed.

[2019-08-29 20:30] gnomeontherun commented on #1633
Closing as completed, though dark theme is not available yet see #3763

[2019-08-29 20:30] #1633 closed

[2019-08-29 20:33] gnomeontherun commented on #3757
This is actually how checkboxes work if they are part of the same group. Setting `required` on the last in a checkbox group makes them all required. If you want to validate them independently, you'll have to create a custom validator that checks that one of the checkboxes is checked instead of using `required`. That is all done using Angular forms (and IIRC only possible in reactive forms), and if

[2019-08-29 20:33] #3757 closed

[2019-08-29 20:35] gnomeontherun commented on #3754
Something does seem strange here, not sure if that is the source but we need to investigate this.

[2019-08-29 20:43] hippee-lee commented on #1633
@gnomeontherun fyi - dark theme for timeline will be completed with this PR: https://github.com/vmware/clarity/pull/3755

[2019-08-29 20:44] farlock85 commented on #3754
I downgraded to 2.2.0 for now and it works again.

[2019-08-29 21:26] gnomeontherun commented on #2923
@hippee-lee Can we update this ticket as resolved?

[2019-08-29 22:01] hippee-lee commented on #2923
Closing with the merge of PR: #3720 into master that brings the utility and uses it on the datagrid popovers.

[2019-08-29 22:01] #2923 closed

[2019-08-29 22:34] clane opened #3764 "Website/A11y - Skip links are not mentioned at https://clarity.design/documentation/app-layout"
## Skip links are not mentioned at https://clarity.design/documentation/app-layout

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity.design/documentation/app-layout
2.  Observe that there is no mention of the use of "skip links" to allow keyboard-only users the ability to move focus past groups of links or other controls such as those found in navigation.

## Expect

[2019-08-29 22:37] clane commented on #3764
I am unable to label this issue, if I could I would have applied the Website and Accessibility labels.

[2019-08-29 22:54] hippee-lee opened #3765 "Angular Timeline Component"
## Summary

Based on the specs here: https://github.com/vmware/clarity/issues/1633 create a Clarity timeline component.

* What is the change?
Clarity has static timeline for `@clr/ui` this will add an angular version with bindings and behavior that uses the existing style.
* Why should it go in Clarity?
There is already a static version.
* Does this change impact existing behaviors? If so how?
n/

[2019-08-29 23:14] mathisscott commented on #3764
This is content that should go into an accessibility section. It's not something the Clarity devs should produce and maintain.

[2019-08-29 23:24] Shijir commented on #3577
closed by #3725

[2019-08-29 23:24] #3577 closed

[2019-08-30 00:41] Shijir opened #3767 "Signpost trigger is stealing focus by default"
## Describe the bug

The signpost trigger is stealing focus when it's initialized.

## How to reproduce

https://stackblitz.com/edit/signpost-trigger-stealing-focus

I think the culprit is in `clrIfOpen` because it looks like the directive has the same name input
[code]
So just by using this directive, we would set the value to the `open` property of `ifOpenService`.

## Expected behavior

The sig

[2019-08-30 09:09] AlexMarcuBytex commented on #3591
Can you assign me on this? Im working on this following the steps presented in the PR review. Thanks!

[2019-08-30 11:58] jzabinski opened #3768 "No release notes for v1.2.2 in CHANGELOG.md"
A commit note for CHANGELOG.md says 'release note updates for v2.1.2 and v1.2.2', but no notes appear for v1.2.2. What changed in v1.2.2?

[2019-08-30 11:58] bdryanovski commented on #3754
It seems that
[code]
is preventing me to select the text.

BTW, double-clicking the text let me select it and some times the first click let me select some part of the text.

[2019-08-30 12:38] florin-borceanu opened #3769 "Show/Hide password icon is not displayed on IE 11"
## Describe the bug

The show/hide password icon is not displayed on IE 11, Clarity version 1.x, although the focus outline appears.

## How to reproduce

Clarity v1.x:
![image](https://user-images.githubusercontent.com/53469024/64020784-1e196300-cb3b-11e9-9c90-688a3783fce3.png)
https://v1.clarity.design/password

Clarity v2.x:
![image](https://user-images.githubusercontent.com/53469024/64020812-2

[2019-08-30 13:26] bdryanovski commented on #3769
Its seems that the Icon for some reason is not loaded on IE11 or Edge.

## V1
![Screenshot (2)](https://user-images.githubusercontent.com/204564/64024253-ce14af00-caee-11e9-96ad-b7e546909d72.png)

## V2
![Screenshot (3)](https://user-images.githubusercontent.com/204564/64024254-cf45dc00-caee-11e9-9898-63bc9cdde13d.png)

[2019-08-30 13:39] florin-borceanu commented on #3769
After your comment, I investigated and I found out that the icons are not loaded on the entire website when is accessed with IE11.

[2019-08-30 13:41] mathisscott commented on #3769
@bdryanovski
If you could triage this and find a root cause, that will help us figure out next steps. Thanks!

[2019-08-30 14:37] Shijir commented on #3767
Another issue I noticed is that when there are multiple signpost triggers, and I click on one of them after clicking on another, the focus is going back to the inactive signpost trigger.

![Screen Shot 2019-08-30 at 7 34 51 AM](https://user-images.githubusercontent.com/3958008/64029078-b8a48280-caf8-11e9-95cf-1c8a2a79efa7.png)

[2019-08-30 15:48] #3518 closed

[2019-08-30 16:10] bdryanovski commented on #3769
Sure,

I think that we had a similar issue with not loading some icons but there was just missed icon import but this is only IE/Edge related so it could be some SVG issue?

I

[2019-08-30 17:05] NascentSoul opened #3771 "Form is invalid but error message is not popping up"
## Describe the bug
_On submit I can see in console that form is invalid (I am using a custom validator for making sure first date input is less than second date input),  but error message is not showing up._

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://stackblitz.com/edit/clarity-light-theme-v2-1vsbvg
2.  Set first input date to be bigger than second date
3.  Open con

[2019-08-30 18:25] lil-kim opened #3772 "Change yellow icon color to #C47D00"
## Change the yellow used in Icon documentation - it doesn't meet 3:1 contrast requirement.

_In Clarity documentation: Icons > How to use...
https://clarity.design/icons/how-to-use

A user pointed out that the yellow used for warning does not meet a11y contrast requirements._
![image.png](https://images.zenhubusercontent.com/5840974cb9dc3c622022d1df/ac6a1ce6-5c68-46dc-81a4-3c9c457c89e0)

## Repla

[2019-08-30 18:42] lil-kim commented on #3772
Adding @gerinjacob

[2019-08-30 20:03] gnomeontherun commented on #3768
Please view the changes on the website at https://clarity.design/news/1.2.2. We've got to ensure our scripts also add v1 changes in the future.

[2019-08-30 20:21] gnomeontherun commented on #3771
Ok, this is because you've got a FormGroup, and the validator is not actually attached to the individual controls. Therefore, the controls themselves aren't marked as invalid, but the form is. In this case, you would look at showing an error message yourself instead since its a group and not just one control. That is the workaround, and recommendation for the time being.

We can consider group val

[2019-08-30 21:55] #2331 closed

[2019-08-30 22:36] chlane commented on #3567
When we last met in Palo Alto we decided to concatenate the key and and value and use the resulting string as the accessible name. Then we would advice consumers to use short values to prevent abnormally long button names with documentation.

[2019-08-30 23:56] chlane commented on #3517
Flash progress bars use color alone to convey success

Steps to reproduce the behavior:

1. Go to https://clarity.design/documentation/progress
2. Locate the 'Labeled With Success Flash And Fade' example
3. Activate the 'Show' button
4. Observe that the progess bar fill color changes to green to indicate success. Although not explicitly mentioned in the documention the red flash examples imply fai

[2019-08-31 02:27] #3557 closed

[2019-09-02 03:56] Dedme commented on #3696
just wanted to say this is also happening for my grid not in an accordion.
the grid renders before the data loads into it, ignoring the column widths.
[code]
from
[code]

but if i load the page, via a different method when the data is ready.
[code]

[2019-09-02 05:22] Dedme commented on #3696
this only happens when i first load a page straight onto a view with a datagrid. any navigation after are fine.
its almost like the first time clarity renders something it has not loaded something?
if i set a timeout on a variable *ngIf'ing the datagrid, it works - but the screen flashes.

calling resize() on the ClrDatagrid viewchild has a hardcoded 92px min-width!

on first load:
![image](https:

[2019-09-02 08:07] florin-borceanu commented on #3519
I investigated this issue and I found that the `top` and `left` properties on icon are set to `initial`, which is not supported by Internet Explorer.
I switched from initial to auto, and it seems to work just fine. I tried to use the `fixForIE11AndUp` mixin, but it doesn't work.
With `top` and `left` set to `auto`, the bug is fixed and the behavior remains the same on the other browser i tested on

[2019-09-02 09:56] #3466 closed

[2019-09-02 10:33] Jinnie commented on #3574
I believe @Shijir is already working on this. Please wait for an update from him. And thanks for your research and commitment :)

[2019-09-02 11:31] AlexMarcuBytex commented on #3722
Hi @bdryanovski! Assign me so i can start to implement this workaround. Thanks!

[2019-09-02 12:48] Jinnie commented on #3616
Hi Andrei,
You should remove both the icon-only image example, and the corresponding section of the sample code below the header images.

Thanks for helping with this!

[2019-09-02 12:56] Jinnie commented on #3576
Hi @andreiconstantinbytex
Just go here:
https://v1.clarity.design/vertical-nav/basic-structure/charmander#examples
and then navigate to Vertical Nav Groups

I'll spawn a new issue for the broken navigation.

[2019-09-02 13:09] Jinnie opened #3776 "[WEB] Direct navigation not working in vertical nav sub pages"
## Describe the bug

In V1 website direct links to Vertical Nav page and sub-pages is no working. Including internal component routing URLs

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://v1.clarity.design/vertical-nav/
2.  Try to refresh if you navigate to it
3.  Try internal routing link https://v1.clarity.design/vertical-nav/nav-groups/credit

## Expected behavior

It

[2019-09-02 13:12] Jinnie commented on #3576
Here's the navigation issue: #3776

[2019-09-02 13:26] AlexMarcuBytex commented on #3653
Is this issue still valid? If yes, do you have any ideas to implement a variable coloured spinner? I tried to pass a css variable with a custom color from html, but as the browser cant read variables like `--color: #FFFFFF`, its impossible to draw the svg. I think that there should be a group of custom colors available ( let s say 4 or 5 ), each with its class.

[2019-09-02 13:47] bdryanovski commented on #3722
Sure, go on

[2019-09-02 13:59] #3709 closed

[2019-09-02 14:06] #3176 closed

[2019-09-02 14:09] #3519 closed

[2019-09-02 14:11] AlexMarcuBytex commented on #3722
One more question. Shouldnt be aria-label set with "Open dropdown" status when this.active is false?
Something link `return this.active ?  this.clrAriaLabelDropdownClose : this.clrAriaLabelDropdownOpen;`

[2019-09-02 14:13] AlexMarcuBytex commented on #3722
You want to be known the button will open a modal if its not active. otherwise, will close one.

[2019-09-02 14:18] bdryanovski commented on #3722
Yap, that is correct.

Like I said the above code is just for example so don't stick strictly to it.

[2019-09-02 14:40] kirkian opened #3777 "Easy navigate to page level sections (Toolbar)(New component)"
[code]

## Summary
Keyboard-power and accessibility users should have a way to reach any section within the page. As the most common techniques in web accessibility is the “Skip Navigation” link, sometimes referred to as “Skip to Content,” however, in enterprise products with lots of content and many ways to navigate to the sections with a page, there is a need to have a toolbar with shortcuts to

[2019-09-02 14:40] AlexMarcuBytex commented on #3722
Alright. Thanks!

[2019-09-02 16:52] Vaishak commented on #474
Can we please have the implementation of the time picker to be considered for the next release.

[2019-09-02 20:07] williangd opened #3778 "Support for input groups in Angular"
## Describe the bug

Misaligned input and select when on same line/row.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v2-f4sha7

## Expected behavior

Correctly aligned input and select.

## Versions

**App**

* Angular: 8.2.4
* Node: 10
* Clarity: 2.1.2

[2019-09-03 06:52] andreiconstantinbytex commented on #3616
Should it also be taken out of the old documentation?

[2019-09-03 07:18] Jinnie commented on #3778
Note: one of the issues is that the 2 demonstrated demos have different alignment.
This should be avoided by adding a `.clr-input-wrapper` container on the input, as shown here:
https://stackblitz.com/edit/forms-alignment-issue?file=src/app/app.component.html
This is the result:
![Screenshot from 2019-09-03 10-15-50](https://user-images.githubusercontent.com/1798828/64151854-f1639500-ce33-11e9-967

[2019-09-03 07:33] h657070128 opened #3779 "clrPassword's underline is missing when user chooses to autofill the field"
## Describe the bug

clrPassword's underline is missing when user chooses to autofill the field

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity.design/documentation/password using Chrome
2.  Enter some random text, "test" for example and then navigate to some other page, Chrome will prompt you asking if you want to save the username/password, choose "yes" and navi

[2019-09-03 07:41] andreiconstantinbytex commented on #3565
I've looked into this and adding aria-label on the 'Loading...' div should fix this one. Can I be assigned to this one?

[2019-09-03 08:05] Jinnie commented on #3779
Auto-fill is a browser feature, which we have no control over. Setting focus on the password field is something that's not expected to happen while auto-filling. There are also numerous password management 3rd party solutions, which may have various approaches to focus handling and highlighting the fields they operate on.
All this happens on the browser level or above it, and is outside the scope

[2019-09-03 08:18] Jinnie commented on #3616
Thanks for so quickly submitting the change.
As you also updated the dev-app page, now Set 3 of the visual tests is failing.
Please check if the failing tests are relevant now and change them if needed or update the reference images.
Write back if you need any help with this.

[2019-09-03 08:20] Jinnie commented on #3565
You are welcome :)

[2019-09-03 08:37] KANekT commented on #474
@mathisscott How use only year or month for choice? It's posible ?

[2019-09-03 10:00] h657070128 commented on #3779
@Jinnie Thanks for the quick response. I believe those widely used third-party plugins also follow some kind of standards when dealing with these inputs. In clrPassword case, it is the introduction of the wrapper `clr-input-group` that causes the plugin to behave incorrectly. I still believe it's better for Clarity to be compatible with it. For our project, we have to find a way to overwrite the s

[2019-09-03 11:01] AlexMarcuBytex commented on #3754
You ll only be able to select that text by changing the focus through keyboard ( tab key ). Should we find any solution or this is the correct behaviour?

[2019-09-03 11:07] andreiconstantinbytex commented on #3616
![image](https://user-images.githubusercontent.com/52167120/64168355-005a3f80-ce54-11e9-9f9c-b58ed8fc6681.png)

Since I removed the example in the middle with the logo icons this is why the test is failing. I would like to know what is the best way to edit these images so that the tests pass?

[2019-09-03 13:03] andreiconstantinbytex commented on #3565
Thank you!

[2019-09-03 13:32] mathisscott commented on #3653
@AlexMarcuBytex
This issue is still valid. It would require a dive into an API change for the spinner. It's not a high priority for us at the moment, as features go, because we have work-in-progress on a circular progress bar as well as CSS custom variables that make the future of this feature less certain.

[2019-09-03 13:49] farlock85 commented on #3754
Doesn't seem like a great usecase to have it only work on tab. How I found out was that a customer wasn't able to copy the text from an error message modal and thought we put in some sort of 1990's copy protection.

[2019-09-03 13:55] kirkian commented on #3777
@Jinnie Hi Ivan, I think this should go under `New Component` label.

[2019-09-03 14:01] AlexMarcuBytex commented on #3653
Cool then! Thanks for the answer!

[2019-09-03 14:48] Jinnie commented on #3779
@h657070128 I presented this for discussion in the team. If we decide we can invest in it, I'll update and reopen the issue.
Thanks for your report!

[2019-09-03 15:54] gnomeontherun commented on #3779
It looks like we can investigate further, just to confirm @h657070128 are you just using Chrome's built in password system or is this a third party tool? Some third party tools might cause more issues than we can accommodate depending on how they are implemented.

[2019-09-03 16:11] Shijir commented on #3173
closed with #3766

[2019-09-03 16:11] #3173 closed

[2019-09-03 17:08] hippee-lee commented on #3763
Closed with #3755

[2019-09-03 17:08] #3763 closed

[2019-09-03 17:40] williangd commented on #3754
Same problem here. The problem does not happen in version 2.1.0.

[2019-09-03 19:11] gnomeontherun commented on #2992
This should be completed with the forms refactorings done so as long as you mark a field as invalid with Angular, there is error support.

[2019-09-03 19:11] #2992 closed

[2019-09-03 19:19] gnomeontherun commented on #3778
We don't currently have documented nor built into the Angular components. We do have the static version that you can use for now though if you look at our dev app here. https://github.com/vmware/clarity/blob/master/src/dev/src/app/forms/input-group/input-group.html#L25

I'll repurpose this as a feature request for the Angular component support and documentation.

[2019-09-03 19:36] gnomeontherun commented on #3776
This is because we aren't generating `index.html` files for each of the subroutes in our build for v1. This should be fine in v2 since we aren't doing HTML redirects anymore.

[2019-09-03 19:39] gnomeontherun commented on #3777
@chlane This is a request for a more expansive keyboard only toolbar to appear (like the skip link but with a document outline). Do you have any input or suggestions on this?

[2019-09-03 20:12] gnomeontherun commented on #3419
I'm curious @rbirkgit if you have looked into this?

[2019-09-03 20:19] rbirkgit commented on #3419
We have not looked into it.

[2019-09-03 20:49] williangd commented on #3778
If I change the order of select and input, the layout is broken.

https://stackblitz.com/edit/clarity-light-theme-v2-qaqlje

Changing `.clr-input-group` `max-width` to 100% the problem does not occur.

[code]
[code]

[2019-09-03 20:58] gnomeontherun commented on #3778
Ok, we'll have to take that into account when working on this. Its not documented because we weren't ready to support it, so right now your milage may vary.

[2019-09-03 21:08] hippee-lee commented on #3696
@Dedme - datagrid columns have a `4rem min-width` on the [.datagrid-column]. Binding `[style.width.px]="85"` will not override that. But, you could add in `[style.min-width.px]="85"` and it _should_ override the styles delivered with the datagrid.

I don't think what you are describing is related to this issue. But to be sure, could you supply a stackblitz reproduction of the behavior you are seei

[2019-09-03 21:10] chlane commented on #3777
This appears to be a `<select>` element allowing the user to set focus to different parts of the pages which will work.  But the  opt + t shortcut doesn't provide any accessibility benefit since the user should just be able to Tab to the '<select>' and press Enter to activate it.

[2019-09-03 21:33] hippee-lee commented on #3616
Hi @andreiconstantinbytex - it looks like your changes affect the reference images for our visual regression tests in set 3.

[code]

You can update the reference images by running the command:
[code]

NOTE: you will need to have Docker installed and running on your system in order to run the gemini regression tests. You can [read more here](https://github.com/vmware/clarity/wiki/CSS-Regression-Te

[2019-09-03 23:06] #3412 closed

[2019-09-04 01:35] h657070128 commented on #3779
@gnomeontherun Hi Jeremy, yes I am using Chrome's built-in password system. Attached is another screenshot on the login page of Clarity docs site(https://clarity.design/documentation/login). Thank you guys for the open attitudes towards it!

<img width="852" alt="Screen Shot 2019-09-04 at 9 24 50 AM" src="https://user-images.githubusercontent.com/6769465/64219136-c7bf7200-cef6-11e9-9630-97e0a4297d

[2019-09-04 05:47] abbyhtml commented on #3686
Hi do we have any updates on this?

[2019-09-04 09:45] AlexMarcuBytex commented on #3754
@coryrylan can you help us? i see that this was implemented on #3657 pr.

[2019-09-04 12:59] iivanovgit opened #3785 "clr-dg-column-toggle throws an error when a filter dropdown is active"
## Describe the bug

clr-dg-column-toggle throws **TypeError: _this.menuDescriptionElement is undefined** when a filter dropdown is active then clr-dg-column-toggle stops responding

## How to reproduce

In order to reproduce we need a clr-datagrid with column filter and hidable columns

Steps to reproduce the behavior:

1. click on a filter so the dropdown active
2. click on the clr-dg-column-tog

[2019-09-04 13:22] coryrylan commented on #3754
I'll take a look at this, it is a regression from a different a11y bug fix.

[2019-09-04 14:35] sb-zeus commented on #566
One solution ist to use a second header tag at the bottom after the content-container of your document. With an own css class you can overwrite the height for example.

<header class="clr-footer">some text</header>

.clr-footer {
  max-height: 25px !important;
}

For me the most important thing was, to be able to switch between light and dark theme with the specific colors (background and font) at

[2019-09-04 15:04] gnomeontherun commented on #3785
Please provide a stackblitz demo of your issue so we can triage it properly, thanks! https://stackblitz.com/@clr-team has some starters.

[2019-09-04 15:10] Jinnie commented on #3785
I tried to unsuccessfully reproduce it on my dev env, but probably the issue is fixed with the forthcoming smart popovers update.
So please, do provide a stackblitz, as Jeremy requested above.

[2019-09-04 17:08] hippee-lee commented on #3686
Hi @abbyhtml - this is still in the backlog.

[2019-09-04 21:39] gnomeontherun commented on #3722
I just reviewed this issue and I disagree that this is something we should do. Sorry for the confusion, but this is overhead inside of Clarity to just set the `aria-label` on the button (which doesn't necessarily need this anyways, because buttons should have content). So the only thing that I see that could be actionable here is to write some documentation about how dropdown button triggers shoul

[2019-09-04 21:39] #3722 closed

[2019-09-04 22:22] gnomeontherun commented on #3570
I'm going to close this as a duplicate since it will be resolved by #3569

[2019-09-04 22:22] #3570 closed

[2019-09-04 22:35] gnomeontherun commented on #3572
This is probably resolved by #3569

[2019-09-04 22:40] gnomeontherun commented on #3574
@andreiconstantinbytex This issue and https://github.com/vmware/clarity/issues/3576 are both open. Shijir's work was focused on the focus management only. These could be tackled together, if you'd like to take it up I will assign you!

[2019-09-04 22:41] gnomeontherun commented on #3508
@Jinnie Did we tackle this one yet as part of the overflow work?

[2019-09-04 22:44] gnomeontherun commented on #3562
@coryrylan Can we close this as done then?

[2019-09-04 22:52] gnomeontherun commented on #474
We have some design work to do on the time picker, but I've got my eye on it as part of a form improvement epic.

[2019-09-05 06:19] iivanovgit commented on #3785
https://stackblitz.com/edit/clarity-light-theme-v2

click filter leave it active then click the hide/show toggle

[2019-09-05 08:33] Jinnie commented on #3508
Yes. For a blind user this button does not exist now, we're automatically forwarding to the next meaningful button.
Thanks!

[2019-09-05 08:33] #3508 closed

[2019-09-05 10:00] Jinnie commented on #3785
@iivanovgit You probably didn't [Save] it. I am seeing the default template.

[2019-09-05 10:01] Jinnie commented on #3785
Actually, this is our own `@clr-team` template. Please, [Fork] it and post the fork URL with your changes. Thanks

[2019-09-05 10:15] AlexMarcuBytex commented on #3167
Hi, is this issue solved? If not, @Shijir I see you integrated the focus directive in #3725 PR. Should be used here?

[2019-09-05 11:07] #3591 closed

[2019-09-05 11:30] AlexMarcuBytex commented on #3638
@hippee-lee Hi! Are smart popover changes solving this issue? ( im referring to changes from #3374 ) Let me know if this still require investigations.

[2019-09-05 13:01] AlexMarcuBytex commented on #3168
Hello! Would be an idea to add a link or download icon in the label to express the purpose of the text link?

[2019-09-05 15:49] gnomeontherun commented on #3168
The request is more about that you are downloading something from another domain, which I think could be just `Download _FILE_ from GitHub`.

[2019-09-05 15:58] hippee-lee commented on #3638
This issue is not using any Clarity popovers so the new utility isn't applicable in this context. This will still need investigation.

[2019-09-05 16:01] rbirkgit commented on #3419
Not sure we are knowledgeable enough about Clarity to know how to do this. At the moment we have no plans to move CAS (Tango) to Clarity v2 any time soon. The forms are the biggest hurdle for us.

[2019-09-05 17:35] Shijir commented on #3167
Hi @AlexMarcuBytex! You are right. #3725 resolved this issue. I didn't know we have a separate issue here as well. Thanks for bringing this to my attention.

[2019-09-05 17:35] #3167 closed

[2019-09-05 17:44] chlane commented on #3168
The idea is just to communicate the link purpose textually. Since it downloads a file from GitHub "Download _FILE_ from GitHub" will work. If you want to add an icon,  the icon will be redundant since it will be adjacent to the text "download". But if we want it for aesthetic reasons it  can be added and hidden from screen reader user using aria-hidden="true".

[2019-09-05 22:25] jrharshath opened #3791 "A super-lightweight alert style"
**EDIT:** Design specs - https://www.figma.com/file/KTGn0CfxWwwCsFVXlHBKPKmN/Lightweight-alert?node-id=0%3A1

`[x] feature request`

In the designs I've been working on for the past few months, I've found myself using a particular visual style to report a message/status repeatedly, and I wonder if there is room for it in Clarity.

Here's what it looks like:
![image](https://user-images.githubuserc

[2019-09-05 23:20] hippee-lee commented on #3791
This came up in the Office Hours session w/ @colinreedmiller.

Two of the areas I thought it might fit were as an extended, third style of alerts or a special list item that takes wither a status or an icon and display's it as a specialized bullet. After discussion the list item with special icaon didn't seem to be appropriate.

@jrharshath - can you add in some descriptions of the use cases you h

[2019-09-05 23:48] mathisscott commented on #3791
An alternate style of alert would be the easiest path forward.

[2019-09-06 02:33] coryrylan commented on #3562
I don't think so, I think this might be still an issue and needs to be verified.

[2019-09-06 08:41] AlexMarcuBytex commented on #3638
Oh, you re right! The popover is just for the example here. Sorry for this confusion! Im trying to figure what would be the solution here..

[2019-09-06 09:07] lolgans commented on #3427
Actually all workarounds are not feasible any more, because the `column.hidden` field was removed in version 2.0. Atm we workaround by injecting the columnsService directly in a really hacky way, like this:
`private columnsService: ɵcs`. But this can not be the solution. Any hints on how to do it properly are highly appreciated.

[2019-09-06 10:31] AlexMarcuBytex commented on #3168
Well, i guess the label can be changed to be more specific or im thinking of using title attribute for links which can be set through sketchLink directive. I see that you use that only for this specific case. What do you think?

[2019-09-06 13:50] iivanovgit commented on #3785
my bad here is the correct link https://stackblitz.com/edit/clarity-light-theme-v2-dbxxqm

[2019-09-06 15:12] chlane commented on #3168
Is it possible for us to use the link text "Download _FILE_ from GitHub" so the accessible names comes from the visible text?

[2019-09-06 15:51] hippee-lee commented on #3638
Hey @AlexMarcuBytex I would start with the [layers](https://github.com/vmware/clarity/blob/master/src/clr-angular/utils/_layers.clarity.scss) we already have. Looking at the demo it seems like `btn-primary, btn-success and btn-danger` classes handle the icon correctly wrt layering. I would look at what is different between those classes and the `btn-link & btn-outline` classes.

I'm guessing here

[2019-09-06 15:56] gnomeontherun commented on #3785
This is fixed by #2923 which is now in 2.2.0, please update for the fix!

[2019-09-06 15:56] #3785 closed

[2019-09-06 16:41] gnomeontherun commented on #3777
Couple of notes

- Dark theme needs consideration
- Toolbar is pushing down, but that is a problem with layouts, need to understand options here
- The select/dropdown is not a component, should probably just use a menu or select instead (which already have keyboard shortcuts)
- Need to review other examples already out there (Starbucks comes to mind)

[2019-09-06 16:46] gnomeontherun commented on #3791
We need

- A design spec, clear limitations and use cases
- What features does it have compared to other alerts? Probably not going to have features like dismissable, actions, etc
- Some research of other examples to validate
- Edge cases (stacked alerts, in various contexts)
- Are these given the same or different aria treatments (probably not aria-live)

[2019-09-06 17:43] coryrylan commented on #3556
https://stackblitz.com/edit/angular-fesawc?file=src%2Fapp%2Fform.directive.ts

[2019-09-06 20:33] Shijir opened #3792 "Wizard title gets double focus attempts"
## Describe the bug

Wizard has its own mechanism to set focus on its title. But currently, it gets two attempts to focus on its title: one from its own component and another from Modal's title focus attempt because our Wizard uses Modal component.

## How to reproduce

If you open a wizard and check `document.activeElement`, it will be on the div wrapper of the modal title. It's actually supposed

[2019-09-09 05:51] sylvaingirardbe opened #3794 "Text input in dropdown loses focus"
## Describe the bug

I have a text input in a dropdown menu that is used to filter the entries in the dropdown menu. When the user starts typing text, the text is applied as a filter on the dropdown list items starting from the 3rd character entered. When the list with dropdown items is refreshed, focus on the text input is lost so the user has to click the text input to get it to focus again to e

[2019-09-09 06:59] florin-borceanu commented on #3779
I investigated this issue and I found out that this "feature" is implemented only in Chrome and Opera. The position of the underline is different between clrPassword and basic password, as you can see here:
![Screenshot from 2019-09-09 09-53-13](https://user-images.githubusercontent.com/53469024/64509101-afc96300-d2e7-11e9-9340-2bf84497fb6e.png)

![Screenshot from 2019-09-09 09-52-41](https://user

[2019-09-09 07:21] bdryanovski commented on #3687
https://github.com/typescript-eslint/typescript-eslint

[2019-09-09 07:23] andreiconstantinbytex commented on #3565
My opinion is that the lazily loaded stack view code example shouldn't have the aria-label set but I might be mistaken. Should it?

![image](https://user-images.githubusercontent.com/52167120/64510940-de493d00-d2eb-11e9-8712-8e342361c071.png)

[2019-09-09 09:33] andreiconstantinbytex commented on #3574
Can you please assign me on #3576 and #3574?

[2019-09-09 09:35] andreiconstantinbytex commented on #3574
Also, what is the status of #3575 ?

[2019-09-09 09:46] RoelRoel commented on #1853
This is still not fixed correctly. Now the text of the options has a white color but the options have no background color so you can't read the text.

[2019-09-09 10:06] andreiconstantinbytex commented on #3568
I have investigated the issue and there are two solutions: should I add the aforementioned aria-* attributes only on the documentation examples or directly on the 'clr-stack-block' component?

[2019-09-09 10:30] kalpeshhpatel opened #3795 "Dropdown is overriding `id` provided to `clrDropdownItem`"
## Describe the bug

In Clarity version 2, we can't provide custom `id` to dropdown item.
If we explicitly provide `id`, it overrides it with some autogenerated id. (for instance. `clr-id-12`)

## How to reproduce

Steps to reproduce the behavior:

1.  Go to 'https://stackblitz.com/edit/clarity-light-theme-v2-upskue'
2.  Note that `action1` id has been added to `Action 1` in HTML code (https://sta

[2019-09-09 10:30] AlexMarcuBytex commented on #3168
Ok. Assign me and i ll change the label that way.

[2019-09-09 12:39] florin-borceanu commented on #3794
I investigated this issue and I found out that the `clrDropdownItem` directive from the div inside the `clr-dropdown-menu` cause this odd behavior. If you remove it, the style got changed, but the issue is solved. I don't know the context where you use this directive, can you test this fix and tell me if something is not going the way it should? (beside the style)

[2019-09-09 12:47] Jinnie commented on #3565
@chlane can you comment on this, please?

[2019-09-09 13:34] Jinnie commented on #3168
It's yours, Alex!

[2019-09-09 14:36] AlexMarcuBytex commented on #3792
HI @Shijir ! I can do the changes but i have some questions first. So, you propose to keep the wizard way of focusing and change the old way of modal title focusing with this new directive, right?  I see that `clrFocusOnViewInit` is integrated in clarity but doesnt seem to work on the current use. Tabindex can be changed immeadiately but first we must be sure that this directive is working properl

[2019-09-09 14:44] jacobbutton opened #3796 "Datagrid Single Action no longer goes away when clicked."
## Describe the bug

When clicking a menu item in a Datagrid single action the menu stays there instead of going away.
This is related to the changes in how datagrid implements popovers that don't get clipped.
The popover complex ignores the close click if it originates inside the projected content.

## Expected behavior
When projected content opens a modal the popover should be dismissed ane the

[2019-09-09 15:17] gnomeontherun commented on #3794
We've seen several reports of this because people have turned the dropdown into a combobox, which is not a use case we ever intended to support. See https://github.com/vmware/clarity/issues/3729#issuecomment-523917087 for a more detailed explanation. The best thing to do is wait for combobox, though a workaround is to copy the old dropdown menu, rename it and use that instead of ours or use the st

[2019-09-09 15:17] #3794 closed

[2019-09-09 15:24] Jinnie commented on #3565
Chris Lane 6:23 PM
     This issue is addressed in https://github.com/vmware/clarity/issues/3423

[2019-09-09 15:25] chlane commented on #3565
aria-label is necessary for cases where a UI component does not have a visible textual name. In this case we are talking about visible text i.e. <div>loading ....</div>, there is no need to label this. This is simply content that the screen reader user will hear when they eventually read it with their screen reader's cursor. But the sudden appearance of this message can be considered to be a statu

[2019-09-09 15:26] whizkidwwe1217 opened #3799 "Datagrid Single Row Action no longer works when ResizeSensor is used by other elements"
## Describe the bug

I've been using the `ResizeSensor` which is a part of [css-element-queries](https://github.com/marcj/css-element-queries) library to detect the changes in dimension of any HTML element. I don't have any problems with it prior to Clarity version 2.2.0 but when I updated my dependencies to the latest Clarity version, the data grid component's single row action, which I think is

[2019-09-09 15:30] Jinnie commented on #3796
It would greatly help us review and triage this issue if you add a stackblitz represenation.
Here are the required templates:
https://stackblitz.com/@clr-team

Thanks!

[2019-09-09 15:32] Jinnie commented on #3796
Probably this will also work as example:
https://clarity.design/documentation/datagrid/single-action

Still, I recommend using the issue template that's auto-generated when opening new bugs.

[2019-09-09 15:44] jacobbutton commented on #3796
https://stackblitz.com/edit/issue3796-single-action-broken

[2019-09-09 15:57] bdryanovski opened #3800 "icons: could not add new icons with capital letters for shapeName"
## Describe the bug

When you add a new shape icon with capital letter - you could not fetch it with the `clrIcon` component

[code]

[code]

The icon is not found.

## How to reproduce

https://stackblitz.com/edit/clarity-dropdown-search-k2gi83

## Expected behavior

The icon must be shown no matter the shape name.

## Versions

**App**

* Clarity: 2.2.0

**Device:**

* OS: All
* Browser All

##

[2019-09-09 16:47] hippee-lee commented on #1853
This was fixed but it looks like a regression was introduced since then.

Stackblitz with a reproduction: https://stackblitz.com/edit/gh-1853-select-input-dark-theme-issue

[2019-09-09 16:53] Shijir commented on #3767
Closed by #3774

[2019-09-09 16:53] #3767 closed

[2019-09-09 16:54] hippee-lee commented on #3796
This is related to the changes in how datagrid implements popovers that don't get clipped.
The popover complex ignores the close click if it originates inside the projected content.
Thanks for the stackblitz. I'll look into it.

[2019-09-09 17:26] hippee-lee commented on #3799
Hi There,

I did a bit of investigation on this. One thing I noticed is that I can only replicate the issue as described wen using the stackblitz code editor and preview pane in the same tab. The popover works as expected when `Toggle Resize Sensor` is on in the full app view: https://clarity-light-theme-v2-yrfkcg.stackblitz.io/

Is this the case for you as well?

[2019-09-09 17:27] gnomeontherun commented on #3799
First, what are you using this ResizeSensor for exactly? I'm not sure why you are using it but since this is a third party service it is unclear to me if this is an issue on our end or theirs.

[2019-09-09 17:29] gnomeontherun commented on #3795
This does appear to be a problem, though I don't recommend putting an ID in there to begin with in this case because we have to link some aria-attributes with that ID. We will backlog this bug as something that we should fix, but I don't know in what cases you'd want to put an ID on the element?

[2019-09-09 18:41] gnomeontherun commented on #1531
At this stage, we've moved away from it or encapsulated the little bit we have left. Closing this as largely done, and individual work depends on a lot of static, smaller components that base ought to reimagine anyways.

[2019-09-09 18:41] #1531 closed

[2019-09-09 18:47] gnomeontherun commented on #2280
We have an alternative plan that will address this in the future, closing this in favor of future work.

[2019-09-09 18:47] #2280 closed

[2019-09-09 18:54] gnomeontherun commented on #2668
@coryrylan fixed this recently, so we can close this.

[2019-09-09 18:54] #2668 closed

[2019-09-09 18:59] TekSiDoT commented on #2280
Looking forward to it!

[2019-09-09 19:01] gnomeontherun commented on #3610
The core issue here was fixed in #3706 and is released.

[2019-09-09 19:01] #3610 closed

[2019-09-09 19:42] gnomeontherun commented on #3427
@lolgans you're right, that isn't a great solution. We refactored a lot internally that will capture the state of columns in one place (still a little work to do there), but we haven't exposed this. Another workaround could be to manually query the DOM to check the columns that are visible when you need to capture that state, hacky but unless we expose that input/output binding it is difficult to

[2019-09-09 19:58] gnomeontherun commented on #3575
This needs some research to ensure we handle this correctly, I'm not certain where exactly those attributes should go without researching other examples first. @andreiconstantinbytex I'll assign this but look up aria- spec here for expanded and vertical navigation patterns. Sometimes the solution here is that apps need to add it (basically if its an aria attribute that goes on the host or isn't in

[2019-09-09 20:02] gnomeontherun commented on #3779
We aren't going to change the underline behavior right now, we only want to consider implementing a workaround to the autocomplete behaviors in Chrome/Opera (probably latest Edge). See https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ for additional considerations.

[2019-09-09 20:06] gnomeontherun commented on #3568
@andreiconstantinbytex I haven't dug into this, but if the aria attributes go on an internal DOM element inside of the clarity stack components, then we'll have to internalize it. If it can go directly onto the host, we can add this into the documentation with explanation for how apps should implement it themselves.

It might be most helpful to do a little prototype that shows the desired behavior

[2019-09-09 20:08] gnomeontherun commented on #3565
The aria-live region is a tricky thing for us from an API perspective, we need to be careful how this gets implemented. We have our new spinner component that handles the aria-live, which should be the recommendation for anything loading like this.

[2019-09-10 01:41] whizkidwwe1217 commented on #3799
@gnomeontherun It doesn't work in the full app view for me either. When the button is green, that means ResizeSensor is being used. I made a toggle button so I can see the difference when using and not using the ResizeSensor.
I built a custom toolbar component similar to Microsoft's Office UI Fabric [CommandBar component](https://developer.microsoft.com/en-us/fabric/#/controls/web/commandbar) and

[2019-09-10 01:57] whizkidwwe1217 commented on #3799
Here's what it looks like in real-world app:

When the width of the page is wider:
![image](https://user-images.githubusercontent.com/1977391/64577852-39446800-d3b0-11e9-976a-0a3eedaefabe.png)

When the width is tight:
![image](https://user-images.githubusercontent.com/1977391/64577932-76a8f580-d3b0-11e9-8bef-3744b0f654d1.png)

[2019-09-10 03:15] whizkidwwe1217 commented on #3799
@gnomeontherun I've done some research and came up with an alternative solution. I totally got rid of the ResizeSensor library and used Google Dev's [ResizeObserver](https://developers.google.com/web/updates/2016/10/resizeobserver) instead. Tested it, used some polyfills for other browsers, and now I've got the single action row working again! Anyway, thanks for looking into this issue and I can n

[2019-09-10 03:15] #3799 closed

[2019-09-10 06:03] danail-vasilev commented on #3800
Just a small correction in the description that the issue has been reproduced since v2.1.0

[2019-09-10 06:07] sylvaingirardbe commented on #3794
Thanks, works a treat!

[2019-09-10 08:14] AlexMarcuBytex commented on #3168
Should we use italic style for the name of the file like in your example to be more suggestive?

[2019-09-10 08:16] Jinnie commented on #3575
I guess @andreiconstantinbytex needs to comment on this issue directly before we can assign it to him.

[2019-09-10 09:00] AlexMarcuBytex commented on #3168
I ll change the scope name but im waiting for clarifications.

[2019-09-10 09:05] florin-borceanu commented on #3779
Hi @gnomeontherun
I took a look over this trick, and the only thing that can be done is to change the background color, it cannot be transparent. Also, it cannot be moved, so, the underline is still covered.
This is the best result I can get:
![Screenshot from 2019-09-10 11-21-54](https://user-images.githubusercontent.com/53469024/64596797-43209800-d3bd-11e9-94a5-76fb2a19fcd4.png)
![Screenshot fro

[2019-09-10 09:20] #1279 closed

[2019-09-10 09:40] AlexMarcuBytex commented on #3638
`btn-primary, btn-success and btn-danger ` have the same bug as `btn-link & btn-outline`. in that example those buttons are just using a white icon so you wont see that something is wrong with the layers. The problem is clearly caused by the transform property as @wendellestradairely presented above. I think that if you want to solve this, you must get rid of the transform. I see this is used to c

[2019-09-10 09:40] #3747 closed

[2019-09-10 10:58] Jinnie opened #3802 "On website forms page Input grouping heading overlaps example"
## Describe the bug

The heading of the `Input groups` section overlaps previous `Do/Don't` section.
<img width="488" alt="Screen Shot 2019-09-10 at 1 51 33 PM" src="https://user-images.githubusercontent.com/1798828/64608096-951fe880-d3d2-11e9-89ab-6ac7d7c04b80.png">

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity.design/documentation/forms
2.  Scroll down to "Inp

[2019-09-10 11:21] florin-borceanu commented on #3802
I investigated and I found out that the issue is caused by a `height: 100%` added in https://github.com/vmware/clarity/commit/874e82278ac3e5a8181607759e76e18e3f2207c0
I will investigate more, in case that something else is affected.

Can you assign me? Thanks!

[2019-09-10 12:38] Mennez commented on #248
Fixed. This was a local SASS color variable. Added the variable to the gist.

[2019-09-10 12:59] rbirkgit commented on #2886
We have a lot of custom components (and also use many signposts), and this is one of the major hurdles for us upgrading to the new forms.

[2019-09-10 13:02] rbirkgit opened #3803 "Signposts use pointer cursor"
## Describe the bug

Any reason the signposts use the pointer cursor in the popups? It looks like you can click the content, but it just text (normally).

## How to reproduce

Open any signpost popup and move cursor over the popup

## Expected behavior

Use the default cursor

## Versions

**App**

All

**Device:**

All

[2019-09-10 13:34] #3772 closed

[2019-09-10 13:50] davidrourke opened #3804 "ClrDatagridFilter openChange event not being fired"
## Describe the bug

The ClrDatagridFilter openChange event is not being fired.  The event name has been changed from openChanged (in v2.1.2) to openChange (in v2.2.0).

## How to reproduce

In version 2.1.2, I subscribed to the openChanged event and received events.  However, in version 2.2.0, I now am subscribed to the openChange event, but I am not receiving events.

I have provided a stackblit

[2019-09-10 13:56] AlexMarcuBytex commented on #3352
I investigated it and i see that you cant overwrite the style for these icons ( in this case, the `.is-success` class) from the dark theme style file. Im thinking of adding a class `.dark` in the icons style which should apply the correct color in the dark theme.

[2019-09-10 14:18] gnomeontherun commented on #3622
@Jinnie Can you take a quick look?

[2019-09-10 14:25] andreiconstantinbytex commented on #3575
Hello, I would like to be assigned to this issue.

[2019-09-10 14:26] mathisscott commented on #3352
A better approach might be to add a block of CSS at the bottom of the dark theme that ties the colors into the expected dark theme variables. It's trivial to override these colors in CSS.

[2019-09-10 17:10] jrharshath commented on #3791
Thanks for the responses, folks.

- I thought about my use cases again, and looks like pretty they are all used as status indicators. I think that should be the guideline on using this style. @gnomeontherun please let me know what is expected of me in the form of a "design spec".
- It will not be dismissable. But it can have actions associated with it (eg, "fix it", "retry" or "see details").
- By

[2019-09-10 17:12] Shijir commented on #3792
Hi @AlexMarcuBytex! I was wrong about double focus attempts here. Wizard actually doesn't try to set focus on its title when it opens the first time, but the modal it's based on takes care of that initial title focus. When Wizard moves to next steps and new contents appear, Wizard starts managing the title focus. So I would say it's working as expected.

Only issue we should fix here is that the w

[2019-09-10 17:55] mathisscott commented on #3791
Hi @jrharshath
Re: the following...

How will we see the actions visually associated with the minimalist alerts? If we place them where they currently show up in alerts, they would be hanging out in space on the right margin. There's no border or background that would visually group them to the alert. This is something worth exploring with design.

aria-live is for accessibility. When an alert sho

[2019-09-10 18:33] hippee-lee commented on #3799
Awesome. fwiw - I think `ResizeObserver` is part of the WebAPI and not exclusive to Chrome/google https://drafts.csswg.org/resize-observer-1/ and https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver.

[2019-09-11 05:19] TrifonovSergey commented on #248
There is any progress in this? 50% or 90% done maybe?
About 5 months component is in active development phase... maybe it's time to release it in parts? or change the developer? This is a common practice of IT project management, I don’t understand why they are not used on clarity project.
Also, I hope the project manager noticed that this is the most anticipated component at this moment.

[2019-09-11 06:38] pumano opened #3807 "Dark / bright theme switch via prefers-color-theme CSS"
## Summary

Currently we can only use one theme and theme switching is annoying problem. Looks like will be good to have support for new CSS media query rule : `prefers-color-theme` for applying theme styles.

* What is the change?
Possibility to switch theme at runtime
* Why should it go in Clarity?
Better UX for users
* Does this change impact existing behaviors? If so how?
Yes, looks like need

[2019-09-11 07:45] andreiconstantinbytex commented on #3565
As discussed with @gnomeontherun the 'Loading...' label will be replaced with the spinner.

[2019-09-11 08:47] andreiconstantinbytex commented on #3565
I've tried replacing the 'Loading...' label with the spinner but the screen reader still doesn't announce the fact that the list is loading. It says 'loading' only after you hover over the spinner. This is the exact same behavior even without the spinner. I've tried two different screen readers on two different OSs.

[2019-09-11 10:47] yuezhizizhang commented on #1248
I’m still able to reproduce it with Angular 8 and Clarity 2.1.1. Is there a simple workaround except than disabling the horizontal scrolling or making the hideable column not the last column?

[2019-09-11 11:24] kirkian commented on #3777
Thanks for the responses, guys!

- Dark theme the toolbar colors are the same, except the dropdown
- When the toolbar bar appears the options in the list changes based on the page section
- The select/dropdown is the dropdown component https://v2.clarity.design/dropdowns
- I already did study research and will do a review with my team for this toolbar.

cc @sheribyrne as I demoed about the toolbar

[2019-09-11 12:46] bendem commented on #1067
I'd like to add that data driven applications generally use shift+click on a header to add a column to the sorted columns.

See for example the example grids on http://ui-grid.info/. Click on a column header, shift+click on another, you can see the multi-column sort in action and the visual feedback showing which column is sorted first.

![Screenshot 2019-09-11 at 14 46 13](https://user-images.git

[2019-09-11 12:49] bendem commented on #1067
A use case for this is a product table, we want the user to be able to sort by category, **and** speed, **and** price, kind of like https://www.ec2instances.info

[2019-09-11 13:44] AlexMarcuBytex commented on #3792
@gnomeontherun was the wizard intentionally omitted in the scope-enum? i think being a component it should have its name there.. i added it. pls tell me if it s ok.

[2019-09-11 14:02] chlane commented on #3565
Hi Andrei,

What screen reader browser combinations are you using?

And are you using a mouse?

With the screen reader on, can you try using the Tab key to focus the desired button and the Enter key to activate it?

Chris

From: Andrei Constantin <notifications@github.com>
Reply-To: vmware/clarity <reply@reply.github.com>
Date: Wednesday, September 11, 2019 at 1:47 AM
To: vmware/clarity <clarity@n

[2019-09-11 14:12] andreiconstantinbytex commented on #3565
So I used the following screen readers: Ubuntu 18.04 OS default screen reader, Win 10 OS Narrator + NVDAccess. No solution worked even with the keyboard approach.

[2019-09-11 14:18] mathisscott commented on #3807
':prefers-color-theme` has no support in IE or Edge 18, so we cannot introduce a feature into the library to use it to switch between dark and light theme.

If your product does not need to support current Microsoft browsers, you can use this on the product side by building the dark theme CSS (`ng serve dev -c dark`) in terminal and then grab the generated CSS and apply it in your own app.

We wil

[2019-09-11 14:18] #3807 closed

[2019-09-11 14:21] chlane commented on #3565
Hi Andrei,

Clarity supports the Windows and macOS screen reader/browser combinations below.

•       Internet Explorer 10 or 11 and the latest version of JAWS or NVDA
•       Latest versions of Chrome, Firefox or Edge with the latest version of JAWS or NVDA
•       Latest version of Safari with the latest or previous version of VoiceOver

Can you try any of these screen reader/browser combination

[2019-09-11 14:21] andreiconstantinbytex commented on #3574
I have 2 ways of tackling this issue:
1. Treat it as a toggle-able button which has aria-label set(e.g.'Toggle') and aria-pressed= true | false, depending on whether the menu is opened or not
2. Treat the button as a menu button which has aria-haspopup="menu" and two types of aria-label, either 'Expand' or 'Collapse', depending on whether the menu is opened or not

These changes would be made on t

[2019-09-11 14:28] mathisscott commented on #248
@TrifonovSergey
The combobox has been impacted by two separate efforts.

1. The [smart popovers](https://github.com/vmware/clarity/issues/2683). It made no sense to complete the combobox without smartly positioning its dropdown.
2. A company-wide focus on [accessibility improvements](https://github.com/vmware/clarity/labels/Accessibility) across all products (even Clarity). All development for Cla

[2019-09-11 14:54] AlexMarcuBytex commented on #3352
@mathisscott i tried that and it doesnt work. the clr icon style is separated from clr angular style. dark theme file overrides just variables from clr angular components. so, what would be the right approach here if there s no dependency between them?

[2019-09-11 15:05] Jinnie commented on #3622
The `clrIfOpen` is a supported and even recommended scenario.
I think that it does not _cause_ a problem, but mostly _reveals_ an underlying one.
At some point, the `keydown` event must be preventDefault-ed, so we don't allow the whole view to scroll. Probably some component does that when the menu is initialized, but it's not done when only the `dropdown-trigger` is initialized.
If you follow the

[2019-09-11 15:06] mathisscott commented on #3352
@AlexMarcuBytex
CSS works regardless of whether it's in the dark-theme.scss file or the icons.css file.

You may need to up the specificity of what you are potentially adding to the dark theme (to override the icons CSS if it is loaded later).

But it's literally....

[code]

[2019-09-11 15:16] clane commented on #3565
@gnomeontherun I noticed our current spinner implementation adds the live region dynamically. The WCAG approach would be to populate the live region dynamically rather than add it to the page dynamically.

Could we use *ngif to populate the live region rather than add it as a whole as seen below?

<clr-spinner *ngIf="downloadinInvoice" clrMedium clrAssertive>
<span *ngIf="downloadinInvoice">
Downl

[2019-09-11 15:48] bdryanovski commented on #3565
By default the `clrSpinner` will set `aria-live="polite"` if no other option is set to `true` for example `clrAssrtive` or `clrOff`.

So placing `clrSpinner` without `*ngIf` will make the screen reader announce it when the page renders finish in general case this will be when everything on the page is loaded. So we use the `*ngIf` directive to control when this happens and also to display the load

[2019-09-11 15:58] clane commented on #3565
Can we place an empty live region on the page like this

`<div role="status" clrAssrtive></div>`

then populate it with the Loading icon and text?

`<div role="status" clrAssrtive>
<clr-spinner>...</clr-spinner>
</div>`

[2019-09-11 16:37] zerocewl commented on #3735
Maybe an additional `:host ::ng-deep ` is needed in some cases...

[code]

[2019-09-11 16:55] mathisscott commented on #3735
Thanks for the suggestion, @zerocewl

But I believe this has been fixed already.

[2019-09-11 17:57] gitfan13 commented on #112
On more upvote for a simple slider (one value on a fixed scale) and a range slider (two values on a fixed scale). Thanks in advance!

In the meantime I'll explore Jeremy's suggestion.  :-)

[2019-09-11 18:42] gnomeontherun commented on #3792
Yes thats fine to add, was a mistake to not have it.

[2019-09-11 19:20] gnomeontherun commented on #3565
The spinner needs to have `*ngIf` on it as well, or it won't announce. We decided against trying to setup a general purpose aria-live region.

[2019-09-11 19:25] gnomeontherun commented on #3574
The button should get an `aria-label` since its just an icon only button, and I believe `aria-expanded` is better to explain the expanded state of the nav. The toggle button isn't really a menu, so I don't think we want to go that direction.

[2019-09-11 21:21] gnomeontherun opened #3813 "Datalist component"
## Summary

Implement an HTML `datalist` element as an Angular control, and make sure it fits well within our forms layouts and styling.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist

* What is the change? This is a new component but of an existing HTML element that is widely supported
* Why should it go in Clarity? It provides a limited combobox like behavior and might be id

[2019-09-11 21:49] gnomeontherun commented on #3800
I believe this is related to the `toLowerCase` functionality that was added, but it didn't get pulled through all the way.

[2019-09-11 21:50] gnomeontherun commented on #3779
I don't think it makes sense to change this behavior then, because it makes it more confusing about what is happening. Let's just mark this for design to review in a forms audit and leave the behavior for now.

[2019-09-11 22:09] gnomeontherun commented on #3638
A transform causes an element to play by 3d rules, and doesn't play by the flat rules properly causing stacking issues here. We're basically nudging the icon up 2px (.083333rem) to align it more nicely. The line-height of button text and icon sizes are off by 4px, so we push up.

It might be ok to use `margin-top: -0.0833333rem` instead of the transform, but we really need to validate this across

[2019-09-12 05:21] TrifonovSergey commented on #248
@mathisscott thank you very much for the detailed answer! Now the situation with this task and focus of the project is clear for me.
We look forward to the release of this component, which, as I understand, will not be earlier than November.

[2019-09-12 09:03] sdg32 opened #3815 "Datagrid pagination reset current page when destory"
## Describe the bug

When datagrid pagination destory, it will reset current page to 1. I am not sure it’s a bug or not.

In my application, when user close the detail page and back to list page, they may forget the last page number they visited. So I cache the page number, then users can see the last page they visited instead of first page. But the pagination reset the current page, the last page

[2019-09-12 14:54] sgrtho opened #3820 "Transform on body tag breaks new popover positioning"
## Describe the bug

Adding a transform to the body tag breaks popover positioning.

## How to reproduce

Go to [https://stackblitz.com/edit/angular-mfe4zt](https://stackblitz.com/edit/angular-mfe4zt):

Steps to reproduce the behavior:

1. Try out the popovers (column toggle, single action menu)
2. Hit the top button to toggle the transform
3. Scroll a little down, e.g. to the bottom
4. Try the po

[2019-09-13 10:11] omirobarcelo commented on #3536
I've encountered the same issue.

Specifically when a filter is applied that returns 0 values, and the total items in pagination is set through `[clrDgTotalItems]`, the next refresh state will come with `{from: -1, to: -1, size: 10}`.

Is this planned to be solved, or it's going to stay like this to solve the problem fixed by feature #2947 ?

[2019-09-13 13:47] bdryanovski commented on #3483
Affected versions are `2.0.0`, `2.0.1`, `2.0.2`, `2.1.0`.

It seems that `commonStrings` is an empty object. If my memory serves me well, this was a known issue that is resolved with the change of how we provide the translation and the new service.

https://github.com/vmware/clarity/pull/3660
https://clarity.design/documentation/internationalization

This is resolve in all version after and includ

[2019-09-13 15:12] bdryanovski commented on #3800
There are two quick solutions for that issue:

* Update `validateName` function in `clr-icons.api.ts` to throw an error when the name includes upper case character.

[code]

* Update `add` function in `clr-cions.api.ts` to make everything to `lowerCase`
[code]

Other option is to revert the change for `toLowerCase` into the component. But this will introduce the bug that this two things will be se

[2019-09-13 15:35] #3803 closed

[2019-09-13 16:17] Shijir commented on #3762
closed by #3787 and #3774

[2019-09-13 16:17] #3762 closed

[2019-09-13 17:35] gnomeontherun commented on #3483
The placeholder text is working, but the filter is not. @bdryanovski are you still looking into this?

[2019-09-13 17:37] chlane commented on #3565
I’m not proposing a global live region, but rather that we change our technique from insertion of a live region to population of a live region.

From: Jeremy Wilken <notifications@github.com>
Reply-To: vmware/clarity <reply@reply.github.com>
Date: Thursday, September 12, 2019 at 4:35 PM
To: vmware/clarity <clarity@noreply.github.com>
Cc: Chris Lane <chlane@vmware.com>, Mention <mention@noreply.git

[2019-09-13 18:06] clane opened #3822 "Date Picker Live Regions are not working with NVDA/Firefox"
## Describe the bug

Date Picker Live Regions are not working with NVDA/Firefox.

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://stackblitz.com/@clr-team). Reports without a clear reproduction may not be prioritized until one is provided._

Steps to reproduce the behavior:

1.  Using NVDA/Firefox, go to https://v2.clar

[2019-09-13 18:18] Jinnie commented on #3549
cherrypicked to v2 with f2216475226219605d8e8feae779c31d3f5e523e
done

[2019-09-13 18:18] #3549 closed

[2019-09-13 20:59] gnomeontherun commented on #3815
Are you wanting the pagination to not reset before destroy? What is the use case exactly? I can imagine a way for us to prevent the binding/output from updating, but want to understand what your expectations are better.

[2019-09-14 00:39] sdg32 commented on #3815
I want to cache the pagination current page and page size, so I can show the data when user back to the list page.

For example, in order list page, user add sort and some filters. Then user nagivate to page 3, click one order item to see the detail. When user back to the order list page, I want to show the page 3 with sort and filters instead of page 1.

Actually, I found `clrDgRefresh` event is

[2019-09-14 13:17] rootix opened #3823 "Datagrid Sort Icons remain active until column is resized"
## Describe the bug

When sorting different columns, all of them remain visually in sorted state until you resize the particular column. Then the state is correctly removed.

Same happens if you programatically set the sortOrder of a column. The icon is only shown after you resize the affected column.

## How to reproduce

You can reproduce it on the documentation website of Version 2.2.0:

https:

[2019-09-16 10:26] sjcetx opened #3824 "Custom datagrid filters appear to interfere with each other"
When multiple custom datagrid filters are added some will stop working even though they all work when added individually.

https://stackblitz.com/edit/clarity-light-theme-v2-n8b4es

In the above example if both columns have a filter added only the key filter will work, the `accepts` method in the value filter is never called.  Removing the custom filter from the key column will allow the value col

[2019-09-16 10:55] rootix commented on #3823
Interesting thing: I can reproduce this in my local usage and on the website in every browser on my machine: Edge 18, Internet Explorer 11, Firefox, Chrome and Brave. But others in my company don't have this problem. I fear that this is not an easy reproducable issue. From my perspective it looks like a change detection issue but i have no idea how it can differ from machine to machine.

[2019-09-16 11:34] twittwer commented on #3475
@gnomeontherun
I just run into another use case: When I want to wrap my row with an anchor tag.
Something like this:
[code]

[2019-09-16 12:44] jacobbutton commented on #2005
What the hell is going on? Honestly, I can understand delays, and other priorities coming up. But developers that have come to rely on your framework need some sort of reliable predictability of when expected and highly anticipated features are going to release. Our development timelines depend on it!

From what I can tell the code for this feature was written back in early January. I know you've

[2019-09-16 13:54] mathisscott commented on #2005
@jacobbutton
As you can imagine, anything involving the datagrid is extremely complicated. Detail pane is currently back in development and we are targeting a release for it no later than the middle of October.

It was moved to 3.0 because it requires a breaking change in the datagrid DOM structure that might cause problems for consumers doing advanced things with the datagrid (like using wrappers

[2019-09-16 16:02] amellnik commented on #3824
Probably related: https://github.com/vmware/clarity/issues/3486

[2019-09-16 16:20] colinreedmiller commented on #3791
@jrharshath I am in agreement with @smathis regarding a design that includes actions per item. In your example the group action makes sense - we'd need to see how the alert would update when the content changes i.e. does 'show details' necessitate the container growing or a different type style? If there are several does showing details as a group make sense? In the case of 'run checks again' what

[2019-09-16 16:36] Shijir commented on #3754
closed by #3821

[2019-09-16 16:36] #3754 closed

[2019-09-16 19:13] lil-kim commented on #3686
Hi @abbyhtml ,
I want to make sure the icons you requested are accurately represented before I finalize them. Pls let me know if these are suitable:
![image](https://user-images.githubusercontent.com/23196444/64986139-40211e00-d87b-11e9-9f91-9ceb53227538.png)

[2019-09-17 06:39] Chandru22714 opened #3827 "How to give Custom width for datagrid? and it should work in all media screens(responsive)"
To make the datagrid responsive, I have tried to give custom width for each column. But it is not working. Please tell me the way to handle the datagrid responsive by giving custom width. I could not find any documentation to handle. So, please suggest me the way to fix this.

[2019-09-17 08:53] sjcetx commented on #3824
@amellnik It does appear to be, I tried adding in a third column and it worked fine while the second didn't as in #3486.
In my my project I do have a Datagrid with 4 columns, all with custom filters and they all work but my other Datagrids suffer the problem you highlighted.

[2019-09-17 10:01] dorthrithil opened #3828 "First aid kit icon"
## Summary

* What is the icon?

An icon depicting a first aid kit.

* What does the requested icon signify?

Quick help.

## Use case

Similar to the help icon, but with a focus on fixing existing problems.

Help icon: How exactly do I use application X?
Fist aid kit icon: What can I do if application X is broken?

## Examples

![98137](https://user-images.githubusercontent.com/3655915/65031735-1

[2019-09-17 11:22] #3802 closed

[2019-09-17 11:35] #3792 closed

[2019-09-17 14:37] hippee-lee commented on #3827
The datagrid responds to its container size and will try to fill the space given to it.
If there is no paging it will continue to grow vertically the more rows that it is given. If there is paging it will set the height for the datagrid so that when the user pages to the last page the height stays consistent if there are fewer rows on that page.

Horizontally, the datagrid will do a couple of thin

[2019-09-17 14:37] #3827 closed

[2019-09-17 17:01] clane commented on #3562
Updated recommendation - use an ARIA Live Region to inform the user the application is in an error state and use aria-describedby to programmatically associate the inline error messages with their respective fields. Than focus should be set to to the first field in error.  See the example below.

[code]

To recap, the live region is used to perform a status update that tells the user the form is i

[2019-09-17 19:16] jeremywiens opened #3829 "Clarity structure breaks Angular `scrollPositionRestoration`"
## Describe the bug

_When the Clarity structure is used (main-container, content-container, etc.), Angular's routing option of `scrollPositionRestoration` does not work as expected._

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v2-afps9j

**Note**: Ensure that lines 1, 13, 14, 16, 17, and 18 are still **commented** out in `app.component.html`.

Steps to reproduce the beha

[2019-09-18 03:22] plaisted commented on #3823
I am experiencing this same behavior since upgrading to 2.2.0.

[2019-09-18 05:59] Chandru22714 commented on #3827
Lets say I want to decide width of each column. How i can achieve that?

[2019-09-18 07:00] abbyhtml commented on #3686
Thanks Lilia,

The icons look great. Thank you for taking this up.

Please finalize them and make it available in the next clarity release.

Regards,
Abhishek

On Tue, Sep 17, 2019 at 12:44 AM Lilia Kim <notifications@github.com> wrote:

[2019-09-18 07:46] gnomeontherun commented on #963
Ok I didn't have time to setup a sync.

1) The optional clear function can be added but require that it is placed inside of an `clr-input-container` to work properly. I'm ok with that, its a new feature and won't work without it.
2) Look at the DOM structure of input groups in the dev app and the password. That is something we'd have to support (conditionally) when using this functionality. It mak

[2019-09-18 07:47] gnomeontherun commented on #3565
Ok, that is a separate bug that should be filed and should be done with the spinner everywhere. This can proceed as planned then and the other bug will fix the limited support issue.

[2019-09-18 07:50] gnomeontherun opened #3832 "Limited screen reader support for spinner component"
## Describe the bug

The spinner component aria-live regions aren't working in some screen readers, notably NVDA and JAWS on PC browsers. The problem seems to be the dynamic nature of the aria-live region, and the suggestion is to make it always present. However, I do not know how it will behave when used inside of components that create templates on the fly, so we need to validate that. Probably

[2019-09-18 07:55] andreiconstantinbytex commented on #3565
So inserting the spinner should suffice for now and then the bug with the screen reader will be handled separately, correct?

[2019-09-18 08:31] andreiconstantinbytex commented on #3574
Just as a side-note: this issue also occurs on v2.

[2019-09-18 11:18] lpetkov commented on #474
Can we bump the priority for the Date Range Picker? We at the VMware vSAN team are currently forced to either use a custom date picker or limit some functionality because currently, the Clarity picker doesn't support ranges. Thanks!

[2019-09-18 13:26] mathisscott commented on #963
@gnomeontherun
Have we considered what we would do for browsers (like IE, Edge, and some types of form fields in Chrome) that add this functionality all on their own?

[2019-09-18 15:04] hippee-lee commented on #3827
This question has been answered before: https://stackoverflow.com/a/48911927/164398
If you have more questions, please create a new question on stack overflow and tag it with `vmware-clarity`. I'll get notified and look at it there and it will benefit the community.

[2019-09-18 16:46] bdryanovski commented on #3824
It seems that the both issues are related to each other #3824 and #3486

[code]

When `[clrDgField]="'name'"` is removed the filter starts working and filtering the content. Not sure yet what is the reason for that. Have to investigate more deeply.

[2019-09-18 17:18] BigBadaboom opened #3833 "Ability to specify the initial/default sort column for a datagrid"
This was requested a long time ago in issue #492, and later closed as a duplicate of #355.  However as far as I can see, that was a mistake, because that request was never implemented.

Currently, if you specify `clrDgSortBy` on multiple columns, there doesn't seem to be a way to tell the datagrid component which of those columns to use by default.  As far as I can see it is always the last (right

[2019-09-19 08:34] #3168 closed

[2019-09-19 08:37] #3616 closed

[2019-09-19 11:44] real-artswan opened #3834 "clr-alerts, *ngFor, and OnPush issue"
## Describe the bug

I have custom component that uses OnPush strategy, it wraps clr-alerts which contains clr-alert components bind to array with *ngFor. On the first load it shows all contained alerts at once. If I change change detection strategy to default all works as expected.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v2-j4pjrh

## Expected behavior

it should not

[2019-09-20 08:59] envyN commented on #2906
Facing this issue with Clarity v1.1.5. But even px setting is non-functional.
Here's the stackblitz : https://stackblitz.com/edit/clarity-light-theme-v013-hh4sot

[2019-09-20 09:03] envyN commented on #2906
ok i guess it does work with px, but somehow there is a min-width being applied. it seems to work for 100px / 200px

[2019-09-20 12:36] d-m-s commented on #1821
Hi @gnomeontherun, @mathisscott

we're planning to use the drag and drop in one of our projects - therefore we'll implement the component as described in the design spec here, and would look forward to contribute!

Do you have some advice for us prior to start development?

[2019-09-20 13:35] ninodinatale opened #3836 "filterValueChange of ClrDatagridColumn does not emit changes of custom clr-dg-string-filter"
## Describe the bug

Title says it all more or less. `ClrDatagridColumn.filterValueChange` does not emit if the filter is a custom string filter (`<clr-dg-string-filter [clrDgStringFilter]="customFilter"></clr-dg-string-filter></clr-dg-column>`)

I created a stackblitz which demonstrates this: https://stackblitz.com/edit/clarity-light-theme-v11-ydvswx

There are two columns, which both have been s

[2019-09-20 14:47] Tatenda opened #3839 "Dropdown Component adding a caret"
![2019-09-20 16_46_18-vmware clarity - clr-dropdown menu icons adding a caret - Stack Overflow](https://user-images.githubusercontent.com/1932165/65336223-41798000-dbc6-11e9-90ba-91d2e09fdff9.png)

[2019-09-20 15:19] #3769 closed

[2019-09-20 17:56] hippee-lee commented on #3839
I left an answer on [stackoverflow](https://stackoverflow.com/questions/58030404/clr-dropdown-menu-icons-adding-a-caret/58031780#58031780).

I'm closing this issue in favor of the conversation over there.

[2019-09-20 17:56] #3839 closed

[2019-09-20 18:17] jzabinski opened #3840 "Datagrid disrupting focus when destroyed"
## Bug Description

_Prerequisites_

1. clr-dg-datagrid must be used by a component
2. clr-dg-pagesize must be used as a child component of requirement #1's clr-dg-datagrid

_Description_
If an element outside the datagrid currently has focus, that element will lose focus if the datagrid is removed from the page.

## How to reproduce

See [this Stackblitz example](https://stackblitz.com/edit/angul

[2019-09-20 18:39] gnomeontherun commented on #3352
@mathisscott why was this closed? The PR appears to be open?

[2019-09-20 18:40] mathisscott commented on #3352
we closed it in the leads meeting. the PR is for a backport, iirc. i'll move it back. thanks!

[2019-09-20 20:18] lil-kim commented on #3686
Attaching ready-to-ship icons:
[GH3686-icons.zip](https://github.com/vmware/clarity/files/3637583/GH3686-icons.zip)

[2019-09-20 21:21] ccabezudo commented on #2123
I will love to see this item too. Will use material design implementation while this gets implemented on clarity.

https://material.io/components/navigation-drawer/#usage

[2019-09-23 12:49] Ergnos commented on #627
This is how we use tabs in combination with the angular router, the tab is given by router param 'tab'
example: http://url/view/item;tab=details

[code]

[code]

[2019-09-23 13:46] gnomeontherun commented on #3565
@andreiconstantinbytex correct!

[2019-09-23 13:57] gnomeontherun commented on #1821
Hey @d-m-s glad to hear it and if you're interested in contributing we should align on a few things before you get too far. We also need to double check the design aligns with our current understanding since its almost 2 years old now.

@Shijir is the mastermind behind our DnD utilities, and I have many thoughts and questions before we'd dig into a technical solution.

### Things we need to review

[2019-09-23 14:02] gnomeontherun commented on #3834
Curious, we'll have to investigate this further. Workaround is not to use OnPush, which doesn't save you much here anyways.

[2019-09-23 14:05] gnomeontherun commented on #963
My thinking was we'd disable/remove the behavior if we are implementing it ourselves. There are pseudo selectors to target this IIRC.

[2019-09-23 14:07] gnomeontherun commented on #474
@lpetkov The current recommendation for a range is to have two date pickers. Does that limit your functionality? If so, please reach out to me and let's talk more about your use case.

[2019-09-23 14:09] gnomeontherun commented on #3823
This definitely looks like a bug that we need to review.

[2019-09-23 14:10] gnomeontherun commented on #3829
I believe this is related to the viewport locking we do to create the two panes in main-container, it also causes us issues with our visual screen testing. This is likely a side effect of some of the CSS used, which we'll have to investigate.

[2019-09-23 14:11] gnomeontherun commented on #3828
@lil-kim

[2019-09-23 14:14] gnomeontherun commented on #3475
@twittwer I caution against doing the above behavior with wrapping a row in an anchor. There are a few reasons but namely that the link is not intended to be there and could cause rendering issues. Also we are removing row selection (which this is very similar to) because of accessibility issues and breaking datagrid aria patterns.

[2019-09-23 14:16] gnomeontherun commented on #3832
dup of #3832

[2019-09-23 14:16] #3832 closed

[2019-09-23 14:43] gnomeontherun commented on #3536
This behavior was accepted to indicate that there were no items. However, I'm open to reverting that change and going back to original behavior. Marking for consideration.

[2019-09-23 14:48] gnomeontherun commented on #3800
We should not throw errors in cases we can handle. This lower case functionality was added without a real request to do so, so we own this as a regression for breaking behaviors. It used to be case sensitive (because JavaScript strings `'Settings' !== 'settings'` and this was fine in the past.

However, I think it makes sense to be case insensitive and to always lower case the names during inserti

[2019-09-23 15:16] twittwer commented on #3475
What is the recommended approach to a list-detail-view?
- overview page shows datagrid with item list
- "clicking" on a item navigates to next page with a detail view of the clicked item

[2019-09-23 16:45] kathygit commented on #3486
Hi, I wonder if there is a date for it get fixed. This issue prevents us from use Clr 2.0. Thank you!

[2019-09-23 19:39] gnomeontherun commented on #3475
You should wait for #3797 to land for a detail pane view.

[2019-09-23 21:02] sdurnov opened #3843 "[Header] Put overflow items in a dropdown"
Clarity responsive header shows hamburger on a media breakpoint. But if screen is larger, all items, which doesn't fit into a screen, gets cut off or force page to scroll horizontally (which may be highly unwanted), depending on overflow behavior set on a particular page.
Most popular approach is to put those items in a drop-down menu (I would like to consider other options as well).

I would like

[2019-09-23 21:08] sdurnov opened #3844 "[Header] Drop-downs support in header"
Many applications and web-sites doesn't fit in Clarity 3-level navigation model. And there are a lot of cases, when you need multi-level menu inside Header component (alone, or even when used together with subnav or side menu). For example, when you want to let users see which 2nd-level nav items can be found inside, without forcing him to navigate just to see what's inside.

Technically, I can pu

[2019-09-23 21:26] sdurnov opened #3845 "[Header] Add support for fixed/sticky header."
I'd like to have an option for Header component, which would control it's appearance during page scrolling.

Please, consider following scenarios.

### Fixed header

Equal to position: fixed. Page content should be automatically shifted down on a size of header's height (plus, perhaps, app alert height, if it's present).

### Sticky header

Same as fixed, but header must disappear when user scroll

[2019-09-24 00:25] rbirkgit commented on #3419
I spent the day extracted the deprecated forms scss files and putting them in our project. They however need many utility scss files and after copying them one by one I am basically running a copy of a quite a big chunk of clarity and now I am getting worried I will get conflicts. I tried using the 2.x files as much as needed but they changed names or removed functions etc (which I understand with

[2019-09-24 07:05] andreiconstantinbytex commented on #3565
Thank you for the update.

[2019-09-24 07:42] georgedimmitrov opened #3847 "Clarity v2 Stackblitz broken (possible dependency issue)"
## Describe the bug

Stackblitz project using clarity v2 is broken due to some dependency issue.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v2

#### Steps to reproduce the behavior:
See error `Error in /turbo_modules/intl@1.2.5/locale-data/complete.js (718:4)`
`IntlPolyfill is not defined`
![Screenshot 2019-09-24 at 10 35 13](https://user-images.githubusercontent.com/161

[2019-09-24 09:37] boeckMt commented on #566
Is there also the possibility to accomplish this for routing, so when the footer is inside the 'content-container', to have different content for each route?

[2019-09-24 09:43] sb-zeus commented on #566
For using the theme-colors i think this should work, but i dont know if the Position will be correct. Perhaps you have to modify the css to fixed Position of the header tag.
Not tested example:
.clr-footer {
position: fixed;
bottom: 0px;
max-height: 25px !important;
}
Please leave a comment if that works for other users ...

[2019-09-24 10:42] sdurnov commented on #3847
Commenting intl line in polyfills recovers it

[2019-09-24 14:21] AlexMarcuBytex commented on #1984
Im currently working on this so you can assign me.

[2019-09-24 14:32] andreiconstantinbytex commented on #2897
I would like to be assigned to this one, please.

[2019-09-24 14:40] florin-borceanu commented on #2203
I'm working on this issue, can you assign me please?

[2019-09-24 14:55] florin-borceanu commented on #3813
I would like to be assigned. Thanks!

[2019-09-24 14:57] andreiconstantinbytex commented on #1347
I would to get assigned. Thanks!

[2019-09-24 15:08] jacobbutton opened #3848 "Nested <clr-dg-action-overflow> in datagrid"
Provide similar functionality as nested dropdown menus

https://v2.clarity.design/dropdowns

in the datagrid single action menu.

https://v2.clarity.design/datagrid/single-action

[2019-09-24 15:44] hippee-lee commented on #3848
@jacobbutton - the row action component projects whatever it is given so you can put a dropdown in there if the app needs it e.g - https://stackblitz.com/edit/gh-datagrid-row-action-dropdown

I'm going to close this as a question.

[2019-09-24 15:44] #3848 closed

[2019-09-24 16:00] juanmendes commented on #1984
@gnomeontherun Are you going to spec the work in the style of  https://github.com/vmware/clarity/issues/474 ?

[2019-09-24 19:27] gnomeontherun commented on #3847
This seems like some transient dependency issue that is causing it. The workaround is to remove it for now, usually not needed for our demos.

[2019-09-24 19:29] gnomeontherun commented on #1984
@juanmendes That is the main inspiration but this specific feature doesn't have a design for this specific feature. We have to review it with design, but the functionality is pretty limited in scope and shouldn't impact anything else.

[2019-09-24 21:13] gnomeontherun commented on #3419
You should be using `v1` branch since all of the files are there, and what we'd be expecting is that you'd use some scripts (in the package.json) to run the same types of commands but making sure it builds with only the necessary forms pieces.

[2019-09-24 21:20] gnomeontherun commented on #3008
Long term, we're going to want to standardize all values as date strings. This will put us in alignment with how HTML input[type=date] elements work, but I don't see a reason to make this change until we've built a web component version of this. We'll keep this in the backlog, and bring it up when we revisit the date picker for.

[2019-09-24 22:09] rbirkgit commented on #3419
After two days I think I got it working using this in the main styles.scss  Had to copy a few clarity 1.x scss files as they contain functions etc that no longer exist in clarity 2.x

[code]

[2019-09-24 22:31] lil-kim commented on #3688
All icons for: #3828, #3686, #3726, #3727
are completed:
[all icons for this epic.zip](https://github.com/vmware/clarity/files/3649728/all.icons.for.this.epic.zip)

[2019-09-24 23:13] lil-kim opened #3849 "Fix typo in chart color graphic"
## There's a typo in the graphic under Color Palette >Chart Color Schemes
https://v2.clarity.design/color#chart
![image.png](https://images.zenhubusercontent.com/5840974cb9dc3c622022d1df/7eb406a2-8623-4cd7-8cae-229f5016d2dd)

Please replace image with this one:![img_charting_example.png](https://images.zenhubusercontent.com/5840974cb9dc3c622022d1df/234ca394-2bc5-496c-a6d7-6327fc57b9ba)

[2019-09-25 18:13] kathygit commented on #3486
I dug into the code ... Here is the reason:
When we use clr-dg-string-filter and clr-dg-numeric-filter, we don't project new content, but alter the accepts() to define our own filter criteria.
In this case _this.customFilter = false

[code]

[2019-09-25 19:00] kathygit commented on #3486
I am not sure what the fix should be, maybe in DatagridFilterRegistrar ?
We shall add a check to search the registrar by filter name ?

[code]

[2019-09-25 19:35] kathygit commented on #3486
or, just remove this block
[code]

[2019-09-25 22:05] gnomeontherun commented on #3486
@kathygit thanks for taking a dive into this and doing some triage! I haven't had a chance to dig into the whole extent of the problem, but if you can verify your fixes with the stackblitz demo in the ticket I'd welcome a PR to help us take a closer look and get this fixed up.

[2019-09-25 22:05] gnomeontherun commented on #3849
I liked it before myself.

[2019-09-25 22:07] gnomeontherun commented on #3843
Thanks for the suggestion, I'll put it into our list of considerations.

[2019-09-25 22:08] gnomeontherun commented on #3844
I need to dig into the history of why we don't have dropdowns, but the vertical nav is where we intend to have nested links. Adding to considerations.

[2019-09-25 22:09] gnomeontherun commented on #3845
Another interesting suggestion, and again I need to dig into the history and see if there are reasons we haven't done this already.

[2019-09-25 22:10] gnomeontherun commented on #3836
This might be related to #3486. Needs triage.

[2019-09-25 22:13] gnomeontherun commented on #3266
Partially blocked by https://github.com/angular/angular/issues/29361.

[2019-09-25 23:00] #3517 closed

[2019-09-26 06:38] alexkoretzki commented on #3128
i would love that you will make a full example how to use it because  i am also try to use it and cant understand from the docs how it works

[2019-09-26 08:34] sdurnov opened #3853 "[Website] Header from Alerts example overlays its title over website header title"
## Describe the bug

On an Alerts documentation page, Header from the example somehow interferes with the website header and overlays its title over website header branding area.

![image](https://user-images.githubusercontent.com/32732457/65671831-a7e02180-e050-11e9-89cd-3abd045b62ad.png)

## How to reproduce

Steps to reproduce the behavior:

1.  Go to [https://v2.clarity.design/alerts](alerts d

[2019-09-26 09:20] Jinnie commented on #3567
I apparently linked this from the wrong PR.
Setting the pipeline accordingly.

[2019-09-26 09:26] georgedimmitrov commented on #3847
Thanks @sdurnov! Commenting out the intl line in polyfills worked and made our stackblitz behave normally for now 👍

I think the issue (probably a transitive dependency as mentioned above) should still be tracked/fixed, but it's good that we have a workaround for now :)

[2019-09-26 09:32] ashishh62 commented on #2342
Hi Team,
Is there any update o this?
Is the issue fixed?
If yes, how can we do it?

[2019-09-26 10:07] #3483 closed

[2019-09-26 10:20] Jinnie commented on #3564
V2 b96b587b87a796c378badaebd6d4bd1337df1723
V1 890d399baee1cc7566495b4e1e943998d35778fc

[2019-09-26 10:20] #3564 closed

[2019-09-26 12:58] d-m-s commented on #1821
@gnomeontherun

One thought about the **Contribution**:
 - What do you think about setting up an **own branch for this in Clarity repo**?
 - so we can contribute against that branch (PRs) and you guys can **review the code** and make **improvement suggestion upfront**?

As mentioned we're really willed to deep dive into contribution here!

[2019-09-26 16:33] #3800 closed

[2019-09-26 21:11] gnomeontherun commented on #1821
Thanks for the demo @d-m-s, and we're going to discuss tomorrow. The complexity is quite high, and I want to ensure we can all be successful to see it through. We'll need to think about how to break it down into smaller chunks as well, and let me get back to you shortly.

[2019-09-26 22:17] #3628 closed

[2019-09-26 22:19] gnomeontherun commented on #3847
I just set the default templates to comment out `intl` package. Closing as resolved.

[2019-09-26 22:19] #3847 closed

[2019-09-27 03:17] hc-codersatlas opened #3857 "hamburger menu position"
## Summary

Ability to select the hamburger menu button position (and the side which the menu slides out from).

* What is the change?

variable to choose e.g. left or right

* Why should it go in Clarity?

Improve mobile experience

* Does this change impact existing behaviors? If so how?

No

* If this change introduces a new behavior, is this behavior accessible?

Yes

## Use case

Most modern

[2019-09-27 06:48] kathygit commented on #3847
How to fix an existing one on stackblitz, e.g. ?
https://stackblitz.com/edit/clarity-light-theme-v2-cwbulg?file=src%2Fapp%2Fapp.component.html

[2019-09-27 07:45] rootix commented on #3696
We experience the same issue. Some of the fields get so small that the filter and sort icons are invisible (column "Objektnummer" in this example) and the drag line goes over the text of the second column when the accordion is initially closed.

![image](https://user-images.githubusercontent.com/874015/65751553-3022fd00-e10b-11e9-8030-e0ff8d90a7e5.png)

This does not happen if the accordion is ope

[2019-09-27 13:15] davidrourke commented on #3804
Any update on this?  Since this broke current functionality, I would think it would be a higher priority.  In addition, this is keeping me from upgrading to your latest release (2.2.1) which I need to address other issue we are experiencing.

[2019-09-27 13:46] gnomeontherun commented on #3847
Just comment out the line from polyfills.ts like so, and then reload the preview browser (it doesn't seem to automatically refresh sometimes with catastrophic errors).

[code]

[2019-09-27 13:56] florin-borceanu commented on #112
I started working on this, and this is what I've done so far:
![Screenshot from 2019-09-27 16-04-32](https://user-images.githubusercontent.com/53469024/65773877-c7a54180-e145-11e9-89a2-4aadc8bfcd31.png)
**_API_**
**- value**
The default two-way bound property of the `input type="range"`. This property can set a default value for the component. If the value is not set, the default one is `(min + ma

[2019-09-27 15:38] hippee-lee commented on #3696
@rootix - can you provide a simple reproduction in [stackblitz](https://stackblitz.com/@clr-team)? It's hard to investigate without seeing the issue with working code.

[2019-09-27 16:02] clane commented on #3567
Additionally,  a low vision user using zoom or magnification functionality may not be able to visually perceive the toggling effect of the stack view button because of the interstitial content filling the viewport.

[2019-09-27 16:39] mathisscott commented on #3567
@Jinnie
Is this effort complete?

[2019-09-27 16:39] gnomeontherun commented on #3696
I believe one workaround would be to call the Datagrid.resize() method on open to force the Datagrid to recalculate sizes.

[2019-09-27 17:55] #3556 closed

[2019-09-27 18:03] kathygit commented on #3486
Finally I found the root cause --- classic index issue.
Look at the method below:

[code]

We store "index" with the  registered filter at the filter creation time:
var index = this._all.length;

Then later on we clear up the default string filter if there is a semi-custom filter at line:
 _this._all.splice(index, 1);

We do the clear up after we have registered all the filters.
For each semi-cust

[2019-09-27 18:14] kathygit commented on #3486
@amellnik
Can I send you the fix, it will be faster than me fork and push a PR ?

[2019-09-27 18:48] kathygit commented on #3486
@amellnik here is the fix:
FiltersProvider.prototype.add = function (filter) {
        var _this = this;
        var index = this._all.length;
        var subscription = filter.changes.subscribe(function () { return _this.resetPageAndEmitFilterChange([filter]); });
        var hasUnregistered = false;
        var registered = new RegisteredFilter(filter, function () {
            if (hasUnregister

[2019-09-27 19:19] kathygit commented on #3824
We shall close this as duplicate to #3486

[2019-09-27 23:04] sammydc commented on #112
@florin-borceanu  That is really nice!  Is it also possible to have option for color indicators on the slider as you are moving the slider?  There are cases when you want to have additional cues on whether your settings approach a certain threshold or unrecommended but valid settings.  Say for example, initially green, then as slide to 65% the color turns to yellow and as you go to 95% change the

[2019-09-28 00:46] amellnik commented on #3486
@kathygit Great catch!  I'm traveling at the moment but could put together a PR next weekend if you don't get to it first.  Thanks!

[2019-09-28 03:17] Crackroach opened #3858 "Add information of when was introduced an icon"
## Summary

The current documentation of the icons doesn't state when it was introduced, making it hard to know if it is available when using a certain version of `@clr/icons`.

Adding a simple

`Introduced in @clr/icons 1.3.1` would suffice when clicking on an icon.

Even better would be to filter them by availability per version

## Example
#### Current
![Current version](https://user-images.git

[2019-09-29 19:50] rootix commented on #3696
@hippee-lee Sure, here it is: https://stackblitz.com/edit/clarity-light-theme-v2-cuusjx

- The issue happens only if there is not enough space for the columns
- It does not happen if the column titles can break

@gnomeontherun I tried this already in afterViewInit with no luck. The only temporary hack was to put the grid in another ng-container which *ngIf set to true after an delay of 1ms after t

[2019-09-29 22:24] gnomeontherun commented on #3858
This is a duplicate of #1808, which we have a design for but haven't prioritized yet. Follow #1808 to get updated.

[2019-09-29 22:24] #3858 closed

[2019-09-30 08:26] mcosta74 commented on #1364
HI,

this is my [proposal](https://stackblitz.com/edit/clarity-app-modal).
The main idea is to have a top level component (like the app alerts) controlled by a service.

The API shall be cleaned and documented but, if accepted I can work on a "formal" contribution proposal

[2019-09-30 14:49] coryrylan opened #3861 "Stepper Prevent Navigation for Async Tasks"
## Summary

Currently the stepper uses Angular Forms to determine state and when to navigate to the next step panel. If an async task needs validation it can use async validators to pause before continuing. Currently however if you need to run an async task that needs to return a result and is not input validation the stepper will continue to the next step regardless if the async task has complete

[2019-09-30 15:10] Jinnie commented on #3575
May be ready to close, after we get confirmation that Jeremy's requested text changes for V1 `need merge`/`are merged`/`don't need merge` to V2 and master

[2019-09-30 15:20] Jinnie commented on #3565
Seems this was merged.

[2019-09-30 15:20] #3565 closed

[2019-09-30 19:00] hippee-lee commented on #3696
@rootix - I was able to find a way to make resize work.

I modified the example provided to use de-sugared syntax on the second row to grab the grid reference and call resize on it after the template has been rendered. I also used a separate grid because the reference needs to be distinct. If there are two templates with `#grid` rendered I'm not sure if it would call resize on the right one.

```<

[2019-10-01 01:04] gnomeontherun commented on #112
@florin-borceanu I've assigned it, and will be curious to see the details. I wasn't expecting a dual range option in this case, so we need to consider it carefully.

@sammydc the challenge is that using color to indicate meaning is against accessibility guidelines, so there has to be supplemental messaging to indicate that same meaning. Also, we want to start with an MVP and nail that before we ma

[2019-10-01 01:54] gnomeontherun commented on #1821
@d-m-s Alright, so here is what we can do to get started.

1) I have created a feature branch for us to work on. https://github.com/vmware/clarity/tree/topic/tree-view-dnd-1821 We should use this to submit smaller PRs against so we can build it up.
2) I think the first thing to do is the minimum to achieve the invalid drop scenario. That shows the basic drag behaviors without the complexities of i

[2019-10-01 05:01] KakovkinPA opened #3863 "Holidays or non-availability notification icon"
## Summary

* What is the icon?
Airplane in the chat bubble.
* What does the requested icon signify?
Message that person has a holiday, vacation, availability limitation, etc.
* In which product(s) will this icon be used?
Any services with persons.
## Use case

It's a type of information icon which specifically shows that person is unavailable for work or communication because of some reason. You

[2019-10-01 16:36] tran2 opened #3864 "Performance Issues On Datagrid with expandable rows"
## Describe the bug

Compared to v1, v2 datagrid with expandable rows performance is worse.

## How to reproduce

v1: https://stackblitz.com/edit/clarity-light-theme-v1-0-xux9hr
v2: https://stackblitz.com/edit/clarity-light-theme-v2-ycwsj6

Steps to reproduce the behavior:

1.  Go to stackblitz link for v1 and v2
2. Click on the load button
3. See that for v1 it takes a few seconds but v2 takes wa

[2019-10-01 17:53] gnomeontherun commented on #3863
@lil-kim

[2019-10-01 19:25] mvorisek7 commented on #3429
BlueprintJS does something interesting with this. They only enable the outlines if they are using tab to navigate, otherwise if mouse use is detected, they disable the outlines. You can read more about it here:
https://blueprintjs.com/docs/#core/accessibility

It might be worth looking into to see how feasible it would be to implement in Clarity

[2019-10-01 22:30] mcosta74 commented on #3765
Hi, I have a proposal for this issue, shall I create a new Issue with the Contribution template or should I attach it here ?

[2019-10-01 22:43] gnomeontherun commented on #3765
You can post it here, happy to review it!

[2019-10-01 23:00] mcosta74 commented on #3765
## Summary

Implement a Timeline component

## Use case

Dynamic timeline

## Examples

N/A

## API

Here a proposed snippet
[code]

Components/Directives:

* `clr-timeline` component

| Input/Output | Values                   | Default      | Effect                            |
| ------------ | ------------------------ | ------------ | --------------------------------- |
| [clrLayout]  | 'horizon

[2019-10-02 05:53] #3486 closed

[2019-10-02 11:16] chitayta commented on #351
Hello,
I think many people need it for their cases, including me! :D

[2019-10-02 14:28] #3398 closed

[2019-10-02 14:48] #3369 closed

[2019-10-02 14:48] #3368 closed

[2019-10-02 14:49] #1915 closed

[2019-10-02 14:51] gnomeontherun commented on #3282
@bdryanovski Can you review if the fix for #3859 resolves this issue? This appears to be on v1, so maybe that backport was necessary and fixed this?

[2019-10-02 14:56] gnomeontherun commented on #3824
This should be resolved by #3859, closing as resolved.

[2019-10-02 14:56] #3824 closed

[2019-10-02 15:16] gnomeontherun commented on #1821
@d-m-s please be aware of the PR https://github.com/vmware/clarity/pull/3851 which makes some accessibility improvements to tree view.

[2019-10-02 19:38] gnomeontherun commented on #3765
Thanks @mcosta74, I've assigned this to you and think your proposal is generally in alignment with what we'd like to see. Thanks for taking this on, and I presume we don't need a topic branch since I believe this would be small enough code (especially since its all new).

[2019-10-02 19:41] mcosta74 commented on #3765
hi @gnomeontherun.
Not sure it will be super small because we should address:
* code + unit tests
* documentation
* dev app

So, you expect to have a single PR with `master` as target branch ?

[2019-10-02 21:34] gnomeontherun commented on #3765
I don't expect it to be super small, and if we need a topic branch we can make one if you wish. You let me know what works best, or you can also work on your own branch and ping us for a review before you make an official PR. I'm flexible, mostly just want to see us move forward smoothly.

[2019-10-02 22:59] mcosta74 commented on #3765
Actually I'm almost done with the [code](https://github.com/mcosta74/clarity/tree/feat/timeline-angular-component).

I have to write UTs and complete the documentation.

[2019-10-03 10:41] sdurnov opened #3870 "Custom styles via scss lack clear dependencies"
## Describe the bug

I want to be able to customize the Clarity grid and components, to use component-specific variables, i.e. $clr-header-height, in my custom global scss (not for theming, but first and foremost, for fine-tuning existing components layout).

In previous versions of Clarity we had `dependencied.clarity` scss file. Currently, I can't figure out how to make things work.

I've tried

[2019-10-03 12:54] mathisscott commented on #3870
Hi @sdurnov
Just so I understand what is being asked...

It sounds like you don't want to make a theme but you want to get a hold of the Clarity variables? But it seems like you still want to be able to change those variables in your own styles? Or are you trying to reuse the variables in your own CSS?

But in the steps to reproduce, a theme is being generated.

This may be a documentation issue.

[2019-10-03 13:08] #3476 closed

[2019-10-03 13:10] sdurnov commented on #3870
@mathisscott I want to reuse existing variables AND to override some of them.

After investigating imports in your website code, I came up with a solution, where I do something like this:
[code]

in a first import, I only override the grid breakpoints map, in overrides, I have this:
[code]

variables is a copy of the same file from your website code,
container and header are just global overrides

[2019-10-03 14:29] gnomeontherun commented on #3833
We only support sorting by one column, so you should only set the one column you want to use by default or it uses the last one in the list. That is why those issues were closed because they work for a single column scenario. As far as a multi-column sorting that is captured in https://github.com/vmware/clarity/issues/1067 and I refer you to that issue since that is how you'd get the support you'r

[2019-10-03 14:29] #3833 closed

[2019-10-03 14:37] gnomeontherun commented on #3870
I have run into this behavior before if you try to pull certain files, sometimes the dependency tree is unclear and it is a challenge to trace back.

However, I believe this should be resolved by changing to custom properties, which means you wouldn't have to build our Sass to customize variables for v3+. That indirectly will address your concern.

[2019-10-03 14:41] gnomeontherun commented on #3853
Strange but the zindex seems different on this page.

[2019-10-03 14:44] sdurnov commented on #3870
@gnomeontherun so are you planning to switch to CSS variables? Am I getting it right? Then how are you going to provide, let's say, ability to extend/change the grid breakpoints and classes, generated with mixins, based on sass maps?

[2019-10-03 14:55] mcosta74 commented on #3765
@gnomeontherun I'm writing UTs but form Coding Guidelines is not clear (at least to me) what is the difference between `Template API` and `View`.

I think `Typescript API` are tests to check the component logic without interacting with the template but .... what about the other two ?

[2019-10-03 15:01] gnomeontherun commented on #3765
Good question, let me try to clarify.

`Typescript API` is to test any public methods on the components themselves, like they are just generic objects. Your tests should only manipulate the components through the component methods and then validate the behaviors.
`View` tests are to validate the resulting behaviors from if a user interacted, like if there is a way to click an item or type into a f

[2019-10-03 15:07] mcosta74 commented on #3765
great, I think this answer could go (as is) in the` CODING_GUIDELINES.md` instead of the `(details coming soon)`

[2019-10-03 16:26] mathisscott commented on #3870
@sdurnov
Even if we moved to CSS variables, there would still be global CSS that has to be generated by SASS. Somethings would still need to hang out in SASS. The grid breakpoints being one of those things. CSS variables will give some degree of control over the layout of components. But they aren't going to allow you to edit the responsive breakpoints we have today in SASS. That will still requir

[2019-10-03 16:30] mathisscott commented on #3849
This was pushed/merged into `master` and will be fixed when 3.0 documentation is generated and released.

[2019-10-03 16:30] #3849 closed

[2019-10-03 19:20] gnomeontherun commented on #406
Closing this as a duplicate of https://github.com/vmware/clarity/issues/1821

[2019-10-03 19:20] #406 closed

[2019-10-03 19:22] gnomeontherun commented on #1213
This should be resolved as of 2.2.0, closing as fixed by #2923

[2019-10-03 19:22] #1213 closed

[2019-10-03 19:25] gnomeontherun commented on #1183
This is resolved as part of #2923 and fixed in 2.2+. Closing as resolved.

[2019-10-03 19:25] #1183 closed

[2019-10-03 19:30] adumesny commented on #3419
The form breaking in 2.x is also affecting FlyingDragon and apps that use that lib. looking back at 0.11 documentation - the LAST to have more fancy form with multiple items per line and controls https://vmware.github.io/clarity/documentation/v0.11/forms I don't see anything close to that complexity in 0.12 - 2.x documentation! I can switch code to new angular format, but then all input controls s

[2019-10-03 19:30] gnomeontherun commented on #1149
I tested this against latest master and don't see this problem if you put the tree view inside a container. It was rewritten in v2 and seems to be resolved. Closing as fixed unless we can get an updated demo.

[2019-10-03 19:30] #1149 closed

[2019-10-03 19:33] gnomeontherun commented on #1177
The core ask here is no longer a problem with #2923 which will only allow one to be open at a time in v2.2+.

Closing as no longer valid, and if we need changes here we'll have to assess against latest implementations.

[2019-10-03 19:33] #1177 closed

[2019-10-03 19:35] mcosta74 commented on #3765
@gnomeontherun, what about if I create a PR with code and unit tests. once it will be merged (and API approved) I can create a second PR for the documentation.

In the current branch I have also updated the dev app to show both static and angular version of the timeline

[2019-10-03 19:56] gnomeontherun commented on #1542
This has been fixed by #2923 and I'm going to close this as resolved.

[2019-10-03 19:56] #1542 closed

[2019-10-03 20:59] gnomeontherun commented on #2115
This behavior seems to be resolved by #2923 so I'm going to mark this as fixed.

[2019-10-03 20:59] #2115 closed

[2019-10-03 21:01] gnomeontherun commented on #1937
This was resolved with the work on accessibility and #3521, closing as fixed.

[2019-10-03 21:01] #1937 closed

[2019-10-03 21:03] gnomeontherun commented on #2240
This is resolved by the #2923 implementation, closing as fixed.

[2019-10-03 21:03] #2240 closed

[2019-10-03 21:05] gnomeontherun commented on #2550
This is fixed with the #2923 implementation, closing as fixed.

[2019-10-03 21:05] #2550 closed

[2019-10-03 21:22] gnomeontherun commented on #2979
This appears to have been resolved with #2923 and perhaps also due to #3859. Closing as resolved from the demo.

[2019-10-03 21:22] #2979 closed

[2019-10-03 21:23] gnomeontherun commented on #3232
Closing due to inactivity, and our roles are set based on guidance for accessibility.

[2019-10-03 21:23] #3232 closed

[2019-10-03 21:26] gnomeontherun commented on #3348
Closing as stale, and likely fixed from addressing #2923.

[2019-10-03 21:26] #3348 closed

[2019-10-03 21:31] gnomeontherun commented on #3870
This seems like a duplicate of #3479. At this point I'm going to close this in favor of the original.

[2019-10-03 21:31] #3870 closed

[2019-10-03 22:36] gnomeontherun commented on #3392
I'm going to close this as something we won't do since it would break accessibility for the tooltips.

[2019-10-03 22:36] #3392 closed

[2019-10-03 22:40] gnomeontherun commented on #3703
This is resolved by by #2923 and is fixed in 2.2.

[2019-10-03 22:40] #3703 closed

[2019-10-04 10:04] caubah commented on #3419
Do we have any estimates on this one? Updating to latest Angular is vital for our app since it contains multiple performance updates that will affect directly our customers.

As @rbirkgit suggested if we have easier migration path it will even speed up the form rewriting as this can be done in multiple commits, instead of a huge one, that will most probably introduce regressions in our Production

[2019-10-04 12:20] blomm opened #3877 "Datepicker date format to allow DD MMM YY"
Can we have the option to display dates in DD MMM YY (or YYYY) please.
So 20 Mar 19 for example

[2019-10-04 14:20] AlexMarcuBytex commented on #3813
Im currently working on this. I investigated the datalist more carefully and i found that css style wont work for these datalist options.
![Screenshot from 2019-10-04 17-17-20](https://user-images.githubusercontent.com/53469146/66214751-ff266780-e6ca-11e9-90be-a66f103224e2.png)

In this case, what should be done?

[2019-10-04 18:02] #2005 closed

[2019-10-04 18:04] rkomiyama commented on #3853
<img width="589" alt="Screen Shot 2019-10-04 at 2 03 13 PM" src="https://user-images.githubusercontent.com/347483/66229429-cb8a1400-e6af-11e9-9ec1-3021f71d5db6.png">

I have a fix. Will be putting up my first PR shortly.

[2019-10-04 18:53] gnomeontherun commented on #3813
For this, the best styling that we can do out of the box is where we should start. We don't style everything in a select box fully because HTML form elements don't always have ways to do this. So get as far as possible and we'll review it.

[2019-10-04 20:26] gnomeontherun commented on #3836
To make this work, you subscribe on the filter using `(clrFilterValueChange)` event, accessing the columns doesn't work when you put an explicit filter into the column.

[code]

I'm not sure if this is a bug or the expected behavior, but what happens is underneath if you provide a custom filter we remove the default filters and use your filter. That means the column no longer controls the filterin

[2019-10-04 20:30] #1138 closed

[2019-10-04 23:45] clane opened #3880 "Tooltips disappear when they are hovered over"
## Describe the bug

Tooltips disappear when they are hovered over

## How to reproduce

Steps to reproduce the behavior:

- Go to http://cx-guidelines.vmware.com/clarity-test-app2
- Activate the "Tooltip Demos" links
- Hover over the tooltip icon under the "Angular Component" heading and observe that the text "Lorem" appears in a speech bubble
- Hover over the speech bubble and observe that it di

[2019-10-07 08:57] mcosta74 opened #3881 "Replace "gemini" with "hemione" or something else"
## Summary

* What is the change?
Replace the tool used to run visual regression testing (gemini)

* Why should it go in Clarity?
Gemini is declared as deprecated in the [github repository](https://github.com/gemini-testing/gemini); this mean that most likely will not be longer maintained.
The request is to introduce a different tool (maybe [hermione](https://github.com/gemini-testing/hermione))

[2019-10-07 13:08] artemisclyde opened #3882 "Add disabled state for dropdown trigger button"
## Summary
Currently for the dropdown component you can only disable the dropdown items via `[clrDisabled]`. It would be nice to also be able to disable the dropdown trigger via the same boolean input.

## Use case
We have a dropdown with options that are dependant on the currently selected item in a medialibrary. For some items, all options in the dropdown are disabled (this works), but it would

[2019-10-07 13:19] artemisclyde commented on #3882
My bad, there seems to have been some caching issue in my browser. Can be deleted.

[2019-10-07 13:19] #3882 closed

[2019-10-07 14:20] #2203 closed

[2019-10-07 14:28] gnomeontherun commented on #3881
We already have a plan to move to Applitools. We already have some tests moved over, but were giving it a longer trial run before moving the rest. This will happen soon as we can.

[2019-10-07 14:28] #3881 closed

[2019-10-07 14:42] ArturGudiev opened #3884 "Lines are not shown in datagrid after manual width change"
## Describe the bug

In datagrid a have a column which can contain cells with very long names. If I revise the column width until horizontal scroll appears then some parts of datagrid lines become invisible.

## How to reproduce

Steps to reproduce the behavior:

1.  Create a datagrid with styles for **clr-dg-cell** `overflow: hidden; text-overflow: ellipsis;`.
2.  Add long strings in first column

[2019-10-07 20:30] #3569 closed

[2019-10-07 20:30] #3573 closed

[2019-10-07 21:18] gnomeontherun commented on #3877
Thanks, what is the use case here? We depend upon the locale and browser defaults for setting these formats, so this is a non-trival change to make it work properly.

[2019-10-07 21:19] gnomeontherun commented on #3880
I think this might be addressed by using new popovers, but flagging this as a bug to track it.

[2019-10-07 21:20] gnomeontherun commented on #3884
Can you help us out by having an isolated reproduction to test this with using Stackblitz?

[2019-10-07 23:51] #1721 closed

[2019-10-08 04:27] Rush commented on #3479
Just wanted to bring my own comment on the same topic https://github.com/vmware/clarity/issues/2442#issuecomment-501149800

I also have an open ticket https://github.com/vmware/clarity/issues/3444

I still owe you an answer @mathisscott. The reason I have not commented yet is that I was awaiting on answer from my frontend dev for all of the reasoning. It wasn't a blocker since we were actually abl

[2019-10-08 06:19] blomm commented on #3877
hey there, thanks for getting back.  I've got an international currency trading app I'm building and I'd like to be as clear as possible with the date between North America and Europe.

[2019-10-08 13:38] blomm commented on #3877
20 Mar 2019 would be fine btw

[2019-10-08 13:44] mathisscott commented on #3479
@Rush
Thanks for circling back to us on this.

#3444 is a different issue from this one. I'd prefer to keep the issues relevant to their individual topics so as to not engage in scope creep or conflating seperate bug reports or feature requests into one issue.

I'll comment there on the state of maps and variables in the SCSS.

For this issue (the addition of a dependencies.scss file so people can

[2019-10-08 13:57] mathisscott commented on #3444
Hi @Rush
Per your comments on #3479 ...

The removal of the maps is intentional as I explained above. Likewise, those lookup functions are an intermediary step that we are likewise moving away from and will be deprecating in the future.

All of this is a journey to move the library towards CSS custom properties.

That doesn't help your use case but it is good background information for this conver

[2019-10-08 14:06] Rush commented on #3444
Thanks @mathisscott for your reply - I have somebody working on this again. I'll report back any feedback and lessons learned. Even if only to let other people educated about the challenges.

[2019-10-08 14:15] mathisscott commented on #3444
That would be great and super helpful. It should be noted that with custom properties _styling_ the buttons will become easier but _creating new types of buttons_ will be... well... as hard as it is right now.

If we have a better understanding of what you are trying to do with the buttons, we might be able to add some hooks in that will make it easier for you. Maybe a couple of custom variants th

[2019-10-08 14:30] meeroslav commented on #3479
Sorry @mathisscott, I somehow missed your reply.

My intent is to reuse the clarity variables in my custom angular component's SASS files to maintain the same visual style.

[2019-10-08 16:23] ph55 commented on #2204
Here we go again.
After upgrading from version 1 to 2, workaround doesn't work anymore.

[code]

[2019-10-08 20:51] chlane opened #3889 "Textual boundaries are missing from the Master Details pane"
Test URL: https://datagrid-detail-pane.surge.sh/datagrid/detail
Clarity Version: v2.0.0-rc.1
Angular Version: 8.0.0-rc.1
OS: any
Browser: any
Screen Reader: any

WCAG 2.1 Guideline:
Success Criterion 1.3.2 Meaningful Sequence
(Level A)

Description:
The Master Details pane is implemented as a dialog with textual boundaries but those boundaries are currently empty as seen below.

<div class="clr-sr

[2019-10-08 20:58] chlane opened #3890 "Disabled Toggle Switch Helper text has poor contrast due to reduced opacity"
Test URL:  https://clarity.design/documentation/toggle-switches
Clarity Version: any
Angular Version: any
OS: any
Browser:any

WCAG 2.1 Guideline:
Success Criterion 1.4.3 Contrast (Minimum)
(Level AA)

Description:
Disabled Toggle Switch Helper text has poor contrast due to reduced opacity. Even though the control this text is describing is disabled, this text must still meet a minimum contrast ra

[2019-10-08 21:01] chlane opened #3891 "The clr-validate-icon does not have a textual equivalent"
URL:
https://clarity.design/documentation/input

WCAG 2.1 Guideline:
4.1.2 Name, Role, Value
(Level A)

Description:
The clr-validate-icon does not have a textual equivalent. This icon is not decorative, it is used as a non-color based indication of an error state.

According to the
Error state section of the Inputs documentation page, the clr-validate-icon appears when the .clr-error class is add

[2019-10-08 21:10] gnomeontherun commented on #3889
This should be implemented in the final version. The URL provided is outdated.

You can verify by going to https://deploy-preview-3797--vmware-clarity.netlify.com/dev/ and Datagrid->Detail page.

[2019-10-08 21:16] chlane commented on #3889
This should be implemented in the final version.  Follow the steps below to see the fix in the dev version

- Go to https://deploy-preview-3797--vmware-clarity.netlify.com/dev/
- Then go to Datagrid->Detail page.
-  Open the details pane and check the HTML for textual boundaries

[2019-10-09 01:26] phrehnck opened #3893 "Tabs always highlights the first tab when using tabs as routerLinks"
I'm using tabs as child routes for a component with the following:

                  <clr-tabs>
                    <clr-tab *ngFor="let subComponent of subComponents">
                      <button clrTabLink [routerLink]="subComponent.path" routerLinkActive="active">{{subComponent.label}}</button>
                    </clr-tab>
                  </clr-tabs>

The routerLinkActive attribute works

[2019-10-09 07:45] webplease commented on #248
I follow too, the Clarity autocomplete function is too important.

[2019-10-09 12:22] ArturGudiev commented on #3884
@gnomeontherun
Yes, sure.

This is a link for project https://stackblitz.com/edit/angular-6bbo1x
But there is one problem. You need to manually add style for .**datagrid-table** class from dev tools. For some reason this style is not applied in StackBlitz from styles file (app.component.css). In my local project the style is applied well.

See example

![Screen](https://user-images.githubuserconte

[2019-10-09 13:59] gnomeontherun commented on #3893
This is likely a problem with your implementation, because you are setting the `routerLinkActive` class based on the URLs. This can happen when you have a root path (like `/status`) and then child paths (like `/status/daily`). With nested routes, its technically true that both would be active when you are on a child.

To fix this usually you just add `[routerLinkActiveOptions]="{exact: true}"` to

[2019-10-09 13:59] #3893 closed

[2019-10-09 14:05] #1018 closed

[2019-10-09 14:18] shravansofts commented on #2005
Is there an example documentation page for this component?
Im searching in datagrid, but could not find it. :(

[2019-10-09 15:13] gnomeontherun commented on #2005
Documentation is pending, but you can see our demo here https://github.com/vmware/clarity/blob/master/src/dev/src/app/datagrid/detail/detail.html

[2019-10-09 15:17] shravansofts commented on #2005
Im looking for example at
https://clarity.design/documentation/datagrid/structure

What is the minimum required angular version when clarity v3 GA is released?

[2019-10-09 15:23] mathisscott commented on #2005
@shravansofts
Angular 8

[2019-10-09 15:27] gnomeontherun commented on #2005
We will certify it for Angular 9 actually. If there are no breaking changes on Angular's side that affect us to support Angular 8, we will be able to support both, but we don't know yet.

[2019-10-09 16:16] gnomeontherun commented on #3884
This seems to be a problem with putting `.datagrid-table { width: 100% }` in the mix. Here is a better demo because you need to put the widths on the columns, not the whole table. By doing so, CSS calculates the 100% width initially but resizing expands it beyond that and the overflow scrolling kicks in. Also to target classes inside of a component (which is something to avoid) you have to use `::

[2019-10-09 16:16] #3884 closed

[2019-10-09 17:30] jacobbutton commented on #3796
There is probably a much more eloquent way of achieving this, but this was really bothering me and here's the work-a-round I was able to come up with.

[code]

[2019-10-09 17:56] phrehnck commented on #3893
Editor:
https://stackblitz.com/edit/angular-5kueix

Non-default route showing that the first tab is always active on first load:
https://angular-5kueix.stackblitz.io/clients/settings

[2019-10-09 18:07] phrehnck commented on #3893
Here is a fork of the same thing but without Clarity:

Editor:
https://stackblitz.com/edit/angular-rvhbwz

Non-default route:
https://angular-rvhbwz.stackblitz.io/clients/settings

[2019-10-09 20:16] clane commented on #3349
Another solution for (4) would be to use a polite live region to announce a status update saying that the grid page has changed and to leave focus on the pagination button. This way we don't have to choose an element to focus and screen reader users will hear that the page has changed and hopefully understand that they need to go back and read the beginning of the grid.

[2019-10-09 20:35] clane commented on #3372
Taking a closer look at the Salesforce example I found that it does not support arrow key navigation between cells as expected of an ARIA Grid. We are going to have to place visible handles within the cells and allow users to focus the handles with technique described at [Editing and Navigating Inside a Cell](https://www.w3.org/TR/wai-aria-practices-1.1/#gridNav_inside) for navigating inside a cel

[2019-10-10 09:26] slcj commented on #3823
I'm also experiencing this behaviour since upgrading to 2.2.0.
Angular 8.2.8
Chrome 77.0, Firefox 69.0 Safari 12.1.2 on Mac-OS
Chrome 75.0 and Firefox 60.7.1esr on Windows 10

I'm not experiencing this bug with version 2.1.0.

[2019-10-10 16:02] ElesGergo opened #3899 "Wizard is not responsive"
## Summary
It would be great if the wizard component is reaponsive. I feel like it is not save to use it without the responsiveness, since nowdays most users are using phones.

* What is the change?
Make the wizard component responsive.
* Why should it go in Clarity?
Because now it makes the component not useable for mobile devices.
* Does this change impact existing behaviors? If so how?
Just the

[2019-10-10 16:59] ph55 commented on #3823
Exist on both server and client grids.
You can reproduce on official docs:

![image](https://user-images.githubusercontent.com/1386622/66589934-4bc0e580-eb98-11e9-9f42-cdeb9f27c70f.png)

![image](https://user-images.githubusercontent.com/1386622/66589987-727f1c00-eb98-11e9-9bb5-4aeabc977496.png)

[2019-10-10 18:15] colinreedmiller commented on #1825
Have we considered the case where a user drags an item to a datagrid which is filtered such that the dropped item joins the datagrid in an out of view position? This could even be a different page. In this case the user might assume the drag-and-drop operation was unsuccessful - the absence of the item from the tree view should suggest otherwise, but without some feedback they could be uncertain o

[2019-10-10 18:15] gnomeontherun commented on #3899
This is known, and one reason why we've provided the Stepper as a strong alternative for the Wizard. If responsiveness is important, I recommend using the Stepper instead.

[2019-10-10 19:58] amellnik commented on #3737
I can take a swing at this -- I was going to make a PR to propose other changes to the DataGrid docs (like how the usage notes appear at the bottom of every section).

[2019-10-11 05:32] asachan2707 opened #3900 "Datagrid appending rows to table on pagination"
## Describe the bug

Rows are appending on pagination instead of navigation

## How to reproduce
Kindly follow these links to reproduce
https://stackblitz.com/edit/angular-kqi9nq
https://angular-kqi9nq.stackblitz.io/

Steps to reproduce the behavior:

Click on pagination buttons to see the behavior

## Expected behavior

Pagination must paginate according to row count

## Versions

**App**

* Angu

[2019-10-11 06:42] Dannybrown2710 commented on #3900
Facing same issue in 8.2.9 and clarity 2.2.0
Cannot replicate in 8.0.1 and clarity 2.0.1

[2019-10-11 15:10] gnomeontherun commented on #3574
This should be closed by #3860

[2019-10-11 15:10] gnomeontherun commented on #3575
This should be closed by #3860

[2019-10-11 15:11] gnomeontherun commented on #3567
Need to verify if this was fixed fully

[2019-10-11 15:11] gnomeontherun commented on #3526
This should be resolved.

[2019-10-11 15:32] gnomeontherun commented on #3900
It appears the demo is not setup fully. Clarity depends on the `BrowserAnimationsModule` and it appears adding that is solving the problem.

What is confusing to me is that there are no errors like I might expect, but that does appear to be a fix for it. I'll leave this open for now to dive a little deeper into why.

[2019-10-11 15:33] gnomeontherun commented on #3737
Awesome, I'll assign you!

[2019-10-11 16:24] asachan2707 commented on #3900
Thanks, @gnomeontherun it works. I had missed the required dependency.

But if it's required then it has to throw some error to intimate the user as you are also expecting.

[2019-10-11 21:24] royling opened #3902 "horizontal stepper"
## Summary

Now, the stepper has only vertical layout, accordion-like. But it does limit how it can be used in some a bit complex cases. I once described this in https://github.com/vmware/clarity/issues/3680#issuecomment-520287853...

There's also a [stepper component in AngularMaterial](https://material.angular.io/components/stepper/overview), the default layout is horizontal, with a variant for

[2019-10-14 06:54] kalpeshhpatel opened #3904 "`clrDgActionOverflowOpenChange ` event does not trigger with Clarity version 2.2.2"
## Describe the bug

With Clarity version 2.2.2, clrDgActionOverflowOpenChange event is not triggering for datagrid action menu.

## How to reproduce

Here is the stackblitz demo:
https://stackblitz.com/edit/clarity-light-theme-v2-dmofdk

Steps to reproduce the behavior:

1.  Go to 'https://stackblitz.com/edit/clarity-light-theme-v2-dmofdk'
2.  Click on grid action menu
3. Observe the console. It

[2019-10-14 12:09] Jinnie commented on #3904
The event does not get emitted, because the following if-condition is always `false`:
[code]

[2019-10-14 16:51] chlane commented on #3375
Just pointing it out this is also a JAWS 2019/Chrome and NVDA/Firefox issue as described in the additional notes but we wont be including JAWS 2019/Chrome as one of our 'best used on' combinations so we don't have to worry about it.

[2019-10-14 17:24] Jinnie commented on #3893
Please see https://github.com/vmware/clarity/issues/627
If you want to use the `clr-tabs` component, you'll have to manually update the current `ClrTabLink` component, based on the `router.url`. I have a demo of it, but it's pretty complicated, and seeing that you don't use the tab-content at all, you don't need all the underlying state and services. I'd suggest using the Static version of the tab

[2019-10-14 17:44] Jinnie commented on #627
Please check this approach, where static tabs are used instead of Angular component:
https://stackblitz.com/edit/clarit-tabs-with-router-static?file=src/app/clients/clients.component.html

The Angular component has its own underlying state and updating logic, which you also need to update, so what's shown on the screen is not disconnected from the component state (that's where duplicated active ta

[2019-10-14 19:36] phrehnck commented on #3893
Thank you @Jinnie .  Switching to static did the trick.

[2019-10-14 22:37] chlane commented on #3550
Closing this. My opinion was that flat buttons would not be visually distinguishable from other text making it difficult for sighted speech recognition users to visually perceive these controls as buttons but I have been assured that these will be styled in such a way that it is visually obvious these are buttons.

[2019-10-14 22:37] #3550 closed

[2019-10-15 02:15] gnomeontherun commented on #3902
A horizontal accordion was not on our radar when developing, so I can't speak to how easily it could be done technically. Before we get to that though, we should talk about the overlap with the Timeline here. I think in many ways that would be the ideal instead of a horizontal accordion, because the Material version you show is different by being more like a set of tabs that have content sliding.

[2019-10-15 09:51] andreiconstantinbytex commented on #2718
I would like to be assigned to this issue.

[2019-10-15 09:51] andreiconstantinbytex commented on #963
I would like to be assigned to this issue.

[2019-10-15 12:30] Jinnie commented on #3575
I think it's in V1 only currently.
@andreiconstantinbytex ?

[2019-10-15 12:31] andreiconstantinbytex commented on #3575
Indeed, this is in V1 only.

[2019-10-15 12:37] Jinnie commented on #3864
I confirm I have a fix for this. Needs to be prioritized, so it can get tested and merged.

[2019-10-15 12:45] jacobbutton commented on #2005
Is there going to be a way to incorporate the router to get to a particular item?

How difficult would that be to do?

[2019-10-15 17:27] mathisscott opened #3905 "Migrate icons to clr-core"
## Summary

_Summary the request and address the questions as appropriate._

* What is the change?

Move shapes from clr-icons to clr-core. they will live in two places through 3.0 with final switchover to 4.0 or 5.0.

* Why should it go in Clarity?

Need shadow DOM encapsulated icons for icons to work inside of other web components.

* Does this change impact existing behaviors? If so how?

Not r

[2019-10-15 17:30] mathisscott opened #3906 "Migrate charts icons"

[2019-10-15 17:31] mathisscott opened #3907 "Migrate commerce icons"

[2019-10-15 17:32] mathisscott opened #3908 "Migrate essentials icons"

[2019-10-15 17:33] mathisscott opened #3909 "Migrate "core" icons"

[2019-10-15 17:33] mathisscott opened #3910 "Migrate media icons"

[2019-10-15 17:35] mathisscott opened #3911 "Migrate social icons"

[2019-10-15 17:36] mathisscott opened #3912 "Migrate technology icons"

[2019-10-15 17:37] mathisscott opened #3913 "Migrate text edit icons"

[2019-10-15 17:38] mathisscott opened #3914 "Migrate travel icons"

[2019-10-15 18:01] reddolan opened #3915 "Theme switcher for the docs site"
## Summary
* A control to change the documentation website (clarity.design) from light theme to dark theme
* all components and documentation would switch
* possibly a cookie to remember which theme the user selected so the next time the visit the site, they will be in their preferred theme
* possibly have the switch in the upper right corner in the header

[2019-10-15 20:15] royling commented on #3902
@gnomeontherun totally agree that a horizontal accordion is not an option in this case. And yeah, the horizontal stepper in angular material is more like a timeline.

If the timeline component can be an option for the design, is it better to add this in the timeline doc?

[2019-10-16 12:54] rbirkgit opened #3917 "Vertical scroll bar gets hidden under datagrid header on Edge"
## Describe the bug

The vertical scrollbar gets hidden behind the datagrid header? When it's short (i.e. many rows in the grid) it gets hidden completely behind the grid header and you cannot see it at all.

## How to reproduce

https://v2.clarity.design/datagrid/fixed-height

## Expected behavior

See the scrollbar :)

## Versions

* Angular: 7
* Node: 8
* Clarity: latest 1.x (I believe also on

[2019-10-16 13:34] rbirkgit commented on #3917
This css style is set: `-ms-overflow-style: -ms-autohiding-scrollbar;` Removing it the scrollbar no longer auto-hides and behaves properly.

[2019-10-16 17:46] #3815 closed

[2019-10-17 12:44] cristianfalcone commented on #3843
A pattern, examples and implementations to take in consideration for this: https://css-tricks.com/the-priority-navigation-pattern/

[2019-10-17 19:05] nghiado commented on #3861
+1

[2019-10-17 19:11] nghiado opened #3923 "Stepper - Need to access stepper state from template"
## Summary

The step title section has three states: completed, active, to-do but we can't access them in template
* What is the change?
Expose stepper state so we can use it to display extra info based on stepper state.

* Does this change impact existing behaviors? If so how?
No

## Use case
Display some values configured inside each step on step completed

_Provide some specific details about h

[2019-10-17 20:25] riteshtiwari commented on #474
For the time picker, should  we also have "reset" option to reset the time back to the current time. For Date, we always know the current date because of the bolder font but in case of time, if we change it by a few hours/minutes, then we have to close/open to reset to  the current  time. Would having a "current time" or a "reset time" button
![GitLab-Example-Reset](https://user-images.githubuserc

[2019-10-17 21:33] gnomeontherun commented on #3923
@nghiado Could you elaborate a bit further on exactly what you need to do here? The states of a panel is linked to the form validation as well.

[2019-10-17 22:07] nghiado commented on #3923
As shown in the screenshots, we need to show domains (entered by user in Enter Domains step) only when that step is completed (user clicked on Next button in Enter Domains step and moved to the next step Choose Verification Method).
The state show as blue - completed in step 1 but from our component, we can’t access to step internal state.

[2019-10-17 22:08] nghiado commented on #3923
We can’t use form state since it could be valid but user hasn’t clicked on Next to complete the step yet

[2019-10-17 22:13] gnomeontherun commented on #180
This bug seems to be alright in latest testing. I'm going to close this as out of date.

[2019-10-17 22:13] #180 closed

[2019-10-17 22:14] gnomeontherun commented on #273
Closing as stale.

[2019-10-17 22:14] #273 closed

[2019-10-18 07:55] Vaishak commented on #2503
is there going to be a horizontal implementation of this?

[2019-10-18 14:43] AlexMarcuBytex commented on #3465
I can add a quick fix to this issue. I would like to be assigned. Thank you!

[2019-10-18 15:14] AlexMarcuBytex commented on #3880
I ll investigate this issue. You can assign me. Thanks!!

[2019-10-18 15:34] gnomeontherun commented on #2342
Closed by #3887

[2019-10-18 15:34] #2342 closed

[2019-10-18 15:44] gnomeontherun commented on #3282
I've look at this again, and it appears that it was resolved by the #3859 backport. Closing this as fixed, just update to latest v1 to get the fix.

[2019-10-18 15:44] #3282 closed

[2019-10-18 17:31] shravansofts commented on #3603
This is an important feature.
Why this is marked as LowPriority? :(

[2019-10-18 19:46] gnomeontherun commented on #1550
This should be resolved by https://github.com/vmware/clarity/pull/3749.

[2019-10-18 19:46] #1550 closed

[2019-10-18 19:54] gnomeontherun commented on #3603
It is low because its a recommendation but not a requirement, and it is also quite difficult to implement because of the nature of lazy loaded tree views not knowing the whole tree. We don't have a model of the data, but only know about the structure once it is rendered, so traversing to search for values is also a performance drain that we have to consider.

[2019-10-18 19:59] gnomeontherun commented on #3880
This is one we need to consider more carefully as I look at it, because CSS only version isn't possible to fix this problem (`:hover` properties are used to display the tooltip, but moving the mouse will always hide the content).

For the Angular component we could address this somehow, but this is first blocked by moving tooltips to new popovers. We'd have to implement some kind of mouse tracking

[2019-10-18 20:00] gnomeontherun commented on #3465
Sounds good, thanks!

[2019-10-18 20:12] gnomeontherun commented on #3902
To consider a horizontal stepper, we'd need clear use cases. I've heard this request several times but without any real context for what the problem is that it solves that our other form containers don't. We have accordion, stepper, wizard, or vanilla forms, so adding yet another layout makes it more confusing.

In addition, there are several challenges with a horizontal layout:

1) Horizontal spa

[2019-10-18 20:12] gnomeontherun commented on #2503
@Vaishak see #3902 but in short we don't have plans to make a horizontal version.

[2019-10-18 20:45] gnomeontherun commented on #3889
Closing as resolved.

[2019-10-18 20:45] #3889 closed

[2019-10-18 21:21] mlusca opened #3925 "navigation responsive"
The burger menu does not appear in small resolutions, do I need to do anything else?
I have read and reread the documentation but I can't make sidenav work along with responsive navigation for small resolutions.
Is there any online demo working for me to see?

[2019-10-19 01:13] drhax9908 commented on #3077
sorry to post on this very old closed issue, but I had a similar issue with my own website, and I found the source of that extension altered code. If you use BitDefender TrafficLight, it will add code to the site, the div tag with id BDTLL_feedback is one of the things it adds.. No clue why it was adding style code however. I confirmed it was BitDefender's extension by turning it off. I honestly t

[2019-10-19 15:10] TekSiDoT commented on #3276
@hippee-lee Any chance you could revisit this issue? I'd be willing to contribute if necessary.

[2019-10-20 11:50] thojo opened #3927 "Navigation targets (links) are centered in side panel with responsive design"
## Describe the bug

When using the responsive navigation the navigation links in the side panel are displayed with centered text instead of left aligned text,

## How to reproduce

Unfortunately, the StackBlitz Templates do not work for me in any browser. But you can reproduce it on the Clarity website.

1. Got to https://clarity.design/
2. Shrink the window to mobile width
3. Open side panel fro

[2019-10-21 12:54] d-m-s opened #3928 "Dropdown mistakenly reclaims focus when clrCloseMenuOnItemClick is set to false"
## Describe the bug
### How to reproduce
1. See the last example on clarity documentation > dropdowns,
    where clrCloseMenuOnItemClick is set to false.
    Additionally an input field has been added next to the dropdown example
2. When the user opens the dropdown, eg selects one of the items,
3. then clicks on the input element,

**See error:** shortly the input elements gains focus but instantl

[2019-10-21 16:23] coryrylan opened #3929 "Common Strings i18n"
## Summary

We need to move the `CommonStrings` service from `@clr/angular` to `@clr/core` to better support i18n. This will create a dependency between `@clr/angular` and `@clr/core`.

https://github.com/vmware/clarity/pull/3920

[2019-10-21 16:50] plaisted commented on #3923
We had a similar use case and just added a click handler to the next button like:
[code]
It gets triggered regardless of if the stepper moves forward (eg. form validation prevents move to next step) so need to manually make sure state is valid but otherwise seems to work well.

[2019-10-21 17:02] hippee-lee commented on #3276
Hi @TekSiDoT - I'm open to virtual scrolling as described here as long as it doesn't have the same issues that infinate scrolling have wrt accessability because those same a11y requirements will still apply. It will need to take into account everything that has already been applied to make the datagrid accessible and ensure that it doesn't block the enhancements that are still needed. E.g - keyboa

[2019-10-21 22:53] jrharshath opened #3930 "Separators in button group overflow menu"
## Summary

Button group overflow menus should have the ability to have separators just like select dropdown components shown here: https://clarity.design/documentation/dropdowns

* It will enable some use cases where we want to logically section off the overflow menu with related actions grouped together
* It should be in Clarity because it makes the framework richer in terms of functionality
* I

[2019-10-22 02:15] amalitsky opened #3931 "Partial imports for clr/angular pull in the whole lib"
## Bug/feature request

`import { ClrIconModule } from '@clr/angular';` pulls the whole `@clr/angular` module into the app.

Basically it behaves the same way as whole library import via `import { ClarityModule } from '@clr/angular';`. No _tree shaking_ is being observed.

Whole `@clr/angular` module weights about 1.2Mb (or 100Kb gzipped) hence it is very significant price to pay for a few (or eve

[2019-10-22 10:59] derkoe opened #3932 "clrDroppable does not work with fullTemplateTypeCheck"
## Describe the bug

When using `clrDroppable` in an Angular application with `"fullTemplateTypeCheck"` activated in `"angularCompilerOptions"` then the application does not compile with:

    Directive ClrDroppable, Property 'isDraggableMatch' is private and only accessible within class 'ClrDroppable<T>'

## How to reproduce

- Create a new Angular app: `ng new my-app` (current Angular CLI sets `

[2019-10-22 11:57] artemisclyde opened #3935 "[ICON] file-share should be folder-share"
I found the icons for _file_, _folder_ and _file-share_ to be slightly misleading.

_file-share_ depicts a _folder_ icon with a sharing symbol. I think it should either be renamed from _file-share_ to _folder-share_ (opening the opportunity for creating a real sharing icon for files) or the icon should be changed.

_(Image upload of the icons here on Github isn't working as I'm creating this)_

[2019-10-22 13:55] rootix opened #3936 "Datagrid uses wrong trackBy and breaks selection"
## Describe the bug

We have a dynamic datagrid with a configuration source for the columns. Because of this, we use a ngFor-loop for the `clr-dg-column` and utilize a trackBy function to improve performance.

We experience the issue that if the grid is initialized with selected items, the first selected item is not selected but the last item of the list. By debugging i found out, that the selecti

[2019-10-22 17:09] vanilsonbr opened #3937 "Date Picker being redered with validation icon"
## Describe the bug

a validation icon (clr-validation-icon) is showing up when I create a a `input[type="date"]`, wrapped by clr-date-container or not. I tried many different combinations of inputs, using [(clrDate)], using [(ngModel)], but the icon shows up every time. I'm not using forms, just two way databinding.

## How to reproduce

Create a `<input type="date" clrDate />` inside your HTML f

[2019-10-22 17:41] gnomeontherun commented on #3931
Can you please provide details of exactly what tool you used to build and run the analysis? There are several tools and it isn't clear what you're using here.

[2019-10-22 19:15] robsull commented on #2268
I'd like to keep the same data set when switching between datagrid and card views. So if I'm on page three of the list and switch to cards I will be on page three of the card view. So ideally, the paging control for a card view would feel similar to paging on the list, with the same info and controls.

[2019-10-22 19:57] thojo commented on #3925
Do you import `ClarityModule` into your `NgModule`. Do you use the `clr-main-container` and `clr-header` Angular components? Have you added `[clr-nav-level]="1"` to your `.header-nav` element inside of `clr-header`. [See Docs](https://v2.clarity.design/navigation#responsive-navigation).

[2019-10-22 20:11] gnomeontherun commented on #3931
I can't duplicate this on a simple test.

[code]

This tree shakes as expected.

The question I have is that perhaps what is happening is you are seeing the icons here? Have you tried using a different module and `source-map-explorer` to look at your final bundles?

[2019-10-22 21:07] amalitsky commented on #3931
Lemme try same on the seed app itself, I'll get back to you. Screenshot attached was taken from the different app. Tool used to produce the report is https://www.npmjs.com/package/webpack-bundle-analyzer

[2019-10-22 22:33] daniaremon opened #3938 "DataGrid Row Nested Group"
## Summary

Datagrid row grouping, with nested grouping, and with the capability of show total in number columns; without supressing the column sorting and filtering.
In this grouping mode, the paging disappear, because it doesn't apply and would be to much difficult to undestand. And in this mode, the loading of group records must have the options of lazy loading.

## Use case
This is a similiar

[2019-10-22 23:21] amalitsky commented on #3931
Can confirm that tree shaking appears to be working for the seed app. For `ng build --prod` I am getting:
[code]
when `crl-icon` is the only component used _somewhere in html_ and
[code]
when `clr-data-grid` is also used.

Bundle size for the later is bigger and it makes sense. In **both** cases _@clr/angular_ lib is imported as `import { ClarityModule } from '@clr/angular'`.

Hence I assume that

[2019-10-23 00:38] gnomeontherun commented on #3938
This appears to be a request for nesting into a hierarchical datagrid. We actively recommend against this pattern and do not plan to support it. The primary reason is that it confuses the behavior of many aspects of a datagrid. See https://github.com/vmware/clarity/wiki/Hierarchical-datagrid for some detail.

Ultimately I recommend you consider a different approach to visualizing your content to a

[2019-10-23 00:38] #3938 closed

[2019-10-23 00:47] gnomeontherun commented on #3937
Hi there, the validation icon is there, but it should be hidden. It seems like your Stackblitz shows this working as expected, (icon is there, but doesn't appear as expected).

As far as I understand, this is working as expected because that is how we render a form input to be ready for form validation. A hidden icon isn't a problem is it? Closing this as working as expected.

[2019-10-23 00:47] #3937 closed

[2019-10-23 09:54] rajukundu opened #3940 "clr-dropdown-menu not accepting spaces"
## Describe the bug
We have a text input dropdown menu, expecting user to enter free text with spaces(e.g. "free text") and on click of Save the dropdown should get closed. The dropdown gets closed on pressing spacebar and ignore spaces. hence user not able to enter text with spaces.

## How to reproduce
Sample code -
<clr-dropdown [clrCloseMenuOnItemClick]="false">
    <span clrDropdownTrigger>

[2019-10-23 14:56] gnomeontherun commented on #3940
Hello, while I see the intention of having an input here, it is not a pattern we will support in the dropdown menu. That is really the behavior of the #248 or #3813 both of which are coming soon. It is important that components are not conflated with behaviors that are semantically different, especially with regards to accessibility, consistency, and general usability.

Please look for one of the

[2019-10-23 14:56] #3940 closed

[2019-10-23 19:28] spitfjre commented on #3266
Progress.

[2019-10-23 21:59] #3823 closed

[2019-10-24 18:43] #3853 closed

[2019-10-25 04:34] yuezhizizhang opened #3942 "Remove the title from the info icon in signpost component"
## Describe the bug

For <clr-signpost> component, if you don't specify the custom trigger, an info icon is added. On the info icon, the title is set as below:

<clr-icon shape="info" role="none" title="Info">

An title attribute is specified on the icon. However, there is no where to override it or localize it.

Please remove this title attribute from the info icon.

## How to reproduce

https://

[2019-10-25 10:29] bdryanovski commented on #3942
I think better solution here will be to provide a way to localize it than removing it.

Maybe providing a new commonString key will do the job.

[2019-10-25 12:34] apurva121 opened #3943 "Custom datagrid Filter"
There is an example of custom color picker filter in the documentation of data grid filters.
Can I get the implementation of that filter? The strings filter are easily customisable but color picker implementation is not clear.

[2019-10-25 13:21] bdryanovski commented on #3943
It's not that different:

In the case of the color filtering, there is a custom filter that you could check [here](https://github.com/vmware/clarity/blob/master/src/website/src/app/documentation/demos/datagrid/utils/color-filter.ts)

After that, you just apply it into the `clr-dg-column`:

[code]

[Here](https://v2.clarity.design/datagrid/custom-filtering) you could find the basic template for cus

[2019-10-25 13:36] bdryanovski commented on #3942
With the second look it seems that if you don't implement the trigger we gonna handle this for you.

[code]

You could change the default text by extending `commonStrings.keys.info`. [Here is how.](https://v2.clarity.design/internationalization)

If you need to have more control or customize every icon title, you will just have to implement the trigger. That seems ok for me.

[2019-10-25 14:07] bdryanovski commented on #3917
With `-ms-overflow-style: -ms-autohiding-scrollbar;`
![Capture](https://user-images.githubusercontent.com/204564/67577521-7614b600-f6f5-11e9-96e7-a3842f84c079.PNG)

And without
![Capture2](https://user-images.githubusercontent.com/204564/67577556-84fb6880-f6f5-11e9-9ff9-82678f9aacc7.PNG)

I think that the first screenshot the correct behavior. You are scrolling only the content between the header

[2019-10-25 14:14] rbirkgit commented on #3917
In the first screenshot, part of the scrollbar is hiding under the header. I rather see the whole scrollbar :)  All other browsers also have the scrollbar like in the lower picture.

[2019-10-25 14:29] bdryanovski commented on #3917
How small is this Datagrid?

Can you provide Stackblitz demo?

[2019-10-25 14:34] apurva121 commented on #3943
I just wanted to see the implementation such that I can see where can I change the number of colors which should be displayed in the filter. Do I need to implement the basic clrdatagridfilter interface or I can do customisation on the custom color filter?
These are some of the questions which came in my mind on reading the documentation.

[2019-10-25 14:43] rbirkgit commented on #3917
Size doesn't matter. You can go to Clarity doc site (link in original post) and you see that the scroll bar hides behind the header. When you get more items in your grid, the scrollbar gets shorter. At some point it will be shorter than the header and you won't be able to see the header at all.

All other browsers have it like the lower pic, which makes sense as you can no see the whole scrollbar

[2019-10-25 14:49] bdryanovski commented on #3943
The `clr-datagrid-color-filter-demo` is a demo component available only on the website - is not part of the `@clr/angular` package. So if you need to have the same filter you will need to copy some other files as well. Check the source-code [here](https://github.com/vmware/clarity/blob/master/src/website/src/app/documentation/demos/datagrid/utils/color-filter.ts)

No, you don't need to implement `

[2019-10-25 15:08] bdryanovski commented on #3917
Can you provide a working demo?

I can't reproduce this. Thanks.

[2019-10-25 15:10] apurva121 commented on #3943
Thanks a lot. This is quite helpful. If only you could provide the source code link somewhere in the documentation ,it would be easier to understand the flow of the components

[2019-10-25 15:11] rbirkgit commented on #3917
https://v2.clarity.design/datagrid/fixed-height

Just tested with Edge and scrollbar hides behind header.

[2019-10-25 15:38] hippee-lee commented on #3943
Hey @apurva121 - it looks like your question was was answered on stack overflow here: https://stackoverflow.com/questions/58558480/designing-custom-color-picker-filter-using-clarity-design

Please post questions there as it is a better format for answering how-to types of questions like this one.

[2019-10-25 15:38] #3943 closed

[2019-10-25 15:41] gnomeontherun commented on #3917
I'm quite certain this is related to old Edge/IE not handling sticky headers well. There are some versions of Edge that have a bug related to this.

[2019-10-25 16:40] apurva121 commented on #3943
Hi Matt,
I only asked the question on stack overflow. But I also raised an issue on
GitHub as the response time was faster here.

Regards,
Apurva

On Fri, 25 Oct, 2019, 9:08 PM Matt Hippely, <notifications@github.com>
wrote:

[2019-10-25 16:44] gnomeontherun commented on #3942
@bdryanovski is correct, the way to customize is to define your own trigger or localize the `info` text. We do a fallback and it localizes based on common strings. Closing as working as expected.

[2019-10-25 16:44] #3942 closed

[2019-10-25 17:00] hippee-lee commented on #3917
We can remove it but, that means that scrolling datagrids on edge will always have the vertical scrollbar. This will affect the horizontal width of the datagrid. When the datagrid fills its container horizontally and it has vertical scrolling there will always be horizontal scrolling because the scrollbar width gets added to the overall width of the columns. and the table content overflows horizon

[2019-10-25 17:04] rbirkgit commented on #3917
Not sure how it's different from chrome and firefox which always show the scrollbar.

[2019-10-25 17:20] hippee-lee commented on #3917
Actually, now that I'm checking the code on my Windows vm you are right. Edge is fine with it removed. However, this breaksdatagrid layout in IE11 pretty bad which is probably why I had it in there. I don't see an obvious way to address the reported issue without breaking scrolling datagrids in IE11.
<img width="1031" alt="Screen Shot 2019-10-25 at 10 18 45 AM" src="https://user-images.githubuserc

[2019-10-25 22:48] rbirkgit commented on #3917
This is odd. I just tested removing the flag on my IE11 (Win10) and it looks and behaves good.

[2019-10-26 16:18] hippee-lee commented on #3917
How was it removed? Was the css rebuilt from sources and the page reloaded?

[2019-10-27 10:13] GuyNitzan opened #3945 "clr-dropdown-menu is cut when opened from the bottom of the window"
I'm using clr-dropdown-menu to display some optional operations on an object.
The dropdown is always opened to the bottom (unless I declare otherwise in the HTML), So if the object is too low in the window, the dropdown list is cut and the user can't see the bottom part of it.
Isn't there a support for this issue by Clarity? Or should I implement a function that returns the correct [clrPosition] a

[2019-10-28 07:16] bdryanovski commented on #3945
We know for this issue and we gonna address it with the new Smart Popover.

[2019-10-28 12:16] ph55 opened #3946 "Alert text not selectable inside modal"
![image](https://user-images.githubusercontent.com/1386622/67677604-23552b80-f98d-11e9-8717-e5d54d39b798.png)

Reproduction:
https://stackblitz.com/edit/angular-gtrjj9

Probably related to:
https://github.com/vmware/clarity/pull/3821

Workaround:
Adding `tabindex=1` to `clr-alert` will make it selectable.

[2019-10-28 14:09] tnuttin1 commented on #3804
Any update on this bug fix?

[2019-10-28 15:31] hippee-lee commented on #3945
Thanks for reporting this. I'm going to close it in favor of https://github.com/vmware/clarity/issues/1262

When #1262 is resolved it will take care of this.

[2019-10-28 15:31] #3945 closed

[2019-10-29 04:08] xuyi0130 opened #3947 "Cannot access https://clarity.design/documentation/badges"
## Describe the bug

The `badges` section for Clarity document is inaccessible. Click that link would result in certain error.
![image](https://user-images.githubusercontent.com/22249137/67736973-8ce44100-fa44-11e9-9e36-9c4fdb21720a.png)

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://stackblitz.com/@clr-team). Reports

[2019-10-29 12:52] gurumaxi opened #3949 "Signposts are cut off on smartphones"
## Describe the bug
Signposts are cut off when the distance from the info icon to the border of the screen is too small.

## How to reproduce
1. Got to https://clarity.design/
2. Shrink the window to mobile width
3. Go to the signposts page
4. In the section Code & Examples, click on the info icon above the second code example.

## Expected behavior
The signpost should change position automaticall

[2019-10-29 15:58] gnomeontherun commented on #3949
When reporting a bug, please provide more information and a reproduction to help us understand and triage. Screenshots are pretty hard to debug in many cases. I can't be sure this is a problem with Clarity or with something specific in your application.

In this case, this is likely because of position relative clipping issues that will be solved when we migrate signposts to our new popovers logic

[2019-10-29 16:29] hippee-lee commented on #3949
We definitely need a reproduction for this. Smart popovers won't fix content that is too large (so tall or wide it goes offscreen on two sides of the viewport) to have a valid position.

[2019-10-29 21:06] Karankang007 opened #3950 "Selection List"
[code]

Ability to select a single an item or multiple items from a list of items.
Clarity already has a list component, but it does not support selection capabilities natively.

Example:
https://material.angular.io/components/list/overview#selection-lists

[2019-10-29 21:22] gnomeontherun commented on #3950
How does this pattern differ from a list of checkboxes? What is the exact use case here that we're interested in addressing?

[2019-10-30 08:08] danail-vasilev commented on #2923
Hello,
Is the popover supported for signposts inside datagrid ?
I've tried with the latest Clarity version but the signpost is cut inside the grid:
snapshot - https://www.screencast.com/t/cZEcwAPC5
example - https://stackblitz.com/edit/clarity-7fb2bb

[2019-10-30 08:47] danail-vasilev opened #3951 "Datagrid filter icon state is not updated when the filter is applied programmatically"
Hello,
I am trying to set a built-in datagrid filter programmatically. When doing so the filter is properly applied but the filter icon is not applied. If you click on the filter icon its state is updated.  You can find a runnable example here:
snapshot - https://www.screencast.com/t/S0uUaE9lYJU4
example - https://stackblitz.com/edit/clarity-2umjop

I am not sure why the filter in this example is

[2019-10-30 09:06] TekSiDoT commented on #3266
Now blocked by #33482

[2019-10-30 11:45] rosullivan-2 commented on #2204
I'm also seeing this issue. Seeing it now I've upgraded to v2.3.0.

[2019-10-30 11:46] rosullivan-2 commented on #2204
I'm also seeing this issue. Seeing it now I've upgraded to v2.3.0.

[2019-10-30 13:50] gnomeontherun commented on #3266
Interestingly enough, I can run the latest Clarity v2 on Angular 9-next.14 correctly with Ivy. The compilation of Clarity with Ivy is working since this was merged https://github.com/angular/angular/pull/33264.

What is blocked now is updating our project repository to Angular 9. However, as far as I can tell it should work with Angular 9-next.14.

[2019-10-30 14:05] amemifra opened #3952 "Split css and js by component"
### Intro

It's more than two years that i work in deal with clarity.
I love this design system but i always have had bundle size problems.

### Explaination

I wonder that like the component are split you could create different js / css for each component.
Something like { ClarityIcons } from '@clr/icons' but for UI/UX

### Example
It could look like:

js /
   - application-layout.js
   - header.

[2019-10-30 14:13] coryrylan commented on #3929
merged https://github.com/vmware/clarity/pull/3920

[2019-10-30 14:13] #3929 closed

[2019-10-30 14:14] coryrylan opened #3953 "Core Component: Modal"
# Core Modal
When implimenting the modal it may be a good time to check to see if the modal can internally use the native dialog element. It provides some needed functionality as well as a11y. There is a supported polyfill for the dialog API.

- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog
- https://github.com/GoogleChrome/dialog-polyfill
- https://gist.github.com/samthor/babe9