[2020-09-01 14:37] gnomeontherun commented on #4577
Hi there, this is an automated message.

In an effort to dedupe and track accessibility reports consistently, this issue is being closed and tracked internally with our Accessibility team. It will still be triaged and addressed as part of ongoing work.

[2020-09-01 14:37] gnomeontherun commented on #4584
Hi there, this is an automated message.

In an effort to dedupe and track accessibility reports consistently, this issue is being closed and tracked internally with our Accessibility team. It will still be triaged and addressed as part of ongoing work.

[2020-09-01 14:37] gnomeontherun commented on #4585
Hi there, this is an automated message.

In an effort to dedupe and track accessibility reports consistently, this issue is being closed and tracked internally with our Accessibility team. It will still be triaged and addressed as part of ongoing work.

[2020-09-01 14:37] #3571 closed

[2020-09-01 14:37] gnomeontherun commented on #3603
Hi there, this is an automated message.

In an effort to dedupe and track accessibility reports consistently, this issue is being closed and tracked internally with our Accessibility team. It will still be triaged and addressed as part of ongoing work.

[2020-09-01 14:37] #3890 closed

[2020-09-01 14:37] #4374 closed

[2020-09-01 14:37] #4378 closed

[2020-09-01 14:37] #4381 closed

[2020-09-01 14:37] #4383 closed

[2020-09-01 14:37] #4559 closed

[2020-09-01 14:37] #4560 closed

[2020-09-01 14:37] #4561 closed

[2020-09-01 14:37] #4562 closed

[2020-09-01 14:37] #4563 closed

[2020-09-01 14:37] #4568 closed

[2020-09-01 14:37] #4569 closed

[2020-09-01 14:37] #4570 closed

[2020-09-01 14:37] #4572 closed

[2020-09-01 14:37] #4576 closed

[2020-09-01 14:37] #4577 closed

[2020-09-01 14:37] #4578 closed

[2020-09-01 14:37] #4579 closed

[2020-09-01 14:37] #4580 closed

[2020-09-01 14:37] #4581 closed

[2020-09-01 14:37] #4582 closed

[2020-09-01 14:37] #4583 closed

[2020-09-01 14:37] #4584 closed

[2020-09-01 14:37] #4585 closed

[2020-09-01 14:37] #4586 closed

[2020-09-01 14:37] #4587 closed

[2020-09-01 14:37] #4588 closed

[2020-09-01 14:37] #3603 closed

[2020-09-01 14:37] #3880 closed

[2020-09-01 14:38] gnomeontherun commented on #2356
Hi there, this is an automated message.

In an effort to dedupe and track accessibility reports consistently, this issue is being closed and tracked internally with our Accessibility team. It will still be triaged and addressed as part of ongoing work.

[2020-09-01 14:38] #2356 closed

[2020-09-01 14:38] #3526 closed

[2020-09-01 14:38] #3563 closed

[2020-09-01 14:48] wendellestradairely opened #4991 "Adding one icon adds all shapes from a set"
## Describe the bug

I'm only adding one or few hand-picked icons from a set but it includes all the icons in the set. As per #2599, this was already fixed but it looks like it's not working in version 4.0+.

Source-map Explorer shows that it reaches almost 700kb.

![image](https://user-images.githubusercontent.com/50942719/91866029-9f528b00-eca4-11ea-9f2e-0244ec05d2da.png)

## How to reproduce

[

[2020-09-01 16:01] gnomeontherun commented on #672
This is available through @clr/core now, so I'm going to close this as resolved.

[2020-09-01 16:01] #672 closed

[2020-09-01 16:04] gnomeontherun commented on #1624
This is stale, and no longer relevant in many ways. We can open new issues for specific improvements as needed.

[2020-09-01 16:04] #1624 closed

[2020-09-01 16:04] #2165 closed

[2020-09-01 16:06] #2337 closed

[2020-09-01 17:55] chlane commented on #4986
I agree that this issue is valid. @Jinnie Thanks for finding this example - https://www.w3.org/WAI/WCAG21/working-examples/aria-label-invisible-label-box/. In this example, from a left to right reading order perspective, the content "This is a div box." visually appears to come before the close button. This matches how the elements are arranged in the DOM. But in the signpost, the close button vis

[2020-09-01 19:53] edgas316 opened #4993 "[clrDgSelectable]="false" in clr-grid does not disable select in v-4"
## Describe the bug

using [clrDgSelectable]="false" in clr-grid does not disable select in v-4

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-k7dk5i?file=src%2Fapp%2Fapp.component.html

## Versions

**App**

- Angular: angular 10
- Node: [e.g. 8.10.0]
- Clarity: 4.0

**Device:**

- Type: any device
- OS: any oc
- Browser any
- Version [e.g. 22]

## Additional notes

_Add

[2020-09-01 20:22] bdryanovski commented on #4993
There is a work-around for this;

If you change the order of the arguments everything will work:
[code]

The issue is that we are doing some calculations inside the `setter` that we don't need to do there and need to move it outside in something like `ngOnChanges`.

[2020-09-01 22:22] #4727 closed

[2020-09-02 11:43] idris-rampurawala opened #4997 "Can't find CSS classes utilities documentation that comes bundled with Clarity"
## Summary
There is no documentation of what all classes come with Clarity UI. Under the theme section, it does not talk about the CSS classes available with Clarity.

If you have got any link or documentation, then please attach it in this issue so that is easily available.

- What is the change? Documentation update to add more clarity on available CSS classes while using Clarity.
- Why should i

[2020-09-02 14:22] #4847 closed

[2020-09-02 15:01] gnomeontherun commented on #4993
@Shijir can you share a bit about the order problem, I remember you had discovered changes in a previous Angular build but the details elude me.

[2020-09-02 15:33] bdryanovski commented on #4993
I could share some of my findings.

The issue is how and when Angular decide to assign values from `@Input`s. In the previous version, this was an undocumented but working solution - the order of there definition inside the `@Component`. Now (after Ivy), this is not the case, there is no guarantee that the input that you want to use in another input will be assigned.

There are good examples [here

[2020-09-03 07:27] Jinnie commented on #4528
We have the fix now. Thanks @skipgeldens
Note: some backporting will be needed before we can close this issue.

[2020-09-03 09:27] belyan opened #5006 "Tabs overflow menu do not become hidden after selecting an item from it"
## Describe the bug

Tabs overflow menu do not become hidden after selecting aт item from it.

## How to reproduce

https://stackblitz.com/edit/clarity-v3-tabs-overflow-fix

Steps to reproduce the behavior:

1.  Click on '...'
2.  Select an item from overflow menu, e.g. Settings
3.  See error

## Expected behavior

Tabs overflow menu should become hidden after selecting an item from it.

## Versio

[2020-09-03 09:31] belyan commented on #4906
I created new bug report based on my last comment:
https://github.com/vmware/clarity/issues/5006

P.S. It would be nice to get any feedback on my questions. Because I spend my time to improve your library.

[2020-09-03 10:03] Jinnie commented on #5006
The tabs overflow pattern is very disputable from accessibility point of view and our recommendation is to try to avoid it if possible and use vertical tabs if you need more options than your interface will be able to display at once. When the tabs overflow was created, the vertical tabs were not yet implemented.
There is no such pattern in the W3C recommendations and examples and it's been a real

[2020-09-03 10:48] Jinnie commented on #5006
This is the master issue for the problem:
https://github.com/vmware/clarity/issues/3514
And these are the related PRs:
https://github.com/vmware/clarity/pull/3609
https://github.com/vmware/clarity/pull/3700
https://github.com/vmware/clarity/pull/4323
The discussion with the A11Y team we've had have been internal, and most of the specific issues were on an internal system they use for communicating

[2020-09-03 12:47] d-atanasov opened #5009 "Too long underline in the Date Picker"
## Describe the bug

When the [Date Picker](https://clarity.design/documentation/datepicker) component is focused its underline becomes too long.

## How to reproduce

Steps to reproduce the behavior:

1.  Click in the Date Picker input
2.  The input underline becomes too long

## Expected behavior

The underline should be as long as the input itself.

## Versions

**App**

- Angular: 10
- Clarity

[2020-09-03 13:00] d-atanasov opened #5010 "Error in the console when exit from a Date Picker"
## Describe the bug

When the [Date Picker](https://clarity.design/documentation/datepicker) is selected and then deselected, there is a JS error in the console:
`Error: Cannot read property 'status' of undefined`

## How to reproduce

[Stackblitz example](https://stackblitz.com/edit/clarity-v4-light-theme-jk3msx?file=src/app/app.component.html).

Steps to reproduce the behavior:

1.  Focus into a

[2020-09-03 13:26] Jinnie commented on #5009
Similar issue is observed with the datalist.
The animation is on a container, which takes 100% of the container, while the non-focused underline is on the input field only

[2020-09-03 14:47] GaryHyland commented on #5006
I had also noticed this with 2.4.2 and consider it a nuisance regression to my end users, who use this on PC, tablet and mobile. This was a nice way for them to be able to access less used tabs that would otherwise overflow the page. I would set tabs to overflow depending on screen width. Vertical tabs are not a good alternate for me here as there will take up horizontal space which is at a premiu

[2020-09-03 15:33] chlane commented on #5006
I concur with @Jinnie 's comment.

[2020-09-04 06:07] noce2 commented on #4929
Having the same issue as well with Angular 10 and Clarity 4.0.1.

[2020-09-04 07:48] Jinnie commented on #5006
Thanks for the detailed feedback.
I'll reopen the issue while we'll be reiterating over the details with the accessibility team once again in the next week.

The talks are about the close on click functionality, not about discarding the overflow completely. We do _recommend_ using the alternatives, because they have better accessibility, but we're not removing it, so you can keep using it.

[2020-09-04 10:01] majid-frz opened #5013 "Add a shimmer state to Clarity cards"
## Summary

It would be nice if Clarity cards had a shimmer effect state that would be controlled with a boolean and in pages that we are waiting for server's data those cards would had their place but with a shimmer effect so that the user would know they are loading.

## Use case

For example on a products page that use Clarity cards, those cards would already be in the page before receiving the

[2020-09-05 06:24] StephenAlbrecht opened #5014 "Sidenav content shifts left in IE11 when anchor tag receives focus via tab"
## Describe the bug

In Internet Explorer 11, using the tab key to navigate through the nav-links in a sidenav causes the nav-links to shift left when they are focused, as if their left margin is cut off.

![ie-bug-01](https://user-images.githubusercontent.com/25337035/92299145-c962b200-ef1d-11ea-8972-d0f72c62b39f.png)
![ie-bug-02](https://user-images.githubusercontent.com/25337035/92299147-c962b2

[2020-09-07 09:10] karol-tarasiuk opened #5015 "@clr/angular - Compilation problem due to TS2611"
## @clr/angular -  Compilation problem due to TS2611

After updating from Clarity 2.4.5 to 4.0.1 I get problem with building Angular application. I get

[code]

## How to reproduce
Steps to reproduce the behavior:

1.  Update `@clr/angular`, `@clr/icons`, `@clr/ui` from `2.4.5` to `4.0.1`.
2.  Update `@webcomponents/custom-elements` from `1.0.0.` to `1.4.2`
3.  Run `ng build`
4.  See error

## Exp

[2020-09-07 10:24] AshleyVDW opened #5016 "Clarity Spinner Appears with Scrollbar in Modal"
I currently have a website using clarity and angular 8,

when adding the clarity spinner to a clarity modal it gives a scroll bar on the side of the modal, which appears and disappears from time to time while loading.

(this sometimes happens when hovering with your mouse over the modal and other times it appears by itself)

I'm not entirely sure if this has something to do with the screen size or

[2020-09-07 12:20] strapsi commented on #2351
this problem has reappeared in version 3
https://v2.clarity.design/datagrid/full <-- no scrollbar in version 2
https://v3.clarity.design/datagrid/full <-- scrollbar is there again since version 3

[2020-09-07 17:10] alexhildebrand commented on #5015
+1

[2020-09-07 17:50] StephenAlbrecht commented on #5015
For the time being, you can get the project to compile by adding `"skipLibCheck": true` to the `"compilerOptions"` in `tsconfig.json`.

[2020-09-08 07:32] mibryamov commented on #4990
Ping... Any updates on this issue?

[2020-09-08 08:54] nkolchakov opened #5017 "clrRange input fires an event twice when subscribed from a FormControl."
## Describe the bug

When subscribed to clrRange fromControl's `valueChanges` it fires an event twice.

## How to reproduce

https://stackblitz.com/edit/clarity-v3-dark-theme-timeline-demo-fbmge8?file=src/app/app.component.ts

Steps to reproduce the behavior:

1.  Go to Console
2. Try to fill the clrRange and clrText inputs. (the range input prints the text twice)

## Expected behavior

On valueCh

[2020-09-08 09:38] boeckMt opened #5018 "Some Icons are showing up not correctly in stackblitz"
## Describe the bug

Some Icons are displayed with the `exclamation-circle` shape and not with there 'normal' shape in stackblitz.

## How to reproduce

https://stackblitz.com/edit/clarity-v4-dark-theme-icon-missing?file=src%2Fapp%2Fapp.component.html

## Expected behavior

The Icons should be displayed like on the Clarity Homepage.

## Versions

**App**

- Angular: [10]
- Clarity: [4.0.1]

**Devi

[2020-09-08 11:45] bbogdanov commented on #5018
Hi @boeckMt! Thank you sharing this.

https://stackblitz.com/edit/clarity-v4-dark-theme-icon-missing-nnebqe?file=src%2Fmain.ts

Take a look at lines 2-3.

More info about the solution https://clarity.design/icons/get-started at `Load Clarity Icons API and icon sets in Typescript:`

Happy coding!

[2020-09-08 11:45] #5018 closed

[2020-09-08 12:19] bbogdanov commented on #5017
Hi @nkolchakov!

Forms are part of Angular and we are not adding anything on top of angular forms.

You can use pipes to handle this situation - `pipe(distinctUntilChanged())`

` this.formGroup.get("clrRange").valueChanges.pipe(distinctUntilChanged()).subscribe((newValue: any) => {
     console.log('trigger clrRange - ', newValue);
  });`

Hope that helps!

[2020-09-08 12:20] #5017 closed

[2020-09-08 13:33] boeckMt commented on #5018
@bbogdanov thanks for the hint!

I had this Issue in another stackblitz template which I copied from a project created by the angular-cli.
So if I understand the doku correctly one could either load all Icons by script (like configured by `ng add @clr/angular`) or like you described, to load the individually sets.

So it should also work without the typescript imports but with a angular config fil

[2020-09-08 13:33] boeckMt commented on #5018
Found this Issue on stackblitz: https://github.com/stackblitz/core/issues/700

[2020-09-08 18:16] onemadgeek commented on #5015
+1

[2020-09-08 18:27] gnomeontherun commented on #5018
The Stackblitz demo is only loading the core set of icons, so if you use other icon sets you'll have to explicitly declare them in TypeScript. The configuration option you showed loads all icons by default.

You'll add the sets individually like `import '@clr/icons/shapes/travel-shapes';`

[2020-09-08 18:27] gnomeontherun commented on #5015
What version of TypeScript are you running?

[2020-09-08 18:51] LubosD commented on #5015
4.0.2

[2020-09-09 03:32] gnomeontherun commented on #5017
To be more clear, this happens to a range input regardless if you use Clarity or not. The change event fires on changing of the value, and when you release the mouse.

[2020-09-09 03:34] gnomeontherun commented on #5016
This is related to the rotating object for the spinner. You will need to give the spinner container some extra margin to allow it to rotate without changing the height (which is triggering the scrollbar).

[2020-09-09 03:35] #5016 closed

[2020-09-09 03:39] gnomeontherun commented on #5013
I'm going to convert this to a GitHub discussion. There isn't much that Clarity needs to do here if you want to use a shimmer feature on your end, so I don't really see how this makes sense as a fully supported feature in the card. What would the layout be? How should it appear? That depends on what you put in the card, and that is in the hands of the apps.

[2020-09-09 03:39] #5013 closed

[2020-09-09 08:39] Jinnie commented on #5006
After discussion with the accessibility team, we do not intend changing the current close on click behavior.

[2020-09-09 08:39] #5006 closed

[2020-09-09 09:40] GaryHyland-SierraAcuity commented on #5006
OK. That means most of my users will need 2 clicks then. One to select the tab from the menu and one to click somewhere to get the dropdown menu to hide which obscures part of the screen underneath when displayed.

[2020-09-09 09:59] Jinnie opened #5021 "Vertical nav - cannot tab to grouped items in Firefox"
## Describe the bug

In Firefox tabbing goes to next group instead of moving focus to child items in the group

## How to reproduce

Steps to reproduce the behavior:

1.  Use Firefox
2.  Go to https://clarity.design/documentation/vertical-nav/basic-structure/project-pokemon
3.  Scroll down to the Hierarchy example
4.  Click on a group to open it
5.  Try using Tab key to move focus to a child item.

[2020-09-09 11:13] simbro commented on #5015
Same issue here - typescript version 3.7.3

[2020-09-09 11:29] #4983 closed

[2020-09-09 12:54] Jinnie commented on #2351
@strapsi I am unable to reproduce it. What browser and OS are you using?

[2020-09-09 13:33] Jinnie commented on #5015
Clarity v4 is using Angular 10.0.2, which is using Typescript 3.9.x.
We have yet to update to Angular 10.1.x and TS 4.0.2.

[2020-09-09 13:50] strapsi commented on #2351
i'm using opera 70 on Linux Mint 19.3 Cinnamon
i can only reproduce it with opera. when i open the documentation with firefox everything is okay

[2020-09-09 14:17] Jinnie commented on #4990
Micro-drags that happen during some of the clicks are causing the observed behavior.
In Chrome drag events are preventing mouseup and click events by design, while in Firefox they are emitted regardless of the drag. Which is the correct behavior I cannot judge. Issues can be found on the Mozilla and Chrome issue trackers requesting either one or the other.
The W3C specs are only defining the event

[2020-09-09 14:17] #4990 closed

[2020-09-09 14:24] Jinnie commented on #2351
Sorry, Opera is not in our supported list, which can be found here:
https://clarity.design/documentation/get-started
In the "Device and browser support" section.

(We are happy to know that this is the only visible issue the datagrid has in Opera, though :))

[2020-09-09 15:29] gnomeontherun commented on #4993
@Shijir can you please share about the order problem too from your experience?

[2020-09-09 20:02] coryrylan opened #5023 "core: dynamic alert in group out of sync"
## Describe the bug

By default alerts are type light. If used in a group the type is set to default by the group component. However if the element is added at a later point or added/removed then it is recreated with type light which is mismatched to the group.

## How to reproduce
Use the demo below, and if you dismiss Hello World 2, it disappears as expected but when it resets to display again t

[2020-09-10 06:39] Jinnie commented on #5021
Closing, to avoid duplication, as it is now tracked by our accessibility team.

[2020-09-10 06:39] #5021 closed

[2020-09-10 09:29] #4929 closed

[2020-09-10 20:53] gnomeontherun commented on #5015
The concern about updating to TS 4 is that it might cause a breaking change. The workaround exists for the moment, but that is not the ideal. We need to inspect the output and determine if we can fix this in a backwards compatible way.

Angular making this change in a minor release is a little frustrating, as most of our breaking changes are related to build tooling and compiler changes in Angular

[2020-09-11 15:34] edgas316 commented on #627
any update on this issue/feature?

[2020-09-11 19:10] Shijir commented on #4993
So before Ivy, no matter in what order users provide their input values, their values used to be assigned in the order their corresponding @input properties are specified in the component class. But that was an “unintentional" feature from Angular. So when it comes to a @input property that’s dependent on another @input property, we have to coordinate them through their getters/setters, which is b

[2020-09-11 21:50] gnomeontherun commented on #1458
I'm going to close this as stale. We haven't been able to invest time into the feature to figure out how to solve the statefulness issues. This is likely something we can support through the Core implementation and that is where new features will be going from here on out. We appreciate the contribution effort and look forward to supporting this through our web component implementation.

[2020-09-11 21:50] #1458 closed

[2020-09-11 21:55] #5023 closed

[2020-09-12 15:27] gnomeontherun commented on #4814
Closing this as stale since we don't have anything actionable to triage or review. If the issue persists, please provide an updated reproduction so we can triage.

[2020-09-12 15:27] #4814 closed

[2020-09-13 01:32] adumesny commented on #5015
if you start a new project `ng new test` + `ng add @clr` you get ang ~10.1.1, typescript ~4.0.2 but clr 4.x doesn't complain that it wants < ts 4 which is something you could fix in the meantime...

[2020-09-13 10:24] Jinnie commented on #4528
Merged to v2, v3, v4. Leaving open till a port the double event fixed in v3.

[2020-09-14 10:06] #5010 closed

[2020-09-14 10:58] Jinnie commented on #627
It's not on our roadmap. And as our focus with new features is more toward Clarity Core now, it more likely to get discussed in the Core context.

[2020-09-14 11:56] Jinnie commented on #4993
Can you explain in some more detail why do you prefer it to ngOnChange, please?
From my perspective, while getters worked as they did pre-Ivy, it was great to use them. But now that there's no guarantee of their order, we'd better use the next logical framework provided bus stop. The checks and calls between the getters will do the work, of course, but I find them harder to understand and maintain

[2020-09-14 14:50] gnomeontherun commented on #5015
I have PR up and it should be in the next release this week.

[2020-09-14 15:00] #5015 closed

[2020-09-14 15:26] gnomeontherun commented on #4991
This is a known issue, but the resolution is to update to use the new Core icons. This allows for proper tree shaking of icons. We will be making this the default in v5, but you can use them now to avoid this problem.

https://clarity.design/storybook/core/?path=/story/components-icon-getting-started--page

If you are loading icons used inside of Clarity Angular components, you will need to still

[2020-09-14 16:51] andresmgot opened #5038 "Clarity Core: cds-button type="button" being ignored"
## Describe the bug

Hi, I'm using @clr/core components in a React application. In particular the cds-button (https://clarity.design/storybook/core/?path=/story/components-button-getting-started--page).

I've recently upgraded to `4.0.1` and noticed a bug. I have the following button:

[code]

This gets rendered to (thanks to the react wrapper):

[code]

As far as I can see, the inner `<button>` l

[2020-09-15 01:20] gnomeontherun commented on #4911
@colinreedmiller Any thoughts about this? If we do this, it would be through Core.

[2020-09-15 01:21] #4911 closed

[2020-09-15 02:36] wendellestradairely commented on #4991
@gnomeontherun Do you have a sample code for Angular? I tried the sample code in https://clarity.design/storybook/core/?path=/story/components-icon-getting-started--page but it didn't worked.

npm i @clr/core

[code]

[2020-09-15 05:45] #4806 closed

[2020-09-15 09:27] muruganG opened #5040 "date Picker under the signpost ,when i open the datepicker inside the signpost and once selected date signpost also closing issue"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._
In the signpost under add the datepicker  input box ,when i try to selected the date  ,once selected the date immediately closing the signpost also ,issue seen on latest version clarity 4.0 issue.

_If this is an accessibility related report, please use the correct template at https://gith

[2020-09-15 10:19] jmls opened #5041 "export ɵɵsyntheticHostListener (imported as 'ɵngcc0') was not found in @angular/core"
## Describe the bug

cannot build my angular application if it uses clarity

## How to reproduce

ng build on my application (closed source)

## Expected behavior

can build and run application

## Versions

**App**

- Angular:10.0.14
- Angular cli : 10.1.1
- Node: 13.9
- Clarity: 4.01

**Device:**

- Type: docker container

## Additional notes

when building the app with "ng serve" I get the foll

[2020-09-15 10:21] jmls commented on #5041
I think this is related to #4844

[2020-09-15 10:25] bdryanovski commented on #5041
Hey @jmls thanks for reporting this, can you provide some steps to reproduce? Is Ivy enabled or not?

It has to be solved by these changes https://github.com/vmware/clarity/pull/4830 here.

[2020-09-15 10:32] jmls commented on #5041
I think I've upgraded from angular 10.0.4 to 10.0.14

Let me make this clear - I am *not* building clarity - I'm trying to build my app .. so it's the compiled @clr/angular libs that I've got with yarn add @clr/angular that seem to be causing the problem.

I think ivy is the default with angular 10

Is there an Ivy AOT-compiled bundle of clarity for Angular version 10 ?

So I'm not sure that the s

[2020-09-15 10:38] Jinnie commented on #5040
Please, follow our issue submission template and provide all requested information, especially a Stackblitz representation of the problem.
Also, based on the signpost description from our website

It is not intended to have heavy actionable elements inside it.

[2020-09-15 10:38] #5040 closed

[2020-09-15 10:42] jmls commented on #5041
if I downgrade to 10.0.2 (yarn add @angular/{common,compiler,compiler-cli,core,forms,platform-browser,platform-browser-dynamic,platform-server,router,animations}@10.0.2) then the application builds correctly

So, it's a problem with the angular version and clarity

[2020-09-15 10:42] bdryanovski commented on #5041
It seems to work at least for me ...

[code]

[code]

We gonna need some more information about it to be able to help ?

[2020-09-15 10:43] jmls commented on #5041
see my last comment ;)

[2020-09-15 10:50] jmls commented on #5041
ok, so now very odd - after the `yarn add @angular/{common,compiler,compiler-cli,core,forms,platform-browser,platform-browser-dynamic,platform-server,router,animations}@<version>` I'm now not getting any errors at all ...

[2020-09-15 10:59] bdryanovski commented on #5041
We had an issue with `4.0.0-rc.1` so you may have some cached build somewhere... !?

Can you confirm me that everything is ok on your side so I could close the issue?

[2020-09-15 11:00] jmls commented on #5041
maybe it was cached  - but I removed node_modules several times ;)

However, it's now working fine on my end - thanks for the help.

[2020-09-15 11:00] #5041 closed

[2020-09-15 11:01] geekz-reno opened #5042 "Cannot open clarity documentation page"
## Describe the bug

Hi, just notice i can't open clarity [documentation page](https://clarity.design/documentation) _(if can, page load are very long)_ and when open i cannot click all link on sidenav.

[2020-09-15 11:05] bdryanovski commented on #5042
There is some issue with the internal redirection. As a workaround, you could navigate from the [homepage](https://clarity.design/)

[2020-09-15 11:12] bdryanovski commented on #5042
Also, it could be an issue with Netlify we gonna investigate

[2020-09-15 11:15] Jinnie commented on #5042
The Netlify service itself is inaccessible right now.

[2020-09-15 11:30] bdryanovski commented on #5042
Everything is working now .. closing

[2020-09-15 11:30] #5042 closed

[2020-09-15 13:27] gnomeontherun commented on #4991
@wendellestradairely You'll have to add `CUSTOM_ELEMENTS_SCHEMA` to Angular, see this section for details https://clarity.design/storybook/core/?path=/story/documentation-angular--page

[2020-09-15 13:31] gnomeontherun commented on #4997
This is a duplicate of some other requests, and something we've been working to improve. See #2212 for example. We do document most of the CSS classes we consider public and connected with specific components, such as in alerts.

With our evolution with Core, we are documenting all properties fully.

[2020-09-15 16:40] coryrylan commented on #5038
Hmm interesting, can you make the broken behavior reproducible in stackblitz? Here is a link to a example and it seems to be working here https://stackblitz.com/edit/react-ts-xwsjue

[2020-09-16 05:59] bbogdanov opened #5044 "Removing the possibility to `trackBy` ClrDatagrid items with `ngFor`"
## Summary

`ngFor` along with `trackBy` inside `ClrDatagrid` are used largely by our clients. Sometimes, but not specifically, datagrid column headers are generated using `ngFor`. For more performance optimization people seems to use `trackBy` inside the columns header loop and based on this our `ClrDatagridItemsTrackBy` sets the `trackBy` used in the column header loop as the primary `trackBy` f

[2020-09-16 09:32] muruganG commented on #5040
in clarity 2.0 and 3.0 have the support for signpost under date picker able to use ,why 4.0 onwards the restriction?, we already release the signpost under  date picker feature  on customer. Is there any work  around. for the solution?.

![image](https://user-images.githubusercontent.com/10629787/93319496-8d88f000-f82d-11ea-83d0-559cd17e43cb.png)

[2020-09-16 09:43] andresmgot commented on #5038
hmm, true, I am not able to reproduce it with stackblitz, it has to be something on my side. The culprit seems to be `lit-html` which is a dependency of `@clr/core@^4.0.1`. I've noticed that the code that gets injected within the `type` property comes from it:

https://lit-html.polymer-project.org/api/modules/_directives_guard_.html
[code]

I suspect that the code is properly resolved in the stack

[2020-09-16 12:20] #4528 closed

[2020-09-16 12:27] Jinnie commented on #5040
If you would like us to investigate more into this, file a new issue, following the template, with a stackblitz reproduction, please.
Not sure if we will decide to support it, but at least we can research exactly what happens and offer workaround if one exists.

[2020-09-16 15:41] bbogdanov commented on #3936
@rootix The team looked into the scenario you provided and [a little bit further.](https://github.com/vmware/clarity/pull/4913) We came into the conclusion `trackBy` set on anything else than the `clr-dg-row` generation loop is just not needed.

We encourage you to use only `trackBy` on the row generation loop e.g. `<clr-dg-row *ngFor="let item in items; trackBy: trackBy"></clr-dg-row>` or `<clr-d

[2020-09-16 15:41] #3936 closed

[2020-09-16 18:38] hippee-lee commented on #5014
I moved this to backlog - a fix will be dependent on getting the dev app rendering in IE11 again.

[2020-09-17 09:15] ReissZachary commented on #5015
I was getting the same Compilation problem due to TS2611 as well. I tried `"skipLibCheck": true` which fixed that error. However, I am now getting errors like the following:

ERROR in ./node_modules/@clr/angular/esm2015/utils/animations/expandable-animation/expandable-animation.js 33:8-43
"export 'ɵɵcomponentHostSyntheticListener' (imported as 'i0') was not found in '@angular/core'

ERROR in ./nod

[2020-09-17 11:31] muruganG opened #5059 "date Picker under the signpost ,when i open the datepicker inside the signpost and once selected date signpost"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._
   In the signpost under add the datepicker input box ,when i try to selected the date ,once selected the date immediately closing the signpost also ,issue seen on latest version clarity 4.0 issue.

_If this is an accessibility related report, please use the correct template at https://git

[2020-09-17 17:18] #5009 closed

[2020-09-17 20:36] hippee-lee commented on #5059
Hi there 👋🏼.

We don't recommend putting form controls in a signpost.

Before I investigate if there is a workaround, can you elaborate on the use case driving this design?

[2020-09-18 07:46] #4889 closed

[2020-09-18 09:09] AtanasVYordanov opened #5060 "[Clarity v4.0.2] [Regression] clr-control-errors don't show for custom validators"
## Describe the bug

[Stackblitz](https://stackblitz.com/edit/clarity-v4-dark-theme-auvyne)

There is a regression after https://github.com/vmware/clarity/pull/5025.
clr-control-errors are not shown for custom validators - only the exclamation mark icon is displayed.

## How to reproduce

1. Add custom validator for input field
2. Add clr-control-errors for the validator and provide error message

[2020-09-18 09:17] bdryanovski commented on #5060
Hello @AtanasVYordanov can you provide us with the StackBlitz demo?

You could find a template [here](https://stackblitz.com/@clr-team)

[2020-09-18 09:45] AtanasVYordanov commented on #5060
Added StackBlitz link to the description.

[2020-09-18 09:57] Jinnie commented on #5059
Related: #5040
Matt, I closed it for lack of repro and empty issue template, but you can still find some screenshots that were added there.

[2020-09-18 10:28] bdryanovski commented on #5060
Sorry, maybe I didn't saw it ;)

There two solutions here:

Change inside the template:
[code]

Or change inside the validator:
[code]

[2020-09-18 10:45] AtanasVYordanov commented on #5060
Thanks 👍 . Before this version, the example in StackBlitz worked. Not sure if the old or current behaviour is the correct one.

[2020-09-18 11:06] tishun opened #5061 "Signpost gets clipped when put inside a stack view"
## Describe the bug

Whenever a clr-signpost is nested in a clr-stack-view and the signpost contents take more space than is available in the stack view the signpost is clipped and does not overflow the stack view.

## How to reproduce

Scenario shown here : https://stackblitz.com/edit/clarity-v3-light-theme-dxqjat?file=src/app/app.component.html

Steps to reproduce the behavior:

1.  Click on the

[2020-09-18 12:30] kaliopane opened #5062 "Datagrid String Filter malfunction or not working at all"
## Describe the bug

The issue resides in the fact that after we fetch the data that we want to populate cells with from an endpoint, and create a datagrid, after filtering the results of a specific column (let's name it 'name') by providing a string that does not exist in the column (some gibberish data), and clearing the filter afterwards, no data is populating the datagrid.
If we filter based o

[2020-09-18 21:17] hippee-lee commented on #5061
This is one example of the limitation of the old popover implementation. We have an issue to track migrating a better solution to existing components here: https://github.com/vmware/clarity/issues/1757

I'm going to close this issue in favor of that one.

[2020-09-18 21:17] #5061 closed

[2020-09-18 22:15] hippee-lee commented on #5062
This seems more like a question about how to implement server driven datagrids. The stackblitz provided seems to mock a backend response but I'm confused for how it filters items in the `clrDgRefresh` method using the state.

[Here](https://stackblitz.com/edit/server-driven-datagrid-starter-v4) is an example that implements a server driven datagrid and mocks the backend. Filtering / sorting etc is

[2020-09-18 22:15] #5062 closed

[2020-09-19 16:56] DavidTheProgrammer opened #5063 "Fix URL to variables on Angular documentation"
## Describe the bug

The documentation on the Angular documentation for the utility variables is incorrect and leads to 404 Github page.

## How to reproduce

Angular documentation, click on the variables link. Get redirected to 404 page

Steps to reproduce the behavior:

1.  Go to 'https://clarity.design/documentation/app-layout'
2.  Scroll to the '*Use Clarity's $clrBaselineRem_\* variables (Rec

[2020-09-20 19:18] naminder-trantor opened #5064 "Please create React supportive npm plugin"
## Summary

_Summary the request and address the questions as appropriate._

- Create React supportive npm plugin
- Does this change impact existing behaviors? No
- If this change introduces a new behavior, is this behavior accessible? - This would be an extension to what is available right now.

## Use case

All existing react applications can switch from using ant.design and use clarity designs.

[2020-09-21 13:56] dilipshelake03 opened #5065 "Datagrid context menu pressing tab key focus goes out side instead of cycle in the menu list."
I have clarity server side grid with selection inside clarity modal dialog. The grid uses *ngFor and trackBy function.
When I open context menu for any row. While pressing tab key continuously the focus is going out side of menu list instead of cycle in menu list. This issue is only occurs for datagrid with clarity modal dialog.

On lastest clarity version i.e 4.1 this seems working.

**How to rep

[2020-09-21 16:48] mathisscott commented on #5064
`@clr/react` was officially launched with v4.0. We are working on increasing the visibility of the new library, as well as adding more components. Thanks for the interest!

NPM package: https://www.npmjs.com/package/@clr/react
Documentation: https://clarity.design/storybook/core/?path=/story/documentation-react--page

[2020-09-21 16:48] #5064 closed

[2020-09-21 17:15] hippee-lee commented on #5065
Hi There, thanks for reporting this with the stackblitz. I'm not able to reproduce this issue described. I forked the example and downgraded Angular to the reported Angular v8.2.2 and it also cycles for me. https://stackblitz.com/edit/clarity-app-modal-datagrind-context-menu-yij57h

Can you add some guidance so I can re-create the issue as it happens for you?

[2020-09-21 19:00] rumanhassan opened #5067 "Style issue with StackView component"
## Describe the bug

When we have nested stack-block, expanded state styles are not applied to stack-block-content component as shown in attached image.
![image](https://user-images.githubusercontent.com/7890944/93809276-b684f880-fc12-11ea-892c-b6b5a13c85ca.png)

## How to reproduce

https://stackblitz.com/edit/clarity-v3-dark-theme-timeline-demo-fadjma

Steps to reproduce the behavior:

1.  Expan

[2020-09-22 05:48] KingMario opened #5068 "Checkbox and radio button can't read as a whole with the label by NVDA in browse mode"
## Describe the accessibility issue

While using the arrow key to navigate the Clarity checkboxes or radio buttons, the component is not read as a whole.

For a checkbox, it read `checkbox, not checked.` and the label requires an extra arrow keystroke.

The same for radio buttons.

## Expected behavior

Please refer to the attached video, expect to read the component as a whole as the native check

[2020-09-22 07:28] Wallabeng commented on #4928
Resolved by #5000

[2020-09-22 07:28] #4928 closed

[2020-09-22 12:34] Rajpradeep26 opened #5071 "Indeterminate (Looping) Progress Bar control is not compatible to firefox"
## Bug description

Indeterminate (Looping) Progress Bar is not working in firefox

## How to reproduce

_Link: [Progress bars](https://clarity.design/documentation/progress)._

Steps to reproduce the behavior:

1.  Open firefox browser and paste the url 'https://clarity.design/documentation/progress' in address bar
2.  Scroll down to 'Indeterminate (Looping) Progress Bar'
3.  See the progress bar

[2020-09-22 15:51] hippee-lee commented on #5071
I tested this on macOS and Windows but it works as expected. The demo is only set to repeat ten times.

[2020-09-22 15:56] hippee-lee commented on #5071
Thanks for reporting this. There is something going on with FF for sure.

[2020-09-22 16:45] hippee-lee commented on #5068
@chlane - can you weigh in on the expected behavior in this component?

[2020-09-22 16:57] naminder-trantor commented on #5064
Thanks for sharing this is great. For features could we have features like in ant.design, just a suggestion.

[2020-09-22 17:26] chlane commented on #5068
This is not a bug. Our current implementation below is accessible, the label is read when the checkbox gains focus.

`
<input type="checkbox" clrcheckbox="" name="test3" required="" value="option1" id="clr-form-control-3" class="ng-untouched ng-pristine ng-invalid" aria-describedby="clr-form-control-3-helper"><label class="clr-control-label" for="clr-form-control-3">Option 1</label>`

Additionally

[2020-09-22 19:20] naminder-trantor commented on #5064
Also if you could share how to overwrite the default font family, that would be great.

Thanks in Advance.

[2020-09-22 20:25] hippee-lee commented on #5068
Thanks @clane. Closing as invalid.

[2020-09-22 20:25] #5068 closed

[2020-09-22 23:59] abbey24 opened #5074 "Expandable datagrid: support expand all / collapse all rows function"
We received requests from customer and GSS folks of being able to expand all / collapse all rows in expandable datagrid. In several places, people want to quickly scan through the whole datagrid, without having to click the rows one by one to expand them. For example, when GSS are troubleshooting, they would like to scan all rows quickly to find clues.
We have select all / deselect all in datagrid

[2020-09-23 06:59] bbogdanov commented on #5074
Hi @abbey24!

We had similar requests before and there are situations when user experience of expanding all rows can become extremely unpleasant.

Having in mind that the platform you develop for is browser and JavaScript is single-threaded expanding all rows at once will require more power from the CPU and GPU than usual. If the components you use in the expanding rows are many this will require

[2020-09-23 13:10] ussherb02 opened #5075 "ERROR TypeError: Cannot read property ‘status’ of undefined (ClrDateDicker)"
I received an error with the description **"Cannot read property ‘status’ of undefined".** Apparently it worked in the previous clarity version until I updated.

The date value of the Date is retrieved using the "clrDateChange" output and the initial date set using the [clrDate] directive as follows.

[code]

core.js:4081 ERROR TypeError: Cannot read property 'status' of undefined
    at IfControl

[2020-09-23 14:29] ryan-bradford opened #5076 "clr-accordion-content not inheriting theming correctly"
## Describe the bug

The background and border colors of the clr-accordion-content are hard bound to be
[code]

This is a problem when you try and load the dark theme with CSS variables and the colors are not carried over correctly.

## How to reproduce

Navigate to this Stackblitz: https://stackblitz.com/edit/clarity-v3-light-theme-n3v29h?file=src%2Fstyles.css

Steps to reproduce the behavior:

1

[2020-09-23 15:09] #5063 closed

[2020-09-23 16:55] rogerfar opened #5077 "Opening clrModal through checkbox change results in ExpressionChangedAfterItHasBeenCheckedError"
## Describe the bug

When you try to open a clrModalOpen through a `[click]` or `[change]` event on a regular checkbox or clrCheckbox it will throw an ExpressionChangedAfterItHasBeenCheckedError error.

## How to reproduce

https://clarity-v3-light-theme-gflxbg.stackblitz.io/

## Versions

**App**

- Angular: 9.1
- Clarity: 3.1.5

[2020-09-23 23:34] gnomeontherun commented on #5077
This appears to be a problem with Angular specifically, because the exception is about ng-touched and that is part of Angular forms. Essentially this kind of error occurs when something changes unexpectedly, and probably doesn't appear if you run it in prod mode. Either way, you can read more about this kind of error on this issue: https://github.com/angular/angular/issues/22426. NgModel has an in

[2020-09-23 23:34] #5077 closed

[2020-09-24 07:11] bbogdanov commented on #5074
Hi @abbey24

The expandable rows are tricky from a11y perspective and a11y is one of the new main targets of`Clarity`.

Having layers of expanding is a trigger to think in a different direction and rethink your case.

Hope the example above solves your question of `how to do a all at once expanding`. Just be careful how many data/html elements you render when expanding the rows.

[2020-09-24 07:11] #5074 closed

[2020-09-24 16:49] sis0k0 commented on #5075
Hi @ussherb02! Can you provide a StackBlitz demo? You can use one of [these templates](https://stackblitz.com/@clr-team).

[2020-09-25 08:41] spitfjre opened #5079 "Badge warning style"
## Describe the bug

Badge warning style is incorrect.

## How to reproduce

It is also incorrect on the [website documentation](https://i.imgur.com/h7MhYU4.png).

## Expected behavior

The color should match the label warning style.

## Versions

**App**

- Clarity: [e.g. 4.0.2]

[2020-09-26 06:40] erabl-identos commented on #3936
Hi @bbogdanov
could you provide me with a link to the documentation on how to use the _trackBy_ function? What's the method signature?

I've looked through all [21 datagrid demos](https://clarity.design/documentation/datagrid/structure), but trackBy seems not to be mentioned anywhere. Maybe it is missing from the docs?

[2020-09-26 09:05] erabl-identos opened #5082 "Datagrid with *clrDgItems and async pipe does not allow to access the resolved observable"
## Describe the bug

When using the datagrid in combination with Angular's `async` pipe one can only access the resolved observable value when using `*ngFor`.

`<clr-dg-row *ngFor="let record of (records$ | async) as records" [ngClass]="{'myCss': doSomethingWithRecords(records)}">`

With `*clrDgItems` the resolved observable is `undefined`.

`<clr-dg-row *clrDgItems="let record of (records$ | asyn

[2020-09-26 13:30] tovinayv opened #5083 "ClrAriaLiveService doesn't announce from wizard"
## Describe the bug

ClrAriaLiveService doesn't announce from wizard

## How to reproduce

https://stackblitz.com/edit/clarity-v4-dark-theme-wizard

Steps to reproduce the behavior:

1.  Enable VoiceOver Accessibility (Mac os, chrome)
2. Go to https://clarity-v4-dark-theme-wizard.stackblitz.io/
3. Click on 'Show Wizard Button'
4. Click 'Show Loading' Button
5.  See spinner appears but it doesn't a

[2020-09-28 05:56] bdryanovski commented on #5083
In my initial test, I could confirm that is not announcing the message and also is not removed from the DOM when the wizard is closed.

* for one we need to provide a method for manually removing the aria-live container when components are not destroyed when we expect (for example content-projection components)
* Need to find a way to force the aria-live to work with identical messages - something

[2020-09-28 06:29] kaliopane opened #5085 "Datagrid filter / sorting not working"
## Describe the bug

When we have a checkbox input that defines a filter and it is turned on, this breaks the datagrid sorting and filtering.

## How to reproduce

[Link to Stackblitz](https://stackblitz.com/edit/clarity-v3-datagrid-selection-asnknn?file=src/app/app.component.ts)

Steps to reproduce the behavior:

1. Click on the button
2. Start sorting and / or filtering columns
3. Observe that n

[2020-09-28 18:23] hippee-lee commented on #5082
The grouping operator seems to be changing the order of execution in a way that `*clrDgItems` isn't aware of. It seems like a lifecycle issue and how we instantiate the `NgForOf` iterator under the hood. Something is different from the native `*ngFor` iterator.

A workaround that might help is to remove the grouping operator and the casting `as records`. Perhaps there is another way to access the

[2020-09-29 06:13] muruganG commented on #5059
I already shared snapshot information ,is there any workaround for signpost inside datepicker selection event  approach.

[2020-09-29 08:37] Jinnie commented on #5059
The stackblitz is broken. Even if I remove the extra `div`, it is still not in a state that's easy to investigate, as it has a lot of unrelated code. Please try to isolate the core issue better in future.
Still, I managed to make it work and reproduce it. It is a duplication of another issue:
https://github.com/vmware/clarity/issues/4610
Though it's about datagrid filters, the underlying issue is

[2020-09-29 08:37] #5059 closed

[2020-09-29 15:36] alanrenouf opened #5089 "Icon Request: Update Icon"
Not sure if you are open to Icon requests for future versions but it would be nice to have an update icon please.

[2020-09-29 15:52] hippee-lee commented on #5089
Hi Alan,

Icon requests are always welcome. Please use the icon issue template [here](https://github.com/vmware/clarity/issues/new?template=icon-request.md).

[2020-09-29 21:38] mathisscott commented on #4650
@aognianova
Is this just a website issue?

[2020-09-29 21:47] mathisscott commented on #5079
Per UX, the badge style on https://clarity.design/storybook/core/?path=/story/components-badge-stories--status is the correct one.

Labels in Clarity UI have not been updated to the new colors in core. But the changes were initiated due to WCAG AA 2.1 contrast requirements.

[2020-09-29 21:47] #5079 closed

[2020-09-29 21:48] mathisscott commented on #5075
@ussherb02
Any progress on a reproduction? It would help us diagnose this issue.

[2020-09-29 21:55] #5060 closed

[2020-09-29 22:00] #4991 closed

[2020-09-30 05:59] Wallabeng commented on #5075
I bet this is fixed in 4.0.2 with #5007, as I had the same issue.

[2020-09-30 06:40] wokis commented on #3108
Any news on this? The issue is still present in v4.0.1.

[2020-09-30 07:20] developer-bala opened #5093 "Manually adding Clarity to an Angular project is not working"
Hello Team,

I am trying to add Clarity to my Angular project manually but it is not working for me. I am referring [this](https://clarity.design/documentation/get-started)

I am keep on getting "An accessor cannot be declared in an ambient context" error in many places of @clr/angular package.

`
../node_modules/@clr/angular/timeline/timeline-step.d.ts:14:9 - error TS1086: An accessor cannot be d

[2020-09-30 07:32] Jinnie commented on #5093
What versions of Clarity, Angular and Typescript are you trying to setup. My guess is about mismatch of the Typescript version. Latest Clarity is not yet using Angular 10.1 and Typescript 4.0.2.
Setting
[code]
in your tsconfig.json might fix the issue, but my recommendation is to stick to the corresponding Angular/TS versions if possible.

[2020-09-30 07:36] developer-bala commented on #5093
My versions are,

Angular - 8
Typescript - 3.4
Clarity - 4.0

Yes. I saw that skipLibCheck option, but i'm nervous to use that.

[2020-09-30 07:43] Jinnie commented on #5093
Clarity major releases are aligned with Angular major releases. And each Clarity major release has corresponding Angular one.
Clarity 4 is designed for use with Angular 10.0.2 (don't yet use 10.1) and TS 3.9.5.
Angular 8 was supported in Clarity 2.0.

[2020-09-30 08:45] d-m-s opened #5094 "datalist styling (issue with length on focus/validation)"
## Describe the bug

[Datalist ](https://clarity.design/documentation/datalist) alters length on focus/on validation

## How to reproduce
See Clarity Datalist Documentation https://clarity.design/documentation/datalist

Steps to reproduce the behavior:
1.  Go to 'https://clarity.design/documentation/datalist'
2.  Click on 'input valid data'
3.  Click on 'input invalid data'
4.  Width of control sk

[2020-09-30 09:08] derkoe commented on #5094
Seems like this commit broke it c6995410ac0f5ed396f0f708057bdb8a935a12d0 with this style:
[code]

[2020-09-30 10:28] LinkiPinki commented on #4934
It looks like currently, the headers are only updated on reset or when you move to the next step.

See [ClrStepper](https://github.com/vmware/clarity/blob/8baca78c5d0640ab5f74fc93b73d3b96207d01a2/packages/angular/projects/clr-angular/src/accordion/stepper/stepper.ts#75)'s functions `listenForFormResetChanges`, `listenForPanelsCompleted` and `setPanelsWithFormErrors`.

This issue is also prevalent

[2020-09-30 10:54] Jinnie commented on #4710
I tried this and it worked fine with 10,000 items, both with latest Clarity and v3. Closing it, as no reproduction has been provided for several months now.

[2020-09-30 10:54] #4710 closed

[2020-09-30 15:58] hippee-lee commented on #5094
Thanks for reporting this. There was already an issue and PR that will address this: https://github.com/vmware/clarity/pull/5053
The original issue is https://github.com/vmware/clarity/issues/5009. I'm closing this as the fix will go out in the next release.

[2020-09-30 15:58] #5094 closed

[2020-09-30 17:42] rbirkgit opened #5097 "Show columns popup doesn't keep tab focus"
## Describe the bug

On a datagrid you can open the Show Columns popup. Focus gets top the [x]. Pressing tab is supposed to get to the column, but with v4 the popup closes. This work with Clarity v2 and v3.

## How to reproduce

https://clarity.design/documentation/datagrid/hide-show

Open show columns and press tab.

## Expected behavior

Focus should be trapped inside the popup.

## Versions

**

[2020-09-30 17:49] rbirkgit opened #5098 "Text area focus color does not pass contrast ratio for a11y"
## Describe the bug

We have an a11y bug reported on our product that the text area focus color does not have enough contrast (2.0 where 3.0 is needed).

The texarea focus color in Clarity v2-v4 is hard coded to #69C0E2. I am wondering why the focus color is brighter and different from the input field (which uses #0072A3). Would make sense to have the text area using the same color as all other co

[2020-09-30 19:58] colinreedmiller commented on #5098
@chlane lets review this together for compliance and strategy.

[2020-09-30 21:18] mathisscott commented on #5097
Looking into this. I've verified that it's a problem with the Clarity Angular focus trap. There's been some change between v3 and now that broke the focus trap for this panel...

[2020-10-01 04:36] muruganG commented on #4610
what is the workaround for date picker inside the signpost?

[2020-10-01 07:24] Wallabeng opened #5101 "Stepper resets when having a combobox inside."
## Describe the bug

Stepper resets when having a combobox inside.

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-zaowaw

Steps to reproduce the behavior:

1.  Go to https://stackblitz.com/edit/clarity-v4-light-theme-zaowaw
2.  Click on Next
3.  Select a value from combobox
4.  Stepper resets to first panel

If you change anything in first step to make the form non-pristi

[2020-10-01 14:34] sdurnov opened #5102 "Combobox behavior is buggy in Safari on mobile"
## Describe the bug

- results popover position is often incorrect in Safari (and in other iOS browsers, for instance Firefox, it's even worse)
- browser automatically zooms page when you interact with combobox, which is fine, but if popover doesn't fit into the screen, you can't scroll it without having popover disappear
- border radius seems overridden by browser and input looks somewhat cripple

[2020-10-01 14:46] mathisscott commented on #5097
The issue is that there are no elements being set as the `firstFocusableEl` and `lastFocusableEl` in the `clrFocusTrap` directive that is being placed on the hide/show column panel. It is not clear to me how this issue is not being seen in more focus traps.

While I've identified the problem, this issue is a much bigger issue than I can timebox as the support person this week. So I'm adding it to

[2020-10-01 15:05] Angelmmiguel opened #5104 "Tag text color does not pass contrast ratio for a11y"
## Describe the accessibility issue

The default [tag text color](https://clarity.design/storybook/core/?path=/story/components-tag-getting-started--page#color) when no status is applied is #8C8C8C. Since the text is pretty small and the background color is white, the color contrast ratio is very low. You can see an example in the [WebAim color contrast checker](https://webaim.org/resources/contra

[2020-10-01 15:07] sis0k0 commented on #5085
@kaliopane, it seems that the behavior is reproducible even without the filters. Sorting + pagination in the datagrid is enough. Here's a minimal reproduction - https://stackblitz.com/edit/clarity-v3-datagrid-selection-bcncz1?file=src/app/app.component.ts.

We're working on resolving the issue.

[2020-10-01 15:32] chlane commented on #5098
See our recommendations for visual focus indication for all elements that get focus at https://confluence.eng.vmware.com/display/A11Y/Visual+Focus+Indication

[2020-10-01 17:03] mathisscott commented on #5098
@chlane
While not visible to the open-source community, I've noted deficiencies in that recommendation. We cannot move forward with that.

Once the recommendation is vetted across all use cases and signed off on by design/ux we should be able to implement it. Until then, we're stuck.

[2020-10-01 17:08] colinreedmiller commented on #5098
My intent in suggesting  we need to review for strategy is as Scott says 'vetted across all use cases' - we have several approaches across the library and given the current color system work this is an excellent opportunity to develop a comprehensive strategy.

[2020-10-01 21:39] mathisscott commented on #5083
I dug into this issue some more. The problem is with how screen readers recognize dynamic content and also with how screen readers register, for lack of a better word, live regions.

I've been able to verify the ClrAriaLiveService doesn't work. Maybe it works in some isolated use cases?

We need to discuss a plan to fix this or offer a separate pattern that people can use in their applications so

[2020-10-01 21:45] mathisscott commented on #5076
@ryan-bradford
Thanks for the detailed description and stackblitz. That made this so much easier to track down.

[2020-10-01 21:55] dereklin opened #5105 "ExpressionChangedAfterItHasBeenCheckedError when using dynamic variables inside an expanded by default accordion"
When an accordion is expanded by default, using any dynamic variables inside of the accordion content produces ExpressionChangedAfterItHasBeenCheckedError.

Here is the stackblitz to demonstrate the issue:
https://stackblitz.com/edit/clarity-light-theme-v2-6hkjqq?file=src%2Fapp%2Fapp.component.html

**App**

- Angular: ^8.2.14
- Node: 12
- Clarity: 2.3.8

[2020-10-01 22:18] #5093 closed

[2020-10-01 22:19] mathisscott commented on #5075
Thanks, @Wallabeng

[2020-10-01 22:20] mathisscott commented on #5075
I'll close this out for now. @ussherb02 can respond if 4.0.2 didn't fix this.

[2020-10-01 22:20] #5075 closed

[2020-10-01 22:20] mathisscott commented on #5065
I'm marking this issue as stale since we asked for a reproduction 2 weeks ago and haven't heard back.

[2020-10-01 22:21] #5065 closed

[2020-10-02 00:00] gnomeontherun commented on #5101
This only seems to happen with a combobox in the last panel, adding a third panel does not cause this. There might be something related to the custom form control implementation that triggers a change, but needs more investigation.

[2020-10-02 06:41] Wallabeng commented on #5101
Just added a third panel and still doesn't work for me.
My observations are that as soon as any control gets altered (setting it non-pristine) before selecting something from the combobox it works.
IMO the combobox sets the form to non-pristine too late, so the stepper resets the form as it thinks it's pristine.

[2020-10-02 13:37] mathisscott commented on #5038
@andresmgot
I tried to dig into this further but unearthed nothing that has not already been discussed. Like @coryrylan, I cannot reproduce the issue so I will close it as such. It appears to be either build-related or some configuration on the framework side. As such, I will close this issue. If you find a way to reproduce this issue in a way that we can investigate it further, I'd be happy to ta

[2020-10-02 13:37] #5038 closed

[2020-10-02 13:49] wendellestradairely opened #5107 "Modal is also dismissed when pressing the ESC key to close a combobox's dropdown panel."
## Describe the bug

I have a combobox inside a modal but when you try to press the ESC key to close the it's dropdown panel, the modal is also get dismissed.

![modals](https://user-images.githubusercontent.com/50942719/94930400-ed072100-04f8-11eb-980a-c310693a001e.gif)

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-jz6if2?file=src/app/app.component.ts

Steps to reproduc

[2020-10-02 15:15] #4609 closed

[2020-10-02 15:22] mathisscott commented on #5083
Per a discussion with the team, the `ClrAriaLiveService` will be deprecated in v5 and removed in v6. We do not recommend using it in its present state.

For a workaround, we do recommend the Angular Material CDK LiveAnnouncer. More info on that can be found here: https://material.angular.io/cdk/a11y/overview#example-1

Whether similar functionality will be introduced as a service in `@clr/core` or

[2020-10-02 15:22] #5083 closed

[2020-10-02 16:09] mathisscott commented on #3108
@wokis
We've moved this issue into our backlog. It's not an easy fix so we will have to schedule the work in with our other priorities.

[2020-10-02 16:36] mathisscott opened #5109 "Remove ClrAriaLiveService"
ClrAriaLiveService was never broadly announced and was not used internally in our own code base. It was deprecated in 5.0. This ticket is to mark its removal in 6.0.

[2020-10-02 19:54] mathisscott commented on #4934
I dug deep into this and the problem is that the stepper is so proscriptive in how it marks these panels as valid and invalid. There is no easy way to just get it to work with the stepper as is. The refactor involved is non-trivial and would requiring unwinding all these services, models, and components. Or knowing some super-secret backdoor into them that I was unable to uncover.

I will move thi

[2020-10-02 20:31] mathisscott commented on #5104
Good catch. This needs a look from design. I'm wondering if we should go darker neutral or reuse the border color as the text color (assuming that has enough contrast). also the disabled status needs a design review.

CC: @colinreedmiller + @yuxin-ux

[2020-10-02 20:41] mathisscott commented on #5105
The issue here is related to the way the accordion is wired up. It looks like a bug. Moving to the backlog.

[2020-10-02 20:49] colinreedmiller commented on #5104
The color in the implementation is incorrect. The component known as *tag* in core is equivalent to the *label* in clarity ng which has a text color of #565656 - the equivalent value using the Core token system is neutral-800 which is slightly darker and is compliant. The implementation needs to change the default text color to neutral-800 - I will check the colored text and add to this issue if a

[2020-10-02 21:40] mathisscott commented on #5107
I know that this is a collision between the combobox/popover code and the modal code that dismisses on escape. But I can't find where that collision is happening. It would require a deeper dive than I have timeboxed. I will put this in the backlog.

I know why it's happening but cannot say where it is happening. Any attempt I made to correct it introduced EHCAIWC errors. 🤷‍♂️

[2020-10-02 21:42] mathisscott commented on #5104
Thanks, @colinreedmiller

I can fix that on Monday and have a PR ready then.

[2020-10-02 22:02] colinreedmiller commented on #5104
Excellent @mathisscott - I checked the colored text on colored backgrounds to be sure they are compliant while this is addressed and all as they should be. The only a11y fix required is as mentioned above - the default gray text color.

[2020-10-04 06:26] erabl-identos commented on #4010
Hi,

will the new font also address this issue [https://github.com/chrismsimpson/Metropolis/issues/9](https://github.com/chrismsimpson/Metropolis/issues/9)?

Having same-width numbers when viewing large amounts of data in a table really helps to compare each row's values.

The ability to control the styling with `font-variant-numeric: tabular-nums;` has the benefit to not affect the flow of contin

[2020-10-04 07:29] erabl-identos commented on #1985
Will this feature also support a direct way to select a specified time range (year, month, week) without having to pick two individual dates?

A usecase for this would be to show all activities/sales from last February, where the user simply selects the desired month.

Currently there is no workaround to achive this feature, as it is not possible to [filter out](https://github.com/vmware/clarity/p

[2020-10-04 10:20] sdurnov commented on #5102
One more thing, that you can also see in a video. When you have something selected in a Combobox with a single selection mode - when you press dropdown caret, it shows you only an item that is selected. To see other items you need to delete text from a textbox. What is the point of that? You can do nothing with this only displayed item.

[2020-10-04 18:35] naminder-trantor commented on #5064
Hi @mathisscott ,
I could not find key features like dataGrid, please advise.

Thanks in advance.

[2020-10-05 06:39] erabl-identos commented on #5082
Thanks for the investigation.

I'm afraid that the [suggested solution](https://stackblitz.com/edit/clarity-v4-light-theme-f5skfb) doesn't solve the issue, since the observable - in this case a BehaviorSubject - does not allow to directly access its content. If you add `console.log(prev)` to the `areRecordsOnDifferentDays` method and open the clrDgItems tab, the console always prints undefined.

I

[2020-10-05 13:21] mathisscott commented on #5064
@naminder-trantor

[2020-10-05 13:31] mathisscott commented on #4010
I don't think Clarity City has tabular numbers. But I could be wrong on that. @colinreedmiller would know for sure.

That said, it's one of the deficiencies we've put forward so tabular numbers are coming in the future if they aren't already in the font now.

[2020-10-05 13:33] mathisscott commented on #1985
@erabl-identos
That feature is not currently under consideration but we do need another design pass here before implementation. So thank you for the suggestion/contribution.

[2020-10-05 15:37] colinreedmiller commented on #4010
I have not been informed that the tabular numbers have been created / added yet to Clarity City. The workaround has been to use Consolas for situations where column alignment is required.

[2020-10-05 19:33] mathisscott commented on #4921
You need to use the `spinner-inline` class on the spinner if you want it to be positioned in line with the content.

[2020-10-05 19:33] #4921 closed

[2020-10-05 21:48] #5104 closed

[2020-10-05 21:52] #4910 closed

[2020-10-05 22:25] #5076 closed

[2020-10-06 00:06] colinreedmiller opened #5115 "Combo box pill design / implementation"
The implementation of the combobox has a few anomalies in the sizing and placement of the contents of the pills. Needs a review / working session with design and dev to fine tune the implementation and address any outstanding issues.
@Jinnie

[2020-10-06 00:09] colinreedmiller commented on #5115
also: The documentation (screenshots) are out of sync with the implementation - they show the previous styling - these will need to be updated on the website once the component is fine tuned.

[2020-10-06 18:35] josephaVMW opened #5123 "Datagrid - output clrDgHiddenChange is not called when showing/hiding columns"
## Describe the bug

Within a datagrid in Clarity v4, the output clrDgHiddenChange is not called when a user hides or shows columns using the dialog inside the datagrid footer.

## How to reproduce

Steps to reproduce the behavior:

https://stackblitz.com/edit/clarity-v4-datagrid-column-hide?devtoolsheight=33&file=src/app/app.component.html

1.  Toggle the Show/Hide columns dialog in the left side

[2020-10-07 04:53] amellnik commented on #4986
Would it be sufficient to use `aria-owns` to reoder the content in the a11y without changing the DOM order at all?

[2020-10-07 09:38] wokis commented on #4183
For those like me looking for how to do it, this should do the trick. `<clr-vertical-nav-group routerLinkActive="active" [clrVerticalNavGroupExpanded]="this.router.url.includes('./electric')">`. You will of course also need to inject the router into your compoent, `constructor(public router: Router) { }`.

[2020-10-07 12:13] digish777 opened #5125 "How do I add more breakpoint to _variables.layout. $clr-grid-breakpoints"
I need a break point in _variables.layout, the variable being: $clr-grid-breakpoints

I need to use that breakpoint in _responsive-nav.clarity.scss
@media screen and (max-width: map-get($clr-grid-breakpoints, xl2)) {
}

example:

$clr-grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xl2:1280px) !default;

/* stylelint-enable */

$clr-grid-columns: 12 !default;
$clr-grid-gutt

[2020-10-07 13:39] hristozov opened #5126 "Datagrid selection handler is sometimes run out of the Angular zone"
## Describe the bug

`clrDgSelectedChange` started behaving differently in version 3.1.8. Seems it now doesn't run the code in the handler in the Angular zone.

This might break `clrDgSelectedChange` handlers which trigger AJAXes and rely on their results noticed by the change detector, or even just a plain `setTimeout`.

## How to reproduce

Stackblitz:
https://stackblitz.com/edit/clarity-v3-ligh

[2020-10-07 13:51] chlane commented on #4986
@amellnik You could try it but support is inconsistent. When you try it, test to ensure that it works in macOS/VoiceOver/Safari and Windows/NVDA/Firefox. I personally recommend against until it supported by all assistive technologies.

See
https://labs.levelaccess.com/index.php/ARIA_List_using_aria-owns
https://tink.uk/using-the-aria-owns-attribute/

[2020-10-07 14:05] mdmarkova commented on #3665
We're hitting the same issue and I was about to log a new bug when I saw this one. The use case that we have is one root element that is expanded by default and its children are more than 6000. In that case *clrIfExpanded won't help at lll since the children of the parent (it is expanded) have to be rendered. I guess that having onPush mechanism on tree node might help.

Stackblitz: check here htt

[2020-10-07 20:17] cloutidj opened #5128 "Unable to unselect from combobox for single select"
## Describe the bug

When using a combobox to select a single value, once the user has selected a value there is no method for them to clear the form control and remove the selection.

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-hm2cry?file=src%2Fapp%2Fapp.component.ts

1.  Go to https://clarity-v4-light-theme-hm2cry.stackblitz.io
2.  Select a value from the list
3.  Cl

[2020-10-08 05:20] namitabandal commented on #4824
@gnomeontherun
Any updates on this issue? When it will get fixed? I am facing the same issue.

Angular: 9.1.12
Node: 12
Clarity: 3.1.5

[2020-10-08 13:48] mathisscott commented on #5125
A SASS override is the clearest path forward for this. But it also depends on how your application is set up to use Clarity. If you are (re)building the Clarity CSS in your own project, the SASS override is straightforward. Just define `$clr-grid-breakpoints` before importing the Clarity SCSS files. That gives you a lot of latitude in customizing the breakpoints.

If you are not pulling in the Cla

[2020-10-08 13:48] #5125 closed

[2020-10-08 15:22] mathisscott commented on #4547
Given that our IE11 testing matrix for Core ends with version 4. Is this still a priority?

[2020-10-08 15:27] digish777 commented on #5125
I refer:
"styles": [
                            "node_modules/@clr/icons/clr-icons.min.css",
                            "node_modules/@clr/ui/clr-ui.min.css",
]
I am not rebuilding. I am referring the scss in the Angular.json file.

Can the variable be overided at this stage?

[2020-10-08 16:02] mathisscott commented on #5125
@digish777
No, this is the latter case I described. You will need to use a CSS override.

[2020-10-08 16:05] digish777 commented on #5125
How to add breakpoint for hamburger to appear at 1280px/150% zoom. css over ride code. There is so much code in the base class. It becomes really tough to write similar code in css. any usable code?

[2020-10-08 16:50] mathisscott commented on #5125
@digish777
You could literally inspect the styles in Chrome debugger, pull the code for an existing breakpoint, change the breakpoint to what you need it to be, edit it however you want, and ship it. You could even do all of this inside the chrome debugger on its own to verify that it is working as you want it to before copy-pasting it back into your own CSS.

I don't know why you would need to ge

[2020-10-08 22:09] gnomeontherun commented on #5128
This is true of a normal HTML select too, so often people will add an 'empty' option as the default to allow you to unselect one of the options. I think that would be the same expected behavior here, since this is functionally very similar.

[2020-10-08 22:32] cloutidj commented on #5128
I tried going that approach but wasn't able to find a way to make it work. I've updated the stackblitz with an additional clr-option with a clrValue of null but I'm not able to select the value from the list.

[2020-10-09 03:09] amellnik commented on #4986
Looking at the [browser and screen reader support list] I think we should be OK.  I have easy access to a Windows system for NVDA testing but may need to reach out for some help on the VoiceOver front (although I understand that recent versions work fine with `aria-owns`).

[2020-10-09 03:28] amellnik commented on #4986
Update: In this case it was trivial to just reorder the divs so no `aria-owns` was necessary.

[2020-10-09 08:20] kaliopane commented on #5085
Thanks for the updates guys!
It seems we ought to switch to using Ivy as well, as Angular is not really being helpful in this particular situation.

[2020-10-09 10:56] vmissue commented on #4472
In my team we gave up from datagrid's single action due to this issue. Had to deal with the UX in different manner.

[2020-10-09 14:27] d-m-s opened #5132 "Character counter for input/text-area"
## Summary
Provide **character counter** for
 - input (single-line text field)
 - textarea

## Use case
- **Limited amount** of possible chars that can be entered in the field
(max. amount limited due to db-column settings, printed text, ...)
- **Defined amount** that should be entered
(eg. zip-code, vehicle-identification-number, ...)

**Design rationale**
- Counter communicates that amount effec

[2020-10-09 14:39] d-m-s commented on #1821
@derkoe can you give us a brief status-reminder, where we currently standing/left with the dnd-topic?
As far as i recall it's not an own component, certainly not a treeview supporting all dnd features ... but you sure know some more details. thx!

[2020-10-09 15:08] rbirkgit opened #5133 "aria-owns have tabs in wrong order if some tabs have conditional statements"
## Describe the accessibility issue

We have a conditional statement on some of our tabs. This causes the aria-owns attribute to list the tabs in the wrong order, putting the tabs with conditions last. This seems to be because tabs put data in an internal array in the order they get registered and that array is then used to populate the aria-owns attribute.

Result is that screen readers then narr

[2020-10-11 18:55] amellnik opened #5136 "Datagrid: Not possible to tab past a single row action trigger"
## Describe the accessibility issue

On a Datagrid with single row actions (like https://clarity.design/documentation/datagrid/single-action) it's not possible to tab past the first action trigger.  Hitting tab once opens the action menu which traps focus, and while it can be closed with `ESC` or similar this returns the focus to the trigger, and the same thing happens if the user tries to tab pas

[2020-10-11 21:41] amellnik commented on #4756
For the 2nd issue here, a simple fix would be to update all the examples to manually add `aria-role="menuitem"` to all the buttons with a note that users should do the same.  Another option would be to add something to the container that looks for all the buttons projected through `ng-content` and adds the role to each, overwriting anything that was set by the user.  Any thoughts on this?

[2020-10-12 07:51] bdryanovski commented on #5132
@d-m-s  Thanks for the suggestion, we gonna consider it.

We need to think about how this could be done in the most accessible way. For example how ofter we want to inform the user of the change of the length or do we want to update it over the loss of focus and so on.

Do we want to block a user from adding more than the limit or go to negative values? And how this will be communicated to the use

[2020-10-12 09:58] bashibozuk commented on #1632
Guys are you planing to deliver this as part of Clarity and eventually in which version?

[2020-10-12 12:40] digish777 opened #5138 "clr-dg-action-overflow clicking on the ellipsis causes the cursor to move to top of the page"
clr-dg-action-overflow clicking on the ellipsis causes the cursor to move to top of the page

I could not find the reproduce the same in stackblitz

https://stackblitz.com/edit/clarity-ucg3hc?embed=1&file=app/app.component.html
but locally it is happening.

thanks in advance.

[2020-10-12 13:33] bbogdanov commented on #5138
Hi, @digish777 without steps to reproduce we are not able to help you. The component is highly used in production and we didn't face such a case.

We will be happy to help you when we have steps to reproduce.

[2020-10-12 13:33] #5138 closed

[2020-10-12 14:46] mathisscott opened #5139 "Datagrid placeholder not top-aligned"
## Describe the bug

See UX note below. The empty placeholder was always top-aligned before 2.x. At some point, it was changed to vertically centered. This was not an intentional UX decision.

## How to reproduce

See screenshot.

Use a set height on a datagrid with a placeholder. Or just go to https://clarity.design/documentation/datagrid/placeholder and set the datagrid's height to 500px in the

[2020-10-12 15:54] gnomeontherun commented on #5128
I believe the problem is you are mixing a static list and dynamic list, and since your 'None' option doesn't exist in the dynamic options list it isn't behaving as expected. Adding a new 'None' option to your array should be the way to go here, then check it during form validation or backend processing.

[2020-10-12 16:22] mathisscott commented on #4547
@coryrylan

[2020-10-12 16:53] cloutidj commented on #5128
I'm not sure how that would work.  Adding a null value to the list of values breaks the functionality with the field designation on a null object in the list and the search no longer works and throws errors in the console.  The only way I can see this working would require additional logic to map a null initial form value to a selection only to also map away from that upon form submission.  Even w

[2020-10-12 17:03] chlane commented on #4756
aria-role="menuitem" should not be used on it's own, only a part of an ARIA menu implementation. See https://www.w3.org/TR/wai-aria-practices-1.1/#menu

[2020-10-12 17:29] coryrylan commented on #4547
No longer needed.

[2020-10-12 17:29] #4547 closed

[2020-10-12 22:16] amellnik commented on #4756
Hi @chlane, the wrapping element already has the `menu` role, and the linked PR adds the `menuitem` role to the child elements to fix that, so I think we should be all set on that front.

[2020-10-13 00:53] chlane commented on #4756
@amellnik Great! Please also ensure that all the expected keyboard behaviors are working as seen at  https://www.w3.org/TR/wai-aria-practices-1.1/#menu.

[2020-10-13 05:00] #4925 closed

[2020-10-13 12:12] derkoe commented on #1821
We have just used the `clr-tree` with `clrDroppable` with some custom styles in our application.

Code looks like this:

[code]

Here's the style (some stuff is hardcoded there, but this works for us):

[code]

[2020-10-13 17:24] gnomeontherun commented on #5128
@Jinnie any insights to share?

[2020-10-13 17:31] gnomeontherun commented on #4824
There was some recent work on this that went out in 3.1.9, can you update and check?

[2020-10-13 17:33] gnomeontherun commented on #1632
We do not have a specific time for delivery on this feature. The Combobox makes this somewhat possible to do, but applications could also build this on their end most likely without the need for Clarity to build it. In many ways this is a pattern more than an implementation.

[2020-10-14 04:03] WengeOUT opened #5142 "set stepper on 7 step"
I have such problem how i open firstly 7  step automaticly (in stepper).

[2020-10-14 08:30] namitabandal commented on #4824
@gnomeontherun Yes, the issue is fixed. Thanks!

[2020-10-14 12:45] Jinnie commented on #4692
Fixed with https://github.com/vmware/clarity/pull/5117 (and related backports)

[2020-10-14 12:45] #4692 closed

[2020-10-14 12:45] #5085 closed

[2020-10-14 13:55] bbogdanov commented on #5142
https://clarity.design/documentation/stepper#summary-of-options

`[clrInitialStep]` is what you are looking for.

[2020-10-14 13:55] #5142 closed

[2020-10-14 14:17] hippee-lee commented on #4824
Closing, here are the relevent PR's that backport the change to v3/v4 branches:

1. For v3 branch: https://github.com/vmware/clarity/pull/5081
2. For v4 branch: https://github.com/vmware/clarity/pull/5080

[2020-10-14 14:17] #4824 closed

[2020-10-14 19:48] gnomeontherun commented on #5133
There are two possible workarounds on the app side. The challenge is that the ngIf defers rendering and we are seeing lifecycle issues.

1) Have the whole tabs also with an ngIf to have it render at once in the same cycle.
2) Apply an inert ngIf to all tabs even if they aren't conditional like `*ngIf="true"` should force tabs to all render in the same cycle.

[2020-10-14 19:56] rbirkgit commented on #5133
I thought of option 2 above. Didn't try it but should work. Easy enough workaround.

[2020-10-14 20:00] rbirkgit commented on #5133
Adding an ngIf on the clr-tabs element doesn't seem to fix it, but adding on the remaining tabs themselves seems to work on the stackblitz example above. I will try this in our product.

[2020-10-14 23:00] chlane commented on #4579
Amy Li (amyli@vmwarecom) on the A11Y team found a great solution for this at http://ebay.github.io/mindpatterns/navigation/tile/index.html

[2020-10-15 07:49] nmarkapuram-vmw opened #5146 "Login Form fields alignment broken in v4"
## Describe the bug

All the form fields in "v4" are having **max-width:fit-content**, which is causing login form to have different width for user name and password.

This is impacting all the text input fields in other forms as well.

## How to reproduce

Please navigate to https://clarity.design/documentation/login. Check the alignment of Username and Password form fields.

<img width="503" alt

[2020-10-15 12:17] #5115 closed

[2020-10-15 14:55] hippee-lee commented on #5146
I'm adding the regression label. This is happening because of a fix I made for t[his PR](https://github.com/vmware/clarity/pull/5053) and [this issue](https://github.com/vmware/clarity/issues/5009)

[2020-10-15 19:30] rbirkgit commented on #5133
Option 2 above did not work in our case. This because one of our tabs is only enabled depending on the result of an async function. So using *ngIf="true" is not working as it will be enabled too early. May need to write something more elaborate for the dummy *ngIf.

[2020-10-15 20:12] colinreedmiller opened #5150 "Link underline and state colors a11y"
Add underline to text link.
Check all colors for a11y against all BGs and update as necessary.

[2020-10-16 02:35] zhangxin511 opened #5153 "Inconsistent styles for disabled select option between browsers."
## Describe the bug

Selection option missing color for disabled attribute, browser used browser defined attribute directly causing different representations.

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-nguv7h

Steps to reproduce the behavior:

1.  Use chrome
2.  Click the selection, should see "two" disabled with grey text
3.  Use firefox
4.  Click the section, should

[2020-10-16 03:12] antonevane opened #5154 "Form with clrLayout="compact" breaks `clr-control-helper` text"
## Describe the bug

The form with a compact layout doesn't place `clr-control-helper` under input.
Reactive Forms, Clarity 4.0.4.
`clrForm`
`clrLayout="compact"`

## How to reproduce
1.  Go to [stackblitz](https://stackblitz.com/edit/angular-ivy-2igq8f?file=src/app/app.component.html)
2. The first form has a compact layout and helper text moved to the right - angular 3.x had under the input field

[2020-10-16 04:12] Wallabeng opened #5155 "How to get my change into current version"
First of all sorry, that I submit an issue for that, but don't know where to ask that elsewhere:
My PR #5070 was merged some time ago and I expected it to be in the next release.
Now I saw that it's not in latest 4.0.4, so I ask you how I get this change into a release?
And what's the point of having a separate branch for the latest version (out of curiosity)?

[2020-10-16 07:32] #5155 closed

[2020-10-16 09:18] bbogdanov commented on #5154
We need to revisit the styles for layouts in forms.

Sharing a quick fix for it [here](https://stackblitz.com/edit/angular-ivy-pvts6u?file=src%2Fapp%2Fapp.component.css) until we fix it in the library.

[2020-10-16 13:57] antonevane commented on #5154
@bbogdanov Thank you for a quick response and for the provided workaround.

[2020-10-16 14:28] mathisscott commented on #4579
@chlane
That example has nested anchor links. While the link hrefs go to the same place, it appears to violate our guidance of not putting clickable items inside of other clickable items.

In addition, those tiles from ebay are only anchor links. Product teams want clickable cards that act as both buttons and radio buttons too. I don't know how this recommendation moves us towards that.

[2020-10-16 16:50] chlane commented on #4579
@mathisscott Amy LI can explain but she needs access to this thread. Her github user name is @amylinow and her email address is amyli@vmwarecom

[2020-10-16 17:22] mathisscott commented on #4579
The reason Amy can't comment on this thread is because it is closed. I recommend opening a new issue if this conversation needs to continue.

CC: @gnomeontherun

[2020-10-16 19:14] chlane commented on #4508
Also for any icon using focusable="false" we should remove role="img"  and add aria-hidden="true" to clean up the accessibility tree.

[2020-10-16 20:19] BojidarTrenchev opened #5161 "Removing Tabs from Overflow Drop-down Does Not Work Properly in Some Cases"
## Describe the bug

I have a horizontal group of clr-tabs, some of which are in an overflow drop-down menu. Every button in the drop-down, when clicked, should move from the drop-down to the list of non-overflowing tabs, when setting clrTabLinkInOverflow = false. This does not work when there two or more tabs in the overflow menu and instead, the tabs just disappear, except for the last one left

[2020-10-16 22:27] gnomeontherun commented on #5153
Browsers do not allow you to customize the options dropdown in this way, so this is not a Clarity issue but a browser inconsistency we cannot modify. You could consider using the Combobox which is not an HTML select and can disable items. Closing as not an issue for Clarity.

[2020-10-16 22:27] #5153 closed

[2020-10-16 23:11] gnomeontherun commented on #5161
Hello, to help us triage can you please make an isolated reproduction for us to view? https://stackblitz.com/@clr-team has some starters. Also do you have Ivy disabled?

[2020-10-16 23:14] gnomeontherun commented on #5154
This is the correct layout for compact, where the helper text is inline with the form field. That is the key point for compact over horizontal layouts. Please see https://clarity.design/documentation/forms for demos of each type and you can see the layout was the same in v3 as well, so I'm not sure what you had before but it looks correct to me as it stands.

I'm going to close this as working as

[2020-10-16 23:14] #5154 closed

[2020-10-17 00:26] antonevane commented on #5154
@gnomeontherun It is an interesting point, I do see it in the doc.
We had behavior that I have mentioned for about a year, but we had a form with CSS classes.

`<form clrForm class="clr-form clr-form-compact"></form>`

[2020-10-17 09:16] Thatkookooguy opened #5162 "Two years later and the community page still isn't up-to-date"
Regarding the previous issue I opened about this **two years ago** (issue #2192), I see that still the community page wasn't updated (based on the fact that I don't see my name. if there are any other explanations, let me know).

Is this planned at all? I don't want to nag. But last time the discussion finished with ppl saying it's planned for the near future

@gnomeontherun @adityarb88

[2020-10-19 07:16] #4868 closed

[2020-10-19 07:23] bbogdanov commented on #5126
@hristozov The fix will come with `v3.1.11` next week.

[2020-10-19 07:23] #5126 closed

[2020-10-19 07:26] #5162 closed

[2020-10-19 07:37] hristozov commented on #5126
Thanks for the quick fix, Bogdan!

[2020-10-19 08:14] bbogdanov commented on #4868
@jisensee The fix will be available with `4.0.5` next week.

[2020-10-20 06:24] #4986 closed

[2020-10-20 06:47] bbogdanov commented on #4986
The fix will be available in `2.1.8` `3.1.11` and `4.0.5`

[2020-10-20 07:07] tovinayv commented on #5109
I understand that this was deprecated and decided to remove based on bug https://github.com/vmware/clarity/issues/5083, Got a recommendation to use LiveAnnouncer from @angular/cdk, However, i found that the LiveAnnouncer from @angular/cdk behaves the same way as ClrAriaLiveService.

There is a workaround to make this work, Take a look at this https://stackblitz.com/edit/clarity-v4-dark-theme-wizar

[2020-10-20 13:54] mathisscott commented on #5109
@gnomeontherun

[2020-10-21 03:20] paul-ebose opened #5175 "Documentation for @clr/react"
## Summary

It will be nice to have examples for use of Clarity Design and React in the documentation. I know official React support is fairly new but I am opening this in hope that contributors can come in to assist in the process. I can help also

- What is the change?
A change in documentation. It can be integrated in the current documentation or in a separate one

- Why should it go in Clarity

[2020-10-21 06:17] aavelyn opened #5176 "ETA Figma Design update to V4"
## Summary

With the addition of several awesome new components (e.g. combobox) we wanted to update our figma design.
So I wanted to ask you if there are any ETAs for a figma library update to clarity v4 :)

[2020-10-21 07:12] aavelyn opened #5177 "Link to Metropolis Font on clarity getting started page is broken"
## Describe the bug

On the [getting started](https://clarity.design/documentation/get-started) page, the link to the metropolis font reaches a github 404.

![image](https://user-images.githubusercontent.com/16038088/96685393-53a39000-137d-11eb-8603-5c39b8a37daa.png)

## How to reproduce

On the [getting started](https://clarity.design/documentation/get-started) page click "Metroplis R8" button

#

[2020-10-21 08:09] Jinnie commented on #4093
Tested with versions from v2 up to v4. Sort order is reported (see screenshot):

<img width="617" alt="Screen Shot 2020-10-21 at 11 05 47 AM" src="https://user-images.githubusercontent.com/1798828/96691490-9f5e3580-138d-11eb-917f-7495d7779ada.png">

[2020-10-21 08:09] #4093 closed

[2020-10-21 08:10] Jinnie commented on #4093
This is per W3C specification and follows the examples here:
https://www.w3.org/TR/wai-aria-practices/examples/grid/dataGrids.html

[2020-10-21 08:30] Jinnie commented on #4054
I am unable to open the provided stackblitz example.
When testing with our website examples I only see that focus indicator may still be on the sort button, while the SR-cursor is in the adjacent column's resize handler. It is still reading the correct content for the reported column number.
Though it may be confusing when mixing both scenarios - blind and sighted user, it works correctly in separ

[2020-10-21 08:30] #4054 closed

[2020-10-21 10:21] #4135 closed

[2020-10-21 10:50] AleksandrovaP opened #5182 "Clr-signpost inside of clr-modal doesn't fit in the screen"
## Describe the bug

When a clr-signpost is being used in a clr-modal, the signpost overflows the screen and it’s bottom part cannot be seen.

## How to reproduce
https://stackblitz.com/edit/clarity-modal-with-signpost

<img width="939" alt="Screen Shot 2020-10-21 at 1 48 53 PM" src="https://user-images.githubusercontent.com/37516804/96710067-359d5600-13a4-11eb-88a2-f41463be69e3.png">

Steps to re

[2020-10-21 16:27] coryrylan commented on #5175
We are actively working on revamping our documentation website to improve docs on the Web Components and Clarity React so this should improve in the near future. Our temporary docs for React and the Web Components can be found at our storybook doc site. We also have some example apps for reference as well.

here https://clarity.design/storybook/core/?path=/story/documentation-react--page
https://g

[2020-10-21 16:30] coryrylan commented on #5176
@colinreedmiller may be able to provide a status update on this

[2020-10-21 16:35] colinreedmiller commented on #5176
The library is continuously updated and published  - as often as 1x a week. Each update contains new components or bug fixes, whatever is prioritized by the team. We are in the process of catching up with 4.0 but do not have a specific timeline for parity with the release.

[2020-10-21 22:58] paul-ebose commented on #5175
okay thank you

[2020-10-22 05:51] lalitbhagtani opened #5184 "DatePicker width get increased, when it is in focused state."
## Describe the bug

When user clicks on date picker input element (focus state), then width of date picker get increased.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to Datepicker
2.  Click on input field
4.  See error, width of input is increased

## Expected behavior

When user click on date picker input element, then its width should not get increased.

## Versions

**App**

[2020-10-22 06:08] magistvan opened #5185 "Cannot set id for combobox"
**Describe the bug**
When trying to specify an id for a combobox, getting the error:
 "Cannot set property id of [object Object] which has only a getter"

**How to reproduce**
Stackblitz link: https://stackblitz.com/edit/clarity-v4-combobox-id?devtoolsheight=33&file=src/app/app.component.ts

**Expected behavior**
Combobox can have an id.

**Versions**

Angular: 10.0.14
Node: 10.16.0
Clarity: 4.0.1

[2020-10-22 07:11] aditorium opened #5186 "Vertical Nav: Collapse all other Nav Groups"
## Summary

There should be a setting in Vertical Nav which allows following behavior:
When a Nav Group is expanded /opened, all other Nav Groups are automatically collapsed / closed

## Use case

This helps the user to focus on the current Nav Group, especially in a Vertical Nav with many items and multiple hierarchy levels.

## Examples

[Stackblitz Example](https://stackblitz.com/edit/clarity-c

[2020-10-22 08:27] aavelyn opened #5188 "Datalist v3 does not display all options when deleting last character"
## Describe the bug

Datalist v3 does not display all options when deleting last character

![image](https://user-images.githubusercontent.com/16038088/96845635-2e805180-1451-11eb-90b9-1ea86889b540.png)

![image](https://user-images.githubusercontent.com/16038088/96845658-350ec900-1451-11eb-8b63-c88388a46787.png)

## How to reproduce
Steps to reproduce the behavior:

1.  Go to [Datalist Demo](http

[2020-10-22 09:43] RGarbersWPS opened #5189 "Accessibility: Datepicker remains in tab-loop"
## Describe the bug

It is currently not possible to tab through a form where at least one datepicker is in. You will not be able to go further than the datepicker as you will be stuck in a tab-loop.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to a datepicker
2.  Try to tab through it
3.  Get stuck

You could try it on the Clarity Datepicker Documentation page.

## Expected beha

[2020-10-22 12:32] nmarkapuram-vmw commented on #3779
HI @gnomeontherun , Today I too faced the issue while changing the earlier clarity input to password and noticed that the ticket is already available for this.

I found a small workaround for this. Need your input on this.

Workaround
Apply the theme background color (#fafafa) for autofill and increase the padding bottom of clr-input-group is resolving it.

input:-webkit-autofill, input:-webkit-au

[2020-10-22 15:08] coryrylan commented on #5188
This unfortunately is out of our control as the datalist UI is completely controlled by the browser. Also a note that the behavior of datalist can vary between browsers. You can see the same behavior on the MDN examples. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist

[2020-10-22 15:08] #5188 closed

[2020-10-22 20:28] gnomeontherun commented on #5177
This is interesting, it appears the maintainer of Metropolis deleted his repository. Thanks for raising this up, we'll have to manually add the original files for people to download, which I've attached here.

[Metropolis.zip](https://github.com/vmware/clarity/files/5425574/Metropolis.zip)

[2020-10-22 20:33] zoom2ashish commented on #2265
@Jinnie I had the fix with "this.grid.rows.notifyOnChanges();" as you had suggested and it was working fine till Clarity v2. I recently upgraded to Clarity v3 + Angular 10, and I am not seeing "Object Unsubscribed" error when the grid is loaded.

If I remove this particular line, then error is not happening and grid is loading fine.

[2020-10-22 20:57] gnomeontherun commented on #5176
I'm going to close this as a question and please do follow the Figma file for updates.

[2020-10-22 20:57] #5176 closed

[2020-10-22 20:59] gnomeontherun commented on #5182
An app could workaround this by adding CSS to make the content of the signpost scrollable, but from a UX perspective this is quite a large signpost which makes me wonder why it needs to be so large? Perhaps another pattern is better, like expanding content inline?

[2020-10-22 21:19] gnomeontherun commented on #5184
Hi there, we need a reproduction of this to understand what the issue is. I don't see this happening on the documentation. You can find starter kits at https://stackblitz.com/@clr-team.

[2020-10-22 21:20] gnomeontherun commented on #5133
Yeah, the point is you'd need to ensure they all resolve in the same lifecycle, which gets more complicated to demonstrate but works the same in principle.

[2020-10-22 21:41] gnomeontherun commented on #5109
I'm not sure I understand the workaround, but either way this service doesn't work well with certain screen readers and doesn't offer much value in the end that applications benefit from. There are different ways that an app might want to make live announcements, and to that end I'm still planning to remove this.

[2020-10-22 21:48] coryrylan commented on #5189
Thanks for filing this, I was able to reproduce the issue.

[2020-10-22 21:54] coryrylan commented on #5185
@macfaden please provide a stackblitz reproduction to help us better understand the issue. You can find starter kits at https://stackblitz.com/@clr-team.

[2020-10-23 05:30] amellnik commented on #5097
Is there design or similar for how focus traps should work and be used in Clarity?  In addition to this, there's a few other places like this where `clrfocustrap` is being used but doesn't actually trap focus, like the column filter dialog.

[2020-10-23 17:05] MalteJoe opened #5199 "Multiselection Combobox dirties ReactiveForm during initialization"
## Describe the bug

Using `<clr-combobox clrMulti="true">` with Angular Reactive Forms marks the form `dirty` during initial render.
Also an `ExpressionChangedAfterItHasBeenCheckedError` is thrown when using `dirty` in the template and Angular Ivy.

## How to reproduce

Stackblitz: https://stackblitz.com/edit/clarity-v4-dark-theme-wxzwox?devtoolsheight=33&file=src/app/app.component.ts

Steps to r

[2020-10-23 18:39] BojidarTrenchev commented on #5161
I am sorry for the delay. Here is the [demo](https://stackblitz.com/edit/clarity-v4-light-theme-isiqnj?file=src/app/app.component.ts) that demonstrates the bug. Just click on the last two buttons in the overflow dropdown menu. They will disappear instead of being added to the other buttons not in the overflow menu.

I am using the latest version of Angular in the example so Ivy should be enabled.

[2020-10-23 20:58] coryrylan commented on #5199
Thank you for filing the issue with a stackblitz demo. We will take a look into this. It looks like we are missing something in the lifecycle when we setup the component.

[2020-10-24 04:28] amellnik commented on #5189
Related: #5136

[2020-10-26 02:28] exequiel09 commented on #4512
I encounter this problem as well. In other situations, using `emitEvent` option set to `false` is enough. However, this is really an annoying bug especially when you're using a `FormArray` instance inside stepper panel. Could be easily solvable if Angular have `emitEvent` functionality for FormArray mutation functions as well (https://github.com/angular/angular/issues/23336)

[2020-10-26 15:31] Jinnie commented on #5161
Hello, Bojidar,
Thanks for the provided demo. But I can't reproduce the problem looking at it. The items move between the overflow and main menu as expected.

[2020-10-26 15:47] Jinnie commented on #5185
It's probably related to the A11Y driven need to move the id to the underlying input element, so it's properly referenced by the label's 'for' attribute.

[2020-10-26 16:13] Jinnie commented on #5128
I compared with the W3C specs. They clear the value if the combobox filter is emptied. We keep the last valid value.
So, it is a bug and needs to be fixed.

[2020-10-26 19:31] colinreedmiller commented on #5150
**All links should be underlined.**

Update colors as follows:

**Light theme**
Link - normal & hover use Blue (198) 800 --- HSL: (198, 100%, 27%)
• For Clarity NG use: Action-700
Link - clicked use Violet (282) 700 --- HSL: (282, 80%, 36%)
• For Clarity NG use: Secondary-Action-600
Link - visited use Lavender (238) 600 --- HSL: (238, 60%, 52%)

**Dark theme**
Link - normal & hover use Blue (198)

[2020-10-27 08:54] MalteJoe commented on #5199
I noticed the component works somewhat like expected when using `null` instead of an empty list.
When initializing the `FormControl` with values from the `items` list, its value is `undefined`, but I expect it to be `[item[0], item[1]]`

[2020-10-27 09:23] Rajpradeep26 opened #5202 "ClrPassword control has an additional eye icon in Microsoft Edge (Chromium support browser)"
## Describe the bug

_When a ClrPassword control is opened in Microsoft Edge (Chromium support browser), we can see two eye icons displayed for viewing the password characters_

## How to reproduce
Steps to reproduce the behavior:

1.  Open Microsoft Edge (should be upgraded to Chromium support) browser
2.  Paste 'https://clarity.design/documentation/password' in the address bar
3.  Scroll down an

[2020-10-27 09:29] BojidarTrenchev commented on #5161
Hello, this is very weird as it still does not work for me when I click on the Settings or Images tab, they just disappear. Have you tried clicking those tabs?

[2020-10-27 11:37] digish777 opened #5203 "clicking on the internal anchor tag inside drop down list which is placed inside clr-header does not trigger Heamburer menu close"
clicking on the internal anchor tag inside drop down list which is placed inside clr-header does not trigger Heamburer menu close

[2020-10-27 11:38] digish777 opened #5204 "clicking on the internal anchor tag inside drop down list which is placed inside clr-header does not trigger Hamburer menu close"
clicking on the internal anchor tag inside drop down list which is placed inside clr-header does not trigger Hamburer menu close

[2020-10-27 12:43] jeevanm18 opened #5205 "Clarity signpost/dropdown gets triggered inside a form when clicked on any form controls."
## Describe the bug

When we have a  clarity component within the form for ex: we have an sign post and normal input text within the form when we hit enter key on input text field sign post button triggers.This happens with most of the clarity components used within a form .

## How to reproduce

Stackblitz link to reproduce the issue [https://stackblitz.com/edit/clarity-light-theme-v2-xedwjs?file

[2020-10-27 14:47] coryrylan commented on #5202
There is a workaround for this. You can the following styles to your global CSS

[code]

[2020-10-27 14:48] coryrylan commented on #5204
Closing as duplicate of https://github.com/vmware/clarity/issues/5203

[2020-10-27 14:48] #5204 closed

[2020-10-27 14:49] coryrylan commented on #5203
@digish777 please provide a reproducible example with Stackblitz. You can find starter kits here https://stackblitz.com/@clr-team

[2020-10-27 14:58] coryrylan commented on #5205
This is because of the `<form>` element around the inputs and buttons. When using the enter key it will trigger the first button as a submit event. Add type button to all the buttons within the form to prevent them from being triggered as submit types.

[code]

https://stackblitz.com/edit/clarity-light-theme-v2-qb6hwl?file=src%2Fapp%2Fapp.component.html

[2020-10-27 14:58] #5205 closed

[2020-10-27 15:20] d-m-s commented on #4839
an icon for marking birthdays would be great.

Something similar exists in Material Design - See https://material.io/resources/icons/?icon=cake&style=outline

<img width="87" alt="2020-10-27_16h16_29" src="https://user-images.githubusercontent.com/311619/97322596-3d5f6d80-1870-11eb-8d87-40bb80f790cb.png">

[2020-10-27 15:30] jeevanm18 commented on #5205
Thanks a lot @cfryanr

[2020-10-27 15:39] Rajpradeep26 commented on #5202
Thanks, that is a perfect workaround.

[2020-10-27 15:46] Rajpradeep26 commented on #5202
Reopening the ticket to make sure the clarity team, provides a permanent fix for it.

[2020-10-28 10:09] sisohs commented on #4182
Hey, I tried this, and works well with Single dropdown. But in my case, I have a nested dropdown, hence I can't actually get it working. I end up having scroll on parent, but clicking on it doesn't open the child dropdown menu.

[2020-10-28 13:19] magistvan opened #5208 "Combobox in datagrid filter not working properly"
## Describe the bug

When a datagrid filter contains a multiselect combobox, there are some strange behaviors:

- When a new (non selected) option is clicked from the list, it is added to the selected ones, but the whole filter disappears (the filter probably does not recognize the combobox's list as its own child component)

- When an already selected option is clicked again, the filter disappear

[2020-10-28 13:29] Lasoloz commented on #5208
An additional note from my side: we also think that both components (filter and combobox) using popovers might be related to the issue.

[2020-10-28 19:44] mathisscott commented on #5150
@coryrylan
Do we want to wrap this up in the core theming work?

[2020-10-28 22:36] gnomeontherun commented on #5175
I'm going to close this as already available, and we're working on enhancing this in the coming weeks.

[2020-10-28 22:36] #5175 closed

[2020-10-29 00:17] yohanb78 opened #5215 "Datagrid server driven and detail pane"
## Summary

Some features like detail pane are only possible with *clrDgItems, when datagrid is serverdriven, *ngFor must be used
Maybe i did a mistake and I don't find how to do it ? But if it is not the case, it should be, (I think), pretty nice, if  there was an input in detail pane to feed the data to display inside it.
Or when the button to display/hide the detail pane is clicked, he should k

[2020-10-29 03:11] KingMario opened #5216 "Broken aria-describedby for toggle switch"
## Describe the accessibility issue

the aria-describedby of input is broken.

besides, if `clr-control-helper` isn't provided, the aria-describedby should not be set.

## How to reproduce

inspect the official example of helper text of https://clarity.design/documentation/toggle-switches:

![image](https://user-images.githubusercontent.com/3956876/97520839-1ff8e380-19d7-11eb-9692-93147763692f.png

[2020-10-29 08:28] #5139 closed

[2020-10-29 08:30] #5215 closed

[2020-10-29 08:39] #4454 closed

[2020-10-29 14:02] bbogdanov commented on #5146
The fix will be available with version `4.0.5`

[2020-10-29 15:22] gnomeontherun commented on #5216
This is a duplicate issue we are tracking internally as 162. Closing as a duplicate of #4475

[2020-10-29 15:22] #5216 closed, assigned to nobody

[2020-10-29 16:49] coryrylan opened #5223 "Core: TS update"
Upgrade Core to TypeScript 4.x

[2020-10-29 18:04] #4005 closed

[2020-10-29 20:30] gnomeontherun commented on #1715
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:30] #1715 closed

[2020-10-29 20:31] gnomeontherun commented on #1889
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:31] #1889 closed

[2020-10-29 20:31] gnomeontherun commented on #858
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:31] #858 closed

[2020-10-29 20:32] gnomeontherun commented on #3090
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:32] #3090 closed

[2020-10-29 20:32] gnomeontherun commented on #3183
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:32] #3183 closed

[2020-10-29 20:32] gnomeontherun commented on #3177
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:32] #3177 closed

[2020-10-29 20:32] gnomeontherun commented on #3178
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:32] #3178 closed

[2020-10-29 20:33] gnomeontherun commented on #3166
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:33] #3166 closed

[2020-10-29 20:33] gnomeontherun commented on #3251
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:33] #3251 closed

[2020-10-29 20:33] gnomeontherun commented on #3776
Closing as this is a v1 specific issue and it is out of support.

[2020-10-29 20:33] #3776 closed

[2020-10-29 20:34] gnomeontherun commented on #3586
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:34] #3586 closed

[2020-10-29 20:34] gnomeontherun commented on #4108
Sketch has been deprecated, closing this as no longer relevant.

[2020-10-29 20:34] #4108 closed

[2020-10-29 20:35] gnomeontherun commented on #4369
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:35] #4369 closed

[2020-10-29 20:35] gnomeontherun commented on #4201
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:35] #4201 closed

[2020-10-29 20:36] gnomeontherun commented on #4435
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:36] #4435 closed

[2020-10-29 20:36] gnomeontherun commented on #4452
No longer an issue or resolved in the upcoming website work. Closing as resolved.

[2020-10-29 20:36] #4452 closed

[2020-10-29 20:37] gnomeontherun commented on #5177
Fixed on website.

[2020-10-29 20:37] #5177 closed

[2020-10-29 20:46] gnomeontherun commented on #4796
This is missing a demo to view, and I don't know what `window.innerWidthPx` is a reference to. However, this is bad practice to reference the window object directly in the template and won't trigger change detection. You'd want to store this property on the controller instead and have a listener updating that value in your controller instead. Closing as this is likely an implementation issue and t

[2020-10-29 20:46] #4796 closed

[2020-10-29 21:59] #4785 closed

[2020-10-29 22:37] gnomeontherun commented on #3646
Closing due to being isolated to an unsupported version of Clarity or has been fixed in more recent versions.

[2020-10-29 23:11] #4756 closed

[2020-10-29 23:12] #4899 closed

[2020-10-30 04:27] pavandixit93 commented on #4756
Thank you team :)

[2020-10-30 08:20] bbogdanov commented on #5146
The fix is not working as expected. Something along the way misguides me that the `login` example on the website works fine with the fix. Found what is wrong with the fix. The correct behavior will be available in the next release. `4.0.6`.

[2020-10-30 08:20] bbogdanov commented on #5146
The fix is not working as expected. Something along the way misguides me that the `login` example on the website works fine with the fix. Found what is wrong with the fix. The correct behavior will be available in the next release. `4.0.6`.

[2020-10-30 09:08] muruganG commented on #4610
@Jinnie  Is there any plan to fix  the date picker inside signpost ?

[2020-10-30 09:31] dennitsa opened #5226 "Form checkboxes' label color is black(#000) as opposed to other input elements, for which it is grey(#444)"
## Describe the bug

Form checkboxes' label color is black(#000) as opposed to other input elements, for which it is grey(#444)

## How to reproduce
Link to stackblitz demo:
https://stackblitz.com/edit/difference-between-checkbox-and-toggle?file=src/app/app.component.ts

Steps to reproduce the behavior:

See how the label of the checkbox looks darker than the label of the toggle.

## Expected beha

[2020-10-30 13:54] gnomeontherun commented on #4610
We don't expect to have explicit support for a date picker inside of a signpost, because signposts are not intended to be used that way. It sounds like you want a modal there instead.

From our documentation about signposts: https://clarity.design/documentation/signposts

It would possibly cause accessibility concerns as well.

[2020-10-30 13:57] gnomeontherun commented on #4515
Closing as we haven't had any issues or reports of this problem, and the workaround is straightforward.

[2020-10-30 13:57] #4515 closed

[2020-10-30 17:17] ad9999 opened #5229 "Release Link results in 404"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._

_If this is an accessibility related report, please use the correct template at https://github.com/vmware/clarity/issues/new?template=accessibility-report.md_

## How to reproduce

Visit:

https://next.clarity.design/releases/v4

Try to click on `Release 2020-10-15`

## Expected behavior

[2020-10-30 18:16] mathisscott opened #5231 "Remove unsupported stackblitz versions and add new ones for v5.0"
## Summary

- [x] We need to remove the stackblitz templates with unsupported Clarity versions from https://stackblitz.com/@clr-team
- [x] We need to add stackblitz templates for @clr/core and @clr/react

Presently we have stackblitz templates for v0.10 and v0.11. 😳

Note: I don't know who can do this (I tried and couldn't) so I'm assigning to @hippee-lee.

I think it's okay if this happens shortl

[2020-10-30 19:00] jzabinski opened #5232 "start value has mixed support, consider using flex-start instead"
## Describe the bug
In v4.05, when `ng serve` is used in an Angular app, PostCSS outputs this warning:
start value has mixed support, consider using flex-start instead

## How to reproduce

Install a new Angular app that uses Clarity v4.0.5. Call `ng serve` from a command line, and watch the warnings produced. (Messages from `ng serve` cannot be seen in Stackblitz, so no project was forked.)
Warni

[2020-10-31 06:01] rarkins opened #5235 "Incorrect package.json metadata for repository field"
## Describe the bug

Packages within this repository have incorrect values for `repository` within their `package.json`. This means, for example, that automated tools cannot detect this source repository and it is not displayed on pages such as https://www.npmjs.com/package/@clr/core

## How to reproduce

Look at any `package.json`, e.g. https://github.com/rarkins/clarity/blob/667b83a135f03cc64498

[2020-10-31 14:32] VladimirAnaniev opened #5236 "Form validation triggered when displaying hidden form control"
## Describe the bug

Clarity forms validation is triggered when a hidden form control is displayed (using *ngIf).
A reactive form with one required field and one optional field hidden by default. There is a button that toggles the visibility of the optional field.
When the optional field is shown, form validations are displayed for all form controls, even if they haven't been touched.

## How to r

[2020-11-01 14:54] KingMario commented on #4475
If no `clr-control-helper` is presented, the aria-describedby should be omitted. Is there any way to check if the content is projected?

[2020-11-02 06:14] pavandixit93 opened #5237 "Accessibility - Unable to navigate using arrow keys in single-selection-datagrid in Firefox/Edge/IE11"
## Describe the bug
While using `single-selection-datagrid` I found that `name` attribute is not set and missing on `<input type="radio".../>` which is rendered under `<clr-radio-wrapper.../>` and due to which I am not able to navigate radio selection using arrow keys in Firefox, Edge and IE11. If I add random `name` attribute on each radio elements I can easily navigate using arrow keys.
This als

[2020-11-02 07:18] #5146 closed

[2020-11-02 07:21] bdryanovski commented on #5229
I manage to reproduce it ..

I'm getting this link when I click

[code]

[2020-11-02 08:01] bdryanovski commented on #5237
@pavandixit93 thank you for reporting this issue.

There is an open [issue](https://github.com/vmware/clarity/issues/5136) about that already. So I'm closing this in its favor.

[2020-11-02 08:01] #5237 closed, assigned to nobody

[2020-11-02 08:11] sdurnov commented on #4744
@coryrylan any plans to fix that? Disabling strict templates in a whole project just because of that is awful :(

[2020-11-02 08:16] jeevanm18 opened #5239 "Unable to access to clarity sig post inside ng template"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._

_If this is an accessibility related report, please use the correct template at https://github.com/vmware/clarity/issues/new?template=accessibility-report.md_

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://st

[2020-11-02 10:14] bbogdanov commented on #5239
Hi @jeevanm18

Like I said in `slack`, what you are missing is `[ngIf]="true"` inside the `ng-template`

[Here](https://stackblitz.com/edit/clarity-light-theme-v2-ts35gk?file=src/app/app.component.html) you can see the example.

https://angular.io/guide/structural-directives#the-ng-template is where you can find more info about `ng-template`

[2020-11-02 10:14] #5239 closed, assigned to nobody

[2020-11-02 13:00] Jinnie commented on #4610
This is the current workaround. Few comments up in the thread.

[2020-11-02 13:14] jeevanm18 opened #5244 "Clarity sign post content inside data grid has a horizontal scroll bar"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._

_If this is an accessibility related report, please use the correct template at https://github.com/vmware/clarity/issues/new?template=accessibility-report.md_

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://st

[2020-11-02 13:55] #5223 closed, assigned to mathisscott

[2020-11-02 14:28] dennitsa commented on #5226
I just noticed the same is true for radio buttons.

[2020-11-02 15:23] mathi123 opened #5246 "Combobox search values longer than input get cleared."
## Describe the bug

When typing search text in the combobox, the typed value gets cleared if the input is longer than the input size.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to the [combobox documentation page](https://clarity.design/documentation/combobox#examples)
2.  Enter a search value of 21 characters in the first example combobox
3.  Upon typing the 22th character, t

[2020-11-02 15:28] #5232 closed, assigned to nobody

[2020-11-02 15:53] twittwer commented on #4744
We had a similar problem #4604 - it could be fixed by extending the input coercion
[code]

[2020-11-02 16:31] handreev opened #5247 "Number Input - Feature request"
## Summary

_Summary the request and address the questions as appropriate._

- What is the change?

I want to propose to Clarity to create a stepper input as an additional way to change the value inside an input. I work for the vSphere UX team. At the moment, we are porting the UI from Kendo to Clarity and Angular. Clarity does not support "input stepper" or a "number input." I think that componen

[2020-11-02 16:42] hippee-lee commented on #5247
Stepper is forms based and works with the form controls Clarity provides, including the number input type. Is something like this not working for you? If it is not working please post a minimal stackblitz with the stepper and input code that is not working and we can investigate further.

[code]

[2020-11-02 18:34] danail-vasilev opened #5248 "Page scrolls to top on single action button click example"
## Describe the bug

Page scrolls to top on single action button click

## How to reproduce

https://stackblitz.com/edit/clarity-v3-dark-theme-timeline-demo-dg6zfs?file=package.json

Steps to reproduce the behavior:

https://www.screencast.com/t/kPLtJClMENGh

## Versions

**App**

- Angular: 8
- Clarity: Clarity 3.1.11 / 4.0.5

**Device:**

- OS: Windows
- Browser Chrome

**Additional notes**

Iss

[2020-11-02 18:36] danail-vasilev opened #5249 "Single action popover is wrongly positioned when the page is scrolled"
## Describe the bug

Single action popover is wrongly positioned when the page is scrolled

## How to reproduce

https://stackblitz.com/edit/github-question-3951-ksbbqc?file=package.json

Steps to reproduce the behavior:

https://www.screencast.com/t/kPLtJClMENGh

## Versions

**App**

- Angular: 8
- Clarity: 2.3.0 / 2.4.8

**Device:**

- OS: Windows
- Browser Chrome

## Additional notes

Related

[2020-11-03 07:20] VladimirAnaniev opened #5252 "Combobox popover not shown on first click"
## Describe the bug

This issue caused a couple of our Protractor tests to fail after bumping Clarity from 4.0.2 to 4.0.5.
The issue occurs when filling a form with multiple fields, one of which is a Combobox. If the text in the form control before the Combobox is longer than the width of the input, then after clicking the Combobox arrow the options popover is not shown. The Combobox is focused, h

[2020-11-03 10:14] #5226 closed, assigned to bdryanovski

[2020-11-03 10:38] svarlamov opened #5255 "Backticks in Metropolis font appear to have no width (and stack on each other)"
## Describe the bug

Whenever rendering multiple backticks (`) they just appear on top of each other -- as if there is just a single backtick.

## How to reproduce

1. Type several backticks in an input that uses the Metropolis font used by Clarity

2. You will only 'see' a single backtick, because of this font bug

## Expected behavior

Would expect to see the number of backticks that are actuall

[2020-11-03 12:09] ghost opened #5256 "Button group - dropdown items fail to receive focus"
## Describe the accessibility issue

I am using my keyboard to interact with a clr-button-group. The button group has several elements in a dropdown ([clrInMenu]="true").
When I focus the dropdown and open it there is no way to interact with the buttons in the list by only using the keyboard.
Instead the focus moves to the next focusable element on the page.

The button group works well when there

[2020-11-03 13:28] bbogdanov commented on #5244
[Solution](https://stackblitz.com/edit/clarity-light-theme-v2-bgo65e?file=src%2Fapp%2Fapp.component.css)

[2020-11-03 13:28] #5244 closed, assigned to bbogdanov

[2020-11-03 14:29] gnomeontherun commented on #5255
This is a duplicate of #1521 and was resolved by using Clarity City. The Metropolis font is not something we controlled unfortunately. If you have multiple ` characters, I believe you might have to escape them with a space between them.

Closing as resolved in Clarity City, which you could replace Metropolis with Clarity City but there are some differences which is why we haven't automatically upd

[2020-11-03 14:29] #5255 closed, assigned to nobody

[2020-11-03 14:36] Jinnie commented on #5097
This can be reproduced with any of the smart popovers in the datagrid. If the focus goes out of the close button - popover gets closed. Another side effect is that if the trigger is focused than any key will trigger a toggle. Even a Shift.

[2020-11-03 14:42] karan-kang opened #5259 "Incorrect foreground color for status badge-warning"
## Describe the bug

The foreground color of status badge warning does not have enough contrast with background.

## How to reproduce

Steps to reproduce the behavior:

1.  Visit: https://clarity.design/documentation/badges and observe the Status badges
2. ![image](https://user-images.githubusercontent.com/1234394/97998890-a8e99380-1db8-11eb-9cfd-8c6307bd87b9.png)

## Versions

Clarity: v4.0.5

[2020-11-03 16:21] handreev commented on #5247
I ran a stackblizt with stepper and input code, and it is working. The challenge I see in this implementation is that the stepper is browser native. It doesn't have the Clarity styling, which I believe would benefit vSphere users and Clarity users alike.

[2020-11-03 18:48] wokis opened #5260 "Card text with bigger font-size set overflows the parent div height"
## Describe the bug

Card text with bigger font-size set overflows the parent div height. The parent div does not seem to wrap around the increased font size.

![image](https://user-images.githubusercontent.com/4148643/98027726-63a38100-1e0d-11eb-860a-02bc95b04378.png)

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-tq2p1g?file=src/app/app.component.html

Steps to reproduc

[2020-11-03 20:13] gnomeontherun commented on #5260
Hi there @wokis, this is not a bug with Clarity as this could be a problem anywhere you have a large font with a small line-height. You need to also update the line-height if you increase the font size. Also, we suggest you use `rem` values instead so that sizes are more responsive to user zoom and settings.

[code]

Closing as not an issue but easily resolved in implementation.

[2020-11-03 20:13] #5260 closed, assigned to nobody

[2020-11-03 20:16] gnomeontherun commented on #5247
There are actually benefits to leaning on browser defaults since users are more likely to be familiar with them, and it works well for accessibility use cases not to rebuild a browser native behavior. That is why we haven't invested in replacing this functionality with a custom number input.

Since this is a feature request, I'm going to move it to our GitHub discussions instead.

[2020-11-03 20:17] #5247 closed

[2020-11-04 09:00] #5097 closed

[2020-11-04 09:05] #4754 closed

[2020-11-04 09:06] Jinnie commented on #4754
I'll backport this to v4

[2020-11-04 12:36] bdryanovski commented on #5252
Thanks for reporting it,

It seems that this [issue](https://github.com/vmware/clarity/issues/5246) is also related to it, so we gonna try to combine and resolve both of them

[2020-11-04 13:02] bdryanovski commented on #5259
@karan-kang thank you for reporting this. We gonna try to add this issue in our next A11y bug fixes round.

[2020-11-04 13:04] bdryanovski commented on #5235
@coryrylan I think that we could easily update this ?

[2020-11-05 08:29] #5128 closed

[2020-11-05 10:03] bbogdanov opened #5267 "feat: cds-icon adoption schematic and tooling"
## Summary

With the incoming adoption of `cds-icon` in all our components and deprecating `clr-icon`, we need to provide a way to support our users by proving a smooth flow and tools to replace their `clr-icon` usage to `cds-icon`

Because of the high usage in an application of `clr-icon`, we would need a tool to help the adoption of `cds-icon` and reduce boring hours of search and replace.

## E

[2020-11-05 11:23] igpeev opened #5268 "Accordion v4 nesting into reusable component throws error - Cannot read property 'open' of undefined"
## Describe the bug

When I place (2) inside a `child` component with reuse in mind ((1) stays in `parent`), the error `cannot read property 'open' of undefined` is thrown on-load and on-expand-click (the expand/collapse also doesn't work under this scenario)

Components of Clarity Accordion referred:
1. `<clr-accordion>`
2. `<clr-accordion-panel>`,  `<clr-accordion-title>` and `<clr-accordion-con

[2020-11-05 11:42] bdryanovski commented on #5268
The error is thrown from here `projects/clr-angular/src/accordion/accordion-panel.ts`

It seems that these lines are having a hard time returning the correct service

[code]

So we are getting `this.panel.open` to be `undefined`

[2020-11-05 13:08] dorthrithil opened #5269 "Invalid password input changes width when focused"
## Describe the bug

An invalid password inout changes it's width when focused.

![Screen Shot 2020-11-05 at 14 07 59](https://user-images.githubusercontent.com/3655915/98244860-5e127c00-1f70-11eb-9f25-b681e606b550.png)
![Screen Shot 2020-11-05 at 14 08 04](https://user-images.githubusercontent.com/3655915/98244864-5eab1280-1f70-11eb-8793-640e60e5e928.png)

## How to reproduce

Steps to reproduce

[2020-11-05 15:01] gnomeontherun commented on #5268
This changes the component hierarchy, so the expectations have to be different. What is the full use case here as to why you wouldn't just put the accordion inside of the child component too?

[2020-11-05 15:30] bdryanovski commented on #5269
@dorthrithil thank you for reporting this - it seems that there is a bug in how we calculate the width of the input. Not sure why - but we gonna investigate it a bit more

[2020-11-05 15:49] bdryanovski commented on #5268
Here is part of the Slack discussion:

[code]

[code]

@igpeev mention that they have some workaround on the issue (a bit sketchy workaround).

I did not test it ... but setting `descendants: false` could help - but probably it's not added by chance so it could break something else.

[code]

[2020-11-05 16:06] gnomeontherun commented on #5268
I don't want to over complicate this either, a potential solution is to rethink how you nest the components. Angular (and therefore our components) can expect certain component trees, and abstractions can get in the way of the lifecycle processing.

You aren't getting much value by wrapping the accordion title and content elements entirely, just wrap the internals of the content. While we might be

[2020-11-06 10:46] dorthrithil opened #5272 "Add disabled state for button group"
## Summary

Add a disabled inout to the `clr-button-group` component that disables all buttons including the overflow button.

## Use case

When all actions in a button group should be disabled. This can be the case if you e.g. first have to provide some input in a form before using any of the buttons.

## Workarounds

Disable all single buttons - this leaves the overflow still active, which doesn

[2020-11-06 12:00] d-m-s opened #5273 "Date Picker with calendar weeks (optionally shown in first column)"
## Summary

Enhance the current date picker to optionally (via parameter) show the calendar weeks in the first column.

- What is the change?
add parameter to show calendar weeks.

- Why should it go in Clarity?
In Europe, probably with focus to german speaking areas, calendar weeks are commonly used to refer to a data.
More particular in delivery and production businesses the calendar week is an

[2020-11-06 12:05] d-m-s commented on #474
Hi everyone,
any updates how to proceed with this rather huge topic?

The reason I stumbled once again upon this ticket is a feature request to show calendar week in the datepicker.
I've created an own ticket for it: https://github.com/vmware/clarity/issues/5273

I'm unsure if it is necessary to be considered also within the scope of this feature, probably not when only building upon existing func

[2020-11-06 12:12] bdryanovski commented on #5273
@d-m-s this is something that we could consider adding but probably as part of the new Core component as part of the DatePicker and TimePicker component that we plan to replace the current one. This is something that we have on our roadmap for the next year.

[2020-11-06 12:54] d-m-s commented on #5273
Hi @bdryanovski, do you refer to the mentioned #474, or is there another existing?

[2020-11-06 14:28] bdryanovski commented on #5273
It's one of them. We are planning to redesign and rework the component, and want to do it right so that's why we are taking more time to plan what we want to include and how to make it accessible for everyone. We have some plan on how to do it, not everything is public, it's just not in the roadmap until the end of the year (for now).

[2020-11-06 14:58] gnomeontherun commented on #5272
If all buttons are disabled, what is the value in showing them at all? I'm curious about the use case, but I would agree that if all overflow items are disabled that the overflow itself might also be "disablable".

[2020-11-06 16:00] dorthrithil commented on #5272
If a user doesn't see the buttons at all he may wonder why there are any input fields in the form at all if there is no action linked to them. When you show disabled buttons the user knows that he most probably has to fill out the form for the buttons to become enabled.

A good example for this is the github comment box where it's exactly the same. With the exception that single buttons are used.

[2020-11-08 15:05] muruganG commented on #4610
@Jinnie  when i try to call ClrPopoverEventsService  ,getting some error for  outsideClickClose assignment   related issue below iam sharing the  snapshot console error

![image](https://user-images.githubusercontent.com/10629787/98468744-df347200-2201-11eb-98ce-14d1e39dca7f.png)

below the code part  anything missed for assignment
  variable declare with imported ClrPopoverEventsService
  clrPopo

[2020-11-09 09:11] dorthrithil opened #5275 "Combobox: Shown options are not reset after resetting the ngModel value"
## Describe the bug

When first clicking the arrow of a combobox, all options are shown. When you select an item, then reset the value of `ngModel` and then click the arrow again only the previously selected item is shown.

**All items are shown first:**

![Screen Shot 2020-11-09 at 10 09 44](https://user-images.githubusercontent.com/3655915/98521451-bf3d9680-2273-11eb-9840-4f6d354d33ba.png)

**Th

[2020-11-09 09:58] duzenko opened #5276 "[(clrAccordionPanelOpen)] redundant calls"
## Describe the bug

clrAccordionPanelOpen binding setter called with no user interaction on page init

## How to reproduce

Stackblitz seemingly broken?

Steps to reproduce the behavior:

[code]

![image](https://user-images.githubusercontent.com/1481807/98526751-d2a42e00-2282-11eb-965d-e481bd90f5b7.png)

## Expected behavior

No setter logs in console

## Versions

**App**

![image](https://user

[2020-11-09 10:02] duzenko opened #5277 "Stackblitz template broken?"
## Describe the bug

Trying to create a demo for an issue I encounter with Clarity but the Stackblitz template fails to initialize

## How to reproduce

Go to https://stackblitz.com/edit/clarity-v4-light-theme
Preview fails to load
Open browser console
Observe an error log
![image](https://user-images.githubusercontent.com/1481807/98527256-77267000-2283-11eb-9d98-93292e74a83b.png)

![image](https:

[2020-11-09 10:14] real-artswan commented on #4610
@muruganG you must inject ClrPopoverEventsService in constructor the same way as you inject any other services.
Like `constructor(private clrPopoverEventsService: ClrPopoverEventsService) {}`

[2020-11-09 10:32] real-artswan opened #5278 "clr-combobox displayed value"
It is more kind of question.

I'd like to use combobox inside reactive form so that I'm assigning `formControlName="clientId"`, but it contains id while I want to display a name instead.
So is there a way (template?) to customize displaing a selected value? I tried to use `clrOptionSelected="let selected"` but it doesn't display anything in my case.

this code displays filtered list but not the se

[2020-11-09 14:03] erabl-identos commented on #5259
I've noticed some more changes on the badge coloring from v3 to v4.
The [release changelog](https://clarity.design/news/4.0.5) does not list any badge-related changes, so I'm wondering if the new colors are intended or if this is a side effect from another change?

<table>
<tr>
  <td>
    V3 <a href="https://v3.clarity.design/badges" target="_blank">https://v3.clarity.design/badges</a>
  </td>
  <

[2020-11-09 14:21] mathisscott commented on #5259
@erabl-identos
These changes were intentional. They are to improve the accessibility (color contrast) of the badges.

[2020-11-09 14:43] dorthrithil commented on #5277
The posted link works for me (Chrome 86.0.4240.111 on Mac). But I experienced other issues using stackblitz lately. After updating the dependencies to the newest clarity version stackblitz didn't compile anymore. After disabling ivy it worked.

[2020-11-09 14:50] erabl-identos commented on #5259
Thanks for the clarification.

[2020-11-09 15:05] bdryanovski commented on #5278
@Jinnie can you share some secrets from the kitchen on that :)

[2020-11-09 15:20] gnomeontherun commented on #1364
I'm going to close this because we don't intend to support this behavior explicitly with a service and applications can easily set up their own service that fits their use cases and preferences.

[2020-11-09 15:20] #1364 closed

[2020-11-09 15:30] gnomeontherun commented on #1464
This is technically possible using the Core layout tokens, should someone be interested in that. I'm going to close this as possible https://clarity.design/storybook/core/?path=/story/foundation-layout-get-started--page.

[2020-11-09 15:30] #1464 closed

[2020-11-09 15:31] gnomeontherun commented on #1478
This has been implemented in Core forms and will be the recommendation for using groups.

https://clarity.design/storybook/core/?path=/story/forms-preview-input-groups-getting-started--page

[2020-11-09 15:31] #1478 closed

[2020-11-09 15:46] bdryanovski commented on #5275
@dorthrithil thank you for reporting this - you are right it looks like a bug into the Combobox and forms - we need to investigate it a bit more.

[2020-11-09 16:47] #4333 closed

[2020-11-09 16:52] gnomeontherun commented on #2586
@sis0k0 has added some testing here, we can close this.

[2020-11-09 16:52] #2586 closed

[2020-11-09 16:54] gnomeontherun commented on #2194
@mathisscott can we consider this closed via Core? It would be possible to more easily configure the spacing.

[2020-11-09 16:55] gnomeontherun commented on #2251
This is related to an unsupported version of Clarity, and Tree View was rewritten in v2 to address bugs like this one. Closing as out dated and shouldn't be a problem in v2+.

[2020-11-09 16:55] #2251 closed

[2020-11-09 17:10] gnomeontherun commented on #2783
@coryrylan is finishing this with the Core theming work. Closing this as it will be fully variable-ized.

[2020-11-09 17:10] #2783 closed

[2020-11-09 17:10] #2863 closed

[2020-11-09 17:12] gnomeontherun commented on #2895
While this is a known challenge with Clarity Angular/UI today, this will not be an issue with Clarity Core. To avoid major problems with existing usage of Clarity Angular/UI, this is something we have to reject and recommend adopting the Core components instead to avoid the generic selector problems. More details will be provided on the website and in upcoming releases, or just start with using Co

[2020-11-09 17:12] #2895 closed

[2020-11-09 17:14] gnomeontherun commented on #2603
This is available today in Core https://clarity.design/storybook/core/ and will be incorporated into the main website in coming months. Closing as resolved by Core.

[2020-11-09 17:14] #2603 closed

[2020-11-09 17:35] mathisscott commented on #2194
@gnomeontherun : The core modal does not presently allow for easy customization of the outer padding. I could add that as a non-breaking change. But it would land after v5.

[2020-11-10 11:13] #4261 closed

[2020-11-10 13:38] magistvan opened #5282 "Selecting an already selected option in combobox leaves the menu open"
## Describe the bug

When an option is combobox is selected and the user opens the dropdown for combobox again and selects the same one again, the dropdown remains open.

## How to reproduce

1. Select an option in combobox
2. Open dropdown of combobox / delete the last character from the selected value in input
3. Select the same value
4. Dropdown remains open

Stackblitz link: https://stackblitz

[2020-11-10 22:25] gnomeontherun commented on #3031
This is outside of our hands with the old version of Metropolis, but as we move to using Clarity City, this should be resolved. I'm going to close this as out of scope and solved by Clarity City.

[2020-11-10 22:25] #3031 closed

[2020-11-10 22:26] gnomeontherun commented on #4681
Due to lack of detail, and the ability to do this on the app side if you wish, I'm going to close this. Modals are injected where they are defined, and this could be done at the root of the page.

[2020-11-10 22:26] #4681 closed

[2020-11-11 12:35] siddharth1903 opened #5287 "Accordion Expand Collapse All panels Using Two way binding"
## Bug Description
I have an accordion with [clrAccordionMultiPanel]="true"
All the panels are two way bound to a state object which is an array of booleans using [(clrAccordionPanelOpen)]
When trying to expand or collapse all of them one shot using the state array, only one of them opens at once

## How to reproduce

https://stackblitz.com/edit/accordion-expand

Steps to reproduce the behavior:

[2020-11-11 21:06] MichaelWGibson opened #5290 "Custom filter shows In left corner after opening show/hide column menu"
## Describe the bug

After creating a custom filter component for the data grid component everything initially worked as expected. Then after I add the ability to hide and show columns, and changed the visible columns in the UI, the filter started rendering in the top corner of the screen instead of below the filter icon.

## How to reproduce

https://stackblitz.com/edit/clarity-v4-custon-filter

[2020-11-11 23:01] lil-kim commented on #4839
@gnomeontherun,
I've attached all the icons for this epic:
[icons-vol-18.zip](https://github.com/vmware/clarity/files/5527224/icons-vol-18.zip)
This completes issues: #4730 and #4840

[2020-11-12 15:19] Jinnie commented on #5290
You need to get the filter definition out of the structure directive `*clrDgHideableColumn` template.
Otherwise you get an out-of-place filter button inside the "show/hide" popover menu too.

https://stackblitz.com/edit/clarity-hideable-filter?file=src/app/app.component.html

[2020-11-12 15:19] #5290 closed, assigned to Jinnie

[2020-11-12 15:31] duzenko opened #5291 "Datalist inside table cells too small"
## Describe the bug

I'm trying to make use of `clr-datalist-container` inside a table but for some reason it does not fill the cell width

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://stackblitz.com/@clr-team). Reports without a clear reproduction may not be prioritized until one is provided._

Steps to reproduce th

[2020-11-12 16:12] digish777 opened #5292 "How do I close Hamburger menu which is open, from an button click in the page?"
How do I close Hamburger menu which is open, from an button click in the page?

[2020-11-12 16:29] Jinnie commented on #5278
Please, use the stackblitz templates here when reproducing a problem: https://stackblitz.com/@clr-team

Generally, in single selection combobox, the selected value is displayed inside the filter area. And it's editable. So, it will be the field you are using for as display value - in your case it's the `field='name'`. When you move your focus out of this field, even if you edited it, but did not m

[2020-11-12 16:29] #5278 closed, assigned to Jinnie

[2020-11-12 16:34] Jinnie commented on #5292
Use the close button on the right:
<img width="369" alt="Screen Shot 2020-11-12 at 6 32 32 PM" src="https://user-images.githubusercontent.com/1798828/98967766-89b7d800-2515-11eb-8ff4-838751d0beba.png">

Also, please use the Github Discussions for questions about the use of Clarity and its components.

[2020-11-12 16:34] #5292 closed, assigned to Jinnie

[2020-11-12 16:38] Jinnie commented on #5291
Our datalist is just a wrapper around the HTML datalist. You should be able to style it the same way as a normal datalist.
Please create a stackblitz reproduction, as requested in the template, if you would like us to be able to provide more detailed guidance.

[2020-11-12 16:38] #5291 closed, assigned to Jinnie

[2020-11-12 16:41] Jinnie commented on #5282
Selecting the same value actually does not count as selection event.
I am currently working on some related issues around the open/closed state, so I'm assigning this to myself, to keep in mind and see if we the new updates will affect it.

[2020-11-12 16:45] Jinnie commented on #5277
I am also unable to reproduce it:
<img width="1124" alt="Screen Shot 2020-11-12 at 6 44 08 PM" src="https://user-images.githubusercontent.com/1798828/98969052-1e6f0580-2517-11eb-97f1-1a77988520ff.png">

Please try the following:
- Different browser
- Incognito mode of the same browser
- Clear browser cache

[2020-11-12 16:45] #5277 closed, assigned to Jinnie

[2020-11-12 17:10] digish777 opened #5294 "How do I close Hamburger menu which is open, from the drop down list item inside the hamburger"
How do I close Hamburger menu which is open, from the drop down list inside the hamburger. If user clicks in the list of items in the drop down list. the user navigates to that page. but the hamburger menu will still be in the open state when it the user has navigated to new page. I want the menu to be closed when the user clicks on the list item in the drop down list.

[2020-11-13 07:59] real-artswan commented on #5278
I'm sorry, it seems I wasn't clear enough. Here is the sample
https://stackblitz.com/edit/clarity-v4-dark-theme-977ppm?file=src/app/app.component.html

Select any item in the combobox and see that selected value is not visible in the input field. So the question was: "how to fix it?"
Thanks in advance.

[2020-11-13 09:32] dorthrithil commented on #5269
@bdryanovski Version 4.0.6 brings another probably related bug:

Focused password inputs now take 100% width

![Screen Shot 2020-11-13 at 10 29 49](https://user-images.githubusercontent.com/3655915/99056872-3d16e000-259b-11eb-86b3-088e09588102.png)

Here's a stackblitz:

https://stackblitz.com/edit/clarity-v4-light-theme-p9fvw2?file=package.json

Maybe related to the fix for https://github.com/vmw

[2020-11-13 09:38] bdryanovski commented on #5269
@dorthrithil you are right it seems like a regression - need to check to be sure.

We gonna try to fix it for the next release

[2020-11-13 09:52] bdryanovski commented on #5294
@digish777 can you provide a little bit of example by using StackBlitz ([here](https://stackblitz.com/@clr-team) you could find an easy to start template projects) so we could get a better picture of the problem?

[2020-11-13 10:33] digish777 commented on #5294
https://stackblitz.com/edit/clarity-v4-dark-theme-lvpxkg
please increase the zoom size to 250% and then navigate from home to about us page. You can see that the Hamburger menu stands still. It does not close after the navigation completes from one page to another. It would be nice to have an event which could close the Hamburger left menu.

[2020-11-13 14:03] Jinnie commented on #5268
I second Jeremy's recommendation.

I also confirm Bozhidar's research. I can add to it that the data actually is there, but we're getting abnormal lifecycle events with no data after the regular ones.

[2020-11-13 14:47] Jinnie commented on #5294
Thanks for the demo!
You are trying to put the dropdown with the header-actions inside the header-nav.
They have to be in separate sections and as they constitute a dropdown menu on their own, they do not need to be packed inside the hamburger.
See this updated version of your example:
https://stackblitz.com/edit/header-nav-vs-actions-demo?file=src/app/app.component.html

[2020-11-13 14:47] #5294 closed, assigned to nobody

[2020-11-13 15:40] Jinnie commented on #5287
Looks like a lifecycle bug to me. May be related to the series of animations that need to be performed simultaneously.
Another workaround could be to request for change detection cycle for each panel you want to open/close like this:
[code]

[2020-11-13 16:14] Jinnie commented on #5276
Research: the accordion-panel initialization connects the output emissions to the AccordionService.getPanelChanges behavior subject, which does emit the initial state back.

[2020-11-14 07:34] duzenko commented on #5277
It does work in a different browser but
https://github.com/stackblitz/core/issues/1305

[2020-11-14 07:48] duzenko commented on #5291
https://stackblitz.com/edit/clarity-v4-light-theme-rgx621?file=src/app/app.component.html
My problem is the input does not fit the entire yellow box width
I'm not sure how I'm supposed to style the clarity-generated div that has no specific classes on it - please advise

I'm talking about `<div class="clr-control-container clr-col-md-10 clr-col-12" ...`

[2020-11-14 07:57] duzenko commented on #5276
FWIW https://stackblitz.com/edit/clarity-v4-light-theme-ebmxkt?file=src/app/app.component.ts

[2020-11-14 13:16] siddharth1903 commented on #5287
@Jinnie yes the workaround is okay for now. However it would be great to have this addressed without the cdref!

[2020-11-14 16:51] ghost opened #5298 "Get started with Clarity Design System does not work"
## Describe the bug
Following the steps in the getting started fails. When adding the card component after following the steps, it does not display a card, just plain html

## How to reproduce

https://clarity.design/documentation/get-started

Steps to reproduce the behavior:
1. Follow steps in clarity get started guide
2. Add clarity card component

## Expected behavior
That it works

## Versions

[2020-11-14 17:05] #5298 closed, assigned to nobody

[2020-11-15 07:46] dorthrithil opened #5299 "Add support for [clrLoading] for Wizard buttons"
## Summary

Add support for the [clrLoading] directive to `clr-wizard-button` buttons.

## Use case

Would be useful for async finish steps and async validation in between steps.

## Workarounds

Use a `clr-spinner`.

[2020-11-16 08:04] bbogdanov commented on #5299
This looks like a 2 liner solution. I will need to check several situations before introducing the feature.

[2020-11-16 08:18] Jinnie commented on #5272
If the overflow button is disabled, then the user will not be able to preview which actions are available, though disabled, inside the overflow. I don't think we should disable the overflow button.

[2020-11-16 08:29] Jinnie commented on #5252
@bdryanovski it only reminds 5246 because it also talks about 20 chars, but actually, they are in the text field, not in the Combobox, so it's different.
Nevertheless, I am unable to reproduce it. The provided stackblitz works as expected for me.
I also tried calling the provided "reproduce()" method, or set it to a much larger string, but it's still okay.

[2020-11-16 09:22] dorthrithil commented on #5272
I think user doesn't need to see the actions inside the overflow to understand the situation, at least in my concrete usecase.

Here's a little more context:

![Screen Shot 2020-11-16 at 10 12 12](https://user-images.githubusercontent.com/3655915/99234081-5f576a80-27f4-11eb-9d30-dca5c76c06b6.png)

As a user my thoughts would be:

- I want to assign a role
- Theres a select with no role selected an

[2020-11-16 11:42] AamirSaeedCL opened #5301 "Scrolling on parent page is disabled when we close the modal windows."
Description

The no-scrolling css style auto added after closing the modal windows which disabled the scrolling on parent page.

How to reproduce:

Have a simple listing page with scrolling enabled on body section. Then open a modal windows by clicking on any menu option or button. When we closed the modal windows, the scrolling on parent page will be disabled. It seems clarity added the `no-scrol

[2020-11-16 17:26] gnomeontherun commented on #5252
I do see the issue here on macOS Chrome 86. As soon as you hit 20 characters, the input is cleared and then the dropdown closes. The reproduce method calls the `name` and not the combobox field, so ignore it. The internal model on the input gets cleared for some reason.

[2020-11-17 03:41] ghost opened #5304 "Reactive Form clrDate fails Template type checking (strictTemplates)"
## Describe the bug

When setting (recommended) angularCompilerOptions strictTemplates to true, then get error `Type '""' is not assignable to type 'Date | null'`

## How to reproduce

Follow Reactive Form Demo of Date Picker

Steps to reproduce the behavior:

Copy paste demo in section Reactive Form Demo

[code]

## Expected behavior

That it passed validation.

## Versions

- Angular: 11
- Clari

[2020-11-17 08:39] IvayloP opened #5307 "clr-combobox - ability to configure the dropdown not to close on select"
## Summary

Provide a way to configure the clr-combobox whether the dropdown to be closeable on option select.

## Use case

This change will provide an easier interaction with the combobox multi select

## Examples
With `ng-select` `[closeOnSelect]` https://stackblitz.com/edit/ng-select-closeonselect-example?file=src/app/app.component.html

## Workarounds
No workaround at the moment.

[2020-11-17 08:49] Jinnie commented on #5307
I don't think it needs to be configurable, but a default behavior. Thanks for posting this issue.

[2020-11-17 09:09] IvayloP commented on #5307
I agree, it makes more sense to be a default behavior, thanks :)

[2020-11-17 12:09] digish777 commented on #5294
What if my requirement is like that?

[2020-11-17 12:14] digish777 opened #5308 "How do I close Hamburger menu which is open, from the drop down list item inside the hamburger"
https://github.com/vmware/clarity/issues/5294
You closed this issue with out checking with me.

I require drop down list in the left and in the right section. I cannot restrict the list only to left. I have total of 7 lists. Your opinion of one list will not work for me.

I have 5 lists in the left side. and 2 lists in the right.

help would be greatly appreciated.

And my question was, how to clo

[2020-11-17 12:16] pkonowrocki commented on #5248
Any luck with fixing this problem for the time being?

[2020-11-17 13:39] kumar-tadepalli opened #5309 "Changelist #4733 introduced breaking change for datagrid custom filters implementation"
## Describe the bug
Applying filter and changing the option should filter the datagrid and show the data. But once the filter get into scenario like filter criteria doesn't satisfy the given condition or return empty list. In next filter change also, the rows are not visible even the given condition is returning the records. This forces user to reload the entire page.
![DGrid_custom_filter_breakin

[2020-11-17 13:59] miguelchico commented on #5304
Same error here:
[code]

Using Clarity 4 and Angular 10

[2020-11-17 19:44] hippee-lee commented on #5308
Hi @digish777 - this seems more of a `How does my app ...` question and not an issue. I'm going to move it into the discussions format.

I believe what is needed is for when the app navigation is in responsive mode and the navigation is hidden/shown for responsive use cases. Please help me understand more if I am not right.

The solution involves two things:

1. de-sugaring the `clr-dropdown-menu`

[2020-11-17 19:45] #5308 closed

[2020-11-17 19:58] hippee-lee commented on #5248
The issue here is that the example stackblitz is not using the standard Clarity application layout.

I've updated the example to place application content in the `.content-area` container as described in the [application layout docs](https://clarity.design/documentation/app-layout).

https://stackblitz.com/edit/gh-5248-app-layout-v4?file=src/app/app.component.html

I know it's not explicitly calle

[2020-11-17 19:58] #5248 closed

[2020-11-18 05:30] git-ram-pal opened #5311 "Height and content (message, action buttons) alignment issue with Web component version of Alerts"
## Describe the bug

Web component alerts are not consistent with their heights and also content inside the alerts are also not aligned properly.

![Screenshot 2020-11-18 at 10 43 42 AM](https://user-images.githubusercontent.com/46098781/99487393-41247280-298c-11eb-83b8-80fde7803c78.png)

## Expected behaviour

The expected behaviour is that web component alerts should have consistent height as we

[2020-11-18 05:47] jeevanm18 opened #5312 "When Drop down menu has no items empty drop down is shown throwing an console error"
## Describe the bug

when drop down menu doesnt have any items it shows the empty drop down menu by throwing the console error
Cannot read property ‘disabled’ of undefined.So in some scenarios menu items wont be there since  api returns null. so at that time when the user clicks on drop down button menu should be not shown.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v2-x

[2020-11-18 06:37] digish777 opened #5313 "How do I close Hamburger menu which is open, from the drop down list item inside the hamburger"
How do I close Hamburger menu which is open, from the drop down list item inside the hamburger.

I have 7 drop down lists. 5 in the left side and 2 in the right side of the page.

I require all of that.

Demo: https://stackblitz.com/edit/clarity-v4-dark-theme-lvpxkg

How do I close Hamburger menu which is open, from the drop down list inside the hamburger. If user clicks in the list of items in th

[2020-11-18 07:34] riyaz02 opened #5314 "How do I make Custom Range Input with labels and Percentage"
How do I make Custom Range Input with labels, Percentage and Colors..

[2020-11-18 13:00] andresmgot opened #5315 "[clarity/core] Disabled flat button missing style"
## Describe the bug

I am using the `@clr/core` package in a React app, when adding the properties `action="flat" disabled={true}`, the button loses the "flat" style:

![Screenshot from 2020-11-18 13-53-43](https://user-images.githubusercontent.com/4025665/99533041-86a16980-29a5-11eb-8303-298b1670914f.png)

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Cl

[2020-11-18 14:40] mathisscott commented on #5311
This is fixed for the core web component alerts in 4.0.6.

<img width="1083" alt="Screen Shot 2020-11-18 at 8 39 37 AM" src="https://user-images.githubusercontent.com/2728359/99544248-b3d82280-2979-11eb-9690-e14e64c72427.png">

[2020-11-18 14:40] #5311 closed, assigned to nobody

[2020-11-18 14:47] mathisscott commented on #5315
@andresmgot

[2020-11-18 15:27] mathisscott commented on #5315
@andresmgot
I think this is "as intended". All the buttons have the same look when disabled. IIRC, this was from the accessibility team and design. If you need one of the button types to look differently, it can be accomplished with a CSS edit

https://stackblitz.com/edit/clarity-core-disabled-flat-button-xxermr?file=style.css

[2020-11-18 15:27] #5315 closed, assigned to nobody

[2020-11-18 15:33] mathisscott opened #5316 "Custom properties for disabled buttons are not cascading properly"
## Describe the bug

See #5315

and the workaround stackblitz here: https://stackblitz.com/edit/clarity-core-disabled-flat-button-xxermr?file=style.css

It looks like the way [the custom properties are being set for disabled buttons](https://github.com/vmware/clarity/blob/41de28e5ffe06dbda59b275968ec09a5cba72cb2/packages/core/src/button/base-button.element.scss#L195) breaks the ability for us to u

[2020-11-18 15:51] duzenko commented on #5291
@Jinnie Do you need anything else here? Should I create another issue about this?

[2020-11-18 16:51] skpetkov opened #5317 "Expanding a node with 1000 children in Tree View is slow"
## Describe the bug

I have a recursive Tree with large number of nodes. It takes about 3-4 seconds to expand a node with 1000 child elements. While a node is being expanded the whole app freezes and browser is unresponsive to any other user interaction. Performance drops further as more and more nodes are expanded. I also noticed that tree operations are highly dependable on the browser machine (

[2020-11-18 16:52] andresmgot commented on #5315
Thanks for the workaround @mathisscott

[2020-11-18 17:27] jeeyun opened #5318 "core: singleton services"
We need a way to store data globally for Clarity core services as singleton instances. Candidates for this include:

- Icon Registry
- Internationalization strings
- Keycodes

We'll leverage the `window` object for this.

[2020-11-18 18:32] hippee-lee commented on #5317
Performance issues are tricky and subjective with out good profiling information. This has been brought up before. See https://github.com/vmware/clarity/issues/3665.

 In general we cannot expect thousands of items to render smoothly without delay or lag, especially on older machines.

I'm going to close this in favor of the existing issue.

[2020-11-18 18:32] #5317 closed, assigned to nobody

[2020-11-18 23:14] gnomeontherun commented on #5313
This is a follow up to another discussion, closing this and please use the same thread here https://github.com/vmware/clarity/discussions/5308. This is an implementation question or customization beyond the scope of what Clarity offers out of the box as I understand it. Please help us keep things clean by following the same threads.

[2020-11-18 23:14] #5313 closed, assigned to nobody

[2020-11-18 23:15] gnomeontherun commented on #5314
Hello there, we ask that you use GitHub discussions for questions like this, and also you will likely need to provide a lot more detail about what you are asking about to get meaningful help. I'm going to close this issue since it has very little detail, and we do have a range input provided with documentation with available features at https://clarity.design/documentation/range.

[2020-11-18 23:15] #5314 closed, assigned to nobody

[2020-11-18 23:17] gnomeontherun commented on #5301
Hello there, do you have a reproduction of this? The modal should remove the scrolling block on close.

[2020-11-18 23:20] gnomeontherun commented on #5312
I believe the issue is here https://github.com/vmware/clarity/issues/3610#issuecomment-510701613 because we have to move focus into the menu to comply with accessibility needs. If there is nothing in the menu to focus on, this error would be thrown and cause problems. If a menu has no items, you will either need to provide a default backup menu item, or disable the menu to prevent this.

Closing a

[2020-11-18 23:20] #5312 closed, assigned to nobody

[2020-11-19 05:34] lf-collins opened #5319 "The angle icon inside clr-accordion is decorative and needs to be ignored by screen readers."
## Describe the accessibility issue

We got a report from AccessLevel where they note that the angle icon inside clr-accordion is decorative and needs to be ignored by screen readers.

## WCAG Guideline
[Issue - WCAG20]
The right and down arrow icon elements for the accordion headers are decorative and needs to be hidden. The textual equivalent is competing with the state (aria-expanded) of the bu

[2020-11-19 09:06] muruganG commented on #4610
@real-artswan  i tried  above  you  given comment ,facing some other issue in angular 9  , also i shared the reproduceable code link and console error ,  can you check and let me know which  clarity version it will work.
Reproduceable code link stackblitz below .
https://stackblitz.com/edit/clarity-v3-light-theme-pv8wzt?file=src%2Fapp%2Fapp.module.ts

![image](https://user-images.githubusercontent

[2020-11-19 14:56] gnomeontherun commented on #5319
@chlane @scroniser Can you review when you have a chance?

[2020-11-19 16:34] chlane commented on #5319
aria-expanded should suffice to programmatically express the expanded/collapsed state of the control which makes the icon decorative in my opinion.

[2020-11-19 22:17] dan-p-dev opened #5323 "Invisible Input boxes when unfocused"
## Describe the bug

In my web pages, some of my clrInput fields will be invisible unless they have focus. When they have focus, they will have the
blue underline as usual, however the line will be thinner than normal.

![invisible field](https://user-images.githubusercontent.com/74742379/99730634-672c3e80-2a82-11eb-9f8f-9ecca6c81324.PNG)
![visible when focused](https://user-images.githubuserconte

[2020-11-19 22:42] gnomeontherun commented on #5235
Technically, `git@github.com:vmware/clarity.git` is a valid repository URL for accessing using SSH. I can change this though in the upcoming release.

[2020-11-19 22:52] hippee-lee commented on #5323
Without an isolated reproduction it's hard to figure out what is going on here.
If you can re-create the issue in one of our [starter stackblitzes](https://stackblitz.com/@clr-team) it will help us, help you.

[2020-11-19 22:55] hippee-lee commented on #5235
fwiw - I use the ssh urls.

[2020-11-19 23:31] dan-p-dev commented on #5323
Turns out, that's actually exactly what I needed. I couldn't reproduce it, so I figured it had to be one of my custom styles. I tried each one and discovered where my problem was.

https://clarity-v4-light-theme-yzsy1h.stackblitz.io

`.clr-col-1, .clr-col-2, .clr-col-3, .clr-col-4, .clr-col-5, .clr-col-6,
.clr-col-7, .clr-col-8, .clr-col-9, .clr-col-10, .clr-col-11, .clr-col-12 {
    overflow: hid

[2020-11-20 03:27] rarkins commented on #5235
Then at least pick a URL syntax for SSH that is supported by npm given that you are publishing them to npm

[2020-11-20 07:54] #5199 closed

[2020-11-20 07:54] #5275 closed, assigned to Jinnie

[2020-11-20 07:54] #5282 closed, assigned to Jinnie

[2020-11-20 07:54] #5307 closed, assigned to Jinnie

[2020-11-20 08:15] Jinnie commented on #5282
With the latest implementation, after assuming a11y team feedback, selecting any option in multi-select mode will leave the menu open, to allow for more selections, while selecting an already selected option will toggle it.

[2020-11-20 08:32] lf-collins commented on #5319
Another problem is very similar to this one, so I describe it here.

**How to reproduce:** https://clarity.design/documentation/input
The exclamation icon is marked as **aria-hidden=true**, but what it conveys is error.
**Expected behavior:** we should remove aria-hidden=true and add equivalent text, for example `<clr-icon aria-label="Error" title="Error" ...>`
<img width="1227" alt="Screen Shot 2

[2020-11-20 08:40] Jinnie commented on #5278
I see...
`[clrValue]="client.id"` <- the misconception is that the combobox does not really operate as the HTML `<select>` element. The `clrValue` is of object type and that's the type of the objects in your data set. So, it should be changed to `[clrValue]="client"` and then you can get the field you need from the selected object.
I understand that this may be imposing some difficulties, but curr

[2020-11-20 09:45] Jinnie commented on #5291
Thanks for the stackblitz.

The input container is responsible for providing space for a label, for help and validation messages, it also handles responsive layout, etc. So, yes, it will be a challenge to override all this layout functionality. But it's intended for use in linear forms where elements follow each other in designated form space.
In your case, you simply want a datalist inside a spac

[2020-11-20 09:54] real-artswan commented on #5278
Thanks for the clarification, it seems I still can not live without ng-select

[2020-11-20 10:35] Jinnie commented on #4610
I tried it myself and I see some transpilation and inheritance related issues with v3. It may be problematic to get a reliable workaround in v3. Also, I am curious to know how @real-artswan gets the correct providers for the position service in his case.
Though date-picker in a signpost is not a case we accept as important, the datepicker in a filter is something different.

[2020-11-20 10:43] Jinnie commented on #5294
Then you need to write your own custom responsive container that suits your custom needs.

[2020-11-20 10:57] duzenko commented on #4610
Our date filter is an implementation of `ClrDatagridFilterInterface`:

[code]

We use it in a grid like this
[code]

[2020-11-20 11:01] Jinnie commented on #5272
Thanks for the detailed description.

Though the suggested approach "looks" OK as design and UX, it can lead to accessibility implications.
All disabled buttons still need to be reachable for the accessibility user. That's a requirement to us.

You can easily add a placeholder text or a single disabled "dummy" button (even a group of two with ellipsis in the 2nd) if the buttons in the overflow are

[2020-11-20 11:01] #5272 closed, assigned to nobody

[2020-11-20 11:04] Jinnie commented on #4610
Thanks, that makes sense then.
edit: still, the transpilation/inheritance errors remain in v3.

[2020-11-20 11:18] Jinnie commented on #5252
@gnomeontherun the description is about the "name" field, which is outside the combobox itself.
what you're describing is the 5246 issue which happens inside the combobox input.
Btw, 5246 is fixed with https://github.com/vmware/clarity/pull/5320

[2020-11-20 11:18] Jinnie commented on #5246
Fixed by https://github.com/vmware/clarity/pull/5320

[2020-11-20 11:18] #5246 closed, assigned to nobody

[2020-11-20 11:20] Jinnie commented on #5246
The underlying issue was that longer text was generating horizontal scrolling event in the input field itself, which got intercepted by the close-on-scroll popover handler and the value was cleared as part of the on-close handler.

[2020-11-20 11:57] Jinnie commented on #5161
I managed to fully reproduce in Firefox and partially (only key-focus handling) in Chrome. Will need to be investigated further.

[2020-11-20 12:07] Jinnie commented on #5252
I examined the stackblitz more carefully.
You must have wrong expectations about what this statement will be doing:
[code]
The `field` identifier will refer to a `name` property of the `value` variable, not on the form control.
In this specific case, it means that it tries to resolve 1.name, 2.name, 3.name

Although it is not connected to your currently reported problem, also keep in mind that `cl

[2020-11-20 12:07] #5252 closed, assigned to nobody

[2020-11-20 12:41] Jinnie commented on #5102
@gnomeontherun do we have a support matrix for mobile devices? We can expect "surprises" there with various smart-popover based solutions.
If we want to support the combobox on mobile, we'll need a new design spec for mobile.
Alternatively we may spend an iteration on trying to make it not-unusable.

[2020-11-20 13:06] Jinnie commented on #5256
Seems to work fine in v2, but not in the later versions.

[2020-11-20 13:18] Jinnie commented on #5236
Any buttons within a form, without specified `type` are implicitly considered as `Submit` buttons. That's why your forms validates on clicking the button.
You could either move the button outside the form, or add ` type="button" ` to it and it won't trigger validaiton.

[2020-11-20 13:18] #5236 closed, assigned to nobody

[2020-11-20 13:51] Jinnie commented on #5203
I guess you're referring to the same setup as in #5294
As already discussed, this is not a supported configuration.
As can be seen on the updated example below, you should not have access to the actions dropdown once the hamburger is open:
https://stackblitz.com/edit/header-nav-vs-actions-demo?file=src/app/app.component.html

[2020-11-20 13:51] #5203 closed

[2020-11-20 14:03] Jinnie commented on #5136
Hi @amellnik

I am not able to reproduce it currently against the website. Is it possible that it got fixed in the meantime?
I am doing the following:
- Open https://clarity.design/documentation/datagrid/single-action (tested with v3 and v4)
- Tab into the datagrid.
- Tabbing moves between action menu trigger icons on the rows (was it supposed to fail here?)
- Open an action menu
  - Now focus is

[2020-11-20 14:12] Jinnie commented on #4472
@WhiteLord is this issue still valid?
I am not able to reproduce it against v3 or v4.
The popover immediately closes on resize, or when a scroll event is emitted, which is the expected behavior.

[2020-11-20 14:26] Jinnie commented on #5101
Dirty state management issue on the combobox was fixed recently with https://github.com/vmware/clarity/pull/5320
We have to check if it affects the current issue, once it gets released.

[2020-11-20 15:30] gnomeontherun commented on #5102
Let's talk more about what surprises you are expecting, and why. As far as mobile, we support the same as desktop browsers.

[2020-11-20 16:45] chlane commented on #5319
Users may not understand the exact text the icon is intended to stand for. In my opinion, icons should always be hidden from assistive technology and the text that they stand for should always be visible. I am aware that this makes the icons visually redundant and takes up more space. When icons are used for controls, speech recognition users need to verbally address these controls in a precise ma

[2020-11-20 18:31] scroniser commented on #5319
@chlane - I've flagged this as a Clarity Core issue. Yes, I concur, visible text is far favorable to labeling the icon. In instances where visible text is not used, labeling the icon will ensure all users have access to the icon. In instances where visible text isn't used, people who use screen readers are at an advantage.

[2020-11-20 18:32] scroniser commented on #5319
Thinking about this further, the button cannot be empty. The button must use a label so that it can be accessed with voice navigation.

[2020-11-20 18:43] mathisscott commented on #5319
Hi @scroniser

The bug is being reported against Clarity Angular. This is not Clarity Core and the problem does not exist in Clarity Core.

[2020-11-20 18:49] VladimirAnaniev commented on #5252
Hi @Jinnie, thanks for looking at this.
1. The problem is with the Combobox itself. The weird thing is that the way I was able to reproduce it is by entering text with a certain length in a text input and then trying to open the combobox. Let me try to clear up any confusion by demonstrating it visually.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/19152501/99837438-40e4cc80-2b

[2020-11-20 19:05] #4705 closed

[2020-11-20 23:49] gnomeontherun opened #5325 "Announcement: End Of Year Support Expectations"
Hello everyone, we wanted to share that with the end of year holiday season that many members of the Clarity team will be taking time off to rest and recover. That means you can expect slower response times until early 2022.

Thank you for being part of the Clarity community, we appreciate you! We are looking forward to the upcoming v6 release and all that 2022 will bring!

[2020-11-21 21:48] WhiteLord commented on #4472
This was still an issue on 3.11 as far as I can tell several weeks ago, but we switched to a new design. If this is no longer reproducible on your environment, feel free to close the bug.

[2020-11-22 13:44] vmissue commented on #4472
@Jinnie yes, the issue still exists. That's, in fact, the only reason for us to give up with using single actions in the datagrid and switch to another design.

That's good. However, the main issue with the single action menu was that it was initially shown with an offset. For example the menu was created outside of the viewport.

Here's the part of the issue description that referred to this beha

[2020-11-22 21:37] amellnik commented on #5136
This now appears fixed -- before tabbing to the trigger was enough to open the action menu, but now I have to hit enter or space to open it, which allows me to tab past it.  Closing, and I'll also check the other related issues and see if they have also been fixed.

[2020-11-22 21:37] #5136 closed

[2020-11-22 21:39] amellnik commented on #5189
Like #5136 this now appears fixed (unsure what PR actually fixed it).  Triggers are no longer opening automatically which allows users to tab past these.  I think this can be closed.

[2020-11-23 09:26] Jinnie commented on #5136
Thank you, Alex

[2020-11-23 09:42] Jinnie commented on #5252
I see it and I can guess why it may happen, but I still can not reproduce it locally.
The reason would be that the combobox is using the new smart popovers, which close on scroll.
And focusing out of the first input may trigger an inner scroll event, which may close the popover.
Now... the catch is that this inner scroll event should, in theory, be happening before the popover is opened, so it sho

[2020-11-23 09:55] Jinnie commented on #4472
I mean, is it sill reproducible agains the lastest minor Clarity version released. Btw, 3.11 is not a valid version. 3.1.1? 3.1.11??
I will need Browser (with version), OS, Clarity version.
I see that the provided stackblitz just links to the v2 docs inside an Iframe in the same time we talk about v3.11. So a better defined reproduction scenario will also be helpful.

[2020-11-23 10:11] Jinnie commented on #5102
My point is that our smart popovers are designed to close on scroll. Also, the positioning algorithm makes 1 pass trying to find better position if there are boundary infringements.
In a mobile, we'll easily be hitting cases there we infringe more than 1 boundary. And a larger popover will most likely be overflowing. Any attempt to scroll the page to see the rest of the popover will result in it b

[2020-11-23 10:38] sdurnov commented on #5102
Yes, it was working great on Windows Phone. Not sure it's suitable for all cases, but would be nice to have such an option.

Exactly. It's annoying if you tapped outside accidentally and everything was deleted.

[2020-11-23 10:57] bdryanovski commented on #5287
I spend some time working on some solution, the issue here is that we needed to redesign how we pass changes across the open/closed panels.

The problem is that after the first-panel update it states, it also updates all other panels with their previous state, basically overwriting them. So to fix that we need to update panel-by-panel but this requires much more refactoring that I think it would t

[2020-11-23 13:01] VladimirAnaniev commented on #5252
Just updated to chrome 87 and I am unable to reproduce it anymore. Seems to work fine on Safari and Firefox as well.

[2020-11-23 13:08] Jinnie commented on #5252
Thanks Vladimir,
I will keep it closed then, but it will be much helpful if we meet the problem again in future browser versions or in different context.
As we don't have a viable approach, which does not include meddling with the Angular lifecycle, I prefer not to address it preemptively.

[2020-11-23 13:15] Jinnie commented on #5102
My concern about this is that combobox behaves differently than datalist with random text in the input field. The datalist will submit whatever is inside the input, using the options only as a polite suggestion, while the combobox is more like a select control, where you can only have some of the predefined options. I would prefer to avoid this disambiguation and when the popover is closed - do no

[2020-11-23 13:19] Jinnie commented on #5189
Thanks for checking and reporting this - I am also unable to reproduce it.

[2020-11-23 13:19] #5189 closed

[2020-11-23 14:45] Jinnie commented on #800
Could we assume that the new website feature for downloading icons satisfies this request?

<img width="834" alt="Screen Shot 2020-11-23 at 4 37 20 PM" src="https://user-images.githubusercontent.com/1798828/99975230-a6bc9880-2daa-11eb-975e-33c15a0bf76f.png">

The difference is that the icon is not hosted (displayed in browser), but starts to download.
@hippee-lee Matt any thoughts on this? Could w

[2020-11-23 15:16] Jinnie commented on #1165
I can't reproduce this in v2 anymore:
https://stackblitz.com/edit/popover-in-dg-to-header?file=src/app/app.component.html

And the newer versions are using smart-popovers, which close popovers on container scroll events.

[2020-11-23 15:16] #1165 closed

[2020-11-23 16:26] asenradev opened #5329 "The keyboard navigation breaks when nested menus aren't defined in the same template as the parent menu"
## Describe the bug
**My requirement**
I have a use case to show dropdown/menu from a dynamic definition. Just imagine that we request a hierarchical structure from the server and should be rendered as dropdown.

**Approach**
I came up with an implementation relying on recursive instantiation of <ng-template>. Find a very simplified demonstration of the approach in the StackBlitz

**Problem**
Ever

[2020-11-23 18:11] bdryanovski commented on #4903
Changing `*ngFor` to `*clrDgItems` will solve this issue:

[code]

[2020-11-23 18:11] #4903 closed

[2020-11-24 10:20] bbogdanov commented on #5329
Hi, As we are moving our focus to `@clr/core` development, we are less likely to introduce changes in `@clr/angular` package.

Please share your workaround so we can give you some directions.

[2020-11-24 10:28] bbogdanov commented on #5318
@jeeyun  https://www.npmjs.com/package/injection-js something we may consider using.

[2020-11-24 12:18] Jinnie commented on #5259
@colinreedmiller can you please review the shown badge colors (warning especially) and give us the expected background/font color definitions.
Thank you.

[2020-11-24 12:29] asenradev commented on #5329
Here is the workaround: https://stackblitz.com/edit/clarity-v4-dropdown-template-keyboard-navigation-workaround-1?file=src%2Fapp%2Ffocus%2F

Summary of the changes:
 - FocusableItemCollector does the same thing as ClrDropdownMenu - query the focusable child items and add them to the parent DropdownFocusHandler
- FocusableMenu and FocusableDropdownItem are providing the focusable items. If Dropdown

[2020-11-24 15:53] bdryanovski commented on #4764
Hey it seems that this is fixed into the latest version for v3 `v3.1.12` also you need to use `*clrDgItems` instead of `*ngFor` to make everything work as expected (filtering, pagination, and more)

[2020-11-24 15:53] #4764 closed

[2020-11-24 21:29] dkanev commented on #4903
@bdryanovski :My use case is server side grid, so I can't use *clrDgItems. This is mention also in the description of the bug. Please consider reopen he bug as your suggestion doesn't work for my case.

[2020-11-24 22:35] astorije opened #5332 "Inherit color and cursor for Clarity icons"
## Describe the bug

When using the `CdsIcon` component of Clarity Core, we noticed cursor and color inheritance always get lost.

Cursor inheritance is always appreciated in interactive contexts. Having a default color is nice for icon consistency across the board, but in the cases of links, for example, it means we need to manually apply `--color: var(--cds-token-color-action-600)` to the underl

[2020-11-25 01:51] gerinjacob commented on #5309
Seeing similar issue with out of the box filter - https://v2.clarity.design/datagrid/full
Do I need to open a separate issue for this?
![datagrid](https://user-images.githubusercontent.com/7568688/100172560-9d3c4900-2eee-11eb-888e-02fa6a0c2a07.gif)

[2020-11-25 05:19] uganjha commented on #4829
Any update on this bug?

[2020-11-25 05:24] gerinjacob commented on #5309
Sorting as well - https://v2.clarity.design/datagrid/full
![datagrid-sort](https://user-images.githubusercontent.com/7568688/100186719-8d336200-2f0c-11eb-99af-a5c60ee76b9f.gif)

[2020-11-25 11:33] bdryanovski commented on #4903
The issue here is that the `selection` array is holding an old reference to the `data` array.

So to fix that you need to make sure that `selection` array is having the correct items inside when updating the data that is displayed.

[code]

[2020-11-25 11:42] antonevane opened #5333 "Combobox `Asynchronous Selection` documentation section has incorrect example"
## Describe the bug

Combobox `Asynchronous Selection` example doesn't have `clrInputChange` or `clrOpenChange` events

<img width="996" alt="Screenshot 2020-11-25 at 06 29 20" src="https://user-images.githubusercontent.com/91357/100223310-50a23f00-2ee9-11eb-9f3f-b531e073b18a.png">

## How to reproduce

Steps to reproduce the behavior:

1.  Go to [Combobox examples](https://clarity.design/document

[2020-11-25 12:56] bbogdanov commented on #5299
After taking some time to introduce it, it turns out to be a bigger change than I expected.

We are moving our focus to `@clr/core` development and we are less likely to bring new features to `@clr/angular`. I'll encourage you to proceed with the workaround.

https://stackblitz.com/edit/clarity-wizard-button-loading Leaving this stackblitz example for future reference.

[2020-11-25 12:56] #5299 closed, assigned to bbogdanov

[2020-11-25 13:01] mme-private commented on #5259
Warning badge is almost unreadable, how does it improve something? And brown color for warning is also strange.

[2020-11-25 14:17] bdryanovski commented on #5309
When the #5334 PR is merged it will be released into the next release for v2.

The issue is not reproducible into v3 and v4 - so this could be a nice opportunity to update to v3 if you can.

[2020-11-25 17:20] astorije opened #5335 "Expose icon names in `core/src/icon/index.ts`"
## Summary

**What is the change?**

Re-exporting icon names (e.g. `infoStandardIconName`) in `core/src/icon/index.ts` and not only `@clr/core/icon/shapes/<icon>`

**Why should it go in Clarity?**

When working in TypeScript, since the `shape` prop of the `CdsIcon` component is typed as a `string`, it's very easy to make a typo that goes unchecked by `tsc`, the test runner, etc. For example `<CdsI

[2020-11-26 09:00] bbogdanov commented on #5335
Hi @astorije,

Thank you for the awesome proposal. I believe it is doable and it will definitely help with future development.

@mathisscott Can you please take a look at this one?

[2020-11-26 09:07] bbogdanov commented on #5332
Hi @astorije,

Can you please provide us a stackblitz examples for the cases you shared above?

[2020-11-26 09:37] bbogdanov commented on #5323
Hi @dan-p-dev,

It is definitely not a bug.

Sometimes when playing around with the code that sets visual changes to a component library there are side-effects that can appear and also a responsibility comes to handle these side-effects inside the application.

Try to follow our [guidelines](https://clarity.design/documentation/forms) I believe you will find the right solution for your case there.

[2020-11-26 09:37] #5323 closed, assigned to nobody

[2020-11-26 10:24] Jinnie commented on #5259
Scott's comment was about the other minor differences, mentioned in the other comments above. The warning badge is obviously wrong. We're waiting for feedback from UX with the correct colors.

[2020-11-26 10:42] #5309 closed, assigned to nobody

[2020-11-26 15:06] prakashjp123 commented on #4354
Below code worked for me in chrome and firefox.
[code]
[code]

[2020-11-26 21:34] NedyalkaD commented on #3665
Please, raise the priority for this issue. Clarity tree is a few times slower (definitely underperforming) compared to current component we use.

[2020-11-26 22:16] dkanev commented on #4903
Why the grid doesn't update correctly the selected items, when I provide new data? I have provided a track by function, it is visible that the grid keeps selected items, why not mark the rows as selected when the new provided data have the same trackby property as the initial one . When I select a row move to the next page,  update the data and then return back, I don't update the selected items,

[2020-11-27 07:38] #5276 closed, assigned to nobody

[2020-11-27 09:11] bdryanovski commented on #4650
@mathisscott No it's a bug into our side.

This issue is valid for Radio and Checkbox containers.

The problem is that we don't pass the correct ID from the Container Providers. We need to provide two sets of IDs one for every element in the group (checkbox or radio button) and one for the container that holds them so we could link the correct `error` or `helper` text. We try a few approaches on t

[2020-11-27 09:23] lf-collins commented on #3976
I saw the following suggestions related to this problem from LevelAccess, they suggest adding a non-color dependent visual indicator.

[2020-11-27 12:16] Jinnie commented on #5101
The fix mentioned in my last comment did not address this issue.
It turned out to be in Combobox. We were using 2 tactics in parallel to achieve the same status update. One was called once to many and too early, resulting in temporary clearance of the dirty state of the form. In the end, the correct dirty state was served, but the Stepper was subscribed to all changes and reacted to the extra "pri

[2020-11-30 04:34] astorije commented on #5335
Thanks for your feedback, @bbogdanov!
I have opened a PR at https://github.com/vmware/clarity/pull/5337. ~I am currently looking at adding a blob to the documentation but figured I would open a PR as early as possible.~ EDIT: Done, though open to suggestions!

[2020-11-30 10:03] duzenko opened #5338 "Tooltips conflict with agm-map"
## Describe the bug

If a tooltip is assigned to a disabled button, it goes behind the nearby Google Map.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to 'https://stackblitz.com/edit/clarity-v4-light-theme-3tvwya?file=src/app/app.component.html'
2.  Hover mouse on the enabled top button - tooltip is OK
3.  Hover mouse on the disabled bottom button - tooltip is cut off

## Expecte

[2020-11-30 11:07] bdryanovski commented on #5338
@duzenko  you are right, we need to check why the `z-index` change for `disabled` tooltips.

This is an easy fix ( I think ) we gonna investigate and try to include it in the next releases.

[2020-11-30 11:10] duzenko commented on #5338
That was my first thought too but I can't see that `z-index` actually changes for disabled buttons.
I may be wrong with this, too. I'm no css guru.

[2020-11-30 11:19] bdryanovski commented on #5338
After inspecting it,

[code]

I don't have a solution right now, will have to play a little more

[2020-11-30 12:57] iivanovgit opened #5339 "Not properly applied styles for dark-theme"
## Describe the bug

clr-icon.is-green, clr-icon.is-success has less priority in dark-theme over the regular style so its brighter color is not applied in dark-theme

## How to reproduce

Steps to reproduce the behavior:

1.  Go to 'https://stackblitz.com/edit/clarity-v4-dark-theme-6rwcmx?file=src%2Fapp%2Fapp.component.html'
2.  open dev tools and inspect the style of `<clr-icon shape="success-sta

[2020-11-30 13:02] bdryanovski commented on #5338
It seems that it's more complicated than I expected.

The issue is that the parent element is setting the `opacity` so this is messing up the viewing order. Try to set the correct `opacity` to the child element but that did not have any effect. An experimental solution that I found was to use color with opacity value (`rgba`) - but this will require a lot of workarounds related to the `disabled` s

[2020-11-30 13:29] duzenko commented on #5338
Using `opacity: 1` as a workaround in our app for now
I understand that the tooltip is supposed to be semi-transparent for disabled buttons but this is not critical for us.

[2020-11-30 15:17] Jinnie commented on #3665
We spent some time on this today, together with @bbogdanov.
Initial research shows that the biggest delay in the stackblitz provided by you, comes from the tree nodes animations. If we substitute BrowserAnimationsModule to NoopAnimationsModule in our tests, we can observe noticeable improvement. Further, the profiling shows some activity related to the rendering of the Clarity icons.
In the next d

[2020-11-30 15:33] mdmarkova commented on #3665
I've also noticed that. If the tree does not have expandable nodes i.e. does not have any "arrow" icon the performance is better because no animation and rotation are done for all nodes.  Rotating the "arrow" icon for 6,000 items triggers angular digest cycle many time, recalculating the page layout and shifting the layout for every node which freeze the UI at some point. It might be helpful if th

[2020-11-30 15:42] Jinnie commented on #3665
And @gnomeontherun suggested a better way to locally disable animations on the host side without meddling with the animation providers
[code]

[2020-11-30 15:48] Jinnie commented on #3665
@mdmarkova though tempting, the partial rendering is a technique, which similarly to virtual loading, we don't plan to employ so far. Mainly for the same reasons - the accessibility and usability problems associated.

[2020-11-30 15:48] BojidarTrenchev opened #5340 "Make Signposts dynamically reposition if they are obstructed or go out of the window bounds"
## Summary

The clr-signpost-content component of the Signpost can be made to dynamically change its position depending on whether this component goes beyond the browser window size, e.g. when it contains too much text or when the window is resized by the user. The automatic repositioning can be turned on or off by the developer.

## Use cases
For instance, let's say that we have a signpost conten

[2020-11-30 15:53] mdmarkova commented on #3665
@Jinnie, I understand that, but my opinion is that it is not ok to wait everything to be calculated, shifted, animated and so on in order to render everything (a big amount of data at once) on the screen. For me, as a user, it's better to see items which fit on my screen quickly instead of waiting forever. I will try the approach you've suggested and compare the results with animations on.

[2020-11-30 16:07] bdryanovski commented on #4354
Here are the properties that are related to the progress-bar

[code]

If you need to change the color you need to change the property of:

[code]

[2020-11-30 16:07] #4354 closed

[2020-11-30 16:16] bdryanovski commented on #4123
I try to reproduce this on Mac with Chrome Version 87.0.4280.67 (Official Build) (x86_64) with and without a mouse, try also with an external touchpad. Also, try to set the resolution between 800 and 1500.

I'm closing this issue for now if someone could provide a step-by-step guide on how to reproduce it, feel free to reopen it.

[2020-11-30 16:16] #4123 closed

[2020-11-30 16:54] bdryanovski commented on #4815
I'm marking this as resolved

[2020-11-30 16:54] #4815 closed

[2020-11-30 17:01] bdryanovski commented on #4553
We need some use cases so we could start thinking about the design and accessibility,

Hiding things inside menus and sub-menus could be very hard to communicate with the user.

Some issues that I find here are:
  * what is the minimum size that this should happen?
  * how we gonna address the hidden elements and communicate that there are more items to be shown?
  * keyboard navigation?

and so o

[2020-11-30 17:07] astorije commented on #5332
Hi @bbogdanov!
This is my best attempt, let me know if that helps! https://stackblitz.com/edit/react-ts-nizyzw

[2020-11-30 17:15] bdryanovski commented on #4161
I'm closing this issue for inactivity.

[2020-11-30 17:15] #4161 closed

[2020-12-01 02:06] sheguloves opened #5342 "Single action click of datagrid will cause scroll auto jump if whole page only has one scrollbar and it is on body"
## Describe the bug

Single action click of datagrid will cause scroll auto jump if whole page only has one scrollbar and it is on body

## How to reproduce

Steps to reproduce the behavior:

1.  Scroll down the page
2.  Click on single action icon
3.  Scrollbar auto jump to top

## Expected behavior

Scrollbar should keep current position

## Versions

**App**

- Angular: 9.1.12
- Node: 10.16.1
-

[2020-12-01 08:21] bbogdanov commented on #5340
Hi @BojidarTrenchev and thank you for sharing your idea!

We are aware that the signpost component positioning can be improved and we aiming to solve it with smart popovers #1757.

Because we are moving our focus to `@clr/core` this might not be solved in `@clr/angular`. @gnomeontherun can share more info where this fits in our roadmap.

[2020-12-01 08:23] bbogdanov commented on #5342
Hi @sheguloves, can you please provide us a stackblitz example? Thanks!

[2020-12-01 08:28] digish777 opened #5343 "get the state of hamburger menu. If the menu is open or closed currently?"
How to get the state of hamburger menu. If the menu is open or closed currently?

[2020-12-01 08:51] bdryanovski commented on #5343
There is no public API for monitoring this.

But you could grab the toggle property from the header
[code]

[2020-12-01 08:51] #5343 closed, assigned to nobody

[2020-12-01 08:57] bdryanovski commented on #4002
Marking this issue as stale - so I'm closing it

[2020-12-01 08:57] #4002 closed

[2020-12-01 08:58] bdryanovski commented on #4105
Closing issue as invalid

[2020-12-01 08:58] #4105 closed

[2020-12-01 09:11] asychikov opened #5344 "clr-combobox multi select - the dropdown not to closes on outside click"
## Describe the bug

Multiselect combobox dropdown not to close on select. Also, the dropdown list does not close when mouse click outside of the target element.

Also, see #5307

## How to reproduce

https://stackblitz.com/edit/clarity-v4-dark-theme-q2uh3r?file=src/app/app.component.html

![demo](https://user-images.githubusercontent.com/15362165/100718991-13e4b500-33cd-11eb-8331-66f7a08c846b.gif

[2020-12-01 12:01] bdryanovski commented on #5344
@Jinnie

[2020-12-01 12:07] bdryanovski commented on #1337
This is no longer valid

[2020-12-01 12:07] #1337 closed

[2020-12-01 12:22] bdryanovski commented on #2253
This is fixed into `v2.4.10` and `v0.11` is out of support so I'm closing this.

[2020-12-01 12:22] #2253 closed

[2020-12-01 12:28] bdryanovski commented on #2212
I think that this discussion here will be best suited for Github Discussions and closing the issues

@gnomeontherun

[2020-12-01 13:41] Jinnie commented on #5344
In multi-select it should not close on selection anymore, as described in the linked PR. This helps with the case when the user wants to select multiple entries at once. Especially when using KB only, or a screen reader.
But not closing on outside click is a problem and we need to investigate it.
It seems to only happen after selection. If no selection was done, the outside-click-to-close works ok

[2020-12-01 14:22] gnomeontherun commented on #2212
We are working toward improvements and I will close this as resolved by those efforts at least to some degree, since the asks here are not very specific. Additional requests should go to Discussions.

[2020-12-01 14:22] #2212 closed

[2020-12-01 14:32] mathisscott commented on #5332
Hi @astorije
We have a bit of an issue on our end with how the icon was set up to "inherit" the color of its parent. It's a quick fix but, for your use case, here is a workaround for now: https://stackblitz.com/edit/react-ts-kpt22u?file=style.css

[2020-12-01 14:36] astorije commented on #5332
That's interesting, thanks for this, @mathisscott! Would it be worth adding this in the Clarity Core CSS file for links?

Also, any idea how to inherit the cursor?
![cds-icon](https://user-images.githubusercontent.com/113730/100754167-bba3b800-33b8-11eb-8375-8d6ae7c7fe06.gif)