[2021-05-21 09:39] grahamford opened #5982 "@clr/angular Disabled form control centres the label in 5.2"
## Describe the bug

Setting a form input control to disabled in version 5.2.0 centres the label. This behaviour looks to come from this commit where the  change in styling is very broad in its scope.
**https://github.com/vmware/clarity/commit/20bef1b591170752b0aea9b197731f014a6a83a3**

## How to reproduce

Behaviour in version 5.02
https://clarity-light-theme-v5-form-alignment.stackblitz.io

<img

[2021-05-21 15:02] coryrylan opened #5984 "core: forms error state sr-only"
## Describe the bug

When the input is using a sr-only label the warning icon in the invalid state is not visible.
https://stackblitz.com/edit/react-ts-ccxqvy

## How to reproduce

See https://stackblitz.com/edit/react-ts-ccxqvy that hiding the label creates the bug of the warning icon not being visible. Likely due to the input thinking it should render as inline only.

## Expected behavior

Using

[2021-05-21 19:49] astorije opened #5985 "cds-select + React Testing Library: `TypeError: 'set' on proxy: trap returned falsish for property 'disabled'`"
## Describe the bug

When Clarity is used in conjunction with the React Testing Library, selecting a `CdsSelect` by its corresponding label throws:

[code]

## How to reproduce

I could not reproduce this using a StackBlitz as the test runner runs outside of a browser context (and StackBlitz's super new Node beta support had some issues), but I set up a repro repo at [astorije/repro-clarity-proxy-

[2021-05-21 20:27] Shijir commented on #5916
Resolved by https://github.com/vmware/clarity/pull/5932

[2021-05-21 20:27] #5916 closed, assigned to nobody

[2021-05-24 07:24] wendellestradairely opened #5988 "Icons in a clrDropdownItem are not visible in the light theme"
Either a cds-icon or a clr-icon is not visible in light theme when used inside a header dropdown item.

Light Theme:
![image](https://user-images.githubusercontent.com/50942719/119311258-6aa7b900-bca3-11eb-91cb-a68905f71c53.png)

Dark Theme:
![image](https://user-images.githubusercontent.com/50942719/119311289-76937b00-bca3-11eb-9b3d-1784b6c2c5d2.png)

To reproduce:

[code]

Latest Clarity Version

[2021-05-24 14:30] OhMyCats commented on #5982
Also just ran into this annoying issue checking out v5.2, and not only the labels are centred, but the whole controls container, e.g. when `select`'s `disabled` property changes to `true`, the whole `clr-select-container` gets centred.

[2021-05-24 14:52] wendellestradairely opened #5989 "How to add a custom icon in the version 5?"
The documentation shows how to add a custom icon but the function doesn't exists. Is there a sample code or a documentation on how to add a custom icon in the latest version? Thanks!

![image](https://user-images.githubusercontent.com/50942719/119365598-a8780200-bce2-11eb-9720-64c7e0f61dd5.png)

![image](https://user-images.githubusercontent.com/50942719/119365518-939b6e80-bce2-11eb-9cfe-841d73534

[2021-05-24 14:59] mathisscott commented on #5989
With the `@cds/core` icons the method call signature is slightly different.

https://gist.github.com/mathisscott/a0b8bad7473bb3639839cb87d5b337cd#file-adding-icons-js

What you want to do would look like this...

`ClarityIcons.addIcons([ 'indent': '<svg...></svg>']);`

[2021-05-24 14:59] #5989 closed, assigned to mathisscott

[2021-05-24 16:37] coryrylan commented on #5625
Closing for now, will reopen if needed

[2021-05-24 16:37] #5625 closed, assigned to coryrylan

[2021-05-25 13:01] bdryanovski commented on #5473
Like @dorthrithil mention above - the correct way of passing is to use the `ClrTimelineStepState` enum to pass the value or disabled `strictTemplate` check.

The issue is that the `ClrTimelineStep` expect to have one of already defined `ClrTimelineStepState` values.
[code]

You could import it from the `@clr/angular` package like that and use one of his states.
[code]

[2021-05-25 13:01] #5473 closed, assigned to bdryanovski

[2021-05-25 13:10] #5984 closed, assigned to coryrylan

[2021-05-25 13:20] valkanov opened #5995 "Error "panel is undefined " when using Clarity stepper with steps in different components."
## Describe the bug

Stepper not expanding and  content not shown when using clarity stepper with different components.

[code]

## How to reproduce

[stackblitz eample](https://stackblitz.com/edit/clarity-stepper-nested-components)

## Expected behavior

To be able to use steps in different components. Keeping all the steps in a single component is not scalable and reusable.

## Versions

**Clari

[2021-05-25 17:25] dangrussell opened #5997 "Invalid ARIA markup in clr-combobox"
## Describe the bug

The clr-combobox component has invalid ARIA markup https://github.com/vmware/clarity/blob/next/packages/angular/projects/clr-angular/src/forms/combobox/combobox.html

Attribute "aria-multiline" is not valid for role "combobox": https://www.w3.org/TR/wai-aria-1.1/#combobox

Role of combobox should own a textbox, which could have a aria-multiline attribute, but it's not set up t

[2021-05-25 22:03] #5580 closed, assigned to coryrylan

[2021-05-25 22:03] #5930 closed, assigned to coryrylan

[2021-05-25 22:03] #5931 closed, assigned to coryrylan

[2021-05-26 03:31] BoykoAlex commented on #5947
I'm seeing the same with Clarity 5.2.1 as well. Any chance you could look into this again?

[2021-05-26 08:27] xuelichao opened #5999 "Cannot customize aria-label for each checkbox/radiobutton that generated by datagrid when configured with clrDgSelected/clrDgSingleSelected"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._

There are checkboxes and radio buttons in the tables however the controls don't have any name associated with them and are announced with just the role and state information(aria-label="Select", it is hard-coded now)
`<div role="gridcell" class="datagrid-select datagrid-fixed-column datag

[2021-05-26 18:16] mrmokwa opened #6001 "Date picker is shown behind datagrid filter"
## Describe the bug

Date picker inside Datagrid filter is always shown behind the filter.

![image](https://user-images.githubusercontent.com/12090931/119710636-f3a22a00-be34-11eb-9a3f-88d87d576c7f.png)

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-xujszm?file=src/app/datagrid/datagrid.component.html

Steps to reproduce the behavior:

1.  Click on the shipping column fi

[2021-05-26 22:20] coryrylan opened #6002 "core: cds-button submit error"
## Describe the bug

The cds-button will incorrectly trigger a submit event in a form when set to type button.

## How to reproduce

Focus the html cancel button and use space or enter. Neither submit form due to type button. However cds-button will submit.

https://stackblitz.com/edit/typescript-gtxjpo

https://stackblitz.com/edit/react-ts-sudzgj

## Expected behavior

When a cds-button uses type

[2021-05-26 23:21] #5563 closed, assigned to bbogdanov

[2021-05-27 09:13] bdryanovski commented on #6001
@mrmokwa Thank you for reporting this.

[2021-05-27 16:13] grahamford opened #6008 "cds-button in a form triggers ngSubmit when it shouldn't"
## Describe the bug

Moving from @clr/angular buttons to <cds-button>, I've noticed that a button with `type="button"` will call the `ngSubmit` method bound to the form. This behaviour doesn't happen with regular html buttons.

## How to reproduce

https://stackblitz.com/edit/clarity-v5-enter-to-submit?file=src/app/app.component.html

1. Click the first "Cancel" button and only the Cancel Count in

[2021-05-27 16:14] #6008 closed, assigned to nobody

[2021-05-27 16:15] grahamford commented on #6008
Duplicate of https://github.com/vmware/clarity/issues/6002

[2021-05-31 05:53] pavandixit93 opened #6010 "Datagrid columns header and screen reader announcement accessibility issue"
## Describe the bug

Clarity datagrid column header has role `columnheader`, due to this role when i focus on datagrid header first time, JAWS is announcing lengthy message. I found that JAWS is announcing that `Column resize handle` and associated `aria-describedby` message if I am focusing on column header button first time.

## How to reproduce
Steps to reproduce the behavior:

1.  Go to 'https

[2021-05-31 10:00] vishal-vndly commented on #5597
@coryrylan @mathisscott is there any workaround for this issue when using clr-angular?

[2021-05-31 10:41] Jinnie commented on #5947
Just follow the release documentation for the moment we release Clarity version that will work with Angular 12.

[2021-05-31 14:53] zntr1 opened #6012 "content-container/area not displayed properly when using routing!"
## Describe the bug

When using the "Vertical-Navbar" inside a component, loaded through a `<router-outlet></router-outlet>`, the navbar is not taking its full content-height on the left side of the application and only uses a small portion. It seems like there is a problem with using the router-outlet together with "content-container", "content-area" and so on.

## How to reproduce

Just see the

[2021-06-01 18:22] Jinnie commented on #6012
I see what you are trying to do, but it comes to the way Angular components are built, and there is not much we can enforce as solution from the Clarity side, without some heavy-lifting code, which may have many unexpected side effects. The good news is that you have a very easy solution for your code.
Why this happens?
Our nav and content-area sections get their placement from the content-contain

[2021-06-01 18:22] #6012 closed, assigned to nobody

[2021-06-02 09:02] bgpedersen opened #6018 "Support Angular 12"
## Describe the bug

Installing latest CLR in Angular 12 projects will give warning

`npm WARN @clr/angular@5.3.0 requires a peer of @angular/core@^11.0.0 but none is installed. You must install peer dependencies yourself.`

## How to reproduce

Run this command in Angular 12 project
`$ npm i @cds/core@latest @clr/angular@latest @clr/icons@latest @clr/ui@latest
`

## Expected behavior

No warnings

[2021-06-02 09:58] Jinnie commented on #6018
We're working on this. Closing as duplicate to several other issues and a discussion.

[2021-06-02 09:58] #6018 closed, assigned to nobody

[2021-06-02 10:13] Jinnie commented on #6010
Need A11Y team comment for this issue.
@scroniser is this a problem, or it's working as expected?

[2021-06-02 10:27] bgpedersen commented on #6018
@Jinnie I did not find any other issues, when i searched for angular 12 on the open issues. thats why i created this. Do you have a link to the current open issue regarding this?

[2021-06-02 12:16] Jinnie commented on #6001
Duplicate of #4827

[2021-06-02 12:16] #6001 closed, assigned to nobody

[2021-06-02 12:24] Jinnie commented on #6018
They have been probably closed in favor of this discussion: https://github.com/vmware/clarity/discussions/6004
This is an often appearing request and we're working actively on resolving it soon.
It's currently depending on another task, related to separating our Core and Angular sources and websites, which is also near completion and will be immediately followed by continuing the upgrade to Angula

[2021-06-02 12:41] Jinnie commented on #5999
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-06-02 12:41] #5999 closed, assigned to nobody

[2021-06-02 14:09] Jinnie commented on #5997
@scroniser we may need to track this internally with your team

[2021-06-02 19:05] #6002 closed, assigned to coryrylan

[2021-06-02 21:10] scroniser commented on #6010
@Jinnie - Confirming this is an issue, though it's not been filed under this specific topic. This is a violation of WCAG 2.1 2.4.6: Headings and Labels (Level AA). Please let me know if you'd like to discuss further.

[2021-06-03 00:53] scroniser commented on #5997
@Jinnie Agreed. I'll touch base with you on this.

[2021-06-03 16:27] astorije commented on #5985
@coryrylan, do you have any idea what's going on here? Is there anything I could help with?

[2021-06-03 18:00] coryrylan commented on #5985
I havent been able to dig into this yet. It seems similar to other issues we have had with React proxying the native setters which collides with our custom element setters. My initial guess is to add an additional check here https://github.com/vmware/clarity/blob/next/packages/core/src/internal/utils/events.ts#L24

[code]

[2021-06-03 20:13] Jinnie commented on #5995
My first thought is that we don't usually support sub-elements inside user components. Instead we advise adding the user components inside the clarity sub-elements.

Looking at the code though, we do resolve the deep descendants. The problem is that we rely on the natural order of the sub-elements. And adding the sub-element to a user component breaks this natural order of discovery of content chi

[2021-06-03 20:13] #5995 closed, assigned to bbogdanov

[2021-06-04 13:46] Jinnie commented on #5980
You can call ClrDatagrid.resize() on sort. It seems to be enough to rerender the items properly.
See the "First Name" column of this altered version of your stackblitz:
https://stackblitz.com/edit/clarity-2-sort-workaround?file=src/app/app.component.ts

I'm closing the issue, as 2.x is out of support, in 3.x it's fixed, and we have a workaround.

[2021-06-04 13:46] #5980 closed, assigned to nobody

[2021-06-04 17:12] dave105010 commented on #4971
Hi, I appreciate the work that you guys do!
We are not using Angular and we would love to completely rely on Clarity for Combobox and not use selectize.js or any other dependencies for that.

I was wondering if there are any updates about making combobox(multiple selectable items as a select box that looks like tags) available for the Clarity Core version.

[2021-06-04 17:46] mathisscott commented on #4971
Thanks @dave105010

We do plan to have a Clarity Core combobox. Right now, we are working hard on building a basic dropdown (a.k.a. positioned overlay). Once that is merged in, components like the datepicker and combobox become a lot easier to build.

[2021-06-04 19:58] astorije commented on #5985
Mmmh, I just tried that and unfortunately it made no difference, the failure is unchanged.

[2021-06-04 20:03] astorije commented on #5985
I just updated the description above, as `control.element.ts` has recently changed and the highlighted line was incorrect. I can make the tests pass by disabling [this line](https://github.com/vmware/clarity/blob/a222f9972d5e0e384c4270ee036a3192236711f4/packages/core/src/forms/control/control.element.ts#L298). I'm wondering if there is a conditional I could wrap this statement with.

[2021-06-07 08:30] cloud9amit commented on #5980
Hi Jennie,

This workaround works for the sorting but same issue is there on filter as well. If you open filter box and type some random text which does not match with the column content and later clear that content then rows don't show up.
This workaround doesn't address that issue.

[2021-06-07 14:22] koninos opened #6028 "Provide custom svg shapes into Clarity Icons"
## Describe the bug

I am trying to add a custom icon into Clarity.
First of all the docs make an import `import { ClarityIcons, userIcon } from '@cds/core/icon';` and then add your custom name along with the svg `ClarityIcons.add({ 'my-custom-icon': '<svg ... >[your SVG code goes here]</svg>' });`.
The compiler complains `Property 'addIcon' does not exist on type 'typeof ClarityIcons'. Did you me

[2021-06-07 16:09] hippee-lee commented on #6028
@koninos As described in the [Icon docs](https://clarity.design/foundation/icons/#customize), are you calling `ClarityIcons.add({ 'my-custom-icon': '<svg ... >[your SVG code goes here]</svg>' });`? If so and you still have the error can you post the code you are trying as an isolated reproduction for your issue? I'll be able to take a look and see whats going on for you. We keep starter apps on [s

[2021-06-07 17:18] jaybellew1 opened #6029 "Add a dark mode top nav background color to core"
## Summary

Hi Folks, is there any chance we can add a dark mode top nav BG color to core like we did for angular in 5.2.1?  I think it would be #0E161B which is on the clarity site/colors page for dark mode backgrounds or it would be #0F171C which is currently running on a lot of the vmware apps.  Those two colors are near identical.

## Use case

Teams using clarity core and clarity core color v

[2021-06-07 18:12] astorije commented on #6029
From an engineering standpoint: while this extra color(s) will be helpful, the real differentiator here is if those could be design token aliases so that we could just use them in our navigation and the aliases would switch to the correct colors in `cds-theme="dark"` mode.

Could this be the direction this takes? I'm happy to work on a PR right away if we define the color(s) and alias(es) we want

[2021-06-07 18:29] jaybellew1 commented on #6029
Also, it would help to have the colors for the global left navigation available in clarity core.  Here is my assessment/recommendation of what they might be...bases on the attached screenshot

<img width="722" alt="Screen Shot 2021-06-07 at 2 04 15 PM" src="https://user-images.githubusercontent.com/32872744/121070487-c7739b00-c79c-11eb-996f-2797f2c07c68.png">

Left Nav Bg is #17242b ...this color

[2021-06-07 18:55] hippee-lee commented on #6029
@colinreedmiller can you weigh in here with feasibility for this request.

[2021-06-07 19:01] hippee-lee commented on #6029
@astorije, @jaybellew1  - not sure if you are asking to define specific navigation aliases but the [cds-navigation component](https://github.com/vmware/clarity/pull/6024) (currently in PR status) will ship with custom properties that tie into the [interaction aliases](https://clarity.design/storybook/core/?path=/story/foundation-interaction-styles--page#vertical-navigation-interaction) and can als

[2021-06-07 19:06] colinreedmiller commented on #6029
The color set for Core was created with a few things in mind, namely:

- Alignment with NG as much as possible
- Supporting both light and dark themes in the global set
- Fixing a lot of a11y bugs.

For this reason there will be cases where alignment is exact, others where there are imperceptible shifts, and some where the shift is apparent on close examination. There should be no shifts that are

[2021-06-07 19:33] jaybellew1 commented on #6029
OK, so is this a no on adding any new colors to the core set?  How about just adding that color for the top nav header?

[2021-06-07 20:04] hippee-lee commented on #6029
@jaybellew1 - correct. We are resistant to adding one-off colors to the current system. It doesn't mean we will never add colors/ But if/when color(s) are added they need to be looked at carefully because of the domino effect it has on the rest of the colors and a11y vetting that has already been done wrt contrast ratios etc.

As far as the `top nav header` can you clarify if you are using the `@c

[2021-06-07 20:04] #6029 closed, assigned to nobody

[2021-06-08 06:34] koninos commented on #6028
The thing is that `ClarityIcons` class does not have an `add` method, so why the docs say to call a method that doesn't exist?

Check on [stackblitz](https://clarity-light-theme-v5-dawrac.stackblitz.io)

[2021-06-08 09:41] bhanupradeep7 opened #6031 "Selected Tab in sideNav doesn't have sufficient contrast."
## Describe the bug

Selected tab in the Side nav doesn't have sufficient contrast. This issue is present in clarity v5 as well
Currently the background-color is #fafafa and selected tab background color is #d8e3e9.

Contract checker : https://www.levelaccess.com/color-contrast-checker/
## How to reproduce

https://clarity.design/angular-components/sidenav/#code-examples

Steps to reproduce the be

[2021-06-08 09:59] bdryanovski commented on #6028
It seems that our documentation requires some updating

[code]

To use it later on

[code]

[2021-06-08 10:37] koninos commented on #6028
Thanks @bdryanovski, this one is working.

[2021-06-08 12:36] kjetilhp commented on #5684
any update on this issue?

[2021-06-08 12:45] mathisscott commented on #6028
@koninos
The `ClarityIcons.add()` method that was being used was the old call signature for `@clr/icons`. I don't know why that wound up on the website docs for `@cds/core`. Different packages. But it looks like @bdryanovski updated the docs in [this PR](https://github.com/vmware/clarity/pull/6032) so it should be corrected soon. I'm sorry for the confusion.

[2021-06-08 13:39] bdryanovski commented on #5822
I notice the same thing last week when I was investigating another issue related to the Stepper and Accordion - Both of them use the same service in their roots.

But when changed the Observable to Subject instead of Behavior, I got many errors with the lifecycles.

So I did some work on that but did not find a super clean solution - just patching the patch - probably need a lot more reworking fro

[2021-06-08 13:45] bdryanovski commented on #5528
Is this ready to be close?:)

[2021-06-08 15:25] marcoamonteiro opened #6034 "Sass themes do not work with create-react-app"
## Describe the bug

Clarity css sass imports do not work with create-react-app

## How to reproduce

Steps to reproduce the behavior:

[code]

## Versions

**Clarity project:**

- [ x] Clarity Core
- [ ] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [ x] v5.x

**Framework:**

- [ ] Angular
- [x ] React
- [ ] Vue
- [ ] Other:

**Framework version:**
_ie: React 4.0

[2021-06-08 16:01] #5982 closed, assigned to nobody

[2021-06-08 16:57] coryrylan commented on #5597
Right now the best option is to load the Core components only in the Browser module like in [this demo](https://github.com/vmware/clarity/tree/next/apps/core-angular-universal). I will be updating this demo to the latest Core/Angular soon. There are some potential options in the future for loading on the SSR side but are not ready for production just yet.

[2021-06-08 17:30] hippee-lee commented on #6031
Thanks for reporting this issue. We will look into it further.

@scroniser and @colinreedmiller - are you able to weigh in here on the best way to update the selected tab color to meet the 3:1 contrast ratio?

[2021-06-08 17:33] hippee-lee commented on #5684
This issue is in the backlog, waiting for the resources to investigate.

[2021-06-08 17:35] hippee-lee commented on #6028
Closing this as resolved. @koninos - please update here if that is not the case.

[2021-06-08 17:35] #6028 closed, assigned to bdryanovski

[2021-06-08 18:22] hippee-lee commented on #6034
I tried to follow your reproduction steps but was unable to reproduce the issue.

Here is what I had to do:

1. npx create-react-app my-app --template typescript
2. added ```   "devDependencies": {
    "node-sass": "^6.0.0",
    "sass-loader": "^11.1.1"
  },``` because it seems that create react app has some issues to fix with the underlying webpack config or react-scripts
3. installed
    - npm i

[2021-06-08 18:22] #6034 closed, assigned to nobody

[2021-06-09 07:29] kjetilhp commented on #5684
Hi, was little fast to conclude that this was the same as my problem. My behaviour is similar but happens when the overflow is used on mobile. When on mobile I am unable to click/touch the items in the overflow list, no event occurs. The overflow is working as it should when in browser phone simulator and on regular browser. However, on the phone or in the iOS xcode simulator nothing happens when

[2021-06-09 08:34] koninos opened #6038 "Clarity core components - Alert not closable"
## Describe the bug

Cannot close the alert message using the close button (x icon)

## How to reproduce
Create a closable alert like this and try to close it by clicking the x icon.
[code]
[Stackblitz](https://stackblitz.com/edit/clarity-light-theme-v5-hpb5of?file=src/app/app.component.html)

## Expected behavior

Alert should close

## Versions

**Clarity project:**
Clarity Core 5.3.0
Clarity An

[2021-06-09 11:23] vishalmanohar commented on #5597
Thanks @coryrylan

Tried loading the core components and icons used only in browser module.
However was still getting the window error when using any clr/angular component like `clr-modal`

[code]

Created a repo [ng-universal-test](https://github.com/vishalmanohar/ng-universal-test) that reproduces this.

There seem to be imports on `cds/core` components in the `ClarityModule` and other other cla

[2021-06-09 14:41] sis0k0 commented on #5528
The only item that's left is:
[code]

But I guess that could be done afterward.

[2021-06-09 15:05] coryrylan opened #6042 "Clarity Angular SSR"
## Describe the bug

Clarity Angular SSR is currently broken due to an import to Core in the ClarityModule.

## How to reproduce

Using the Universal starter in the repo update to latest Clarity.
https://github.com/vishalmanohar/ng-universal-test

## Expected behavior

Clarity Angular should not auto import Core components as this breaks SSR. Core components must be loaded in a `BrowserModule` sep

[2021-06-09 15:25] grahamford commented on #6038
I ran in to the same problem.

I had to wire it up manually using the `(closeChange)` binding. https://clarity.design/core-components/alert/api/#alert-events

[2021-06-09 15:30] mathisscott commented on #6038
@grahamford is correct. The core alerts don't close themselves. They will tell the application that an interaction wants to close an alert. The application can take that information and close the alert. Or not...

[2021-06-09 15:31] #6038 closed, assigned to nobody

[2021-06-09 15:44] coryrylan commented on #6038
This is by design. Clarity Core components are stateless meaning they will emit events when the user interacts with the component but not change/mutate its own state. This ensures the application retains the state and has full control of when it should change.

Example:
When the user closes a modal/alert the app can determine if it should close rather than the component. This is helpful for interc

[2021-06-09 15:50] coryrylan commented on #5597
@vishalmanohar thanks for the reproduction! It looks like this was a regression in the Clarity Module. I made a issue to fix the particular issue you found in #6042

[2021-06-09 15:53] hippee-lee commented on #5684
@kjetilhp - can you open a new issue since yours is different from this one. Please provide as detailed of a reproduction guide that you can and a stackblitz with the code that is giving you issues. As far as I remember, the iOS simulator should be able to handle stackblitz, no?

[2021-06-09 15:53] rbirkgit opened #6044 "Labels and input/select controls in Core forms are not aligned"
## Describe the bug

When using Clarity Core responsive forms the labels and the input/selact controls are vertically misaligned by 1px.

![image](https://user-images.githubusercontent.com/6342391/121387971-17776c80-c919-11eb-8c04-31566cb1287b.png)

## How to reproduce

See second demo in:
https://clarity.design/storybook/core/?path=/story/forms-responsive--page

## Expected behavior

Aligned text

[2021-06-09 19:58] scroniser commented on #5926
Apologies for the delay: Reviewed and created a new issue to track internally.

[2021-06-09 20:09] scroniser commented on #6010
Added this issue to the internal tracking system.

[2021-06-09 20:21] scroniser commented on #5997
Created issue within our internal reporting tool.

[2021-06-10 08:46] Jinnie commented on #5980
The same example has been updated with a new implementation using the (clrDgRefresh) handler, which fixes all columns in the datagrid at once and covers the filter issue, too.

[2021-06-10 08:57] kjetilhp opened #6046 "Tabs in overflow are not activated when clicked on mobile"
Similar to #5684 but only present for mobile in my case

## Describe the bug

When on mobile I am unable to click/touch the items in the overflow list, no event occurs. The overflow is working as it should when in browser phone simulator and on regular browser. However, on the phone or in the iOS xcode simulator nothing happens when clicking the items. Items are just highlighted and then it disapp

[2021-06-10 08:57] kjetilhp commented on #5684
@hippee-lee managed to get stackblitz to work, cloning the link above, as long as I don't upgrade to clr 5.3 and angular 12. And the error is present when loading https://clarity-overflow-problem.stackblitz.io in the iOS simulator. I will create a separate issue #6046

[2021-06-10 11:25] #5957 closed, assigned to bdryanovski

[2021-06-10 11:25] #5981 closed, assigned to bdryanovski

[2021-06-10 14:59] hippee-lee commented on #6046
Thank you for reporting this. Triage does indicate that there is an issue with [toggleOverflowOnClick](https://github.com/vmware/clarity/blob/next/packages/angular/projects/clr-angular/src/layout/tabs/tabs.ts#L192)

Triaging this on desktop Safari (not in mobile dev mode) I noticed that
```(focus)="openOverflowOnFocus()"  works in Desktop Safari```
but
```(click)="toggleOverflowOnClick()" does not

[2021-06-10 15:21] hippee-lee commented on #5926
Thanks @scroniser - I'll close this as it has been triaged and is being tracked with the other a11y issues.

Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without

[2021-06-10 15:21] #5926 closed, assigned to nobody

[2021-06-10 15:21] hippee-lee commented on #6010
Thanks @scroniser - I'll close this as it has been triaged and is being tracked with the other a11y issues.

Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without

[2021-06-10 15:21] #6010 closed, assigned to nobody

[2021-06-10 15:21] hippee-lee commented on #5997
Thanks @scroniser - I'll close this as it has been triaged and is being tracked with the other a11y issues.

Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without

[2021-06-10 15:21] #5997 closed, assigned to Jinnie

[2021-06-10 16:14] gnomeontherun commented on #5408
This should likely be resolved by #6020 by @jeeyun.

[2021-06-10 18:47] scroniser commented on #6031
This is being tracked internally. There are a couple ways to solve this that I can suggest (though I will defer to Colin & the design team): include a border which provides sufficient contrast with the background or invert the colors (light text on a dark background).

[2021-06-10 20:51] gnomeontherun commented on #4527
This will be possible with the cds-navigation component and will be the recommendation to accomplish this feature. Follow #6024 for updates on that.

I'm going to close this as resolved by the above PR.

[2021-06-10 20:51] #4527 closed

[2021-06-11 00:17] hippee-lee commented on #6031
Thanks @scroniser - since this is being tracked internally I'm going to close it here.

Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects

[2021-06-11 00:17] #6031 closed, assigned to nobody

[2021-06-11 17:51] #5965 closed, assigned to nobody

[2021-06-11 19:09] dave105010 opened #6051 "No cards in @clr/core anymore?"
## Describe the bug

There used to be .card class in clarity v4. We are upgrading to clarity v5 and use it with modern js tools(webpacker) to bundle our js and css.

However, v5 requires every module to be "imported" since there is no more "@clr/ui" documentation on the official site(discontinued?) and no more ways to just load clarity css file and use css classes. I cant even find the list of css

[2021-06-11 19:33] wokis opened #6053 "cds: long message in cds-control-message switches form layout to vertical"
## Describe the bug

A long message in a `cds-control-message` switches form layout from horizonal to vertical. If the `cds-control-message` message is longer after a failed input validation the input will switch between horizontal and vertical layout.

![image](https://user-images.githubusercontent.com/4148643/121739666-3f72f580-cafc-11eb-81f0-a7dfef509baf.png)

## How to reproduce

https://stack

[2021-06-11 19:41] wokis commented on #6051
You can find documentation on the old card component at [https://clarity.design/angular-components/card](https://clarity.design/angular-components/card).

[2021-06-11 19:43] gnomeontherun commented on #6051
Hi @dave105010, it sounds like you are looking at the two different implementations, Clarity Angular/UI and Clarity Core. So when we talk about versions, we have to be more clear about which implementation we are talking about.

Clarity Core is not yet complete, so there are some gaps. You can continue to use the original Clarity Angular/UI components, but long term we are focusing on Clarity Core

[2021-06-11 19:43] #6051 closed, assigned to nobody

[2021-06-11 19:53] wokis opened #6054 "Updating clarity v5 stackblitz templates makes them utterly broken"
## Describe the bug

Updating `@cds/core` or `@clr/angular` in the clarity-x-theme-v5 makes the template utterly broken.

    Error in /turbo_modules/@clr/angular@5.0.2/bundles/clr-angular.umd.js (2:111)
    Unexpected token 'export'`

## How to reproduce

Steps to reproduce the behavior:

1.  Select on of the Clarity Stackblitz v5 templates from https://stackblitz.com/@clr-team
2.  Update `@cds/c

[2021-06-11 19:57] dave105010 commented on #6051
Hi @gnomeontherun ,

What's the reasoning behind switching from css classes to actual tags?
Before, it was easier to switch from bootstrap to clarity. It was easier for any developer to start building on.
Now, it's almost its own niche and the learning curve keeps increasing. Especially with those cds tags and attributes with very long names.

I think I've never spent this much time understanding

[2021-06-11 20:43] mathisscott commented on #6051
@dave105010
The tags are web components. We've written some [articles about our rationale for moving to web components](https://medium.com/claritydesignsystem/clarity-core-72f6d3a029bc) as well as a [blog detailing the performance benefits of moving in this direction](https://medium.com/claritydesignsystem/design-system-performance-with-clarity-core-web-components-fbab56516f30).

While web compone

[2021-06-11 20:47] dave105010 commented on #6051
@mathisscott Thank you so much for your detailed answer. It makes much more sense now. I'm reading the articles as we speak.
EDIT: I will see what I can do more to make the transition smoother for us.

[2021-06-11 21:50] hippee-lee commented on #6054
We have known about  this for a while. We reached out to the @StackBlitz team for help investigating it because the error messages make it hard to see what is causing it and why it is failing.

This is under investigation so stay subscribed for any updates when they are available.

[2021-06-11 22:45] hippee-lee commented on #6054
@bdryanovski or @bbogdanov - any updates on the investigation?

[2021-06-11 23:47] hippee-lee commented on #6053
Adding `wrap:none` [here](https://github.com/vmware/clarity/blob/next/packages/core/src/forms/control/control.element.ts#L179) prevents the input and control message from wrapping under the label. However before proceeding with a PR I'm not sure if the current behavior is intended. @coryrylan  or @mathisscott - do you have any insight into why it currently wraps like this? I'm looking for clarific

[2021-06-12 00:01] hippee-lee commented on #5877
A new video has been pushed to the edge of the cdn.

[2021-06-12 00:01] #5877 closed, assigned to hippee-lee

[2021-06-12 06:46] bdryanovski commented on #6054
We still have issues with the normal Stackblitz Angular template ...

As a workaround I could offer this for the moment https://stackblitz.com/edit/clarit-angular-node - this is based on the new Strackblitz Node templates - and things here work for the moment.

[2021-06-12 15:21] wendellestradairely opened #6060 "Cannot find name 'ResizeObserver' error after upgrading to Clarity 5.4.0"
**Got some errors after upgrading from Clarity 5.3.0 to Clarity 5.4.0**

snippet from package.json
[code]
Error logs:
[code]

**Then in my other project, I'm having errors regarding "lit-html":**
[code]
Clarity: 5.4.0
Angular: 12.0.3
Typescript: "~4.2.4"
Nodejs: v12.20.2
OS: Windows 10 Enterprise

[2021-06-13 14:35] omar-zahid commented on #6060
Following workaround works for me:
`npm install -D @types/resize-observer-browser`
Then, add the following line to your `tsconfig.app.json` under `compilerOptions`
`"types": ["resize-observer-browser"]`

[2021-06-14 10:09] ponna93 commented on #6060
Hi, I'm also facing the same errors
![image](https://user-images.githubusercontent.com/53327960/121876185-e2a75300-cd26-11eb-97b8-5b659dadda43.png)

Clarity: 5.4.0
Angular: 12.0.3
Typescript: "~4.2.4"
Nodejs: v12.20.2
OS: Windows 10 Enterprise

[2021-06-14 13:40] coryrylan commented on #6053
I am looking at a similar issue that was mentioned in the support slack. I'll double check

[2021-06-14 16:06] coryrylan commented on #6060
What @omar-zahid posted is correct the resize observer issue is due to a change in the TypeScript compiler adding support for the [ResizeObserver type](https://github.com/microsoft/TypeScript-DOM-lib-generator/pull/948). This can come up if the version of TS compiling the project is older and missing the `ResizeObserver` type definition. The options are to update the `typescript` package or instal

[2021-06-14 16:32] mathisscott commented on #6060
And to follow on that...

If you get through that and still no luck, could you please push up a branch that we can access that demonstrates the issue? I've built out just under a half-dozen apps using various approaches trying to replicate it. It would help to have something to work on that fails in the exact way that you are seeing to help diagnose what might fix it.

[2021-06-14 17:15] gnomeontherun commented on #6060
If you have @clr/core installed with your Clarity v5 installation, remove it. That might also be the source of your issues. It is possible that older installs might have `@clr/core` installed from previous versions, but it should be removed in favor of `@cds/core`.

[2021-06-14 18:09] bbogdanov commented on #6054
Unfortunately, we didn't get a response back in a while so we assumed we have to move in another direction.

What @bdryanovski provided is what we will be working with from now on. I believe what we could do is just pin the template to our main clarity template source.

[2021-06-14 20:52] astorije commented on #5907
FYI, I updated https://stackblitz.com/edit/react-ts-bgirwg to use Clarity Core/React 5.4.0 as I know you've done some work around `lit` but unfortunately the problem persists :(

[2021-06-14 21:27] mathisscott commented on #5907
@astorije

Looking into this, it appears that the esc key and backdrop click share a couple of circumstances.

Both are set up inside the parent superclass of the modal. I don't think that's significant because if React messed with that so much more would be broken in the components.

The other thing they share is how they are defined as event handlers. You'd see [in the close button component](ht

[2021-06-14 21:31] coryrylan commented on #6053
Ok, I think I have a possible fix for this. Its a bit more involved due to another related issue with the label control width with the auto layouts and long text wrapping. I'll try to get a PR up sometime this week.

[2021-06-15 02:14] wendellestradairely commented on #6060
@gnomeontherun @mathisscott Uninstalling the `@clr/core` solves the issue of `lit-html` or `lit-element`. As for the `ResizeObserver`, it appears that I was using Angular 11 and a lower version (4.0.7) of typescript in my other project. Upgrading to the Angular 12 and Typescript 4.2.4 solves the issue.

[2021-06-15 03:10] AllForNothing opened #6068 "Getting a warning when running ng serve(angular12)"
## Describe the bug

Warning: Entry point '@clr/angular' contains deep imports into './node_modules/@cds/core/icon', './node_modules/@cds/core/icon/register'. This is probably not a problem, but may cause the compilation of entry points to be out of order.

Steps to reproduce the behavior:

1.  npm install
2. ng serve
3. then you can see the warning

## Expected behavior

Everything works fine, bu

[2021-06-15 05:32] pavandixit93 commented on #6010
Thank you team!!

[2021-06-15 07:58] hadrienbecle opened #6071 "No documentation for clr-hidden-[size]"
There is no documentation for the css classes .clr-hidden-[size]. There already was an issue a few years back (#3586), but it was marked as resolved last year, even though it's nowhere to be found on the website.

I think it should be either on the _Grid_ page, or in a _Display utilities_ page (like Bootstrap).

Also, I don't understand why the _Grid_ page is in the _Angular Components_ submenu, s

[2021-06-15 08:42] wendellestradairely opened #6072 "The arrow icon of the Combobox component is not visible in v5"
## Describe the bug

In v5, the arrow icon of the dropdown of the Combobox component isn't visible. I think this is because the icon was migrated to `cds-icon` but the `size` attribute does not accept integer values.

![image](https://user-images.githubusercontent.com/50942719/122021574-5e250500-cdf8-11eb-89f6-f3dbdb619c08.png)

Before update:
![image](https://user-images.githubusercontent.com/509

[2021-06-15 13:33] mathisscott commented on #6060
That's great, @wendellestradairely

In addition, @gnomeontherun has a [PR ready to merge in](https://github.com/vmware/clarity/issues/6066) that will hopefully smooth over any other 5.4 issues.

[2021-06-15 15:37] mathisscott commented on #5907
@astorije
Turns out, it's not a binding issue at all. At least, the main issue causing the problem seems unrelated to binding.

The breakage here is something that we suspected might break in React but we didn't have any hard evidence that it would (or was) breaking. The problem is the focus traps on those two specific items are relying on the real DOM and, at least with React Hooks, the virtual D

[2021-06-15 15:43] #5851 closed, assigned to nobody

[2021-06-15 16:19] #6044 closed, assigned to nobody

[2021-06-15 16:32] astorije commented on #5907
Thank you for this summary, that's super informative. Let us know if we can help!

[2021-06-15 18:40] gnomeontherun commented on #6068
This is just a warning because we use deep imports, because that is how we properly setup tree shaking with our Core package. This might be a problem if our Core package was Angular, but it is not so the warning is not applicable to this scenario. Closing as not an issue.

[2021-06-15 18:40] #6068 closed, assigned to nobody

[2021-06-15 21:16] mathisscott commented on #6071
As we focus more on `@cds/core` providing layouts and utilities, I don't think we will grow support or documentation for legacy CSS utilities in `@clr/ui`. That said, this is an interesting legacy feature that I don't think we have in `@cds/core`.

Maybe worth considering, @coryrylan ?

[2021-06-15 21:17] #6071 closed, assigned to nobody

[2021-06-15 21:33] mathisscott commented on #6072
That's a good workaround, @wendellestradairely

But I don't think it's the numeric sizing that's the problem, I think it may be the `var()` in the `calc()` statement. I haven't been able to replicate the issue locally. But could you verify that you are importing the `@cds/core/global.min.css` file _or_ that the `var(--cds-global-base)` custom property has a value in the chrome inspector?

[2021-06-15 22:18] rbirkgit commented on #6072
I could find two controls where there is a size set and using these controls will not render the icons. The close icon of the details pane of the datagrid and the dropdown arrow of the combobox along with the close icon of the multi-select pills there.

![image](https://user-images.githubusercontent.com/6342391/122130689-055c6900-ce06-11eb-96c5-e90ba5a63ce5.png)

Adding this to your global styles

[2021-06-15 22:26] coryrylan commented on #6072
The fix would be providing a fallback value here I believe https://github.com/vmware/clarity/blob/next/packages/core/src/internal/utils/css.ts#L44
[code]
Probably should fallback to `16` since that would be the default browser font if the global CSS wasnt loaded and then add that css snippet above to clr-ui to set it to 20

[2021-06-15 22:33] rbirkgit opened #6076 "Browser warnings from core icons when running 5.4.0 Angular"
## Describe the bug

When upgrading to 5.4.0 I started seeing a myriad of these warnings in the browser when starting up. Several pages long. They did not happen with 5.2.1.

[code]
## How to reproduce

Have this in my angular,json so we can debug libraries:

[code]

## Expected behavior

Less warnings :)

## Versions

**Clarity project:**

- [ ] Clarity Core
- [x] Clarity Angular/UI

**Clarity ve

[2021-06-15 22:34] coryrylan commented on #6076
The issue is from our source maps pointing to the relative path of the original source You can see an example here https://cdn.skypack.dev/-/@cds/core@v5.4.0-Jtim6zAWRrhsEAt0O3e8/dist=es2020,mode=raw/icon/collections/chart.js.map

[2021-06-16 02:03] wendellestradairely commented on #6072
@mathisscott Importing the `@cds/core/global.min.css` produces compilation errors.

Also, it's not just the combobox that has the issue but the `cds-icon` itself. It only happens when I put a `size` attribute with an integer value.

[code]

Here's what my `angular.json` contains:

[code]

[2021-06-16 02:17] wendellestradairely commented on #6072
@mathisscott By the way the `var(--cds-global-base)` doesn't have a value in Chrome.

But this one works:
[code]

[2021-06-16 02:42] coryrylan commented on #6072
@wendellestradairely There is an issue with the CSS minification step with the Angular CLI currently. See this comment for a workaround https://github.com/nrwl/nx/issues/4381#issuecomment-853029089

[2021-06-16 16:13] grahamford opened #6080 "Disabled buttons are broken in core ver 5.4.0"
## Describe the bug

Before 5.4.0 it was possible to use the `disabled` property on `<cds-button>`. With 5.4.0 this binding is no longer allowed and the alternative `attr.disabled` doesn't work correctly.

## How to reproduce

**Behaviour in 5.3.0**

Clicking the first button toggles the `disabled` property of the second button. The second button can be clicked when it's not disabled.

https://sta

[2021-06-16 19:41] jeeyun commented on #5408
Just some notes on this:
- It seems that we have a minor bug in the Angular version where both the `clr-tree-node` and its child `div` have role of `treeitem` in this case (haven't dug into check if this is always the case or only under certain scenario)
-If you wanted to try running the axe tool we'd now have to use the angular version of the doc (https://v4.clarity.design/documentation/tree-view

[2021-06-16 21:33] mathisscott commented on #6080
It appears the `@cds/angular` package isn't removing the need for `CUSTOM_ELEMENTS_SCHEMA` as we'd hoped (at least in relation to this angular v12 app).

The workaround now is...

1. Add `import '@cds/core/button/register.js';` to your `app.component.ts`
2. Pull `CUSTOM_ELEMENTS_SCHEMA` from `@angular/core` into your `app.module.ts`
3. Make sure to import it into `@NgModule` by adding `schemas: [C

[2021-06-16 22:01] #5745 closed, assigned to mathisscott

[2021-06-17 01:55] AllForNothing commented on #6068
@gnomeontherun Thanks a lot for the explanation.

[2021-06-17 13:43] coryrylan opened #6086 "core: space token mapping issue"
## Describe the bug

The layout utilities are currently not pointing to the space tokens properly. There is a optimization step the creates a alias of each token that is much smaller to shrink overall payload size. The utilities work but the alias is not pointing back to the original `cds-layout-space-*` values.

## How to reproduce

Use layout utils and then change any cds-layout-space-* token an

[2021-06-17 14:43] grahamford commented on #6080
Thanks for looking at this Scott 👍

For now, I'll stick with 5.3.0 until Angular 12 support is ready.

[2021-06-17 15:49] gnomeontherun commented on #6068
Also found a way to disable those messages if you like.

https://github.com/angular/angular/issues/35615#issuecomment-592253747

[2021-06-17 15:50] gnomeontherun commented on #6080
@Shijir can you take a look at this, didn't we have a recent fix around this?

[2021-06-17 17:09] gnomeontherun commented on #5408
Our goal is to pass manual validation with our professional accessibility team and take their guidance over automated tools. I'm going to make this as not an issue with Core.

[2021-06-17 17:09] #5408 closed, assigned to nobody

[2021-06-17 20:39] gnomeontherun commented on #4852
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-06-17 20:39] #4852 closed

[2021-06-18 07:58] ghost commented on #6060
@coryrylan @mathisscott  I tried by installing the resize observer type. And added the "types": ["resize-observer-browser"] in tsconfig.app.json file as well.
Still the issue
Error: node_modules/@cds/core/internal/utils/responsive.d.ts:18:124 - error TS2304: Cannot find name 'ResizeObserver'.

remains same. I am not looking to update the typescript right now, because I will have to update angular

[2021-06-21 06:10] ghost commented on #6060
This worked
The @cds/core version was 5.0.1 and angular version was 11.2.10.
Updating @cds/core to 5.1.1 worked.

[2021-06-21 09:03] Divine1 opened #6089 "angular 11 - error while configuring clarity library - unable to resolve `ResizeObserver`."
Angular 11

i followed the steps mentioned in this [link](https://clarity.design/get-started/developing/angular/#manually-adding-clarity-to-an-angular-project)

Receiving below error
![image](https://user-images.githubusercontent.com/10482177/122734118-6d460000-d29b-11eb-8f0b-be7ea26483ed.png)

to fix it i replaced `ResizeObserver` with `any` in the file `node_modules/@cds/core/internal/utils/resp

[2021-06-21 17:42] Shijir commented on #6089
Closing as it's a duplicate of https://github.com/vmware/clarity/issues/6060.

[2021-06-21 17:42] #6089 closed, assigned to nobody

[2021-06-21 18:29] coryrylan commented on #6086
This looks like an issue in an older version and fine on latest https://stackblitz.com/edit/typescript-tugqwc?file=style.css

[2021-06-21 18:29] #6086 closed, assigned to coryrylan

[2021-06-21 18:52] coryrylan commented on #5891
This should be easier to implement as a patten once i get https://github.com/vmware/clarity/issues/6053 merged. Have an example from a11y we can reference

[2021-06-22 19:49] Shijir commented on #6080
I've just detected that the `disabled` property is missing from the `custom-elements.json` file that we use to generate `cds-button` angular directive.

[2021-06-23 15:39] Jinnie commented on #6054
For the time being, we've adopted the Node version of the template.
Please, use it instead.
As we have a viable workaround and fixing the Angular-version templates is not something we can do on our side, I will close this bug.

[2021-06-23 15:39] #6054 closed, assigned to nobody

[2021-06-23 16:48] lil-kim commented on #4840
Done - published to Clarity icon library

[2021-06-23 16:48] #4840 closed

[2021-06-23 18:27] coryrylan opened #6095 "core: i18n sync"
## Describe the bug

When switching the i18n language throught the i18n service the components do not update with the latest string values.

## How to reproduce

Switch the i18n here and inspect internal aria-labels not updating https://clarity.design/storybook/core/?path=/story/foundation-internationalization--page

## Expected behavior

When updating the i18n options the components should reflec

[2021-06-23 18:51] ph55 opened #6096 "Angular 12 peer dependency error"
Error thrown when updating to 5.4 and angular 12.

[code]

[2021-06-23 18:53] ph55 commented on #6096
Thought we have angular 12 support already, but it's only preparations
https://github.com/vmware/clarity/pull/6015

[2021-06-23 18:53] #6096 closed, assigned to nobody

[2021-06-23 20:43] rbirkgit commented on #6072
Would be good to add this to the angular css file. That way one can use cds icons with numeric size without having to include the whole cds css files. Not sure if we need to open a separate bug for that? It is a breaking change otherwise as our users of our libraries suddenly need to include new cds css files (or add this themselves manually in their app).

[code]

[2021-06-24 01:55] lil-kim commented on #5883
[icons 2021-06-23.zip](https://github.com/vmware/clarity/files/6705721/icons.2021-06-23.zip)
Here are the final icons for #5831 and #5882

[2021-06-24 01:56] lil-kim commented on #5882
This icon is completed and ready for implementation in Epic #5883

[2021-06-24 03:14] vitali-bulky opened #6098 "cds-file poor long file names handling"
## Describe the bug

When selecting a file with a long filename browse button shows the whole string breaking layouts.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity.design/core-components/file/
2.  Click on any browse button
3.  Select a file with about 100 or more chars long filename
4.  See how browse button overflows other content

![screenshot](https://user-

[2021-06-24 16:28] coryrylan commented on #6098
Related issue will be fixed with same PR https://github.com/vmware/clarity/issues/6053

[2021-06-24 17:12] becksky opened #6100 "[Combobox]" No results" if the iterator value is behind of an await function."
## Describe the bug

" No results" if the iterator value is behind of an await function.

## How to reproduce

Steps to reproduce the behavior:

1. Create a clr-combobox-container in html
`<clr-option *clrOptionItems="let state of states; field:'name'" [clrValue]="state">`

2. Define the iterator states in ts file in a async function, for example:
`
states: any[]
async ngOnInit(): Promise<void> {

[2021-06-24 17:33] hippee-lee commented on #6100
Have you tried using the async pipe in the template?
[code]
Can you submit an isolated reproduction of your issue so we can take a look?
We keep starter apps [here](https://stackblitz.com/@clr-team).

[2021-06-25 08:55] becksky commented on #6100
Here is the reproduction environment, I tried add the pipeline "async", but it doesn't work.

https://stackblitz.com/edit/clarity-combobox-testbed?file=src/app/app.component.html
https://clarity-combobox-testbed.stackblitz.io

[2021-06-25 13:27] dexfab commented on #4734
Any chance this bug gets prioritized? We're seeing this in our production app too.

[2021-06-25 21:09] hippee-lee commented on #6100
I did some research into this and it seems like ngOnInit isn't supported. See the conversation here: https://github.com/angular/angular/issues/17420

While looking at your example I wondered if there is a reason you aren't using an observable here?

I think you can make async/await work with angular but it seems to be an awkward pattern to implement that I haven't seen before.

I'm going to conver

[2021-06-25 21:09] #6100 closed, assigned to nobody

[2021-06-29 05:25] pavandixit93 opened #6105 "npm/yarn not working on windows machine.[Windows specific]"
## Describe the bug

I am not able to install dependencies on windows machine by using `npm` or `yarn`, and due to which i am not able to build clarity on windows, Please attached screenshots.

FYI, I have node version 12.20.2 still it throws error.

![npmNotWorking](https://user-images.githubusercontent.com/21095558/123741699-1efeb580-d8c8-11eb-9200-479b51c987a3.PNG)
![yarnNotWorking](https://use

[2021-06-29 07:02] Jinnie commented on #6105
You need the correct node version for the Clarity version you want to install, as specified in the error message.
For best node-version management experience, I'd suggest installing NVM (node version manager). There is a windows version. Please check this article from Microsoft:
https://docs.microsoft.com/en-us/windows/dev-environment/javascript/nodejs-on-windows

Closing, as Clarity is successful

[2021-06-29 07:02] #6105 closed, assigned to nobody

[2021-06-29 08:16] pavandixit93 commented on #6105
@Jinnie Thanks for the link, I am going through it.

[2021-06-29 09:23] antgamdia opened #6106 "Parse error (unexpected token) when testing @cds/core using jest due to a named import"
## Describe the bug

In Kubeapps (VMware) we are using Clarity as the design framework and we wanted to upgrade from Clarity `5.1.x` to `>=5.2.x`. It should be a big deal, as it's just a minor version upgrade. However, in that version, you updated `lit` to v2 (which is totally fine) and it is making our Jest tests fail somehow.

The detailed report is here: https://github.com/kubeapps/kubeapps/pul

[2021-06-29 14:53] astorije opened #6107 "core: Right clicking the text of an alert crashes the browser"
## Describe the bug

Right clicking the text of an alert crashes the browser.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://stackblitz.com/edit/react-ts-m87m8o
2.  **Click on "Open in New Window (Live)".** Make sure to be on Chrome.
3.  Right click on any text of the first alert.
4.  The browser crashes

## Expected / Actual behavior

https://user-images.githubuserconte

[2021-06-29 16:16] mathisscott commented on #6107
This is a React issue, [documented here](https://github.com/facebook/react/issues/20829).

There are a few workarounds on that comment thread. But tl;dr, it's been fixed in later versions of React so path one is to update, path two is to use one of the workarounds on that thread, or path three is wrapping `cds-alert` content in a `div`.

Closing because React already has a fix and it's outside the

[2021-06-29 16:16] #6107 closed, assigned to nobody

[2021-06-29 16:53] astorije commented on #6107
@mathisscott I don't believe this is related: the Stackblitz shared above is on the latest React (17.0.2). Apologies for incorrectly reporting this on the issue description.

Would you mind reopening this issue? 🙏

[2021-06-29 16:55] mathisscott commented on #6107
I don't see latest react on that stackblitz...

![Screen Shot 2021-06-29 at 11 55 01 AM](https://user-images.githubusercontent.com/2728359/123837817-e7483b80-d8d0-11eb-9561-70b49bfd7317.png)

[2021-06-29 16:57] mathisscott commented on #6107
Additionally, this is a React issue. You'd get the most traction by opening an issue with them. If they do or do not fix it, there are three paths to workaround listed above.

[2021-06-29 17:15] astorije commented on #6107
Alright, my Stackblitz got hosed with:

[code]

So I had to create a CodeSandbox instead (forking didn't fix it): https://codesandbox.io/s/affectionate-raman-qpdof

It's using React 17.0.2, and on https://qpdof.csb.app/ you can see that the bug still exists.
And yeah I knew about the `div` workaround since, well, that's what I added as a workaround in my sandbox 😅

How did you connect this to the

[2021-06-29 17:22] mathisscott commented on #6107
After it crashes in stackblitz, you can see the SharedArrayBuffer error in the console.

As far as us fixing this, we already wrap that content in an element. Wrapping it in another element (a `div`) on our end won't help. Because it seems clear that React is having trouble with the shadow boundary. The best fix is wrapping the content in a JSX "div" as you've shown. Or engaging with the React tea

[2021-06-29 17:45] astorije commented on #6107
That seems like a can of worms far bigger and out-of-topic for that specific bug, so I'll pass on the opportunity 😅

If anyone implements the alert as documented on the Clarity website and uses `@cds/react` (which we have), they will run into this bug. We now have many dozens of alerts to fix all over our codebases with that undocumented `div` workaround. This doesn't sound ideal.

Could `@cds/rea

[2021-06-29 18:47] mathisscott commented on #6106
@antgamdia
Thanks for submitting the issue and digging deeper into the root cause. This is good information to have!

[2021-06-29 18:47] #6106 closed, assigned to nobody

[2021-06-29 23:06] colinreedmiller opened #6108 "Core construction color - shift for a11y"
Shift the color of: ---cds-global-color-construction-400 to
hsl: (198, 9%, 56%)
to create a11y contrast compliance against more other colors.

Current:
--cds-global-color-construction-400	 hsl(198, 9%, 58%)

[2021-06-30 14:59] ryan-bradford commented on #4807
Hi, did this issue ever get fixed along with the signpost changes?

[2021-06-30 22:18] #5891 closed, assigned to nobody

[2021-06-30 22:18] #6053 closed, assigned to coryrylan

[2021-06-30 22:18] #6098 closed, assigned to nobody

[2021-07-01 10:53] Jinnie opened #6110 "[Core] Datalist has extra caret when focused"
## Describe the bug

The Core Datalist component displays extra caret symbol after being focused. It is not visible, when out of focus

## How to reproduce

1.  Go to storybook / datalist page
2.  Focus the input
3.  Observe that a second, displaced, caret appears

![Screen Shot 2021-07-01 at 13 44 59](https://user-images.githubusercontent.com/1798828/124112912-78efae80-da73-11eb-9bce-f7ee613c1e59

[2021-07-01 12:21] Jinnie commented on #6110
Some research done:

The usual approach, which we also have in Clarity, is to do this:
[code]
It works fine with the calendar picker, but for some reason, the datalist, which obeys this rule, disregards the "display" property. Using opacity instead seems to work better:
[code]

[2021-07-01 13:22] Jinnie commented on #4807
The Clarity Angular popovers rework was put on hold in favor of the work on the Clarity Core (web-components) popovers.

[2021-07-01 18:31] JeTmAn1981 opened #6113 "Signpost not clickable, won't open when starting with display:none state"
I have an Angular component (date-field) which should show a signpost icon when you hover over it.  The signpost icon should appear to the right of the component.  I'm using this CSS to show the signpost:

[code]

Unfortunately, when the signpost does show up on hover, it's no longer clickable.  It will not open.  Am I doing this wrong?

[2021-07-01 18:47] JeTmAn1981 commented on #6113
I should note I am running Clarity 3.1.3 :(

[2021-07-01 22:49] #6108 closed, assigned to mathisscott

[2021-07-02 11:05] #6110 closed, assigned to Jinnie

[2021-07-02 11:56] Jinnie commented on #6113
Please, use a stackblitz to reproduce the issue:
https://stackblitz.com/@clr-team

I have to note, though, that relying only on hover to display an actionable element does not sound to have good accessibility. How will this signpost be activated with keyboard only, for example?

[2021-07-02 15:51] becksky opened #6117 "[clr-combobox-container] The number "0" is not working for clarity combobox."
## Describe the bug

Cannot select zero "0" in combobox

## How to reproduce

Steps to reproduce the behavior:

1. define a list, like stateList = [0,3,8]
2. select "0" in combobox
3. It is not selected

## Expected behavior

The number zero "0" should be selected.

## reproduction
https://stackblitz.com/edit/clarity-combobox-testbed?file=src/app/app.component.html
https://clarity-combobox-testbed

[2021-07-05 11:08] Jinnie opened #6118 "Website checkbox examples have wrong name attributes"
## Describe the bug

All checkbox examples in both versions of the site, feature the same error for the Angular checkboxes. The "name" attribute of all checkboxes is not unique.
This can be misleading and also results in problems with the preselection.

## How to reproduce

1. https://v4.clarity.design/documentation/checkboxes
2. Verify all checkboxes in each example have the same `name="options"`

[2021-07-06 07:21] AngelRani opened #6123 "ERROR in node_modules/@cds/core/forms/control-action/control-action.element.d.ts:26:15 - error TS2315: Type 'TemplateResult' is not generic."
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://stackblitz.com/@clr-team). Reports without a clear reproduction may not be prioritized until one is provided._

Steps to reproduce the behavior:

1.  Go to '...'

[2021-07-07 11:42] #5988 closed, assigned to bdryanovski

[2021-07-07 13:36] #6117 closed, assigned to Jinnie

[2021-07-07 17:59] gnomeontherun commented on #6123
Hello, please fill out our issue template to help us understand and triage your issue. There is no reproduction here, so I can't be sure what the problem is but it sounds like a TypeScript issue. Please update the original issue with version information, and include the TypeScript version. May be related to #5770 .

[2021-07-07 19:40] loucyx opened #6129 "cds-button loading doesn't reverse side effects"
## Describe the bug

Hi folks! I don't know if this was reported already, but the behavior of `cds-button` with the `loading-state` attribute is kinda bugged. If you set that property to the value `"loading"` and then you either set it to `"default"` or you just remove it, the button keeps being disabled.

## How to reproduce

You can reproduce the bug and play with it here: https://stackblitz.com

[2021-07-07 22:09] JeTmAn1981 commented on #6113
My apologies, it looks like this was actually a CSS problem on my end of things, no issue with Clarity that I am aware of.  Thank you for your response.

[2021-07-07 22:09] #6113 closed, assigned to nobody

[2021-07-08 11:58] AngelRani commented on #6060
hi i have updated angular clarity and cds/core.
but got this error

[code]

[2021-07-08 12:00] AngelRani commented on #6060
why came this error after update ?

[2021-07-08 14:12] coryrylan commented on #6129
Thanks for filing this. I just saw this issue as well on https://cds.wtf/

[2021-07-08 14:20] ashleyryan opened #6135 "Radio Group Label cut off with vertical layout and overflow"
## Describe the bug

When using a Radio Group inside of a container with overflow: auto, the label is cut off 1px at the top.

## How to reproduce

https://stackblitz.com/edit/clarity-react-node-zet6nv?file=src/App.js

## Expected behavior

## Versions

**Clarity project:**

- [x] Clarity Core
- [ ] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [x] v5.4.2

## Additional notes

[2021-07-08 14:56] brannislav commented on #4836
This pops up as accessibility issue because there is loss of data in the view when 2x & 4x zoom is applied.

[2021-07-09 02:22] ghost commented on #6060
Hi @AngelRani
You need to check if those methods are still supported in updated package, if not then what's the alternative. And what's the version you have updated your package to ?

[2021-07-09 03:06] siddharth1903 commented on #6060
@786lokesh which phase of app compilation are you facing this issue... In my case, i had to add it tsconfig.json and remove

   "types": [], from tsconfig.lib.json since it impacted my library compilation(using ng packagr) and each library config extends from tsconfig rather than tsconfig.app... Let me know if this could work for you!

[2021-07-09 03:07] siddharth1903 commented on #6060
@mathisscott is there a tentative timeline for this issue that we can look forward to?

[2021-07-09 09:42] #6118 closed, assigned to Jinnie

[2021-07-09 11:29] bdryanovski commented on #4003
To fix this we need to update these lines

[code]

[2021-07-09 12:57] boeckMt commented on #6123
I have a similar errors when using @clr/angular in angular Libraries.

[code]

[code]

## Versions
- "@angular/core": "11.2.14",
- "@cds/core": "5.4.2",
- "@clr/angular": "5.4.1",
- "@clr/core": "4.0.15",
- "@clr/icons": "5.4.1",
- "@clr/ui": "5.4.1",
- "typescript": "4.1.5"

[2021-07-12 03:59] wghglory opened #6140 "Placeholder color contrast is less than 4.5:1"
## Describe the bug

We're using Clarity Input Component, however, the placeholder contrast doesn't meet VPAT accessibility requirement.

![image](https://user-images.githubusercontent.com/11544273/125228833-18306380-e308-11eb-98c6-6c95e56e2333.png)

## Expected behavior

Color contrast is at least 4.5:1

## Versions

**Clarity project:**

- [ ] Clarity Core
- [x] Clarity Angular/UI

**Clarity ver

[2021-07-12 04:41] mattmutt opened #6141 "select box iconography for success state via clr-control-success overlaps dropdown menu arrow"
## Describe the bug

_Anytime the checkmark for success is rendered adjacent to the select form component with the assistance of the `clr-control-success` there is a rendering problem. The down chevron is obstructed by the success indicator. The CSS for the `::after` pseudo-selector on the `clr-select-wrapper` needs better proofing.
_

## How to reproduce

Steps to reproduce the behavior:

* Visit

[2021-07-12 06:30] mattmutt commented on #6141
SCSS patch
[code]

[2021-07-12 08:43] Jinnie commented on #6135
I see the PR is merged. Can we close this issue now?

[2021-07-12 09:18] Jinnie commented on #4836
It's caused by a greedy CSS selector, yes
[code]
I'm working on a fix.
You could force the display property on the inner-wrapper of the inner datagrid, but it won't be a very clean workaround.

[2021-07-12 12:08] Jinnie commented on #6123
Without proper description and especially without reproduction, there is not much we can do.

[2021-07-12 12:15] Jinnie commented on #6140
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already.

[2021-07-12 12:15] #6140 closed, assigned to nobody

[2021-07-12 13:18] #6135 closed, assigned to nobody

[2021-07-12 13:19] mathisscott commented on #6135
yep. my bad. i thought it was linked/closed to the PR already.

[2021-07-12 13:31] mathisscott commented on #6060
@siddharth1903
This isn't an issue with Clarity. It's an issue with expected versions of Typescript not being aligned. Similar to how you've said you're not looking to upgrade typescript because then you'd have to upgrade angular.

If you are not going to upgrade typescript, then the fix/workaround for this issue is as you describe: add the resize-observer type to where it needs to be (and that ma

[2021-07-12 13:31] #6060 closed, assigned to nobody

[2021-07-12 13:55] ghost commented on #6060
@siddharth1903  I already shared what worked for me

[2021-07-12 14:23] siddharth1903 commented on #6060
@mathisscott thanks much... Bumping up the version of typescript(4.1.x from 4.0.x) alone fixes this problem.. Have removed the work around as you have suggested! A bit weird to me why the angular upgrade schematic doesn't automatically bump up typescript too!

[2021-07-13 14:25] kumar-tadepalli commented on #6060
Can't we use core and angular components in same project? I mean mixing is not recommended?

[2021-07-13 14:32] kumar-tadepalli opened #6149 "Seeing Entry point '@clr/angular' contains deep imports"
### Discussed in https://github.com/vmware/clarity/discussions/6007

<div type='discussions-op-text'>

<sup>Originally posted by **shravansofts** May 27, 2021</sup>
Hi Team,

I'm seeing this error while building and my project uses clarity angular only and i'm not using cds/core not even imported in app module it is just present in package.json.

But Im seeing the below warnings. Can you provide a

[2021-07-13 14:56] mathisscott commented on #6060
`@clr/core` is the Core component library in versions 3 and 4. `@cds/core` is version 5+

Loading `@clr/core` and `@cds/core` into the same project has nothing to do with angular vs. core components. It's loading two different versions of the same library into one project. Like trying to build an app that uses both Angular v9 and v12 at the same time...

[2021-07-14 07:29] Jinnie commented on #6149
Answered in the linked discussion. Thanks for bringing it up again.

[2021-07-14 07:29] #6149 closed, assigned to nobody

[2021-07-14 09:56] boeckMt commented on #6123
@Jinnie I tried to reproduce the error .

## How to reproduce
Steps to reproduce the behavior:

1. create a new angular workspace with ng-cli version 11.2.14
`ng new cds-test --create-application=false  --style=scss` // I skipped the app here and create it later because this is the same structure I had on the other repo

2. create a new angular application
`ng g application test-app --prefix=app -

[2021-07-14 11:06] Jinnie commented on #6123
Both errors, with workarounds and solutions, have been discussed in this topic: https://github.com/vmware/clarity/issues/6060
Make sure you're using latest Typescript version (Angular update does not force the TS update)
And for the TemplateResult error - do not use `@clr/core`, but `@cds/core`
See the linked topic for more details.
Closing this as duplicate.

[2021-07-14 11:06] #6123 closed, assigned to nobody

[2021-07-14 19:06] hippee-lee commented on #4930
This issue is fixed as of the latest v5 package. The fix is to upgrade Clarity packages.

[2021-07-14 19:06] #4930 closed

[2021-07-14 19:12] #5318 closed, assigned to nobody

[2021-07-14 19:12] #6095 closed, assigned to coryrylan

[2021-07-15 07:35] koninos opened #6151 "Conditionally apply cds-control-message"
## Describe the bug

Not really a bug, but I am trying to use the new core components in place of the older Angular components and I cannot find in docs how to migrate the existing component `clr-control-error ` with `clrIfError` directive and use the new `cds-control-message` with similar functionality

`
<clr-password-container>
   <label>Password</label>
   <input clrPassword formControlName="p

[2021-07-15 13:20] coryrylan commented on #6151
You can use the angular forms module API directly without the need of the `*clr` type directives. Here is an example https://stackblitz.com/edit/node-p8km7t?file=src%2Fapp%2Fapp.component.html

[2021-07-15 13:22] #6151 closed, assigned to nobody

[2021-07-16 07:30] #6141 closed, assigned to Jinnie

[2021-07-16 09:23] #4836 closed

[2021-07-19 07:58] liakoyras commented on #6060
I had the same problem with `Template Result`. However, when I removed the `@clr/core` package, I am now getting
[code]

[2021-07-20 16:24] ghost opened #6162 "datagrid with pagination disappears within tab-content"
## Describe the bug

I'm using clr-tabs, clr-tab, clr-datagrid, clr-dg-pagination to create a datagird inside a clr-tab. When the clr-datagrid is not the active tab on load, on activation doesn't not render.

However if it's on first tab it works fine

## How to reproduce

Not working Tab2 datagrid [Not working datagrid](https://stackblitz.com/edit/clarity-light-theme-v5-prnzbk?file=src/app/app.co

[2021-07-20 17:36] hippee-lee commented on #6162
This can be accomplished by using the de-sugared syntax of the `*clrIfActive` structural directive.

[code]

[Here](https://stackblitz.com/edit/clrifactive-datagrid-tab2?file=src/app/app.component.ts) is an example.

I am going to convert this into a discussion, it isn't an issue with Clarity and it may be helpful to others with the same question.

[2021-07-20 17:36] #6162 closed, assigned to nobody

[2021-07-21 10:18] Blackleones opened #6165 "Button group does not render well when it contains at least two btn-group-overflow"
## Describe the bug

The button group does not render well when it contains at least two `btn-group-overflow`.

![img_from_demo](https://user-images.githubusercontent.com/10961232/126472438-c8302853-79b1-4289-a0d8-1ff12b6bd896.png)

## How to reproduce

This code comes from your [demo](https://clarity.design/angular-components/button-group/). I have just duplicated the `<div class="btn-group-overf

[2021-07-21 10:26] Blackleones opened #6166 "Button group does not render well when it contains <clr-dropdown>"
## Describe the bug

The button group does not render well when it contains `<clr-dropdown>...</clr-dropdown>`

![img-from-angular](https://user-images.githubusercontent.com/10961232/126473806-dfaeb6b7-9473-4e41-9506-be2af364684b.png)

## How to reproduce

[code]

## Expected behavior

The button group renders all its items as expected: only the first and last items should have rounded borders at

[2021-07-21 18:13] eclipse-jorgelmo opened #6167 "Size of icons in combobox component are wrongly defined"
https://github.com/vmware/clarity/blob/3281f777e84b7efce3e7697e82f6c85df802b3b5/packages/angular/projects/clr-angular/src/forms/combobox/combobox.html#L45

![image](https://user-images.githubusercontent.com/647982/126538769-46a35643-f80f-40b1-8455-1e299aec1784.png)

[2021-07-22 03:14] lbpeter commented on #6060
Thanks,it is works for me.

[2021-07-22 15:02] duzenko opened #6171 "Clarity template limited functionality"
Clarity seems to have moved its stackblitz templates to beta webcontainers
I don't see any way there to manage dependency versions
Can we have the regular templates as well please?
Regular UI
![image](https://user-images.githubusercontent.com/1481807/126661637-48cc66a6-4c17-4557-8965-1a480a19f52d.png)
Webcontainer beta
![image](https://user-images.githubusercontent.com/1481807/126661704-f522a310-2

[2021-07-22 17:56] duzenko opened #6172 "Tooltips and scrolling"
## Describe the bug

Tooltips get clipped by scroll
The repro case below starts working if `overflow-y: auto` is removed, but obviously we can't just drop scrollers in the business app.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-w2fgt2?file=src%2Fapp%2Fapp.component.html

Steps to reproduce the behavior:

1.  Hover cursor over one of the tooltip icons on the left
2.

[2021-07-22 21:51] rbirkgit commented on #6072
Do you think we can get the css update above into the clarity angular css? That would help a lot with our users of our libraries.

[2021-07-22 22:25] #6171 closed, assigned to nobody

[2021-07-22 22:29] coryrylan commented on #6167
Can you clarify what you mean by wrongly defined or provide a stackblitz demo replicating the issue? https://stackblitz.com/@clr-team The icon does support px sizing like the size="12" option in the source but it looks like the API docs don't show that option.

[2021-07-26 07:49] bbogdanov commented on #6110
Brave browser
![image](https://user-images.githubusercontent.com/15037947/126951936-f0454b3f-9db8-4bbc-b819-7c64a307dcc9.png)

Safari browser
![image](https://user-images.githubusercontent.com/15037947/126952222-298f5a0f-ae1d-437a-8c1a-0aaaa41a2433.png)

Firefox browser
![image](https://user-images.githubusercontent.com/15037947/126952302-2d3dfa7c-f8fc-4c24-b6af-7f6dbce12586.png)

Chrome browser
!

[2021-07-26 12:45] grahamford opened #6177 "Datagrid width calculations are broken by detail rows"
## Describe the bug

Including detail rows in a datagrid messes up the calculations for the column widths.

## How to reproduce

https://stackblitz.com/edit/clarit-angular-node-disabled-buttons-zh1vma?file=src%2Fapp%2Fapp.component.html

(Sorry, I couldn't get StackBlitz to give me a more meaningful url)

The first datagrid shows one row per record. The second datagrid uses the same data but has a

[2021-07-26 14:12] coryrylan commented on #6165
I think the overflow group was only built for being the last element in the group. If you want a second dropdown/group I think its possible to omit the group and have the inner buttons refer to a dropdown. https://stackblitz.com/edit/clarity-light-theme-v5-mdghgm?file=src%2Fapp%2Fapp.component.html

[2021-07-26 14:18] coryrylan commented on #6166
Reproducible demo https://stackblitz.com/edit/clarity-light-theme-v5-mdghgm?file=src%2Fapp%2Fapp.component.html

[2021-07-26 14:30] boeckMt opened #6179 "Combobox multi - Label not adapting to the width of wrapper"
## Describe the bug

If a Combobox with the option `clrMulti` is used and text of the labels (`clr-combobox-pill-content`) is longer than the width for the container (`clr-combobox-wrapper`), the Label overflows the container.

## How to reproduce

https://stackblitz.com/edit/clarity-dark-theme-v5-v2vpwk?file=src%2Fstyles.css

Steps to reproduce the behavior:

1.  Open the combobox and select one

[2021-07-26 16:42] eduardoroliveira opened #6181 "Why doesn't cds-theme="dark" affect @clr/angular or @/clr/ui components?"
## Describe the bug

The theme dark has no effect in Angular project.

## How to reproduce

1. Create a standard Angular with Clarity as per documentation: `{ ng new my-awesome-app; cd my-awesome-app; ng add @clr/angular; }`
2. Import the theme to styles.scss file: `@import '~@cds/core/styles/theme.dark.min.css';`
3. Add the theme to the body in index.html file:

[code]

## Expected behavior

The

[2021-07-26 16:58] hippee-lee commented on #6181
Hi @eduardoroliveira.

`@cds/core` is a distinct package from `@clr/ui` and `@clr/angular`. They do not share any custom properties. We are investigating how we can align the CSS custom properties for colors across all of the packages: `@clr/angular, @clr/ui @cds/core`. There are two considerations that need to be taken into account:

1. timing - this will be a visually breaking change for all `@c

[2021-07-26 16:58] #6181 closed, assigned to nobody

[2021-07-26 17:20] hippee-lee commented on #6177
Thanks for reporting this. This does seem to be an issue with the datagrid rendering lifecycle and the `*clrIfExpanded structural directive. It will need more investigation.

In the mean time, is using [detail pane](https://v4.clarity.design/documentation/datagrid/detail-pane) an option for you? That is the recommended solution for this pattern.

One thing about the expandable row is that it is no

[2021-07-26 18:40] hippee-lee commented on #6172
Hi @duzenko - unfortunately, this isn't a Clarity issue. But it is a common css issue with popups inside container elements that have overflow applied to them. [Here](https://css-tricks.com/popping-hidden-overflow/) is one approach to addressing the issue.

It handles the overflow content with a combination of css positioning to make the hidden overflow content visible and positions it with a bit

[2021-07-26 18:40] #6172 closed, assigned to nobody

[2021-07-27 07:46] grahamford commented on #6177
Thanks for the feedback @hippee-lee. I've considered using the detail pane but it can only show info about a single row at a time and it partially obscures the data grid. I'll have to see what other options I can use to display extended data.

[2021-07-27 10:39] vinayvivekananda opened #6188 "If Accordion is nested, nested accordion doesn't have proper colors"
## Describe the bug

If Accordion is nested, nested accordion doesn't have proper colors for accordion-header and wrong caret icon shows which indicates whether the panel is open or not.

To summarise, nested accordion's header always appears as if it is open.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to 'https://stackblitz.com/edit/clarity-v4-light-theme-tqby8n'
2.  Click on

[2021-07-27 14:03] grahamford commented on #6080
I've been holding off moving from 5.3.0 to avoid adding `CUSTOM_ELEMENTS_SCHEMA` to the various modules in our application. Are you able to give us an idea when a fix might get merged in for the missing `default` property on `cds-button`?

[2021-07-27 15:20] coryrylan opened #6190 "Core: inline validation control wrapping issue"
## Describe the bug

Inline controls have a breaking layout issue with validation control messages.

## How to reproduce

https://clarity.design/storybook/core/?path=/story/forms-toggle--page
https://clarity.design/storybook/core/?path=/story/forms-radio--page
https://clarity.design/storybook/core/?path=/story/forms-checkbox--page
https://clarity.design/storybook/core/?path=/story/stories-input-gr

[2021-07-28 00:51] hippee-lee commented on #6188
Thank you for reporting this. I know this issue has come up before and I thought it was fixed.
It needs investigation to determine the fix.

[2021-07-28 10:08] murray-stephen opened #6194 "Combobox options not displaying when dot used in search input"
### Describe the bug

In v5, when using the  Combobox with a list containing users, searching using the users name works as expected. When attempting to search with an email address, the dot character does not seem to be accepted by the Combobox showing no results.

### How to reproduce
Create a list with a property that contains a dot. Set the Combobox field to that property. Search for the value

[2021-07-28 10:19] Jinnie commented on #6179
As the pills templates are fully customizable in multi-select mode, it's in your power to create a container which will size itself as you expect.
Something in this line limits the pill size in my tests:
CSS:
[code]
HTML:
[code]
I agree it would be more convenient to have it pre-baked, but not imposing any restriction on projectable content is common for many places in Clarity Angular, as these re

[2021-07-28 10:19] #6179 closed, assigned to nobody

[2021-07-28 13:34] Jinnie commented on #6194
I don't see a reproduction and I'm unable to reproduce it locally.
Though, I can make some assumptions:
You probably have different data and display value. The filter works on the data, not the display value.
You probably also have `field` specifier on the `*clrOptionItems` iterator. If you have this specifier (which is optional), it will only be searching in the specified field. If you skip it, t

[2021-07-29 05:16] ietabhi opened #6197 "how to implement Table colspan for datagrid"
Hi Team,
I am using library from last 4-5 year.
I have one new use case in current application, need to add column grouping.

Need column with child column grouping in display.

Please let me know how this is possible with filter and sorting.

Angular >=9x
Clarity >= 3x

If this is not possible in current application, any plan to implement in future releases?

![image](https://user-images.githubus

[2021-07-29 07:03] boeckMt commented on #6179
I understand your concerns regarding styling and projectable content.
Thanks for the Information about the status of the Core Component.

[2021-07-29 08:22] murray-stephen commented on #6194
HI Jinnie, thanks for the response, I've tried removing the field specifier as you've said but still get the same issue, am I missing something? It looks good to me. I've checked the Clarity source code and don't think I'm missing anything.

[code]

SearchedUser:

[code]

[2021-07-29 10:23] Jinnie commented on #6194
I created a stackblitz, based on your code and it seems to work ok.
https://stackblitz.com/edit/clarity-light-theme-v5-uhzzjs?file=src%2Fapp%2Fapp.component.ts
Please try to reproduce the problem using the above link.

[2021-07-29 11:27] murray-stephen commented on #6194
Thanks, issue is resolved now. The Stackblitz is much appreciated.

[2021-07-29 13:26] Jinnie commented on #6194
Great to hear that, thanks for the quick feedback

[2021-07-29 13:26] #6194 closed, assigned to nobody

[2021-07-29 14:00] Jinnie commented on #6197
No, it's something that we don't support in the datagrid. There has been some discussion around it (https://github.com/vmware/clarity/issues/2463), but it brings some design and accessibility challenges, as the datagrid is a complex and interactive component and this would interfere with data filtering/sorting and disabled users navigation.
For a simpler case you can try using tables instead:
http

[2021-07-29 14:00] #6197 closed, assigned to nobody

[2021-07-29 14:43] coryrylan opened #6198 "clr-ui/core CSS var missing"
## Describe the bug
Clarity Core uses a global CSS var token `--cds-global-base` to set the default base font for all core web components on the page. Now that clr-angular is using more of core under the hood we should add this value to clr-ui CSS for the apps that may not be using the Core global CSS.

## How to reproduce

See issue https://github.com/vmware/clarity/issues/6072

## Expected behav

[2021-07-29 14:58] coryrylan opened #6199 "clr-ui/core integration bug with cds-textarea"
## Describe the bug

When the cds-textarea is used with clr-ui the outdated version of normalize.css included sets an invalid line height causing the textarea to be unusable.

## How to reproduce

_Please provide a link to a reproduction scenario using one of the [Clarity Stackblitz templates](https://stackblitz.com/@clr-team). Reports without a clear reproduction may not be prioritized until one

[2021-08-02 14:32] coryrylan commented on #6129
closed by fix https://github.com/vmware/clarity/pull/6183

[2021-08-02 14:32] #6129 closed, assigned to coryrylan

[2021-08-02 16:21] mathisscott opened #6204 "(clr/angular) Multiple datagrids throwing error when opening hide/show column panels"
## Describe the bug

When you have two datagrids with hide/show columns on the same page, trying to open the hide/show panel for both of them results in an error. (`Error: Cannot read property 'nativeElement' of undefined`)

I believe this is related to [the following line inside the datagrid hide/show component](https://github.com/vmware/clarity/blob/5ddf78d6819bac9154df1d254da626bfb4499c09/proje

[2021-08-04 17:14] astorije opened #6212 "@cds/core: `cds-control` with a "label" `cds-control-action` should not apply styling to the custom control"
## Describe the bug

When using a `cds-control-action` with `action="label"` (such as the following), the custom control is given custom styling, specifically left/right paddings.

Consider the following code:

[code]

The `input` element will be automatically given a `style` attribute with:

[code]

This causes issues, particularly when the custom control takes care of its own styling. The issue

[2021-08-04 18:21] ashleyryan opened #6213 "@cds/core: CdsControl should support `aria-disabled` in addition to `disabled`"
## Describe the bug

A CdsControl displays as disabled when the `disabled` property is set on the element with the `cds-control` attribute on it. This attribute is invalid on anything that's not an input element, but `aria-disabled` is allowed.

## How to reproduce

This is a contrived example, but our real use case involves non-clarity dropdown/combobox components that we're trying to wrap in `Cd

[2021-08-04 18:21] astorije opened #6214 "@cds/core: Incorrect status colors when a control is disabled"
## Describe the bug

When a control is disabled and has a `status` of either `success` or `error`, some colors seem a little off:

- The input border goes from red/green back to default disabled gray
- The control message goes from red/green back to default disabled gray
- The status icon retains a non-disabled color

This can be seen below, where a regular input is given as reference:

<img width

[2021-08-04 19:37] mathisscott commented on #6204
I have verified that this issue is fixed in the latest version of Clarity v3 (3.1.15).

https://stackblitz.com/edit/clarity-light-theme-v2-z4huxo?file=package.json

Since v2 is no longer a supported version, I recommend migrating to at least version 3 to get the fix for this issue.

[2021-08-04 19:37] #6204 closed, assigned to nobody

[2021-08-04 20:41] mathisscott commented on #6214
Thanks for creating this issue, @astorije

I think we need @colinreedmiller 's input on this. Also, I'm not sure if the correct path is to make these inputs and messages light green/red or to make the success/error icons gray. That would be in @colinreedmiller 's wheelhouse. The light red/green text does have some impact on accessibility so that's a consideration as well.

[2021-08-04 20:51] mathisscott commented on #6213
Thanks for submitting this issue, @ashleyryan . I think I see a way where we can make this work. I'll dig around some more to see how complex the solution would be.

[2021-08-04 20:54] mathisscott commented on #6212
Thanks for submitting this, @astorije

I will look into why these inline styles are being applied only in the one case to see if I can prevent that from happening.

Question though... would it be a problem if they were to both look like the bottom one?

[2021-08-04 21:17] astorije commented on #6212
It would be a problem because this is just a contrived, minimalist example.
When using real-world components that are more complex than a simple input, you're taking a chance by styling the top-level element that might not be the actual control (in our case it's a container, the control is below in the tree).
So if it looked like the bottom one, we'd have to remove the styling on our end, which we

[2021-08-04 22:06] colinreedmiller commented on #6214
I am not reading this as a bug per se. I see a preference for making a visual change, but not support for it improving usability while not confounding a11y or something else. Can we examine a use case where the component is in an error or success state then becomes disabled, or where it is surfaced to the user in a success/error + disabled state already? The color is largely decorative / an additi

[2021-08-05 13:17] dilipshelake03 opened #6217 "UI getting crash in <clr-datagrid> component having <clr-dg-placeholder> with custom icons"
## Describe the bug

When user tries to filter data from **clr-datagrid** component, having **clr-dg-placeholder** with **custom icon** then,  while filtering somehow UI is getting crash with  below error.

Uncaught TypeError: Cannot read property 'indexOf' of undefined at HTMLElement._shapeTemplateSubscription (scripts.ed758b85cef043972290.js:65) at HTMLElement.s.attributeChangedCallback (scripts

[2021-08-05 13:28] mathisscott commented on #6212
Fair enough, @astorije . Thanks for the extra details there.

[2021-08-05 15:18] uganjha opened #6219 "icons inside label in button group not changing color on selection"
## Describe the bug

While using the icon inside a button group label on selection color of icon should change so that it will be visible but it is not happening.

## How to reproduce

[https://stackblitz.com/edit/clarity-light-theme-v5-cvvtt6?file=src/app/app.component.html](Stackblitz)

Steps to reproduce the behavior:

1.  Go to https://stackblitz.com/edit/clarity-light-theme-v5-cvvtt6?file=src

[2021-08-05 16:44] astorije opened #6220 "@cds/core: `cds-control` can cause overlay elements to appear underneath it"
## Describe the bug

TL;DR: This is the exact same issue as https://github.com/vmware/clarity/issues/5710 / https://github.com/vmware/clarity/pull/5852

When a custom control contains an overlay element directly located in its DOM, the overlay always appears underneath other `cds-control`s on the page below it.

## How to reproduce

https://codesandbox.io/s/cds-control-contain-bug-hi4fp

Open the

[2021-08-05 16:48] astorije commented on #6214
Fair enough. Let me know if there is any change to the component styling you would like me to open a PR for, otherwise feel free to close this PR!

[2021-08-05 16:49] hhamedvmw opened #6221 "cds-icon-button emits click when disabled"
## Describe the bug

I am using the cds-icon-button in an angular project and I'm binding a click handler and the disabled property. Clicking on the button does not propagate click but if you click on the icon the click event is being fired.
e.g.:

`<cds-icon-button
                                [disabled]="isDisabled
                                (click)="onClick()"

[2021-08-05 20:49] astorije opened #6223 "@cds/core (or @cds/react): `autoFocus` on inputs has no effect"
## Describe the bug

When using a native `input` element, the `autoFocus` prop (in React, `autofocus` attribute in plain HTML) auto-focuses the element on render. When wrapped inside a `CdsInput` (or `CdsSearch`), this attribute has no effect.

## How to reproduce

https://codesandbox.io/s/cds-autofocus-bug-qp58i

Simply open and... no focusing happens 😅

## Expected behavior

The expected behavio

[2021-08-05 20:59] theKristi commented on #5105
Anyone have a good work around for this?

[2021-08-06 04:30] wendellestradairely opened #6225 "Incorrect package version"
When you `npm i @clr/<package>@latest`, the version number becomes 12.0
![image](https://user-images.githubusercontent.com/50942719/128456211-9cd64935-4365-4072-96cd-4f959d360f23.png)

[2021-08-06 07:20] bbogdanov commented on #6225
Hi @wendellestradairely,

That's correct! 12.0.1 is the latest version of `@clr/*` packages.

https://www.npmjs.com/package/@clr/angular

[2021-08-06 07:21] #6225 closed, assigned to bbogdanov

[2021-08-06 09:51] neffsvg opened #6230 "Alert Component with custom Icon showing dotted loading animation"
## Describe the bug

Instead of showing the custom Icon shape alert component only shows dotted (loading) icon.

## How to reproduce

See docs: [https://clarity.design/core-components/alert/code/](https://clarity.design/core-components/alert/code/)

## Expected behavior

Show correct shape.

## Versions

**Clarity project:**

- [ 5.5.1] Clarity Core
- [ 12.0.1] Clarity Angular/UI

**Framework:**
I

[2021-08-06 14:05] mathisscott commented on #6230
That is because the site isn't loading the custom icon into the `ClarityIcons` registry. Thanks for pointing that out. It's a pretty easy fix.

[2021-08-06 14:17] mathisscott commented on #6220
The dropdowns we have in progress in Clarity Core don't have this problem. So that's a light at the end of the tunnel, so to speak.

As for adding `contain: inherit`, my only qualm is whether that works in Safari. Might be worth a look before submitting a PR.

Otherwise, I think this is an acceptable solution and thanks in advance.

CCing @coryrylan for his input too.

[2021-08-06 14:49] coryrylan commented on #6220
I think this fix makes sense for the generic control container. Since all controls inherit from this control they will also inherit the `contain: inherit` style. This should be fine for the other controls. We might lose a small performance gain using it for the other controls but we can adjust it per form control use case or once the core dropdown is complete.

[2021-08-06 17:29] dturcotte opened #6233 "CdsButton with `action="outline"` using `@cds/react` and `@cds/core` is sometimes losing one of its borders"
## Describe the bug

Using @cds/react and @cds/core, I'm seeing an issue in Chrome where CdsButton with action="outline" is sometimes losing one of its borders. Most often this is when there are many of them on the screen and there is a layout change. See repro case below.

![image](https://user-images.githubusercontent.com/1950438/128548913-20559acc-625b-482f-8eaf-35a0c92928eb.png)

## How to rep

[2021-08-06 18:32] mathisscott commented on #6213
@ashleyryan
Checking in here. I have a fix that makes this work. But want to run the following by you:

The fix will render the control inert. Meaning that having a `[cds-control]` element with `[aria-disabled]` set to `"true"` will gray out the label and control message, etc.

BUT

I'm not applying any styling to the `[cds-control]` element. The reasoning here being similar to what I just fixed i

[2021-08-06 18:39] ashleyryan commented on #6213
@mathisscott

Yes, that makes sense! I agree that apps should handle the disabled styling of their custom controls themselves - as long as the label is marked as disabled.

Unsurprisingly, my custom component is the same as @astorije's in that example.

[2021-08-06 18:45] astorije commented on #6213
This is great, and I totally agree! And yep that component already takes care of its own disabled styling :D

[2021-08-06 19:17] #6212 closed, assigned to mathisscott

[2021-08-06 19:17] #6198 closed, assigned to mathisscott

[2021-08-06 19:17] #6230 closed, assigned to mathisscott

[2021-08-06 20:14] astorije opened #6236 "website(core/storybook): Tables are not displayed correctly when wrapping"
## Describe the bug

This is how a table on Storybook renders:

<img width="971" alt="Screen Shot 2021-08-06 at 4 11 04 PM" src="https://user-images.githubusercontent.com/113730/128566266-c80c07e4-b92c-48c8-a439-c924ef00bbd0.png">

This is how it renders on a smaller monitor:

<img width="909" alt="Screen Shot 2021-08-06 at 4 11 46 PM" src="https://user-images.githubusercontent.com/113730/12856634

[2021-08-06 20:18] astorije commented on #6220
Good call re: Safari! Thankfully the bug doesn't appear there, so both with and without the extra CSS declaration, the result is as follows:

<img width="520" alt="Screen Shot 2021-08-06 at 4 17 06 PM" src="https://user-images.githubusercontent.com/113730/128566709-217987db-2c31-49c0-912b-aade8f0c89d2.png">

[2021-08-06 20:28] astorije commented on #6220
Thanks for the feedback, I opened a PR at https://github.com/vmware/clarity/pull/6237

[2021-08-06 22:18] coryrylan commented on #6236
I saw this issue, we need to adjust the breakpoints on the CSS grid that is laying out the table for the tokens https://github.com/vmware/clarity/blob/next/packages/core/src/styles/tokens/tokens.stories.ts#L33

We could probably set the breakpoint to ` cols@sm:4` instead of ` cols@md:4`

[2021-08-06 22:27] coryrylan commented on #6223
This looks to be specific to `@cds/react` non-react versions seem to autofocus https://stackblitz.com/edit/http-server-drap8e?file=src%2Findex.html

[2021-08-07 14:11] #6221 closed, assigned to mathisscott

[2021-08-08 00:52] astorije commented on #6223
Mmmh interesting. Do you happen to know what could cause this and/or where I could start looking for a solution?

[2021-08-09 04:26] muruganG opened #6239 "datagrid column level sorting inconstitent when we have list of same value under the column"
## Describe the bug

When i have cloumn as same value in the datagrid sorting  inconsistent  ,some time sorting happeing  , what is the expected approach for same value on the column sorting .
sharing the snapshot  for the datagrid document datagrid filer with sorting.

Steps to reproduce the behavior:

1.  go to clarity 4 documentation and datagrid
2.  datagrid filer same value and do the sorting

[2021-08-09 13:10] #6190 closed, assigned to coryrylan

[2021-08-09 13:10] #6199 closed, assigned to mathisscott

[2021-08-09 13:11] #6213 closed, assigned to mathisscott

[2021-08-09 13:11] #6220 closed, assigned to nobody

[2021-08-09 21:54] #6236 closed, assigned to mathisscott

[2021-08-09 22:06] #6233 closed, assigned to mathisscott

[2021-08-10 13:01] mathisscott commented on #6223
@astorije
This is a react issue, not a Clarity Core issue. React has written their own `autoFocus` that is different from the native DOM implementation. One reason this was done was to polyfill inconsistent autoFocus behavior across browsers.

[Here are](https://github.com/facebook/react/issues/5534) the [bugs that have](https://github.com/hongymagic/react-number-input/issues/28) been [opened agai

[2021-08-10 13:01] #6223 closed, assigned to nobody

[2021-08-10 20:54] astorije commented on #5907
Hey @mathisscott and @coryrylan!

Do you have any updates on this? We are still blocked to convert our homegrown modals to Clarity. Thanks! 🙏

[2021-08-10 22:13] astorije commented on #6223
We are currently converting our inputs from [Material UI inputs](https://material-ui.com/components/text-fields/) which supports autofocus) to Clarity inputs (with `@cds/react`) which doesn't support it.
From a consumer standpoint, this is a Clarity issue and not a React issue (since other component libraries written for React support it fine).

@mathisscott, any chance you could leave this issue

[2021-08-10 22:15] coryrylan commented on #5907
There was some related work I did that addressed part of this. I need to double check if it had any impact or what is left to do.

[2021-08-10 22:23] astorije commented on #5907
I tried to upgrade Clarity versions at https://stackblitz.com/edit/react-ts-bgirwg but somehow Stackblitz broke and I can't seem to get it back.
I opened a similar sandbox at https://codesandbox.io/s/cds-modal-close-ejy2h with v5.5.1 but unfortunately the existing behavior remains.

[2021-08-10 22:37] mathisscott commented on #6223
The reason it works in the React Material UI is because they are wrapping React JSX inputs. As the Google libraries migrate to MWC, we will see this issue pop up for them even in that library. That said, this is not something that we would prioritize due to the accessibility concerns listed in the links above (namely moving focus and teleporting users without their knowledge).

The most immediate

[2021-08-11 14:37] mathisscott commented on #6217
there's a lot going on in that stackblitz and right now stackblitz is crashing everytime i fork and try to edit.

so[ i rebuilt the app in Angular 11 like you had](https://github.com/mathisscott/6217_poc/tree/main/my-app). I think the biggest difference is [how the custom icons are being loaded in](https://github.com/mathisscott/6217_poc/blob/3a55d060c9e3b9198d8c8f85dedca498d67e3bc8/my-app/src/app

[2021-08-11 14:37] #6217 closed, assigned to mathisscott

[2021-08-11 16:42] ashleyryan opened #6248 "Export CdsInternalVisualCheckbox for @Cds/React"
The VisualCheckbox is accessible from `@cds/core` but not `@cds/react`.

From core you can access it: `import '@cds/core/internal-components/visual-checkbox/register.js';`

@coryrylan's suggestion was to export it like this:

[code]

[2021-08-11 17:05] astorije opened #6249 "core: `cds-control` can expand outside of its container width"
## Describe the bug

When the content of a custom `cds-control` is long, it can force the component to go outside of its container.

<img width="748" alt="Screen Shot 2021-08-11 at 1 02 43 PM" src="https://user-images.githubusercontent.com/113730/129072178-2f1b0d7b-7732-45b0-b065-31aea82be9f9.png">

## How to reproduce

https://codesandbox.io/s/cds-control-overflow-sjdkz

The first block is a regu

[2021-08-11 17:05] coryrylan commented on #5907
### Workaround

The prior PR fixed part of the issue. The last part is related to React not [supporting boolean attrs](https://github.com/facebook/react/issues/9230). False can't be used because react will convert it to a string value leaving `hidden="false"` which is an invalid boolean attr. To get around this you will have to define a ternary expression.

`hidden={open ? undefined : true}`

http

[2021-08-11 22:06] coryrylan commented on #6249
The second option could work as a fix. We can calc off the max width if the status is error or success on the .input-container.

Here is a possible workaround if you are blocked
https://stackblitz.com/edit/http-server-apny3t?file=src%2Findex.ts

[2021-08-11 22:38] mathisscott commented on #6249
I have a fix for this issue in the pipeline. I should have a PR up for it tomorrow. ￼

[2021-08-12 09:29] amoghrane opened #6251 "clrTooltipTrigger directive adds role="button" attribute by default"
## Describe the bug
clrTooltipTrigger directive adds role="button" attribute by default.
Need ability to set the role="text"

## How to reproduce
Markup used:
<clr-tooltip>
    <clr-icon clrTooltipTrigger shape="info-circle" size="24" aria-label="Uniq tooltip 4"></clr-icon>
    <clr-tooltip-content clrPosition="bottom-left" clrSize="lg" *clrIfOpen>
        <span>Lorem ipsum sit</span>
    </clr-to

[2021-08-12 12:51] mathisscott commented on #6251
The `role="button"` is an accessibility requirement. Why would you want it removed versus, say, replacing your icon-as-tooltip-trigger with an icon button?

[2021-08-12 12:51] bbogdanov commented on #6251
Duplicate of #4984

[2021-08-12 13:48] #6219 closed, assigned to Jinnie

[2021-08-12 14:16] #6251 closed, assigned to nobody

[2021-08-12 15:47] astorije opened #6255 "core: month input type"
## Summary

- What is the change?

Add support for  [`<input type="month" />`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/month).

- Why should it go in Clarity?

Clarity Core already has support for [date](https://clarity.design/storybook/core/?path=/story/forms-date--page) and [time](https://clarity.design/storybook/core/?path=/story/forms-date--page), so `month` seems like

[2021-08-12 19:07] #4362 closed

[2021-08-12 22:23] #6214 closed, assigned to nobody

[2021-08-12 22:24] #6166 closed, assigned to nobody

[2021-08-16 03:58] wendellestradairely opened #6262 "cds-icon size property does not work when you add an inline style"
## Describe the bug

I tried to customize the color of the icon but by adding an inline css, but the custom size was lost. It works on angular version with clr-icon though.

```<cds-icon size="128" shape="check-circle" style="color: rgb(194, 117, 117)"></cds-icon>```

With inline css:
![image](https://user-images.githubusercontent.com/50942719/129509530-510e1b2c-83a0-4bad-a359-5a59d011ddbe.png)

W

[2021-08-16 06:47] Shijir commented on #6262
With `cds-icon`, It's not recommended to mix API styling with inline styling. So you should try to control the style through either API or inline style attribute.

If you see the API offered is too limited to cover your use cases and needs, you could try to take over the styling through the inline style attribute and apply your custom styles.

[2021-08-16 06:47] #6262 closed, assigned to nobody

[2021-08-16 11:46] grahamford opened #6263 "cds-button prevents form submission when there is more than one input field"
## Describe the bug

A form that uses `cds-button` and has more than a single field, can't be submitted with the Enter key.

## How to reproduce

https://stackblitz.com/edit/clarity-keyboard-submit-dlrdzm?file=src/app/app.component.html

* The first example with two input fields, can't be submitted with the Enter key.
* The second example with just a single text input field can be submitted ok.
*

[2021-08-16 12:56] mathisscott commented on #6262
@wendellestradairely
Instead of setting the color directly, we recommend using the CSS custom property that we expose to customize the icon.

The reason you can't set the inline style here, however, is because the icon uses the style attribute when it is given a custom numeric size. If you need to combine a custom numeric size with other customizations, consider using a CSS class. That way you can

[2021-08-16 13:02] PriteshGajjar008 opened #6264 "Inactive clr-tab doesn't have sufficient contrast (Accessibility WCAG 2.1)"
As per A11y guideline contrast ratio for inactive clr-tab is less.

For the inactivated tab,foreground color is #8C8C8C, background color is #FFF, color contrast is 3.36:1
Can we change the foreground color of inactive tab to make the contrast ratio at least 4.5:1
![image](https://user-images.githubusercontent.com/20063009/129569761-e583003b-7f7c-42c0-b9f0-805092a0aa09.png)

Clarity version: v4

[2021-08-16 13:03] mathisscott commented on #6255
@astorije
Right now, [the month input lacks browser support](https://caniuse.com/mdn-html_elements_input_input-month). We would need at least safari to adopt it in order to officially support it. That said, you can use any type of HTML input with `@cds/core` forms. So if you don't mind the browser support concerns coming up on the application side, you should be able to use the month input type wi

[2021-08-16 13:03] #6255 closed, assigned to nobody

[2021-08-16 13:18] wendellestradairely commented on #6262
@mathisscott Thanks! That worked.

[2021-08-16 15:55] astorije commented on #6249
Resolved by https://github.com/vmware/clarity/pull/6254, thanks again!

[2021-08-16 16:00] astorije commented on #6255
Oh my bad, I didn't realize support was so low there, that's too bad it would have been perfect. Thanks for pointing that out!
At CloudHealth we decided to adopt the exact same browser support than Clarity did, so it works for us to avoid this component for now and solely relying on yours.

[2021-08-17 11:49] Jinnie commented on #6263
Your reproduction is using CDS button inside Clarity Angular form, which seems a bit confusing at first, but I reproduced it inside CDS form too.
The form with one input gets submitted only because forms with one input get submitted on enter even without a button.
The reason seems to be that our CDS button implementation is not internally based on button or input elements.

As a workaround, an off

[2021-08-17 13:26] gnomeontherun commented on #5366
This should have been addressed by #6139 closing as resolved.

[2021-08-17 13:26] #5366 closed, assigned to nobody

[2021-08-18 08:42] grahamford commented on #6263
Thanks for confirming @Jinnie

We're slowly moving over from @clr components to the @cds ones in our project. It's just that we've run into a number of niggles along the way. This was the reason for the mixture in the demo, it was the scenario we encountered.

The workaround you suggest does seem to work but feels like an awful bit of code to introduce. Do you think it's possible to fix the issue

[2021-08-18 09:57] Jinnie commented on #6263
We're still working on this. It is related to some accessibility requirements that we have, combined with certain Safari browser only limitations. If we find a solution that does not introduce accessibility problems, we'll do this fix.
For now, I can confirm that `<input type="submit" style="display: none"/>` is a viable workaround in different browsers.
We actually add something similar dynamical

[2021-08-18 13:02] #6249 closed, assigned to mathisscott

[2021-08-18 13:50] afulkersonApollo opened #6267 "Dark theme styles exist but not being applied"
EDIT: looks like you have to add "node_modules/@clr/ui/clr-ui-dark.min.css" to the styles section of angular.json to enable dark mode in an Angular app. It would be nice to include this information in the docs.

## Describe the bug

After bootstrapping a new Angular app and installing Angular and web components, dark mode styles are not applied even though they are visible in browser devtools as `

[2021-08-18 14:06] Shijir commented on #6267
Have you installed `theme.dark.min.css` style file?
[code]
[code]

You can learn more here: https://clarity.design/storybook/core/?path=/story/themes-getting-started--page

[2021-08-18 14:08] afulkersonApollo commented on #6267
I did all of that. I fixed it by adding "node_modules/@clr/ui/clr-ui-dark.min.css" to angular.json. Seems like the Angular installation script is missing a step or there should be documentation about it.

[2021-08-18 14:15] Shijir commented on #6267
If you are using components from @clr packages, `clr-ui-dark.min.css` is what you need to apply dark theme. For components from @cds packages, you need `theme.dark.min.css` along with `[cds-theme=dark] { ... }`

[2021-08-18 14:16] afulkersonApollo commented on #6267
Right, that's the proper way to use the dark theme but the documentation lacks that information.

[2021-08-18 14:25] Shijir commented on #6267
Currently, our documentation shows examples for both cds and clr components which leads to confusion. But, we are working on improving our documentation so there will be a clear separation between clr and cds components.

[2021-08-18 14:25] #6267 closed, assigned to nobody

[2021-08-18 14:27] afulkersonApollo commented on #6267
The documentation does show examples for the usage of components but does not contain information pertinent to the usage of the dark theme with CLR components. I'm not confused, the documentation doesn't contain the information required to properly install the dark theme for CLR components.

[2021-08-19 18:44] rbirkgit opened #6276 "Table headers (Angular) don't have a setting in dark mode"
## Describe the bug

The table headers in Angular use a hard coded color #666

![image](https://user-images.githubusercontent.com/6342391/130126191-3a37c714-3f1c-416e-8df3-e13e1bd31445.png)

The file  _theme.dark.clarity.scss doesn't have an override for it and the table headers remain darkish gray on dark mode.

## How to reproduce

Create a table with table header in dark mode. You can see the c

[2021-08-19 18:45] rbirkgit commented on #6276
First step is to find out what the color should be, then it's easy to add.

[2021-08-19 19:06] afulkersonApollo opened #6277 "Dark theme for cds-select does not apply the correct border color"
## Describe the bug

When using `<cds-select>`, `<select multiple>` and `<body cds-theme="dark">`, the border-color of the select is black.

## How to reproduce

Install the dark theme and use the previously mentioned tags/attributes.

Steps to reproduce the behavior:

1. Screenshot attached

## Expected behavior

The multi-select will exhibit the proper border color.

## Versions

**Clarity proje

[2021-08-20 10:03] Shijir commented on #6277
Looks like it's working as expected when I try to reproduce in Stackblitz:
https://stackblitz.com/edit/clarity-light-theme-v5-yval7z?file=src/app/app.component.html

[2021-08-20 10:51] bdryanovski commented on #6080
@grahamford I gonna need to do a little more investigation on the root cause of the issue and are there any other side-effects of it.

When it comes to the use of `[attr.disabled]` to make it work correctly you need to change it like that:

`[attr.disabled]="someVar || null"`  -  the `null` part will remove the attribute `disabled` when needed

Else you are generating `disabled="false"` that is eq

[2021-08-20 15:32] afulkersonApollo commented on #6277
So, I'd try if I could figure out how to get the terminal working (it hangs forever when I try to open a new one) but in my case I'm using both cds and clr for Angular and have included the CSS for those packages. In your example I don't see the clr CSS packages but if I remove them from my project, everything looks awful. The stackblitz is also using old packages.

[2021-08-20 15:44] afulkersonApollo commented on #6277
<img width="371" alt="Screen Shot 2021-08-20 at 9 44 32 AM" src="https://user-images.githubusercontent.com/78375272/130258991-cfc44a17-0fef-4ea2-aa7f-2be9b631c629.png">
<img width="429" alt="Screen Shot 2021-08-20 at 9 44 46 AM" src="https://user-images.githubusercontent.com/78375272/130259031-602fa307-65a9-4c51-a024-b44d0de9208f.png">
<img width="436" alt="Screen Shot 2021-08-20 at 9 45 51 AM" sr

[2021-08-23 21:03] coryrylan opened #6287 "core: storybook demo breadcrumb"
## Describe the bug

This default demo for the breadcrumb component should not use a link as the last item

## How to reproduce

View first default demo here https://clarity.design/storybook/core/?path=/story/components-breadcrumb--page

## Expected behavior
Last breadcrumb item should be a text span like other demos on page.

_A clear and concise description of what you expected to happen._

## V

[2021-08-24 04:43] basalingayyakaramadi opened #6288 "Column resizer is broken in clr-data-grid"
## Describe the bug

Table column header is broken when we do resize of the column.

## How to reproduce

1. Create table using clr-data-grid and add filters to column and have min 5 column
2. Add language translate to column header
3. Change the language from chrome setting for browser and run your application.
4. Try to resize the column and observe the behaviour.

## Expected behavior

Column h

[2021-08-24 06:47] #6248 closed, assigned to bbogdanov

[2021-08-26 12:23] bbogdanov commented on #6288
Hi @basalingayyakaramadi,

Would you please provide us a stackblitz example? Thank you in advance.

https://stackblitz.com/@clr-team

[2021-08-26 14:13] WhiteLord opened #6293 "Datagrid spams TypeErrors in the browser console"
## Describe the bug

When a user clicks on a globally available refresh button, we ought to display the newly fetched information from the server (due to the reason that sometimes it may be stale). The current example does not make use of xhrs, thus the timeout.
Clicking on the refresh button populates the datagrid with new items.
Expanding and/or hiding the pane, produces the following errors in

[2021-08-26 15:31] rbirkgit opened #6295 "Core icons don't support non-square icons"
## Describe the bug

When using rectangular icons e.g. 96x124, clarity core icons are rendered in a 124x124 space (which is correct), but the svg inside is rendered as 124x160. Part of the bottom also gets cut off.

## How to reproduce

Assign a 96x124 icon to cds-icon.

If needed I can probably create a stackblitz example.

## Expected behavior

Icons render like they did with Clarity Angular ico

[2021-08-26 15:52] rbirkgit commented on #6295
Adding one of our icons in case one is needed to test with:
`<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 96 124"><defs><linearGradient id="illus_grad" x1="-1907.36" x2="-1863.1" y1="63.08" y2="112.71" gradientTransform="matrix(-1 0 0 1 -1840.95 0)" gradientUnits="userSpaceOnUse"><stop offset=".15" stop-color="#0091da" stop-opacity=".6"/><stop off

[2021-08-26 17:01] #6287 closed, assigned to nobody

[2021-08-26 17:26] #5882 closed, assigned to bdryanovski, lil-kim

[2021-08-26 17:27] #5883 closed, assigned to nobody

[2021-08-27 05:21] basalingayyakaramadi commented on #6288
@bbogdanov  Please find the stackblitz link. Let me know if you need few more info.
https://stackblitz.com/edit/clarity-light-theme-v5-y1x2cm?file=src%2Fapp%2Fapp.component.html

[2021-08-27 10:56] bbogdanov commented on #6293
Hi @WhiteLord,

I am not able to reproduce the bug on Chrome.

![image](https://user-images.githubusercontent.com/15037947/131116903-3b40e855-650e-491b-848f-81c339191170.png)

[2021-08-27 13:09] WhiteLord commented on #6293
Sorry for being unclear in the description.
In the previous example, once I clicked the refresh button, I started clicking on the datagrid entry arrow that expand/retract the datails pane.
In [this example](https://stackblitz.com/edit/clarity-light-theme-v5-cp4kiw?file=src/app/app.component.ts) once the first element pane is expanded / retracted, we can observe the same error.
Attaching a video.

[2021-08-27 17:31] joeeltgroth opened #6301 "Improve the Demo App README"
## Describe the bug

The README.md for the Clarity Demo Apps doesn't allow starting the React example easily.

## How to reproduce

As per the instructions in the README (https://github.com/vmware/clarity/tree/next/apps) run these commands:
[code]

At this point, one might get an error `/bin/sh: react-scripts: command not found` which can be solved with
[code]

Try `yarn start` again.  This time t

[2021-08-30 11:08] basalingayyakaramadi commented on #6288
@bbogdanov let me know if you need any help.

[2021-08-30 12:07] bbogdanov commented on #6288
Hi @basalingayyakaramadi,

From what I observe this behaviour only appears when the sorting is triggered and the icon of the sorting is shown.

Our resize functionality is not triggered when the sorting is triggered and this leads to overlapping space between neighbour column headers.

Here is a workaround that will help in your scenario:

[code]

Demo: https://stackblitz.com/edit/clarity-light-th

[2021-08-30 12:32] bbogdanov commented on #6293
Hi @WhiteLord,

A PR for the bug is raised. I believe we will be able to release it later this week.

[2021-08-30 12:35] basalingayyakaramadi commented on #6288
Thanks @bbogdanov . I will try workaround.

[2021-08-30 14:40] basalingayyakaramadi commented on #6288
@bbogdanov the problem with width: auto. is, once width is set and then its not able to resize column.

[2021-08-30 16:27] bbogdanov commented on #6288
You are right. I'll take a deeper look to see if the we can do something on our side.

[2021-08-30 17:39] #6080 closed, assigned to nobody

[2021-08-31 05:19] AnjulP21 opened #6305 "Focus gets reset to start of page after tab on Single row action ( clr-dg-action-overflow ) in data grid"
## Describe the bug

When using tab on clr-dg-action-overflow in Claritygrid, the focus gets reset to main page once we select any action on the list.

## How to reproduce

It is esily reproducible on ghe clarity page. [https://v4.clarity.design/documentation/datagrid/single-action]

Steps to reproduce the behavior:

1.  Go to https://v4.clarity.design/documentation/datagrid/single-action
2.  Go t

[2021-08-31 17:51] glivolsi opened #6306 "Index html generation failed. undefined:9:283862: property missing ':'"
The issue is in the the class
.clr-icon.clr-vmw-logo{
   background-image: url(.....)
}

PLEASE FIX

Just follow the release documentation for the moment we release Clarity version that will work with Angular 12.

_Originally posted by @Jinnie in https://github.com/vmware/clarity/issues/5947#issuecomment-851399532_

[2021-08-31 19:30] coryrylan commented on #6306
This is an upstream dependency issue in the Angular CLI. You can follow this issue for a workaround
https://github.com/angular/angular-cli/issues/20760

The typical workaround is adding `"inlineCritical": false` to the `angular.json` file
https://github.com/vmware/clarity/blob/next/apps/core-angular-cli/angular.json#L64

[2021-08-31 19:30] #6306 closed, assigned to nobody

[2021-08-31 22:12] rpvmw opened #6308 "Card Width Independent from ColSpan Property"
## Describe the bug

The [grid documentation](https://clarity.design/storybook/core/?path=/docs/layout-grid--page) describes that the colspan of an individual block can be changed by setting the attribute `cds-layout="col:x"` where `x` is the colspan for that item.

However, when a grid block is a Card, the card will not fill up the entire colspan. It allocates space for it, but the card does not

[2021-09-01 11:24] bbogdanov commented on #6308
Hi @rpvmw,

The reason for the behaviour is https://github.com/vmware/clarity/blob/884148ead594ef6a19db0c0fcf3581ab45d9f85d/packages/core/src/card/card.element.scss#L4

We made sure to make the `width` property of the container available for change so you can change it as you see fit.

[Demo](https://stackblitz.com/edit/http-server-ujxmez?file=src%2FApp.tsx)

[2021-09-01 11:25] bbogdanov commented on #6308
https://cds.wtf is a place that you can use to get stackblitz templates for React, Angular, Vue, etc.

[2021-09-01 16:38] #6293 closed, assigned to bbogdanov

[2021-09-01 18:09] dturcotte commented on #5985
I ran into this exact issue recently when trying to use `CdsSelect`, any luck investigating?

[2021-09-01 23:31] #6308 closed, assigned to bbogdanov

[2021-09-02 08:56] MalteJoe opened #6310 "Clarity v5 fails to run Jest tests in ESM"
## Describe the bug

We are in the progress of upgrading from the apparently not supported but supported Clarity v4 (according to https://clarity.design/get-started/support/) to v5. We are using Jest with [`jest-preset-angular`](https://github.com/thymikee/jest-preset-angular)
I stumbled upon issue https://github.com/vmware/clarity/issues/5672 and have the same problem. I tried both of the suggest

[2021-09-02 09:41] #5959 closed, assigned to nobody

[2021-09-02 15:11] coryrylan commented on #5985
I dug into this a bit more this morning but no luck yet. [This line](https://github.com/vmware/clarity/blob/a222f9972d5e0e384c4270ee036a3192236711f4/packages/core/src/forms/control/control.element.ts#L298) is setting the html input `disabled` property anytime the `disabled` property on `cds-select` or any `cds-control` type is set.

A guess, but I'm not sure is React is setting a Proxy on the nati

[2021-09-02 15:42] Kangcor commented on #4827
There is some known workaround for this?

[2021-09-02 18:35] BoykoAlex opened #6312 "cds-search styling busted"
## Describe the bug

**cds-search** input element has wrong styling.
It has:
[code]
rather than:
[code]

Therefore **30** vs **6**
Results in the following:
![Screen Shot 2021-09-02 at 13 39 43](https://user-images.githubusercontent.com/6433390/131897719-104e5d58-eba3-47fc-9169-62d3df46859c.png)

## How to reproduce

Steps to reproduce the behavior:

- Use sample project here: https://github.com/v

[2021-09-02 23:54] gssjr commented on #5231
The latest template never loads and gets errors in the console

[2021-09-03 03:51] rpvmw opened #6313 "Unpredictable Display Behavior for `CdsControlMessage`"
## Describe the bug

`CdsControlMessage` is not showing sometimes in a `CdsInputGroup` when controlled by a state hook.

The same JSX is used for the control message in both inputs below. Before the button is clicked, the message JSX is `null` so there is no displayed message on both inputs.
![image](https://user-images.githubusercontent.com/89876212/131947926-3a4c6aa9-9b94-4d59-9cf2-3478037c8e00.

[2021-09-03 16:15] rbirkgit opened #6316 "Alerts in the modal header are no longer taking the available space"
## Describe the bug

Our alerts in the modal header are no longer taking the available space. They now only take the width of the title, where before a certain version of Clarity they did take available space.

## How to reproduce

[code]
tng-alert is our wrapper of the clarity alert component.

This seems to be because of a recent change (cannot see history as it's no longer available in the git

[2021-09-03 21:33] kitodev opened #6318 "Multiple row select with checkbox and delete selected row"
First of all, I'm tried to made multiple select row with checkbox like this and some buttons, delete checked row:
![64577932-76a8f580-d3b0-11e9-8bef-3744b0f654d1](https://user-images.githubusercontent.com/13621062/132066914-9a5747be-1b71-4710-89bb-e12249148033.png)
I dont know it is possible to do, or no? I didnt find any solution in clarity documentation, for do this like in picture. I use  clari

[2021-09-03 22:52] rpvmw opened #6319 "Mixed User Feedback Display for `CdsControlMessage`"
## Describe the bug

`CdsControlMessage` is showing a mix of success/error user feedback when controlled by a state hook.

When a valid month is selected, the success message shows as expected.
![image](https://user-images.githubusercontent.com/89876212/132071896-2e051d82-1e3c-4004-aabb-f6c6ef8e4cd1.png)

But when an invalid month is selected, there is a combination of success/error feedback.
![im

[2021-09-03 22:53] rpvmw commented on #6319
Possibly related to bug #6313? If so, maybe PR #6317 will fix?

[2021-09-04 13:51] wendellestradairely opened #6321 "cds-control does not display the custom component"
I'm trying to use ng-select to a cds-control for custom components but it doesn't display the component:
[code]
![image](https://user-images.githubusercontent.com/50942719/132096721-9b44000e-0a2a-43a7-8d8b-7bb58711f42a.png)

[2021-09-04 16:02] nabilbejar opened #6322 "Icons & Dropdown seems broken to me - Angular 12"
## Describe the bug

I'm new to development with angular but also this is my first time using clarity, I created a new Angular project version 12.2.4, then I installed clarity with the command ng add @ clr / angular , then I added in my component app.component.html file a simple header and sidebar and this is what I got.

![image](https://user-images.githubusercontent.com/41856698/132100506-e69966

[2021-09-07 10:19] #6318 closed, assigned to nobody

[2021-09-07 11:14] bbogdanov commented on #6321
Hi @wendellestradairely,

Could you please provide a [Stackblitz](https://stackblitz.com/edit/node-who5wc) example?

[2021-09-07 11:20] bbogdanov commented on #6322
Hi @nabilbejar,

What you are missing is adding the icons you would like to use in the registry.

[Here](https://clarity.design/foundation/icons/#import) you can see more information how to do that.

[2021-09-07 13:15] Mackemania opened #6325 "Button in line with ButtonGroup slightly offset in Firefox"
## Describe the bug

When viewing a web-page the button after a button group is displayed differently in Google Chrome and Mozilla Firefox. The top borders of the button is aligned with the buttons in the button group in Chrome. In Firefox it is slightly offset downwards. Please note the "Print users"-button in the Firefox screenshot below. Zooming might be necessary.

Chrome Screenshot:

![chrome

[2021-09-07 13:44] coryrylan commented on #6319
@rpvmw yes pr #6317 will fix this issue

[2021-09-07 18:31] #6316 closed, assigned to mathisscott

[2021-09-07 21:01] lil-kim opened #6327 "Icon: "Pin" icon needs its counterpart icon: "unpin""
The Clarity library currently has a "pin" (thumbtack) icon, but there is no icon denoting "unpin".
![image.png](https://images.zenhubusercontent.com/5840974cb9dc3c622022d1df/075dce44-2580-4829-9223-078c9699b406)

[2021-09-07 21:04] lil-kim commented on #6327
Please add this "unpin" icon to the Clarity icon library:
[unpin icon.zip](https://github.com/vmware/clarity/files/7124322/unpin.icon.zip)
cc: skalarikkal@vmware.com

[2021-09-07 21:22] nabilbejar commented on #6322
Hi @bbogdanov,

Thanks for the link that you gave me, I used these two lines in the file app.module.ts to import some icons and it works fine in my HTML template

[code]

Can you  please or someone else tell me why the dropdown is not functional ? Is something still missing ?

[2021-09-07 21:26] mathisscott commented on #6322
The code you are using is for the HTML/CSS only. It's just styling.

If you want an interactive dropdown in `@clr/angular`, you have to use the `clr-dropdown` component.

[Docs/examples can be found on the website](https://v5.clarity.design/documentation/dropdowns#example)

[2021-09-07 21:26] #6322 closed, assigned to bbogdanov

[2021-09-08 06:44] TechScar opened #6330 "Clarity Vertical Nav documentation lacks code example for nav-header"
## Describe the bug

The Clarity Vertical Nav documentation features an image example for a vertical nav including dividers and headers, however neither in the Overview (pre-v5 called "Design Guidelines") nor the API (pre-v5 called "Code & Examples") tab you can find any code example or further elaboration on the header feature.

I was only able to find the _.nav-header_ class by sheer coincidence

[2021-09-08 13:14] #6312 closed, assigned to coryrylan

[2021-09-08 13:14] #6313 closed, assigned to coryrylan

[2021-09-08 13:14] #6319 closed, assigned to nobody

[2021-09-08 21:13] rbirkgit opened #6331 "Using sass 1.33+ gives pages of deprecated warnings"
## Describe the bug

sass 1.33.0 changed their syntax with regards to divisions. With this you get pages of deprecated warnings when building Clarity Angular projects. With Angular 12 @angular-devkit/build-angular is now hard coded to use 1.36.0 and ng-packagr is using ^1.32.8 which result that our projects will be using 1.33+

## How to reproduce

Create an Ang12 project and build a Clarity proje

[2021-09-09 08:21] Tushar2098 opened #6332 "A11y: TreeView expand/collapse is not accessible for keyboard user"
## Describe the bug

TreeView expand/collapse is not accessible for keyboard user

## How to reproduce

Steps to reproduce the behavior:

1.  Go to [Stackblitz](https://stackblitz.com/edit/clarity-v4-dark-theme-qyszmu)
2.  Turn on the VoiceOver (CMD+F5)
3.  Navigate to root node by pressing TAB
4.  Press ENTER to expand the TreeView
5.  Observe TreeView is not expanding and same goes for collapse

[2021-09-09 16:10] rbirkgit commented on #6331
Looks like if you are using Angular 12.0 you may still have sass 1.32. With Angular 12.2 you will have 1.33+. I think it should be fine to require users to update to 1.33+ in their projects for those few remaining on 12.0.

[2021-09-10 20:49] astorije opened #6334 "core(progress-circle): default aria-label value"
## Summary

- What is the change?

Add a default `aria-label="Loading…"` on the `cds-progress-circle` component. When `value` is used, this could instead be `Loading: ${value}%…`.

- Why should it go in Clarity?

Some Core components currently contain a default `aria-label`, such as the modal close button. This would be in line to provide a similar experience.

- Does this change impact existing b

[2021-09-10 20:53] mathisscott commented on #6334
this sounds reasonable to me. it may take us a few weeks to get to it though...

[2021-09-10 21:09] astorije opened #6335 "core(progress-circle): support an explicit label next to the circular icon"
_This is not a duplicate or an alternative proposal to https://github.com/vmware/clarity/issues/6334, both those things would be independently valuable. There is however some overlap, which I'll describe below._

## Summary

- What is the change?

Having the ability to include a text label on the right side (in LTR languages) of the circular icon.

- Why should it go in Clarity?

While this can to

[2021-09-10 21:09] astorije commented on #6334
Thanks @mathisscott! Let me know if I can help, I'd be happy to :)

[2021-09-13 09:41] bdryanovski commented on #6335
@astorije - I think that this could be just a pattern on how to structure the progress circle component and adding additional content to it. Our goal is to have small and atomic components that could be used to create bigger complex components that could serve whatever is required.

We had some internal discussions on starting to provide design patterns on few common components without adding addi

[2021-09-13 09:42] bdryanovski commented on #6332
@Tushar2098 - thanks for reporting this we gonna investigate it a little bit more.

[2021-09-13 11:59] mathisscott commented on #6335
Hi @astorije

I think this is something that is best accomplished using the layouts and typography provided with Core already.

[2021-09-13 11:59] #6335 closed, assigned to nobody

[2021-09-13 12:00] bdryanovski commented on #6331
@rbirkgit thanks for reporting it. We gonna need to make some checks before updating it

[2021-09-13 12:03] bdryanovski commented on #6330
@TechScar - thanks for noticing it, we need to update the documentation and provide an example of how to use the divider. We gonna try to add it into the upcoming releases of the documentation.

[2021-09-13 12:05] bdryanovski commented on #6327
This must be added into Icon vol 21

[2021-09-13 12:06] bdryanovski opened #6336 "Icon Vol 21"
#6327 - unpin icon

[2021-09-13 13:35] Jinnie commented on #6332
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-09-13 13:35] #6332 closed, assigned to nobody

[2021-09-13 17:00] astorije commented on #6335
Makes sense. @mathisscott, does Core have recommendation on which typography to use for the use cases above? It would be great if there was a way to do this consistently across all VMW projects using Clarity Core. This would definitely be tremendous for us at CloudHealth.

[2021-09-13 21:39] Eve-YeShen commented on #5985
+1
I have the same issue

[2021-09-14 15:34] Shijir commented on #6276
Closed by https://github.com/vmware/clarity/pull/6285

[2021-09-14 15:34] #6276 closed, assigned to nobody

[2021-09-15 13:43] mathisscott commented on #6335
Hi @astorije :

I think it depends on context. If we have a label like this next to a progress circle inside of a form control, I think the font-weight would depend on whether the form control mimicked an input or a radio/checkbox control.

If it's used as a loading notification, it likewise depends on how prominent the loading message needs to be. A heavier font weight adds visual noise so it's p

[2021-09-15 15:24] coryrylan opened #6342 "core: vue 3 custom event support"
## Describe the bug

This is a tracking issue for Vue 3.x support

Vue 2.x supports custom events however Vue 3 does not support standard DOM [Custom Events](https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent). Currently Vue 3 treats events as case insensitive preventing events like `closeChange` from working.

https://github.com/vuejs/vue-next/issues/2460

## How to reproduc

[2021-09-15 15:27] coryrylan commented on #6321
This is because the `cds-control` attribute is needed to identify the custom component replacing the input. Checkout the "Generic content" section [here](https://clarity.design/storybook/core/?path=/story/forms-control--page).

[code]

[2021-09-15 15:28] #6321 closed, assigned to nobody

[2021-09-15 15:53] colinreedmiller commented on #6335
@astorije
Clarity Core takes the approach of limited sizes suggested for specific uses, with weight (and line height) flexible to provide latitude to adjust hierarchy. What this means in this case is that you are free to select the size that is appropriate. This should be straight forward because related components (such as form elements as Scott mentions) will provide the context. This 'consisten

[2021-09-16 02:50] williamfarrell opened #6344 "@clr/angular@12.0.3 getting an error on installation into Angular"
## Describe the bug

i Using package manager: npm
√ Found compatible package version: @clr/angular@12.0.3.
√ Package information loaded.

The package @clr/angular@12.0.3 will be installed and executed.
Would you like to proceed? Yes
√ Package successfully installed.
"SchematicsClarityAdd" schema is using the keyword "id" which its support is deprecated. Use "$id" for schema ID.
UPDATE package.json

[2021-09-16 10:14] wendellestradairely commented on #6321
@bbogdanov Sorry, I've been busy in the past few days. I could not replicate it in StackBlitz. I'm still using a combination of Core & Angular components.
@coryrylan The `cds-control` directive/attribute worked perfectly.
Thanks guys!

[2021-09-16 17:51] coryrylan commented on #5985
I am unfamiliar with React Testing Library would these issues be related? Possibly the test using select needs to be modified? (edit): seems maybe not? The issue is similar but related to the `multiple` attribute

https://github.com/testing-library/react-testing-library/issues/375
https://github.com/testing-library/user-event/issues/123
https://testing-library.com/docs/ecosystem-user-event/#select

[2021-09-17 15:16] dturcotte commented on #5985
We haven't gotten that far yet - we're not using `multiple` and we're not trying to interact with it yet, simply rendering a minimal `CdsSelect` in an async test is enough to see the error. I made a repro here if you want to see it for yourself: https://github.com/dturcotte/cds-select-test

[2021-09-17 18:41] hippee-lee opened #6347 "Accordion header should allow consumers to use --font-size custom property"
## Describe the bug
cds-accordion-header exposes two custom properties for font: --font-size and --font-weight. IN the component scss these are applied to a non-existent span in the template.

## How to reproduce
https://stackblitz.com/edit/http-server-vwjxto?file=src/index.css

Steps to reproduce the behavior:

1.  review the `.portal-header` header in css and see it applied in the demo html.

##

[2021-09-17 18:46] mcirillo-sw commented on #5123
Hi, are there any news on this issue? I'm still reproducing it with Angular CLI 12.1.0, Clarity 5.4.1 and Node 14.17.3

[2021-09-17 22:16] cesar-moya opened #6348 "DataGrid.dataChanged() doesn't recalculate height"
## Describe the bug
I have a Server-Driven Clarity DataGrid  with items being rendered using *ngFor and paging enabled.
Whenever the items change I would like to manually trigger a grid height resize on certain cases (I like that it doesn't resize when paging within unchanging items, but if the items changed dramatically - say from showing 100 records on pageSize=100 down to showing 4 records, the

[2021-09-19 07:36] guetin commented on #6348
You can put a min-height css in your style.css (or style.scss) to overcome your issue, eg :

_.datagrid {
  min-height: 100px;
}_

[2021-09-20 10:44] bbogdanov commented on #6348
@cesar-moya Could you please provide a stackblitz example? https://stackblitz.com/@clr-team

[2021-09-20 14:43] coryrylan commented on #6347
Similar/related issue https://github.com/vmware/clarity/issues/5915

[2021-09-21 12:30] #6263 closed, assigned to nobody

[2021-09-21 21:18] #5915 closed, assigned to nobody

[2021-09-21 21:18] #6347 closed, assigned to nobody

[2021-09-23 11:30] Jinnie commented on #5123
This has been discussed in the past:
https://github.com/vmware/clarity/issues/2117
You can find several different workarounds in the above issue.
Our final statement has been that we won't be fixing it for Clairty Angular, as there are workarounds and upcoming fix in Clarity Core.
See @gnomeontherun's last comment for more details.

Closing as duplicate of #2117.

[2021-09-23 11:30] #5123 closed

[2021-09-23 12:02] bbogdanov commented on #6344
Hi @williamfarrell,

The steps I did on a Windows 10 computer:

- Install a LTS version of NodeJS
- Install globally `@angular/cli`
- Execute `ng new test`
- `cd test`
- `ng add @clr/angular`
- replacing the `app.component.html` content with

[code]

- `ng serve`

Works as expected.

What I am missing?

[2021-09-23 12:37] Jinnie commented on #6239
The built-in sorting utility depends on the native JS Array.sort() implementation. It does not use secondary parameter for sorting. If you need fully predictable sorting even in this case, you can implement a custom comparator, that takes any additional information needed while sorting.
Please find more information here: https://angular.clarity.design/documentation/datagrid/custom-sorting

[2021-09-23 12:37] #6239 closed, assigned to nobody

[2021-09-24 10:25] exp625 opened #6357 "<cds-file> not working when using lazy loaded modules unless its used inside a <cds-modal>"
## Describe the bug

When using the ``<cds-file>`` file selector in an Angular module that is lazy-loaded, the file selector does not open. However, when the ``<cds-file>`` tag is enclosed in a ``<cds-modal>`` tag, the file selector works.

## How to reproduce
See [Stackblitz example](https://stackblitz.com/edit/clarity-light-theme-v5-eiojkm?file=src/app/main/file/file.component.html)

Steps to re

[2021-09-27 06:01] basalingayyakaramadi commented on #6288
Hi @bbogdanov , Please let me know if there is any update on this.

[2021-09-27 14:31] ConnerEnders opened #6360 "@cds/core Tag with Badge not displaying correctly (Angular)"
## Describe the bug

A Tag component containing a Badge component puts the Tag text off-center. The Badge also appears to be shifted out of place.

Screenshot:

![Screen Shot 2021-09-27 at 10 21 47 AM](https://user-images.githubusercontent.com/35942726/134927383-d5ed2833-14fe-41ad-b1e0-d987e3a00c82.png)

## How to reproduce

1. Made a new Angular project with the CLI
2. Added Clarity Core with `ng

[2021-09-27 16:25] hippee-lee commented on #6360
Hi Connor, sorry about the stackblitz trouble. We are aware of it but don't have a great workaround atm.
FYI - you can also find stackblitz starters specifically for core here: https://cds.wtf

I made a quick example with just the html posted in the issue report but I don't see the same issue. It it possible there is something else affecting the element in the image?

https://stackblitz.com/edit/h

[2021-09-27 16:55] Jinnie commented on #5231
Done.
Also added v12 templates.

[2021-09-27 16:55] #5231 closed, assigned to Jinnie

[2021-09-27 18:33] astorije-vmware commented on #5907
I just updated https://codesandbox.io/s/cds-modal-close-ejy2h?file=/src/App.tsx to v5.5.4 (just in case...) and to include your workaround, @coryrylan.

Is there any chance `@cds/react` could get a special treatment to transform any `hidden={!open}` to `hidden={open ? undefined : true}` before passing it down to the web components?
We will be using the workaround for now, but our main issue here i

[2021-09-28 00:46] astorije commented on #5907
I just updated https://codesandbox.io/s/cds-modal-close-ejy2h?file=/src/App.tsx to v5.5.4 (just in case...) and to include your workaround, @coryrylan.

Is there any chance `@cds/react` could get a special treatment to transform any `hidden={!open}` to `hidden={open ? undefined : true}` before passing it down to the web components?
We will be using the workaround for now, but our main issue here i

[2021-09-28 11:54] ashleyryan opened #6361 "core(radio): Radio Group label is wrapping in vertical layout"
## Describe the bug

In a vertical form group, the label for a radio group is 192px instead of stretching and is causing long label text to wrap.

Also, putting a `vertical-inline` RadioGroup inside of a `vertical` FormGroup seems to be making the radio inputs stack instead of display inline

## How to reproduce

https://codesandbox.io/s/headless-moon-4801o?file=/src/App.tsx

## Expected behavior

[2021-09-28 14:22] coryrylan commented on #5907
We are working on updating `@lit-labs/react` dependency and can check to see if there is any improvement for this. We also are keeping a close eye on https://github.com/facebook/react/pull/22184

[2021-09-28 15:57] astorije commented on #5907
Sounds good, thank you!

[2021-09-29 12:29] ben-str-evoila opened #6363 "Icons are not loading in clr and cds Angular project"
## Describe the bug

If installed the Clarity project works fine. Only the icons do not work.
The issue is that a coworker and I tried including icons, but they always turn into three dots that seem to be loading.
For some reason one or two work, f.e. info-circle.

## How to reproduce

Install clr project:
1. ng new test
2. cd test/
3. ng add @clr/angular

When the project is setup the icons won't

[2021-09-29 12:50] mathisscott commented on #6363
Are you loading the cog icon into the registry [as demonstrated here](https://clarity.design/foundation/icons/#import)?

[2021-09-29 14:20] mathisscott commented on #6361
Thanks for the reproduction, @ashleyryan! It helped me track down the cause of the issue.

That max width [is getting set here](https://github.com/vmware/clarity/blob/0b5b5605e99359a73bc84c3503a7611b235b3764/packages/core/src/forms/control-label/control-label.element.scss#L17).

It doesn't seem like it would be a big change to set it to 100% in vertical layout. But I'm not sure what else that migh

[2021-09-29 21:16] rbirkgit opened #6364 "Datagrid has wrong type for clrDgSelected not supporting undefined"
## Describe the bug

The clrDgSelected property in the datagrid does not support the undefined type, though it supports it (in order to hide the checkboxes).

## How to reproduce

`myDataGrid.selected = undefined
`

Above gives compile error that selected does not support undefined.

See source code. T[] should be changed to T[] | undefined

[code]

## Expected behavior

Should be able to compile

[2021-09-30 14:19] blabbath opened #6370 "Table Component throws error on bundling"
When using the Table Component in a Vue 3 project and running npm run build the following error occurs:

When I delete the styling for the compact table from @cds/core/table/table.css
[code]
and import the table.css the build process runs as expected.

## Versions

**Clarity project:**

- [ x] Clarity Core
- [ ] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [ x] v5.x

**Framewo

[2021-09-30 14:41] mathisscott commented on #6370
@blabbath
We've seen some inquiries along these lines a little while back. It seems like `cssnano` and `postcss-calc` both have issues with `calc()` in CSS...

https://github.com/cssnano/cssnano/issues/988

https://github.com/postcss/postcss-calc/issues/91

The workaround is to configure `cssnano` to ignore `calc()` declarations...

[code]

[2021-09-30 14:43] mathisscott commented on #6370
I'm not sure there's much we can do to fix this on our end... @hippee-lee , what are your thoughts on that?

[2021-09-30 15:01] ben-str-evoila commented on #6363
Do I have to import every icon one by one? Can't I just import them all at once?

[2021-09-30 16:29] mathisscott commented on #6363
We don't recommend importing all the icons. The reason there is that it's likely a product doesn't use all of the icons. So the product's code base will be bloated with icons the product doesn't need.

If you absolutely must load many, many icons at once, [we have icon sets like in the old library](https://github.com/vmware/clarity/tree/next/packages/core/src/icon/collections). But we discourage t

[2021-09-30 16:29] #6363 closed, assigned to nobody

[2021-09-30 17:25] hippee-lee commented on #6370
You are correct. The workaround to disable calc for postcss-calc is the most reliable way to deal with it. I've seen it crop up in multiple frameworks now. There are several issues open on the postcss-calc repo. [Here](https://github.com/postcss/postcss-calc/issues/77) is another from March 2019.

My recommendation, @blabbath is to disable postcss-calc for the build.

@mathisscott, One our end, we

[2021-09-30 18:39] blabbath commented on #6370
Thank you for your fast replies!
Where exactly would I change the cssnano configuration? I am using the vue-cli with a vue.config.js file.

[2021-09-30 21:33] hippee-lee commented on #6370
It's hard to say for sure but we build the website with vuepress. There is a config.js file where we can configure things at build time. If I had this issue that is where I would start by adding:

[code]

In the one of the other issues I linked to, there is a [comment](https://github.com/postcss/postcss-calc/issues/77#issuecomment-491354918) about adding the override to the package.json file, so t

[2021-09-30 21:42] mathisscott commented on #6370
[Here is that config file iirc](https://github.com/vmware/clarity/blob/next/apps/website/.vuepress/config.js)

[2021-10-01 14:45] coryrylan commented on #6361
Looked into this and got a fix. The control groups were missing a similar line that standard controls have when in vertical layouts https://github.com/vmware/clarity/blob/0b5b5605e99359a73bc84c3503a7611b235b3764/packages/core/src/forms/control/control.element.scss#L28-L30

[2021-10-03 14:08] milesich opened #6375 "cds-select with size attribute not rendering correctly"
## Describe the bug

When I try to use `cds-select` element with `size` attribute (e.g. `size=8`) it renders like a single option multiple select with arrow down icon. It can be best seen on this image:

![cds-select](https://user-images.githubusercontent.com/1993963/135756715-97f6c43c-e2a6-487d-9134-d9fbc7466410.png)

## How to reproduce

Simple select with size attribute without multiple attribu

[2021-10-03 14:18] milesich commented on #6348
That would not work since datagrid height is based on the first page. If the first page has 100 rows and second only 10 it would still has the height as on the first page. It is mentioned here https://github.com/vmware/clarity/discussions/6352#discussioncomment-1370764

[2021-10-04 11:14] bbogdanov commented on #6288
After some investigation and discussion with the team.

This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritised.

In an effort to clean up our

[2021-10-04 11:14] #6288 closed, assigned to bbogdanov

[2021-10-04 14:46] bbogdanov commented on #6364
@rbirkgit Curious why would you use `undefined` instead of empty array `[]`?

[2021-10-04 14:51] rbirkgit commented on #6364
This to turn off the checkboxes. The code does check for undefined, but the type does not allow it. So we have to add @tsignore statements in our code.

[2021-10-04 15:15] coryrylan commented on #6357
This looks to be a lifecycle issue on our end. A temporary workaround is to set the `for`property on the label to the id of the input.

### Workaround
https://stackblitz.com/edit/clarity-light-theme-v5-smqzzc?file=src%2Fapp%2Fmain%2Ffile%2Ffile.component.html
[code]

### Potential Fix
The button does not trigger the file since it clicks the label which is not getting the proper id association to t

[2021-10-04 17:27] #6361 closed, assigned to nobody

[2021-10-04 20:25] hippee-lee commented on #6348
I'd like to look into this.  As @bbogdanov mentioned please provide a simple isolated reproduction.

[2021-10-04 21:15] #6357 closed, assigned to coryrylan

[2021-10-05 20:33] #6375 closed, assigned to coryrylan

[2021-10-06 02:55] ayanchakravoty commented on #5985
+1 I’m also facing this same issue. Any updates on this?

[2021-10-06 09:06] vundev opened #6380 "Detail Pane datagrid inside stepper is missing the close button"
Try to put a grid inside stepper. The result is that when you inspect the details for each grid row the close(x) button is not visible, it is there but its dimensions are reported as 0. If you drag the mouse to the top right corner you can see that the area is active and you can still do a close tap if you managed to hit the invisible icon.

The issue is reproducible only on a local angular build.

[2021-10-06 09:09] vundev commented on #6380
![Screenshot 2021-10-06 at 12 07 51](https://user-images.githubusercontent.com/219103/136173953-96957787-27a5-468b-899c-73ed940725a4.png)
Here is a screenshot from the local setup

[2021-10-06 19:49] mathisscott commented on #5907
I've verified that this works in both props-based react as well as react hooks in the latest code in the dropdowns branch.

This should be available and fixed by the new reactive controllers for focus trap and closable features.

Closing in favor of tracking the popup issue. I will ref this issue back to that issue.

[2021-10-06 19:50] #5907 closed, assigned to mathisscott

[2021-10-07 06:44] valkanov opened #6381 "Misaligned bubble labels"
## Describe the bug
Misaligned bubble labels on certain browser zoom.
![image](https://user-images.githubusercontent.com/5782506/136332403-36fd4079-f9ef-4352-9e39-250c9594f88b.png)
![image](https://user-images.githubusercontent.com/5782506/136332446-1431b2e0-fc1e-49d6-bf57-234cd824ce43.png)
Video: [Here](https://onevmw-my.sharepoint.com/:v:/g/personal/dvalkanov_vmware_com/EZ72NEqdSktLkmfe3aDwUvEBc

[2021-10-07 13:43] bbogdanov opened #6383 "Vertical-nav trigger icon visibility in collapsed state"
## Describe the bug

In collapsed state nav-group trigger icon goes out border and looks like its missing.

![image](https://user-images.githubusercontent.com/15037947/136395439-65c8af8e-c160-4735-abdd-9ab379cd7c37.png)

## How to reproduce

- Go to https://angular.clarity.design/documentation/vertical-nav/nav-groups/normal/pidgey#code-examples

- Select `Vertical Nav Groups` option

- Collapse th

[2021-10-07 13:56] Jinnie commented on #6264
Fixed with 12.0.5 and 5.5.1

[2021-10-07 13:56] #6264 closed, assigned to nobody

[2021-10-08 16:14] tenguyen34 opened #6386 "Adding launchpad icon"
_Please review our [Contribution guide](https://github.com/vmware/clarity/blob/master/CONTRIBUTING.md) for more details about how to contribute effectively._

## Summary

Request to add a new icon to Clarity

## Use case

Use for icons on various VMware apps

## Examples

Launchpad icon is currently included in [https://vmc.vmware.com/home](https://vmc.vmware.com/home) but is not included in the C

[2021-10-08 16:49] mathisscott commented on #6386
@lil-kim
This seems generic enough to me for the icons library. What are your thoughts?

[2021-10-08 17:07] lil-kim commented on #6386
@mathisscott Yep, agreed. This icon wasn't created by Visual design team, so I'd like to check the line weight, etc for accuracy before publishing it. I'll attach an updated .svg.

[2021-10-11 04:18] wghglory opened #6389 "CdsButton loadingState is not working"
## Describe the bug

loading, error, success of CdsButton loadingState behaves just like default.

## How to reproduce

https://codesandbox.io/s/clarity-react-frze6?file=/src/App.tsx

## Versions

**Clarity project:**

- [x] Clarity Core
- [ ] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [x] v5.5.7

**Framework:**

- [ ] Angular
- [x] React
- [ ] Vue

[2021-10-11 04:24] wghglory opened #6390 "Typescript will complain when passing style object into CdsButton and other core components"
## Describe the bug

According to https://clarity.design/core-components/input/code/, CdsInput allows passing max-width style, but typescript complains when passing style object into Clarity React components.

I also see this issue for other components, not only for Input.

## How to reproduce

https://codesandbox.io/s/clarity-react-frze6?file=/src/App.tsx

## Expected behavior

Style object with

[2021-10-11 12:58] konstantini1980 opened #6391 "Font-weight does not work with Clarity City font"
There seems to be an issue with font-weight under Firefox when using Clarity City font. It only falls back to consider 400 and 700. Same issue is not observed when Metropolis or other font is used

## How to reproduce
Bug is visible even in the storybook for Core - https://clarity.design/storybook/core/?path=/docs/foundation-typography--page
See attached images for Firefox and Chrome
<img width="5

[2021-10-11 15:07] bdryanovski commented on #6389
@wghglory Thanks for reporting this I gonna but I gonna close it as duplicate in favor of #6390

[2021-10-11 15:07] #6389 closed, assigned to nobody

[2021-10-11 22:43] coryrylan commented on #6390
The `loadingState` issue seems to be a potential regression in one of our upstream dependencies and I'm looking into this now.

The `style` property issue is specific to a mismatch with the typings in React. This is a known issue with using [CSS Custom properties](https://chaseadams.io/posts/typescript-var-cssproperties/) but I am unsure why a regular CSS property is failing here. A workaround is

[2021-10-13 06:23] bdryanovski commented on #6383
From what I see that there is already a fix so I'm closing this ...

[2021-10-13 06:23] #6383 closed, assigned to nobody

[2021-10-13 11:11] bbogdanov commented on #6380
Hi @vundev,

Could you please take a look at the example you provided? Some errors are raised by the compiler and it is not possible to load the project.

[2021-10-13 12:01] bbogdanov commented on #6072
As @mathisscott mentioned, we are not able to replicate the issue. I am closing this issue as resolved.

Feel free to reopen if you have more questions or info around this topic.

Thank you!

[2021-10-13 12:01] #6072 closed, assigned to nobody

[2021-10-13 12:45] juanmendes commented on #4971
Until this is built, any HTML that is passed into the `clr-options` will be transcluded into the drop down. The VCD team is using it to display a loading, error, and too-many-results indicators.

See https://github.com/vmware/vmware-cloud-director-ui-components/blob/master/projects/components/src/sharing-modal/tabs/sharing-modal-tab.component.html#L2-L62

![clr-combobox](https://user-images.github

[2021-10-13 22:15] hippee-lee opened #6405 "@clr/eslint-plugin-clarity-adoption is not compatible with eslint 8.0.0"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._
## How to reproduce

1. update eslint to v8.0.0
2. Application will get this error:

[code]

## Workaround
eslint 7.32.0 (latest 7.x)

## Expected behavior
@clr/eslint-plugin-clarity-adoption should be compatible with eslint v7 and v8

_A clear and concise description of what you expected

[2021-10-13 22:21] hippee-lee commented on #6405
Related from eslint: https://github.com/typescript-eslint/typescript-eslint/issues/3738

[2021-10-15 15:06] ConnerEnders commented on #6360
@hippee-lee Thank you for the stackblitz starters, was able to use it to reproduce the issue here:

https://stackblitz.com/edit/node-5qeujw?file=src/app/app.component.html

It seems to me that the tag + badge behave differently in Angular.
I tried to traverse the DOM and see if any of the CSS was different than a non-Angular tag + badge, but I couldn't find any discrepancies.
I am not sure what el

[2021-10-15 19:11] daukstsoskars opened #6410 "clr-combobox [disabled] binding does not change state of the combobox"
## Describe the bug

setting [disabled] binding to true in HTML or through property in TS file does not disable the combobox

## How to reproduce

https://stackblitz.com/edit/clarity-dark-theme-v5-nqd74y?file=src%2Fapp%2Fapp.component.html

Steps to reproduce the behavior:

1.  Go to the provided link
2.  Observe setting [disabled] to true in HTML does not disabled combobox
3. Observe sett [disabl

[2021-10-18 01:35] wghglory commented on #6390
@coryrylan thanks for the update. I will use the workaround for now. But eventually this CSSStyleDeclaration cast would not be needed after a fix, right?

[2021-10-18 08:56] Jinnie commented on #6410
Combobox is using the Angular Forms API to handle disabled and other states across both template driven and reactive forms.
So you need to import the angular FormsModule in your project
import { FormsModule } from '@angular/forms';
and add it to the imports  section of your app module.

[2021-10-18 08:56] #6410 closed, assigned to nobody

[2021-10-18 22:22] mattmutt commented on #4934
One year later, just revisiting to see if some action or recommended workaround can be done using any imperative code to force a panel header icon to accurately reflect state. Our workflow code is heavily depending on this container component for correctness. Right now the usability is a bit confused by status icons.

* Are there supporting tests written that have validation triggers work across p

[2021-10-19 07:27] bbogdanov commented on #6364
@rbirkgit https://angular.clarity.design/news/12.0.6

[2021-10-19 07:27] #6364 closed, assigned to bbogdanov

[2021-10-19 08:44] bdryanovski commented on #6167
The code above uses the `string` type. `cds-icon` size could be a string that represents the width and height and we also provide t-shirt size for more consistent sizes.

In the code above `'12'` is ok as a value. (12 width x 12 height)

I'm closing this as resolved.

[2021-10-19 08:44] #6167 closed, assigned to nobody

[2021-10-20 08:06] #5528 closed, assigned to sis0k0

[2021-10-21 10:06] bdryanovski commented on #5674
Is this still valid?

@coryrylan @hippee-lee

[2021-10-21 10:09] bdryanovski commented on #5479
I can't find the spec design document - it seems it's moved or expired - so is this valid still?

@hippee-lee

[2021-10-21 10:09] bdryanovski commented on #5478
Same questions as #5479

@hippee-lee

[2021-10-21 10:10] bdryanovski commented on #5477
Can we close this now?

@hippee-lee

[2021-10-21 10:11] bdryanovski commented on #5476
I could do that but I'm not sure that this is still part of the design-spec

@hippee-lee @gnomeontherun

[2021-10-21 10:12] bdryanovski commented on #5475
I don't think that this is valid anymore?

@hippee-lee @gnomeontherun

[2021-10-21 12:23] #5475 closed, assigned to nobody

[2021-10-21 12:23] #5476 closed, assigned to nobody

[2021-10-21 13:56] coryrylan commented on #5674
I believe so, the only thing I think that would be different would be us renaming the accordion panel to section in 6.0 https://github.com/vmware/clarity/pull/6195

[2021-10-22 10:04] simonaen opened #6429 "Datagrid Detail pane not rendering correctly when first column text is too long"
## Describe the bug

_The Detail pane doesn't render left-side styles when one of the first column's inner text is longer than 1/3 of the datagrid._

_Screenshots from Stackblitz and official Clarity documentation._

_[Not Working Detail Pane](https://stackblitz.com/edit/clarity-light-theme-v5-bfzjlp?file=src/main.ts)_
![Screenshot 2021-10-22 at 12 53 42](https://user-images.githubusercontent.com/

[2021-10-22 13:43] rbirkgit opened #6430 "Clarity angular clr-sr-only css style missing display block"
## Describe the bug

Update the Clarity Angular `clr-sr-only' style to match Clarity Core's version.

## How to reproduce

Set it on an angular component

## Expected behavior

Work as with Clarity Core's version.

## Versions

**Clarity project:**

- [ ] Clarity Core
- [x] Clarity Angular/UI

**Clarity version:**

- [x] v12.x

**Framework:**

- [x] Angular
- [ ] React
- [ ] Vue
- [ ] Other:

**Fr

[2021-10-22 14:36] rbirkgit commented on #6430
We thought we needed this fix for a bug, but turns out our issue was unrelated to this. So we may not need this fix. I had a PR ready to be submitted for this but not sure if it's worth submitting it as this point.

[2021-10-22 14:54] rbirkgit opened #6432 "Angular combobox takes string but treat all values as true"
## Describe the bug

The combobox clrMulti property takes a string, but treats any value (except empty string) as true.

[code]

## How to reproduce

We had a typo in our code:
`[clrMulti]="'false'"`

I expected the strictTemplate setting to catch it, but the source of combobox as seen above takes a string input but doesn't check the content of the string, just if a string has value.

## Expected

[2021-10-22 18:52] rbirkgit commented on #6430
I'm closing this. One can always open it again if it's an issue.

[2021-10-22 18:52] #6430 closed, assigned to nobody

[2021-10-25 12:02] bdryanovski commented on #6432
The reason for having `string` as a type is that the strict Angular (`fullTemplateTypeCheck` & `strictTemplates`) check requires every field that is `boolean` to have an additional type of `string`.

The reason is that internally Angular and DOM don't have an idea of what is a `boolean` everything is a string. Angular works with strings that look like boolean and try to handle this - sort of. The

[2021-10-25 14:21] rbirkgit commented on #6432
To me this is a clear bug and caused issues in our code. Either it should only accept an empty string as type or you have to convert string to proper vavlue. That how it is done in other components.

[2021-10-25 15:38] rbirkgit commented on #6432
It's seems inconsistent throughout the Clarity code base with many bugs. Some places do it this way:

[code]

Other places like this:
[code]

Except this function is also buggy, not supporting strings properly (If I read the code correctly):

[code]

[2021-10-26 09:34] bdryanovski commented on #6432
The method above that you mention `isBooleanAttributeSet` (I guess the name is a bit misleading - I'm guilty on that part) is designed to mimic the same way as the Browser will handle attributes for example this case:

[code]
All of them have the same effect - there are `disabled`.

The snippet of the code above if I'm correct is from the `clrSpinner` or `clrProgressBar` and they are designed so y

[2021-10-26 10:32] ghost opened #6435 "How can I prevent 'scrolling to the top of the page behavior' when clicking on clr-dg-action-overflow in a datagrid that overflows its container on the y axis?"
## Describe the bug

I have a page that I use clr-datagrid. I want to make some actions and for this reason I use clr-dg-action-overflow tag. However when I click on the clr-dg-action-overflow, although the menu opens, the whole page scrolls to the top.

## How to reproduce

The error can be reproduced in  [Clarity Project v5](https://stackblitz.com/edit/clarity-light-theme-v5-6h8avy).

Steps to r

[2021-10-26 10:45] bdryanovski commented on #6435
I could confirm the issue, don't have an idea why this is happening - it seems that we need to use `preventDefault` for the click but I'm not sure that is that only.

[2021-10-27 09:27] xuelichao opened #6437 "Pagesize select control in Datagrid footer do not have label announcing by screen reader in accessibility test"
## Describe the bug
1. When enable [clrDgPageSize]="20" and [clrPageSizeOptions]="[10,20,50,100]", it will generate a select control for clrPageSizeOptions.
2. The screen reader can not get any label content for helping user Due to there is no label for clrPageSizeOptions select,

## How to reproduce
1. Any datagrid control with pagesize enabled
2.     <clr-dg-footer>
        <clr-dg-pagination #p

[2021-10-27 11:08] Jinnie commented on #6437
It's a known accessibility issue, which we track internally, as we do with all a11y bugs for better collaboration with our a11y team.

In this case we suggest the following workaround.
A directive may be used to add the ID to the select:
https://stackblitz.com/edit/datagrid-v4-template-ees6hm?file=src%2Fapp%2Fa11y-page-options.directive.ts

Generally this is not a good pattern, as it relies on int

[2021-10-27 11:08] #6437 closed, assigned to Jinnie

[2021-10-27 16:17] hippee-lee commented on #5475
@bdryanovski - correct.

[2021-10-27 17:17] hippee-lee commented on #5674
We have an item in the (internal) MSProject item tracking the graduation of core components from beta -> prod that I believe will cover this. I think we can close it since this is a docs issue that is being internally tracked.

[2021-10-27 17:17] #5674 closed, assigned to nobody

[2021-10-27 17:18] #5478 closed, assigned to nobody

[2021-10-27 22:13] hippee-lee commented on #6435
The example does scroll but the behavior is related to some early css/layout decisions we made back in 2016. The correct way to have an element that can overflow with the Clarity application layout is to the example in the stackblitz is to use the application layouts as described [here](https://angular.clarity.design/documentation/app-layout).

I forked the stackblitz and added the correct Clarity

[2021-10-27 22:14] #6435 closed, assigned to nobody

[2021-10-27 22:36] hippee-lee commented on #6429
Column widths and `_super_duper_extra_long_unbroken_lines_of_text` can be tricky in a datagrid cell. When combined with the detail pane which covers all but the first column when active it can be tricky. The best advice I can give is to use a combination of fixed width (set from the application side) for the column with long text and one of the css properties for managing the text behavior when it

[2021-10-27 22:36] #6429 closed, assigned to nobody

[2021-10-27 22:49] hippee-lee commented on #1248
Due to the underlying architecture of the datagrid this isn't something we will be able to fix for the `@clr/angular` datagrid. This is something the `@cds/core` grid component (a rough equivalent of the angular datagrid component) will fix.

I'm closing this because we will not be able to fix it for angular.

[2021-10-27 22:59] hippee-lee commented on #2008
This has been widely discussed during the website refinement iterations and the design and implementation was up in the air due to the complexity of multiple frameworks each needing their own examples. I'm closing because this is tracked internally with the documentation enhancements that relate to the demos and demo code for core/angular and other major frameworks.

[2021-10-27 23:19] hippee-lee commented on #2265
I've updated the workaround to[ Clarity v12 running on stackblitz. ](https://stackblitz.com/edit/clarity-dark-theme-clr12-cds5-xfhsxu?file=src/app/app.component.ts)

[2021-10-28 08:20] #6381 closed, assigned to nobody

[2021-10-28 11:55] #6331 closed, assigned to nobody

[2021-10-28 12:16] bdryanovski commented on #3650
Is this still valid? It's from Clarity v2 - I try reproducing it at v4 but without luck?

@Jinnie

[2021-10-28 12:17] bdryanovski commented on #3723
Is this still valid? It seems pretty old

@Shijir

[2021-10-28 12:18] bdryanovski commented on #4048
Can we close this ? @gnomeontherun

[2021-10-28 13:04] bdryanovski commented on #4790
Can we close this?

[2021-10-28 13:42] rbirkgit commented on #6432
That why I suggested to update the type to `boolean | ''`  Would that not work?

[2021-10-28 14:22] MalteJoe commented on #6310
Any update on this? We are still sitting on Clarity v4 and have a big test base we can't simply convert to Karma tests. I'm glad to help with investigating, as I currently don't see any other way forward with clarity.

[2021-10-28 14:47] mathisscott commented on #6310
Given this is v5, it may or may not be related to the issues listed in #5672

Most folks have solved this by updating/customizing their Jest config to not try to transform the Clarity Core ESM modules into Jest's custom CommonJS modules.

This is not something we will have the cycles to investigate deeply in the immediate future. So if you are willing to dig deeper, we would appreciate it.

[2021-10-28 19:43] juanjosegutierrez opened #6439 "Combobox placeholder contrast is too low for accessibility"
## Describe the bug

In the combobox component, the placeholder text color and background have a color contrast that is too low according to the Web Content Accessibility Guidelines 2.1 and my accessibility team. The contrast is currently 3 to 1 and the minimum acceptable is 4.5 to 1. Also the opacity of the placeholder text is well below 1 so it makes the placeholder text contrast even worse.

##

[2021-10-28 22:47] #5480 closed, assigned to nobody

[2021-10-28 22:56] hippee-lee commented on #6439
Thanks for reporting this. I'm looking into it to see if we have encountered this before and I'll update with more info.

[2021-10-28 23:11] hippee-lee commented on #6380
I took the code provided and ported it to a working [stackblitz](https://stackblitz.com/edit/gh-issue-6380?) but was unable to recreate the reported issue. I am closing this for now. If there is something that I missed when porting the code please fork the stackblitz with code that reproduces the issue as reported
![Screen Shot 2021-10-28 at 4 13 17 PM](https://user-images.githubusercontent.com/43

[2021-10-28 23:11] #6380 closed, assigned to bbogdanov

[2021-10-29 12:45] igpeev commented on #5668
Also reproducible with Clarity Angular Dropdowns - [StackBlitz](https://stackblitz.com/edit/clarity-light-theme-v5-xsa2sk?file=src/app/app.component.html)

[2021-10-29 19:07] lil-kim commented on #6386
I adjusted the line weight for consistency and added a solid version. It's ready to publish:
[lauchpad_icon_updated.zip](https://github.com/vmware/clarity/files/7444384/lauchpad_icon_updated.zip)

[2021-10-29 19:31] kdavidenkovmware opened #6442 "CdsInternalVisualCheckbox border color is too light and disabled prop nonfunctional"
## Describe the bug

- `CdsInternalVisualCheckbox` disabled prop does not alter appearance or functionally
- `CdsInternalVisualCheckbox` unchecked border does not have same color as `cds-checkbox`
NOTE: We requested access to the internal checkbox for performance, to avoid rendering dozens of checkboxes on certain drop-downs.

## How to reproduce
Code Sandbox to show side-by-side of the checkboxes

[2021-10-29 21:55] #6295 closed, assigned to mathisscott

[2021-10-29 22:50] hippee-lee commented on #6442
### Behavior
`cds-internal-visual-checkbox` doesn't have any built in behavior. `cds-tree` and `cds-tree-item` implement the behavior that allows or disallows checking/un-checking for the checked/un-checked state. If you are using this in a dropdown and want checkbox like behavior I would suggest creating a wrapper component and following a similar pattern as implemented in [cds-tree](https://gith

[2021-10-31 11:24] xuelichao commented on #6437
https://stackblitz.com/edit/datagrid-v4-template-ees6hm?file=src%2Fapp%2Fa11y-page-options.directive.ts
The above directive is workable for me.

Thanks

[2021-11-01 11:58] magistvan opened #6445 "Time picker does not replace correctly all hours"
## Describe the bug

When the picker gets for ex. 19 for the hour, it converts automatically into 7 PM, which is correct. But if the user inputs any number from 20 to 23, it is not converted to 8 to 11 PM.

## How to reproduce

https://stackblitz.com/edit/clarity-dark-theme-clr12-cds5-ayzbls

## Expected behavior

if the user inputs any number from 20 to 23 as the hour, it is converted to 8 to 11

[2021-11-01 12:03] magistvan commented on #6445
Actually, as I'm investigating, it seems it's not even a clarity issue. It's rather a general problem. Sorry for the inconvenience

[2021-11-01 12:03] #6445 closed, assigned to nobody

[2021-11-01 12:41] bdryanovski commented on #5967
I could confirm that this bug is still active even with the latest version

[code]

Even with changing the expected type from `boolean` to `ClrLoadingState` the issue persist

[code]

I think that because of the state change in the middle of the render cycle we don't calculate or set the correct width of the button.

[code]

The width is set from this method:

[code]
There is also an animation tha

[2021-11-01 13:07] bdryanovski commented on #4745
@Jinnie Can we close this now with the upcoming release of dropdown and popovers in core?

[2021-11-01 13:09] bdryanovski commented on #4797
@Shijir can we close this ?

[2021-11-01 13:10] bdryanovski commented on #4807
@Jinnie Can we close this now, we have some progress on that is coming into the next few release as beta components?

[2021-11-01 14:23] kdavidenkovmware commented on #6442
Yes, @hippee-lee the issue appears to be that the disabled prop does not seem to do anything as far as disabling the checkbox. I'll look into the workarounds you mentioned. The check/unchecking we are handling fine in the code we've implemented in, the disabled styles were the concern.

[2021-11-01 16:21] #4428 closed

[2021-11-02 13:39] kdavidenkovmware commented on #6442
@hippee-lee additionally, I'm not sure it was clear or not, the unchecked and enabled checkbox has a much lighter styling than the cds-checkbox.

[2021-11-02 14:38] koninos opened #6447 "Custom filtering"
## Describe the bug

I need to create a custom filter that has a clear button to reset the filter value. The documentation is not very helpful on this since it does not provide a working example on custom filtering. Does anyone have a working example to help me with this issue?

[2021-11-02 14:38] dorthrithil opened #6448 "cds-icon in button misaligned when placed in clr-dropdown"
## Describe the bug

The icons are not centered vertically.

![Screenshot 2021-11-02 at 15 37 07](https://user-images.githubusercontent.com/3655915/139868509-337150fc-d236-4466-b302-3b6f0b8fed5c.png)

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-clr12-cds5-of9ull

## Expected behavior

Centered icons

## Versions

**Clarity project:**

- [x] Clarity Core
- [X] Clarity Angul

[2021-11-02 15:08] dorthrithil commented on #6448
The `.dropdown-toggle` style overrides margins, you can hotfix this bug using these styles:

[code]

[2021-11-02 17:32] #6439 closed, assigned to nobody

[2021-11-02 17:40] hippee-lee commented on #6442
Yeah - I'm not sure if that was intentional or not, as mentioned, these were internal b/c they were specific to the tree view. @colinreedmiller - do you remember any details around developing these for the tree-view component?

[2021-11-02 17:45] #6447 closed, assigned to nobody

[2021-11-02 17:53] colinreedmiller commented on #6442
Components present in more complex components should reflect the styling and behavior of the base component in an atomic manner. I'd expect the checkbox in the tree to look and behave the same as it does as a form element unless a design requirement specified otherwise. I don't recall anything that has happened with the tree that would cause this. What I see in Stackblitz looks like a bug - the co

[2021-11-02 17:56] coryrylan commented on #6442
I can take a look at this as part of our figma audit work @colinreedmiller

[2021-11-03 07:47] dorthrithil opened #6450 "Missing spacing between multiple `CdsControlMessage` elements"
## Describe the bug

There is no spacing between the elements.

![Screenshot 2021-11-03 at 08 43 26](https://user-images.githubusercontent.com/3655915/140024223-c1129fc2-1838-4306-8797-e1d2cc115d1d.png)

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-grtqze?file=src/app/app.component.html

## Expected behavior

Some padding between repeated `cds-control-message` elements.

[2021-11-03 18:02] hippee-lee commented on #6450
Applications should handle control message spacing with an appropriate spacing token on the elements that need it:

[code]

I'm going to convert this to a Q&A discussion instead of closing the issue.

[2021-11-03 18:03] #6450 closed, assigned to nobody

[2021-11-03 19:41] ashleyryan commented on #5985
Matt said this sounds like a lit issue, so I've reported it here: https://github.com/lit/lit/issues/2281

However, now that I think about this some more and think about the error message, this sounds like the boolean attribute issue in React. I also came across this from a different github issue: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/Proxy/set#invar

[2021-11-03 19:59] justinfagnani commented on #5985
Can anyone say why they think this is a Lit issue? I can't tell what files are involved from the stack trace. Which package is `src/internal/utils/lit-element.js` in? Also, does anyone know where the Proxy is coming from? We don't use them.

[2021-11-03 20:06] ashleyryan commented on #5985
@justinfagnani I just replied above, but the more I think about this, the more I don't think this is a lit issue.

I'm not a clarity dev, just a consumer of their react package, but we've had a lot of ongoing issues with boolean attributes in React - when passing a prop like `disabled` into a React input, you would do something like:

`<selected disabled={false} />` but in web components/native ht

[2021-11-03 21:28] hippee-lee commented on #5985
@ashleyryan - in our discussion I mentioned that it seems like this is a testing-lib or react issue. I 👍🏼ed the idea to report the issue to lit because that is where the reported stack trace is coming from. I looked through the `@cds/core` select and forms base classes code and we don't use any Proxy's. We only use one Proxy in the whole project and it has to do with the global CDS state on the wi

[2021-11-03 21:38] mathisscott commented on #5985
The lit-element utils is  a file of helper functions that focus on syncing properties down the DOM tree. So if a child needs to stay in sync with some property of a parent or grandparent, those utilities do that.

I'm not sure how those helpers could break the React testing library in this one specific case and not in others (like alerts) where they are used.

I think the utils are a red herring h

[2021-11-03 21:59] ashleyryan commented on #5985
It could also be jsdom - that's ultimately what is used to create a DOM in Node for testing.

react-testing-library is a very lightweight wrapper on top of dom-testing-library. RTL really doesn't do much more than call react's `render` into jsdom. dom-testing-library is a set of utilities and jest matchers for interacting with the dom.

It could definitely be a red herring, but we don't interact w

[2021-11-03 22:19] mathisscott commented on #5985
That's good info. Thanks for sharing.

The utility functions are used throughout all controls. So seeing them failing on one and not the others doesn't eliminate them. But it doesn't make them stand out as a root cause. ￼

It might be worth it to see if this fails with v4. We switched to the new Lit react wrapper in our latest v5 versions.

So if this is something that used to work and doesn't any

[2021-11-04 00:37] ashleyryan commented on #5985
I forked Jeremie's repo above and [switched to using dom-testing-library](https://github.com/ashleyryan/repro-clarity-proxy-set-disabled/blob/main/index.test.tsx) with just clarity core and no react. I [followed this blog article](https://matthias-kainer.de/blog/posts/testing-webcomponents-with-jest-and-dom-testing-tools/) which referenced `@open-wc/testing-helpers`. My bare bones test of finding

[2021-11-04 19:34] hippee-lee commented on #5985
@ashleyryan - it sounds like you are right. This issue lays somewhere with `clarity+jsdom`. I'm worried that the issue is JSDOM because it only emulates a subset of a real web browser and it looks like they are using [polyfills](https://github.com/jsdom/jsdom/issues/1030) to support web-components. Perhaps that is why we don't see/cannot reproduce the reported issue in an application vs the testin

[2021-11-05 00:44] ashleyryan commented on #5985
Thanks @hippee-lee - rendering the component in jsdom without any testing framework was going to be my next step too. I have no other ideas currently

I'm in the process of finding out our devs use cases where they're blocked. I think we can work around this by mocking CdsSelect for now - it gets a bit more complicated for control message and control actions, but not impossible.

[2021-11-05 01:03] hippee-lee commented on #5985
I hit a snag on rending with JSDOM, I will pick it up tomorrow.

[2021-11-05 11:43] Jinnie commented on #5839
Fixed in v12 and v5

[2021-11-05 11:43] #5839 closed, assigned to nobody

[2021-11-05 11:44] Jinnie commented on #5723
Fixed in v12 and v5

[2021-11-05 11:44] #5723 closed, assigned to nobody

[2021-11-05 18:43] ashleyryan commented on #5985
this mock will work in the meantime:

[code]

[2021-11-05 23:39] hippee-lee commented on #5985
Hi @ashleyryan, @dturcotte and @astorije.

# Summary (tl;dr)
 I'm sorry I do not have better recommendations for you (see below). After spending a significant amount of time this week investigating this issue I have come to the following belief:
The rendering strategy is different between `@testing-library` and `enzyme` and it is the JSDOM dependency in `@testing-library` that is causing the issue

[2021-11-08 07:07] bdryanovski commented on #6448
@dorthrithil thanks for reporting this and for the hotfix :)

[2021-11-08 07:40] dorthrithil opened #6454 "`ExperessionHasChangedAfterItHasBeenCheckedError` for open Combobox in Modal when hitting ESC"
## Describe the bug

An `ExperessionHasChangedAfterItHasBeenCheckedError` is triggered when you hit ESC in an open modal with a Combobox that has an open Dropdown.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://stackblitz.com/edit/clarity-light-theme-clr12-cds5-rhmcdf?file=angular.json
2.  Click on the Combobox to open the Dropdown
3.  Hit ESC
4.  See error

## Expected

[2021-11-08 17:24] astorije-vmware opened #6457 "core(cds-card): cards have incorrect sizes when using in a grid layout"
## Describe the bug

When located next to other cards inside a grid, the `CdsCard` component shrinks when its content does not take the full size, or expands below other components when its content overflows.

<img width="505" alt="Screen Shot 2021-11-08 at 11 45 03 AM" src="https://user-images.githubusercontent.com/90871916/140783044-b6986436-4639-472f-9c1c-0f5566f92b34.png">

## How to reproduce

[2021-11-08 19:20] #6334 closed, assigned to mathisscott

[2021-11-09 11:42] bhamidic opened #6458 "ng add @clr/angular not working"
## Describe the bug

I am not able to add @clr/angular to my project.

## How to reproduce

Node Version: v16.13.0
npm version: 8.1.3

Package                                         Version
---------------------------------------------------------
@angular-devkit/architect           0.1300.1
@angular-devkit/build-angular   13.0.1
@angular-devkit/core                  13.0.1
@angular-devkit/schema

[2021-11-09 15:15] wagnerdavanco opened #6459 "Bug angular 13"
## Describe the bug

when trying to add the angular clarity package i run into the following error when doing npm start

## How to reproduce

https://stackblitz.com/edit/angular-4swtwd

Steps to reproduce the behavior:

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

## Expected behavior

when trying to add the angular clarity package i run into the following error whe

[2021-11-09 15:17] mathisscott commented on #6459
We are still working on angular 13 support. I recommend staying on angular 12 until we've had a chance to work through those issues.

[2021-11-09 15:17] #6459 closed, assigned to nobody

[2021-11-09 17:55] mathisscott commented on #6458
Currently, we do not support Clarity Angular in Angular v13. It was released just last week.

We have been actively working on angular v13 support for a couple of weeks already and plan to update v13 support as soon as that effort is complete.

[2021-11-09 17:55] #6458 closed, assigned to nobody

[2021-11-09 19:53] rbirkgit opened #6460 "Datagrid details view does not expand first column"
## Describe the bug

When opening the details / master view of a row in the datagrid, the first column is not expanded to take available space. It remains same width originally.

## How to reproduce

Go to https://angular.clarity.design/documentation/datagrid/detail-pane
There narrow the width of the first column and open details view.

![image](https://user-images.githubusercontent.com/6342391/14

[2021-11-10 12:00] TechScar opened #6461 "Clarity Combobox: make <clr-option> diasable-able"
## Summary

I would like to have the possibility to disable individual options in the clarity combobox component just like e.g. in a select form. From my understanding, this is not possible to do as of yet.

#### What is the change?

The `<clr-option>` element should be able to take a `[disabled]` attribute that can be dynamically set via an option item property or another function. This would ser

[2021-11-10 13:12] dorthrithil opened #6462 "Controlling `*clrIfOpen` state of dropdowns programmatically doesn't work as expected"
## Describe the bug

Using the desugarized syntax one should be able to control the dropdown open state via a boolean variable:

[code]

However, changing the boolean in the code doesn't work. Only after the state gets changed the first time via `clrDropdownTrigger` the boolean is changeable as expected. It's a really weird bug, but I was able to reproduce it in a stackblitz.

## How to reproduce

[2021-11-10 13:34] Jinnie commented on #3650
Updated stackblitz (v12):
https://stackblitz.com/edit/clarity-dark-theme-clr12-cds5-syppty?file=src%2Fapp%2Fapp.component.ts
Check:
![Screen Shot 2021-11-10 at 15 33 13](https://user-images.githubusercontent.com/1798828/141122553-d58311ea-35ac-46b6-a90c-9bf940809c68.jpg)
Conclusion: Yes, it's still valid.

[2021-11-10 13:38] Jinnie commented on #4745
Yes, as we have a workaround and a fix in Core, we don't intend to work on this one for Clarity Angular.

[2021-11-10 13:38] #4745 closed

[2021-11-10 13:46] Jinnie commented on #4807
It seems it has been fixed in Angular too.
It is using `clr-signpost-pointer-invisible-border` currently.

[2021-11-10 13:46] #4807 closed

[2021-11-10 16:45] tushargupta1301 opened #6463 "cds-icon-button component gives ariaLabel required warning even though its provided"
## Describe the bug

<CdsIconButton
        action={action}
        ariaLabel={iconTitle}

On providing ariaLabel in CdsIconButton, it gets converted to arialabel on the html. This ends up with a lot of warnings in the console.
ariaLabel should be converted to aria-label on html.

~Link to slack conversation: EDIT: link removed~

## How to reproduce

Use CdsIconButton with ariaLabel.
Check inspect

[2021-11-11 13:36] ashleyryan opened #6464 "@cds/react doesn't technically support React 17"
## Describe the bug

The package.json requires a 16.x version of react. When using Clarity in a React 17 app, this results in two React versions in the yarn.lock. Two versions of react, especially two different major versions can cause problems in an app.

https://github.com/vmware/clarity/blob/next/packages/react/package.json#L27

I believe that you may have to switch React to a peer dependency (

[2021-11-11 14:26] ygangrades opened #6465 "Datagrid numeric filter CSS is broken"
Hi Clarity team, I’m using a numeric range filter in Datagrid. But the CSS is breaking here as I can't see the min and max fields properly. How can it be fixed?  Here is the stack blitz link https://stackblitz.com/edit/clarity-v4-light-theme-8zpyma?file=src/app/app.component.ts

https://stackblitz.com/edit/clarity-v4-light-theme-8zpyma?file=src/app/app.component.ts

[2021-11-11 17:08] ashleyryan commented on #5985
Thanks for the investigation @hippee-lee.

I happened to be in one of our apps that still uses Enzyme and I see a bunch of `UnhandledPromiseRejectionWarning: TypeError: 'set' on proxy: trap returned falsish for property 'disabled'` in the console with CdsSelect there as well. I believe that when using Jest, Enzyme uses JSDom. I wanted to document it here for further evidence that this is a jsdom i

[2021-11-11 17:52] ashleyryan commented on #6464
I can take a stab at this

[2021-11-12 00:06] rbirkgit opened #6468 "Using sass 1.33+ gives pages of deprecated warnings"
## Describe the bug

sass 1.33.0 changed their syntax with regards to divisions. With this you get pages of deprecated warnings when building Clarity Angular projects. With Angular 12 @angular-devkit/build-angular is now hard coded to use 1.36.0 and ng-packagr is using ^1.32.8 which result that our projects will be using 1.33+

## How to reproduce

Create an Ang12 project and build a Clarity proje

[2021-11-12 00:07] rbirkgit commented on #6468
This bug was previously opened as #6331 but accidentally closed. I cannot re-opened it, so have to create a new one. Hopefully this can get fixed as the pages of warnings is very distracting every time you build. Making it hard to find actual errors.

[2021-11-12 10:47] vasil-ivanov-vmw commented on #5847
This is a pretty nasty bug for the use case where for some reason you load invalid configuration and present it in a form. As soon as the form is rendered there is no indication that there is a problem with existing data. The error will not appear till the user actually visits the problematic field. If they just want to edit the other fields validation will not let them submit the form because of

[2021-11-12 15:03] d-m-s opened #6469 "Combobox: unintuitive behaviour on re-selection"
## How to reproduce
See screencast for the steps to reproduce the behavior:
https://user-images.githubusercontent.com/311619/141486153-2c73a13e-02a7-44a9-9493-cd4f854f75ed.mp4

## Describe the bug
Imagine the following quite common scenario:
1. User types in/selects a value from the suggestion-list of the autocomplete-combobox.
2. This value is valid and eg. saved until a change of the value is re

[2021-11-12 15:48] d-m-s opened #6470 "Feature Request: Date Picker with calendar weeks (optionally shown in first column)"
### Discussed in https://github.com/vmware/clarity/discussions/6369

<div type='discussions-op-text'>

<sup>Originally posted by **d-m-s** September 30, 2021</sup>
see Feature Request: https://github.com/vmware/clarity/issues/5273 Date Picker with calendar weeks (optionally shown in first column)

Unfortunately I haven't found any public available feature request list, ... **is this still somehow

[2021-11-12 15:49] #5451 closed, assigned to nobody

[2021-11-12 15:50] d-m-s opened #6471 "Feature Request: Icon with count-badges"
### Discussed in https://github.com/vmware/clarity/discussions/5968

<div type='discussions-op-text'>

<sup>Originally posted by **d-m-s** May 20, 2021</sup>
# Idea
It would be great if icons itself support count-badges!

So something like the following usecase: "showing amount of notifications in a menu-bar" can be done easily.
<img width="133" alt="2021-05-20_11h21_49" src="https://user-images.g

[2021-11-12 18:48] rogerfar opened #6472 ".clr-wizard-page>> -> Did not expect successive traversals."
## Describe the bug

When building a default Angular 12 project with the latest angular clarity components the following warning occurs:
[code]
## How to reproduce
`npm install ng-cli@12`
`ng new test`
`ng add @clr/angular`
`ng build`

## Versions

**Clarity project:**

- [ ] Clarity Core
- [X] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [X] v5.x

**Framework:**

- [X] Angula

[2021-11-13 03:05] mattmutt commented on #6469
Our implementation had the same user feedback. We weren't satisfied with waiting until switching over to Clarity Core without guarantees.

So easier just to extend the Combobox with the behavior to mark its `input` tag with a "search" type. Now if that doesn't solve accessibility needs, then the blame shifts to old W3C standards. The "X" icon simply is from a bygone era when nobody cared about non