[2018-02-22 23:16] mathisscott commented on #2010
Thanks for this information, @sdurnov .

The datagrid needs a good deal of work to be viable on phones. This is something we are looking into long term.

[2018-02-22 23:50] sdurnov commented on #2011
Honestly - this is terrible idea to get rid of Bootstrap. Bootstrap is the only mature and popular full-stack scss library, and many teams will use its set of tools no matter which JS framework and UI library they use. Bootstrap is one of primary reasons why our team had chosen Clarity.
Guys, no need to reinvent a bicycle here. Obviously, you won't have resources to make something more functional

[2018-02-22 23:53] sdurnov commented on #2010
I guess there's an obvious bug in initial loading, as everything works fast no matter how records you put inside, when you just switch to another page (and even when you go back to a first page). So maybe this is not just mobile browsers problem after all.

[2018-02-22 23:59] mathisscott commented on #2011
This is great feedback, @sdurnov.

The Bootstrap dependency removal is not currently in our near-term plans. We will take your points into consideration before we make any commitment to that.

Thanks!

[2018-02-23 00:58] hippee-lee commented on #2007
@xucito - thanks for reporting this. It looks like a duplicate of #1986 that was recently reported. I'm closing this based on that. Please subscribe to that issue for updates.

[2018-02-23 00:58] #2007 closed

[2018-02-23 06:45] jeado opened #2013 "[question] how to set clrDgField for an array of strings for dgItem"
I have `listNames` which is array of strings and I`d like to sort it so I need to put  [clrDgField] on <clr-dg-column>.

but what value can I use ?

[code]

[2018-02-23 06:47] gnanasekhar504 commented on #2013
use the object keys like [clrDgField]="'listName'"

[2018-02-23 07:58] ickobombata opened #2014 "Empty space between navigation groups"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I would like to remove the empty space which appears between the navigation groups.

### Actual behavior
Define 2 or more navigation groups. A lot of space appears between the groups.

### Reproduction of behavior
Can you please reconsider this:
https://github.com/vmware/clarity/issues/1760

I am attaching screenshots of how th

[2018-02-23 14:21] mathisscott commented on #1760
Hi @ickobombata
It looks like your product is using the sidenav component in an odd place.

https://vmware.github.io/clarity/documentation/v0.11/sidenav

The sidenav isn't intended to be replicated multiple times throughout the content area.

Your use case looks better suited to the tree view (https://vmware.github.io/clarity/documentation/v0.11/tree-view) or what we are calling "vertical tabs" (#

[2018-02-23 17:24] ronnyek commented on #2011
seems to  me like its a reasonable end goal to incorporate whats valuable and not depend on bootstrap. That being said, does it make sense to depend on an alpha of bootstrap until then?

[2018-02-23 17:31] ronnyek commented on #2005
wow this looks good, cant wait to be able to take advantage of it!

[2018-02-23 19:11] sdurnov commented on #2011
@ronnyek if you already decided and won't change your mind, then, I guess, the sooner you wipe out Bootstrap, the better it would be for devs. I think nobody would like to invest in development and then spend resources again to respond to breaking changes.

[2018-02-23 19:44] ronnyek commented on #2011
Wait, what? I'm not specifically partial to bootstrap necessarily, but there is a hard depdendence on the alpha because of moving of scss files in bootstrap. All I am saying is clarity talks about moving away from bootstrap as a potentially longer term goal... so is clarity going to continue forward depending on alpha.5 until bootstrap is gone?

[2018-02-23 19:56] Shijir commented on #1372
Closed by https://github.com/vmware/clarity/pull/1996

[2018-02-23 19:56] #1372 closed

[2018-02-23 20:06] adityarb88 commented on #2011
@ronnyek: Yes, for the near future we are going to depend on alpha.5. We use Bootstrap 4 mostly for the grid. Moving to the final BS4 release means a breaking change in the grid. If I remember correctly, the only changes in alpha.6 were name changes. We don't want our users to unnecessary go through a breaking change for class name changes. The major reason for moving to the final release would be

[2018-02-23 20:20] ronnyek commented on #2011
I think that's fair, thanks for explanation on that one.

[2018-02-23 20:28] sdurnov commented on #2011
@adityarb88 the problem here is that many teams (I think) will use Bootstrap, because it covers 100% needs related to layout and typography. We can live with separate set of scss variables for Clarity, but what's important - is to be able to have both Clarity and final Bootstrap without conflicts, at least. After thinking on that topic, I can agree that some teams would use something different for

[2018-02-23 20:31] mathisscott commented on #2011
@sdurnov
That is one of the motivations behind removing our Bootstrap dependency. Right now, we pretty much stomp on anyone who is trying to use both Bootstrap and Clarity. If we properly sandboxed our styles and such, then it would be less of an issue for teams to use parts of Bootstrap alongside our components (even though we don't advise that or want to invest lots of resources addresses confli

[2018-02-23 21:51] sdurnov commented on #1983
I would also suggest period selection

[2018-02-23 21:56] adityarb88 commented on #1983
@sdurnov: Thats in our plan but its not in scope for the MVP. For more details please read this issue: https://github.com/vmware/clarity/issues/474

[2018-02-23 22:59] ronnyek commented on #2011
Seems like if we're trying to avoid fallout of bootstrap reliance, seems like the earlier you ditch bootstrap the better... can we get a ballpark (real general time frame) estimate? Like in a couple years, or a couple months?

[2018-02-23 23:06] mathisscott commented on #2011
@ronnyek
Well, not a couple of months. Removing the Bootstrap dependency isn’t on our near term roadmap. I can’t give an exact date. Because our priorities are always in flux.

But it isn’t two years out either.

No earlier than September of this year. Likely no later than October 2019.

[2018-02-23 23:07] sdurnov commented on #1983
Just for info: do you accept pull requests with implementation of feature requests like this one?

[2018-02-23 23:12] mathisscott commented on #1983
@sdurnov
The v1 datepicker is already in flight. I believe there is already a PR for it in review.

After that is merged in, however, you could pick up the range picker feature if you want but I recommend chatting with one of our developers before you start so they can give you a heads up on our best practices and work out the API before you get started.

[2018-02-25 11:50] mxab opened #2016 "clrDgPage is triggered when leaving the page"
[code]

### Expected behavior
Leaving a page containing a `clr-dg-pagination` should not trigger `clrDgPageChange`

### Actual behavior
If you click on a link the routes to a different part of the app a final change events is emitted. This is very problematic if you are using the page change event to router to another route itself

### Reproduction of behavior
See https://github.com/mxab/clarity-p

[2018-02-25 18:43] ickobombata commented on #1760
Hi @mathisscott
We can try that out the result will be better and without empty space.

But I think that not all labels can be clickable in a tree view.
We need the top (roots of a tree view) to be also clickable that is why we choose the side nav.
And we are not replicating it multiple times, we only have one side nav with 2 sections inside.
Which we copied from the https://vmware.github.io/clari

[2018-02-26 10:20] dorthrithil opened #2017 "Custom Datagrid Filters: Error in example code on website"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

`MyFilter` should implement `ClrDatagridFilter`.

### Actual behavior

`MyFilter` implements `Filter`.

### Reproduction of behavior
Visit website: [Link](https://vmware.github.io/clarity/documentation/v0.11/datagrid/custom-filtering)

Here you see the following example code:

[code]

[2018-02-27 06:46] jewway opened #2019 "[Datagrid] clDgRowSelection attribute naming"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Why only clDgRowSelection attribute prefix naming is different from other attribute ?

Expected **clrDgRowSelection**.

![image](https://user-images.githubusercontent.com/3501899/36714165-02aefb4a-1bcc-11e8-9854-17a75e6900e3.png)

[datagrid.ts line:127](https://github.com/vmware/clarity/blob/master/src/clr-angular/data/datagrid

[2018-02-27 10:27] swapnilsvaidya1412 opened #2020 "Tooltip with long text is not shown properly"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

If tooltip is having long text, then tooltip height/width should gets adjusted automatically to accomodate all the text
### Actual behavior

If tooltip component is having long text, then tooltip text is not shown properly.
 Text overflows the tooltip element and if it is used in card then scroll bar appears on the card.
### R

[2018-02-27 10:32] gnanasekhar504 commented on #2020
Use tooltip-lg and break the long words.

[2018-02-27 13:32] choutkoa commented on #1385
Any news on this?

[2018-02-27 13:35] choutkoa commented on #931
do you have any timeline on this refactoring?

[2018-02-27 16:58] gnomeontherun commented on #931
Well using tooltips for validation will no longer be the recommendation, so that will fix the issue indirectly by changing the UX. However it will be a bit longer for us to build up all of the form changes needed for people to migrate to the improved forms experience.

[2018-02-27 19:55] youdz commented on #1926
The `name` attribute on radio buttons and checkboxes isn't used for accessibility purposes. It's not read by screenreaders, as the whole point of it is to generate the correct query parameter in the URL (or POST data) when submitting the form.

I believe what we're missing here is an `aria-labelledby` attribute on the checkboxes, pointing to the text in the tree node.

[2018-02-27 19:58] Kevin2iBi commented on #1632
Any news about this feature guys???

[2018-02-27 22:57] mathisscott commented on #1632
Hi @Kevin2iBi
This is on our roadmap but not on our list of near-term priorities. Are there any details you can share about your project's urgency on this issue?

[2018-02-28 13:29] adityarb88 commented on #2020
@swapnilsvaidya1412:
For now you could add this style at your end to get this fixed immediately. We will add it at our end too:

[code]
Info: https://developer.mozilla.org/en-US/docs/Web/CSS/word-break
Demo: https://stackblitz.com/edit/clarity-dark-theme-v10-fndbkb?file=app/app.component.css

BTW our UX recommendation is that you use tooltip for a line of text only. Adding a lot of content in a to

[2018-02-28 13:49] adityarb88 commented on #2019
@jewway: `clrDgRowSelection` enables the row selection mode where you can click anywhere on the row to select it.

![test](https://user-images.githubusercontent.com/1426805/36790860-2a7e6384-1c64-11e8-9421-b8b3dadc4620.gif)

More info here: https://vmware.github.io/clarity/documentation/v0.11/datagrid/selection

Closing the issue based on the above info. Please feel free to reopen the issue if you

[2018-02-28 13:52] technotarek commented on #1632
@mathisscott Some of us are simply hoping for a cross column filter feature, not necessarily the full blown feature set presented in the original feature request. Am I correct that that doesn't currently exist? That is, we're looking for something like this with a universal filter bar as opposed to column by column text filters:

[https://stateboardinsight.nasbe.org/search-results/all/2018/all/all

[2018-02-28 13:55] adityarb88 commented on #2017
@dorthrithil: Actually I think it should implement `ClrDatagridFilterInterface<User>`. Will wait for @youdz to confirm.

[2018-02-28 14:28] adityarb88 commented on #1970
Along with tslint we also need to fix clang:format. After I run clang:format, the tests take a lot longer to run.

[2018-02-28 14:41] #1681 closed

[2018-02-28 15:05] technotarek commented on #1632
Adding to my previous comment by sharing this screenshot of a prototype we're working on that uses Clarity. Note the filter elements (search and date) that live outside of the actual datagrid. These elements would need to live outside of the <clr-datagrid> component, or at least have the flexibility to fully precede the first <clr-dg-column> for independent layout placement and styling. Again, we

[2018-02-28 15:09] frankspin89 commented on #1233
I'm thinking about porting the sketch file over to Adobe XD.

Before I start, I'm wondering what your standpoint is regarding Adobe XD?

[2018-02-28 16:09] #1970 closed

[2018-02-28 16:10] #1958 closed

[2018-02-28 16:21] mathisscott commented on #1926
For NG components, need to make sure we tweak the checkboxes (for tree nodes) so that they have unique identifiers.

[2018-02-28 16:59] adityarb88 commented on #2020
@swapnilsvaidya1412: I missed the discussion that our team did earlier regarding this. We will not be adding styles which break a word to wrap into multiple lines as this might cause unexpected behavior. For more info please read this: https://github.com/vmware/clarity/issues/1146#issuecomment-313105291

We recommend that you increase the size of the tooltip to let the content fit correctly or use

[2018-02-28 16:59] #2020 closed

[2018-02-28 17:03] mathisscott commented on #1233
@reddolan covers that a couple of comments up. We don't use Adobe XD and there's no value for our company in applying resources to creating and maintaining an Adobe XD library. If the community wanted to do so, we could work out some way of providing links to community maintained projects on our website. But an Adobe XD library wouldn't be something we would maintain.

[2018-02-28 19:24] reddolan commented on #2005
Questions & comments from our meeting
- how are visually indicating that "item name" opens the detail pane?
  - use an icon in place of expand caret?
  - won't have expand and master detail in same datagrid at the same time
- where does the "item name" column header go?
- fat cell subtext isn't a11y against background color, needs to be darker
- can clicking on the identifier ever do something oth

[2018-02-28 21:34] nuba commented on #1827
How about dragging a section of a card out (splitting it) and into a new card? Or into another card?

[2018-02-28 23:55] jewway commented on #2019
I may not express clearly , I refer to the property name is misspelled in , missing word "r".

[2018-03-01 00:11] adityarb88 commented on #2019
@jewway: Apologies. I missed that. Yes ideally it should be prefixed with `clr`. I will check with @youdz if there is a reason for this or if this was just a typo. If it was a typo may be we can create a duplicate Input and deprecate this one.

[2018-03-01 05:59] Kevin2iBi commented on #1632
@mathisscott We have a project in which we are using Clarity and would like to have at least some universal filters as @technotarek  said, where it may be possible to have removal features.

[2018-03-01 06:00] Kevin2iBi commented on #1632
@technotarek this sounds interesting, what are you using for date inputs???

[2018-03-01 07:43] timvl commented on #1262
Hi, any updates on this issue? Is there a workaround?  Especially for the datagrid (https://github.com/vmware/clarity/issues/1412) we're looking for a workaround.

Thanks

[2018-03-01 08:09] h657070128 opened #2024 "[Question] Is there a way to only introduce filter but not sort for a certain column in datagrid?"
**Select one ...**  (check one with "x")
[code]
For datagrid, is there a way to only introduce filter but not sort for a certain column?
[clrDgField] introduces both filter and sort while [clrDgSortBy] introduces only sort. I cannot find a way to only use filter. I find customized filter can work around this but it's quite verbose to write customer filter for each column.

[2018-03-01 08:42] timvl commented on #1262
Hi all, I just found a workaround for the datagrid filter issue (https://github.com/vmware/clarity/issues/1412)

In your template add a template variable on the clr-dg-filter component (**#leftFilter**):
[code]
In you component, override the popoverOptions of the datagrid filter with **offsetX**:

[code]

Now the left filter in the datagrid is moved a bit to the right so that is completely visible

[2018-03-01 16:13] gnomeontherun commented on #1957
Resolved by #2012

[2018-03-01 16:13] #1957 closed

[2018-03-01 23:27] rpusarla commented on #46
Hi Team, Can you please advise if there's any update on this request ?

[2018-03-01 23:45] mathisscott commented on #46
This work is currently in-flight. We are re-working the DOM structure of form controls and then applying our changes to input fields. Selects are on the horizon. But will be sometime after input fields.

This is all work that will be in 0.12 or later. We are currently in 0.11.

[2018-03-02 00:16] hippee-lee opened #2028 "Update Build to test Clarity artifacts with AOT build of ks-app"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
`npm run build` should be tested for AOT.
The build script needs to be modified to:

- Install build artifacts in the ks-app
- run the `ng build --prod` for the ks-app
- Report if there are errors during the build phase of ks-app

### Actual behavior
The ks-app isn't automatically tested with a build for production.

### Reprod

[2018-03-02 11:37] shravansofts opened #2030 "Multi-Alert component styling issue"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The multi-alert component should render properly even if we have more than 10 alerts.

### Actual behavior
If there are more than or equal to 10 alerts, styling gets affected as shown below.
It renders properly in alert #1 and style is getting affected once we navigate next alert say alert#2.
![image](https://user-images.github

[2018-03-02 13:32] youdz commented on #2019
Yes, typo, thanks for raising this. I'm guessing that means we're missing a unit test for it too? Either that or the unit test also has a typo...

[2018-03-02 15:10] youdz commented on #2024
We try to redirect questions to Stack Overflow with the tag `vmware-clarity`: https://stackoverflow.com/questions/tagged/vmware-clarity
This helps us keep our issue tracker clean, otherwise we'd be completely overwhelmed by questions here.

That said, when you ask the same question on Stack Overflow, could you please explain your use case for having a column be represented exactly by a simple prop

[2018-03-02 15:10] #2024 closed

[2018-03-02 18:05] youdz commented on #2017
@adityarb88 is right on that one, you want to implements the interface.

[2018-03-02 22:05] chrisenn commented on #351
We need this!

[2018-03-03 06:48] SayakMukhopadhyay commented on #1976
I see as per #1787 Sun and moon is added to the icon set, mainly for theme switching as per https://github.com/vmware/clarity/issues/1787#issuecomment-357360292 . Does that mean that Light/Dark theme switching is recommended to be done by Method 2 (see original issue). If so, what should the icon represent? The current theme or the theme that can be switched to?

[2018-03-03 09:04] SayakMukhopadhyay opened #2031 "Using a button for toggling in the header doesn't use correct CSS"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

When a button is put into the header along with the `.nav-icon` class, it should have a transparent background, no border and cursor should be pointer so that it looks the same as a dropdown button or an `<a>` link button with the `.nav-link` class.

### Actual behavior

Currently using a button in the header displays a generi

[2018-03-03 10:43] aditorium opened #2032 "Size and scrollbar issues with Datagrid embedded in Card"
[code]

### Expected behavior

We have created cards which can be resized and moved around by the user. In some of these cards, we want to embed a Datagrid which is supposed to "fill" the available space (e.g. a card-block). In many cases, the Datagrid columns / rows will not fit into the available space, so I would expect to see scrollbars as follows:

- a horizontal scrollbar which moves the `da

[2018-03-03 10:58] tarquinrex opened #2033 "Angular cli build error: Error: Internal error: unknown identifier undefined at Object.importExpr$$1"
**Select one ...**  (check one with "x")
[code]
### Expected behavior
Should build with --aot and --prod flags

### Actual behavior
When doing an ng build --aot --prod it fails with error "Error: Internal error: unknown identifier undefined at Object.importExpr$$". This is resolved when I rollback to version 0.11.6.

### Reproduction of behavior

* Include a link to the reproduction scenario you c

[2018-03-03 13:58] dorthrithil commented on #2033
I had the same issue yesterday after doing an npm update. Clarity was updated to `0.11.7` by that. It took me some time to figure out that the Clarity team actually released a patch for this issue, so if you update to `0.11.7-patch.1` this error should be resolved.

[2018-03-03 16:02] hippee-lee commented on #1976
@SayakMukhopadhyay - In Jeremey's example [here](https://stackblitz.com/edit/clarity-theme-switcher?file=app%2Fapp.component.ts) he uses a drop down in the header. I've also seen a theme switcher implemented with a slider button. Either way the technique in Jeremy's example will be the same for both. If your app seems like a better fit for one or the other UI widgets for switching I'd use that.

[2018-03-03 16:19] hippee-lee commented on #2031
@SayakMukhopadhyay - You are missing a couple of things from your app. I updated your StackBlitz [here](https://stackblitz.com/edit/issue-2031-dark-theme-switcher-fix?file=main.ts).
I added in the `<clr-dropdown>` component which has the `clrDropDownTrigger` and `clrDropdownItem` directives in the right places. You can read more about Dropdowns in our docs: https://vmware.github.io/clarity/documen

[2018-03-03 16:24] hippee-lee commented on #2032
Hi @aditorium - This issue has been reported before. Please subscribe to #1217 for updates.

Additionally, I am currently implementing a pinned column feature for the Datagrid component that I believe will address issue 1217. Please keep an eye out for that.

Closing this based on the above. If you feel this issue is different please let me know.

[2018-03-03 16:24] #2032 closed

[2018-03-03 16:27] hippee-lee commented on #2033
@tarquinrex, yes @dorthrithil is correct we had to issue a patch for in improper import that breaks during aot compilation.

Here is the release note: https://vmware.github.io/clarity/news/0.11.7-patch.1

running ```npm update``` should get you the latest versions of Clarity.
Please re-open and let me know if you still have compilation issues.

[2018-03-03 16:27] #2033 closed

[2018-03-03 16:31] SayakMukhopadhyay commented on #2031
@hippee-lee My issue is that I am not looking for a dropdown. My action button will be in the header itself and not via a menu. As mentioned in my issue, I know that the dropdown is adding a class to the icon which shows the intended behaviour. I also know that using an `<a>` tag is working fine. Its `<button>` which is not.

[2018-03-03 16:33] hippee-lee commented on #2031
Ok. Sorry about that. I'll take another look.

[2018-03-03 16:33] SayakMukhopadhyay commented on #1976
So, there is no particular UX approach favoured by the team at VMware. Ok, thanks! I will close the issue then.

[2018-03-03 16:39] hippee-lee commented on #2031
Re-reading our docs we only discuss using navigation elements in the header. Pinging @reddolan or @lil-kim for UX guidance on using a button in the header for something like a theme switcher.

[2018-03-04 01:12] mathisscott commented on #1976
Hi @SayakMukhopadhyay

The Clarity UX team hasn’t made a recommendation on a theme switcher in the header. It is something that is on our radar however.

[2018-03-04 05:22] SayakMukhopadhyay commented on #1976
Thanks for the response @mathisscott . I will keep watching the repo for updates!

[2018-03-04 06:42] aditorium commented on #2032
Thanks @hippee-lee. Yes, issue #1217 describes pretty much the same problem, sorry I didn't see it before submitting a new one.

However, I still haven't found a way to make the Datagrid "fill" the available space inside of a card-block. Any ideas would be appreciated.

[2018-03-04 07:29] wghglory opened #2034 "Can Wizard add something above header?"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

I want to show a message above the wizard header. I put my markup before `<ng-template clrPageTitle>Something</ng-template>`. I expect the markup is placed before or into modal-header div.

### Actual behavior

but I noticed that the markup is in a div with modal-content.

### Environment details

* **Angular version:** 4.4.4

[2018-03-04 07:32] wghglory commented on #2034
I made a stupid question I guess. Just realized that I can put my markup inside `<ng-template clrPageTitle>`

[2018-03-05 13:23] marvinosswald commented on #145
@mathisscott any update here ?

[2018-03-05 14:19] mathisscott commented on #145
Hi @marvinosswald
The first piece of this was creating a general drag-and-drop directive. That's [in review now](https://github.com/vmware/clarity/issues/1994).

After that is completed, we will move on to applying drag-and-drop to the columns of the datagrid.

[2018-03-05 14:22] adityarb88 commented on #1424
@hippee-lee: can we close this? I believe we already updated the files with the right headers, no?

[2018-03-05 14:38] mathisscott commented on #2030
@shravansofts
What is the use case for wanting more than 9 alerts?

[2018-03-05 15:24] digitlz opened #2036 "Width of the columns not adapting to the content after changing page in datagrid"
[code]

### Expected behavior
Whenever I change the page in a datagrid the width of the columns should adapt to the width / length of the content.

### Actual behavior
The width of the columns won't adapt after the first page. On the first page everything fits just right - the columns adapt to the content. But on the next page the content may overlap if it's to long and won't break (for example if

[2018-03-05 16:49] hippee-lee commented on #2032
@aditorium
For your question about filling available space, can you create a [stackblitz](https://stackblitz.com/edit/clarity-light-theme-v11) with what you are trying to do? And, would you mind asking a question on StackOverflow and tagging it with `vmware-clarity` so it can be answer it there?

[2018-03-05 16:50] hippee-lee commented on #1424
Yep, thanks for the reminder.

[2018-03-05 16:50] #1424 closed

[2018-03-05 22:22] youdz commented on #1876
I started investigating this, and noticed you are reloading server-side objects without using `trackBy`.  That's going to be a source of many, many problems, and is heavily discouraged. See https://angular.io/guide/template-syntax#ngfor-with-trackby for more information. Using trackBy will result in much better performances and increased consistency, as you can see in this fork of your StackBlitz:

[2018-03-05 22:39] youdz commented on #2036
This is expected behavior, we had reports of bad user experience when the columns were jumping around on every page change. So the fact that we compute smart column sizes based on the data in the first page is something we do on purpose and will not change.

See my answer here for more detailed information and potential solutions: https://github.com/vmware/clarity/issues/1158#issuecomment-31368787

[2018-03-05 22:40] #2036 closed

[2018-03-06 08:35] shravansofts commented on #2030
It is a general use for any app-level alert component. Imagine a web app has a use case to show all tasks/warnings/error/licensing issues to user at app level and user has to click on take an action/acknowledge.
Having 10 alerts is quite common scenario for any app-level alerts usecase.

[2018-03-06 08:49] marcojahn opened #2038 "Datagrid clrDgSingleSelectedChange can emit wrong values"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When using Datagrid with singleselection on a remote dataset I expect the clrDgSingleSelectedChange not to fire with an NOT existing entry (when the selected entry has been deleted).
Otherwise is would like to have an option to reset the selection (did not figure out a way to do this correctly)

_We are sure that this behaviour

[2018-03-06 13:53] gomesjj commented on #2031
I am also interested in something similar, but after trying different placements I decided to go with a toggle-switch inside a dropdown menu. I just thought that having a button or toggle-switch in the header itself was a bit too conspicuous…

Of course, I had to add some css hacks to get the toggle-switch to display correctly, so it would be good if at some point we could have a native way for do

[2018-03-06 18:53] #1926 closed

[2018-03-06 19:27] gomesjj commented on #2030
That's a fairly simple fix: the CSS style for .alerts-pager has a width of 144px, but that is not enough to accommodate double-digit characters (including padding, etc.). For paging > 10 and < 20 the required width is 178px and for >= 20, it's 188px.

I am not sure how desirable the above will be, as it is getting very close to the .branding width of 204px, though.

[2018-03-06 20:02] mathisscott commented on #1939
Per @lil-kim
The ghost buttons should be changed to #0077b7

(this includes text inside the ghost button)

[2018-03-06 20:07] mathisscott commented on #934
Per UX, we will not be adding this feature to datagrid. It introduces a number of behaviors to page flow and sizing that we would consider to be anti-patterns.

[2018-03-06 20:07] #934 closed

[2018-03-06 20:14] mathisscott commented on #1067
We're moving this into our backlog of planned work along with #1468. It's not a near-term priority for us at this time as it will introduce a breaking change to datagrid.

[2018-03-06 20:15] mathisscott commented on #1067
For the design, I recommend up arrow, down arrow, and then remove arrow as the three states (per existing datagrid sort design)

[2018-03-06 20:15] mathisscott commented on #1468
For the design, I recommend up arrow, down arrow, and then remove arrow as the three states (per existing datagrid sort design)

[2018-03-07 04:11] shravansofts commented on #2030
@gomesjj
I tried to change the width as you suggested. But it is not working.
https://stackblitz.com/edit/multialert-style-issue?file=app%2Fapp.component.css

can you tell me what is missing here to use this workaround?

Thanks,
Shravan

[2018-03-07 09:43] shravansofts opened #2044 "Clarity Datagrid is not rendering in IE11"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Should render as shown in Edge browser.

### Actual behavior
In IE11:
![image](https://user-images.githubusercontent.com/12848838/37084633-108f94a6-2219-11e8-8fcf-2f5529ae888f.png)
![image](https://user-images.githubusercontent.com/12848838/37084648-1cbe3a8e-2219-11e8-9973-a81f7a98e480.png)

In Edge:
It is rendering as expected

[2018-03-07 11:55] gomesjj commented on #2030
@shravansofts
You need to be a bit more forceful to override the style a host descendant. Please see: [https://stackblitz.com/edit/clarity-light-theme-v11-3h4ejc](url)

Jose

[2018-03-07 14:32] youdz commented on #2038
Wow, I see 3 bugs here:
- The first one is the initial output which should not happen, and was apparently introduced by #1272 where an empty selection is set to `null`. We end up with a bunch of problems because of poor `null` and `undefined` juggling.
- The second one is the single selection not being emptied out when `*clrDgItems` is being used and the currently selected item disappears during a

[2018-03-07 14:34] adestis-ds commented on #1826
Would be really great to know when this can/will be implemented. Any ideas for a milestone?

[2018-03-07 14:43] mathisscott commented on #1826
@adestis-ds
It's in progress now. So sooner instead of later. What is the timeline you're looking for? I can give you an idea of whether or not it's possible in that timeframe. But I can't give you an exact date when it will be done due to shifting priorities, normal dev cycles, etc.

[2018-03-07 14:51] adestis-ds commented on #1825
Great work! Any ideas for a milestone?

[2018-03-07 14:52] adestis-ds commented on #1821
Great work! Any ideas for a milestone?

[2018-03-07 14:53] #1983 closed

[2018-03-07 14:56] adestis-ds commented on #1826
First half year 2018 would be great. However it would also be great to have it included in a roadmap to see what is your estimated timeframe. Would be good for product (feature) planning on our side. Also it would be great to have a list of (planned) components where users can easily vote. I found these design suggestions only by chance...

[2018-03-07 14:59] adityarb88 opened #2045 "[UX] Design for Invalid Dates in the Datepicker"
**Select one ...**  (check one with "x")
[code]

### Actual behavior

When the user enters an invalid date in the datepicker, the calendar opens with today's date because the entered date is invalid. But there is no indication to the user that the entered date is invalid. We need UX input on what to do in this case.

![image](https://user-images.githubusercontent.com/1426805/37099397-296efdb6-21ee

[2018-03-07 14:59] adityarb88 commented on #2045
cc: @reddolan

[2018-03-07 15:29] mathisscott commented on #1826
@adestis-ds
We are experimenting with a roadmap internally with VMware. If you are with VMware, ping me on the VMware or Clarity Slack channel and I can share that with you. We want to run the experiment for at least a quarter though to see if it stays accurate.

[2018-03-07 16:12] youdz commented on #2044
Datagrids render fine for us on IE11. You are not even giving us the code of the datagrid that's not working, we have nothing to work on here.

Please post a StackBlitz reproducing your issue before we can look into it. [Here is our StackBlitz template](https://stackblitz.com/edit/clarity-light-theme-v11).

[2018-03-07 16:15] #373 closed

[2018-03-07 16:23] adityarb88 commented on #2034
@wghglory: You will have to do this with custom CSS at your end. I have created a stackblitz which demos that: https://stackblitz.com/edit/clarity-light-theme-v11-efpgxj?file=app/app.component.css

Closing the issue based on the above info. Please feel free to reopen the issue if you have more questions.

[2018-03-07 16:23] #2034 closed

[2018-03-07 16:24] mathisscott commented on #1825
@adestis-ds
This isn't on our roadmap for the near term. What is your use case for it and when were you looking for it to land?

[2018-03-07 16:25] mathisscott commented on #1821
@adestis-ds
This isn't on our roadmap for the near term. What is your use case for it and when were you looking for it to land?

[2018-03-07 16:26] adityarb88 commented on #2034
The wizard page title itself is at the top and since the content is projected at the top, you can project the header using the page title. You will just have to make sure that the CSS is adjusted to your needs. The extra header above the title won't be supported in Wizards by default.

[2018-03-07 17:11] reddolan commented on #2045
It would be good to figure out decent solution to this

[2018-03-07 18:44] jeeyun commented on #1939
@lil-kim could you recommend a color for the success outline button as well? That one also fails the color contrast ratio at the moment.

[2018-03-07 19:21] lil-kim commented on #1939
@jeeyun
Color for Success outline button (and text) #308300

[2018-03-07 20:04] luis-cortina opened #2048 "Responsive design using other libraries."
I want to create a web app that will adapt to different devices by showing different contents or showing the same data in different ways(i.e on a desktop browser I will display a Datagrid, if mobile a list of Cards with the same information).

I was looking how to hide content based on the screen size with angular and found this library:
https://github.com/ManuCutillas/ngx-responsive

I wanted to

[2018-03-07 21:14] gomesjj commented on #2030
@shravansofts

I am sorry, but it seems the link above is not working as it should… But anyway, the reference from @adityarb88 makes much more sense, and I should have thought of that. Adding the "white-space: nowrap" style is way better than increasing the width of the component.

Please see this updated plunker [stackblitz](https://stackblitz.com/edit/clarity-light-theme-v11-3h4ejc?file=app%2Fap

[2018-03-08 01:37] #2028 closed

[2018-03-08 05:36] nithinkarthik6 opened #2050 "Checkbox tree error"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Check box tree should appear without any error
### Actual behavior

Tree view is appearing properly but when i use [(clrSelected)] input on the root node it shows a error Can't bind to 'clrSelected' since it isn't a known property of 'clr-tree-node'.
1. If 'clr-tree-node' is an Angular component and it has 'clrSelected' input,

[2018-03-08 06:14] gudelian941 opened #2051 "How to let row col layout be resizable"
Hi ,
  I use row and column to be the layout of my page,  there is only one row and this row has two column,
I want to know how to let the column be resizable, now their width can't be modified by dragging

[2018-03-08 10:45] adestis-ds commented on #1825
Same use case as for #1826 and #1821. Basically we have a product catalog where the groups are displayed as a tree (left side) and the products within the groups are within a grid (right side). Looks exactly as in your design preview. We need drag and drop functionality in order to reorder groups within the tree (or place groups in other groups), to reorder the products within a group (there is by

[2018-03-08 10:45] adestis-ds commented on #1821
See comment in #1825

[2018-03-08 14:08] adityarb88 commented on #2051
@gudelian941: We recommend that you file the issue following the issue template. Your issue description has no code snippets and no information about the version of Clarity you are using. Without that its not possible for us to triage the issue.

It looks like you are using the CSS grid. The CSS grid columns do not support drag and drop.

Closing the issue based on the above info. Please feel free

[2018-03-08 14:08] #2051 closed

[2018-03-08 14:09] adityarb88 commented on #2050
@nithinkarthik6: Which version of Clarity are you using? Also, can you provide a stackblitz which replicates your issue?

[2018-03-08 14:19] adityarb88 commented on #2048
@luis-cortina: Could you please ask this question on StackOverflow with the `vmware-clarity`, `angular`, `html` and `css` tags because your question is about responsiveness in general and there could be multiple approaches to do that. We monitor StackOverflow regularly and will respond back to you there.

Also, please provide a StackBlitz so that the community can use that to recommend solutions t

[2018-03-08 14:19] #2048 closed

[2018-03-08 17:55] #1939 closed

[2018-03-08 20:06] Shijir opened #2052 "Improvements and Changes for Clarity Icons"
- [ ] Once we move icons to `core-set` from another, we should just remove them from their old sets. We don't need to wait until the next breaking change to do the removal.

- [ ] As every shape and sets are exportable modules now, we could do export everything from `clr-icons/index.ts` as such:

[code]

This will allow users to import everything from `@clr/icons`. So it will look like:
[code]
The

[2018-03-08 20:25] KANekT commented on #1985
How long will this feature be developed?

[2018-03-08 21:26] mickeyevers77 opened #2053 "clrVerticalNavCollapsed"
How do you start with a collapsed view instead of showing full navbar inside a clrVerticalNavCollapsed?

[2018-03-08 21:29] adityarb88 commented on #2053
@mickeyevers77: Could you please file the issue again using the issue template? The issue template is provided to you when you open a new issue. Please make sure to attach a stackblitz or a screenshot which describes the issue. Without these details its difficult for us to triage the issue.

Thanks!

[2018-03-08 21:29] #2053 closed

[2018-03-08 21:40] mickeyevers77 opened #2054 "clrVerticalNavCollapsed"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I want to use the vertical nav with images. When I open the page I want to start the vertical nav as collapsed. I use (clrVerticalNavCollapsed)]="collapsed"

### Actual behavior
What happens is that when I open the page the vertical nav starts unfolded

### Reproduction of behavior

### Environment details

* **Angular version:

[2018-03-08 21:43] adityarb88 commented on #2054
@mickeyevers77: Is this what you are looking for? https://stackblitz.com/edit/clarity-light-theme-v11-lvluiy?file=app/app.component.html

[2018-03-08 21:45] mickeyevers77 commented on #2054
thanks! @adityarb88

[2018-03-08 21:47] #2054 closed

[2018-03-08 21:54] rbirkgit opened #2055 "Support other date delimiters in new date control"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Would be nice to support other date delimiters than "/". Sweden for example use "-" and Germany ".'

### Actual behavior
Right now only "/" is supported.

### Reproduction of behavior

### Environment details

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web

[2018-03-08 22:06] adityarb88 commented on #2055
@rbirkgit: Thanks for filing the issue!

I see that the date format which is retrieved from Angular for locale `sv` is `y-MM-dd` (https://github.com/angular/angular/blob/master/packages/common/locales/sv.ts#L40)
and for `de` is `dd.MM.yy`
(https://github.com/angular/angular/blob/master/packages/common/locales/de.ts).

I want to verify if we can use the delimiter in this format to display dates in

[2018-03-08 22:07] mathisscott commented on #1827
Hi @nuba
That would be an enhancement that we would consider later – after we have implemented the the basic functionality of dragging and dropping whole cards.

[2018-03-08 22:15] mathisscott commented on #1825
Hi @adestis-ds
Our drag-and-drop work is focused primarily on the initial MVP deliverable. That work can be tracked here in #145.

I'm very confident that we will get the initial deliverable in place in your time frame. But I can't commit us to delivering both #1821 and #1825 in time for you to introduce it into your product in a stable fashion by May or June. I can say with high confidence that d

[2018-03-08 22:15] mathisscott commented on #1821
See [comment here](https://github.com/vmware/clarity/issues/1825#issuecomment-371643095)

[2018-03-08 22:27] mathisscott commented on #1985
@KANekT
At present, this feature is the very next one on our list for the date picker family.

We are wrapping up the date picker MVP work right now and we will have a few cycles where we focus on stabilizing that code (if we need to).

We have other new components that require our attention but I'm confident we will be revisiting this one after them. As far as how long it would take to build the

[2018-03-09 00:41] s6joui opened #2056 "Date picker: deliver date in consistent format using ngModel"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Change the date format to 'yyyy-mm-dd' instead of current locale format when using ngModel.

The main reason is that the HTML5 date input always returns the date in this format so existing apps that implement the default HTML5 date input can easily replace it with the new clarity date picker by just adding 'clrDate'. With the

[2018-03-09 01:12] bdunkz commented on #1907
@svvac - when you mention the component does not react to the removal of an alert, how are they being removed?  Clicking close on the alert should cause the index to be updated.  Resetting the index to 0 does seem like it could be an issue though.

[2018-03-09 01:14] adityarb88 commented on #2056
@s6joui: You can add a binding on `clrDate` to get the Javascript Date object directly without any conversion.
Demo: https://stackblitz.com/edit/clarity-light-theme-v11-6gls7q?file=app/app.component.html

I will consult with about the `ngModel` case with @youdz and get back to you.

[2018-03-09 04:57] shravansofts commented on #2044
@youdz I resolved the issue by changing the layout of the page.
class="content-container" is imposing the display:flex which causes some issues with my layout.
Please close this issue.

Thanks,
shravan

[2018-03-09 05:45] svvac commented on #1907
I populate my `<clr-alerts>` with a `ngFor` that collects alerts from various parts of the app. The problem appears when such an alert gets removed and the list iterated by `ngFor` shrinks.

[2018-03-09 19:12] #2044 closed

[2018-03-09 19:20] youdz commented on #2056
@s6joui: I just tried `<input type="date">` + `ngModel` in Safari, which doesn't have a native date input implemented. It treated the input like any text input, and instead of returning 'yyyy-mm-dd', it just returned what I typed (in my case, 'mm/dd/yyyy'). Have you ever tried your code that relies on the  'yyyy-mm-dd' in Safari? It looks like it wouldn't work at all.

[2018-03-09 20:40] s6joui commented on #2056
@youdz my app runs on electron so I haven't tried it on Safari but I assume it would crash if they don't support date inputs.

I still think it would be nice if we could have `ngModel` deliver a consistent format. Getting the localized format is not something that can be useful IMO. Usually we want the user to see the date in their local format but when we retrieve it to save it somewhere we want

[2018-03-09 21:18] mmarcelomartins opened #2058 "Support date picker with label wrapper for validations"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Would be nice to support the label wrapper for validations purposes.

### Actual behavior
I put a label wrapper and some actions in date picker popover (choose year and choose month) make popover disapear.

### Reproduction of behavior

### Environment details

* **Angular version:** 5.2.8

* **Clarity version:** 0.11.8

* **OS

[2018-03-09 21:24] adityarb88 commented on #2058
@mmarcelomartins: I did not understand the popover disappearing part. How did you add a label wrapper and actions in the popover? Could you please provide a StackBlitz or a code snippet so that we can replicate the issue?

For the validation part, we already have tagged this for our UX team to take a look at. Please subscribe and take a look at this issue for more information: https://github.com/v

[2018-03-10 09:34] pumano opened #2059 "Possibility to choose datagrid action overflow column place"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Possibility to choose column place for datagrid action overflow. According to my idea, I want to use that action overflow as latest column in data grid. Could you provide any settings for it?
### Actual behavior

Currently it use first column, or if selected = true it's second column.
### Reproduction of behavior

<img width="

[2018-03-10 14:04] wghglory commented on #2034
@adityarb88 Thanks so much! This is very helpful.

[2018-03-10 17:08] mmarcelomartins commented on #2058
@adityarb88 :  Follow the code snippet https://stackblitz.com/edit/angular-plvqqn, In my project i add custom css for the validation messages appear (for now), so in the code snippet you don't see any validation messages.
The popover disapear when i click for select the year or the month. In Microsoft Edge and in the Firefox Quantum works as expected, only fails in Google Chrome.

[2018-03-10 17:13] adityarb88 commented on #2058
@mmarcelomartins: I see what you mean. Let me take a look at this and get back to you. Thanks for the StackBlitz!

[2018-03-10 18:15] shravansofts opened #2060 "How to iterate and display multiple column wise detail rows for an expanded row?"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I want to show row(parent) and its related children in expanding row as shown below:
![image](https://user-images.githubusercontent.com/12848838/37250390-776f201e-2521-11e8-972a-70dc8094e264.png)

### Actual behavior
Using custom component and ngProjectAs="clr-dg-row-detail" syntax it is not possible to loop.

Issue link
https:

[2018-03-11 09:17] aditorium commented on #2032
@hippee-lee
FYI, I have posted the question on [StackOverflow](https://stackoverflow.com/questions/49218439/datagrid-how-to-fill-available-space-inside-card-block)
 (including a link to the StackBlitz example)

[2018-03-11 19:20] gomesjj commented on #2060
@shravansofts  I am not sure how the "my-detail" component would generate a loop on its own, but an ng-template with ngFor works just fine. See [this](https://stackblitz.com/edit/clarity-datagrid-row-expand-iterate-issue-bnumse?embed=1&file=app/app.component.html).

Please correct me if I've got the wrong end of the stick…

Jose

[2018-03-11 23:17] Magister opened #2061 "Programmatically control DatePicker popup"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Need possibility to trigger datepicker programmatically, for example to make it pop-up when user clicks on date field, or presses a hotkey.
Also, it would be great to make auto-created calendar button skip keyboard navigation.

The main purpose is to speed up form processing, consider following example: user navigates to field,

[2018-03-11 23:40] Magister opened #2062 "Cannot close DatePicker popup with keyboard"
[code]

### Expected behavior
Pressing `<Esc>` key should close popup and do not select any date.

### Actual behavior
`<Esc>` key do not close popup, the only way to do that with keyboard is to select some date.

### Environment details

* **Angular version:** 5.0.1

* **Clarity version:** 0.11.8

* **OS and version:** Debian 9

* **Browser:** Firefox 58.0.1

[2018-03-12 01:09] adityarb88 commented on #2062
@Magister: Thanks for raising this issue. I have added this enhancement to our backlog.

[2018-03-12 01:10] adityarb88 commented on #2061
@Magister: I am going to tag our UX team to take a look at this ticket. They will get back to you soon. Thanks!

cc: @reddolan

[2018-03-12 01:12] adityarb88 commented on #2061
We definitely do not want to open the date picker popover while the input is focused because if a user is typing the input, we do not want the popover to open unnecessarily. This decision was made by our UX team while designing the date picker and they can provide more info on this. But I do think that it would be nice to have a keyboard shortcut to open the date picker popover. Let's check what o

[2018-03-12 04:08] shravansofts commented on #2060
@gomesjj Thanks for the workaround.
my-detail component had the ngFor directive inside its .html file.

But how could we make it work using a custom component for the same?
Let's say I got the below usecase in future. I have to show some info after children as shown below:
![image](https://user-images.githubusercontent.com/12848838/37265297-80660c5c-25d8-11e8-8608-e706ec5f828d.png)
Which could be

[2018-03-12 07:25] gomesjj commented on #2060
@shravansofts I see what you mean now.

Somehow I missed the app.detail.component.html file… The only issue you had there was the wrong ngFor syntax used on an ng-template. [This](https://stackblitz.com/edit/clarity-datagrid-row-expand-iterate-issue-hnabrs?file=app%2Fapp.component.html) is what you need.

[2018-03-12 07:43] Magister commented on #2061
I understand, that's why I'm asking about API so I can do that myself, if my users need such behavior.

[2018-03-12 09:30] nithinkarthik6 opened #2063 "Not able to create Tabs within Tabs"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Tabs within tabs
### Actual behavior

Not able to create tabs within tabs .
Can you give me an alternative for TabLink as it is not found when i update to 'clr/angular' from clarity-angular
### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

[2018-03-12 09:45] nithinkarthik6 commented on #2050
Updating to latest version of clarity helped me but TabLink component is removed in version 0.11.0v what is the alternative to create tabs inside a tab?

Thanks in advance

[2018-03-12 13:25] adityarb88 commented on #2050
@nithinkarthik6: You need to provide us with more info (StackBlitz which replicates the issue or a code snippet) for us to be able to help you. Without the code we don't know what exactly you are trying to do.

[2018-03-12 13:32] adityarb88 commented on #2063
@nithinkarthik6: Could you please add a Stackblitz or a code snippet which replicates the issue that you are facing? Without that its very difficult for us to be able to help you.

Please take a look at this Stackblitz for an example of tabs in tabs: https://stackblitz.com/edit/clarity-light-theme-v11-tpgpbb?file=app/app.component.html It works as expected.

[2018-03-12 14:04] adityarb88 commented on #2060
@gomesjj: Thanks for taking the time to answer the debug the issue! We really appreciate it.

@shravansofts: I believe you could also use `ng-container` inside of the `my-detail` component:
[code]

Closing the issue based on the solution provided by @gomesjj. @shravansofts please feel free to reopen the issue if you have more questions. Also another good place to ask `how to` questions is on Stack

[2018-03-12 14:04] #2060 closed

[2018-03-12 14:08] adityarb88 commented on #2059
@pumano: The same question was answered in this issue: https://github.com/vmware/clarity/issues/927. Please take a look at #927 for more info regarding this and post any additional questions/feedback that you might have over there. Thanks!

[2018-03-12 14:08] #2059 closed

[2018-03-12 14:21] pumano commented on #927
@jaffoneh I don't agree about not use datagrid ellipsis overflow as latest column. From UX point of view in any operation system or app style guides ellipsis used as latest button or as plain button with meaning "more". For example check native design guidelines: Android, BlackBerry OS 10 and etc.

Also you can check real world examples on dribbble.com using search keyword "edit table".

I also wa

[2018-03-12 15:19] youdz commented on #2056
If `ngModel` has inconsistent behavior across different browsers, there is little we can do, not mentioning the fact that it's probably not our job to fix it (hacking into it might create problems when upgrading to future versions of Angular).
Your case is also very particular since it's an Electron app, no actual web application can hope to get a string for a date given the differences between br

[2018-03-12 15:25] adityarb88 commented on #2058
@mmarcelomartins: I took a look at this and this will be resolved with the new forms refactor: https://github.com/vmware/clarity/issues/932 This will introduce a new design for validation. @gnomeontherun is current working on the new forms.

[2018-03-12 15:41] nithinkarthik6 commented on #2063
Thanks for sharing the link of example of tabs. It worked fine.
Thanks for the help

[2018-03-12 15:42] #2063 closed

[2018-03-12 15:42] shravansofts commented on #2060
@gomesjj Thanks a lot man!
@adityarb88 thanks for the tip on ng-container and stackoverflow. :+1:

[2018-03-12 15:43] nithinkarthik6 commented on #2050
Upgrading to latest version of clarity-designed helped me solve the issues. Thank you :)

[2018-03-12 15:43] #2050 closed

[2018-03-12 15:49] shravansofts commented on #1632
Waiting for this component! :+1:

[2018-03-12 23:28] sdurnov commented on #674
Am I understanding this correctly? Is this issue about "stacked columns", when 2 or more columns are grouped under the common header?
If yes, than I must say this is top 1 feature that prevented us using Clarity in our enterprise app.
I was able to almost get it working - "stacking" itself is working - just put columns and cells in a nested way + minor CSS fixes. But cells width isn't being adjust

[2018-03-12 23:32] sdurnov commented on #351
This is not a question of life and death, but lack of this feature contributed a lot to going with Kendo for enterprise app. This is really sad, as Kendo controls are much slower, harder to set up and UI is far behind..

[2018-03-13 05:10] kalpeshhpatel commented on #2013
Hey there, do we have any update for this?

Thanks

[2018-03-13 05:47] shravansofts commented on #2060
@adityarb88 We are using clarity for vCenter plugin development.
When we are using the inline/custom component syntax and doing a data refresh event.
This cannot be replicated in standalone mode(stackblitz). It is showing in vCenter plugin.
We are getting the following error. Can you have a look at actual clarity implementation for any null check missing?

![image](https://user-images.githubuserco

[2018-03-13 09:09] marcojahn opened #2066 "Trying to change $clr-breakpoints but does not apply"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Defining a SASS map for $clr-breakpoints should take affect.
[code]

### Actual behavior
Changing the breakpoint with the map above does not have any effect. col-xl-* breakpoint still is at 1200px

### current integration ###
[code]
another idea was to do it sometime later
[code]

### Environment details

* **Angular version:**

[2018-03-13 11:26] jeado commented on #2013
@gnanasekhar504 but there is no key. listName is a string not a object

[2018-03-13 13:41] adityarb88 commented on #2066
cc: @hippee-lee Could you please take a look at this?

[2018-03-13 14:17] youdz commented on #2060
@shravansofts: This error indicates you are somehow destroying the row before it even had time to initialize. In other words, you're creating a row, and then halfway through the initialization lifecycle, you destroy it immediately. That's something that should not happen, and reveals that there is a problem somewhere in your app.

We had a similar issue a while back, with someone wanting to add ex

[2018-03-13 17:34] reddolan commented on #2061
Having the additional hot key could be useful. We need to look at this in a more holistic manner, across all popovers.

It's also worth mentioning that adding the hot key isn't actually saving key strokes, as it would still take two key strokes `alt + down-arrow`. Currently it is `tab` to the icon and `enter` to open.

[2018-03-13 17:40] Magister commented on #2061
@reddolan single-key hotkey, such as `<F4>` will save a keystroke. And even if use `<Alt> + <Down-Arrow>` as you mentioned, it will save time - as it's faster to press `<Alt> + <smthn>` than a two-key sequence - because there will be some minimal delay between them.

And one more time, I want to emphasize that this issue is about **API**, not some pre-defined things.

[2018-03-13 23:02] reddolan opened #2069 "Sketch Library updates"
[code]

### Expected behavior
- [x] updated UI Libraries (light, dark)
- [x] updated Icon Library
- [X] update version numbers on download buttons - on [Get Started page](https://vmware.github.io/clarity/documentation/v0.11/get-started)

### Updates
- [x] Add Button Dropdown
- [x] Add Button Dropdown DT
- [x] Button color changes #1939
- [x] App-Level Alerts - resizing issues
- [x] App-Level Alert

[2018-03-14 03:18] jewway opened #2071 "[SASS] Clarity main.scss can't found bootstrap normalize.scss file"
**Select one ...**  (check one with "x")
[code]
### Actual behavior
Bootstrap v4.0.0-alpha.5 can't find normalize.scss file , maybe the change dependencies.clarity.scss to refer bootstrap-sass repository ([bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss](https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_normalize.scss)) .

### Environment details

* **Ang

[2018-03-14 06:14] jewway commented on #2071
Sorry, i solved by reference the theme of patterns page.

![image](https://user-images.githubusercontent.com/3501899/37386043-a119cdca-2791-11e8-96c1-7594a733bd97.png)

[2018-03-14 07:30] icepeng commented on #372
Chart elements would fit great with Clarity. +1 to @TekSiDoT

[2018-03-14 08:13] Kevin2iBi commented on #474
We are waiting for Datetime component!!

[2018-03-14 10:59] ph55 commented on #474
Regarding the range picker.
http://www.daterangepicker.com/ is the best range picker in terms of UX in my opinion.

The concept of preset ranges along with custom range in same pop-up is very productive I think.
Worth to implement.

![image](https://user-images.githubusercontent.com/1386622/37398487-5f475336-2787-11e8-9736-d1fd71ee981d.png)
![image](https://user-images.githubusercontent.com/138662

[2018-03-14 13:25] marcojahn opened #2072 "Datepicker locale support and separator for locale "DE""
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The application locale setting causes the clrDate picker to respects the correct separator for locale "DE" to be the correct format ("dd.mm.yyyy" instead of "dd/mm/yyyy")

I think one of the following solutions could be done
1. clrDate uses the correct separator for each locale
2. date format can be configured (using attribute

[2018-03-14 13:26] adityarb88 commented on #2072
@marcojahn: We already have an issue filed for this. Please subscribe to https://github.com/vmware/clarity/issues/2072 for more info. Thanks!

[2018-03-14 13:26] #2072 closed

[2018-03-14 13:30] marcojahn commented on #2072
which one is the duplicate ?
https://github.com/vmware/clarity/issues/2056 ?

[2018-03-14 13:31] adityarb88 commented on #2072
@marcojahn: #2055

[2018-03-14 14:44] youdz commented on #1150
@hippee-lee: Can you check if your datagrid template work fixes this? If it does, please link the issues. 👍

[2018-03-14 15:37] hippee-lee commented on #1150
@youdz - correct this issue is on my list that will be fixed by #1586. The footer will no longer scroll with the headers/rows and the scrollbar will be moved up into the container that scrolls on the x-axis above the footer.

[2018-03-14 16:39] KANekT commented on #2055
in russian date format dd.MM.y

[ru.ts](https://github.com/angular/angular/blob/master/packages/common/locales/ru.ts)

[2018-03-14 20:31] joshjohnson72 commented on #474
I agree with Alex in regard to the need for a date range selector and preset ranges.  I will, however, note that the use cases will likely dictate people's affinity for various designs.  In his case, it appears that ranges that span months are most common, hence the need for separate calendars for start and end and no concept of time.

In my case as a counterpoint, ranges spanning months are rare

[2018-03-15 00:44] marztierney commented on #1137
I also ran into this issue, having it in the data-grid documentation section would of made the process quicker.

[2018-03-15 06:03] nithinkarthik6 opened #2076 "How to define the contents of tabs in different files?"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Fetch the contents of the tabs from different files and display in main screen
### Actual behavior

I have 4 tabs in my main screen. I have defined the contents of these tabs in main screen only. But since the contents of each tab are larger i now want to define them in different files and fetch the content from these individu

[2018-03-15 13:11] adityarb88 commented on #2076
@nithinkarthik6: It looks like this question has more to do with Angular than with Clarity. Could you please ask this question on StackOverflow with `angular`, `vmware-clarity` tags? Please provide a replication of your question on StackBlitz so that its easier for the StackOverflow community to answer you. Here is a StackBlitz that you can fork: https://stackblitz.com/edit/clarity-light-theme-v11

[2018-03-15 13:11] #2076 closed

[2018-03-15 14:51] plamens opened #2077 "Tooltips not visible in a tree"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Tooltips over icons in a tree view are visible.

### Actual behavior
Tooltips over icons in a tree view are not visible.

### Reproduction of behavior
https://stackblitz.com/edit/clarity-light-theme-v10-pqvbeh

The tooltip seems to be hidden, because of the **overflow-y: hidden;** on the clr-tree-node:
https://github.com/vmware

[2018-03-15 14:58] adityarb88 commented on #2077
@plamens: You need to use the Angular tooltip component to make sure that the tooltip is not clipped. Please refer to this Stackblitz for more info: https://stackblitz.com/edit/clarity-light-theme-v10-payxyx?file=app/app.component.html

[2018-03-15 14:58] adityarb88 commented on #2077
Closing the issue based on the above. Please feel free to reopen the issue if you have more questions.

[2018-03-15 14:58] #2077 closed

[2018-03-15 16:18] hilldaniel opened #2079 "Clarity Documentation Website: On Datagrid page, link to Tables is broken"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Link to Tables page in last paragraph on the data grids page should function

### Actual behavior
404 error

* **Browser:** [Chrome & Safari]

[2018-03-15 21:30] hippee-lee commented on #2066
Thanks for reporting this. It looks like I put `@import "maps.clarity";` in the file that aggregates components so its after both the dependencies and the theme file / overrides if one is doing that.

I'll need to move it up and make sure that everything still works.

[2018-03-16 04:11] sujatharanganathan opened #2080 "Issue with row selection in datagrids with filters"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

This issue is regarding selection in datagrids. Consider a datagrid with filtering option.
1. Select a row.
2. Use the filter to type something.
3. The filtered rows are shown.
4. If the selected rows is there in the filtered result then the selection should be maintained.
5. If the selected row is not there in the filtered re

[2018-03-16 04:24] sujatharanganathan commented on #2080
Yes indeed

[2018-03-16 06:49] shravansofts commented on #2060
@youdz Please find a sample angular project(based on plugin-seed 0.9.8 by [vmware](https://labs.vmware.com/flings/vsphere-html5-web-client?download_url=https%3A%2F%2Fdownload3.vmware.com%2Fsoftware%2Fvmw-tools%2Fvsphere_html_client%2FHTML+Client+SDK+Fling+Overview+and+Release+Notes-6094542.pdf#changelog)) that and implemented a sample Users Listing with datagrid row expand feature.
Now as a standa

[2018-03-16 12:09] jokarmus opened #2081 "Datagrid sliders are visible in dropdown content"
[x ] bug
[ ] feature request
[ ] enhancement

### Expected behavior
Opened dropdown covers all content behind dropdown content.

### Actual behavior
Datagrid column sliders are visible in the content of opened dropdown.

### Reproduction of behavior
[reproduction](https://clarity-light-theme-v11-ws4u44.stackblitz.io/)

![sliders-dropdown](https://user-images.githubusercontent.com/37440709/37519757

[2018-03-16 13:19] jokarmus opened #2082 "Modal opened in user-defined component placed in ClrDatagridActionBar has wrong background overlay and placement"
[x] bug
[ ] feature request
[ ] enhancement

### Expected behavior
Opened modal in the middle of app with all page background overlay.

### Actual behavior
Modal opened in the middle of ClrDatagridActionBar with bagkround overlay only in ClrDatagridActionBar.

### Reproduction of behavior
[reproduction](https://clarity-light-theme-v11-iz8gc3.stackblitz.io/)

![modal-overlay](https://user-images.gi

[2018-03-16 13:35] adityarb88 commented on #2081
@jokarmus: This looks like a duplicate of this issue: https://github.com/vmware/clarity/issues/1631

Please subscribe to #1631 for more updates. For now, would it be possible for you to place the dropdown outside of the datagrid? https://stackblitz.com/edit/clarity-light-theme-v11-qyt5ab?file=app/app.component.html

Closing this as duplicate.

[2018-03-16 13:35] #2081 closed

[2018-03-16 13:37] adityarb88 commented on #2079
@hilldaniel: Thanks for reporting this. We will get this fixed soon.

Link: https://vmware.github.io/clarity/documentation/v0.11/datagrid/structure

![image](https://user-images.githubusercontent.com/1426805/37523534-9f0cdcbc-28fd-11e8-9857-7c9b00c8ff70.png)

[2018-03-16 13:43] adityarb88 commented on #2080
@sujatharanganathan: This is a duplicate of #1963 like @brinton-chand pointed out above. We will not be changing this as this is the expected behavior. For more details, please see this comment: https://github.com/vmware/clarity/issues/484#issuecomment-285419495

[2018-03-16 13:43] #2080 closed

[2018-03-16 13:43] adityarb88 commented on #2080
Please feel free to reply back with your questions/feedback on #484

[2018-03-16 13:45] adityarb88 commented on #2082
@jokarmus: This one too looks like a duplicate of this issue: #1631. Please subscribe to #1631 for more updates.

[2018-03-16 13:45] #2082 closed

[2018-03-16 13:51] jokarmus commented on #2082
@adityarb88
It is not a problem with visible items in front of the modal, this is a problem with **placement** and **background overlay** in ClrDatagridActionBar.  It is not a duplicate of #1631. Please reopen the issue.

[2018-03-16 14:02] adityarb88 commented on #2082
@jokarmus: I can definitely reopen the issue but I think the source of this issue is within `clr-dg-action-bar`. This issue is linked to #1631, and when we start to work on that, we will test both the dropdown and the modal use case you provided to us. If one the dropdown is fixed and this is not, then I will reopen this issue so that we can resolve this too.

[2018-03-16 15:19] youdz commented on #2060
@shravansofts: Both this error and the one before don't seem to be Clarity errors, they're due to an issue in the app's code. On top of that we can't download, install and build projects just to debug them, that would take way too much time.

Because of this, I recommend you ask your question on StackOverflow with the tag `vmware-clarity`, with a StackBlitz reproducing the issue. There is absolute

[2018-03-16 16:09] shravansofts commented on #2060
@youdz how do you say it is not clarity bug?
if I comment <user-row-detail [children]="user.child" ngProjectAs="clr-dg-row-detail"> line.
It's working fine.

As I need to have a rest api server, I had done as a standalone project.
I don't think it will take days of your time to download and run.

[2018-03-16 16:27] gnomeontherun commented on #2060
The best way to report bugs is with a simple isolated StackBlitz. You don't need a server, replace that with static data. It took me 5 minutes to do, and I concur with @youdz that it is not an issue with Clarity but with your lifecycle management of your components. I'd start by reviewing your observables and any async behaviors.

https://stackblitz.com/edit/clarity-light-theme-v11-7e6mxm?file=app

[2018-03-16 16:29] gnomeontherun commented on #2058
Yes, this will be part of the new forms layout and we won't probably be able to support this in the current 0.11 branch. I suggest for now that you apply your own validation messaging or wait for the new forms.

[2018-03-16 16:42] shravansofts commented on #2060
@gnomeontherun Thanks for looking into it. I had done the same thing without service call and in-build refresh mechanism(say a refresh button which fetches and updates data) which works fine as yours and the error occurs on click of next page.

This seed is given by VMware itself. I had followed the same way of observable how other components(monitorComponent) are there in seed project. Please let

[2018-03-16 17:59] gnomeontherun commented on #2060
The seed is most basic, it doesn't even have Observables https://github.com/vmware/clarity-seed/search?q=Observable&type=Code&utf8=%E2%9C%93 so I'm not sure what exactly you're pointing to.

We cannot spend time triaging people's applications, but this error usually means you are changing the value of something twice, so look at your logic for refreshing the page contents for any place you might b

[2018-03-16 18:06] shravansofts commented on #2060
I'm talking about vmware plugin seed.
https://labs.vmware.com/flings/vsphere-html5-web-client?download_url=https%3A%2F%2Fdownload3.vmware.com%2Fsoftware%2Fvmw-tools%2Fvsphere_html_client%2FHTML+Client+SDK+Fling+Overview+and+Release+Notes-6094542.pdf#changelog

[2018-03-16 19:17] gomesjj commented on #2060
@gnomeontherun I am not disagreeing with your stance and I think that @shravansofts could have provided a better plunker for troubleshooting. But, to be fair, from my tests so far I have noticed that the errors only occur when pagination is enabled and the clr-dg-row-detail is part of a different component. That occurs whether the data is static or not...

I haven't been able to fully troubleshoot

[2018-03-16 19:55] mviger opened #2083 "Server-driven datagrid selection not preserved when all rows are selected via header checkbox"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Header checkbox select should select currently displayed rows and track the selection of those rows.

### Actual behavior
Header checkbox select selects all rows currently displayed, but does not track them.

### Reproduction of behavior
**Stackblitz:** https://stackblitz.com/edit/clarity-serverdatagrid-header-trackby

Check he

[2018-03-17 08:35] kathygit opened #2084 "Test of datagrid custom filter errors out"
[code]

### Expected behavior
Test should not error out.

### Actual behavior
Console throws error:
Error: No provider for FiltersProvider!

### Reproduction of behavior
component class:
[code]
Test file:
[code]
### Environment details

* **Angular version:** angular/core: "^4.4.6"

* **Clarity version:** 0.10

* **OS and version:** Mac Sierra

* **Browser:** Chrome

[2018-03-17 19:54] asgerjensen opened #2085 "clr-dg-pagination should not set clrDgPage on destruction"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

I should be able to bind to `clrDgPage` and only have it change when user clicks something.

Specifically, I am binding it to a global data service, so having it stay on the last selected value, allows user to return to a view without having to page forward again.

### Actual behavior

During destruction, the pageNumber bindin

[2018-03-19 09:02] jaypillai commented on #1963
But this contradicts the reason why we should have filters in the very first place. In this scenario where we have multi selection with pagination, the user selects a row from page 1 and then wants to selects some other data from page 11, he uses filters to get that row, after selecting the row, the initial selection is removed. This is defineltely a bug. Not sure whu this is made the default beha

[2018-03-19 13:34] youdz commented on #2083
My guess is you are not using the `trackBy` option with your objects fetched from the server, but there is no way of knowing for sure with what you posted. Please post a StackBlitz reproducing your issue so we can investigate.

[2018-03-19 13:41] youdz commented on #2084
You are declaring one of our components as a provider in your tests, which doesn't make sense since Angular won't be able to instantiate it as a provider.

You have 2 options:

1. Mock `DatagridFilter` with a class that simply offers a dummy `setFilter(filter)` method, and declare it as your provider in the testing module:
[code]
2. Have your test component include the `<clr-dg-filter>` wrapper.

[2018-03-19 13:47] youdz commented on #2085
This is a duplicate of #2016 and #1099.

As mentioned in these issues, we are currently blocked because of an Angular bug and there is no workaround we can implement until it is fixed. We can't even provide you with a time estimate, it's fully out of our hands.

[2018-03-19 13:47] #2085 closed

[2018-03-19 15:18] gomesjj commented on #2060
@shravansofts I have added an answer to your question on StackOveflow.

[2018-03-19 15:37] realcnbs opened #2086 "Allow disabling filter for a datagrid column"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Allow some kind of switch to disable filtering for a column when using clrDgField. Currently facing a situation when i don't need filtering on columns, just the sorting.

### Actual behavior
When using clrDgField both sorting and filtering is enabled by default

### Reproduction of behavior
https://stackblitz.com/edit/clarity-l

[2018-03-19 15:38] digitlz commented on #1183
Having the same issue as described by @whizkidwwe1217 . Are there any updates to this? I'm using Angular 5.2.1 and Clarity 0.11.5 .

[2018-03-19 15:45] gnomeontherun commented on #1963
That might be true in your case, but it makes assumptions that the user will understand that non-displayed items are still active. Our reasoning is that it is detrimental to UX  if you select something and then are able to hide it. If you are deleting a set of records, and the filter shows only 3 items but 5 more are selected but hidden, what does the Delete button do?

Also reference this https:/

[2018-03-19 17:39] hippee-lee commented on #1183
Hi @digitlz - I'm working on several other datagrid issues that need to be addressed for the pinned first column feature and hoped that it might also address this one. After a quick test for this issue I see that unfortunately it is still there.

This issue is in the backlog and I'll dig into it when our priorities allow.

[2018-03-19 17:53] gssjr commented on #2086
Using custom sorting and filtering will take precedence over clrDgField so use the appropriate directives to customize your behavior: https://vmware.github.io/clarity/documentation/v0.11/datagrid/custom-filtering

[2018-03-19 18:08] gssjr commented on #377
I'm looking for something similar. I have refresh(state: ClrDatagridStateInterface) dispatch an action to preserve the datagrid state in ngrx/store. When I initialize the component it'd be nice to have a way to easily set the state. Any ways to do this currently?

[2018-03-19 18:08] gssjr commented on #253
I'm looking for something similar. I have refresh(state: ClrDatagridStateInterface) dispatch an action to preserve the datagrid state in ngrx/store. When I initialize the component it'd be nice to have a way to easily set the state. Any ways to do this currently?

[2018-03-19 19:04] realcnbs commented on #2086
How can I remove filtering using custom filter?
And what sort and filtering directives do you mean? The documentaion is unclear on this.

[2018-03-19 19:27] gssjr commented on #2086
<clr-dg-filter> or [clrDgSortBy]

Let's say we only want to only allow sorting instead of allowing filtering:
`<clr-dg-column [clrDgSortBy]="'name'">Name</clr-dg-column>` instead of `<clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>`

I haven't thought about how to do it if you're using *ngFor since you may want a different configuration per column.

[2018-03-19 19:35] gssjr commented on #2086
https://vmware.github.io/clarity/documentation/v0.11/datagrid/custom-sorting

[2018-03-19 19:37] realcnbs commented on #2086
Yeah, but i didn't need custom comparator. Thanks anyway.
Also, is there a way to show that column is sortable?
E.g. here is impossible to tel which columns are sortable - http://i.imgur.com/H7cERRm.png

[2018-03-19 20:48] kathygit commented on #2084
Thank you. Solution#1 works!

[2018-03-19 20:48] #2084 closed

[2018-03-20 01:41] mviger commented on #2083
The easiest way to reproduce this is to run `npm start` navigate to `http://localhost:4200/datagrid/selection` and use the check box in the header bar to select all entries on page 1.  Go to page 2 of the datagrid and then return back to page 1.  The bottom left will read that there are 10 items selected, but none of the items in the grid will have their boxes checked.

I am using trackBy, otherwi

[2018-03-20 01:49] kuba-010 opened #2091 "UK/AU Datepicker format"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I'm trying to get the datepicker to display in dd/mm/yyyy format. I've followed the instructions and run the cli app as GB and AU (i.e. ng serve --locale en-gb)

The datepicker should use the format of dd/mm/yyyy

### Actual behavior
The datepicker comes up in mm/dd/yyyy format

### Environment details
* **Angular version:** 5.

[2018-03-20 02:36] adityarb88 commented on #2091
@kuba-010: `ng serve --aot --locale en-GB` should work. You need the `aot` flag to load the locale data. For JIT compiler (which is without the aot flag), you need to follow the instructions in the docs:

![image](https://user-images.githubusercontent.com/1426805/37632691-d7418c2a-2bc5-11e8-9e94-fd38b70c5fb9.png)

More details here: https://angular.io/guide/i18n

Let us know if that helps. Closing

[2018-03-20 02:36] #2091 closed

[2018-03-20 03:51] shravansofts commented on #2060
Here is the stackover flow link for reference:
https://stackoverflow.com/questions/49325539/need-help-in-multiple-ui-issues-in-angular-project-with-clarity-framework/49331238#49331238

[2018-03-20 04:28] kuba-010 commented on #2091
Oops overlooked the --aot and JIT differences, my bad! Thanks for that!

[2018-03-20 07:02] jansivans opened #2092 "Datepicker breaks modal layout"
**Select one ...**  (check one with "x")
[code]

Initial state of modal:
![](https://i.imgur.com/N338lc6.png)
After datepicker icon was clicked:
![](https://i.imgur.com/IlV8jhe.png)

### Environment details

* **Angular version:** 5.2.9

* **Clarity version:** 0.11.9

* **OS and version:** Windows 10

* **Browser:** all

[2018-03-20 08:01] jansivans opened #2093 "Can't bind initial datepicker value using reactive forms"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Initial date value should be bound to datepicker when using reactive forms.

### Actual behavior
Initial date value can not be bound to datepicker when using reactive forms.

### Reproduction of behavior
https://stackblitz.com/edit/clarity-light-theme-v11-icqw1x?file=app%2Fapp.component.ts

### Environment details

* **Angular

[2018-03-20 12:12] adityarb88 commented on #2093
@jansivans: Thanks for reporting this issue. I can confirm that this is a bug. The `NgControl.valueChanges` subscription does not fire for the initial value and thats why we don't write it back to the input or update the current selected day. I will spend some time today to investigate this and post more updates here.

[2018-03-20 12:19] adityarb88 commented on #2093
@youdz, @gnomeontherun: So I see 2 different behaviors when the initial value is not null:
1. Reactive Forms: `NgControl.valueChanges` does not fire but `NgControl.value` is not null and contains the initial value. I can use this value to update the input and the selected day in the Calendar.
2. Template Drive Forms: `NgControl.valueChanges` fires but `NgControl.value` is null.

Obviously, we have

[2018-03-20 12:22] adityarb88 commented on #2092
@jansivans: The issue here is with the current forms. Since the `.form-group` has `position: relative` on it, it interferes with the positioning all popovers under it. @gnomeontherun is currently are working on a new version of forms. You can follow the progress here: https://github.com/vmware/clarity/issues/932

We will test this use case as part of the implementation.

[2018-03-20 14:47] youdz opened #2094 "[NG] Ability to set the state of a datagrid with a single input"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

We need to offer a `[(clrDgState)]` two-way binding on the Datagrid component itself, to allow people saving a datagrid's state to the URL or local storage to easily reinitialize a new one in the same state.
This feature would be an excellent initial compromise for #377.

### Actual behavior

Currently, we offer a `(clrDgRefre

[2018-03-20 14:51] youdz commented on #2094
I'm going to open this to external contributions because it's a fairly straightforward feature to add:

- The `StateProvider` for Datagrid has a getter for the state, all that' needed here is to add a setter with the same name, that sets the proper values in the various Page/Sort/Filter providers. The code is almost the same as for the getter, iterating of the same objects.
- `ClrDatagrid` compone

[2018-03-20 16:49] #1787 closed

[2018-03-20 17:25] mathisscott commented on #1924
@reddolan ?

[2018-03-20 17:58] joshjohnson72 opened #2095 "Typo on Datepicker component page"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
"Template Driven Form Demo"

### Actual behavior
"Temp**al**te Driven Form Demo"

### Reproduction of behavior
https://vmware.github.io/clarity/documentation/v0.11/datepicker

[2018-03-20 18:06] adityarb88 commented on #2095
@joshjohnson72: Thanks for reporting this issue. Will get this fixed soon.

[2018-03-20 20:47] #1631 closed

[2018-03-20 20:48] #2062 closed

[2018-03-20 22:51] andrei-vaganov opened #2096 "Date Picker unexpected view"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

![clarity datepicker2](https://user-images.githubusercontent.com/25936646/37686693-320eb354-2ca1-11e8-8c01-3aaf767b7842.jpg)

### Actual behavior

![clarity datepicker](https://user-images.githubusercontent.com/25936646/37686705-3e64e768-2ca1-11e8-8894-1e753f88499c.jpg)

### Reproduction of behavior

* Include a link to the re

[2018-03-20 22:54] adityarb88 commented on #2096
@andrei-vaganov: Could you please check again the version of Clarity that you are using?

![image](https://user-images.githubusercontent.com/1426805/37686945-01b91b62-2c70-11e8-839b-4923ed5189ba.png)

I see that you are using 0.11.1. Datepicker was released in 0.11.8

[2018-03-20 22:55] adityarb88 commented on #2096
Please see: https://stackblitz.com/edit/clarity-light-theme-v11-rrcias?file=app/app.component.html

![image](https://user-images.githubusercontent.com/1426805/37686997-3f9296e8-2c70-11e8-8423-e4632d1123ec.png)

[2018-03-20 23:00] andrei-vaganov commented on #2096
![clarity datepicker3](https://user-images.githubusercontent.com/25936646/37687183-3621aa08-2ca3-11e8-83ee-c2a4ce0d75f5.jpg)

[2018-03-20 23:01] andrei-vaganov commented on #2096
![clarity datepicker4](https://user-images.githubusercontent.com/25936646/37687215-5ae8fe0e-2ca3-11e8-888f-0224e7b786ab.jpg)

[2018-03-20 23:01] adityarb88 commented on #2096
@andrei-vaganov: Looks like you are using 0.11.0. You need to upgrade to the latest version of Clarity. Please update your package.json to use 0.11.9

[2018-03-20 23:13] andrei-vaganov commented on #2096
ohhh, I've updated my package.json and it works fine now!
[code]
to
[code]

I was sure it was done automatically by package manager and also was confused by:
![clarity datepicker4](https://user-images.githubusercontent.com/25936646/37687541-a1c1eca4-2ca4-11e8-80bc-8f56fe63f58c.jpg)

Many thanks!

[2018-03-20 23:14] adityarb88 commented on #2096
no worries. closing the issue.

[2018-03-20 23:14] #2096 closed

[2018-03-20 23:20] joshjohnson72 opened #2098 "Sketch Library - Vertical nav doesn't stretch vertically"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Resizing the vertical nav component should only stretch the background

### Actual behavior
Resizing the vertical nav component stretches the individual nav items

### Environment details

* **Clarity version:**
0.11.x Sketch File

[2018-03-20 23:21] adityarb88 commented on #2098
@reddolan could you please take a look at this?

[2018-03-20 23:21] joshjohnson72 commented on #2098
I'd post a quick video, but it's not supported by github.

[2018-03-20 23:53] joshjohnson72 opened #2099 "Icon Request: 4-way arrow to indicate "move position""
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Would like to have an icon added to indicate the ability to move an element's position.  This is typically an icon made of 4 outward facing arrows.  (Similar to the Router icon, but all arrows pointing out)

![4-way arrows icon](https://user-images.githubusercontent.com/8105536/37688846-34e4f56c-2c5f-11e8-928b-c24bbfd51718.png)

[2018-03-21 00:06] adityarb88 commented on #2099
@mathisscott, @lil-kim: Could you please take a look at this?

[2018-03-21 00:08] lil-kim commented on #2099
Yep, we'll add this to Icons-volume 11. Thanks.

[2018-03-21 09:02] shravansofts opened #2100 "Remove OK/Apply button from column hide/show panel in datagrid"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
What is the role of **clr-dg-column-toggle-button clrType="ok"** for datagrid column toggle feature?
As a user, I would expect that the column toggling state will be applied/persisted only if I click on that button. If a user make changes to column visibility but doesn't click ok then it should reset back to the old state until

[2018-03-21 15:06] mathisscott opened #2101 "Volume 11 Icons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX |

[2018-03-21 15:09] mathisscott commented on #2086
@adityarb88 ^

[2018-03-21 15:21] mathisscott commented on #2013
@youdz ^

[2018-03-21 15:24] hippee-lee commented on #2098
@joshjohnson72 - they do support animated gifs if you can export the video as that and keep it under 10MB it will upload.

[2018-03-21 15:41] amellnik commented on #98
Would it make sense to add a note to the top of the code highlight documentation saying that it will be removed in the future?

[2018-03-21 15:44] gnomeontherun commented on #98
We will when we officially deprecate it in the next release.

[2018-03-21 15:46] adityarb88 commented on #2086
@realcnbs:
Sortable columns are underlined on hover:
![image](https://user-images.githubusercontent.com/1426805/37719976-ad25c860-2cfc-11e8-9044-83499ed5ef71.png)

They are also accessible via keyboard:
![image](https://user-images.githubusercontent.com/1426805/37720018-bfc848da-2cfc-11e8-9aef-2e9c6cac5501.png)

Our UX team decided not to have a specific indicator for sortable columns because it c

[2018-03-21 15:46] #2086 closed

[2018-03-21 15:51] youdz commented on #2013
If your list of models is just a list of string, then I have no idea why you're using a datagrid. I will just have a single column, the use case makes no sense to me.

If you really want to do this, you can always use `[clrDgSortBy]` and `<clr-dg-string-filter>` as documented [here](https://vmware.github.io/clarity/documentation/v0.11/datagrid/custom-sorting) and [there](https://vmware.github.io/c

[2018-03-21 15:51] #2013 closed

[2018-03-21 15:57] adityarb88 commented on #2061
@Magister: We discussed this with our UX team. The Date Picker is already accessible by keyboard `Tab` to the Date Picker trigger and `Enter` to open it.

Our research also indicated that we want to avoid opening the Date Picker popover when the input field is focused. We want to avoid adding methods/features that go against our UX recommendations.  I am going to close this issue but please feel f

[2018-03-21 15:57] #2061 closed

[2018-03-21 18:11] Magister commented on #2061
@adityarb88 Well, it's a pity that you don't give developers a choice. Having an API for components gives more flexibility, and you avoid it - that's not only about this ticket, that's about all the project.

I'm now moving away from Clarity to Angular Material - because they give a lot more flexibility and customization options, from being able to open datepicker popup programmatically, override

[2018-03-21 23:05] reddolan commented on #2098
Fixed in 0.11.x will be part of next UI Library release

[2018-03-21 23:05] #2098 closed

[2018-03-22 02:59] shravansofts opened #2103 "Add alias to the `help` icon on the website"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Can we get an icon for unknown status inside a circle as well?
It looks odd when we represent status with all the others(as shown below)
Similar to
![image](https://user-images.githubusercontent.com/12848838/37748722-ede4a9ee-2daa-11e8-8416-6c9472359d5f.png)

### Actual behavior
current Icon:
![image](https://user-images.github

[2018-03-22 03:14] LokeshN opened #2104 "Clarity alert is not visible, when we get new alert after all the alerts are closed"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Clarity alert should be visible, when we get new alert after all the alerts are closed

### Actual behavior
Clarity alert is not visible, when we get new alert after all the alerts are closed
Steps to reproduce the issue:
1. I initially get two alerts and it shows up in clr-alerts components
2. I immediately close those two ale

[2018-03-22 13:12] #2093 closed

[2018-03-22 15:11] adityarb88 commented on #2079
Website will be updated soon with the fix.

[2018-03-22 15:11] #2079 closed

[2018-03-22 15:11] adityarb88 commented on #2095
Website will be updated soon with the fix.

[2018-03-22 15:11] #2095 closed

[2018-03-22 16:31] adityarb88 commented on #2103
@lil-kim: Could you please take a look at this?

[2018-03-22 19:41] reddolan commented on #1924
For nested Tabs, we should navigate into the child tabs. Tabs are a type of navigation similar to Vertical Nav. If VertNav has nested links but are not shown, tabbing would navigate across the parent links. Only when a parent is expanded to show child links would we navigate through the child links. Tabs should behave like this as well. If nested tabs become visible, we need to update the tab orde

[2018-03-22 20:27] pumano commented on #1825
Very important feature for me. I have same use case and relations between tree view and datagrid. I'm also waiting for it!

[2018-03-23 10:09] shravansofts commented on #2103
@lil-kim Agreed. This works for us.
As suggested please add a tag for this icon.
You could close this issue.

[2018-03-23 10:35] belyan opened #2105 "Small radio button group has incorrect background in Edge"
[code]

### Expected behavior
Small radio button group has **correct** background height in Edge.

### Actual behavior
Small radio button group has **incorrect** background height in Edge.

### Reproduction of behavior
https://stackblitz.com/edit/clarity-light-theme-v11-cgd4a6

### Environment details

* **Angular version:** 5.x.x

* **Clarity version:** 11.x

* **OS and version:** Windows 10 x64

[2018-03-23 13:28] adityarb88 commented on #2103
@shijir: I will keep this open as an enhancement to the website. Could you please tackle this?

[2018-03-23 13:33] adityarb88 commented on #2105
@belyan: Thanks for reporting this issue. We will take a look and get back to you.

Screenshot from Edge:
![image](https://user-images.githubusercontent.com/1426805/37831862-3bf36a30-2e7d-11e8-84ca-572149dc6eff.png)

[2018-03-23 13:36] adityarb88 commented on #2105
Additional Notes:
The label in the radio is not being positioned correctly in Edge:
![image](https://user-images.githubusercontent.com/1426805/37831953-8e430c50-2e7d-11e8-9ce5-85f6c4d6886d.png)

[2018-03-23 13:56] adityarb88 commented on #2104
@LokeshN: Thanks for reporting this issue. I edited the plnkr so that the issue replication is easier:

https://plnkr.co/edit/oRGx7WWJlZZ4f2BoqBTp?p=preview

1. Dismiss both the alerts on screen.
2. Click Add alert.
3. Inspect DOM. Alert is present but not shown.

[2018-03-23 14:28] gssjr commented on #2094
One thing I noticed is that when sorting by a column that uses a custom comparator, the grid state will store a reference to the comparator instead of the column name. Similar with filters. Does the state need to know that there is a custom comparator on that column? Or just that it is sorted by that column?

[2018-03-23 16:11] gssjr commented on #1099
@youdz Does this explain why my filters get cleared when the component gets destroyed? This may conflict (or be resolved) with work on #2094 since we want to keep track of state when navigating away from the grid component.

[2018-03-23 20:30] exequiel09 commented on #1995
Tried and encountered some broken rxjs imports due to relatively new rxjs version used in Angular v6. Can't properly test since some dependencies are not yet forward-compatible with the new version of Angular.

[2018-03-23 21:14] youdz commented on #1099
Sadly, this will not be fixed with #2094. What #2094 will do is just offer a single input for the datagrid state, which will either solve or be a good compromise for many requests. The fact that on destroy, the datagrid emits a state without filters/pagination/sorting is something that is truly blocked until Angular fixes the linked issue. We have absolutely no way to handle it on our side. 😢

You

[2018-03-23 21:24] youdz commented on #1099
I took the time to write a quick StackBlitz showing what I mean: https://stackblitz.com/edit/datagrid-track-state?file=app%2Fapp.component.ts

On the application side, your flag is always updated before the "wrong" events fire. So you can just ignore them. The problem is that on our side, we have no way to distinguish the filter itself being destroyed from the whole datagrid being destroyed. So th

[2018-03-26 07:37] karmasakshi opened #2107 "Caret icon in dropdown button does not represent the current state"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The caret icon should point upwards when the dropdown is open.

### Actual behavior
The caret icon is always pointing downwards regardless of the dropdown state.

### Reproduction of behavior
N/A

### Environment details

* **Angular version:** 5.2.9

* **Clarity version:** 0.11.10

* **OS and version:** macOS 10.13.3

* **Brow

[2018-03-26 14:43] headswe opened #2108 "Issue with Popovers while hosted in sharepoint page"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Clicking outside should close the popover

### Actual behavior
The dropdown menu dosen't close and places itself in the top left corner
![2018-03-26_16-37-07](https://user-images.githubusercontent.com/425212/37913275-c9c02292-3114-11e8-9721-814f252ffe4a.gif)

### Reproduction of behavior
Not really possible

### Environment det

[2018-03-26 14:46] adityarb88 commented on #2108
@headswe: Could you please replicate this issue on a StackBlitz? There is no way for us to debug this issue without that. Thanks!

https://stackblitz.com/edit/clarity-light-theme-v11

[2018-03-26 14:52] georgievay opened #2109 "Broken link on the Clarity website - error 404"
The link to the latest Sketch template is broken and returns a 404 error page. **[LINK](https://vmware.github.io/clarity/assets/images/sketchTemplates/Clarity-Template-0.11.6.sketch)**

[2018-03-26 14:56] adityarb88 commented on #2109
@georgievay: I don't see a broken link. Please check this: https://vmware.github.io/clarity/documentation/v0.11/get-started#designResources
Are you downloading from this page?

Please provide more information to replicate the issue.

[2018-03-26 14:57] adityarb88 commented on #2109
@georgievay: I found the broken link. Its from the release page: https://vmware.github.io/clarity/news. We will get that fixed soon. Thanks!

[2018-03-26 14:59] georgievay commented on #2109
Yes, this is the page that i meant.

[2018-03-26 17:49] headswe commented on #2108
I'd love too, expect it unlikely that will happen like I said in the original report.
Since it only happens in the SharePoint environment.

[2018-03-26 20:55] reddolan commented on #1808
Was this something you were thinking would be added to the dox on the site?

[2018-03-26 20:55] reddolan commented on #1808
Similar to how FontAwesome is doing it?
![image](https://user-images.githubusercontent.com/1858226/37932422-54c1da6a-30fd-11e8-9ff8-1748f0647fed.png)

[2018-03-26 21:04] reddolan commented on #1453
There were two versions added in vol 9 I believe.
![image](https://user-images.githubusercontent.com/1858226/37932931-a6cc86f6-30fe-11e8-9f0f-f37e5f5b2c92.png)

[2018-03-26 21:04] #1453 closed

[2018-03-26 21:20] gnomeontherun commented on #1808
Yes, some kind of indicator so people can know that they might have to upgrade to get a particular icon (and we'd probably want to have a filter by version as well).

[2018-03-27 08:05] vitkt opened #2111 "Can not unselect grid element"
[code]
I have list of elements. Each element contains id and inner list.
` public myData:any=[{"id":1,"subData":[{"id":1},{"id":2},{"id":3}]},
                          {"id":2,"subData":[{"id":4},{"id":5},{"id":6}]}];
`
Also I have two clr-datagrids. First datagrid is for main list, second one is for inner list of selected element. But I don`t want to have selected element in second grid by defau

[2018-03-27 09:51] headswe commented on #2108
A small note is that when i attempt to click away the popover or using ESC to dismiss it the issue occurs afterwards it will be stuck at (0,0) until the same popover is opened again.

The popover release code seems to run perfectly but the element is not removed from the DOM,
Oddly enough the popover element is deleted from view when clicking on the button used to summon it.

[2018-03-27 12:26] headswe commented on #2108
I've been looking futher into this and it seems this class is not set.

`    "isOffScreen": [{ type: HostBinding, args: ["class.is-off-screen",] },],
`

[2018-03-27 13:13] sbabich-nix commented on #547
@reddolan ,
Where can I find template example for **Rows with and without detail** from this image?
![](https://cloud.githubusercontent.com/assets/1858226/23519856/15ac1f9e-ff3e-11e6-80e2-8a3d40cc535a.png)
In documentation page there is only example when **all** items can be expanded.

[2018-03-27 15:28] youdz commented on #547
@sbabich-nix: There is an example of how to do this on StackOverflow: https://stackoverflow.com/questions/49074726/conditional-clarity-datagrid-expandable-rows

I hope this answers your question.

[2018-03-27 17:11] adumesny opened #2112 "clr-tabs needs API to set and track tab changes if you don't want auto delete *clrIfActive behavior"
[code]

### Expected behavior
ClrTabs class has no easy way to set/get the active tab, or get notified when tab selection changes, unlike all tab controls I've ever used.

### Actual behavior
the doc at https://vmware.github.io/clarity/documentation/v0.11/tabs is very sparse for the angular control, and I was looking at events/API and saw nothing. The use of *clrIfActive and <ng-template [(clrIfAc

[2018-03-27 17:17] adumesny commented on #2112
Kevin Boucher [6:43 PM]
We have this type of tab caching in multiple places, some for components I don’t own and don’t want re-created each time the tab is changed and some for the reason Alain mentions.

Ron Birk [7:33 PM]
I had multiple cases where we turn off the clrIfActive (i.e. don't use it) as it's important the content doesn't get removed/re-created when clicking on the different tabs. Thi

[2018-03-27 17:27] adumesny commented on #2112
Here is code sample I'm using in case it help next person not using *clrIfActive but still set/track the active tab - not ideal as I have to delay setting things or angular complain of value bring changed in ngAfterViewInit()

[code]

[2018-03-27 19:31] adumesny commented on #2112
added code sample (basic tab without *clrIfActive set)

[2018-03-27 20:18] #2055 closed

[2018-03-27 22:13] aaronfrost commented on #2004
Same here. I am trying to save the filters to localstorage... but I can't capture them.

[2018-03-28 09:11] sbabich-nix commented on #1295
@youdz is there a possibility to not play expanding animation on initial rendering if row is expanded by default?

[2018-03-28 09:40] shravansofts opened #2114 "Datagrid filter text input focus style inconsistency"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Text input focus should show the same styling across all browsers.
In firefox text input focus is showing double underlined which should be single underlined.

### Actual behavior
FireFox:(underline Issue)
![image](https://user-images.githubusercontent.com/12848838/38021052-782f9f80-3299-11e8-9949-989f077a423c.png)
![image](htt

[2018-03-28 13:03] lgrigorova commented on #248
@ajinkyac
I would suggest as a workaround for the long values in options to use substring to truncate teh value if too long, add ellipsis and use this value in the option. You could add the full value as title of option and thus have tooltip.

Regards,

Ledda

[2018-03-28 15:38] adityarb88 commented on #2114
@shravansofts: I am using the same version too but I dont see this issue:

![image](https://user-images.githubusercontent.com/1426805/38039931-60abf966-327c-11e8-8fe0-87c3a1ec74e9.png)

![image](https://user-images.githubusercontent.com/1426805/38039961-71109ba4-327c-11e8-8057-ab83b50a8f28.png)

[2018-03-28 15:39] adityarb88 commented on #2114
I do see it happening when I zoom to 150% though:

![image](https://user-images.githubusercontent.com/1426805/38040067-b4e467e8-327c-11e8-9256-d28d5bd88d94.png)

[2018-03-28 15:42] adityarb88 commented on #2114
BTW, this looks like a duplicate of this issue: https://github.com/vmware/clarity/issues/1672

Please subscribe to #1672 for more info. Closing this as duplicate.

[2018-03-28 15:42] #2114 closed

[2018-03-28 16:30] boldertech opened #2115 "Datagrid action overflow divs remain open when using Angular's RouteReuseStrategy"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Datagrid action overflow buttons maintain expected behavior when using a route reuse strategy:
https://angular.io/api/router/RouteReuseStrategy

### Actual behavior
Datagrid action overflow buttons leave the div open and they appear disconnected from the button.

### Reproduction of behavior
https://clarity-light-theme-v11-w8id

[2018-03-28 16:57] fvandillen commented on #372
We are considering Clarity to be the UI framework for the next major version of our app. It would be the instant winner when it starts shipping with a charting library.

[2018-03-28 17:07] mathisscott commented on #372
@fvandillen
Thanks for that. Charts are in our long-term plans for sure. What types of charts best fit your application's needs? We are looking to define an MVP deliverable for a chart library.

[2018-03-28 17:53] fvandillen commented on #372
@mathisscott Thanks for your response and good to hear charts are on the long-term plans. Our application is centered around smart utility meter data. As such, we are using D3 right now to draw (multi)line and vertical bar charts, in addition to scatterplots.

[2018-03-28 17:54] icepeng commented on #372
Currently, I am using `ngx-echarts` https://github.com/xieziyu/ngx-echarts https://github.com/ecomfe/echarts for alternative.

If clarity supports chart element that fit well with card, it would be awesome.

[2018-03-28 18:58] youdz commented on #1295
@sbabich-nix: If you don't mind, we would like questions to be asked on [StackOverflow](https://stackoverflow.com/questions/tagged/vmware-clarity) with the tag `vmware-clarity`. Otherwise we pollute GitHub issues with them, and by asking questions on long-closed issues you risk us completely missing them.

Anyway, the expand animation doesn't play on initial rendering, that's part of `@angular/ani

[2018-03-28 19:23] sbabich-nix commented on #1295
Thank you.
 The one reason I am asking here not on stackoverflow is that I personally think these causes should be covered by documentation.

Sent from my Windows 10 phone

From: Eudes Petonnet-Vincent
Sent: 28 березня 2018 р. 21:58
To: vmware/clarity
Cc: Sergiy Babich; Mention
Subject: Re: [vmware/clarity] Datagrid expandable rows additional features(#1295)

@sbabich-nix: If you don't mind, we wo

[2018-03-29 02:27] jewway commented on #453
Have any plan to add warning button ? because current style not easy to identify.
![image](https://user-images.githubusercontent.com/3501899/38066438-835109b6-333a-11e8-9f33-da9383ca3a63.png)

Why only label and alert have warning style ?
![image](https://user-images.githubusercontent.com/3501899/38066453-97f1330a-333a-11e8-9e60-00c20c5ca41f.png)
![image](https://user-images.githubusercontent.com/

[2018-03-29 04:46] SayakMukhopadhyay commented on #372
ECharts looks powerful. I have found HighCharts to be great for my use case. I am using https://github.com/cebor/angular-highcharts for angular bindings.

[2018-03-29 04:47] shravansofts commented on #2114
@adityarb88 For me it is the other way.
I don't have zoom-in on my firefox browser, this issue appears in normal mode. If I Zoom-in browser, it is showing single line only. Refer gif below:
![filter_style_issue](https://user-images.githubusercontent.com/12848838/38070594-622f7f38-333a-11e8-81c3-6ebac059b11b.gif)

Below is my Windows 10 display settings:
![image](https://user-images.githubuserconte

[2018-03-29 06:29] headswe commented on #2108
Seems like the change detection is breaking.

IfOpenService.open will be set to false and the popover will be released but angular change detection will not fire. and the bindings wont update resulting in is-off-screen not being set and the popover being stuck until another event fires and the normal flow resumes.

[2018-03-29 08:11] pengpengshui opened #2116 "single selection datagrid got wrong when assignd a data to select first line"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I use clarity to build a single selection datagrid. when complete loading the component , the first line shoud be selected.

### Actual behavior
when I got the first data from database and assigned to a the specific variable. the console of browser  call back a wrong tips. as a consequence, the program got confusion

### Reprod

[2018-03-29 08:16] jewway commented on #474
Do you plan to support range input , please ?

Thank you!

http://blueprintjs.com/docs/v2/#datetime/daterangeinput

![image](https://user-images.githubusercontent.com/3501899/38077675-5dbd16ae-336c-11e8-8c39-3bd59ed88238.png)

[2018-03-29 08:48] power721 opened #2117 "Datagrid Hideable Column: save the state or emit event"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Datagrid Hideable Column: save the state or emit event
I want to save the hideable columns, so when I go back the columns kept.

### Actual behavior

No event when change hideable columns.

### Reproduction of behavior
Change hideable columns
go to another page
go back, hideable columns reverted

### Environment details

* **A

[2018-03-29 08:56] dorthrithil opened #2118 "Conditionally enable datagrid selection"
[code]

### Expected behavior

You should be able to show and hide the selects for the datagrid (`[(clrDgSelected)]`) based on a condition.

### Actual behavior

Afaik this is currently not possible. You can either add the databinding attribute to the template or don't. Setting the input value to `null` or `false` leads to an error.

### Environment details

* **Angular version:** 5.2.9

* **Clari

[2018-03-29 10:28] dennitsa commented on #1326
Hello, is there a way to add custom title to a clr-icon at the moment? I see this has been marked as fixed, but the fix is "In progress"?

[2018-03-29 10:33] gerinjacob opened #2119 "clrCurrentAlertIndex of Alerts component does not accept zero"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
`clrCurrentAlertIndex` input attribute of `clr-alerts` should accept zero

### Actual behavior
In the punker provided, https://current-alert-index-zero.stackblitz.io
There are 2 buttons, `Go To First Alert` and `Go To Second Alert`.
I am able to go to second alert, but not to first alert.

**Root Cause:**
Inside ClrAlerts compo

[2018-03-29 13:25] mathisscott commented on #1326
Hi @dennitsa
Where are you seeing this is "in progress"? It was merged in to 0.10.12. See https://github.com/vmware/clarity/pull/1408

For a custom title, I believe all that you need to do is set the `title` attribute on a `clr-icon` element.

Note that is you are binding this value in Angular, you'll need to use `[attr.title]` because it's an element attribute. Not an input. `clr-icon` is a custo

[2018-03-29 13:46] youdz commented on #2116
This is a duplicate of #2002, which was fixed in `0.11.10`. Can you please try upgrading to the latest version of Clarity to check that it solves your problem?

[2018-03-29 15:37] #2083 closed

[2018-03-29 17:43] #2119 closed

[2018-03-29 20:48] #2017 closed

[2018-03-30 04:54] boldertech commented on #2115
vDigging into it deeper, I think the issue might be in here:
https://github.com/vmware/clarity/blob/v0.10/src/clarity-angular/popover/common/popover-old.directive.ts

I'm still trying to learn Angular, but these two fields might be static:
let openCount: number = 0;
const waiting: Array<() => void> = [];  // pending create functions

So I'm guessing that they are getting shared between the two ins

[2018-03-30 05:45] pengpengshui commented on #2116
I see clarity offical website  [Project Clarity](https://vmware.github.io/clarity/documentation/v0.11/get-started), the latest version is 0.11.6,   if the latest version  resolved  the problem?

[2018-03-30 06:08] wghglory opened #2121 "Will modal support adding custom class or style to adjust modal styles like width?"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

I use `<clr-modal>` lg and md to control the modal size, however I need a size between lg and md. Can I pass some classes to clr-modal for customization?

[2018-03-30 10:15] SayakMukhopadhyay commented on #2116
The latest is `0.11.11`
![image](https://user-images.githubusercontent.com/13748882/38134537-37a76ac6-3431-11e8-969b-370fb8623db9.png)

So it should be fixed in `0.11.`0` as mentioned by youdz

[2018-03-30 14:38] gnomeontherun commented on #2116
@pengpengshui you must be looking at the sketch template version number.

[2018-03-30 15:32] youdz commented on #2094
The main case for emitting the state is Datagrids using `*ngFor`, where we don't handle the sorting/filtering ourselves, but let the consumer or server do it.
Because of this, we do have to emit what the custom sort comparator is, otherwise you'd have to look it up base on the column every time, which isn't as straightforward as using the comparator we just gave you.

[2018-03-30 15:58] Shijir commented on #2121
Hi @wghglory, could you please ask this question on StackOverflow with the `vmware-clarity`, `angular`, `html` and `css` tags? We regularly check questions on StackOverflow and will try to provide a solution to your issue there. By doing so, other developers who might have the same inquiry could see the solution.

So closing the issue based on this. Thanks!

[2018-03-30 15:58] #2121 closed

[2018-03-30 22:08] boldertech commented on #2115
Adding the following to DatagridActionOverflow seems to fix the issue
`
[clrPopoverOldOptions]="{allowMultipleOpen: true}"
`

[code]

[2018-04-01 07:03] biapar opened #2122 "Is’t possible to use Clarity on VueJs?"
Is’t possible to use Clarity on VueJs?

[2018-04-01 14:14] SayakMukhopadhyay commented on #2122
I believe the components which has css associated with them (most if not all I think) should be usable via `clr-ui.min.css`

[2018-04-01 21:35] reddolan commented on #474
@jewway We have Date Range in the spec. It wasn't part of the v1 release. It will be in a future release

[2018-04-02 09:28] UttamA opened #2123 "Adding Drawer component in Clarity"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Drawer is required to quickly view item details and perform action on the same page instead of going to detail page and then perform action. Other example is the navigation drawer is quite prominent in mobile devices.
As a part of our application we developed a drawer and want to contribute to clarity.

### Actual behavior
Pres

[2018-04-02 09:58] SayakMukhopadhyay commented on #2123
Is the drawer component different from [sidenav](https://vmware.github.io/clarity/documentation/v0.11/sidenav) or [vertical nav](https://vmware.github.io/clarity/documentation/v0.11/vertical-nav/basic-structure/charmander) ?

[2018-04-02 10:38] whizkidwwe1217 commented on #2123
@SayakMukhopadhyay  I think he's referring to a component similar to Microsoft' Office Fabric UI's **Panel** component. [Office Fabric UI Panel](https://developer.microsoft.com/en-us/fabric#/components/panel)
![image](https://user-images.githubusercontent.com/1977391/38193482-dbe75054-36a4-11e8-820a-f732308a45d1.png)

[2018-04-02 10:39] UttamA commented on #2123
Yes this is same as panel.

[2018-04-02 10:41] UttamA commented on #2123
![panel](https://user-images.githubusercontent.com/4607437/38193610-7f48b432-3690-11e8-88e8-730c58d62bb7.png)

[2018-04-02 10:42] UttamA commented on #2123
The component we build for our product

[2018-04-02 10:44] whizkidwwe1217 commented on #2123
We also need that kind of component. I hope clarity team will consider building it.

[2018-04-02 10:51] SayakMukhopadhyay commented on #2123
This might not be exactly what you want but for showing more data and other stuff for datagrid rows one can use [this](https://vmware.github.io/clarity/documentation/v0.11/datagrid/expandable-rows)

[2018-04-02 10:58] UttamA commented on #2123
@SayakMukhopadhyay Expandable rows for datagrid use case are different from panel. This drawer/panel can be attached to any list view.

[2018-04-02 13:21] ivvatov opened #2124 "[Datagrid] Selection is cleared when applying a filter in multi-select grid"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When a selection has been made and a filter is applied afterwards, the selection should be preserved. Or there should be an option to achieve the desired behavior when needed.

### Actual behavior
When a selection has been made and a filter is applied afterwards, the selection is not preserved. There is no way for the client to

[2018-04-02 16:47] adityarb88 commented on #2124
@ivvatov: Please refer to this comment: https://github.com/vmware/clarity/issues/484#issuecomment-285419495. This is the expected behavior. Please post your question and feedback on #484 for more details.

Closing as duplicate.

[2018-04-02 16:47] #2124 closed

[2018-04-02 16:48] adityarb88 commented on #2123
@reddolan: Could you please take a look at this?

[2018-04-02 16:57] gnomeontherun opened #2125 "Deprecate code highlight"
We need to deprecate the codehighlight component in the code and website.

[2018-04-02 16:57] gnomeontherun opened #2126 "Remove code highlight"
Remove code highlight from code and website.

[2018-04-02 18:47] jschuler opened #2127 "Clearing datagrid filters"
How to clear all datagrid filters programmatically?

[2018-04-02 19:17] boldertech commented on #2115
Ok, I found a work around for it by not using clr-dg-action-overflow and instead creating a custom column using the same styles and using a signpost.
https://clarity-light-theme-v11-tegt8a.stackblitz.io

Hopefully I have time to try and put this into a pull request at some point to fix it, but no time now.

[2018-04-02 22:18] lil-kim commented on #1829
Icon published. See Vol 10 icons:
https://github.com/vmware/clarity/issues/1787

[2018-04-02 22:18] #1829 closed

[2018-04-02 22:57] lil-kim opened #2129 "New icons request"
**Select one ...**  (check one with "x")
[code]

### Request for various Text settings icons that would be useful for apps.

Set of text edit buttons (example):
![image](https://user-images.githubusercontent.com/23196444/38219852-7bf452cc-368c-11e8-88d6-ea2153951d10.png)

1. Text (add text/font style)
2. Text size
3. Header 1
4. Header 2
5. Header 3
6. Page
7. Check list
8. Bulleted List
9. Number

[2018-04-03 06:07] nandikrish opened #2130 "Custom Theming Issue"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Trying to overwrite clarity scss variables to create custom themes.

### Actual behavior
According to documentation we imported files in same order but theme is not applied.

@import "../node_modules/@clr/ui/src/utils/dependencies.clarity"; // Includes light theme
@import "./theme.scss";
@import "../node_modules/@clr/ui/src/uti

[2018-04-03 06:10] rameshyala opened #2131 "Datepicker override the styles"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX |

[2018-04-03 08:21] biapar commented on #2122
Have you planned to use Vue or React in the future?

[2018-04-03 14:03] MuruganDell opened #2132 "vsphere web client html clarity support pie chart ?"
Hi all ,

    Please let me know  anyone which version of clarity  support  vsphere web client html5  pie chart
,also attached the snapshot example on flex based  vsphere  web client

<img width="288" alt="pie-chart" src="https://user-images.githubusercontent.com/29304103/38254003-b838411e-3775-11e8-9b6a-30ac1e305520.PNG">

[2018-04-03 14:49] adityarb88 commented on #2131
@rameshyala: Please provide more information in the issue description. What is the issue that you are facing? Also, please provide a StackBlitz which replicates the issue.

Closing because the issue description does not have any information.

[2018-04-03 14:49] #2131 closed

[2018-04-03 14:53] adityarb88 commented on #2130
@nandikrish: It looks like this issue is related to https://github.com/vmware/clarity/issues/2130. We will verify and let you know.

@hippee-lee: Could you please check this?

[2018-04-03 16:30] youdz commented on #2127
This is a question, not an issue, so could you please post it on StackOverflow with the tag `vmware-clarity`? Here is a link to the tag: https://stackoverflow.com/questions/tagged/vmware-clarity

[2018-04-03 16:30] #2127 closed

[2018-04-03 16:35] hollyrobson opened #2133 "XL and M Wizard Sidebar is too Short on Edge when Wizard has Scrollbar"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The sidebar of the wizard (size XL and M) should look the same in all browsers and at all resolutions and should be the same height as the body of the wizard even when the wizard body has large content that requires it to scroll

### Actual behavior
The wizard (size XL and M [works fine in L]) sidebar is too short when opened o

[2018-04-03 17:30] hippee-lee commented on #2122
@biapar - Late last year, we looked at the feasibility for creating `clarity-react`. Our research explored  a few options:

- Pure React components for the Clarity Design System, written as a React lib
- Clarity web-components that could be used framework/lib agnostic
- Clarity [Stencil](https://stenciljs.com/) (from ionic) that could be used framework/lib agnostic

However, due to resource constr

[2018-04-03 18:17] hippee-lee commented on #2130
@adityarb88, @nandikrish - I don't believe they are related.

I'm able to start a themed Clarity app using our seed code base and modifying it. [Here is the sample repo.](https://github.com/hippee-lee/issue-2130)

@nandikrish - if you clone that and run it you will see that the header is `deepskyblue` and the global app background is `deeppink`.

Here is the repo: https://github.com/hippee-lee/iss

[2018-04-03 20:56] youdz opened #2136 "[NG] Datagrid spec files compile even though they import the wrong interfaces"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

If a spec file imports an interface that doesn't exist, tests should fail at compilation time.

### Actual behavior

They currently compile without even emitting a warning, and since interfaces disappear after compilation anyway, the tests run and pass.

### Reproduction of behavior

* Include a link to the reproduction scenar

[2018-04-03 21:15] youdz commented on #1550
We received a request to make sure that the "select all" checkbox at the top properly ignores disabled rows, so I'm posting it here to make sure we don't forget. Please add a unit test for this specific case.

[2018-04-04 05:24] nandikrish commented on #2130
@hippee-lee - The theme you applied is working fine, but our problem is the theme doesn't work for the variables(eg: action-blue, yellow, red, gray, etc.,) in "@clr/ui/src/color/utils/_colors.clarity.scss" folder.

Here is the sample repo: (https://github.com/PerumalAngular2/clarity-theme)
Here is the custom theme file: (https://github.com/PerumalAngular2/clarity-theme/blob/master/src/theme.scss)

[2018-04-04 06:51] UttamA commented on #1955
I see this issue in slackblitz for dark theme.

Dark Theme: https://clarity-dark-theme-v10-tooltips.stackblitz.io/
Light Theme: https://clarity-light-theme-v11-tooltips.stackblitz.io/

[2018-04-04 10:15] UttamA commented on #1955
@hspier I just looked into the scss files and $clr-tooltip-background-color is used to fill the triangle tip using the border. So same variable is used to fill both the rectangle and tip triangle. I have changed the color of both for confirmation.
So I don't think this will make sense to separate the colors. Please let me know your thought on the same

![tooltips_border](https://user-images.github

[2018-04-04 13:49] dorthrithil opened #2137 "Icon request: File types"
[code]

- An icon for PDFs would be very useful.

[2018-04-04 14:00] hspier commented on #1955
The ask was not to have separate colors for the tooltip area and tooltip arrow. It was to have separate colors for the background color of the tooltip and the border of the tooltip. Just so you can reproduce, change the $clr-tooltip-background-color to 'white'. You will see that there isn't any border to the tooltip.

[2018-04-04 14:27] UttamA commented on #1955
@hspier if you see below code we are not using border color for tooltip area. It is used only in tooltip arrow which is used to create the complete arrow with $arrow-height & $arrow-width. Please let me know if I am missing something.

`@mixin vertical-tooltip-generator($dirA:top, $dirB:right) {
    $oppA: map-get($opp-directions,$dirA);
    $oppB: map-get($opp-directions,$dirB);

    @include com

[2018-04-04 14:38] svvac commented on #2119
duplicate of #1907

[2018-04-04 14:52] hspier commented on #1955
@UttamA I am not talking about the border CSS properties. I am talking about the entire tooltip to have a visible border. This will obviously requires some changes on how you create the arrow and the area of the tooltip.

In this image, using Clarity light theme and changing colors of the tooltip, this is how the tooltip looks if it is white:

<img width="151" alt="screen shot 2018-04-04 at 10 35

[2018-04-04 15:05] UttamA commented on #1955
@hspier Thanks. I got confused with the explanation. Now I got the requirement.

[2018-04-04 15:07] UttamA commented on #1955
I am looking in this issue

[2018-04-04 16:04] hippee-lee commented on #2130
Is there a reason you are using `!default`?

[From the sass docs:](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_defaults_default)
```You can assign to variables if they aren't already assigned by adding the !default flag to the end of the value. This means that if the variable has already been assigned to, it won't be re-assigned, but if it doesn't have a value yet, it will

[2018-04-04 16:07] mathisscott commented on #2137
@lil-kim : what are our thoughts on icons for document types?

[2018-04-04 16:08] mathisscott commented on #2133
@youdz : can you get someone to take a look at this and determine next steps?

[2018-04-04 16:10] mathisscott commented on #2132
@MuruganDell : Clarity currently does not have charts included in its library. People using Clarity have successfully used both High Charts and various flavors of d3 to generate charts for them.

[2018-04-04 16:10] #2132 closed

[2018-04-04 16:13] mathisscott commented on #2129
Can we make sure that we group these icons into their own set? I can see them being useful for a subset of users but I don't see them being broadly applicable.

[2018-04-04 16:30] lil-kim commented on #2137
I agree. An icon for PDF and some other file formats would be useful. Will add this to Vol. 11

[2018-04-04 16:32] mathisscott commented on #2137
Cool. Thanks, @lil-kim . Would it make sense to put these icons in the same set as the word processor icons, technology set, or should they live in their own set?

[2018-04-04 16:39] lil-kim commented on #2137
There are so many file types I think they should live in their own set

[2018-04-04 18:08] youdz commented on #2133
@hippee-lee said he could look at it somewhere between pinned columns PRs. Not assigning yet, I'll let him assign himself when he starts looking at it.

[2018-04-04 19:58] youdz commented on #2137
As discussed in person, I suggest we look into having dynamic generation of file icons accepting any type as the shape: `<clr-icon shape="file-xxx"></clr-icon>` would generate an icon for the "XXX" file type.

This would allow us to avoid maintenance and constant requests for new file types, and reduce bundle weight by a gigantic amount if it collapses 100 icons down to a single SVG.

[2018-04-04 20:29] adityarb88 commented on #2133
@hollyrobson: I can't replicate this issue on a newer version of Edge. It looks like you are using an old version of Edge.

![image](https://user-images.githubusercontent.com/1426805/38332951-13b604cc-380c-11e8-832b-da5ea0795c85.png)

![image](https://user-images.githubusercontent.com/1426805/38332997-2c447712-380c-11e8-8aaa-97ea9c43e100.png)

[2018-04-04 21:23] lil-kim opened #2139 "Clarity Iconography> Show a marker to indicate new icons"
**Select one ...**  (check one with "x")
[code]

### Clarity Iconography - When new icons are released, show an icon/marker next to each new icon.
 The marker should remain only until the next batch of new icons is released. One idea of how this could look:

![image](https://user-images.githubusercontent.com/23196444/38335410-09766edc-3813-11e8-9faf-199d87f966fc.png)
Lil-Kim to provide marker and

[2018-04-04 22:15] youdz commented on #2139
My two cents even if you didn't ask for it 😛, the gray marker doesn't really stand out, it almost looks to me like it clutters the screen because it's the same color as everything else. Maybe making it green or some other color (purple, I know...) could help?

[2018-04-05 14:28] m-sureshraj opened #2140 "Sometimes header dropdown opens in the wrong position"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
![screen shot 2018-04-05 at 7 35 40 pm](https://user-images.githubusercontent.com/12813750/38370796-944a3a16-3908-11e8-9baa-f748d6160890.png)

### Actual behavior
**Sometimes** header dropdown opens in the wrong position.
![screen shot 2018-04-05 at 7 26 36 pm](https://user-images.githubusercontent.com/12813750/38370609-210939e

[2018-04-05 14:40] gnomeontherun opened #2141 "Deprecate grid push/pull"
We need to deprecate in the code base and on the website the push and pull features of the Grid.

* [x] Website
* [x] Code deprecation comments

[2018-04-05 14:41] gnomeontherun opened #2142 "Update Grid Documentation for 0.12"
The existing grid has issues that cannot be solved as they are, so we wish to provide an updated version of the grid and align the migration strategy for easy adoption.

* [x] Pull in latest Bootstrap 4 grid
* [x] Prefix classes with `clr-` naming convention
* [x] Documentation updates

[2018-04-05 14:44] gnomeontherun opened #2143 "Remove push/pull from old grid"
We need to remove the push/pull options from the old grid, as per migration strategy.

* [ ] Remove code
* [ ] Documentation
* [ ] `ng update` migration tooling

[2018-04-05 14:47] gnomeontherun opened #2144 "Backwards compatibility solutions for grid"
We need to provide a backwards compatibility solution for the grid. This should be exporting the old grid into a separate file as a compatibility layer for optional inclusion.

[2018-04-05 15:58] #1730 closed

[2018-04-05 18:14] gnomeontherun opened #2145 "Use Angular CLI for build tooling"
To help with the updates needed for Angular 6, we need to change our build tooling to run without maintaining our own webpack config, so we can easily migrate.

[2018-04-05 18:17] gnomeontherun opened #2146 "Announce duplicated/deprecated icons"
We have some icons that need to be cleaned up since they are duplicated.

* [ ] Website notes
* [ ] Code deprecation notes

[2018-04-05 18:18] gnomeontherun opened #2147 "Clean up deprecated icons"
Remove the previously announced deprecated icons and clean up as necessary.

* [ ] Code
* [ ] Website

[2018-04-05 18:20] gnomeontherun opened #2148 "Remove `forRoot` and `forChild` methods from `ClarityModule`"
We need to clean up our `forRoot` and `forChild` methods since we don't plan to have any need for them.

* [ ] Remove code
* [ ] Ensure all documentation is updated if any mentions exist
* [ ] Create release notes

[2018-04-05 18:23] gnomeontherun opened #2149 "Remove non `Clr` prefixed classes that were deprecated in 0.11"
Following through with our deprecation and removal of non `Clr` prefixed classes (like `Datagrid` instead of `ClrDatagrid`).

* [ ] Remove deprecations from spec
* [ ] Remove deprecations from code
* [ ] Add notes for release
* [ ] Investigate and possibly create migration script

[2018-04-05 18:25] gnomeontherun opened #2150 "Clean up dev app code examples"
With the deprecation of code highlight, we need to remove it from our dev app.

* [ ] Remove all code samples from dev app

[2018-04-05 18:28] gnomeontherun opened #2151 "Deprecate wizard ghost pages"
This is an undocumented feature and adds code we don't want to maintain.

* [ ] Mark as deprecated in code
* [ ] Verify no docs exist

[2018-04-05 18:29] gnomeontherun opened #2152 "Remove wizard ghost pages"
Remove the deprecated wizard ghost pages features.

* [ ] Code
* [ ] Docs if necessary
* [ ] List in release notes

[2018-04-05 19:27] gnomeontherun opened #2153 "Remove deprecated features"
We have some and features and CSS that need to be removed.

* [x] Deprecated icons
* [x] Deprecated alert types
* [x] Deprecated datagrid inputs
* [x] Deprecated wizard API
* [x] Release notes

[2018-04-05 19:28] gnomeontherun opened #2154 "Angular 7"
Upgrade for Angular 7.

[2018-04-05 19:32] gnomeontherun opened #2155 "Remove as many base64 icons as possible"
We want to reduce or remove the icons from being in the CSS directly if possible, for accessibility and customizability.

* [ ] Identify which icons can be removed
* [ ] Replace them with clr-icon implementations
* [ ] If breaking change, need to deprecate and then add issue to remove in future.

[2018-04-05 19:34] gnomeontherun opened #2156 "Replace clang with prettier"
Setup prettier and only have it format changed lines.

[2018-04-05 19:34] gnomeontherun opened #2157 "CSS regression tests for dark theme"
Need to add a set of regression tests for dark theme.

[2018-04-05 19:37] gnomeontherun opened #2158 "Icon default size changes"
Currently icons are 16x16, proposal is to make them 12 or 18 for 6px baseline.

[2018-04-05 19:39] gnomeontherun opened #2159 "Remove old forms and add shim layer"
To assist with migration, we plan to create a shim layer for old forms even when they are removed from the core build for projects to opt-into keeping old forms.

* [x] Remove old forms from main build
* [x] Documentation

[2018-04-05 19:40] gnomeontherun opened #2160 "Clarity whitelabel documentation"
Extend the current documentation to cover how to correctly build a whitelabel version of Clarity (like themes. Also cover when _not_ to build the styles yourself.

[2018-04-05 19:41] gnomeontherun opened #2161 "Flatten CSS selectors"
A number of components have more nested styles than necessary, and for house cleaning we want to make them more shallow.

[2018-04-05 19:42] gnomeontherun opened #2162 "Implement `clr-` prefix for css classes"
We want to implement all public styles with the `clr-` prefix. There should be a shim layer to support both styles.

* [ ] Implement new selectors
* [ ] Support old selectors via shim
* [ ] Look at using ng update to change

Investigate options to either ship both selectors in the same package, or as separate files for each use case.

[2018-04-05 19:44] gnomeontherun opened #2163 "Deprecate non-documented bootstrap files"
Deprecate the non-documented Bootstrap styles that we include in our build (like the close file).

* [ ] Mark files as deprecated
* [ ] Add note to release notes

[2018-04-05 19:45] gnomeontherun opened #2164 "Remove non-documented Bootstrap files"
Remove the files from the build that are non-documented and deprecated.

* [ ] Remove code
* [ ] Release notes

[2018-04-05 19:52] youdz commented on #2140
What does "sometimes" mean? Please post a StackBlitz reproducing your issue so we can investigate.

Also your header styles seem off and misaligned, are you using all the classes we documented for the header and its children?

[2018-04-05 21:03] gnomeontherun opened #2165 "Normalize testing utilities across repo"
We have a lot of tests written in different formats, would like to normalize them.

[2018-04-05 21:06] gnomeontherun opened #2166 "Clean up animations"
Standardize animations and ensure that there is no duplication in the repo (we have multiple declarations of the same fade in/out for example).

[2018-04-05 21:07] gnomeontherun opened #2167 "System default font fallbacks"
Add support for a system level fallback.

[2018-04-05 21:08] gnomeontherun opened #2168 "Refactor rem units"
New rem units formatting for easier customization down the road.

[2018-04-05 21:54] abbey24 commented on #1632
Several projects I work on need this kind of customized filter in datagrid! People are constantly asking to bring back the filter box in vSphere flex client, but having this is much better than that! Hope this gets implemented soon :)

[2018-04-05 22:20] adityarb88 commented on #857
New validation is not going to use Tooltips. Please see #932 for more info. Closing the issue.

[2018-04-05 22:20] #857 closed

[2018-04-05 22:28] lil-kim commented on #1651
Completed as part of Epic #1518

[2018-04-05 22:28] #1651 closed

[2018-04-05 22:30] lil-kim commented on #1786
Completed as part of Epic #1787

[2018-04-05 22:30] #1786 closed

[2018-04-05 22:33] gnomeontherun commented on #1023
Going to close this as the forms epic has this new component included.

[2018-04-05 22:33] #1023 closed

[2018-04-05 22:34] lil-kim commented on #1811
Completed as part of Epic #1787

[2018-04-05 22:34] #1811 closed

[2018-04-05 22:34] adityarb88 commented on #566
Just FYI: Our layout already supports adding a footer to it. StackBlitz: https://stackblitz.com/edit/clarity-footer

[2018-04-05 22:34] gnomeontherun commented on #268
This has been completed and is at https://vmware.github.io/clarity/documentation/v0.11/themes

[2018-04-05 22:34] #268 closed

[2018-04-05 22:34] Shijir commented on #687
We believe this is no longer an issue. Our components are fully pre-renderable and our documentation site is SSRed; hence, closing this issue.

[2018-04-05 22:34] #687 closed

[2018-04-05 22:35] gnomeontherun commented on #713
This is different now that validation design has changed for new forms and this will no longer be an issue.

[2018-04-05 22:35] #713 closed

[2018-04-05 22:37] hippee-lee commented on #755
This is still an issue with popovers and the z-index. Have not prioritized a solution yet.

[2018-04-05 22:38] gnomeontherun commented on #776
Looks like something we need to consider when we talk about improving fonts with Clarity, though a workaround does exist for changing the size per language.

[2018-04-05 22:42] lil-kim commented on #1869
Completed as part of epic https://github.com/vmware/clarity/issues/1787

[2018-04-05 22:42] #1869 closed

[2018-04-05 22:44] lil-kim commented on #1860
Completed as part of epic #1787

[2018-04-05 22:44] #1860 closed

[2018-04-05 22:45] mathisscott commented on #1632
Thanks, @abbey24 and @shravansofts

We are juggling a lot of priorities at this time. This remains something we are fully committed to implementing in the future. I'm hoping to give our community better visibility into our roadmap soon. Stay tuned!

[2018-04-05 22:47] hippee-lee commented on #452
Still on the roadmap but low priority.

[2018-04-05 22:48] mathisscott commented on #1219
Closing because both sub-tasks in this epic were closed.

[2018-04-05 22:48] #1219 closed

[2018-04-05 22:50] gnomeontherun commented on #937
Seems to be an issue, not sure how we want to resolve this yet. Moving to new milestone.

[2018-04-05 22:53] gnomeontherun commented on #1379
Closing as not something we're going to tackle in the near term.

[2018-04-05 22:53] #1379 closed

[2018-04-05 22:54] Shijir commented on #1373
it's fixed in https://github.com/vmware/clarity/pull/1996

[2018-04-05 22:54] #1373 closed

[2018-04-05 22:56] gnomeontherun commented on #1381
This should be resolved by the new forms, linking to that milestone.

[2018-04-05 22:58] adityarb88 commented on #263
I believe our UX has addressed the questions that were asked in this issue. Closing.

[2018-04-05 22:58] #263 closed

[2018-04-05 23:03] hippee-lee commented on #1166
Closing this b/c seed project has instructions for running an angular-cli app with Clarity. If this is still an issue feel free to re-open.

[2018-04-05 23:03] #1166 closed

[2018-04-05 23:04] Shijir commented on #87
Closing this issue now as we document this issue in the Theming section of our webstite. https://vmware.github.io/clarity/documentation/v0.11/themes

[2018-04-05 23:04] #87 closed

[2018-04-05 23:09] Shijir commented on #1452
this is a duplicate issue of https://github.com/vmware/clarity/issues/800

[2018-04-05 23:09] #1452 closed

[2018-04-05 23:10] hippee-lee commented on #1499
![screen shot 2018-04-05 at 4 08 59 pm](https://user-images.githubusercontent.com/433692/38396252-b19d5048-38eb-11e8-9a1f-a0bb961c6678.png)

Zoom out with the browser zoom to re-create the issue. This is something we want to fix for high density screens. Included screenshot re-creates the issue.

[2018-04-05 23:14] Shijir commented on #407
We have already made several optimizations in Clarity Icons. We will be further improving the optimizations as outlined in this issue https://github.com/vmware/clarity/issues/2052. So closing this one now.

[2018-04-05 23:14] #407 closed

[2018-04-06 04:14] UttamA commented on #1955
@adityarb88 I want to discuss the solution of this issue. I tried multiple options as below

1) transform: rotate -> We can rotate the rectangle and fit the right angle isosceles triangle at the edge but the border will not work in this case

2) clip path -> We can clip the right angle isosceles triangle and fit in the edge but same the border does not work

3) Create two triangle and overlap each

[2018-04-06 10:50] m-sureshraj commented on #2140
Hi @youdz

I think I found the issue. I'm using material icons for this project, not clarity icons.

**The drop-down markup**
[code]
**Check the material icon markup**
```<i class="material-icons">perm_identity</i> Profile```

**Issue**
If I open the drop-down before the material icon style is fully loaded, the initial icon text ("perm_identity") will appear in the drop-down. Once the style is loa

[2018-04-06 14:59] juanmendes commented on #2094
When this is implemented, would it be possible to provide a way for it not to send notifications a la `FormControl#setValue`. We currently have to hack it really hard to be able to ignore events that are caused by setting page/filters.

We set page/filters programatically because we have a card view and a grid view of items and we have to synchronize the pages/filters between both views.

[2018-04-06 16:30] adityarb88 commented on #1955
@UttamA:
We can't use `clip-path` because its not supported on IE11 and Edge both.
The last solution could work. I adjusted the values a little bit and i think it looks fine now so you might need to try different values and test if the supported browsers render this correctly: https://stackblitz.com/edit/clarity-light-theme-v11-tooltip-u6zx9l?file=app/app.component.css

This change might affect si

[2018-04-06 16:30] adityarb88 commented on #1955
@UttamA: Thanks for taking a look at this!

[2018-04-06 17:13] johnstill opened #2169 "Question about @clr/ui's peerDependency on bootstrap v4 alpha"
**Select one ...**  (check one with "x")
[code]

Maybe a bug, maybe a request - does `@clr/ui` need _exactly_ `boostrap@4.0.0-alpha.5`?  The project I'm working on runs an automated security scan of our dependencies which insists we move to `bootstrap@4.0.0` but `@clr/ui` insists that it should be run with exactly the alpha version.  `alpha.5` seems like an odd version to be pinned to in the first

[2018-04-06 19:25] maxtorchel commented on #1364
mb this is the solution
https://angular.io/api/common/NgComponentOutlet
you can create service that share observable property with components, and in the modal component through *ngFor show your modals

example:
`
export class Modal {
  opened = false;
  constructor(public component: Type<any>, public data?: any) {}

  open() {
    this.opened = true;
  }

  close() {
    this.opened = false;
  }

[2018-04-06 20:09] hippee-lee commented on #2109
Fixed in this commit: https://github.com/vmware/clarity/commit/144648e6b9d767da33c8bf6ac66f2d48bc09d059

[2018-04-06 20:09] #2109 closed

[2018-04-07 15:54] whizkidwwe1217 opened #2171 "How to switch sidenav list on level 2?"
**Select one ...**  (check one with "x")
[code]
How can I dynamically switch sidenav list on level 2 (just like in the clarity-ui website, when I switch to Icons page, the sidenav level 2 list changes)? I really need to replace the current sidenav level 2 ([clr-nav-level]="2") with another list when I navigate to another route and then switch it back to the previous list when navigating back to th

[2018-04-08 13:52] LubosD commented on #1364
For anyone ending up here, not knowing how to implement you own Modal service, this is a great start: https://medium.com/front-end-hacking/dynamically-add-components-to-the-dom-with-angular-71b0cb535286

[2018-04-08 15:32] UttamA commented on #1955
@adityarb88 Thanks Aditya. I will verify and test all the references of tooltip generator mixin.

[2018-04-08 17:24] maxtorchel commented on #1364
mb this is the solution
https://angular.io/api/common/NgComponentOutlet
you can create service that share observable property with components, and in the modal component through *ngFor show your modals

example:
[code]
modal component template:
[code]

[2018-04-09 08:50] collins1830207 opened #2172 "Datagrid is truncated in IE11."
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior
I encounter a problem in IE11. When the data of the datagrid is less, the table shows well:
<img width="643" alt="screen shot 2018-04-09 at 4 18 30 pm" src="https://user-images.githubusercontent.com/17468210/38487753-d0e0b370-3c13-11e8-99c8-52b464145782.png">
but when I add text it is truncated:
<img width=

[2018-04-09 12:55] youdz commented on #2172
As you pointed out, this is a duplicate of #1150 which is being worked on right now. Please follow that issue for updates, we have a team member already working on a fix for it (among other fixes).

[2018-04-09 12:55] #2172 closed

[2018-04-09 15:59] gnomeontherun commented on #2171
I think your question is better suited for Stack Overflow, we try to keep GitHub issues for bugs and feature issues. We monitor SO as well, but I suggest you also create a simplified stackblitz of your project to demonstrate your challenge to get the best support. I'm going to close this as a question not not an issue.

[2018-04-09 15:59] #2171 closed

[2018-04-10 01:35] CastilloMike opened #2174 "Carousel Component"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

A carousel like the one that has Bootstrap

### Actual behavior

Clarity does not have a Carousel Component
### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**
late

[2018-04-10 06:02] m-sureshraj commented on #2140
@youdz any updates on this issue.

[2018-04-10 07:46] MrCrunsh opened #2175 "[Icon] Can't integrate Clarity Icons in own Projekt"
Hello!
I can't integrate Clarity Icons in my Angular Projekt

I have the following instructions installed:
`npm install @ clr / icons --save`
`npm install @ webcomponents / custom-elements @ 1.0.0 --save`
`import '@clr/icons';` -> At angularpoint where i want integrate the Icons
`import '@clr/icons/shapes/all-shapes';`-> At angularpoint where i want integrate the Icons
`npm install @clr/angular --

[2018-04-10 12:47] thojo opened #2176 "Non-Bordered Table has light header border color in dark theme"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The bottom border color of table header cells for `.table-noborder` should be a darker color when using the dark theme, e.g. like border color of the basic table in dark theme.

### Actual behavior

For non-bordered tables in dark theme the header cell's bottom color is the light theme color.

### Reproduction of behavior

See

[2018-04-10 12:58] dkanev opened #2177 "clr-datagrid doesn't resize correctly last data grid column when it displays long data and columns have specified width"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The horizontal scroll bar not to appear when resize columns.

### Actual behavior
The horizontal  scroll bar appears.
If the grid has row actions the horizontal  scroll bar doesn't appear. I would like the same behavior
when there is no row actions.

### Reproduction of behavior
https://stackblitz.com/edit/clarity-light-theme-v

[2018-04-10 14:18] whizkidwwe1217 opened #2178 "[Date Picker] - Month and Year popups don't work when the component is placed inside a form validation tooltip"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Should show the popup for the month or year when placed inside a form validation tooltip.

### Actual behavior

Does not show popup for month and year.

### Reproduction of behavior

[code]
![image](https://user-images.githubusercontent.com/1977391/38562392-0ab4efe0-3d0d-11e8-909e-44db764c7c6b.png)

* Include a link to the rep

[2018-04-10 14:26] adityarb88 commented on #2178
@whizkidwwe1217: Please refer to this comment for more info: https://github.com/vmware/clarity/issues/2058#issuecomment-372349255

This should be fixed with the new forms + validation. More info here: #932.

Closing this as duplicate.

You stackblitz is not working because its on 0.11.1. Please update the Clarity version. Date Picker was released on 0.11.8
![image](https://user-images.githubuserco

[2018-04-10 14:26] #2178 closed

[2018-04-10 14:50] adityarb88 commented on #2174
@reddolan: Could you please take a look at this?

[2018-04-10 14:53] adityarb88 commented on #2175
@MrCrunsh: Could you please share your `.angular-cli.json`? You could also take a look at how we integrate icons on our website here: https://github.com/vmware/clarity/blob/website/latest/.angular-cli.json

Let us know if that helps.

cc: @shijir

[2018-04-10 14:59] adityarb88 commented on #2176
@hippee-lee @lil-kim: Could you please take a look at this?

[2018-04-10 15:31] Shijir commented on #2175
Hi @MrCrunsh, how are you integrating the custom-elements polyfill in your project?

Based on the error message you posted, I am guessing there might be multiple libraries integrated for polyfilling custom elements.

[2018-04-10 15:39] youdz commented on #2177
This looks like a bug to me, some variation of the automatic column width computing + extra columns (checkboxes, actions, expand caret, ...) that we supposedly fixed a while back.

At the very least both version of the datagrid in this stackblitz should have the same behavior. In the second one, it looks like the width computed for the last column doesn't use the proper column's data.

[2018-04-10 16:51] hippee-lee commented on #2176
Thanks for reporting this issue @thojo.
We will get a fix for it pushed out with this weeks release.

[2018-04-10 17:45] reddolan commented on #2174
We won't be creating a carousel component. This is because it is known to have many usability and accessibility issues.
https://www.nngroup.com/articles/auto-forwarding/

[2018-04-10 17:59] reddolan commented on #2174
I misunderstood the request. When carousels are used as a homepage hero component and have auto-forwarding, these are the implementations that are problematic. There are some useful implementations of a carousel though.

[2018-04-10 18:07] reddolan commented on #2174
Notes on best practices for design & implementation
- [https://www.nngroup.com/articles/designing-effective-carousels/](https://www.nngroup.com/articles/designing-effective-carousels/)
- [https://uxplanet.org/designing-a-user-friendly-homepage-carousel-f664c9f2b50e](https://uxplanet.org/designing-a-user-friendly-homepage-carousel-f664c9f2b50e)
- [https://www.nngroup.com/articles/auto-forwarding/](

[2018-04-10 19:43] SpencerHehl commented on #2175
I'm not sure what @MrCrunsh has set up but I just cloned and am playing with the ClaritySeed app and without any configuration for using the icons I get an error that clr-icon is not a known element. When i try adding the import "@clr/icons" I get the error @MrCrunsh does. So for me the .angular-cli.json is whatever is included in the seed app no modifications.

[2018-04-10 20:00] Shijir commented on #2175
As I posted above, I am guessing there might be multiple libraries that do the same thing. Or is there any chance you guys are loading Clarity Icons twice? There are two ways to load Clarity Icons. You have to use only one of them. If you are loading by importing like this:

[code]
make sure `clr-icons.min.js` is not loaded in your `.angular-cli.json`

[2018-04-10 21:48] Shijir commented on #2104
I see this issue has been resolved by https://github.com/vmware/clarity/pull/2037, which was introduced in v0.11.8.

https://stackblitz.com/edit/clarity-light-theme-v11-g1gqv9?file=app/app.component.html

[2018-04-10 21:48] #2104 closed

[2018-04-10 21:56] #2176 closed

[2018-04-11 00:29] gnomeontherun commented on #2175
If you declare a web component more than once you get the `NotSupportedError`. See  https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry/define

So as @Shijir says use only one way to import the icons via the `.angular-cli.json` file or `import '@clr/icons';` method.

I think our docs could be a little more clear about this, so we should tweak the how to use section.

[2018-04-11 00:32] SpencerHehl commented on #2175
Well again let's assume it is declared in your seed app's .angular-cli.json and that is causing the error when I try to import in TS. Then I still am faced with the other issue mentioned in the above post that the clr-icon is not a known element so something is missing from the seed app's current declaration I would imagine.

[2018-04-11 00:56] hippee-lee commented on #2175
Hi @SpencerHehl, @MrCrunsh  - this sounds like an issue for the clarity-seed repo.
I'm going to close this and open an issue over there. If its not an issue for the clarity-seed please let me know and I will re-open this one.

Please add any additional details that I missed there. I'll take a look at it as soon as I can.
https://github.com/vmware/clarity-seed/issues/77

[2018-04-11 00:56] #2175 closed

[2018-04-11 10:55] adestis-ds opened #2181 "Why a peer dependency to angular-devkit?"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
In a product I would not expect any (peer-) dependencies to development tools. When I use `@clr/angular` then either
* I have to include that dev-tool also as a dependency OR
* I get will get a warning during the build process

### Actual behavior
`@clr/angular` has peer-dependencies to `@angular-devkit/core` and `@angular-devk

[2018-04-11 14:30] mathisscott commented on #2005
@vmwareux-vivian and @reddolan
Can we update this ticket with the final details from our discussion that week? That way we can wrap up the UX piece and get it queued for implementation.

Thanks!

[2018-04-11 15:11] youdz commented on #2145
@gnomeontherun: Could you put an estimate on this, if you already started working on it?

[2018-04-11 15:59] Shijir opened #2182 "Fix typo in clarity docs"
**Select one ...**  (check one with "x")
[code]
A typo found in clarity docs under Dropdowns>Nested Menu> Description.
### Expected behavior

"ine" in the last bullet should be "line".

<img width="750" alt="screen shot 2018-04-10 at 12 58 15 pm" src="https://user-images.githubusercontent.com/3958008/38628387-130440b6-3d66-11e8-83c1-9ea9f3fccc16.png">

### Environment details

* **Angular version:

[2018-04-11 22:16] samuanv commented on #1672
I'm suffering this problem too in Windows 10 with Chrome while viewing the documentation at zoom 100%:
![image](https://user-images.githubusercontent.com/22155710/38645815-ba16fd10-3de5-11e8-96e4-b80ce9ee83a7.png)
But if I change the zoom to 90% or to 125% the problem dissapears:
![image](https://user-images.githubusercontent.com/22155710/38645903-12a49c44-3de6-11e8-9533-33e5776b760d.png)

Otherwi

[2018-04-12 04:29] maxtorchel opened #2184 "draggable modal"
[code]

### Expected behavior
Like a jquery dialog box, possibility to drag modal window behind the header.

### Environment details

* **Angular version:** 5.2.9

* **Clarity version:** 0.11.12

* **OS and version:** linuxmint mate 18.3

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebVi

[2018-04-12 08:14] dorthrithil commented on #2129
Will there also be icons for vertical content alignment (top, bottom, center)?

[2018-04-12 13:39] youdz commented on #2184
I believe this was discussed at the very beginning of Clarity, when we first released modals, and the decision was that it was pointless since modals are _always_ displayed with a mask, so you don't have access to the content under it. It's kind of the definition of "modal" anyway.

CC @reddolan for confirmation, if it's correct the issue can be closed.

[2018-04-12 13:45] mathisscott commented on #2184
@youdz
That is accurate.

[2018-04-12 13:45] #2184 closed

[2018-04-12 14:36] #2181 closed

[2018-04-12 15:04] maxtorchel commented on #2184
this was useful, if i need to see information under modal window and fill form in modal window using this information, that was frequently use case under our business logic

[2018-04-12 15:22] likwifi opened #2185 "Add gradient support for clarity icons"
[code]

### Actual behavior

Add gradient support for clarity icons.

[2018-04-12 15:49] reddolan commented on #2184
@youdz correct, modals have a mask that interferes with any interaction behind it.

@maxtorchel I would argue that if the user needs to see the information behind the modal, that a modal isn't the most useful component to be using for their case. Something that expands/collapses might work better so that they don't cover any pertinent content.

[2018-04-12 17:17] lil-kim commented on #2129
@dorthrithil
Sure. Added it to the list.

[2018-04-12 22:30] lil-kim commented on #2137
Examples of file formats:

PDF, JPG, EPS, AI, PSD, PNG, GIF, TIF, SKETCH
DOC, TXT, PPT, XLS, ZIP, EXE, MD, EPUB, MOBI, TTF, OTF, WOFF
MOV, AVI, MP3, MP4, WAV, PCM, M4A, MPEG, AVI
HTML, CSS, PHP, JS, XML, SVG, JSON, TS, DMG

[2018-04-12 23:00] #2103 closed

[2018-04-12 23:00] Shijir commented on #2182
Fixed https://github.com/vmware/clarity/commit/647a63906a788c51bc2a940420be45559023bc9a

[2018-04-12 23:00] #2182 closed

[2018-04-12 23:00] Shijir commented on #1048
Fixed in https://github.com/vmware/clarity/commit/647a63906a788c51bc2a940420be45559023bc9a

[2018-04-12 23:00] #1048 closed

[2018-04-13 00:02] lil-kim commented on #2137
Hi @Shijir , @youdz
I'm attaching an svg file to test dynamic generation of file type icons. Let me know if you need anything else.
[file type X.svg.zip](https://github.com/vmware/clarity/files/1905355/file.type.X.svg.zip)

![image](https://user-images.githubusercontent.com/23196444/38710056-20c7a770-3e73-11e8-84ea-f931ba89a7dd.png)

[2018-04-13 11:05] jansivans opened #2186 "Inconsistent single action behavior if filter is opened in datagrid"
[code]

### Actual behavior
If a datagrid has single row action and filter opened, action behaves inconsistently.

### Reproduction of behavior

1. Go to https://stackblitz.com/edit/clarity-light-theme-v11-91w4f7
2. Click "three dots" one by one. Result can be seen in screenshot:
![](https://i.imgur.com/hvb5ZXy.png)
Everything works so far - each action window opens one by one.
3. Open filter wind

[2018-04-13 17:54] jeremydejiacomo opened #2188 "Wizard header area and footer border enhancement"
**Select one ...**  (check one with "x")
[code]

### Description
Enhancements to the wizard structure and hierarchy.
- Header area
- Footer border

### Documentation
Enhancement to the wizard structure to allow for a top level header area that is separated by a horizontal rule. Header spacing maintains standard 24px padding with the added horizontal rule at the bottom of the header area. Add a hor

[2018-04-13 20:09] mathisscott commented on #2188
@jeremydejiacomo
Weren't we looking at 18px instead of 24px? To get the spacing tighter in the wizard and modal?

[2018-04-15 10:06] ashishsinghdev opened #2190 "Clarity Configuration Guide for all the seeds mentioned in Getting Started guide"
Clarity Configuration Guide should be for all the seeds mentioned in Getting Started guide

I've tried with [angular2-seed](https://github.com/mgechev/angular2-seed) but without any success.
@clr/angular package structure looks different from other external angular dependencies. That's why can't figure it out how to configure @clr/angular in systemjs.

**Select one ...**  (check one with "x")
[cod

[2018-04-15 14:07] whizkidwwe1217 opened #2191 "Icon Request - Peso Currency Symbol"
**Select one ...**  (check one with "x")
[code]
Can I request for a Peso currency symbol?
![image](https://user-images.githubusercontent.com/1977391/38779314-250a36b2-40f9-11e8-9e06-07fc6ff0e928.png)

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Cl

[2018-04-15 15:28] Thatkookooguy opened #2192 "looks like the community page is not being updated"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Once a user contributed to this repo, their username should be added to the "Contributors" list.
(if not immediately, then at a reasonable interval). If not by name, at least by username

### Actual behavior
The Contributors list on `GitHub` for clarity is not synchronized with the one on the `clarity site`.

### Reproduction o

[2018-04-16 07:36] Rush commented on #112
Anybody found a good slider which can be styled in the Clarity way?

[2018-04-16 10:49] tflanitzer commented on #2092
Is there no workaround for this? Because this issue basically means the datepicker cannot be used in modals at the moment.

[2018-04-16 11:36] dkanev opened #2193 "Menus which support scrolling"
[ ] bug
[x ] feature request
[ ] enhancement
[code]

[2018-04-16 12:51] adityarb88 commented on #2186
@jansivans: Thanks for reporting this. This does look a bug. We will take a look and get back to you.

[2018-04-16 12:59] adityarb88 commented on #2192
@Thatkookooguy: Thanks for reporting this! Although some of the names have already been mentioned on the Community page (For eg: `bdunkz` is `Brian Duncan`), I do agree that some are missing too. We actually want to automate this process. Right now we manually add names to the contributors list on the Community Page.

We will add this to our list our enhancements for the website. Thanks!

[2018-04-16 13:10] adityarb88 commented on #2193
@dkanev: Are you talking about dropdown menus? If yes, you could do something like this: https://stackblitz.com/edit/clarity-light-theme-v11-mzev31?file=app/app.component.html at your end.

Just wrap the options in a container and style that container to scroll. Let us know if that helps.

[2018-04-16 13:10] adityarb88 commented on #2191
@lil-kim: Could you please take a look at this request?

[2018-04-16 13:14] adityarb88 commented on #2185
@likwifi: I am sorry but I do not understand. Could you please edit your description to add more information about your request? Please add screenshots, if any, along with your description as that will help us review the feature that you are requesting.

[2018-04-16 13:17] adityarb88 commented on #2186
cc: @youdz

[2018-04-16 14:08] gnomeontherun commented on #2190
There are a lot of different Angular seeds, and it is not practical to try and document them all. Our recommendation is to use the Angular CLI (which you could use a seed that uses it too), because you'll get the best Angular experience. It fits the requirements of the vast majority of projects, and if it does not then you'll likely need to be very familiar with build and bundling tools to optimiz

[2018-04-16 14:08] #2190 closed

[2018-04-16 14:10] gnomeontherun commented on #2192
This is something I have planned for a website refresh, until then it will likely be manual.

[2018-04-16 18:05] hippee-lee commented on #1550
Moving back to the backlog for now.
This fix needs to wait until we wrap the pure consumer models to an internal model so that we can take advantage of a shared state.

[2018-04-16 18:23] jeremydejiacomo opened #2194 "18 px spacing option for modal and wizard windows"
**Select one ...**  (check one with "x")
[code]

### Description
Enhancement to modal and wizard window spacing structure to allow for an 18 px base option to the 24 px standard spacing.

### Documentation
Ability to set the spacing default for modal and wizard windows to be 18 px. This allows for smaller header, footer, and wizard nav panel areas and to be used in conjunction with the header and

[2018-04-16 18:25] jeremydejiacomo commented on #2188
@mathisscott  Addressing 18px spacing in this issue: https://github.com/vmware/clarity/issues/2194

[2018-04-16 19:14] gnomeontherun commented on #112
You can use a normal range input type and style it with good browser support while we build this out. https://caniuse.com/#feat=input-range
https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

[2018-04-17 04:31] Rush commented on #112
@gnomeontherun thank you. You can't imagine how much you helped me out. I was getting so frustrated not being able to find a good library.

[2018-04-17 10:15] gerald-gonzales commented on #248
Hoping that this component would be available soon.

[2018-04-17 10:50] dkanev commented on #2193
@adityarb88 Thank you for the replay,
I mean dropdown and context menus, which have sub(nested) menus.  This makes the
layout more complicated :
https://stackblitz.com/edit/clarity-light-theme-v11-5yi3fk?file=app/app.component.html

One good example for me are menus in the Kendo UI library, the scroll buttons appears only when the
menu items don't fit in the container:

https://dojo.telerik.com/@d

[2018-04-17 17:56] reddolan commented on #248
@gerald-gonzales this is currently under development

[2018-04-17 20:27] adityarb88 commented on #2193
@dkanev: In your StackBlitz, the nested menu is cut off because you are not using the dropdown component for the nested menu.

Please take a look at this StackBlitz: https://stackblitz.com/edit/clarity-light-theme-v11-mpq5or?file=app/app.component.css

I will take a look if we can apply the style directly to the dropdown menu but for now the above StackBlitz apporach looks like the best option.

[2018-04-17 22:19] dkanev commented on #2193
Thank you this will work for me!

[2018-04-18 00:56] whizkidwwe1217 commented on #1233
@frankspin89 Maybe you can check this out: [Lunacy]( https://icons8.com/lunacy). It's a new app called Lunacy that works for both Windows and Mac. They called it the Sketch for Windows. I tried it and it can indeed open a sketch file.
![image](https://user-images.githubusercontent.com/1977391/38905934-4c74df7e-42e6-11e8-8a89-4729279659a7.png)

[2018-04-18 07:40] matonev commented on #484
Guys,
I see this closed, but this is a blocker for us.
Here is our use-case:
1. We I have a bunch of items in a grid (300)
2. When the grid is loaded there are preselected items. Let's say 10.
3. Then I want to select a specific item and I know it's name, but I don't know on which page it is.
4. Now I can filter, but I will lost the selection or I can go through the pages and search for the item.

[2018-04-18 10:31] daveoon opened #2197 "Pagination disappear after server return the results."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The pagination should be updated with total items based on the server return result.

### Actual behavior
When the user sort the table, it calls the refresh method and in turns, it calls the server API to get the new items based on the parameters (page, sort and filters). When the result returns, i will set the items and the to

[2018-04-18 13:34] gnomeontherun commented on #2197
Hello, could you reproduce this with a stackblitz (https://stackblitz.com/edit/clarity-light-theme-v11) so we can understand what you are seeing? You can simulate server side rendering with a timeout, or better yet just load dummy data from an open API.

[2018-04-18 17:26] sdurnov commented on #2156
AFAIK, you may have issues with Prettier's property 'semi' in TS. If property is set to "true", it will add semicolons in places where it may be banned as unneeded by tslint rule. If you set it to "false", it will remove some needed semicolons.
I'd suggest to use jsbeautify for html format, prettier only for CSS/SCSS and tsfmt(typescript-formatter) for TS.

[2018-04-18 19:46] #2066 closed

[2018-04-18 23:11] lil-kim commented on #2101
Icons for this volume are done - except for #2173 (file type icons) -these need testing by dev.

[icons vol 11.zip](https://github.com/vmware/clarity/files/1926078/icons.vol.11.zip)

![image](https://user-images.githubusercontent.com/23196444/38962467-45a09fb2-4322-11e8-984f-79e10c278efb.png)

[2018-04-19 07:54] Capsicum42 opened #2198 "Signpost at wrong position if google chart is inside"
[x] bug
[ ] feature request
[ ] enhancement
`

### Expected behavior
The signpost should start with the arrow at the info symbol.
I included a google chart in the signpost

### Actual behavior
For all position "top" the arrow is below the info symbol

https://stackblitz.com/edit/signpost-google-chart?embed=1&file=app/app.component.html
Wrong: (This is the result from clicking on the first info box

[2018-04-19 09:03] dragon503 commented on #1752
@jbgarr Have you fixed it?
I met the same issue and use "clrDgStateChange" as mentioned in #1099 but do not work.

[2018-04-19 09:36] nithinkarthik6 opened #2199 "Modal as different component"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Modal as a different component should be included

### Actual behavior

Modals are working fine if i put them in main.component.html but i want to create a seperate modal component.html and .ts and include it in main page. How do i do it ?
### Reproduction of behavior

* Include a link to the reproduction scenario you created

[2018-04-19 10:28] sascha-friederich opened #2200 "Tooltip within Wizard + Stack View not visible"
### Since clarity version 0.11.7 tooltip is not displayed anymore.

**Select one ...**  (check one with "x")
[code]

### Expected behavior
When I open a wizard that uses a Stack view the tooltip should be visible!

![tooltip_clarity_11_6](https://user-images.githubusercontent.com/25248228/38986552-06246a48-43cd-11e8-93a2-2b1c87050beb.png)

### Actual behavior
When I open a wizard that uses a Stack

[2018-04-19 12:31] dennitsa commented on #1326
Thanks @mathisscott for the solution with attr.title.
By "in progress" I was looking at "@mathisscott mathisscott added this to In Progress in Clarity Icons Release Party on Oct 4, 2017", when you open the link there: "https://github.com/vmware/clarity/projects/3#card-4974344" it is still in "In prgress" state.

[2018-04-19 12:42] daverickdunn commented on #250
I've used Clarity extensively for the last 10-12 months across three very different projects. It's by far the best framework I've encountered for developing clean interfaces for complex apps requiring high levels of controls within 'n' clicks.

I've used every single component, bar _labels_, and I've copy-pasted-modified several. So many times I've been faced with a view that an 'accordian' is abs

[2018-04-19 13:39] realcnbs commented on #2199
Something like this?
https://stackblitz.com/edit/clarity-light-theme-v11-3clpz8

[2018-04-19 13:52] szechyjs commented on #248
Additional feature request...

- Display as a static list instead of a dropdown select box; similar to [PrimeNG Listbox](https://www.primefaces.org/primeng/#/listbox).

![screen shot 2018-04-19 at 9 49 16 am](https://user-images.githubusercontent.com/847739/38995577-34cf5652-43b7-11e8-9471-0f1dd1f7d0b9.png)

[2018-04-19 16:25] hippee-lee commented on #2199
Hi @nithinkarthik6 - this isn't an issue with Clarity itself. Would you mind asking on StackOverflow and tag your question with `vmware-clarity`? If you post a Stackblitz for what you have tried so far when we answer it there it will help the community.

[2018-04-19 16:25] #2199 closed

[2018-04-19 18:21] jeremydejiacomo opened #2203 "Wizard step error state"
**Select one ...**  (check one with "x")
[code]

### Description
Enhancement to the wizard component to add an error state to the wizard step states.
Wizard step states:
- Inactive
- Active
- Complete
- Error (new state addition)

### Documentation
Wizard step state that displays when an error has occurred once the wizard is saved/submitted/published. This addresses two primary scenarios:
1. Once

[2018-04-19 18:43] Er1cG1ft opened #2204 "Access column list on datagrid"
**Select one ...**  (check one with "x")
[code]

### Description
I am using a datagrid with a customizable set of columns that can be saved in "views" (a list of columns with a 'hidden' field to determine which columns to hide).  After adding/removing columns from the default view, I want users to be given an option to save a new view.  The only way I could get this working was to make the columnS

[2018-04-19 20:30] borcherspm commented on #2105
This is also happening in IE.

[2018-04-19 21:05] borcherspm commented on #2105
removing ```display: inline-table``` did not fix it for me.

I had to hardcode the line-height to 23px to fix it...

[code]

[2018-04-20 08:30] zivanov123 commented on #1636
We're having the same issue.
We ended up calling manually navService. setFirstPageCurrent().
The problem is that the second page is still getting onLoad event and tries to load data which is dependent on the first page.

[2018-04-20 12:15] Elvander opened #2205 "Latest version contains a node_modules with own rxjs"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Clarity design to use the same version of rxjs as defined in the project package.json.

### Actual behavior
Latest version contains node_module directory. This contains @angular-devkit and rxjs. This creates collisions with rxjs version defined in my own package.json

![image](https://user-images.githubusercontent.com/2167777/3

[2018-04-20 13:56] pumano commented on #2200
I report similar issue too: https://github.com/vmware/clarity/issues/1880
Hope Clarity Team fix it.

[2018-04-20 19:53] gnomeontherun commented on #2185
I'm not sure I understand what kind of API would be useful here, this is just CSS that you could write to target any `clr-icon`.

[2018-04-20 19:58] gnomeontherun commented on #2205
Due to schematics, we need the `@angular-devkit/schematics` and `@angular-devkit/core` packages (which depend upon `rxjs`). How is it colliding with your rxjs in your package.json?

The example error you show is known to us, and is being fixed but is not part of our actual library (its just the demo app we build upon).

[2018-04-20 20:52] gnomeontherun commented on #2198
This appears to be an issue with the lifecycle of your charts. Your chart is rendered _after_ the signpost position and size is calculated (so it renders a signpost based on a non-existant chart), and when the chart renders it causes the signpost to expand but the arrow positions are no longer calculated right. Your charts are also outside of normal change detection.

If you know the size of the c

[2018-04-20 20:52] #2198 closed

[2018-04-20 20:55] Er1cG1ft commented on #2204
Thanks so much! This works perfectly.

[2018-04-20 20:55] #2204 closed

[2018-04-21 08:52] whizkidwwe1217 commented on #2205
I got the same error when creating custom data grid filters:
![image](https://user-images.githubusercontent.com/1977391/39082349-43919c12-4584-11e8-9c56-c831c6b632aa.png)

[2018-04-21 10:57] likwifi commented on #2185
@gnomeontherun
I mean something like this.
`<clr-icon shape="home" clr-gradient="linear-gradient(red, yellow)" size="40">`
and considering this attribute clarity-icons js should create svg defs>linearGradient tag.

[2018-04-21 18:01] gnomeontherun commented on #2205
This seems like two separate issues, but related.

First, there is concern about us adding dependency packages and it conflicting with node_modules. For this, are you using a lock file for your packages? It could be an issue if you don't, because depending on the way your dependencies are listed it could install a different version after module version resolution.

As far as the interface error, w

[2018-04-21 18:12] gnomeontherun commented on #2185
I see, we'll mark this as an enhancement request and see if it is something that we'll support.

@reddolan What would the UX guidance be with having gradients?

[2018-04-21 18:34] reddolan commented on #2185
@gnomeontherun is there something to prevent them from using css gradients now?

[2018-04-23 03:59] UttamA commented on #1955
@adityarb88 I have done the changes but the CI is failing in [✘ wizard form-validation default [chrome]]. This is because the arrow width which I added. I am new to gemini test case so I think we need to change the screen shots @clarity\gemini\screens\wizard\form-validation\default to accommodate the new size.
Can you please check the changes once and let me know how to move forward in this issue.

[2018-04-23 07:08] delockdown commented on #2091
Hi @adityarb88 ,
Is it possible to get 'YYYY-MM-DD' formate because after this it gets the format of 'DD-MM-YYYY'.

[2018-04-23 07:28] Elvander commented on #2205
It is actually the same issue as described by **whizkidwwe1217**.

![image](https://user-images.githubusercontent.com/2167777/39111953-43d790d8-46d7-11e8-8180-37ed8c7cbb38.png)

I thought the problem was the node_modules, because the Subject used in the custom filter is colliding with Subject from the interface ( different versions ). If I removed the node_modules folder in the @clr/angular librar

[2018-04-23 08:08] delockdown opened #2206 "Date input doesn't show errors properly"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Need to be show the error as it is in other input fields

### Actual behavior
![screen shot 2018-04-23 at 1 36 32 pm](https://user-images.githubusercontent.com/1327120/39114079-61795896-46fb-11e8-8485-9ee4289aa8b4.png)

when error value is entered it will show the icon but doesn't show any thing. For correct value, icon will di

[2018-04-23 11:29] sdurnov opened #2207 "Proposal: move UX development from Sketch to Figma"
[code]

### Expected behavior
Sketch is great tool, but it works only for Mac users.
There's a cross-platform tool with apps for Mac and Windows, which also works in browser - [Figma](https://figma.com). This is a very Sketch-like with support of components and components library, which supports master components, instances and their auto-update.
You can import sketch files to Figma, but native Fi

[2018-04-23 16:37] hippee-lee commented on #1955
@UttamA - when the reference image needs to be updated, anyone can update it and commit it to the PR so we can take a look and approve. You can update the images in set4 whouch should generate new images only for the tests affected by your change.

You do need to have docker installed and running on your system. See the wiki page on [css regression ](https://github.com/vmware/clarity/wiki/CSS-Regr

[2018-04-23 16:45] reddolan commented on #2185
@gnomeontherun I just assumed that if we allow for color change that gradient would be included. I didn't know it was an extra effort to enable it. I would think if it isn't too much effort, we would want the flexibility. If it is quite a bit of effort/time, then lets chat offline about it and figure out how to proceed.

[2018-04-24 13:45] dscoblen commented on #2066
Very cool, thank you!

[2018-04-24 13:45] adityarb88 commented on #2206
@delockdown: Thanks! This is a known issue. I am going to close this as duplicate. Please refer to this issue for more info: https://github.com/vmware/clarity/issues/2058#issuecomment-372349255

We are currently working on a new version of forms which will resolve this. Please let us know if you have any other questions.

[2018-04-24 13:45] #2206 closed

[2018-04-24 13:47] adityarb88 commented on #2200
@sascha-friederich: Please refer to this comment: https://github.com/vmware/clarity/issues/1880#issuecomment-359541423

Are you using the Angular tooltip component or the static one? You need to use the Angular tooltip component to avoid clipping.

[2018-04-24 14:15] adityarb88 commented on #2091
@delockdown: You could bind to `clrDateChange`. That emits a Javascript `Date` object.  Would that help? You could also refer to this issue for more information: https://github.com/vmware/clarity/issues/2056

[2018-04-24 14:29] sascha-friederich commented on #2200
thanx for the hint - using the angular component instead of the static one everything is fine.

[2018-04-24 14:29] #2200 closed

[2018-04-24 15:36] UttamA commented on #1955
@hippee-lee Thanks for the help. I tried to setup the docker and gemini in my system. I executed npm run cssUpdate set4. I am seeing below error. Do you I need to do any other setup?

Element .btn was not shown in 5000ms
✘ wizard custom-danger-button default [chrome]
Element .btn was not shown in 5000ms
✘ wizard default-header-actions default [chrome]
Element .btn was not shown in 5000ms
✘ wizard

[2018-04-24 16:07] reddolan commented on #2207
Figma is a quickly growing platform, and this sounds like a great idea! It also sounds like you are skilled in Figma. While we don’t have the resources to maintain something like this as a part of Clarity, if you wanted to create the resources we would be happy to let folks know about your efforts.

[2018-04-24 16:07] #2207 closed

[2018-04-24 16:31] hippee-lee commented on #1955
Hmm, it looks like Chrome wasn't able to connect to the server for those.
I've seen that before and making sure the docker container was stopped (`$ docker container ls` to see running containers and `$docker stop <container ID here>`)
If there is no container running you are good and can just run the updates again. If the selenium/chrom container is running you will need to stop it before re-runn

[2018-04-24 16:35] youdz commented on #2197
Looks to me like you are using `*clrDgItems` for a server-driven datagrid, instead of `*ngFor`.
Anyway, this is clearly a question so please post it (with a StackBlitz) on StackOverflow with the label `vmware-clarity`.  We monitor it daily, and maybe your question has already been answered over there.

[2018-04-24 16:35] #2197 closed

[2018-04-24 18:12] #2019 closed

[2018-04-24 21:33] gnomeontherun commented on #2052
Deprecate these by the start of 0.12.0 and remove in 0.13

[2018-04-24 21:46] gnomeontherun commented on #45
This is no longer valid and similar work will resolve this with forms refactoring.

[2018-04-24 21:46] #45 closed

[2018-04-25 02:27] DonaldAlan opened #2209 "Adjusting vertical spacing in Tree View"
Is there a way to adjust the vertical spacing between lines/entries in Tree View? I want it more compressed.

[2018-04-25 02:29] DonaldAlan commented on #2117
I would like to be able to react to the hide/show events and use it elsewhere in my app (e.g., for query filtering).

[2018-04-25 04:44] UttamA commented on #1955
@hippee-lee I tried the above command and observed empty list. Anyways after execution the container is killed. Actually I am running the script directly as` $ ./scripts/docker-cdc.js -u set4` instead of `npm run cssUpdate set4` because in window when I run this command then I am getting below errors.

'.' is not recognized as an internal or external command,
operable program or batch file.
npm ER

[2018-04-25 10:30] sdurnov commented on #2207
Ok then, I have a question. If I'll create Clarity components for Figma, may I sell it?

[2018-04-25 10:45] delockdown commented on #2091
Hi @adityarb88, Can you create a example of doing that change that for me. It would be very helpful to me.

[2018-04-25 13:19] adityarb88 commented on #2091
@delockdown: We already have an example of that in our docs:
https://vmware.github.io/clarity/documentation/v0.11/datepicker

![image](https://user-images.githubusercontent.com/1426805/39248313-b6f1f7be-4869-11e8-8571-5fda8fe6044e.png)

Let us know if that helps.

[2018-04-25 13:27] mathisscott commented on #2207
@sdurnov
Per our license, you are free to sell a Figma library.

https://github.com/vmware/clarity/blob/master/LICENSE

[2018-04-25 13:38] adityarb88 commented on #2209
@DonaldAlan: You could do this on your end. You would just have to override the styles. Something like this: https://stackblitz.com/edit/clarity-light-theme-v11-jyfrr8?file=app/app.component.css

For more info please refer to this link: https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep

Let us know if this helps. Closing the issue based on this.

[2018-04-25 13:38] #2209 closed

[2018-04-25 14:58] mathisscott commented on #2101
@lil-kim
Could you move this to the Bullpen and assign to @Shijir ?

Thanks!

[2018-04-25 14:58] mathisscott commented on #2005
@vmwareux-vivian and @reddolan
Please see last comment...

[2018-04-25 15:24] #2116 closed

[2018-04-25 15:38] #2108 closed

[2018-04-25 15:51] vmwareux-vivian commented on #2005
@mathisscott Hi Scott, I updated the ticket two weeks ago, and have sent the link out to Red for review. If there's anything I missed in here, please let me know.
@reddolan Hi Red, do you have any comment on this write-up?

[2018-04-25 15:52] hippee-lee commented on #1955
@UttamA - I see. And it still times out when you re-run set4 with the `docker-cdc.js` script?
I do see the `Element .btn was not shown in 5000ms` error occasionally, usually when i'm running the gemini suites after re-starting my computer. When I see that, I kill the job on the command line, stop the docker container and re-run. The tests will run as I expect them to after that.

So when you re-ru

[2018-04-25 20:30] #2105 closed

[2018-04-26 00:34] sdurnov opened #2212 "Clarity UX center"
[code]
I feel like design guidelines are nice, but not enough.

I'm sure that there's a lot of screens are being created internally by VMware itself, and there should be even more created by teams who use Clarity.

I think it would be great help for all who start using Clarity to have more examples of layouts created using Clarity.

How about creating a page with gallery or blog, where people can

[2018-04-26 00:39] sdurnov commented on #1982
Nice to have, but as an option.

[2018-04-26 03:12] CodingChum commented on #1955
@hippee-lee yes I still get the same error. I thought something related to windows on docker is the problem then I tried two version of docker then still the same problem. I also tried `gemini test `and still the same problem.

I am thinking to write simple HTML with CSS and then run the gemini test case and see the result.

[2018-04-26 03:14] UttamA commented on #1955
@hippee-lee Sorry I posted with different email id. CodingChum is also my user id.

[2018-04-26 06:34] Kevin2iBi opened #2213 "clrDgHideableColumn change detection"
I want to know if it is possible to capture the event when the visibility of a column changes,
Because I want to save the changes of the user to not always be configuring what to show, what not to show.

[2018-04-26 06:47] Kevin2iBi commented on #2117
Any update about this request??

[2018-04-26 07:08] power721 commented on #2117
Actually, we could get columns from Datagrid if we just want to keep state.
[code]

[2018-04-26 07:25] Kevin2iBi commented on #1856
Any update about this request???

[2018-04-26 07:30] sdurnov commented on #2213
@Kevin2iBi check [this](https://github.com/vmware/clarity/issues/2204)

[2018-04-26 13:03] Kevin2iBi commented on #2204
How can i set my custom column id or field name without filter?

[2018-04-26 13:24] youdz opened #2214 "[NG] Tabs overflow toggle is missing type="button""
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Any button in the template of a Clarity component should have `type="button"`, in case the component is used inside of a form.

### Actual behavior

The tab overflow toggle doesn't have `type="button"`, so when the tabs are used in a form opening the toggle submits the form every time. Reported here: https://stackoverflow.com/

[2018-04-26 13:27] adityarb88 opened #2215 "[NG] Forms containing tabs are submitted when a tab link is clicked"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Buttons activating a tab should have `type="button"` to avoid submitting a form containing tabs by default when clicked.

### Actual behavior

Forms containing tabs are submitted when the tab link is clicked.

### Reproduction of behavior
https://stackoverflow.com/questions/50027543/clarity-tab-overflow-button-submits-form
![i

[2018-04-26 13:28] adityarb88 commented on #2215
Duplicate of #2214

[2018-04-26 13:28] #2215 closed

[2018-04-26 13:30] adityarb88 commented on #2214
assigned it to myself. will fix it soon. thanks!

[2018-04-26 13:51] gnomeontherun commented on #2117
Here is another workaround that might be useful in the interim. It is possible to get the `hidden` state of a column and unless you need to listen directly to the events of the column toggler (which we don't expose), you can always look at the columns for their current state to persist. Using ngOnDestroy as @power721 suggested is a useful approach to persisting the data when the component is destr

[2018-04-26 14:27] mathisscott commented on #1856
@gnomeontherun
Could you assign this to one of our milestones?

[2018-04-26 14:27] #2214 closed

[2018-04-26 15:18] #2004 closed

[2018-04-26 17:53] tkoleary opened #2218 "Add documentation about the FocusTrap and FocusTrapTracker directives"
[ ] bug
[x ] feature request
[ ] enhancement
[code]

[2018-04-26 18:01] hippee-lee commented on #1955
Can you confirm the pull request we are talking about and make sure your latest changes have been pushed up to it?
I'll pull your code and see if there is something I can do to help with the screenshots.

[2018-04-26 18:56] adityarb88 opened #2219 "[UI] Nested Dropdown Menu Indicator not vertically centered when screen size is less than 576px"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Nested Menu indicator should be vertically centered.

### Actual behavior

![image](https://user-images.githubusercontent.com/1426805/39326035-d67486d0-4961-11e8-9a84-da62c84d3259.png)

### Reproduction of behavior

https://vmware.github.io/clarity/documentation/v0.11/dropdowns

### Environment details

* **Angular version:**

[2018-04-26 21:05] Shijir commented on #2218
Hi @tkoleary, we haven't documented about `FocusTrap` directive because it's one of our several components/directives that are created with an intention to be used internally only.

[2018-04-26 21:05] #2218 closed

[2018-04-27 06:58] bohdyone opened #2220 "Subnav element not responsive"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Responsive overflow behaviour when using subnav.
I saw this discussed for tab elements in #602, but a solution for subnav seems to have never been built.
Side nav is not a replacement for this feature as it doesn't lend itself to a primary navigation purpose.

### Actual behavior
Right now if there are more items in the subnav

[2018-04-27 08:58] UttamA commented on #1955
@hippee-lee I rebased and pushed the latest changes. You can pull the code. Thanks for the help

[2018-04-27 10:48] UttamA commented on #1907
I see this issue is already fixed with #2120.

[2018-04-27 13:32] pumano commented on #2191
Also will be good to have russian rouble sign: ₽

[2018-04-27 14:07] mathisscott commented on #2191
Hi @pumano
Could you open a separate github issue for the Ruble? We will try to get it into our Vol. 12 icon release in a couple of months.

Thanks!

[2018-04-27 14:15] tkoleary commented on #2218
What?! What does "internally only" mean? The directives are in the repo and the repo is open-source, per the license.

"The MIT license (the "License") set forth below **_applies to all parts of the Clarity project_** except for the fonts" (my emphasis)

You are certainly not obligated to write documentation for everything in the project but if the goal of making it open-source is to get others ou

[2018-04-27 15:13] pumano opened #2221 "Ruble sign icon"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Please add russian ruble sign icon: ₽
For details: https://en.wikipedia.org/wiki/Ruble_sign

[2018-04-27 15:14] pumano commented on #2191
Yes, sure #2221

[2018-04-27 15:27] adityarb88 commented on #248
@gperdomor: We plan to start working on implementing this soon. We are in the process of figuring out what features should the first version of Select 2.0 have. Will post more updates here when I have them!

[2018-04-27 16:22] lil-kim opened #2222 "Volume 12 Icons"
**Select one ...**  (check one with "x")
[code]
Epic for Volume 12 icons

[2018-04-29 07:38] armpp commented on #1124
@reddolan how to update ?, Plase help me

[2018-04-29 08:00] armpp commented on #248
I'm waiting
How long will it be?

[2018-04-29 17:58] gperdomor commented on #248
@adityarb88 thanks for the response... I need this feature so I'm happy to see your first commit :D. I can't adopt clarity without this :(

[2018-04-30 10:03] nithinkarthik6 opened #2224 "Checkbox tree-view"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Read the multiple values selected by user in checkbox tree-view

### Actual behavior

I am trying to read the values which user selects from check-box tree view. I'm not able to do it using ngModel and ngValue. How do i achieve this ?
### Reproduction of behavior

* Include a link to the reproduction scenario you created by fo

[2018-04-30 13:16] gnomeontherun commented on #2224
Per our documentation, you use the `clrSelected` binding on the tree node to get the state of the values that are selected. If you have further questions about how to use this component, it would be best suited for Stack Overflow, which we monitor closely.

https://vmware.github.io/clarity/documentation/v0.11/tree-view

[2018-04-30 13:16] #2224 closed

[2018-04-30 13:26] gnomeontherun commented on #2204
@Kevin2iBi I'm not sure what you mean about filter, it is used purely to filter the list of columns to show only visible ones. Please post additional questions about implementation on Stack Overflow, we use GitHub issues for bugs and features.

[2018-04-30 15:38] mathisscott commented on #250
Thanks for reaching out @daverickdunn

This is something that is on our long-term roadmap. So it will, at some point, become a part of Clarity. If your use case requires its addition to the library sooner than we can get to it, we would be happy to work with you on an external  contribution.

Thanks!

[2018-04-30 17:03] syndesis commented on #1182
FYI, this might be related to #2105 .  I don't have a Windows machine to confirm anymore.

[2018-04-30 19:36] gnomeontherun commented on #2148
Hi @jakehockey10 for general questions it is best to ask on Stack Overflow with the `vmware-clarity` tag. We monitor that regularly and don't use GitHub issues for support.

To answer your question, that is how Angular modules work. Each module is isolated, so you do need to import it everywhere you need it. You can also import just the submodules that you need, such as the ClrDatagridModule which

[2018-04-30 19:51] jakehockey10 commented on #2148
awesome.  That makes sense.  Thanks a lot!  I'll make sure to head to StackOverflow for these types of questions.  I appreciate it!

[2018-04-30 21:48] usmanajmal commented on #1404
I will vote for this feature too. In some cases we don't like columns to be resized by user.

[2018-04-30 23:40] Shijir commented on #1404
@usmanajmal you could disable resizing by applying this simple CSS rule:

[code]

[2018-05-01 22:57] DonaldAlan opened #2226 "Version 0.11 Dropdowns not working, or wrongly documented"
[code]

### Expected behavior
According to https://vmware.github.io/clarity/documentation/v0.11/dropdowns, I should be able to use the sample code snippets to make dropdowns.
### Actual behavior
The dropdowns built using `<div class="dropdown">....</div>` don't work. I can't toggle the dropdowns open.

They work neither on that documentation page, nor when I copy the code to my project.

I tried t

[2018-05-01 23:59] adamstauffer commented on #1084
still getting this issue in 0.10.27. if we have a datagrid with page size set to 25, but filter the datagrid to only show 10 items, the 15 row whitespace below isnt cleaned up. is this the same bug as what was originally posted or should i create a new issue?

[2018-05-02 00:02] hippee-lee commented on #2226
Hi @DonaldAlan.

The first example is for `@clr/ui` where it is expected that we are only providing the html and css for look-n-feel. This allows the behavior to be supplied by any JavaScript that your want or need.

In the second example, the one that looks like `<clr-dropdown>` is for use with Angular. While most components can be used with `@clr/ui` some of the more complex components like Wiza

[2018-05-02 00:02] #2226 closed

[2018-05-02 02:16] jewway opened #2227 "[UI] layout main-container variable missed semicolon."
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior
[code]

[$clr-header-nav-text-horizontal-padding: 1rem !default](https://github.com/vmware/clarity/blob/f2264cf7e753fe04a099681df6d454a33cf7d444/src/clr-angular/layout/main-container/_variables.header.scss#L22)

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forki

[2018-05-02 05:59] jewway commented on #1312
**1.the overlap of 4px**
I try the way below to fix it, but it need hard code  clrposition attribute.

[code]

Another solution : Add directions class on clr-dropdown component in runtime.
![image](https://user-images.githubusercontent.com/3501899/39507291-d9500584-4e0f-11e8-8d6d-e5d0332ff03a.png)

I am not sure have any better solution.

**2.the nested item should align with one of the parent ite

[2018-05-02 14:37] mathisscott commented on #2005
@reddolan ^

[2018-05-02 14:50] mathisscott commented on #1633
@yuxin-ux
Do we have an update on this component? As I recall, we were pretty close on finishing up the UX piece for this...