[2021-02-05 19:20] #3861 closed

[2021-02-05 19:25] gnomeontherun commented on #3857
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:25] #3857 closed

[2021-02-05 19:25] gnomeontherun commented on #3845
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:25] #3845 closed

[2021-02-05 19:26] gnomeontherun commented on #3844
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:26] #3844 closed

[2021-02-05 19:27] gnomeontherun commented on #3843
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:27] #3843 closed

[2021-02-05 19:27] gnomeontherun commented on #3698
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:27] #3698 closed

[2021-02-05 19:28] gnomeontherun commented on #3647
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:28] #3647 closed

[2021-02-05 19:29] gnomeontherun commented on #3098
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:29] #3098 closed

[2021-02-05 19:30] gnomeontherun commented on #3964
You can also use a readonly input to display this. However, with Clarity Core this is possible and now documented through #5572. Closing as resolved.

[2021-02-05 19:30] #3964 closed

[2021-02-05 19:42] gnomeontherun commented on #3990
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:42] #3990 closed

[2021-02-05 19:42] gnomeontherun commented on #4182
Some folks have accomplished this with some creative CSS, but its still not a default feature or functionality.

The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our de

[2021-02-05 19:42] #4182 closed

[2021-02-05 19:47] gnomeontherun commented on #3777
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 19:47] #3777 closed

[2021-02-05 19:56] gnomeontherun commented on #4274
This is a duplicate of #3009 and closing with same resolution.

[2021-02-05 19:56] #4274 closed

[2021-02-05 20:06] hippee-lee opened #5580 "Add ability to change the width of a form label for checkboxes and radios to 100%"
## Summary

When consumers need to build forms that are wider than the default labels, extending the label to 100% provides a much larger area to create a clickable 'row'.

The change needs to modify `cds-checkbox-group` and `cds-internal-control-label` to respond to a `width: 100%` setting.

This change may impact existing behaviors for the group label vs the checkbox/radio label and it may also

[2021-02-05 20:08] gnomeontherun commented on #41
This is a lengthy and complex issue. To date, there have been no technical proposals that make this accessible for all users, and that is why this issue has not been implemented. We won't commit to this as a change to Clarity Angular datagrid, but we know some workarounds have been created as well. I believe that our Clarity Core implementation of Datagrid will not prevent this capability.

The fe

[2021-02-05 20:08] #41 closed

[2021-02-05 20:17] gnomeontherun commented on #1632
This is a good design for us to take into account, but we also need to review it and potentially update it for current requirements and accessibility.

The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our

[2021-02-05 20:17] #1632 closed

[2021-02-05 20:18] gnomeontherun commented on #5380
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 20:18] #5380 closed, assigned to nobody

[2021-02-05 20:23] gnomeontherun commented on #5365
Given that Clarity UI/Angular are frozen, I would expect that you could workaround this issue by copying the relevant variables into your project so it works with dark theme. This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, bu

[2021-02-05 20:23] #5365 closed, assigned to nobody

[2021-02-05 20:53] gnomeontherun commented on #5287
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-05 20:53] #5287 closed, assigned to nobody

[2021-02-05 20:54] gnomeontherun commented on #5273
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 20:54] #5273 closed, assigned to nobody

[2021-02-05 20:54] gnomeontherun commented on #5044
This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized.

In an effort to clean up our backlog and focus our attention, I’m going to close this

[2021-02-05 20:54] #5044 closed

[2021-02-05 20:57] coryrylan commented on #5560
closed by #5571

[2021-02-05 20:57] #5560 closed, assigned to coryrylan

[2021-02-05 21:07] hippee-lee commented on #5578
It looks like this is fixed in the latest release.
![Screen Shot 2021-02-05 at 1 08 02 PM](https://user-images.githubusercontent.com/433692/107089281-3a4f1400-67b3-11eb-813a-9dce147ba51e.png)

[2021-02-05 21:08] #5578 closed, assigned to nobody

[2021-02-05 21:19] gnomeontherun commented on #4220
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:19] #4220 closed

[2021-02-05 21:20] gnomeontherun commented on #4303
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:20] #4303 closed

[2021-02-05 21:20] gnomeontherun commented on #4303
Core actually has form groups as well, which might close this request as resolved.

[2021-02-05 21:21] gnomeontherun commented on #4309
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:21] #4309 closed

[2021-02-05 21:21] gnomeontherun commented on #4370
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:21] #4370 closed

[2021-02-05 21:22] gnomeontherun commented on #4471
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-05 21:22] #4471 closed

[2021-02-05 21:27] gnomeontherun commented on #4472
The original concern here is that the popover positioning doesn't understand page resize events, but this is not a major flaw. If the issue is different, then we need updated details with a new reproduction.

This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our strategy with Clarity Angular is to

[2021-02-05 21:27] #4472 closed

[2021-02-05 21:31] gnomeontherun commented on #4476
This is a feature coming soon to Clarity Core with the work in our animations.

In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to be resolved by upcoming implementations in Clarity Core. Please follow our development and releases to see when we release relevant components to make this possible.

[2021-02-05 21:31] #4476 closed

[2021-02-05 21:32] gnomeontherun commented on #4518
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:32] #4518 closed

[2021-02-05 21:32] gnomeontherun commented on #4549
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:32] #4549 closed

[2021-02-05 21:33] gnomeontherun commented on #4760
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:33] #4760 closed

[2021-02-05 21:38] gnomeontherun commented on #4763
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-05 21:38] #4763 closed

[2021-02-05 21:41] colinreedmiller commented on #4303
The core form group is different - more than one selection under a single label. This request is for a visual element that divides a form into sections. The html fieldset is equivalent - simply a container for grouping inputs by type, in this case styled for Clarity consistency.

[2021-02-05 21:44] gnomeontherun commented on #4439
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:44] #4439 closed

[2021-02-05 21:45] gnomeontherun commented on #4908
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:45] #4908 closed

[2021-02-05 21:46] gnomeontherun commented on #4729
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:46] #4729 closed

[2021-02-05 21:47] gnomeontherun commented on #4419
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:47] #4419 closed

[2021-02-05 21:47] gnomeontherun commented on #4340
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:47] #4340 closed

[2021-02-05 21:48] gnomeontherun commented on #3157
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:48] #3157 closed

[2021-02-05 21:49] gnomeontherun commented on #2174
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:49] #2174 closed

[2021-02-05 21:49] colinreedmiller commented on #4303
design reference: https://www.figma.com/file/oejFPZmH05Y0A5ycr3zI5q/Forms-fieldset?node-id=0%3A1

[2021-02-05 21:50] gnomeontherun commented on #1870
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:50] #1870 closed

[2021-02-05 21:50] gnomeontherun commented on #1527
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 21:50] #1527 closed

[2021-02-05 22:15] gnomeontherun commented on #1259
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 22:15] #1259 closed

[2021-02-05 22:22] gnomeontherun commented on #474
This is a large issue that is hard to complete due to the complexity of requests all inside of this one issue. These are difficult to accomplish everything while retaining full accessibility, customizability, and localization. There are various workarounds and solutions people have come up with, and we're glad people are unblocking themselves.

The feature request here has been captured into our l

[2021-02-05 22:22] #474 closed

[2021-02-05 22:23] gnomeontherun commented on #365
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 22:23] #365 closed

[2021-02-05 22:24] gnomeontherun commented on #186
The basics of a search component are available in Clarity Core already, but this issue covers a number of specific use cases that aren't supported out of the box. These feature requests have been captured into our list and we’re going to take them into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as cap

[2021-02-05 22:24] #186 closed

[2021-02-05 22:29] gnomeontherun commented on #4355
This should be resolved in Clarity v3, so closing as resolved.

[2021-02-05 22:29] #4355 closed

[2021-02-05 22:30] gnomeontherun commented on #4690
This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized.

In an effort to clean up our backlog and focus our attention, I’m going to close this

[2021-02-05 22:30] #4690 closed

[2021-02-05 22:32] gnomeontherun commented on #1640
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-05 22:32] #1640 closed

[2021-02-06 01:17] #4289 closed

[2021-02-06 16:06] dorthrithil opened #5581 "Broken styles in Header while trying to migrate to Clarity Core"
## Describe the bug

Today I started to tackle the migration towards Core and immediately ran into some issues. Here's the first:

The header button font is not centered anymore:

![Screenshot 2021-02-06 at 17 02 36](https://user-images.githubusercontent.com/3655915/107123347-57f8a800-689d-11eb-85ee-3069d966e6d2.png)

I found some more issues but I'm struggling to get the stackblitz for reproducti

[2021-02-08 13:25] sis0k0 commented on #5559
@jzabinski, thank you for reporting the issue! We're actively working on resolving it.

[2021-02-08 14:04] Jinnie commented on #4891
This issue is tightly dependant on the smart popovers story https://github.com/vmware/clarity/issues/1757, which has been recently closed as something we want to fix in Clarity Core, and not duplicate effort for Angular too. As there is also a workaround, I am going to close this one.

[2021-02-08 14:04] #4891 closed

[2021-02-08 14:07] Jinnie commented on #5182
The smart popovers story, which would be a good solution candidate for this issue, was recently closed as something we prefer to implement in Clarity Core and avoid duplication of effort. https://github.com/vmware/clarity/issues/1757
Based on this and the proposed workaround, I'm going to close this one.

[2021-02-08 14:07] #5182 closed

[2021-02-08 14:09] Jinnie commented on #5340
As Bogdan mentioned, this issue will be resolved as part of the #1757 effort. The latter was recently closed for Clarity Angular, as something we prefer to do in Clarity Core and avoid effort duplication.

[2021-02-08 14:09] #5340 closed, assigned to nobody

[2021-02-08 14:38] Jinnie commented on #5107
Thanks @hippee-lee - that's exactly the case - the user should decide (and has the means to do it, naturally, without using a hackish solution) if the event propagation must be stopped.
The supplied stackblitz is an example, it's not necessary to be implemented exactly this way. Some user-side logic is needed to determine when to stop and when to pass the event. This logic may vary, I tried to mak

[2021-02-08 14:49] Jinnie commented on #5559
There are known issues with Stackblitz and Ivy, that prevent our project from compiling with Ivy on at Stackblitz. So, please, just turn Ivy off in the Settings page of the Stackblitz (or in tsconfig.json file) before/after forking the project, as a workaround.
We'll take care to update the templates so they don't fail by default.

[2021-02-08 15:20] mathisscott commented on #5581
@dorthrithil

If the `cds-text` attribute is used on a container that will have lots of child nodes like `body` or `html`, the `disable-lhe` value should be added to it to remove the line-height erasers.

[Here is an example](https://stackblitz.com/edit/clr-5-core-migration-issues-header-font-alignment-zrqe2n?file=src%2Findex.html)

[2021-02-08 15:20] #5581 closed, assigned to mathisscott

[2021-02-08 20:02] gnomeontherun commented on #4401
There is a demo on the new site. Closing.

[2021-02-08 20:02] #4401 closed

[2021-02-08 20:08] gnomeontherun commented on #4206
This is being closed as the implementation is nearing completion. Follow #5395 for the initial work!

[2021-02-08 20:08] #4206 closed

[2021-02-08 23:05] coryrylan opened #5588 "core: safari gap shim issue with accordion"
## Describe the bug

There is excess space in the accordion header when using Safari 14, works in safari 15tp. The flexbox gap shim adds margins to emulate the flex gap property. However in safari 14 particularly the accordion it seems to not compute the height correctly. The layout demos and other components seem to work correctly and seems isolated to the accordion header.

![Screen Shot 2021-02

[2021-02-09 09:37] dexfab opened #5589 "Combobox behavior is confusing for single selection"
When using the single select combobox as per example: https://clarity.design/angular-components/combobox/#single-selection-combobox-2

Once an item is selected and the combo is opened by the user again, only the selected option is being shown. Our users have been complaining about this behavior as they still expect to see all items shown and not have to clear the selection in order to see the full

[2021-02-09 12:25] sis0k0 commented on #4460
Reopening as the Angular sample still isn't centered - https://clarity.design/angular-components/alert/#size-2.

[2021-02-09 12:31] Jinnie commented on #5589
Our combobox is following the W3C ARIA recommendations. You can verify that the W3C combobox has the same behavior:
https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html

I will close this issue, as working as designed, but I will take care to report it to our A11Y team for reference and comment.

[2021-02-09 12:31] #5589 closed, assigned to nobody

[2021-02-09 14:04] Jinnie commented on #4743
There is a very "mechanical" explanation to what you are observing there.
When you try to click the Route2 link, there are 2 events that will be emitted:
- input field blur event
- link click
The first event leads to an immediate change detection cycle which results in the display of the error-text.
This error text displaces the Route2 link though. And as a result, the click event does not happen.

[2021-02-09 14:04] #4743 closed

[2021-02-09 16:06] mathi123 commented on #5107
Thanks for elaborating!

[2021-02-09 16:13] hippee-lee commented on #5107
@mathi123 - in case it is not clear ... in this case the **user** Ivan is referring to is the user of Clarity aka the application 😉.

[2021-02-10 10:38] envyN commented on #4848
this happens even for *clrIfOpen usages and with strictTemplates:true in the tsconfig.

[2021-02-10 11:20] Jinnie commented on #5559
Templates updated

[2021-02-10 11:20] #5559 closed, assigned to nobody

[2021-02-10 23:43] #5588 closed, assigned to mathisscott

[2021-02-11 10:20] vishalmanohar opened #5597 "SSR issue with core"
## Describe the bug

After upgrading to Angular 11, Clarity 5.1, SSR using angular universal is not working due a `window` reference in `lit-html` dependency

[code]

Dependency versions

[code]

## Expected behavior
No error on running SSR

## Versions

**Clarity project:**

- [ ] Clarity Core
- [x] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [x] v5.x

**Framework:**

- [x]

[2021-02-11 12:11] sis0k0 commented on #5597
I managed to reproduce this in a new Clarity project.

[code]

[2021-02-11 12:11] Jinnie commented on #4848
@bdryanovski can this issue be, by any chance, covered by our recent strict-mode related fixes?

[2021-02-11 12:42] bdryanovski commented on #4848
I think that for expand is cover but not for clrOpen .. or at least what I'm seeing from my phone. Will take a look, next week when get back to the office

[2021-02-11 12:46] kumar-tadepalli opened #5599 "Query on upgrade and packages of clarity 5 from clarity 4"
As part of assessment for my project upgrade from clarity 4 to clarity 5. I created dummy angular 11 project and added clarity 4 as base one.

After that I followed the command ng update @clr/angular as mentioned in https://clarity.design/get-started/updating/angular/
Im seeing following warning:
![image](https://user-images.githubusercontent.com/12848838/107637425-1fd5d880-6c94-11eb-90bb-b033f8be

[2021-02-11 13:23] #5599 closed, assigned to nobody

[2021-02-11 15:03] mathisscott commented on #5597
Ping @coryrylan

[2021-02-11 15:54] coryrylan commented on #5597
Typically when using only `@cds/core`  it has to be imported in the browser module for SSR to work that way the custom element is only active in the browser. You can find an example in our Universal demo app here
https://github.com/vmware/clarity/tree/next/apps/core-angular-universal

I'll dig into looking at what needs to be adjusted for the ClrModule in `clr-angular`, I'm thinking that might be

[2021-02-12 02:59] coryrylan opened #5601 "website: modal demos"
## Describe the bug

Modal demo on website does not work. An exception is thrown when trying to open a modal.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity.design/core-components/modal/
2.  open one of the demo modals

![Screen Shot 2021-02-11 at 8 58 03 PM](https://user-images.githubusercontent.com/2021067/107725506-0d679900-6cac-11eb-9db4-eeba0041c399.png)

[2021-02-12 12:05] belyan opened #5602 "Datalist without label has extra left padding from left side"
## Describe the bug

Datalist without label has extra left padding from left side.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to [documentation page](https://v4.clarity.design/documentation/datalist)
2.  Find Basic Example
3.  See error

## Expected behavior

Datalist without label should not have extra left padding.

## Versions

**Clarity project:**

- [ ] Clarity Core
- [x]

[2021-02-12 16:28] dorthrithil commented on #5581
It's still a little off as the default line-height is set to `1rem` after the fix. However the header nav-link is designed for a line-height of `1.2rem`. I guess I have to add some custom CSS and wait for the header to be implemented in core?

![Screenshot 2021-02-12 at 17 23 15](https://user-images.githubusercontent.com/3655915/107794349-9ee01500-6d57-11eb-9d23-da4d5a7054d4.png)

[2021-02-12 18:41] politicsruinseverything opened #5603 "Datagrid does not remember scroll position after removing a row"
## Describe the bug
With clrDgSingleSelected on, removing the selected row (item from array) results in the scroll position being reset to the top.

## How to reproduce
With clrDgSingleSelected on, remove the selected row (item from array) by using a button or some method to trigger a function to do so.

## Expected behavior
The grid either needs to a) provide a "sticky" scroll option, or, b) try

[2021-02-13 12:20] moqmar opened #5604 "Combobox input not cleared on selection"
## Describe the bug

In the "Multi selection combobox" example (https://clarity.design/angular-components/combobox/), entering something and then selecting the option from the list doesn't clear the input, which means that I have to press Ctrl+A again if I want to add something else.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity-v4-light-theme-b1nr24.stackblitz.

[2021-02-14 20:32] pumano commented on #5491
Nice Idea, also good for angular components

[2021-02-15 06:51] KalinNikolov opened #5605 "After removing all elements from datagrid, the view is not rendering newly added rows"
## Describe the bug

I have two datagrid components and I'm adding elements from the first datagrid to the second. I'm also removing elements from the second one. So when the second one becomes empty, the view is not updated after adding new elements to it.

## How to reproduce

https://stackblitz.com/edit/datagrid-add-elements?file=src/app/app.component.ts

Steps to reproduce the behavior:

1. Se

[2021-02-15 12:44] bbogdanov commented on #5605
https://github.com/vmware/clarity/blob/87b6464f52477da4d1fd3c59ba7f51f28e99e45f/packages/angular/projects/clr-angular/src/data/datagrid/datagrid.ts#L241

Seems like the ViewContainer is missing when we try to insert a row into the datagrid. I'll continue to dig into this but after some investigation, I believe it is a bug on our side.

[2021-02-15 14:38] uganjha opened #5607 "Input range throwing error inside clarity accordion"
## Describe the bug

While using [Input range](https://clarity.design/angular-components/range/) inside [clarity accordion](https://clarity.design/angular-components/accordion/) it is throwing below error and acccoridon tab is not opening

## How to reproduce
Slack blitz for the issue
https://stackblitz.com/edit/clarity-v4-light-theme-uyetbe?file=src%2Fapp%2Fapp.component.html

Steps to reproduce

[2021-02-15 14:45] Jinnie commented on #5604
It is working as designed. The input acts as a filter text. It is not supposed to get auto-cleared on its own.
If we do clear it, it will become accessibility issue, as we won't be able to inform the user that we just deleted the text that was entered.
The combobox is a complex component that tries to address multiple goals with one solution. It is not easy to find the balance between all differen

[2021-02-15 14:45] #5604 closed, assigned to nobody

[2021-02-15 14:58] Jinnie commented on #5607
I confirm that it only happens inside the accordion.
In the same time, if you have another range component outside the accordion, the inner one works too.
Could be lifecycle/initialization issue.

[2021-02-15 15:05] Jinnie commented on #5603
We need a stackblitz reproduction in order to be able to research the issue.
Please use one of these: https://stackblitz.com/@clr-team
Behavior can vary depending on whether you use client-side or server-side datagrid, if you use trackby, etc.

[2021-02-15 18:09] BojidarTrenchev opened #5608 "clr-vertical-nav-group-children component duplicated when Vertical Nav collapsed and opened again quickly"
## Describe the bug

`clr-vertical-nav-group-children` component in a `clr-vertical-nav-group` is duplicated if the button for collapsing the Vertical Nav is clicked and then quickly clicked again before the nav has fully collapsed.

`*clrIfExpanded="true"` must be set for the `clr-vertical-nav-group-children `component otherwise the scenario works as expected.

The following error is thrown in th

[2021-02-16 09:16] Jinnie commented on #5602
The Clarity datalist is designed to be used as form element, built with all clarity-form utilities in terms of responsive layout, accessible helper-text, error-message, success-message etc. This padding is the place reserved for label by the datalist-container.
In case you need to use a simple datalist outside a form, instead of trying to strip the advanced features of the datalist component, you'

[2021-02-16 09:16] #5602 closed, assigned to nobody

[2021-02-16 11:36] Jinnie commented on #4093
It was discovered that the problem here is valid, as in NVDA the sorting is not announced. I will not reopen this issue though, because we handle our accessibility issues in internal system. I will update the labels, though.
It's also not clear if this can be considered NVDA problem, as our code confirms to the specs.

[2021-02-16 11:42] Jinnie commented on #4093
A possibly related NVDA bug:
https://github.com/nvaccess/nvda/issues/10890

[2021-02-16 12:19] Jinnie commented on #5082
  There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that can support your use case with Clari

[2021-02-16 12:19] #5082 closed

[2021-02-16 12:22] Jinnie commented on #5082
Also logged in our internal Support DB as a good pattern. Thanks for providing the workaround @ConnerEnders !

[2021-02-16 13:58] TeodoraNozharova opened #5609 "Accessibility issue in Stack view - the block section is not associated with it's corresponding label"
### Describe the bug

Screen readers cannot associate the block section of the Stack view with it's corresponding label.
Currently there is a `div` wrapper element that has a `region` role assigned to it, but it's lacking the `aria-labelledby` attribute.

### How to reproduce
Reproduced with the basic use of accordion, described in V4 documentation:
https://stackblitz.com/edit/clarity-v4-light-the

[2021-02-16 16:34] Jinnie commented on #5609
CC @scroniser Santina, can we please verify if we track this internally?
Thanks!

[2021-02-16 16:49] Jinnie commented on #5381
In an effort to optimise our backlog, I'm closing this as stale. If you manage to provide the reproduction requested, we'll reopen it, unless it gets locked by our inactivity bot, then you'll have to file a new issue.

A side note, based on the description provided is that due to performance reasons we're not handling windows resize events on our side, as this might cause huge overhead in column s

[2021-02-16 16:49] #5381 closed, assigned to nobody

[2021-02-16 16:52] Jinnie commented on #5514
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that can support your use case with Clarity

[2021-02-16 16:52] #5514 closed, assigned to nobody

[2021-02-16 16:56] Jinnie commented on #5522
CC @scroniser Santina, could we please verify if we're tracking this in our internal tools?

[2021-02-16 17:08] Jinnie commented on #5301
We don't have a reproduction and we've not observed this behavior ourselves. I'm closing this as stale.
In case you create a stackblitz reproduction, we'll reopen it. If the thread gets later locked by our inactivity bot, you'll have to file a new issue.

[2021-02-16 17:08] #5301 closed, assigned to nobody

[2021-02-16 17:19] Jinnie commented on #5208
I agree with your findings about both components using popover... though it's a bit vague if the issue is in the combobox, or in the filter.

[2021-02-16 17:23] Jinnie commented on #4932
  There is a workaround available for this issue, and we recommend using it for Clarity Angular. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that can support your use case with Clarity Core components.

[2021-02-16 17:23] #4932 closed

[2021-02-16 17:27] Jinnie commented on #4915
There is a workaround available for this issue, and we recommend using it for Clarity Angular. To help us clean up our backlog, we are going to close this with a functional workaround available and suggest you follow updates for Clarity Core for enhancements that can support your use case with Clarity Core components.

[2021-02-16 17:27] #4915 closed

[2021-02-16 17:36] Jinnie commented on #4850
Тhis has been fixed with a recent tree-view fix https://github.com/vmware/clarity/pull/5426
I updated the stackblitz to 4.0.11 and the call stack error is not thrown anymore.

[2021-02-16 17:36] #4850 closed

[2021-02-16 17:58] danail-vasilev commented on #5514
Hello,
Thanks but is this issue reproducible in Core ? If this is so I think the bug must be cloned for Core.
Regards

[2021-02-16 18:05] Jinnie commented on #4034
Using `clrLoading` here does not play well with the animation. As a workaround I can suggest to use *ngIf="!isLoading" here.
You can also add a "Loading..." placeholder this way, while the async operation is running.
[code]
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work

[2021-02-16 18:05] #4034 closed

[2021-02-16 18:09] bdryanovski commented on #5304
Gonna check this!

[2021-02-16 18:15] yuxin-ux opened #5611 "Documentation update-Divider"
Update the documentation for the core component divider.
[Figma link](https://www.figma.com/file/6M5SmV97fylOmjSmerQMKK/Core-Divider?node-id=132%3A1)

Note: Lilia has created a link arrow to highlight the divider in the illustrations. We can either implement the illustration as an image with the arrow included (2x images attached), OR implement with a real demo (but I not sure how to include the p

[2021-02-16 18:16] yuxin-ux commented on #5611
<img width="425" alt="Do" src="https://user-images.githubusercontent.com/33043434/108104240-e9a3aa80-703f-11eb-9127-308ec420b460.png">
<img width="425" alt="don't" src="https://user-images.githubusercontent.com/33043434/108104239-e90b1400-703f-11eb-9c69-1eb04d25203c.png">

<img width="432" alt="Horizontal 1" src="https://user-images.githubusercontent.com/33043434/108104242-e9a3aa80-703f-11eb-89ff-

[2021-02-16 18:28] yuxin-ux opened #5612 "Documentation update-Circle progress"
Update the documentation for the core component Circle progress.
[Figma file](https://www.figma.com/file/7kcVkZMbXohjhktU2V3yn1/Core-Progress-circle?node-id=221%3A429)

There is a version with the Anatomy and one without Anatomy. Let's use the one without Anatomy until we introduce all with Anatomy.

[2021-02-16 18:32] Jinnie commented on #3737
Verified this has been fixed in both websites

[2021-02-16 18:32] #3737 closed

[2021-02-16 18:51] mathisscott commented on #5514
@danail-vasilev
Presently, there is no tree view in Clarity Core. We are working as quickly as we can to implement Core components. When tree view is available in the Clarity Core components, we will keep this use case in mind. I see no reason why it would not work, though, based on my experience with Angular and the Core components we already have.

[2021-02-16 18:51] Jinnie commented on #5514
Core components are designed to be a lot more flexible, giving more control and freedom in the hands of the component user (application developer).
CC @gnomeontherun pinging Jeremy to make sure if we need to specifically add this request to the Core development considerations for the tree component.

[2021-02-16 20:29] wokis opened #5613 "Static tree view node and clrRecursiveFor"
## Describe the bug

Adding a *clrRecursiveFor clr-tree-node under a static template clr-tree-node does not make the *clrRecursiveFor clr-tree-node a child.

![image](https://user-images.githubusercontent.com/4148643/108117857-cc052e00-709d-11eb-8dbd-bddd97cd9f05.png)

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-jbcxnb?file=src/app/app.component.html

## Expected behavi

[2021-02-17 01:41] scroniser commented on #5609
@TeodoraNozharova, thank you for reporting this issue.

@Jinnie, confirmed that this is in our [internal tracking system](https://jira.eng.vmware.com/browse/VPAT-608).

[2021-02-17 01:55] scroniser commented on #5522
@cat-mandres - thank you for reporting this for consideration. Inactive text, such as a disabled input, is considered exempt under [WCAG 1.4.3 Contrast (Minimum)](https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum). It's possible that this requirement will change in WCAG 3.0.

@Jinnie -- FYI, no change needed under current a11y guidance.

[2021-02-17 07:42] TeodoraNozharova commented on #5609
@scroniser, @Jinnie thanks for looking into this!

@scroniser the linked jira bug is marked as resolved, but the [fix](https://github.com/vmware/clarity/commit/1280cf1e936705b4935bafef983e32561fbadf94) does not include adding `aria-labelledby` , only `region` as well as additional fixes such as removing the description list structure.

So in the current state the screen readers are still not able

[2021-02-17 08:01] laughterborn opened #5614 "Unable to get custom filters work in server driven datagrid"
Hi,
I'm planning to have custom filters for columns in server driven datagrid. However,I've found too few references/examples to achieve the same.
I want to know, if at all the customer filters are supported with server driven datagrid and is there any pointer for the same.

Thanks in advance!

[2021-02-17 08:14] TeodoraNozharova opened #5615 "Keyboard navigation in nested Stack view breaks the visual layout"
## Describe the bug

If keyboard navigation is used in Stack view with nested stack blocks, when the last item of a given nested stack block is reached using the down arrow key, the next keystroke brakes the visual layout of the next stack block.

## How to reproduce

Can be reproduced on Clarity documentation page, I've added a gif which visualizes the issue as well as a Stackblitz with the examp

[2021-02-17 09:41] Jinnie commented on #5522
Thank you, @scroniser
I'll add this to our Support DB, so we can easily answer future questions in this direction.

[2021-02-17 09:41] #5522 closed, assigned to nobody

[2021-02-17 09:51] Jinnie commented on #5609
I'll close this issue here, so we can avoid double-tracking. If needed to have additional bug for the `aria-labelledby` this can be done directly with the A11Y team.

[2021-02-17 09:51] #5609 closed, assigned to nobody

[2021-02-17 13:46] Jinnie commented on #5564
Thanks for bringing this to our attention.
It actually behaves correctly, because the single-selection combobox needs to have means for removing the selection. Similarly to the W3C examples we do it when the input field is cleared. So, there is a real "deselection event" happening and the `null` was expected.
Looking at your 7. question - the answer is "...the combobox is ~likely~ designed to only

[2021-02-17 13:46] #5564 closed, assigned to nobody

[2021-02-17 16:38] Jinnie commented on #5615
Note: we talked today with Teodora and it's possible to be NVDA specific issue, as she's testing it in A11Y context.
We'll have more information tomorrow.

[2021-02-17 18:24] #5491 closed, assigned to nobody

[2021-02-17 18:24] #5566 closed, assigned to nobody

[2021-02-17 18:24] #5568 closed, assigned to nobody

[2021-02-17 18:27] #5614 closed, assigned to nobody

[2021-02-17 19:31] #4460 closed

[2021-02-17 20:33] coryrylan opened #5625 "@cds/react: controlled form inputs"
## Describe the bug

Right now in @cds/react certain form inputs do not work well with controlled input types in React. In this example the second checkbox event is ignored and not updated.

https://stackblitz.com/edit/react-cds-checkbox-onchange-bgcacb?file=index.tsx

This seems specific to how React handles Controlled vs Uncontrolled input types as the plain html/js works without issue
https://s

[2021-02-18 09:08] #5185 closed

[2021-02-18 09:08] #5344 closed, assigned to Jinnie

[2021-02-18 09:08] #5553 closed, assigned to Jinnie

[2021-02-18 09:08] #5565 closed, assigned to nobody

[2021-02-18 09:16] #4848 closed

[2021-02-18 09:16] #5304 closed, assigned to bdryanovski

[2021-02-18 09:36] sylvaingirardbe opened #5626 "clrDisabled on clrDropdownItem still emits click events"
## Describe the bug

We have a directive that sets the disabled attribute on controls based on metadata on the object we're displaying.

First of all, this didn't work on `clrDropdownItem` which is really inconvenient and we needed to hack around that with the `clrDisabled` property.

Second, after having implemented that, it appeared that users were still able to click the button since it's not a

[2021-02-18 19:10] #5611 closed, assigned to mathisscott

[2021-02-18 19:10] #5612 closed, assigned to mathisscott

[2021-02-18 19:49] JChernashki commented on #5575
Icons for #5089 #5451 #5348 #5517

[digital_signature_line.svg.zip](https://github.com/vmware/clarity/files/6005350/digital_signature_line.svg.zip)
[timeline_line.svg.zip](https://github.com/vmware/clarity/files/6005352/timeline_line.svg.zip)
[update_line.svg.zip](https://github.com/vmware/clarity/files/6005353/update_line.svg.zip)

[2021-02-18 20:46] lil-kim commented on #5575
Also...Icons for issue #5517
[5517-icons.zip](https://github.com/vmware/clarity/files/6005770/5517-icons.zip)

[2021-02-18 21:24] nightwolfdev commented on #5468
Hello, just checking in to see if this could be looked at? This is impacting applications that utilize the alert component, which is not appearing when it should be. Thank you!

[2021-02-18 21:57] hippee-lee commented on #5468
Hi @nightwolfdev - I'm sorry, this hasn't been investigated yet. It may just be a lifecycle issue but I'm not sure without debugging the alert code. As a workaround, you could add an `*ngIf` to the alerts tied to the open state for each one. [Here](https://stackblitz.com/edit/clarity-v4-light-theme-lgdeqq?file=src/app/app.component.html) is a fork of your stackblitz.

[2021-02-18 22:19] gnomeontherun opened #5627 "Core Vertical Nav"

[2021-02-18 22:19] gnomeontherun opened #5628 "Core Datagrid MVP"
Details forthcoming as we define the MVP.

[2021-02-18 22:37] gnomeontherun opened #5629 "Core Essentials"

[2021-02-18 23:02] gnomeontherun opened #5630 "Core Dropdown & Friends"
This epic is to contain all of the work remaining for dropdowns and friends, such as positioned overlays, signposts, dropdown menus, tooltips.

[2021-02-18 23:04] gnomeontherun opened #5631 "Website Phase 2"
This will be a collection of tasks for the second phase of website development.

[2021-02-18 23:10] gnomeontherun commented on #5514
We don't need a bug report for something that doesn't even exist yet. This is not needed to be copied because Core architecture will be independent of Angular and some of this quirky issues that exist with Angular.

[2021-02-18 23:11] gnomeontherun commented on #5581
@mathisscott can you review this question?

[2021-02-18 23:21] mathisscott commented on #5581
@dorthrithil
This is due to the `cds-text` line-height conflicting with the Clarity UI CSS' line-height. It's a straightforward workaround to [add the line-height back in on the product side](https://stackblitz.com/edit/clr-5-core-migration-issues-header-font-alignment-zrqe2n?file=src/styles.css).

You may want to consider putting the `cds-text` declaration on the `.content-container` element inst

[2021-02-19 08:03] danail-vasilev opened #5633 "Fix colors for disabled checkbox and radio buttons (Clarity4)"
## Describe the bug

In Clarity 4 colors for disabled checkbox and radio button look like that - https://www.screencast.com/t/0bY5gudIuZ

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-ukokpe

## Expected behavior

I have checked core components documentation
- Disabled checkboxes look like that - https://www.screencast.com/t/TIY2861DkK  Different than in Clarity 4.
- Disa

[2021-02-19 08:31] Jinnie commented on #5107
Update: after 4.0.12 and 5.0.2 the solution from the stackblitz example should work with Combobox too. The erroneous event has been fixed.

[2021-02-19 13:42] KalinNikolov commented on #5605
Hi,

Any new findings on that?
If is a clarity issue, are there any plans to fix it in future v4 patch release?

Kalin

[2021-02-19 15:04] gnomeontherun commented on #5605
I think the first issue here is mutating the array instead of reassigning a modified array, which messes with equality checks. Instead of using splice, push, etc, you should always try to create a temporary array, and then assign it and see if that solves your issue.

[2021-02-19 15:56] KalinNikolov commented on #5605
@gnomeontherun just tried you suggestion, but the issue still exists.

[2021-02-19 17:29] gnomeontherun commented on #5605
Here is an updated Stackblitz that is working. The problem is the pagination has an NgIf which tries to toggle pagination and causes some lifecycle issues. You have another one on the inside container as well, so that should do the trick for you. Putting a template variable on something that is also a template (`*ngIf` turns a node into a template) pulls the rendering of the pagination out of norm

[2021-02-19 17:29] #5605 closed, assigned to bbogdanov

[2021-02-19 18:25] bbogdanov commented on #5626
Hi @sylvaingirardbe,

The `disabled` attribute seems to work as expected.

https://stackblitz.com/edit/clarity-v4-dark-theme-yver8f?file=src%2Fapp%2Fapp.component.html

Line 20

I'm going to close it cause it is not a bug from our side.

[2021-02-19 18:25] #5626 closed, assigned to bbogdanov

[2021-02-19 21:54] gnomeontherun opened #5634 "Core Container Store"
This is an epic to track the work with building components that are various types of containers, like Cards, Timeline, Tree View.

[2021-02-19 22:04] #2123 closed

[2021-02-19 22:04] gnomeontherun commented on #2123
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-19 22:44] bbogdanov commented on #5563
#5634

[2021-02-20 20:28] milesich opened #5636 "Documentation for Angular Components (Alert) - incorrect example images"
## Describe the bug

In documentation for Angular Components - Alert the example images of standard alerts are swapped as you can see on the screenshot below.

## How to reproduce

![Screenshot 2021-02-20 at 21 22 51](https://user-images.githubusercontent.com/1993963/108607642-dc7d1780-73c1-11eb-9843-1040251bc55e.png)

[2021-02-22 08:37] bbogdanov commented on #5636
@hippee-lee Seems like the file names are not correct in S3. I could of do a fix but I don't have access to the S3, yet.

![image](https://user-images.githubusercontent.com/15037947/108681364-bd80a180-74f7-11eb-88f6-31a65755a7e6.png)

[2021-02-22 14:04] Jinnie commented on #5613
I see your point and it would have been useful if we could mix static and recursive tree nodes.
But the current implementation will not allow it. It's easy to achieve the same, working on the model level, though, by implicitly adding the desired "static" root node. See this sample stackblitz:
https://stackblitz.com/edit/clarity-static-root-recursive-tree?file=src%2Fapp%2Fapp.component.ts
Based on

[2021-02-22 14:04] #5613 closed, assigned to nobody

[2021-02-22 14:15] bbogdanov commented on #5633
Hi @danail-vasilev,

Thank you for letting us know about this issue.

I am going to investigate it cause it seems like a Clarity issue. I'll write back as soon as I find the root cause.

[2021-02-22 15:57] coryrylan commented on #5558
Fixed in #5567

[2021-02-22 15:57] #5558 closed, assigned to coryrylan

[2021-02-22 16:02] coryrylan commented on #5316
This is fixed now from https://github.com/vmware/clarity/pull/5567
demo https://stackblitz.com/edit/clarity-core-disabled-flat-button-c8yzeg?file=style.css

[2021-02-22 16:02] #5316 closed, assigned to coryrylan

[2021-02-22 16:05] coryrylan commented on #5403
Closing, working with design on updating our base action color tokens so this will be addressed with that effort.

[2021-02-22 16:05] #5403 closed, assigned to coryrylan

[2021-02-22 21:46] scroniser commented on #5609
@TeodoraNozharova, Just wanted to follow up, thank you for the clarification. It looks like I pasted in the wrong bug -- we have a separate bug logged here: [VPAT-592](https://jira.eng.vmware.com/browse/VPAT-592).

[2021-02-22 22:33] #5601 closed, assigned to mathisscott

[2021-02-22 23:05] gnomeontherun opened #5640 "Core Adoption Guide"

[2021-02-23 14:26] iivanovgit opened #5642 "Tabbing through clr-stack-view with improper change of content"
## Describe the bug

Tabbing through clr-stack-view is changing the content to be the next focus element within clr-stack-content without expanding the clr-stack-block.

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-yfq2th?file=src%2Fapp%2Fapp.component.html

Steps to reproduce the behavior:

1.  Go to 'https://stackblitz.com/edit/clarity-v4-light-theme-yfq2th?file=src%2F

[2021-02-23 18:57] gnomeontherun commented on #5642
This sounds like a duplicate of #4718.

[2021-02-23 20:43] Shijir opened #5644 "Icons are broken in clr-vertical-nav and clr-accordion"
## Describe the bug

The icon for expand/collapse buttons in `clr-vertical-nav` and `clr-accordion` are broken.

## How to reproduce

![Screenshot 2021-02-23 at 20 55 23](https://user-images.githubusercontent.com/3958008/108905482-9d72e000-75d4-11eb-9e8f-b49df3448f2e.png)
![Screenshot 2021-02-23 at 21 04 30](https://user-images.githubusercontent.com/3958008/108905487-9e0b7680-75d4-11eb-9619-de8dcb

[2021-02-23 21:33] kdvolder opened #5645 "Searhbox unreadable in 5.0.2 dark theme"
## Describe the bug

The searchbox in dark theme is unreadable because of dark font on dark background.

## How to reproduce

Someone else in clarity slack was able to reproduce it. So I'm sharing his link here:

https://stackblitz.com/edit/clarity-v5-dark-theme-m5nx4u

Steps to reproduce the behavior:

1.  Create a searchbox in 5.0.1
2.  Look at searchbox in browser, it looks good and readable.
3

[2021-02-23 21:44] Shijir commented on #5645
Reproduction: https://stackblitz.com/edit/clarity-v5-dark-theme-m5nx4u

[2021-02-23 23:07] kdvolder commented on #5645
Not a bug in Clarity. So closing this.

Seems like the problem was something to do with our app having some missing css imports.

The full list of imports that are needed and make it work are:

[code]

Previously we had only:

[code]

Thanks a lot to @Shijir for helping me with this problem.

[2021-02-23 23:07] #5645 closed, assigned to nobody

[2021-02-24 09:38] iivanovgit commented on #5642
It looks like a duplicate but in #4718 you say that it will be fixed in the next minor of v4 since Jan and it is still not there. Also nothing related to stack-view in the patch notes

[2021-02-24 09:49] bbogdanov commented on #5633
@danail-vasilev Found the root cause, there is a PR raised and hopefully the fix will be available in the next minor release.

[2021-02-24 17:10] mathisscott opened #5650 "Overlays/modals are stuck inside a transformed container"
## Describe the bug

Overlays and models that are placed inside of a container with a transform style will not take over the whole screen. They will only fill up the container.

There's a case to be made that this is a feature, not a bug.

The only odd thing is when we are using animations with transforms. We may want to consider cleaning up transforms after animations have run.

The other weird c

[2021-02-24 17:16] mathisscott opened #5651 "Text inside of a modal or overlay cannot be selected or copied"
## Describe the bug

Users cannot select, highlight, or copy texts that is inside a modal/overlay.

## How to reproduce

Steps to reproduce the behavior:

1.  Open an Interactive overlay or modal on our website or storybook.
2.  Try to select text in the paragraph inside the modal
3.  You can't.

## Expected behavior

User should be able to select and copy text inside the modal.

## Versions

**Cl

[2021-02-25 09:15] Jinnie commented on #5642
CC @bbogdanov Bogdan, can you please check if this needs backporting: https://github.com/vmware/clarity/issues/4718

[2021-02-25 09:59] TeodoraNozharova commented on #5609
@scroniser Thanks, this issue seems more related, per your latest comment in the issue.

[2021-02-25 10:06] Jinnie commented on #5642
It was confirmed to that https://github.com/vmware/clarity/issues/5615 has the same cause. Both issues may be closed with the same backport.

[2021-02-25 10:48] bbogdanov commented on #5633
#5652 is in. @danail-vasilev expect the fix in next minor release and let me know if the issue still appears

[2021-02-25 12:27] danail-vasilev commented on #5633
Thanks @bbogdanov  for looking into that !
Actually there are 3 issues reported here:
- Disabled radio button - that seemed to be fixed with #5652
- Disabled checkbox - it's icon color is different than the one from core components.
- Core components doc:
    - checkboxes tick icon is misaligned
    - disabled radio buttons can be clicked. Also for disabled example it's better to have one of the b

[2021-02-25 16:51] #5364 closed, assigned to nobody

[2021-02-25 17:11] Jinnie commented on #5642
It's backported now to v4.

[2021-02-25 17:12] #5642 closed, assigned to bbogdanov

[2021-02-25 17:14] Jinnie commented on #5615
We confirmed this is fixed in v5.
It was just backported to v4 too. Expect it in the next release.

[2021-02-25 17:14] #5615 closed, assigned to Jinnie

[2021-02-25 18:41] yuxin-ux opened #5658 "Bug in the angular-toggle code snippet"
https://clarity.design/angular-components/toggle/#inline
On the page, the "label" for toggle 2 and toggle 3 are flipped.

![image](https://user-images.githubusercontent.com/33043434/109200848-edc57b80-7755-11eb-947b-52a06570181d.png)

[2021-02-25 18:56] yuxin-ux opened #5659 "Typos on the angular datalist page"
There were a couple of typos on the datalist page https://clarity.design/core-components/datalist/

Here is the updated version:
Use a datalist when the user needs to choose from a list of items that are long enough for it to be filtered before selection. Or, there are pre-defined options but the user needs the ability to input a custom value for their use case.

Use a datalist to provide a standa

[2021-02-26 10:56] Jinnie commented on #5644
Reason analysis: `clr-icons.scss` has this setting for the `svg` element  inside the `clr-icon`. the `cds-icon` lacks it, which leads to non-centered icon if height of the `cds-icon` is manipulated.

[code]

[2021-02-26 12:20] belyan commented on #5602
Basic input don't reserve any place for label. Label is optional and can be omitted in favour of use placeholder or title.
https://v4.clarity.design/documentation/input

Datalist is a kind of form control and can be used without label too. Just fix bug in your datalist styles, guys. I can easily fix this in my code, but I spend my time to report this defect to make your library better. If you don'

[2021-02-26 14:59] gnomeontherun commented on #3696
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-26 14:59] #3696 closed

[2021-02-26 15:42] gnomeontherun commented on #2322
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-26 15:42] #2322 closed

[2021-02-26 16:01] gnomeontherun commented on #1603
@hippee-lee Adding this for your visibility with Core work.

This is a worthwhile request, but we are working on the Clarity Core version of this component. As we build out Clarity Core, this should be possible to realize with the applications managing the state and functionality more directly instead of Clarity Angular.

In an effort to clean up our backlog and focus our attention, I’m going to c

[2021-02-26 16:01] #1603 closed

[2021-02-26 16:03] gnomeontherun commented on #1842
The workaround here is to disable your action bar buttons since they exist outside of the Datagrid and Clarity can't easily manage this for you. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up ou

[2021-02-26 16:03] #1842 closed

[2021-02-26 16:08] gnomeontherun commented on #1312
@mathisscott I'm pinging you as you start to think about dropdowns that this is a known issue in Angular.

The workaround here would be to either use the CSS dropdowns or override some of the Angular dropdowns.

There is a workaround available for this issue, and we recommend using it for Clarity Angular. Given we are starting to work on this component with Clarity Core, we don't anticipate invest

[2021-02-26 16:08] #1312 closed

[2021-02-26 16:23] gnomeontherun commented on #3640
This request has merit but we are not currently planning to address it due to it likely requiring a design change and possible visual breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are not going to be prioritized.

In an effort to clean up our backlog and focus our attention, I’m going t

[2021-02-26 16:23] #3640 closed

[2021-02-26 16:24] gnomeontherun commented on #3580
Consider using the Clarity Core version of the component for your application which should not have this concern. In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to be resolved by implementations in Clarity Core.

[2021-02-26 16:24] #3580 closed

[2021-02-26 16:31] gnomeontherun commented on #3510
I'm going to close this as stale and not having enough context to take clear action. We've been working on documentation as well, which likely has addressed this concern and if not we can take action as we see specific tasks.

[2021-02-26 16:31] #3510 closed

[2021-02-26 16:32] gnomeontherun commented on #3334
This is a stale issue now and we are working on a new navigation component for Clarity Core.

In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to be resolved by upcoming implementations in Clarity Core. Please follow our development and releases to see when we release relevant components to make this possible.

[2021-02-26 16:32] #3334 closed

[2021-02-26 16:33] gnomeontherun commented on #3960
This is a worthwhile enhancement request, but is challenging to implement due to the existing behaviors and nature of Clarity Angular. As we build out Clarity Core, this should be possible to realize with the applications managing the state and functionality more directly instead of Clarity Angular.

In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to

[2021-02-26 16:33] #3960 closed

[2021-02-26 16:35] gnomeontherun commented on #1186
Going to consolidate this and #3538, by closing this as the duplicate.

[2021-02-26 16:35] #1186 closed

[2021-02-26 17:27] gnomeontherun commented on #3991
The workaround here is to either fix the height, or make sure there is some content below the Datagrid when there is very little height in the datagrid. Similar to other smart popover issues, we've gone ahead to close these like #1757.

This is challenging to implement due to the existing behaviors and nature of Clarity Angular. As we build out Clarity Core, this should be possible to realize with

[2021-02-26 17:27] #3991 closed

[2021-02-26 17:31] gnomeontherun commented on #3834
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-26 17:31] #3834 closed

[2021-02-26 17:40] gnomeontherun commented on #4348
This is also changed if you want to use the Clarity Core date control which adheres more directly to HTML spec. Closing as something we have already.

[2021-02-26 17:40] #4348 closed

[2021-02-26 17:46] gnomeontherun commented on #4023
This is a worthwhile enhancement request, but is challenging to implement due to the existing behaviors and nature of Clarity Angular. Clarity Core has an accordion that resolves this issue, so the recommendation is to adopt the Clarity Core version for this capability.

In an effort to clean up our backlog and focus our attention, I’m going to close this as resolved by Clarity Core. Please follow

[2021-02-26 17:46] #4023 closed

[2021-02-26 17:51] mathisscott commented on #4023
This is fixed in Core with #5657

[2021-02-26 18:50] gnomeontherun commented on #4183
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-26 18:50] #4183 closed

[2021-02-26 18:53] gnomeontherun commented on #4226
Closing as this uses whole row selection which is not considered accessible with nested elements. The solutions and workarounds might also help you but we don't plan to support this combination of features.

[2021-02-26 18:53] #4226 closed

[2021-02-26 19:03] coryrylan commented on #4247
implemented proof of concept for internal share/use

[2021-02-26 19:03] #4247 closed

[2021-02-26 19:08] gnomeontherun commented on #4260
Clarity Core should resolves this issue, so the recommendation is to adopt the Clarity Core version for this capability or override it if you need in your use case.

In an effort to clean up our backlog and focus our attention, I’m going to close this as resolved by Clarity Core. Please follow our development and releases to keep up with improvements!

[2021-02-26 19:08] #4260 closed

[2021-02-26 19:10] gnomeontherun commented on #4307
This does not appear to be an issue with latest version of Clarity and Safari, closing as resolved and likely something quirky in Safari.

[2021-02-26 19:10] #4307 closed

[2021-02-26 19:11] gnomeontherun commented on #4322
Given this is a browser issue, I'm going to close this as out of scope for Clarity to try to manage.

[2021-02-26 19:11] #4322 closed

[2021-02-26 19:16] gnomeontherun commented on #4389
Clarity cares deeply about accessibility, and we work with our accessibility team to identify and triage issues. We have an internal tracking system to identify and verify accessibility issues, which has captured this already. Some issues with Clarity Angular are difficult to solve without causing side effects or breaking changes, and we have to balance concerns with fixing issues and breaking cha

[2021-02-26 19:16] #4389 closed

[2021-02-26 19:46] gnomeontherun commented on #4711
There is a workaround fix for this and the Clarity Core implementation of alerts can also be used to avoid this issue. See https://clarity.design/core-components/alert/.

[2021-02-26 19:47] gnomeontherun commented on #4709
It is possible that this could be done by creating your own filter, but we intentionally don't do this by default.

This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our strategy with Clarity Angular is to support by addressing bugs and focus on stability, but enhancements that require changes are

[2021-02-26 19:47] #4709 closed

[2021-02-26 19:49] gnomeontherun commented on #4697
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-26 19:49] #4697 closed

[2021-02-26 19:52] gnomeontherun commented on #4610
@Jinnie could you share your autoclose workarounds that should also apply to these types of situation as a way to resolve this?

[2021-02-26 19:54] gnomeontherun commented on #4574
The feature request here has been captured into our list and we’re going to take it into consideration as we develop Clarity Core capabilities. In an effort to clean up our backlog and focus our attention, I’m going to close this as captured in our feature requests. Please follow our development and releases to see when we release relevant components to make this possible. Future feature requests

[2021-02-26 19:54] #4574 closed

[2021-02-26 19:55] gnomeontherun commented on #4544
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-26 19:55] #4544 closed

[2021-02-26 20:10] gnomeontherun commented on #4446
We don't have a reproduction here, so I'm going to close this as stale. If this issue still exists, please provide a working reproduction for us to review.

[2021-02-26 20:10] #4446 closed

[2021-02-26 20:19] gnomeontherun commented on #4475
This is not an issue with the Clarity Core toggle fields, so that is the recommendation to update to using Clarity Core form components in this case. @bdryanovski is looking at fixing this as well for Clarity Angular.

[2021-02-26 20:21] gnomeontherun commented on #4424
There is a workaround available for this issue, and we recommend using it for Clarity Angular. We would consider a contribution to address this issue if someone is able to work out a solution. As we build Clarity Core implementations, we expect that this issue won’t be an issue or will be configurable on the application side. To help us clean up our backlog, we are going to close this with a funct

[2021-02-26 20:21] #4424 closed

[2021-02-26 20:25] gnomeontherun commented on #4418
This seems to be related to how we store a cleaned version of the search string and `trim()` on it, before we compare it to values on that column object. That makes it possible for whitespace to be stripped during comparison but not in the source input. This seems like a very limited edge case, and a custom filter could change this behavior if they wanted as a workaround.

[2021-02-26 20:28] gnomeontherun commented on #4397
This can be solved by using Clarity Core forms instead, as they are more isolated and won't absorb styles the same way as Clarity UI did. I'm going to mark this as resolved by using the Core version of the components. See https://clarity.design/core-components/form/

[2021-02-26 20:28] #4397 closed

[2021-02-26 21:10] gnomeontherun opened #5667 "Schematic for @cds/angular"
We need to create an ng-add schematic for @cds/angular just like we have for @clr/angular to make it easier to setup Clarity Core for Angular.

[2021-02-27 18:42] zoroaster00 opened #5668 "Focus should return to previously active element after closing modal"
## Describe the bug

After closing clarity modal, the previously active element is not focused.

## How to reproduce

https://clarity-v3-light-theme-focus-element.stackblitz.io

Steps to reproduce the behavior:

1.  Use keyboard to navigate to button "foo".
2.  Hit "Enter" to open modal.
3.  Hit "Escape" to close the modal.

## Expected behavior

The button "foo" should be focused.

## Versions

*

[2021-03-01 15:01] borrelnoten opened #5670 "Scroll depth not working for sharepoint online for scrollable Div elements"
In sharepoint online, content is placed in divs which are scrollable.

`<div data-is-scrollable="true" class="a_a_beed2cf1 c_a_beed2cf1" data-automation-id="contentScrollRegion" role="main" tabindex="-1" data-sp-component-lazycount="-10">
`
The scroll maps seem to only record actual browser window scrolling and not scrolling within divs.

[2021-03-01 16:17] #1808 closed

[2021-03-01 17:07] #5670 closed, assigned to nobody

[2021-03-01 17:46] twittwer opened #5672 "Unexpected token when testing Clarity app with Jest"
## Describe the bug

When running tests that contain Clarity components with Jest it fails with an `Jest encountered an unexpected token` error in the icon component of `@cds/core`.

It occurs after the upgrade of Clarity from `v4.0.10` to `v5.0.2`.

## How to reproduce

See Repo (incl. Readme): https://github.com/twittwer/clarity-jest

1. `git clone git@github.com:twittwer/clarity-jest.git`
2. `n

[2021-03-01 21:21] gnomeontherun commented on #4993
@bdryanovski can you confirm that your changes addressed this bug and close it?

[2021-03-02 00:43] yuxin-ux opened #5674 "Website documentation- Update the usage guidelines for accordion"
See the latest content and illustrations in the figma file
https://www.figma.com/file/rWE0j6DRp0LR8euGGJ97Dz/Core-Accordion?node-id=22%3A425

Use the latest core component (the color should be light blue)
![image](https://user-images.githubusercontent.com/33043434/109579325-8b4de180-7aad-11eb-85ce-ee4a92ca83df.png)

[2021-03-02 08:57] sgrtho opened #5676 "Combobox `OnPush` Initial/Programmatic Selection"
## Describe the bug

If `ChangeDetectionStrategy.OnPush` is used neither an initial nor a dynamically chosen item is reflected in the Angular Combobox component. It is reflected once the input gains focus though.

## How to reproduce

Steps to reproduce the behavior:

1. Go to 'https://stackblitz.com/edit/clarity-v4-light-theme-9j8rm6'
2. Click input field
3. Click the "Add/Select" button
4. Click

[2021-03-02 13:03] guetin opened #5677 "Datagrid Expandable rows angle icon direction not working with clr-datagrid class="datagrid-compact""
## Describe the bug

Datagrid Expandable rows angle icon direction not working with clr-datagrid class="datagrid-compact".

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-qnuoea

Steps to reproduce the behavior:

Create a clr-datagrid with class="datagrid-compact"
Create a clr-dg-row-detail element inside it

## Expected behavior

The direction icon must be right when row

[2021-03-02 16:23] Jinnie commented on #4610
Sure, it's in the support DB and should be possible to adapt it for use here too:

https://stackblitz.com/edit/pattern-modal-smart-escape-demo

[2021-03-02 16:44] Jinnie commented on #5602
The text input does not require a container, so it may be used without it.
The datalist component though, requires its container. It needs a service which is defined there. Here I can agree that we can try to make the dependency optional and allow the datalist to be used without a container. I don't see any cycles getting spent on this for Clarity Angular, given that we have a very light workaroun

[2021-03-02 16:54] gnomeontherun commented on #5602
Accessibility requires labels, placeholders and titles are not sufficient to meet those requirements. All of our Angular form controls autowrap with a container even if you don't provide it as a way to ensure standards. However, as @Jinnie says the simple solution is to not use our automatic wrappers which enforce certain standards. I don't believe we will change this default behavior so the worka

[2021-03-02 18:57] ashleyryan commented on #5625
It looks like this is fixed, do you know when your next release will be?

[2021-03-02 19:17] coryrylan commented on #5625
@ashleyryan likely sometime this week

[2021-03-02 19:58] coryrylan commented on #5672
Clarity Core only ships native ESM code to npm. Jest by default always compiles down to ES5 but ignores node_module dependencies like Clarity. The fix is to configure Jest to enable native ESM. I would look into the docs here https://jestjs.io/docs/en/ecmascript-modules or consider compiling your upstream dependencies with `transformIgnorePatterns` option.

[2021-03-02 19:58] #5672 closed, assigned to nobody

[2021-03-04 01:47] kbuffington commented on #5067
I was able to fix this by adding the following styles:
[code]

[2021-03-04 04:54] coryrylan opened #5680 "core: layout alignments cross slotted boundary"
## Describe the bug

Certain slot alignments are missing with cds-layout. Given then following

[code]

and the component

[code]

The projected content alignment does not work due to a missing or mismatched ::slotted selector in cds-layouts.

## Expected behavior

The projected content should layout out correctly.

## Versions

**Clarity project:**

- [x] Clarity Core
- [ ] Clarity Angular/UI

**

[2021-03-04 08:22] bdryanovski commented on #5677
Hey @guetin, thanks for reporting this, I manage to reproduce the case so it seems like a bug, we gonna need some time to investigate a little more to see what is the root of the issue.

[2021-03-04 09:19] bbogdanov commented on #5677
Found the root of it -
![image](https://user-images.githubusercontent.com/15037947/109941104-7787c280-7cdb-11eb-8ccc-769097e54c0c.png)

We will need to remove the transform styles cause they are no longer needed. I'll be able to do a PR tomorrow. On the other hand @guetin - it is a good "first issue".

[2021-03-04 09:34] guetin commented on #5677
I also found this styling but was not able to override it with something like :

.datagrid-compact .datagrid-cell cds-icon, .datagrid-compact .datagrid-cell clr-icon {
  transform: none;
}

Thank you for your response.

[2021-03-04 15:02] ashleyryan commented on #5625
Hi @coryrylan

I just updated to the newest version of Clarity Core, and the inputs still have different behavior than vanilla inputs. If I set a CdsCheckbox's value programmatically, the onChange event will fire, even though the user didn't interact with it. A regular input only fires `onChange` when the input is clicked.

Normally this isn't a huge deal, because if you call `setState` again but

[2021-03-04 16:57] coryrylan commented on #5625
Ok, we will need to revisit this. The primary issue we are running into is React overrides the setters on the native input when using controlled inputs. This breaks the native setter call which was causing the original issue. When the user interacts with the input React ignores the native DOM event and skips a render cycle since it uses its own setter and internal event. Here is a demo of the issu

[2021-03-04 20:12] ashleyryan commented on #5625
Also, possibly tangentially related, but if I wrap a `CdsCheckbox` in a label to make a bigger click area and then click on the checkbox itself, the input immediately checks and then unchecks and `onChange` is fired twice. This only happens when clicking directly on the input, not the label.

[code]

 If I were to try and create my own react component that works and looks exactly like the Clarity

[2021-03-04 22:00] OhMyCats opened #5684 "Tabs in overflow are not activated when clicked"
## Describe the bug

Clicking on a tab which is in overflow menu does not set that tab active and does not switch to its content. At the same time using keyboard arrow keys and selecting a tab in the overflow works as intended. It appears as if a mouse click event is not registered at all.

This bug was observed _only_ on macOS across several different versions of Firefox and Safari, but not in Ch

[2021-03-05 09:53] grahamford opened #5685 "Setting css visibility on Alert behaves differently in V5"
## Describe the bug

Setting the visibility on an Alert to "hidden" in Clarity V4 hid the element but retained the positioning. In V5, the icons are still shown.

## How to reproduce

In this example with version 4, there are two alerts but only one is visible.

https://stackblitz.com/edit/clarity-4-alert-examples?file=src%2Fapp%2Fapp.component.html

<img width="500" alt="Screenshot 2021-03-05 at

[2021-03-05 10:53] #5677 closed, assigned to nobody

[2021-03-05 11:19] andresmgot opened #5687 "[react] TextArea component not working properly in Chrome"
## Describe the bug

When using Chrome + React + Clarity UI + Text Area core component. The Text area cannot be edited:

[code]

The textarea in that case cannot be edited. It's curious but if the textarea is not empty (has some default value) it can be edited but becomes impossible when the value is cleared out.

Apparently the problem is when importing clr css, if I remove the line `import "@clr

[2021-03-05 13:23] bbogdanov commented on #5687
Seems like the `clr-ui` had some issues and stopped the execution of the rest of the javascript because of
![image](https://user-images.githubusercontent.com/15037947/110121306-e4c45200-7dc6-11eb-802f-853c5a5d55c4.png)
.

https://stackblitz.com/edit/react-cds-textarea-onchange-bbkzqk?file=index.tsx Here is a working example using the `core` css

[2021-03-05 13:23] #5687 closed, assigned to nobody

[2021-03-05 14:13] bbogdanov commented on #5685
Hi @GrahamFord

The second example seems to be broken. Could you please take a look and provide a fixed one?

[2021-03-05 14:23] gnomeontherun commented on #5687
The Clarity Core React package does not depend on @clr/ui styling, so that should not be a dependency unless you are actually using some of those features.

[2021-03-05 14:38] bbogdanov commented on #5684
Hi @OhMyCats,

The issues is really strange.

I was able to reproduce it.

The team will need some time to investigate in order to find the root cause. We will get back to you as soon as we have progress to share.

[2021-03-05 15:00] coryrylan commented on #5685
The example worked for me, had to reload a couple of times (stackblitz is being flakey). I see the issue. The icon component does not inherit the visibility of the parent style so when the alert or group is hidden it remains visible. This is partially due to how shadow DOM behaves. I think the fix is on our end by putting the following in `icon.element.scss`

[code]

[2021-03-05 15:27] andresmgot commented on #5687
@bbogdanov @gnomeontherun thanks for the reply!

I didn't see that warning, indeed if the javascript is properly loaded the issue disappears :+1:

We are working in a fairly big application, not every component is using the Core package yet (we are migrating it little by little).

[2021-03-05 15:28] grahamford commented on #5685
Thanks for taking a look guys. (I'd agree that StackBlitz does seem to be unreliable when building Angular pages).

 I'm trying to upgrade from 4 to 5 and this is the only issue I've come across with the components. Version 5 is looking good 👍

[2021-03-05 15:37] andresmgot opened #5689 "[react] Dynamic checkboxes"
## Describe the bug

Sorry for the brief description, not sure if this is a bug. I was trying to create a dynamic list of checkboxes. See the example:

https://stackblitz.com/edit/react-cds-checkboxes?file=index.tsx

It gave me quite a headache because the new elements were not being added, noticed that the `slots` property was missing (not sure what that does) and I had to add it manually.

[2021-03-05 16:09] andresmgot commented on #5687
Actually I was wrong, even without that error the textarea doesn't work :/

Cant `clr-ui` used along with the core package?

[2021-03-05 16:11] ashleyryan commented on #5625
Another example, this time for the radio group. While you can avoid unnecessary re-renders in checkboxes by making sure to use the `e.target.checked` property, radios are going to result in multiple re-renders since `onChange` ends up being called n+1 times, with different values

https://user-images.githubusercontent.com/9469374/110135319-5e931600-7d9c-11eb-9a35-f670cbc4ead7.mov

[2021-03-05 16:58] andresmgot commented on #5687
For the record, I managed to workaround it setting the `font` property which is the troubling one:

[code]

[2021-03-05 23:21] #5395 closed, assigned to mathisscott

[2021-03-05 23:21] #5419 closed, assigned to mathisscott

[2021-03-05 23:24] mathisscott commented on #5650
The workaround here is to use portals to project modals and overlays outside of container that use transforms.

For some, the ability to trap an overlay inside a transformed container would be a feature, not a bug. So it's hard to gauge whether this is something we would want "fixed".

For those who are not using a framework or CDK that allows easily moving element via portals, the best practice w

[2021-03-05 23:24] #5650 closed, assigned to mathisscott

[2021-03-05 23:29] mathisscott opened #5692 "Modal examples in the clr/react dev app need to be updated..."
...to use the new animations. Presently, they are the equivalent of triggering an `ngIf` off the hidden property. So the modal is removed before the animation can run.

We should also check the other implementations to have them make use of the animations as well.

[2021-03-06 14:13] OhMyCats commented on #5684
Hi @bbogdanov,
Thanks for verifying the issue and adding this bug to the todo list!
The problem is indeed an odd one. I had hoped it was something on my end, but we have what we have. x)

[2021-03-07 06:40] #5659 closed, assigned to nobody

[2021-03-07 06:40] #5658 closed, assigned to nobody

[2021-03-07 07:37] erabl-identos opened #5693 "Combobox clrOpenChange event fired twice on Tab key when combobox is in closed state"
## Describe the bug

Combobox fires obsolete events on the (clrOpenChange) output, when navigating away from a focused but closed combobox using the tab key.

## How to reproduce

Steps to reproduce the behavior:

1. Go to https://stackblitz.com/edit/clarity-v4-dark-theme-jfuyl2?file=src/app/app.component.ts
2. Open the console
3. Focus the input without opening the menu
4. Hit Tab button
5. Obser

[2021-03-08 12:12] dorthrithil opened #5696 "Cannot install @cds/angular for Angular 11 project due to wrong peer dependency on Angular 9"
## Describe the bug

`npm i` yields the following error when trying to install `@cds/angular` in an Angular 11 project:

[code]

## How to reproduce

Try the teps described above.

## Expected behavior

CDS Angular v5 (like CLR Angular) has a dependency on Angular 11, not 9 (https://github.com/vmware/clarity/blob/next/packages/angular/projects/cds-angular/package.json).

## Versions

**Clarity pro

[2021-03-08 12:16] KushalPandya-JS opened #5697 "List options are not announcing as selected."
**Description:**
Windows + Mozilla:
List items are not reading as selected when user is selecting them.

Mac + Safari:
when navigating through 'Control + option + right/left arrow keys', it is reading as list box Collapse .
When moving one to another list item. It has extra blank navigation.

Here is the live example at Clarity site https://v4.clarity.design/documentation/tree-view#examples.

**Te

[2021-03-08 12:32] dorthrithil commented on #5473
Same issue in Clarity 5.0.3. Can either be fixed by passing a state variable like `errorState = ClrTimelineStepState.ERROR;` to `clrState` or disabling `strictTemplates`.

[2021-03-08 14:06] bbogdanov commented on #5696
Hi @dorthrithil,

Thank you sharing this with us.

Seems like you are right and we need to update the deps on our `clr` and `cds` packages.

We will take some time to investigate if there is anything else that we missed to update and do a PR asap.

[2021-03-08 15:43] coryrylan commented on #5696
https://github.com/vmware/clarity/blob/next/packages/angular/projects/cds-angular/package.json#L11

[2021-03-08 15:50] coryrylan commented on #5689
Thank you for the reproduction. Should be able to get this fixed up soon.

[2021-03-09 14:52] cloutidj opened #5702 "Tooltip/Signpost does not appear above Core form controls"
## Describe the bug

When using the Clarity tooltip or signpost to provide more information to a Core form controls label, the tooltip/signposts are underneath the form controls.  Also, the signpost close icon appears when the signpost is not opened.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-9aesuc?file=src%2Fapp%2Fapp.component.html

Steps to reproduce the behavior:

[2021-03-09 16:46] benash opened #5704 "@cds/react components fail to import with Webpack 5"
## Describe the bug

Webpack 5 (released in Oct. 2020) introduced a lot of breaking changes and seems to fail to bundle `@cds/react` imports. Webpack 4 seems to bundle without problems.

## How to reproduce

Run the following commands to create a new project that imports a single cds component:

[code]

Running the above gives me the following output:

[code]

## Expected behavior

A successful bu

[2021-03-09 18:04] #5651 closed, assigned to mathisscott

[2021-03-09 22:02] ad9999 opened #5707 "CSS Import syntax is wrong on website"
## Describe the bug

The description provided on clarity website says you need to do / add following on your root JS file at the top

[code]

How-ever that resulted in lot of compile errors. Some of them

[code]

## How to reproduce

1.
2.

Steps to reproduce the behavior:

1.  Install `cds`  package using following commands as provided through clarity website
`npm install @cds/core @cds/city --sa

[2021-03-09 22:11] #5692 closed, assigned to mathisscott

[2021-03-09 22:14] coryrylan commented on #5704
Thanks for filing this. That is correct we need to add the `.js` to the converter import.

[2021-03-09 22:27] coryrylan commented on #5702
Thanks for filing this. This is something we can fix on our end.

To fix we need to add the following style

[code]

[2021-03-10 08:58] #5636 closed, assigned to nobody

[2021-03-10 16:13] #5627 closed, assigned to hippee-lee

[2021-03-10 16:13] #5629 closed, assigned to nobody

[2021-03-10 16:14] #5631 closed, assigned to nobody

[2021-03-10 16:15] #4256 closed

[2021-03-10 16:15] #5634 closed, assigned to nobody

[2021-03-10 16:15] #5630 closed, assigned to nobody

[2021-03-10 16:15] #5628 closed, assigned to nobody

[2021-03-10 16:15] #4129 closed

[2021-03-10 16:15] #5640 closed, assigned to nobody

[2021-03-10 16:17] gnomeontherun commented on #5697
@scroniser Are we tracking this?

[2021-03-10 16:21] gnomeontherun commented on #5707
The import paths may depend on project configurations. When you use React like this example, you may have to reconfigure the imports depending on your tooling. The CSS import syntax is not written for JavaScript but to be used in CSS files, so that is the confusion here by using the import in the wrong place or not updating to match target syntax. Closing as working as intended and not having a cl

[2021-03-10 16:21] #5707 closed, assigned to nobody

[2021-03-10 16:22] gnomeontherun commented on #5696
The @cds/angular package should allow Angular 9+, so update the dependency requirements to something like `>9`.

[2021-03-10 16:24] gnomeontherun commented on #5633
We had some color improvements that are in Clarity Core but not Clarity Angular due to it being a breaking change that might cause products to have some different color combinations. We are not intending to update the Angular colors at this time for this reason.

[2021-03-10 16:37] gnomeontherun commented on #5338
Given this is a very specific conflict with another library and it has a workaround, I'm going to close this issue. In the future our Core implementation of tooltips don't expect to have this kind of issue and will recommend updating to it when they are available.

[2021-03-10 16:37] #5338 closed, assigned to nobody

[2021-03-10 17:04] Jinnie opened #5708 "Core Typography - cds-text="truncate" is cutting letter descenders."
## Describe the bug

The "truncate" transform cut too much. It should only cut horizontal overflow and add ellipsis.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity.design/storybook/core/iframe.html?id=foundation-typography--page&viewMode=story#transforms
2. Observe "Text Truncation (truncate): The quick brown fox jumps over the lazy dog."
3. Verify that letters t

[2021-03-10 17:42] coryrylan opened #5709 "website: list import example"
## Describe the bug

The list code example shows an invalid import. For the list component there is only a css import and no JS import.

## How to reproduce

See the code tab on the list docs https://clarity.design/core-components/list/code/

## Expected behavior

We should only show the css import for lists

## Versions

**Clarity project:**

- [x] Clarity Core
- [ ] Clarity Angular/UI

**Clarity

[2021-03-10 17:47] coryrylan commented on #5693
Thanks for filing this. I was able to replicate the issue from the stackblitz. It is isolated to the tab key focusing away rather than any blur event.

[2021-03-10 17:58] gnomeontherun commented on #4770
I don't see this issue in Firefox now, and I'm going to close this as resolved. There is also the Clarity Core https://clarity.design/core-components/progress-circle/ and upcoming work on other progress formats that could be used.

[2021-03-10 17:58] #4770 closed

[2021-03-10 17:58] gnomeontherun commented on #4730
This was delivered.

[2021-03-10 17:59] duzenko commented on #5338
What if it's not just another library it conflicts with? Would you reopen?

[2021-03-10 18:28] coryrylan opened #5710 "core: layout overflow issue"
## Describe the bug

When a element is projected into a slot and has a fixed or absolute positioned layout it is clipped from the slot contain layout css property.

## How to reproduce

https://stackblitz.com/edit/react-ts-abptcy

## Expected behavior

Positioned elements should not be clipped on layouts

## Versions

**Clarity project:**

- [x] Clarity Core
- [ ] Clarity Angular/UI

**Clarity ver

[2021-03-10 19:17] gnomeontherun commented on #5473
@bdryanovski did you address this case with strict?

[2021-03-10 20:14] ashleyryan commented on #5625
I accidentally ended up in a twitter thread about React Components + Web Components and one of the maintainers from LitElement asked me about the issues we were facing, so I described the issue and he agreed that controlled components are tricky and suggested a "controlled" component: https://twitter.com/justinfagnani/status/1369071959175090176

I was playing around in Core and tried something lik

[2021-03-10 20:18] #5702 closed, assigned to mathisscott

[2021-03-10 20:24] coryrylan commented on #5625
@ashleyryan thanks for the update and link to the twitter thread! I'm working on this throughout this week so if I make progress I'll be sure to post back here.

[2021-03-10 22:01] gnomeontherun commented on #5603
This issue does not have a reproduction and we are going to close it as stale. If the issue persists, please provide a working [Stackblitz demo](https://stackblitz.com/@clr-team) to get started.

[2021-03-10 22:01] #5603 closed, assigned to nobody

[2021-03-10 22:02] gnomeontherun commented on #5184
This issue does not have a reproduction and we are going to close it as stale. If the issue persists, please provide a working [Stackblitz demo](https://stackblitz.com/@clr-team) to get started.

[2021-03-10 22:02] #5184 closed

[2021-03-10 22:08] gnomeontherun commented on #4842
This issue does not have a reproduction and we are going to close it as stale. If the issue persists, please provide a working [Stackblitz demo](https://stackblitz.com/@clr-team) to get started.

[2021-03-10 22:08] #4842 closed

[2021-03-10 23:52] jzabinski opened #5715 "Combobox: selections sometimes misaligned with long options"
## Describe the bug

In mobile portrait displays, when a combobox is horizontally aligned with its label, selections are misaligned with the input text when the selection contains a long name.

## How to reproduce

Steps to reproduce the behavior:

1.  In Chrome, go to [this Stackblitz page](https://combobox-in-mobile-v4.stackblitz.io/)
2. Open Chrome's Console.
3. Activate Mobile Portrait by [tog

[2021-03-11 09:55] vishalmanohar commented on #5597
@coryrylan Did you get a chance to look at this? Perhaps if you can point me to the area of code, I can submit a PR.

[2021-03-11 13:22] danail-vasilev commented on #5633
@gnomeontherun  I have reported 3 bugs above. Which of them is your comment related to ? The first issue seem to be merged, what about it ?

[2021-03-11 15:15] coryrylan commented on #5625
@ashleyryan I have a potential fix, I am not yet 100% sure this is covering all the use cases. As far as I can test it seems to get the components in sync. https://github.com/vmware/clarity/pull/5718

[2021-03-11 15:42] coryrylan opened #5719 "core: duplicated layout style"
## Describe the bug

We have some duplication with the screen reader styles in the layout utils. The duplicates look to be from a rebase/merge.

## How to reproduce

Check the global bundle and search for `display:screen-reader-only`
https://unpkg.com/browse/@cds/core@5.0.3/global.css

## Expected behavior

We should only deliver a single sr only util in the global bundle. The fix I believe would

[2021-03-11 16:19] ashleyryan commented on #5625
It fixes the stackblitz issue anyway, I copied the contents into App.tsx in the clarity react folder and it works as expected. Also tested out making sure indeterminate still sets like it should.

[2021-03-11 17:00] bbogdanov commented on #5633
I believe Jeremy comment is about the second point you made `Disabled checkbox - it's icon color is different than the one from core components.` The color improvements are made in order to bring a11y support.

We are about to do a PR on the `tick` icon alignment.

The last time I used the `core` disabled radio button I haven't seen any issues but I'll check it and will do a PR if I see issues the

[2021-03-11 18:02] politicsruinseverything commented on #5603
I tried reproducing for Clarity v4 and it seems resolved now. Thanks. I was only seeing the issue in v3.

By the way, if Ivy is turned on in Stackblitz, it seems to blow up any demo you're working on and I couldn't find a way to undo it. Probably a good idea to make note on the "fork this project" instructions going forward.

[2021-03-11 21:28] #5704 closed, assigned to mathisscott

[2021-03-11 21:35] benash commented on #5704
Cool, that was fast!

[2021-03-12 06:13] royling commented on #5446
I'll submit a PR to fix this soon.

[2021-03-12 11:55] albenakertova opened #5723 "Outline is not visible on checkbox/radio button in high contrast mode"
When in Windows high contrast mode no outline is visible on checkboxes and radio buttons.

Steps to reproduce the behavior:

1.  Go to Clarity documentation -> Angular components -> Checkbox or Radio: https://clarity.design/angular-components/checkbox/
2.  Enter high contrast mode  (toggle with left Alt + left Shift + Print)
3.  Move between examples with tab key
4.  Observe that no outline is vis

[2021-03-12 19:34] zoom2ashish opened #5724 "Combobox Single Select: Shows only selected item in combobox, and there is no clear button to clear the drop down."
Clarity v4:

If combobox has long list of items and one item is already selected, then it shows only selected item in combobox content. To see all the items in SingleSelect mode, user has user has to press "backspace" keys (or select entire text and delete) to clear the combobox search textbox and load the all the items in dropdown content.

combobox need to have clear button to set currently sele

[2021-03-12 22:07] coryrylan commented on #5724
This behavior can be replicated https://v4.clarity.design/documentation/combobox Marking as needs UX input so we make sure to have the correct behavior with the single select vs multi-select.

![Screen Shot 2021-03-12 at 4 07 19 PM](https://user-images.githubusercontent.com/2021067/111003588-0ab0a000-834d-11eb-9827-2ac9dcea6012.png)

![Screen Shot 2021-03-12 at 4 07 53 PM](https://user-images.gith

[2021-03-13 13:17] royling commented on #5269
looks like the `.clr-focus` style declared [here](https://github.com/vmware/clarity/blob/next/packages/angular/projects/clr-angular/src/forms/combobox/_combobox.clarity.scss#L39-L41) is polluting [the style used in password input](https://github.com/vmware/clarity/blob/next/packages/angular/projects/clr-angular/src/forms/password/password-container.ts#L32).

a simple workaround is like:

[code]

m

[2021-03-13 15:16] dorthrithil commented on #4971
When someone types a search query and then deletes it again the Combobox announces `Searching for matches for ""`. By adding templates we could work around this by showing the user a more useful hint.
Is there a workaround for this currently? Just closing the Dropdown when the input changes to an empty string would help until templates are available.

[2021-03-15 06:47] SameerRathod opened #5728 "Getting the error: Cannot read property 'production' of undefined"
## Describe the bug

_A clear and concise description of what the bug is, and the conditions when it occurs._
![image](https://user-images.githubusercontent.com/3888454/111113651-1d62e900-8588-11eb-9950-6fe89f65b7fe.png)

![image](https://user-images.githubusercontent.com/3888454/111113749-3ec3d500-8588-11eb-8e3b-ac53f294f7ef.png)

## How to reproduce

_Please provide a link to a reproduction scen

[2021-03-15 06:48] SameerRathod commented on #5728
If the tag is already initialized, it is not taking environment value see the screenshot attached

[2021-03-15 06:50] SameerRathod commented on #5728
Temp Fix
![image](https://user-images.githubusercontent.com/3888454/111114086-c4e01b80-8588-11eb-9889-61ee09c117d6.png)

[2021-03-15 09:08] bdryanovski commented on #5728
Hey @SameerRathod can you provide some reproducible demo in StackBlitz so we could investigate a little bit more.

[2021-03-15 10:26] SameerRathod commented on #5728
@bdryanovski We are trying to use it inside our project. There are no particular steps. It was working a few days back and suddenly it stooped. I can share the package.json dependency. and index.js where we are importing the moduels. Apart from that, we have done nothing it's a  simple project.

Package.json
"dependencies": {
    "@cds/core": "^5.0.3",
    "@cds/react": "^5.0.3",
    "@clr/core":

[2021-03-15 11:45] bdryanovski commented on #5715
It seems that the issue is with how we decide where to open the suggestion box.

It seems when you try to type is position correctly, but when you manually open the dropdown is position on the wrong side. It probably some small initialization issue?! Not sure need to test more.

Probably @Jinnie could add more to this?

<img width="390" alt="Screenshot 2021-03-15 at 13 46 22" src="https://user-ima

[2021-03-15 11:52] bdryanovski commented on #5728
Sorry, @SameerRathod I could not reproduce your issue. We gonna need something that is running and we could debug, this snippet above is not giving us the how picture, you may have some issue inside the webpack or some optimization, or some code could overwrite it !?

[2021-03-15 14:03] bbogdanov commented on #5633
@danail-vasilev The radio buttons cannot be clicked when you have a `disabled` attribute on the `input`.

There is an issue with the input groups when the group container is disabled but it doesn't pass the disabled attribute to the inputs inside it. I am about to create a separate task about it.

Thank you once again for bringing our focus to these issues!

[2021-03-15 14:13] coryrylan commented on #5685
Fixed in #5711

[2021-03-15 14:13] #5685 closed, assigned to coryrylan

[2021-03-15 14:14] bbogdanov opened #5734 "Disabled control group doesn't disable the controls"
## Describe the bug

`CdsInternalControlGroup` disabled property doesn't disable the controls inside the group container.

`disabled` attribute is not passed to the controls inside the group container.

## How to reproduce

https://codesandbox.io/s/control-group-disabled-e973f

Steps to reproduce the behavior:

Click on any of the checkboxes.

## Expected behavior

Any of the controls inside a chi

[2021-03-15 14:14] bbogdanov commented on #5734
#5633

[2021-03-15 15:09] coryrylan commented on #5719
Fixed in #5722

[2021-03-15 15:09] #5719 closed, assigned to nobody

[2021-03-15 16:03] gnomeontherun commented on #5734
@coryrylan is this expected to be done automatically or do apps need to set disabled themselves?

[2021-03-15 16:16] coryrylan commented on #5734
This is a bug, setting it should set disabled on the child controls of the group. I think the fix is in the `updated` method of `control.element.ts` add a `syncProps` call to sync the disabled property.

[code]

[2021-03-15 18:20] scroniser commented on #5697
@gnomeontherun, yes, we're tracking this. Please let me know if you want the specific issue numbers.

[2021-03-15 20:44] gnomeontherun commented on #5728
We do need a reproduction of the issue more simply to triage. However, it also seems like the main issue is the context that you are trying to call for the CDS properties is running before the web components have been bootstrapped, so it is likely some issue with the ordering of calls. You might also just guard against undefined errors by checking the object property presence before using it.

[2021-03-15 21:49] Jinnie commented on #5724
This is the official W3C ARIA pattern.
Duplicate of https://github.com/vmware/clarity/issues/5589

[2021-03-15 21:49] #5724 closed, assigned to nobody

[2021-03-15 21:50] Jinnie commented on #5724
https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html

[2021-03-16 03:21] #5696 closed, assigned to coryrylan

[2021-03-16 09:31] SameerRathod commented on #5728
@gnomeontherun Thanks.. that helped I pasted all the CDS statements just after importing react and it worked. Seems like it is not getting registered or since we have multiple versions of clarity it was conflicting with the object structure.
We had placed a temp patch as an if condition in utils/register.js to check if the environment key on the window.CDS exists or not.

[2021-03-16 09:31] #5728 closed, assigned to nobody

[2021-03-16 11:37] #5633 closed, assigned to bbogdanov

[2021-03-16 15:08] bdryanovski commented on #5723
@albenakertova thanks for reporting this.

[2021-03-16 15:10] #4650 closed

[2021-03-16 15:10] #5429 closed, assigned to nobody

[2021-03-16 15:49] coryrylan commented on #5625
Merged #5718 but going to keep this open until its published so we can follow up

[2021-03-16 15:51] coryrylan commented on #5356
Closed by https://github.com/vmware/clarity/pull/5737

[2021-03-16 15:51] #5356 closed, assigned to nobody

[2021-03-16 18:42] benash opened #5745 "Hovering over header nav <a> links has no effect"
## Describe the bug

Hovering over a `header .header-actions a.nav-link` has no effect.

## How to reproduce

Create such an element, and hover over it.

## Expected behavior

Opacity should increase to 1, like it does when the link is a `<button>` instead of an `<a>`.

## Versions

**Clarity project:**

- [ ] Clarity Core
- [x] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [x]

[2021-03-16 21:46] #5523 closed, assigned to nobody

[2021-03-16 23:05] anilrautvc opened #5747 "Need to disable steps in prepopultaed wizard"
## Describe the bug

I have a wizard with 5 steps, i am prepopulating data in the wizard and showing the last or 4th step of wizard when its open.
I want the second and third step to be grayed out or not clickable in the side nav.

_A clear and concise description of what the bug is, and the conditions when it occurs._

## How to reproduce

_Please provide a link to a reproduction scenario using o

[2021-03-17 09:21] AamirSaeedCL opened #5749 "Button width re-sizing on click event when it has `[clrLoading]`"
The button with `[clrLoading]` to showing loading get resize in width on click event. It gets small in width and then get back to normal immediately when spinner start moving inside it.

## How to reproduce
Have  a simple button on form with `[clrLoading]` and call an api with some delay.

Steps to reproduce the behavior:

Run the page
Click the button (should have `clrLoading`
see an issue

## Ex

[2021-03-17 11:38] #5709 closed, assigned to nobody

[2021-03-17 12:20] bdryanovski commented on #5745
I have reproducible demo [here](https://codesandbox.io/s/long-morning-7gst9?file=/index.html)

`:enabled` is not [supported](https://html.spec.whatwg.org/multipage/semantics-other.html#selector-enabled) for `a`-tags as part of the spec - yes.

As a workaround for now I could suggest using `button` instead of `a` until we decide how to handle this case.

[2021-03-17 13:09] bdryanovski commented on #5747
You could read more on how to do that [here](https://v4.clarity.design/documentation/wizards) into the "Preventing Navigation and Disabling the Stepnav" section.

[2021-03-17 13:09] #5747 closed, assigned to nobody

[2021-03-17 13:20] benash commented on #5745
Buttons seem to inherit a bunch of other styling that I wouldn't want in the header. My workaround was to add the same styling as above but without the `:enabled`.

[2021-03-17 13:24] bdryanovski commented on #5749
@AamirSaeedCL can you provide some working demo on the issue.

I try to reproduce the issue [here](https://stackblitz.com/edit/angular-qnfyvt?file=src/app/app.component.ts) and I'm not seeing any change in size.

If you start the button with a loading state and then change the content inside the button it's normal to get some different size of the button - cause at that stage the button size is lo

[2021-03-17 14:16] KushalPandya-JS commented on #5697
Yes, Please provide me.  @scroniser

[2021-03-17 15:04] Jinnie commented on #4971
Thank you for your suggestions!
They are "under consideration", as labelled by Scott, and this means that they may appear in the Clarity Core version of the combobox (as framework neutral web-component). With the new lifecycle of the product we are not planning to make breaking changes on any of the Angular components.

[2021-03-17 15:10] Jinnie commented on #5715
The Combobox is using the Smart Popovers solution built for internal smart positioning. It has some limitations, though, when it comes to responsive layout, as it only makes one attempt to position the popover better than originally requested.

This request has merit but we are not currently planning to address it due to it likely requiring a major refactoring and breaking change to implement. Our

[2021-03-17 15:10] #5715 closed, assigned to nobody

[2021-03-17 15:16] Jinnie commented on #5603
Thanks @politicsruinseverything, this is a known issue, we've already logged to Stackblitz, but have no response yet
https://github.com/stackblitz/core/issues/1364
Should be able to undo it by either disabling Ivy in the Stackblitz project Settings or in the "tsconfig.json" file.

[2021-03-17 20:18] #5710 closed, assigned to coryrylan

[2021-03-17 20:52] anilrautvc commented on #5747
@bdryanovski Thanks for your suggestion, i read through the section "Preventing Navigation and Disabling the Stepnav" in the link provided. As per the document if i set this property clrWizardDisableStepnav = true for the wizard its disable click on the entire left nav.
My requirement is i want to gray or disable ONLY the Step 2 and Step3 in the left nav of the wizard, please refer to the followin

[2021-03-18 07:51] #4488 closed

[2021-03-18 07:51] #4706 closed

[2021-03-18 08:52] bdryanovski commented on #5676
@Jinnie is there a reason for that or ... ?

[2021-03-18 08:52] dorthrithil commented on #5644
For everyone who is looking for a workaround:

[code]

also fixes the issue without the need of any hacks to pierce the shadow DOM which are needed to apply Jinnies fix.

[2021-03-18 09:07] bdryanovski commented on #5319
Can we summarise what is the best practice of having `aria-hidden` on icons. We had few issues adding/removing this attribute on places and I'm not sure when/where is the correct way of using it anymore.

Even if we are talking only for Clarity Angular this could be easily fixable and consistent with Angular Core.

@scroniser @chlane

[2021-03-18 10:29] alfidanov commented on #4827
Are there any plans to fix this issue? It is a pretty common scenario to use a DatePick to filter a Date column.

[2021-03-19 10:08] sneksinnej opened #5756 "Combobox selects wrong item when using enter to confirm"
## Describe the bug

Combobox uses wrong selection when using enter to confirm typed selection.
It keeps your last focused item instead of picking the first one of the filtered list.

## How to reproduce

Steps to reproduce the behavior:

1. Go to https://stackblitz.com/edit/clarity-light-theme-v5-hefc3o?file=src/app/app.component.ts
2. Open the application
3. Type in Fennel
4. Press enter
5. See

[2021-03-19 13:07] mustrockux opened #5757 "Global Filter"
_This contribution is from the designers on Project Iris, an application modernization product in developement

## Summary

_We are proposing a global filter for more advance filtering of a more complex elements on a page with mutiple dimensions/categories other than a grid. This is an enhancement of the in column filter and sort capability and a more complex function of sorting elements that are

[2021-03-19 15:53] Jinnie commented on #5676
With a little change of the demo, we can see that the change is not completely omitted, but goes one change cycle behind.
https://stackblitz.com/edit/issue-combobox-on-push-research?file=src/app/app.component.ts

There is an open Angular bug about the problem of adding a component that implements the `ControlValueAccessor` interface in a parent that utilizes the OnPush strategy: https://github.com

[2021-03-19 16:01] Jinnie commented on #5644
@dorthrithil thanks for providing the workaround!
My "fix" was not a workaround suggestion, but just a direction to what we need to fix inside the component. I have a commit for it, but it currently depends on another related change, which I want to push together with this.

[2021-03-19 18:39] scroniser commented on #5319
@bbogdanov it's best to leave the decision with the clarity consumer, allowing them to implement `aria-hidden` or good alt text. If that isn't possible, err on the side of caution -- use good alt text instead of `aria-hidden`

[2021-03-22 10:25] #5757 closed, assigned to nobody

[2021-03-22 15:09] coryrylan opened #5760 "core: focus modal/overlay"
## Describe the bug

When cds-modal is opened the modal content is being focused as part of the focus trap. A11y team would like this removed from the tab order.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://js-2mnmym.stackblitz.io/
2.  Open modal
3.  Tab through and see content is in tab order

## Expected behavior

Modal content should not be in tab order

## Versions

[2021-03-22 15:28] Jinnie commented on #5756
Thanks for the provided reproduction and W3C link.
When the Clarity combobox was first designed, it was decided to go with "Example 1: List Autocomplete with Manual Selection" from the same W3C spec.
What you request is also valid, though it's illustrated with "Example 2: List Autocomplete with Automatic Selection".
If I remember well, the Manual Selection was preferred for two reasons (both Acces

[2021-03-23 00:41] ph55 opened #5762 "Peer dependencies error 5.1.0"
After upgrading from `5.0.3` to `5.1.0` error thrown when packages reinstalled:

[code]

Rollback to strict `5.0.3` fixes the issue.

Node version: `v14.14.0`

Probably related to version change:
https://github.com/vmware/clarity/blob/dd7b8454959e2ea657d4c1f9b363bc8fcdbd5011/packages/icons/package.json#L4

[2021-03-23 01:46] shanman190 opened #5763 "cds-input control-width does not work when inside of a cds-form-group"
## Describe the bug

The value of `control-width` on a `cds-input` is ignored when that `cds-input` is contained within a `cds-form-group`.

## How to reproduce

[code]

Effectively, the above input will always be the max size of the `cds-form-group` even though it is requested to have a smaller size.

## Expected behavior

The `cds-input` should respect the `control-width` specified.

## Versions

[2021-03-23 01:47] shanman190 commented on #5763
Workaround is to apply the same style that `control-width="shrink"` applies (eg: style="width: auto")

[code]

[2021-03-23 04:25] wendellestradairely commented on #5608
I have the same issue. I've been experiencing this even before the Ivy was introduced.

[2021-03-23 04:34] wendellestradairely opened #5764 "The expand/collapse icon of vertical nav group is not centered"
Clarity Version: 5

When using a  vertical nav groups, its icon not center-aligned when expanded
![navgroup](https://user-images.githubusercontent.com/50942719/112092867-642d9000-8bd3-11eb-8414-335c1911e2df.gif)

Reproduction:
Use the v5 stackblitz and use the sample code from the Vertical Nav Group documentation:
https://clarity.design/angular-components/vertical-nav/#verticalnav-groups

or from

[2021-03-23 13:56] mathisscott commented on #5764
I believe this is a duplicate of #5644

@Jinnie is looking into that already.

[2021-03-23 13:56] #5764 closed, assigned to nobody

[2021-03-23 17:05] mathisscott commented on #5760
Per prior discussions on this, our answer will be to drive users towards `cds-first-focus`. That feature will allow end users to customize what will and won't have initial focus when an overlay is opened. `cds-first-focus` removes the overlay wrapper from the tabflow. We recognize, however, that there may be users who _want_ the overlay wrapper in the tab flow. a11y initially requested that to be

[2021-03-23 20:52] MRHarrison opened #5767 "@cds/react install version 5 and above throwing undefined error when start up react dev server"
## Describe the bug

After `yarn install @cds/react @cds/core` and then startup of the react dev server `yarn start` I get this error from the react dev server:

[code]
`
## How to reproduce

You don't have a react template

Steps to reproduce the behavior:

1.  `yarn install @cds/react 5.1 or >`
2.  `yarn start` react dev server
3.  Yarn dev server output in the browser shows `TypeError: Cannot r

[2021-03-23 21:59] coryrylan commented on #5680
closed in #5743

[2021-03-23 21:59] #5680 closed, assigned to coryrylan

[2021-03-24 13:58] rogerfar opened #5770 "Build error in 5.1 for Angular"
When doing a ng-serve on a fresh 5.1 project you get:

[code]

[2021-03-24 16:01] #5762 closed, assigned to coryrylan

[2021-03-24 16:52] coryrylan commented on #5767
Do you have a reproducible example that you can post? I could not get this using https://create-react-app.dev/ My concern is how the code reaches that far without initializing our CDS object. There might be an issue with the modules loading properly dependent on the toolchain.

[2021-03-24 16:53] coryrylan commented on #5770
@rogerfar Could you post what version of Angular and TypeScript your project is currently using?

[2021-03-24 16:56] rogerfar commented on #5770
Sorry looks like some of the bottom of my report fell off.

I'm using the latest angular 11 (11.2.6) and I tried with Typescript 4.2.3 and 4.1.5.

These are the clarity packages I have in my project:

[code]

edit: references the wrong clarity packages.

[2021-03-24 18:47] jaybellew1 opened #5775 "Add a variant to core flat buttons to align correctly when sitting left or right in a component"
## Summary
As we are moving to clarity core, we’ve bumped up against a layout issue with the flat buttons. They’re not super useful for cases where they are positioned in layouts or components on the left or right as they won’t align correctly.

- What is the change?
My proposal is that we add a variant to the flat button for these cases, just removing the left/right inside padding (or even 2px wo

[2021-03-24 19:36] #5763 closed, assigned to coryrylan

[2021-03-25 14:10] mrmokwa opened #5777 "Alignment of selection and pagination inside datagrid footer"
## Describe the bug

If you have a datagrid component, with selection and pagination, you can see that there's a misalignment between them in the footer.

![image](https://user-images.githubusercontent.com/12090931/112486219-7128bb80-8d5a-11eb-8f37-687eefceaf37.png)

[2021-03-25 17:01] gnomeontherun commented on #5770
@bdryanovski has been tracking down some of these strict typing bugs

[2021-03-25 17:08] bdryanovski commented on #5770
Sure I will take a look tomorrow morning.

[2021-03-26 09:07] bdryanovski commented on #5770
@rogerfar can you help me reproduce it ?

I try doing this:

[code]

The `package.json`

[code]

So from what I'm getting here, it seems everything is working, and could not get the error you mention above - I'm I missing something?

With TypeScript `4.2.3` I'm getting this error from Angular Compiler

[code]

The closest valid TypeScript version is `4.1.5` that will let you build and run everythi

[2021-03-27 03:38] astorije commented on #5775
I think we'll run into this with _every_ flat button we use, because one way or another the left or right side will never align, by design.

Instead of a new variant for this, what if flat buttons were given a `--padding: 0` by default (or `--padding: 2px` like @jaybellew1 suggested)? This could still be customized using the design token, but that would ensure proper alignment by default.

Here ar

[2021-03-27 03:41] astorije commented on #5775
More screenshots of the same example to showcase the alignments. Left screenshot has current default padding, right screenshot has `--padding: 0` on both buttons.

Before | After
--- | ---
<img width="722" alt="Screen Shot 2021-03-26 at 11 39 36 PM" src="https://user-images.githubusercontent.com/113730/112709095-71929500-8ec7-11eb-905c-f50e311edcd1.png"> | <img width="720" alt="Screen Shot 2021-03

[2021-03-27 15:21] nishant-gh opened #5780 ""Expression has changed" error for a trivial scenario, goes away when *clrIfExpanded is removed"
## Describe the bug

I have taken the stepper example code and tried to extract the step content into its own component. I'm not sure why I'm getting a "Expression has changed after it was checked" error here.

It does go away when *clrIfExpanded on the first step is removed, although that's not an acceptable fix as I want to keep that behavior too.

## How to reproduce

https://stackblitz.com/edi

[2021-03-27 17:53] nishant-gh commented on #5780
Figured that it has something to do with clrStepButton not being a direct child of clr-step-content (currently it was in child). Error is not seen anymore when the button is moved up and made a direct child of clr-step-content.

[2021-03-27 17:53] #5780 closed, assigned to nobody

[2021-03-28 10:48] mcosta74 opened #5781 "[website] Alert Error description is wrong"
## Describe the bug

The description of `Error` status in the website is the same of `Warning`; It must be different.

## How to reproduce

Steps to reproduce the behavior:

1.  Go to https://clarity.design/core-components/alert/#status
2.  Check description for `Error` and `Warning` state

## Expected behavior

The `Error` state should have a different description than `Warning` state

## Version

[2021-03-29 08:17] alexpichler99 opened #5782 "Combobox validation and value selections issues"
## Describe the bug
There are two issues with the combobox:

1. If a set value in the combobox is opened and a result is clicked, the dropdown stays open
2. If a value is selected in the combobox, a required validation error appears

## How to reproduce the first issue

https://stackblitz.com/edit/issue-4938-2-vzaypl?file=package.json

Steps to reproduce the behavior:

1.  Select a value in the co

[2021-03-29 08:36] Jinnie commented on #5760
I remember we had one more reason to have it in the Tab order (at least with the Clarity Angular modals) - be able to scroll the content with keyboard only.
Is there an internal JIRA issue that covers this new A11Y request? I see one for old Angular modals only (TCS-3639), which refers to the Clarity Known Challenges list, where we have this statement:

It would be good if we had a Core specific i

[2021-03-29 09:08] Jinnie commented on #5777
Please, follow our issue creation template and submit a Stackblitz reproduction. This helps lot.
https://stackblitz.com/@clr-team

[2021-03-29 09:23] Jinnie commented on #5608
I reproduce it with the Stackblitz, but not yet reproducing it with our demos. Needs a bit more investigation before we can say why it happens.

[2021-03-29 09:35] Jinnie commented on #5775
I believe we've already had some discussions about this previously. I'll leave it to the UX team to comment.
Thank you for the good illustrative materials.

[2021-03-29 09:38] Jinnie commented on #5781
Thanks for reporting this.

![Screenshot 2021-03-29 at 12 37 50](https://user-images.githubusercontent.com/1798828/112817884-9a638780-908b-11eb-92f8-4608f35ddfde.jpg)

[2021-03-29 13:24] rogerfar commented on #5770
I played around with it a bit and I think I see the issue.

I was still referencing `@clr/angular`, so I ran `ng update @clr/angular` after, I noticed this package is now obsolete, I replaced it with `@cds/core`, this gave me the errors I reported.

Now I tried to reproduce it but I removed `@clr/angular` from `package.json` and replaced it with `@cds/core`, then I ran `ng update --allow-dirty --f

[2021-03-29 14:44] #5734 closed, assigned to nobody

[2021-03-29 15:09] hippee-lee commented on #5775
While this is under discussions and vetting, there is a workaround:

[code]
[code]

[2021-03-29 15:53] mcosta74 commented on #5781
you're welcome. unfortunately I was not sure about which text to use
otherwise I would have open a PR

Il giorno lun 29 mar 2021 alle ore 11:38 Ivan Donchev <
***@***.***> ha scritto:

--
Massimo Costa

[2021-03-29 16:35] #5760 closed, assigned to mathisscott

[2021-03-29 16:41] mrmokwa commented on #5777
## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-cr4crd?
Have a datagrid component, with selection and pagination enabled and select any record.

## Expected behavior

Toggle in the footer should be aligned with the pagination information.

![image](https://user-images.githubusercontent.com/12090931/112869911-0d70fc00-9094-11eb-92ff-4f2f092019b5.png)

IMO we should add somet

[2021-03-29 19:54] mathisscott commented on #5760
The content area itself (for modals) is in the tab flow. So that is covered. If someone created a generic overlay, they could do that themselves pretty easily. The content wrapper isn't _removed_ from the tabflow if _cds-first-focus_ is not defined. It also isn't removed from the tab flow if _cds-first-focus_ IS defined. It's just that the first focus element hijacks focus from the contact wrapper

[2021-03-30 01:04] yuxin-ux opened #5786 "[Documentation improvement] Signpost vs. helper message"
This is based on a conversation that happened during a Clarity office hour. The suggestion was to add a comparison between when to signpost vs. helper message.
Colin and I both agree that it can be helpful to the broader audience. Let's add the information to the end of the Usage section in the signpost documentation to provide guidance. See the attached image for details. The figma file can be fo

[2021-03-30 11:40] Jinnie commented on #5777
Note:
[code]
inside _datagrid.clarity.scss should fix it.

Before:
![Screenshot 2021-03-30 at 13 49 58](https://user-images.githubusercontent.com/1798828/112978021-75404900-915f-11eb-89be-5744f324494e.jpg)
After:
![Screenshot 2021-03-30 at 13 49 42](https://user-images.githubusercontent.com/1798828/112978042-7c675700-915f-11eb-82e3-f65b38007f68.jpg)

Can't attend it right now, so adding this as re

[2021-03-30 13:13] drourke2 opened #5787 "Styling issue with clr-control-container within form"
There is a styling issue with controls within a form.  When the control is focused the focus (underline) extends beyond the control to fill the entire width of the form.

Not in focus:

<img width="452" alt="Screen Shot 2021-03-30 at 9 06 21 AM" src="https://user-images.githubusercontent.com/48953195/112993895-af95f000-9137-11eb-83d6-2906aa6834ea.png">

In focus:

<img width="446" alt="Screen Shot

[2021-03-30 20:30] Jinnie opened #5788 "Unable to run "ng add @clr/angular" with npm 7pm"
npm 7 has a breaking change - automatically installs peer dependencies.
We need to add the correct peerDependencies in package.json
The currently released version of @clr/angular has no @clr/icons peerDependency at all. That's why it resolves to undefined thus to 0.0.0

Steps to reproduce the behavior:

1.  Use npm v7 (comes with node v15)
2.  ng new test
3. cd test
4. ng add @clr/angular
5.  See

[2021-03-31 11:53] Jinnie commented on #5787
It's common issue for several different form elements. I think it was already fixed for datalist at least.

[2021-03-31 11:55] Jinnie commented on #5787
I found it:
https://github.com/vmware/clarity/issues/5269
There is an open PR for the above.
Closing this one as duplicate. Thanks for reporting.

[2021-03-31 11:55] #5787 closed, assigned to nobody

[2021-03-31 15:22] #5446 closed, assigned to nobody

[2021-04-01 19:07] #5689 closed, assigned to coryrylan

[2021-04-02 05:24] wendellestradairely opened #5791 "Headers are broken"
In the version 5.0, the header actions are broken. It's just showing a loading indicator and an inverted caret.

![image](https://user-images.githubusercontent.com/50942719/113383399-6bfce980-93b6-11eb-8e82-0f24137bc5cf.png)

Even in the Angular samples in the documentation website are inverted.
![image](https://user-images.githubusercontent.com/50942719/113383481-9c448800-93b6-11eb-8676-e0ca7f9eb

[2021-04-02 17:32] rbirkgit opened #5793 "Flip the toggle so angular dark mode styles use css vars"
Dark mode angular styles are not using css vars. Now with IE no longer supported, we should be able to flip the $clr-use-custom-properties toggle so css vars are created and used.

This will make life using dark mode easier to use, especially for us having custom controls and pages using the variables and trying to conform and align withe clarity colors.

Step 2 would be if dark mode using the sam

[2021-04-04 12:49] ph55 opened #5794 "Weird outline of focused button"
## Describe the bug
Outline of button has weird shape when focused inside button group

## How to reproduce

[code]

![image](https://user-images.githubusercontent.com/1386622/113509121-8375d700-955c-11eb-8791-386ebd368e9a.png)

You can reproduce in official page:
https://clarity.design/angular-components/button-group/

![image](https://user-images.githubusercontent.com/1386622/113509114-778a1500-

[2021-04-04 12:51] ph55 commented on #5788
Should be fixed by https://github.com/vmware/clarity/issues/5762

[2021-04-05 04:10] wghglory opened #5795 "loadingState error when using CdsButton in React with Typescript"
## Describe the bug

I'm using react and typescript. When writing CdsButton, loadingState always raised an error: Type '"loading"' is not assignable to type 'ClrLoadingState | undefined'.

## How to reproduce

[code]

## Versions

**Clarity project:**

- [x] Clarity Core
- [ ] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [x] v5.x

**Framework:**

- [ ] Angular
- [x] React
- [

[2021-04-05 08:13] sis0k0 commented on #5795
@wghglory, thank you for reporting this issue! We'll take a look into it and provide a fix as soon as we can.

[2021-04-05 09:13] wghglory commented on #5795
Thanks so much!

[2021-04-05 10:23] sis0k0 opened #5797 "Progress circle is not displayed when using loading CdsButton in React"
## Describe the bug

When you add a CdsButton in React that has `loadingState` set to `loading`, the progress circle is not displayed. To work around the issue, you have to manually register the progress circle component by importing:

[code]

## How to reproduce

Create a new react app, add Clarity core and add a loading button to the App component:

[code]

## Expected behavior

The progress cir

[2021-04-05 12:16] Jinnie commented on #5788
Yes, thank you, @ph55
That's the fix that was needed.

[2021-04-05 12:16] #5788 closed, assigned to Jinnie

[2021-04-05 15:04] bbogdanov commented on #5794
Hi @ph55,

A community member last week merged a PR to solve this issue. Expect the fix to arrive with the next Clarity release.

I am going to close this issue as a duplicate of #5446

[2021-04-05 15:04] #5794 closed, assigned to bbogdanov

[2021-04-05 17:13] #5797 closed, assigned to nobody

[2021-04-05 23:01] hippee-lee commented on #5791
@wendellestradairely - I tracked down the underlying issue for the caret rotation. Basically the @clr/ui css was preventing the direction functionality built into cds-icon.

As far as the loading indicator - I'm unable to recreate or see that locally or on the docs. That three dot _loading_ indicator means that the Icon was not loaded into the browser. Any more details or a stackblitz recreating i

[2021-04-06 02:23] wendellestradairely commented on #5791
Thanks @hippee-lee. Regarding the icon, I don't have an issue with it anymore. It's because I used cds-icon instead of clr-icon. I haven't migrated to the core icons yet.

[2021-04-06 02:32] wendellestradairely opened #5808 "Stack View: The expand/collapse icon does not rotate anymore"
In V5, when you expand a panel in a stack view component, the expand/collapse icon does not change direction.

![image](https://user-images.githubusercontent.com/50942719/113650753-57c13100-96c3-11eb-8e14-a650111f704b.png)

Stackblitz: [https://stackblitz.com/edit/clarity-light-theme-v5-p5bms5?](url)

[2021-04-06 06:12] FabianUntermoser commented on #5342
Hi, is there a plan on when this will be fixed?

[2021-04-06 14:06] #5791 closed, assigned to hippee-lee

[2021-04-06 15:28] hippee-lee commented on #5342
Hi @FabianUntermoser - I mentioned the DOM structure above but wasn't clear in my explanation, sorry. There is a [workaround](https://stackblitz.com/edit/gh-5342-datagrid-scrolling-issue-report-l1dsps?file=src/app/app.component.html) for the use case presented that uses the exact DOM structure specified in the application layout docs.

I recognize that this isn't ideal but it is a limitation lefto

[2021-04-06 15:28] #5342 closed, assigned to nobody

[2021-04-06 16:32] sis0k0 commented on #5795
@wghglory, we just shipped the fix for this issue 🎉  To get it, update `@cds/core` and `@cds/react` to `5.1.1`.

[2021-04-06 16:32] #5795 closed, assigned to sis0k0

[2021-04-06 19:41] gnomeontherun commented on #5014
We have recently dropped IE11 support as of the end of 2020 for any version of Clarity. In an effort to better manage our backlog, we are closing this issue. If someone has a need to address this bug we can welcome a pull request.

[2021-04-06 19:41] #5014 closed

[2021-04-07 11:05] #5269 closed, assigned to nobody

[2021-04-07 17:30] sis0k0 commented on #5781
@mcosta74, thank you again for reporting this! The fix will go live with the next release of the Clarity website.

[2021-04-07 17:30] #5781 closed, assigned to sis0k0

[2021-04-07 19:50] kavitab1980 opened #5811 "New icon request for project VMware Marketplace"
_Please review our [Contribution guide](https://github.com/vmware/clarity/blob/master/CONTRIBUTING.md) for more details about how to contribute effectively._

## Summary

_Describe the change or feature in detail. Try to answer the following questions._

Need a new icon for VMware Marketplace site
1. Identity
2. Internet of things
3. Artificial Intelligence

- Why should it go in Clarity?
These ar

[2021-04-07 20:29] hippee-lee commented on #5811
Thanks for the contribution offer, I'll discuss with the team and get back to you.

[2021-04-07 23:24] hippee-lee commented on #5786
I'm adding a label to this [blocked by core]. In order to implement this as a demo that readers can interact with the website needs the core component which will work natively in the browser.

[2021-04-07 23:54] hippee-lee commented on #5782
@Jinnie - looking into `clr-option` code and the `option-selection.service.ts` The behavior for the first issue here seems correct. Can you confirm that we do not want to close the option-items list if the user clicks a currently selected option?

@alexpichler99 - I created a simple combobox with validation that works as follows:

1. no error on initialization.
2. select an option and close option

[2021-04-08 14:40] FabianUntermoser commented on #5342
@hippee-lee  Thanks for the elaborate answer.
I would be fine with using a workaround, however I cannot use it as I am using a `<router-outlet></router-outlet>` and have nested navigation inside those routed components.

[code]

As of this comment https://github.com/vmware/clarity/issues/1186#issuecomment-340666223, I could get it working by adding this to my routed component.
[code]
This however

[2021-04-08 16:11] hippee-lee commented on #5342
@FabianUntermoser - I am aware of teams that use components to wrap parts of the DOM and use `<router-outlet>` with nested navigations. There were some similar questions about DOM structure from teams a few years ago but not many since so I assume that teams have figured out the right balance for turning the application layout into components.

I'm really sorry but I don't have an example to copy/

[2021-04-08 16:50] #5808 closed, assigned to nobody

[2021-04-08 19:51] rbirkgit commented on #4993
This is still an issue with v4.0.14

Workaround of putting [clrDgSelectable] as the last parameter does work.

[2021-04-09 16:15] #5777 closed, assigned to nobody

[2021-04-09 17:55] hippee-lee opened #5822 "ClrAccordion panel service has a race condition that prevents opening of other panels when default strategy used"
## Describe the bug
ClrAccordion has a race condition in the panel service.

### Symptom #1
When a consumer wants to set an Accordion open on initilaization and it is **not** using the clrAccordionMultiPanel strategy they should be able to set two way binding on the `clr-accordion-panel` element like so: `[(clrAccordionPanelOpen)]="sections.section1"`. This results in an infinite loop and the pane

[2021-04-11 20:27] ph55 opened #5825 "Modal [clrModalSkipAnimation] type missmatch in docs"
https://clarity.design/angular-components/modal/api/

In docs `[clrModalSkipAnimation]` is `boolean` when in fact it's required to be sent as `string`:
https://github.com/vmware/clarity/blob/e28c89b74aad11aeb861ca5cd4a569d9953e8b96/packages/angular/projects/clr-angular/src/modal/modal.ts#L62

[2021-04-12 07:14] sis0k0 commented on #5825
Thank you for reporting that! We'll fix it with the next release of the Clarity website.

[2021-04-12 07:52] sis0k0 commented on #5793
@rbirkgit, can you please share more about your use case?

[2021-04-12 13:14] sis0k0 commented on #5793
Blocked by https://github.com/vmware/clarity/pull/5765.

[2021-04-12 14:36] d-m-s commented on #5575
not sure if discussion is correct, but please also consider a new icon for auction/hammer: https://github.com/vmware/clarity/discussions/5831
@lil-kim

[2021-04-12 18:03] rbirkgit opened #5832 "Icons in small buttons are too big and misaligned with Clarity v5"
## Describe the bug

I noticed with latest Clarity Angular (compared to v4) the small buttons with images has changed. The images are larger and misaligned. In v4 there was a style for the images in small buttons fixing this, but this style seems gone in v5.

## How to reproduce

A simple small button with an icon. It seems the style for the small icon changed to only support cds-icon:

v4:
.btn-s

[2021-04-12 18:11] rbirkgit opened #5833 "Dark theme variable file has bad syntax in some places causes warning with latest sass compiler"
## Describe the bug

The file _theme.dark.clarity.scss has a couple of typos, missing % in two places. It passed with older sass compilers, but not with later versions (saas 1.32.0+).

These two lines are the problematic ones:
$clr-modal-backdrop-color: hsla(0, 0, 0, 0.85);
$clr-combobox-filter-highlight: hsl(198, 16, 93%);

Should be:
$clr-modal-backdrop-color: hsla(0, 0%, 0%, 0.85);
$clr-combobo

[2021-04-13 08:12] #5825 closed, assigned to sis0k0

[2021-04-13 09:18] #5833 closed, assigned to nobody

[2021-04-13 16:10] rbirkgit opened #5836 "Signpost scss for angular light theme is not using css vars in some places"
## Describe the bug

When the signpost scss got updated to use css vars, there were a few places missed, e.g.:

[code]

## How to reproduce

Using the light theme and overriding the css vars (with dark theme colors for example) the tip of the signposts remain white. This because of some places are still hard coded colors.

## Expected behavior

The tip of signpost to also use css vars

## Versions

[2021-04-13 18:06] rbirkgit opened #5837 "Dark theme angular uses old rem sizes"
## Describe the bug

The dark theme file for angular uses the old style rems, i.e. the numbers directly instead of the rem variables. This causing border sizes that should be 0.6rem be rendered as 0.5rem

## How to reproduce

`$clr-signpost-border-size: 0.5rem;
`

Using above variable gives wrong size.

## Expected behavior

Update theme file to use remvariables to get correct sizes

## Versions

[2021-04-13 18:08] rbirkgit commented on #5793
The main goal is to be able to use only the main light theme and be able to switch to dark mode with only css vars overrides. Same as in Clarity Core. We are very close.

[2021-04-13 19:35] shrutiyer opened #5838 "Resolve deprecation warnings in @clr/ui/src/utils/_theme.dark.clarity.scss"
## Describe the bug

Within `_theme.dark.clarity.scss`, there are multiple deprecation warnings for $saturation: Passing a number without unit % is deprecated.

## How to reproduce

1. Import the `_theme.dark.clarity.scss` into any .scss file
2. Build the project to see the deprecation warnings.
3. See the following errors:

[code]

## Expected behavior

Should not show any deprecation warnings

#

[2021-04-13 20:57] leonardb opened #5839 "Align clarity-ui focus styles"
## Describe the bug

It seems that for certain form elements in Core there is no removal of the browser default for :focus and the elements are having a 1px border applied.

Primary affected components:
checkbox
radio
textarea
range
toggle

Additionally, this behaviour seems to occur not only for form elements but for any element which does not have an override for :focus.

It appears that 'input'

[2021-04-13 22:11] rbirkgit commented on #5838
I just fixed this and checked in to v5 branch. See #5833

[2021-04-13 22:15] rbirkgit commented on #5836
I'm too lazy to open a new bug, but similar issue in the .nav style where it's not using css var:

[code]

[2021-04-13 22:20] rbirkgit opened #5841 "nav style is not using css var"
## Describe the bug

The nav style missed a place to use css vars (for box shadow):

[code]

## How to reproduce

Using the light theme and overriding the css vars (with dark theme colors for example) the undeline of the navbar remains white. This because of hard coded colors.

## Expected behavior

The navbar to use css vars

## Versions

**Clarity project:**

- [ ] Clarity Core
- [x] Clarity Ang

[2021-04-13 22:56] hippee-lee commented on #5822
I didn't get a fix for this yet. It is a lifecycle issue that is caused by the Observable implementation in the model. Not sure if there is a way to address it w/o removing the toggle function from the modal so it can be controlled with the lifecycle instead of reacting to the changes. I tried guarding against first run states and useing an oompa loompa but they caused propagating changes

[2021-04-14 08:35] alexpichler99 commented on #5782
@hippee-lee Thanks for providing the stackblitz. With that I found out that the validation issue was an error on my side.

But I still think that the issue with the combobox staying open should be fixed because it doesn't seem intuitive.

[2021-04-14 08:45] grahamford opened #5843 "Naming of CSS rules in v5 breaks styling of pages created with v4"
## Describe the bug

We're trying to move to version 5 of Clarity but have noticed subtle style changes across our site. It appears that the style rules in V5 use the pseudo selector `:not([cds-text])` on many items, increasing the specificity of the rule. This overrides some of our component styling where we have updating specific styles.

In the stylesheet for an angular component with V4, you c

[2021-04-14 09:43] sis0k0 commented on #5843
@GrahamFord, thank you for reporting this! @mathisscott, this behavior seems to be caused by https://github.com/vmware/clarity/pull/5409. Is this expected?

[2021-04-14 10:07] hofalk opened #5844 "Form alignment broken in cds-modal popup"
## Describe the bug

Using cds form elements inside a cds-modal that is dynamically shown seems to break the column alignment for a horizontal form layout.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-lzkql3?file=src/app/app.component.ts

Steps to reproduce the behavior:

1.  Click on 'show modal'
2.  See vertical misalignment of the form labels and input fields

## Exp

[2021-04-14 12:12] vinayvivekananda opened #5847 "clr-control-error doesn't show error message unless you click some where else on screen for the first time"
## Describe the bug
clr-control-error doesn't show error message unless you click some where else on screen for the first time. From the second time onwards the error displays as soon as value changes.

## How to reproduce

https://stackblitz.com/edit/clarity-v4-light-theme-clr-control-error-bug?file=src%2Fapp%2Fform-demo%2Fform-demo.component.html

Steps to reproduce the behavior:

1.  Go to [htt

[2021-04-14 12:50] wghglory commented on #5795
@sis0k0 Many thanks, I will update to 5.1.1!

[2021-04-14 13:58] #5838 closed, assigned to nobody

[2021-04-14 17:03] mathisscott commented on #5843
The `:not()` rule was necessary to avoid a collision between the existing Clarity UI css (which has margin built in to various HTML tags) and Clarity Core's layout and typography tokens (which do not). We can't remove those because it will cause Core layouts and styles to break. It is a legacy issue driven by a bad decision in the early days of Clarity UI.

If an application's existing overrides o

[2021-04-14 17:03] #5843 closed, assigned to nobody

[2021-04-14 20:05] colinreedmiller opened #5850 "Filedset"
## Summary

Add a fieldset component for organizing forms and improving accessibility

## Use case

Organizing forms by logically grouped sections is best practice and is already done by many products. Having this component creates consistency with design and a11y.

## Design

https://www.figma.com/file/oejFPZmH05Y0A5ycr3zI5q/Forms-fieldset?node-id=2923%3A173

[2021-04-14 23:14] astorije opened #5851 "Inverse button should have bright text/borders on dark theme"
## Summary

- What is the change?

Update the inverse mode of Clarity Core's `cds-button` to keep its dark style in dark theme.

- Why should it go in Clarity?

Because while it's frequent to have elements with dark backgrounds in light modes (e.g. GitHub's top nav is black in light mode), it's usually not common or expected to have elements with light backgrounds in dark modes (e.g. GitHub's top

[2021-04-15 00:18] gnomeontherun commented on #5811
@kavitab1980 could you post in the Clarity slack about this? This is not the correct place for requesting internal icons. I'm going to close this as the wrong place to ask.

[2021-04-15 00:18] #5811 closed, assigned to nobody

[2021-04-15 04:56] sis0k0 commented on #5836
Thanks for reporting this again! The fix will be shipped with the next release of Clarity.

[2021-04-15 04:56] #5836 closed, assigned to sis0k0

[2021-04-15 15:43] #4475 closed

[2021-04-15 19:14] sis0k0 commented on #5851
Thank you for the suggestion! The proposed change seems reasonable to me. @colinreedmiller, what do you think?

[2021-04-15 19:27] sis0k0 commented on #5839
@jeeyun, it seems that Core form components have that behavior built-in. Do you think that's expected or is it something we should fix?

[2021-04-15 19:30] leonardb commented on #5839
I'd expect that the behavior/styling of the core components would match the Angular components, no?

If the plan is to deprecate the Angular components in favor of the Core components should the styling/behavior not remain consistent between the two?

[2021-04-15 20:20] colinreedmiller commented on #5851
Nice callout @astorije - thanks!

We may indeed wish to address this with the inverse button, but we need to be careful about how themes are defined so we don't assume use cases and create the opposite issue elsewhere. I'll take it up in our next theming discussion.

In the meantime - Why use primary-inverse rather than outline?
There is a neutral status that makes it light if you don't want to in

[2021-04-15 20:38] astorije commented on #5851
I completely understand (and appreciate!) this of course :)
In the meantime, I opened a PR at https://github.com/vmware/clarity/pull/5857, in case it helps the discussions with illustrations.

Unfortunately, `neutral` is not a status available for `CdsButton`:

<img width="711" alt="Screen Shot 2021-04-15 at 10 32 32 PM" src="https://user-images.githubusercontent.com/113730/114934790-0c392080-9e43

[2021-04-15 21:11] mathisscott commented on #5851
I would say that the inverse icons and progress circle are wrong here. Inverse is intended to give people a path to put icons/buttons/progress circle on a page when they have a light background in a dark theme or vice versa. So having them dark in a dark theme and light in a light theme is intended.

I think what is missing here is a neutral option (which would indeed by light in a dark theme and

[2021-04-15 21:53] astorije commented on #5851
My argument here is that it is highly uncommon to see a page with a dark mode and an element on the page that has a light background, while the opposite is not uncommon at all.
So I think it would make more sense to have inverse reflect this representation as it would correspond to a more common case, and in the unlikely event someone has a light-background element on a dark theme, they can use de

[2021-04-15 22:05] mathisscott commented on #5851
So, given that `inverse` means the _inverse_ of whatever theme (light vs. dark) you are in... if you had a dark background in dark theme, a `neutral` style works and is what you want.

But if you then use `neutral` in light theme over a dark background (where inverse would be more appropriate), why is that considered a bug? It would seem to me that if you give the button neutral in a dark theme be

[2021-04-15 22:44] astorije commented on #5851
I think I get it: you are saying the `status` attribute would change based on theme: `inverse` in light theme, and `neutral` in dark theme, correct?

If that's the case, then that's even more impractical than overriding a couple design tokens given how dark theme works with Clarity (attribute on `body` + design tokens). By using the very helpful color aliases + the dark theme CSS file, one can acc

[2021-04-15 22:57] mathisscott commented on #5851
That's one way to do it and consistent with how I described it. But I think the larger point is that there is an outlier in the design of the application here. And that needs to be accounted for on the application side.

Depending on how the implementation is approached...

1. Either we use `inverse` so that the button is light against the dark background in light theme (as expected) and we have t

[2021-04-15 23:07] astorije commented on #5851
That part I disagree with. As a user of Clarity Core, they are doing exactly what I would expect for icons and progress circle.
My GitHub example above is another illustration of this, and in my experience most apps, Clarity or not, act like this. So in practice, the `inverse` status will always require customization.

[2021-04-16 08:16] miryalanaga opened #5860 "CSS of Custom Filter is disarranged when optional column is selected in the Datagrid"
Hi Clarity team
Custom Filter CSS is behaving weird when we chose optional columns to display in the datagrid. It works fine if none of the optional columns are chosen to display in the datagrid. When there is an optional column selected and when we click on a filter, respective custom filer is being displayed at the top left corner (Screenshot attached)
can someone point us on the fix if availabl

[2021-04-16 10:58] Sunny2720 opened #5861 "Clarity vertical nav expanded icon misalligned."
## Describe the bug

Vertical nav group (clr-vertical-nav-group) expand icon is misaligned.

## Versions

**Clarity project:**

- [ ] Clarity Core
- [x] Clarity Angular/UI

**Clarity version:**

- [ ] v3.x
- [ ] v4.x
- [x] v5.x

**Framework:**

- [x] Angular
- [ ] React
- [ ] Vue
- [ ] Other:

**Framework version:**
_ie: Angular 11_

**Device:**

- Type: PC
- OS: Windows 10
- Browser: chrome

**Cu

[2021-04-16 13:31] sis0k0 commented on #5860
Hi @nagakalyanm, can you please share a reproduction in Stackblitz using one of Clarity’s templates - https://stackblitz.com/@clr-team?

[2021-04-16 16:00] sis0k0 commented on #5644
The icons in the vertical nav should be fixed with https://github.com/vmware/clarity/pull/5862.
The accordion ones were already fixed with https://github.com/vmware/clarity/pull/5810.

[2021-04-16 16:01] sis0k0 commented on #5861
Closing of duplicate of https://github.com/vmware/clarity/issues/5644. The fix is coming soon :)

[2021-04-16 16:01] #5861 closed, assigned to sis0k0

[2021-04-16 17:02] miryalanaga commented on #5860
Hi @sis0k0 we are good to close the issue. its working fine now

[2021-04-16 17:02] #5860 closed, assigned to nobody

[2021-04-16 20:16] mathisscott commented on #5850
Looks great! Moved this to our internal board. Thanks.

[2021-04-16 20:16] #5850 closed, assigned to nobody

[2021-04-18 18:13] SaiSatwik opened #5867 "Keyboard navigation not working on Clarity dropdown menu"
## Describe the bug
Keyboard navigation with down arrow button is not working on clarity dropdown options when there is a wrapper div around dropdown items.

## How to reproduce

For some reason, I was not able to reproduce this issue on stackblitz. But here is the github repo https://github.com/SaiSatwik/clarity-dropdown for my project. Please clone the repo and do npm install and ng serve to sta

[2021-04-19 12:40] rbirkgit opened #5869 "Cannot use cds-icon with direction inside an angular button with .btn style"
## Describe the bug

I tried updating our dropdown components to use cds-icon but the direction is not working when inside a button. Whatever I use the icon direction is not changed. It seems you cannot use directions when inside a button. If I move the icon outside the button, then the direction works. Using 5.1.1

## How to reproduce

[code]
## Expected behavior

The direction to work

## Versio

[2021-04-19 12:47] mathisscott commented on #5867
@SaiSatwik
This issue is that there is a wrapper div around the dropdown items. If you remove the wrapper div and have the dropdown items as the direct children of the dropdown, this works as expected.

[2021-04-19 12:47] #5867 closed, assigned to nobody

[2021-04-19 13:18] wokis opened #5870 "cds core form alignment broken in clr-modal popup"
## Describe the bug

Using cds form elements inside a  clr-modal seems to break the alignment for a vertical form layout. Letters are cropped.

![image](https://user-images.githubusercontent.com/4148643/115242084-d2f20080-a121-11eb-92e2-10eef88b5618.png)

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-nzwlxs?file=src/app/app.component.html

Steps to reproduce the behavior:

[2021-04-19 14:27] SaiSatwik commented on #5867
hi @mathisscott , even if there is wrapper div around dropdown items it used to work before. If you see this [stackblitz](https://stackblitz.com/edit/clarity-light-theme-playground-ffnof2?file=src%2Fapp%2Fapp.component.html), it is somehow working here.
In my case I want to style the dropdown menu component. Without having wrapper div, I cannot do that right?

[2021-04-19 15:37] mathisscott commented on #5841
I believe a fiix for this was merged with PR #5856

[2021-04-19 15:37] #5841 closed, assigned to sis0k0

[2021-04-19 17:44] #5575 closed, assigned to Shijir

[2021-04-19 17:45] #5517 closed, assigned to Shijir

[2021-04-19 19:57] rbirkgit commented on #5869
Maybe we also need to change the top property to 35% (currently v5 sets it to 45%):
[code]

[2021-04-19 20:01] rbirkgit commented on #5869
The 'flip' property has the same issue and also doesn't work when cds-icon is inside a button.

[2021-04-19 20:58] mathisscott commented on #5870
@wokis
I can't get your stackblitz to run. Any chance you could get it fixed so I can see the issue?

[2021-04-19 21:26] wokis commented on #5870
Think I fixed it now. Can you retry?

[2021-04-19 21:50] mathisscott commented on #5870
It's running now. Thanks! I'll check it out and try to figure out what's happening.

[2021-04-20 04:29] sis0k0 commented on #5837
Fixed with #5855. It will be shipped with the next release.

[2021-04-20 04:29] #5837 closed, assigned to sis0k0

[2021-04-20 04:30] sis0k0 commented on #5832
Fixed with #5835. Will be shipped with the next release.

[2021-04-20 04:30] #5832 closed, assigned to sis0k0

[2021-04-20 08:35] dorthrithil opened #5877 "Datagrid Documentation: Wrong single action example video"
## Describe the bug

The example video for single action shows the single selection.

![Screenshot 2021-04-20 at 10 35 14](https://user-images.githubusercontent.com/3655915/115364904-29178000-a1c4-11eb-96e8-77334feef435.png)

## How to reproduce

https://clarity.design/angular-components/datagrid/#single-action

## Versions

**Clarity project:**

- [x] Clarity Angular/UI

**Clarity version:**

- [

[2021-04-20 10:37] astorije opened #5880 "cds-toggle animate to checked on load"
## Describe the bug

When a `cds-toggle` gets first rendered, if it is `checked`, it will animate from unchecked to checked even if its value has never changed.

For example, this is on the current live version of Core Storybook:

https://user-images.githubusercontent.com/113730/115382305-32f9ad00-a1dd-11eb-8ba0-f63dda880e8f.mov

And this is a real-world example using the latest Clarity Core:

htt

[2021-04-20 12:16] Jinnie commented on #5782
The combobox is a complex component that tries to cover many scenarios at once. This will inevitably lead to not being able to cover each and every one scenario in the most optimal way.
The choice to keep it open comes from the need to be able to select many items subsequently. Especially for an accessibility user, who only uses the keyboard, the inconvenience to have to open the menu again and na

[2021-04-20 12:16] #5782 closed, assigned to nobody

[2021-04-20 12:59] sis0k0 commented on #5644
The fixes will be shipped with the next release.

[2021-04-20 12:59] #5644 closed, assigned to sis0k0

[2021-04-20 13:25] mathisscott opened #5882 "An icon for forking / splitting something would be useful."
An icon for forking / splitting something would be useful.

**Example:**

![Screenshot 2021-04-20 at 15 12 17](https://user-images.githubusercontent.com/3655915/115401609-e1581f00-a1ea-11eb-85f0-ea57cda3ad78.png)

**Usecase:**

 - Version control systems
 - Many other cases where some existing entity is cloned with the purpose to change it (using the clone icon will be confusing as no exact copies

[2021-04-20 13:27] mathisscott opened #5883 "Volume 20 Icons"
Icon proposals:

#5882 : An icon for splitting/forking

[2021-04-20 13:28] mathisscott opened #5884 "5882"

[2021-04-20 13:39] #5884 closed, assigned to nobody

[2021-04-21 13:28] wokis opened #5889 "cds-file input doesn't trigger onChange event when using the X button to clear the input"
## Describe the bug

cds-file input doesn't trigger onChange event when using the X button to clear the input. Additionally configured validators on the input field are also not run.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-kpekkw?file=src/app/app.component.ts

Steps to reproduce the behavior:

1.  Click "Browse" and select some files
2.  The upload button should no

[2021-04-21 14:35] #5693 closed, assigned to Jinnie

[2021-04-21 14:50] Jinnie commented on #5608
With the current component architecture, there are some inner states and events that depend on the collapsing/expanding animations. In the same time we have two animations in this scenario - one for the nav and one for the group. Triggering the nav animation sometimes triggers the group animation.
This scenario - quick subsequent expand/collapse events, in conjunction with the *ifExpanded directiv

[2021-04-21 14:57] Jinnie commented on #5608
My expectation is to have a permanent fix in Clarity Core, where we have a separate motion layer for the animations which would allow much better handling and separation of the component lifecycle from the animations lifecycles.

We also welcome any community research or contribution for the current Angular version, if you feel the workarounds are not enough.

[2021-04-21 16:05] mathisscott commented on #5889
Thanks for filing this issue @wokis . This looks like a bug.

[2021-04-21 16:09] mathisscott opened #5891 "Ability to nest a form field inside the label of a checkbox or radio button"
Results of a conversation on this issue follow below:

Following up a conversation on Slack, I would like to request the ability to design nested controls as such:

<img src=https://user-images.githubusercontent.com/113730/115374203-456fe880-a1d5-11eb-9974-cf2b8f2a1018.png width=355 />

At CloudHealth, we have a lot of form controls following this format, often having to select an option and provi

[2021-04-21 16:45] wokis opened #5892 "cds-file input X button is still clickable when the input field is disabled"
## Describe the bug

cds-file input X button is still clickable when the input field is disabled.

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-3rwexp?file=src%2Fapp%2Fapp.component.html

Steps to reproduce the behavior:

1. Click "Browse" and select some files
2. Click "Disable Input"
3. Click the "X" button to the right of the "Browser" button

## Expected behavior

Wh

[2021-04-21 19:39] mathisscott commented on #5770
I think by "upgrade document" you mean the adoption guide? That's in review now #5821

[2021-04-21 19:39] mathisscott commented on #5770
Happy to hear you were able to get things working again. That doesn't sound like it was a lot of fun.

[2021-04-21 19:39] #5770 closed, assigned to bdryanovski

[2021-04-21 20:04] lil-kim commented on #5883
Adding #5831 to this epic
Icon Request: Auction / Hammer
Example:
![image](https://user-images.githubusercontent.com/23196444/115614058-09568980-a2a2-11eb-9785-4da890d11771.png)

[2021-04-21 20:37] rbirkgit opened #5893 "Icon $clr-xxx variables are not accessible"
## Describe the bug

There is no scss file to import the icon $clr-xxx variables. The dark theme does define and export these, but not for the light theme.

[code]

I can also not find any css vars with these, e.g.
`--clr-icon-color-success`

## How to reproduce

Looking for the file, I cannot find it among the distributed packages (only see it in the source code):
\clarity\packages\icons\src\clr-

[2021-04-22 08:02] bdryanovski commented on #5770
Yap this sounds like a good topic to be included in the Adoption Guide.

[2021-04-22 11:46] Jinnie commented on #5708
Research notes:
1. Trying to set overflow only to X axis won't work, because due to browser implementations of the W3C specs, when one of the axes has overflow different from "visible", the other evaluates to overflow: auto, no matter what is actually written in the CSS. So we can't have hidden on one axis and visible on the other.
2. The line gets line-height: 20px from the `[cds-text*='body']` d

[2021-04-22 12:21] mathisscott commented on #5708
@Jinnie
You should look into disabling the line height erasers when `cds-text` is set to `truncate`

[2021-04-22 14:02] sis0k0 commented on #5847
@tovinayv, sorry for the delayed response. In your Stackblitz example, you're using `select`. Is there a reason why you want to allow users to pick an invalid option in a select box?

[2021-04-22 17:36] mathisscott commented on #5869
@rbirkgit
Thanks for reporting this issue! There is a [PR out for it now](https://github.com/vmware/clarity/pull/5898).

[2021-04-22 17:41] rbirkgit commented on #5869
Great!

[2021-04-22 18:10] mathisscott commented on #5877
@hippee-lee
I suspected that maybe we were pointing to the wrong video in this instance but we are not. The website is pointing to the correct video but the video is wrong. I don't know how these videos were created. I'm happy to pair up with you on it if you want.

[2021-04-22 20:44] ph55 opened #5900 "Neither Stackblitz nor Codesandbox could run clarity angular project"
Both have different errors.

Stackblitz:
https://angular-clr-example.stackblitz.io/btn/borderbug
[code]

Codesandbox:
https://zt4dq.csb.app/btn/borderbug

[code]

Makes really hard to contribute by open the bug with example repo.

Related:
https://github.com/vmware/clarity/pull/5821

[2021-04-22 21:01] ph55 commented on #5900
Basically created the duplicate of https://github.com/vmware/clarity/pull/5821

[2021-04-22 21:02] #5900 closed, assigned to nobody

[2021-04-23 11:19] rbirkgit commented on #5893
I should mention the reason for this request is that right now we had to copy the lines above into our code. We would like to avoid that in case the colors get updated.

[2021-04-25 09:46] vinayvivekananda commented on #5847
@sis0k0,
We have a UX that should display 'Not Available', if there are no possible options. We simple add 'Not Available' as an option and we have custom validator to mark it as invalid.

[2021-04-26 14:14] coryrylan commented on #5891
Here is a rough workaround, you can specify the slot on the input and use margins to align it. Its not a great solution but would work until we make a supported API https://stackblitz.com/edit/typescript-1puhwe?file=index.html

[2021-04-26 14:22] coryrylan commented on #5844
For forms to auto align they must be able to measure the parent container size when the form is created. Rather using `hidden` on the modal try using `*ngIf`

https://stackblitz.com/edit/clarity-light-theme-v5-an4se6?file=src%2Fapp%2Fapp.component.html

[code]

[2021-04-26 16:13] #5869 closed, assigned to mathisscott

[2021-04-27 10:47] vidhibansal opened #5904 "Stack block selection using tab in stack view messes up the UI"
When a clr-stack-block is selected using Tab instead of Enter, the UI gets messed up.
Attaching the screenshot for the same:
![Screenshot 2021-04-26 at 3 38 29 PM](https://user-images.githubusercontent.com/28995296/116229233-e03b6a80-a773-11eb-9b01-2d703b3f7fbc.png)

[2021-04-27 15:19] astorije opened #5907 "The React `CdsModal` wrapper does not close a modal on backdrop overlay click / when hitting `Esc`"
## Describe the bug

The `onCloseChange` event handler on `CdsModal` does not add a listener on the backdrop, so the modal cannot be closed by clicking the backdrop overlay or hitting `Esc` (but clicking the modal `×` button does).

Looking at the Storybook doc, it seems we need to do this manually which React doesn’t play well with, and I couldn’t make it work bug-free.

I believe the React CdsMo

[2021-04-28 09:12] #5708 closed, assigned to Jinnie

[2021-04-28 13:23] #5889 closed, assigned to mathisscott

[2021-04-28 14:13] coryrylan opened #5915 "core: accordion typography override"
## Describe the bug

The Core Accordion is setting its own default font values causing content that is projected to inherit those values. This is causing style issues when projecting certain content that relies on inheriting its typography from the global scope. This can make migrations more difficult from clr-ui to core.

https://github.com/vmware/clarity/blame/next/packages/core/src/accordion/ac

[2021-04-28 14:14] coryrylan commented on #5915
ping @astorije

[2021-04-28 14:47] astorije commented on #5915
Thanks @coryrylan, I'll open a PR shortly!

[2021-04-28 16:23] gnomeontherun opened #5916 "@cds/angular not playing nice with element bindings"
## Describe the bug

The element bindings and attributes are not getting reflected correctly by the @cds/angular wrappers to the core elements.

## How to reproduce

https://stackblitz.com/edit/angular-ivy-d3mqge?file=src%2Fapp%2Fapp.component.html

Steps to reproduce the behavior:

1. Start focus on the first link
2. Hit tab
3. Expect focus to move to second link, because tag is supposed to be `r

[2021-04-28 17:08] #5892 closed, assigned to mathisscott

[2021-04-29 02:12] Dedme opened #5919 "Datagrid slow render on large datasets - reintroduced"
## Describe the bug
A data grid without pagination takes a long time to render for data sets above about 2000 records.
is exponentially (maybe geometrically)  delayed with size.

the block happens when updating from a large size to smaller, or to a large size.
the page also suffers performance constantly when trying to highlight hover row.

this was an issue back in v1.
https://github.com/vmware/c

[2021-04-29 02:24] Dedme commented on #5919
Attached is the profile i got.
looks like the resize function does a lot.

![image](https://user-images.githubusercontent.com/40647185/116494821-d2572800-a8e0-11eb-9854-6b9191d79398.png)

[Profile-20210429T114433.txt](https://github.com/vmware/clarity/files/6395924/Profile-20210429T114433.txt)

[2021-04-29 08:30] dorthrithil opened #5920 "Datagrid detail pane: Empty column is shown if first column is hidden"
## Describe the bug

The first column of the datagrid is shown when the detail view is active. However when the first column is hidden, the datagrid displays an empty column.

![Screenshot 2021-04-29 at 10 24 28](https://user-images.githubusercontent.com/3655915/116522417-79ce5d80-a8d5-11eb-9d17-0d31f50fa830.png)
![Screenshot 2021-04-29 at 10 24 33](https://user-images.githubusercontent.com/365591

[2021-04-29 13:33] gnomeontherun commented on #5920
This is actually a limitation, you should not allow the first column to show/hide. Its mentioned in the docs, maybe not as clear as it should be, but it is a known limitation. https://clarity.design/angular-components/datagrid/#detail-pane

Closing as works as intended, though I understand the confusion. Don't define the first column as hidable is the solution so the grid can properly understand w

[2021-04-29 13:33] #5920 closed, assigned to nobody

[2021-04-29 14:48] mathisscott commented on #5907
@astorije
I'm confused. The stackblitz works for me. As in, if I follow the steps to reproduce the issue, I see no issue. Hitting the escape key or clicking the backdrop. Both close the modal.

[2021-04-29 14:55] ashleyryan commented on #5907
Really? The X is closing it for me, but clicking on the backdrop is not. Neither is hitting escape.

Is this a browser issue? I'm on Chrome 90.

Edit: It's also not working for me in Firefox or Safari...

[2021-04-29 14:59] astorije commented on #5907
@mathisscott, are you trying on https://stackblitz.com/edit/react-ts-bgirwg?file=App.tsx? (and not the other Stackblitz)
I believe @coryrylan confirmed the issue, and it seems no listeners are installed on the overlay at the moment

[2021-04-29 15:32] coryrylan commented on #5907
I don't think its browser specific, it happens to me on Firefox as well as Chrome

[2021-04-29 17:00] mathisscott commented on #5907
Sorry for the confusion. I think I clicked on the wrong link. I can see it in @astorije 's link...

[2021-04-29 19:59] hippee-lee commented on #5919
That makes sense. The resize fn is how the datagrid figures out how wide column widths and cell widths need to be and setting that up for the projected content. The more rows and cells there are the more work it has to do.

I would suggest using pagination at a reasonable page size.

[2021-04-30 09:33] arnifreyrs commented on #5597
This is also a problem in cds/react version 5.0.3. We have a server side rendered app using next js, and we have to dynamically load all CDS-icons in the browser, because otherwise the SSR fails with the aforementioned error from `lit-html`

[2021-04-30 14:39] #5880 closed, assigned to mathisscott

[2021-05-05 02:14] Dedme commented on #5919
it would be great if that could be avoided in pace of a standard flex grow or something? - have a dynamic width flag that can be disabled?

there is a real gap in not having performant large lists - ie with virtual scroll.

[2021-05-05 09:47] hofalk commented on #5844
Ah, ok I see, that does fix the alignment issue. Thanks!

Unfortunately it only seems to cover part of the problem in cds-modals.

As soon as I add separate sections like cds-modal-content the form alignment does not work as expected anymore.
E.g. vertical Forms do not stretch to the width of the modal (even though the cds-modal-content element does)
Modified example: https://stackblitz.com/edit/c

[2021-05-05 11:36] sachinkkarande opened #5924 "Accessibility issue: "clr-dg-action-overflow" open context menu on "Tab" key. It should open context menu on "Enter" key"
## Describe the bug
Accessibility issue: "clr-dg-action-overflow" open context menu on "Tab" key. It should open context menu on "Enter" key

## How to reproduce

Use "Tab" key to navigate through the grid. "Tab" key on the 1st row 1st column opens context menu. (Context menu should open on "Enter" key and not on "Tab" key).
Observe that user is not able to move to 2nd row by using only the keyboa

[2021-05-05 13:50] coryrylan commented on #5844
This is due to the form element not spanning the container and constraining the form group. Try adding this to the form
`<form style="width: 100%;">`

[2021-05-05 14:20] real-artswan opened #5925 "Is it possible to prevent closing of ClrAccordionPanel?"
I need to don't allow users to close panel until some conditions are not met.

Here is a sample:
https://stackblitz.com/edit/clarity-light-theme-v5-1cypdf?devtoolsheight=33&file=src/app/app.component.ts

Steps to reproduce the behavior:

1.  Open "Panel 2"
2.  Close it
3.  You can see in console that component reads `clrAccordionPanelOpen` property 4 times and it is always true but panel is closed

[2021-05-05 14:36] coryrylan commented on #5839
This styling is due to Clarity UI applying a custom CSS box shadow when elements are focused. The Core components default to the native browser focus style as it can [provide better a11y](https://coryrylan.com/blog/dont-override-css-outline-focus-styles). The native focus auto adjusts the color based on the background contrast levels. I am adjusting this issue to determine how we would like to ali

[2021-05-05 15:00] sachinkkarande opened #5926 "Accessibility: Datagrid on the dialog - context menu pressing TAB key focus goes out side instead of cycle in the menu list."
## Describe the bug

Datagrid Context/Action menu : Pressing TAB key behaves differently when grid is on dialog and when grid is on application (i.e. not on dialog)

1. When Datagrid is on dialog, TAB key press on the context menu takes focus out of the dialog (Accesibility says focus should remain inside dialog).
2. When Same datagrid is on the application (i.e. not on the dialog), TAB key press

[2021-05-05 16:52] hippee-lee commented on #5919
Virtual scroll is something that we have investigated, tried and revisited multiple times since 2017. The biggest hurdle was, and still is, **how can it be made it accessible**? Internally at VMware, besides our efforts on the Clarity side, several product teams have invested in research and prototyping ideas to make it accessible to the current WCAG standards. None of those efforts has found a so

[2021-05-05 17:50] wokis opened #5927 "Recursive lazy-loaded TreeView clrExpandable causes an EHCAIWC error"
## Describe the bug

When opening an expandable node in a recursive lazy-loaded TreeView an error is thrown and logged in the console:
`Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'ngIf: true'. Current value: 'ngIf: false'.`

## How to reproduce

1. Go to https://stackblitz.com/edit/clarity-light-theme-v5-py3ndx?file=src%2Fapp%2F

[2021-05-05 20:44] jeeyun commented on #5924
Hello,
Thank you for filing an issue. It looks like something is wrong in your stackblitz set up as I'm not seeing the overflow button render correctly.

In addition, in order for your datagrid row to have access to the data object you should use `[clrDgItem]` in your datagrid as shown in this example: https://v4.clarity.design/documentation/datagrid/single-action

That being said the version you

[2021-05-05 20:44] #5924 closed, assigned to jeeyun

[2021-05-05 22:04] jeeyun commented on #5925
Hi @real-artswan,
Unfortunately there isn't an easy way to prevent the user from closing the panel. You can separate out the two-way binding to call a function when the open state has changed, however this does not prevent the boolean value from changing (it only allows you to perform some additional functionality when the state has changed):
https://stackblitz.com/edit/clarity-accordion-1?file=ap

[2021-05-05 22:04] #5925 closed, assigned to jeeyun

[2021-05-06 10:05] hofalk commented on #5844
Alright, that did it. Thanks a lot for your help @coryrylan.

Still wondering: from what I could gather from the documentation (e.g. https://clarity.design/storybook/core/?path=/story/components-modal--page#scrolling-modal-content) it seems like the "hidden" attribute should be used for most cases when showing the modal.

It also has the show/hide animation associated with it, which is quite nice

[2021-05-06 13:43] coryrylan opened #5930 "core: form layout support auto layout with dynamic CSS visibility"
## Describe the bug

Form label auto alignment can break in form groups if the form is dynamically hidden/shown in cetain situations. The form needs to determine if it has become visible to do the layout calculations. If dynamically adding/removing from the DOM it can do this easily in the lifecycle hooks. However if shown or hidden via CSS it may skip the calculation causing labels to be misalign

[2021-05-06 13:44] coryrylan commented on #5844
I think I can find a way to get the form auto label alignments to work with hidden/modal better. Likely we could use something like the Intersection Observer API to do this. I opened a new issue to investigate improving this so you will be able to use hidden. https://github.com/vmware/clarity/issues/5930

[2021-05-06 13:44] coryrylan commented on #5844
Closing as has workaround and needed fix described in https://github.com/vmware/clarity/issues/5930

[2021-05-06 13:44] #5844 closed, assigned to nobody

[2021-05-06 18:58] ashleyryan opened #5931 "core: cds-form-group shouldn't set label width in vertical layouts"
## Describe the bug

Input labels in cds-form-group have a min width set, even when using a vertical layout with labels on top of inputs.

## How to reproduce

cds-form-group calculates the largest label and sets all labels in the group to be the same width. This is expected behavior in a horizontal layout, but shouldn't happen when the layout is set to vertical and the labels are above the input.

[2021-05-06 21:03] gnomeontherun commented on #5071
I cannot reproduce this issue in current versions of Firefox, closing as fixed in the browser.

[2021-05-06 21:03] #5071 closed

[2021-05-06 21:07] gnomeontherun commented on #5904
Hello, for us to be able to review this issue we need an isolated reproduction of this issue to triage. Please provide a working [Stackblitz demo](https://stackblitz.com/@clr-team) that has the minimal elements needed to reproduce this issue.

[2021-05-06 21:10] gnomeontherun commented on #5919
The long term solution for this will be to leverage the Clarity Core implementation of the Datagrid when it is released. That is still a few months away, but it will allow applications to implement different behaviors without the concerns of internal logic (like resize) which are needed to make our Clarity Angular Datagrid function. As @hippee-lee says, pagination is the proper approach that Clari

[2021-05-06 21:10] #5919 closed, assigned to nobody

[2021-05-06 21:12] gnomeontherun commented on #5926
Having our accessibility team review this, but if we are tracking it internally then this is likely a duplicate.

[2021-05-06 21:27] gnomeontherun commented on #5667
Shipped!

[2021-05-06 21:27] #5667 closed, assigned to sis0k0

[2021-05-06 22:47] gnomeontherun commented on #2268
Shipped in 5.2.0

[2021-05-06 22:47] #2268 closed

[2021-05-06 22:48] gnomeontherun commented on #1955
This is a worthwhile enhancement request, but is challenging to implement due to the existing behaviors and nature of Clarity Angular. As we build out Clarity Core, this should be possible to realize with the applications managing the state and functionality more directly instead of Clarity Angular.

In an effort to clean up our backlog and focus our attention, I’m going to close this as likely to

[2021-05-06 22:48] #1955 closed

[2021-05-06 23:20] mcosta74 commented on #2268
Great, thanks folks

[2021-05-07 12:46] rbirkgit opened #5933 "Datagrid paging icons misaligned"
## Describe the bug

It seems the datagrid paging icons got misaligned when they got converted to cds-icons.

## How to reproduce

Datagrid with pager. Here is a pic from 4.x and 5.x. I added a red line to the lowest icon to make it more clear. The icons also moved left/right a pixel but is not as visible.

![image](https://user-images.githubusercontent.com/6342391/117451511-9ccdc280-af10-11eb-953

[2021-05-11 05:10] #5933 closed, assigned to bbogdanov

[2021-05-11 14:57] bbogdanov commented on #5927
Hi @wokis,

The stackblitz gives a great example how to reproduce the issue. We need some time to investigate what is still causing the issue and we will get back to you as soon as we have something to share.

[2021-05-11 19:20] gnomeontherun commented on #5767
This issue does not have a reproduction and we are going to close it as stale. If the issue persists, please provide a working reproduction and we can reopen the issue.

[2021-05-11 19:20] #5767 closed, assigned to nobody

[2021-05-11 19:21] gnomeontherun commented on #5749
This issue does not have a reproduction and we are going to close it as stale. If the issue persists, please provide a working [Stackblitz demo](https://stackblitz.com/@clr-team) and we can reopen to review.

[2021-05-11 19:21] #5749 closed, assigned to nobody

[2021-05-12 22:43] coryrylan opened #5941 "clr-angular dropdown cds-icon styles"
## Describe the bug
The clr-dropdown example on the website shows an example with a button containing a cds-icon and a icon shape of angle. However the prior versions also supported the alias `caret`. If users use the alias rather than angle the styles of the icon are not correct. The icon is larger and not aligned to the right like it should when using shape angle.

Current v5:
<img width="743" a

[2021-05-12 22:58] elesueur commented on #5941
@coryrylan should it also include `clr-icon[shape^='caret']` for backward compatibility?

[2021-05-13 15:10] astorije commented on #5907
Hi everyone! Just following-up on this, is this still on your radar? Anything we can help with?

[2021-05-13 15:24] coryrylan commented on #5907
@astorije on our radar, once Shape is over our bandwidth should open back up a bit 👍  We will be updating the react wrapper to the new version from the https://lit.dev project. Ours is an early fork of that version so the update may solve this as well.

[2021-05-13 15:33] astorije commented on #5907
Oh that's great, thanks!

[2021-05-13 19:37] ccjasonlin opened #5947 "Clarity 4 - Angular 12 Production Build failure when clarity css files are included"
## Describe the bug
Angular 12 production build doesn't work with Clarity v4.0 when css files are included

## How to reproduce

- Tested with Angular v12.0.0. Make sure you Angular cli is 12.0
- ng new application
- add following to package.json
    "@clr/icons": "^4.0.15",
    "@clr/ui": "^4.0.15",
- add following to angular.json
            "styles": [
              "node_modules/@clr/icons/clr

[2021-05-14 09:55] Jinnie commented on #5947
Clarity 4 is built to be used with Angular 10.
Using Clarity 4 with newer Angular versions is out of our support matrix.
We yet have to release a version that will be tested and supported with Angular 12.

[2021-05-14 09:55] #5947 closed, assigned to nobody

[2021-05-14 11:47] sis0k0 commented on #5941
Fixed with #5946. Will be released in the next patch version of Clarity.

[2021-05-14 11:47] #5941 closed, assigned to sis0k0

[2021-05-17 14:04] Jinnie commented on #5891
Do we have any A11Y feedback on this pattern?

[2021-05-17 14:07] Jinnie commented on #5904
Also, please tell us which version of Clarity are you using.
I'm almost sure we had a fix for this some time ago.

[2021-05-17 14:08] tarangkhandelwal opened #5956 "Icon shape 'map' doesn't have badge version"
## Describe the bug
The icon of the shape 'map' does not have a variant with a badge. We are looking to use this icon for product/feature guided tours and the version with badge will be useful to mark any new changes to the tour or unseen steps in the tour.

## How to reproduce
Not required as this is a request for support of badge behavior in the existing Clarity icon.

## Expected behavior
Icon

[2021-05-17 16:23] mathisscott commented on #5956
@lil-kim
Would this be something we could add to the map icon?

[2021-05-18 10:35] pniv opened #5957 "Regression: clrAccordionPanelOpenChange emits only when the panel is expanded"
## Describe the bug

There is a regression in Accordion/Stepper component. `clrAccordionPanelOpenChange` event emits only when a panel is expanded.

## How to reproduce

The bug is 100% reproducible on ClrStepper and ClrAccordion. `ClrAccordionPanel.panelOpenChange` does not emit when the panel is collapsed.

## Expected behavior

`clrAccordionPanelOpenChange` should emit `true` when a panel is ex

[2021-05-18 12:00] bdryanovski commented on #5957
@pniv thanks for reporting this. I gonna need some time to check this out.

[2021-05-18 15:18] Jinnie commented on #5904
Yes, this must have been fixed with this commit:
https://github.com/vmware/clarity/commit/ee73df36e5ed356d7f9236042d61ecbd4d44af31
Please open a new issue with more details if you're using an up to date version of Clarity and still observing the problem.

[2021-05-18 15:18] #5904 closed, assigned to nobody

[2021-05-18 22:41] lil-kim commented on #5956
Hi @mathisscott
Here are the variants for the Map icon:
[Map icon variants.zip](https://github.com/vmware/clarity/files/6504783/Map.icon.variants.zip)

[2021-05-18 23:08] lil-kim opened #5959 "Clarity Icon variants (alerts & badges) are downloading the regular icon"
## When you select a variant to download, it downloads the regular icon instead

## Steps to recreate
Select any type of badge in the "badge" dropdown. Select any badged icon for download.
![image](https://user-images.githubusercontent.com/23196444/118733939-270c0580-b7f2-11eb-93ab-98f54a7b1efc.png)

## Expected behavior

It should download the icon you selected. Shijir says it used to work with c

[2021-05-19 13:30] wittm opened #5963 "Combobox width"
## Describe the bug

The width for the combobox cannot be changed

## How to reproduce
https://stackblitz.com/edit/clarity-v4-dark-theme-1rufu3

Steps to reproduce the behavior:

1.  Place a combobox within the header-nav area
2.  attempt to set it's width through any of the following means
3. 'width' attribute on the combobox selector
4. width style via css on the clr-combobox-input class
3.  the

[2021-05-19 15:05] mathisscott commented on #5956
@lil-kim
Map apparently has a solid variant. Can we get badges/alerts for the solid version as well?

[2021-05-19 16:21] #5775 closed, assigned to nobody

[2021-05-19 16:27] lil-kim commented on #5956
@mathisscott
Oops! Thanks for catching that. Here it is:
[map-solid variants.zip](https://github.com/vmware/clarity/files/6510342/map-solid.variants.zip)

[2021-05-19 16:40] lil-kim commented on #5959
*Addendum: The solid variants, with and without alerts/badges, also have this issue. So to summarize, ALL variants are downloading the plain outline version.

[2021-05-19 17:50] #5927 closed, assigned to bbogdanov

[2021-05-19 19:58] coryrylan commented on #5963
The width can be changed. The issue is the custom styles that were applied existed in the app component. Those styles are encapsulated and only apply to the app component template. Move the styles to the global style sheet or disable the component style encapsulation https://stackblitz.com/edit/clarity-v4-dark-theme-t1ixdt?file=src%2Fstyles.css

[2021-05-19 19:59] #5963 closed, assigned to nobody

[2021-05-19 20:56] #5956 closed, assigned to mathisscott

[2021-05-20 04:03] wghglory opened #5965 "Disabled Button should remain disabled regardless of loadingState"
## Describe the bug

A disabled Button becomes enabled after loadingState gets updated to default. However, the button should remain to be disabled when `disabled="true"` regardless of loadingState.

## How to reproduce

Steps to reproduce the behavior:

[code]

When loadingState changed from 'loading' to 'default', the disabled attribute wouldn't affect any more.

I checked the source code at `pa

[2021-05-20 08:03] twittwer opened #5967 "Bug: Loading Button Sizing Problems"
## Describe the bug

When using a clarity button with `[clrLoading]` the initial width is not wide enough.

![image](https://user-images.githubusercontent.com/8677948/118937576-f80aa680-b94d-11eb-8527-8f3b27cfc4a1.png)

After it stops loading it adjusts to the correct size.
But if it starts loading again the spinner icon contains an unexpected ellipsis.

![image](https://user-images.githubusercont

[2021-05-20 10:14] dorthrithil opened #5969 "Angle icon alias "caret" doesn't work"
## Describe the bug

Displaying the angle icon via the `caret` alias doesn't work. I assume I imported everything correctly because the `angle` shape is working.

![Screenshot 2021-05-20 at 12 13 31](https://user-images.githubusercontent.com/3655915/118961645-d1a43580-b964-11eb-8d21-08591e0b6a79.png)

## How to reproduce

https://stackblitz.com/edit/clarity-light-theme-v5-vlhlht?file=src/app/app.m

[2021-05-20 14:36] coryrylan commented on #5931
Adding a note to extend a closely related issue. The label width is no longer controllable via a CSS prop to enforce specific label text wrapping. Fixing both with the same solution.

[2021-05-20 15:08] BoykoAlex commented on #5947
It is the same with Clarity 5.2.0 - same issue for me with Angular 12. There is something in clarity UI CSS files that angular build doesn't like

[2021-05-20 15:29] BoykoAlex commented on #5947
I have commented out all styles attributes with value `url(...)` in **clr-ui-dark.css** (dark theme only in our app) under node_modules/@clr/ui, switched to this CSS file rather than minified ran the app with `npm start` (not to nuke stuff under node_modules) and it went through so i suspect something angular 12 doesn't like in clarity CSS... maybe too pedantic checking the format of inlined SVG..

[2021-05-20 18:50] ph55 opened #5973 "Server driven datagrid. Selected rows not preserved during pagination."
When page changes selected rows loose their checked state. Selected rows' count persists though.

1. Select rows:
![image](https://user-images.githubusercontent.com/1386622/119032664-1c4d9e00-b9b5-11eb-8f28-3c1fe3ae6f06.png)

2. Change page:
![image](https://user-images.githubusercontent.com/1386622/119032676-21aae880-b9b5-11eb-8184-e0832d321411.png)

3. Back to original page:
![image](https://use

[2021-05-20 18:55] ph55 commented on #5973
I'm retarded. Fixed by `trackBy`

[2021-05-20 18:55] #5973 closed, assigned to nobody

[2021-05-20 21:09] gnomeontherun commented on #5969
We don't automatically add the aliases with Clarity Core, so you would have to define it as an alias. You can see more about this here: https://medium.com/claritydesignsystem/goodbye-clarity-icons-hello-clarity-core-adb07de9739e. Too many aliases can limit adding new icons and we've decided there isn't real value to multiple names for the same thing.

[2021-05-21 00:15] thmueller1 commented on #5947
Using Base64 will solve this

[2021-05-21 07:18] dorthrithil commented on #5969
Makes sense for most cases, but in this specific case I would expect the alias to be automatically available as `caret` is the cds icon shape that is used in various examples throughput the docs (e.g. dropdown). Also you're targeting specific CSS rules to this shape name (see https://github.com/vmware/clarity/issues/5941). Having to add a custom alias to make the examples work is quite unexpected.

[2021-05-21 07:21] dorthrithil commented on #5969
Ah, I just read in the exact same issue that I referenced, that you're planning to switch to `angle` everywhere.

So then this issue wouldn't be an issue anymore. I guess this can be closed then.

[2021-05-21 07:21] #5969 closed, assigned to nobody

[2021-05-21 07:32] cloud9amit opened #5980 "Grid with pagination disappears on click of header sorting or using filter."
Steps :

have a grip with at-least 2 pages.
Click on header column sorting 2-3 times and then click next page and grid data dissappears.

this issue is already discussed here: https://github.com/vmware/clarity/issues/4752#issuecomment-673525158

We are specifically using version 2.4.6 and angular version 8.1.0 and it's not possible at this moment to upgrade to a new version. Please suggest if ther

[2021-05-21 08:54] pniv opened #5981 "Regression: ClrStepperPanel and ClrAccordionPanel do not change the caret icon when expanded"
## Describe the bug

In previous releases (before v5) the accordion and stepper panel changed their caret icon depending on the expanded state of the panel. This can be seen in the official Clarity Design page:

https://clarity.design/angular-components/stepper/
https://clarity.design/images/angular-components/stepper/stepper-style.png

## How to reproduce

Run the sample code from https://clarity