[2017-10-04 20:10] mathisscott commented on #1547
@youdz and @reddolan

[2017-10-04 20:14] jayrungta commented on #1512
@mathisscott My guess is that this has something to do with the scroll bar and how a padding is added to the header row whenever there is a scroll bar (even though this is happening for me even when there is no scroll bar).

Hope you get to triage this soon, as this is a very glaring issue in my project.

[2017-10-04 20:22] jayrungta commented on #1512
@mathisscott  OK my guess was right, I used the Chrome Dev Tools to check for the padding on the Clarity Datagrid page:

Initially:
![11](https://user-images.githubusercontent.com/16365416/31197725-fa5bed0a-a91f-11e7-9689-929153960a17.PNG)

After changing the page:
![22](https://user-images.githubusercontent.com/16365416/31197729-fdda534a-a91f-11e7-8a18-07b381add83d.png)

A padding of 16px is bein

[2017-10-04 20:44] adityarb88 commented on #1512
Was just looking into this issue and I found that whenever a page is changed, the scrollbar appears for a moment and then disappears again:

![image](https://user-images.githubusercontent.com/1426805/31198712-367af9e0-a923-11e7-9247-b36544f75e8e.png)

The scrollbar width is calculated when the scrollbar is visible and then added the to datagrid header.

[2017-10-04 20:54] adityarb88 commented on #1512
The scrollbar is visible for a small amount of time because the items on the page contain more elements than the page size (The previous page's elements remain):

![image](https://user-images.githubusercontent.com/1426805/31199223-b2f637ea-a924-11e7-9eee-aa3b94598548.png)

In the image above instead of 10 items there are 20.

[2017-10-04 21:19] MrfksIv commented on #1538
I just switched to another clarity version and everything now works fine. The problem appeared right after I updated angular-cli to 1.4.4 for some reason. Anyway, I am closing this as it is no longer an issue.

[2017-10-04 21:19] #1538 closed

[2017-10-05 03:09] brinton-chand commented on #1545
Just my two cents, but possibly a duplicate of #1450?

[2017-10-05 07:20] tishun commented on #1545
My bad, here is another try
![New Screenshot](http://i66.tinypic.com/1ftfdh.jpg)

[2017-10-05 08:13] tishun commented on #1545
@brinton-chand yep, same issue, thanks for catching this!

@adityarb88 I realize this is used for keyboard navigation, however it still looks far than perfect.

The [Materialize CSS tabs](http://materializecss.com/tabs.html) are probably the best example I can give. They handle mouse clicks without leaving any residual focus state and in the same time pressing tab shows the selector in a very visi

[2017-10-05 08:31] windischb opened #1548 "Generating A Tree Dynamically"
[code]

### Expected behavior
I need to implement a dynamically generated Tree View with different levels of depth.

### Actual behavior
With the example, its only possible to create Trees with one level of depth.
Or do i have a failure on my side??

### Reproduction of behavior
https://plnkr.co/edit/WyWCyCvZ5HsjG7RsEjfF?p=preview

[2017-10-05 13:11] adityarb88 commented on #1545
@tishun: Thanks for the feedback. I can take our UX team on this and see what they say.
cc: @reddolan

[2017-10-05 13:24] adityarb88 commented on #1548
@windischb: Please take a look at this Plnkr https://plnkr.co/edit/YFYa0f?p=preview to see how to generate a tree with unknown depth. Closing the issue based on this. Please feel free to reopen the issue if you have any more questions.

[2017-10-05 13:27] #1548 closed

[2017-10-05 13:27] jayrungta commented on #1512
Wow that's a really good catch. Is this due to the Angular change detector, or something to do with Clarity?

[2017-10-05 14:52] jacobbutton commented on #1547
Are you asking if this is possible or are you asking for there to be a demo of it in the documentation?

You can add custom components as the detail row of your master grid.  I haven't done it, but I'd image you can add a child data-grid for orders inside that custom component.

https://vmware.github.io/clarity/documentation/datagrid/expandable-rows

<clr-dg-row *ngFor="let user of users">
    <--

[2017-10-05 16:29] reddolan commented on #1494
@superpck this seems very confusing to the user. I am worried that they would think there is a bug seeing the 2nd level tabs and think they are the 1st level tabs wrapped to another line. There isn't enough visual differentiation to tell them apart. Is there a reason why you aren't using other navigation controls to build your content hierarchy?

[2017-10-05 16:32] pantonis commented on #1547
Hi,

Thanks for your reply. I am asking both. :)
It would be good to have an example since master/detail is mostly used  for this purpose.
Also since I have a lot of clients( about 1000) with their orders do you think this will affect performance if the data update every second?

Thanks

[2017-10-05 17:36] sammydc commented on #112
I upvote.  I need this for my project as well.  While configuring a number of knobs for an engineering test submission form, it would be nice to have a set of sliders that I can easily move with visual cues.

[2017-10-05 18:09] jacobbutton commented on #1547
Details Row supports Lazy Loading on expansion so if you take that path it shouldn't impact your performance.  How to achieve this is detailed at the bottom of the Expandable Rows documentation at the above link.

[2017-10-05 22:14] #1436 closed

[2017-10-06 05:45] coldhamix commented on #1268
@mathisscott @adityarb88 did that land into 0.10.8?

[2017-10-06 07:52] halachliyskid opened #1550 "Disabling checkboxes on datagrid rows"
[x] bug
[ ] feature request
[ ] enhancement

I have a datagrid with checkboxes, but some of them are disabled for a reason (lack of permissions, object state or something else).

### Expected behavior
If I click on the "Select All" checkbox in the title, all rows EXCEPT the disabled ones are selected.

### Actual behavior
If I click on the "Select All" checkbox in the title, all rows INCLUDING the

[2017-10-06 10:34] vishwapratapsingh opened #1551 ""[clrWizardButtonDisabled]=true" is not working for clarity wizard buttons"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Clarity Wizard button should be disabled when "[clrWizardButtonDisabled]=true" is added to it for below provided code:

<clr-wizard-button [type]="'finish'" (click)="save()" [clrWizardButtonDisabled]="disableSubmitBtn">Submit</clr-wizard-button>

### Actual behavior

The disabled class is added to clr-wizard-button tag of the

[2017-10-06 13:08] mathisscott commented on #1551
Thanks, @vishwapratapsingh

I've verified that the `disabled` attribute is not being set. I'll mark this as a bug.

[2017-10-06 13:21] adityarb88 commented on #1268
@coldhamix This is going in 0.10.9 which is next week. Will be merged into master this week.

[2017-10-06 13:28] mathisscott commented on #1550
@gnomeontherun
Can we validate that this is the case? If so, let's move this into the backlog as a bug. If not, then can we ask for a plunkr?

[2017-10-06 13:30] vishwapratapsingh commented on #1551
Thanks, @mathisscott

[2017-10-06 13:45] marvinosswald opened #1552 "[NG] No provider for VerticalNavIconService"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

`VerticalNavIconService` should be provided by `ClarityModule` if needed while i don't understand why a internal Service is needed by Karma anyway.

### Actual behavior

Jasmine throws: `No provider for VerticalNavIconService!`
[code]

Before restructuring to webpack i could just provide the service from `node_modules`, but no

[2017-10-06 13:47] adityarb88 commented on #1552
@marvinosswald: I don't believe thats the `VerticalNavIconService` should be exported with the `ClarityModule`. Its an internal service used by the Vertical Nav. Why do you need access to that?

[2017-10-06 13:48] adityarb88 commented on #1552
cc: @hippee-lee @jeeyun

[2017-10-06 14:32] goodmorninggoaway opened #1553 "Add clarity-icons/clarity-icons-api.js to build output"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Include clarity-icons/clarity-icons-api.js in build output

### Actual behavior
clarity-icons/clarity-icons-api.js removed from build output in 0.10.8

### Reproduction of behavior
Not possible

### Environment details
Node 8.5
npm 5.4.2

[2017-10-06 14:35] mathisscott commented on #1553
Hi @goodmorninggoaway

Thanks for pointing this out. We'll have someone look at this ASAP.

[2017-10-06 14:37] goodmorninggoaway commented on #1553
I'm preparing a PR

[2017-10-06 15:46] zeratulmdq opened #1555 "Tooltip on header-actions breaks layout"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The icon should stay in place and a tooltip should appear in the right position once you hover it.

### Actual behavior
If you use a tooltip wrapping an icon inside `header-actions` the icon is mispositioned and once you hover it, it "jumps" to the right place. The tooltip position is always relative to the original icon and no

[2017-10-06 15:51] adityarb88 commented on #1555
@zeratulmdq: Please note that there can only be one `.header-actions` section in the header. Also since the icon is nested in the `tooltip`, you need to add the `.nav-icon` class on the `tooltip`. Please see this: https://plnkr.co/edit/Ec4JTkyb4o0YwH7wE4t7?p=preview

Closing based on this. Please feel free to reopen the issue if you any additional questions.

[2017-10-06 15:51] #1555 closed

[2017-10-06 15:52] hippee-lee commented on #1552
I'll check with the clarity-seed and see if I can reproduce it there.

[2017-10-06 16:16] zeratulmdq commented on #1555
@adityarb88 thanks for the quick response. The duplication of `header-actions` was a mistake, we just have one on the app. I'll leave this comment here because your suggestion fixes the problem for 0.10.7 but 0.9.14 still does the same (in case someone else has this issue). It's slightly better, but still mispositioned and jumping.

[2017-10-06 16:37] hippee-lee commented on #1552
Hi @marvinosswald
I tried to recreate the testing issue with [Clarity Seed](https://github.com/vmware/clarity-seed). Here are the steps I took:z

1. I updated and installed Clarity v0.10.8
2. Added a simple Vertical Nav component to the app
3. Ran the project tests

This did  not reproduce the error. Is this project's test setup similar to your karma.conf.js?
Is there anything else you can tell me

[2017-10-06 21:31] yaooluu opened #1557 "FormGroup inside Modal got rendered before Modal is open"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
We have a very common scenario of using FormGroup inside Modal. We use "[(clrModalOpen)]" two way binding to control the visibility of modal. We initialize the FormGroup only before we open the modal, not during ngOnInit().

According from the code below, I'm expecting "clrModalOpen" to be the "Clarity" way of using *ngIf on a

[2017-10-06 22:34] hippee-lee opened #1558 "Update Copyright dates"
Update the copyright dates in the project files.
Unless there are objections I would like to handle this close to the beginning of 2018, early January.
The main thing to unify is the files with incorrect dates. There are some that only have `2016` and update the rest to reflect `2016-2018`

[2017-10-07 01:38] jbgarr opened #1559 "Tooltips [clr-tooltip] get clipped by sidebar/header when contained in a card"
[code]

### Expected behavior
I expect a tooltip to sit on top of any content including the sidebar and header regardless of if it's wrapped by a card parent element.

### Actual behavior
If a tooltip is wrapped by a card, the tooltip overflows the card, but then gets clipped by the sidebar and header (I haven't checked other elements).

### Reproduction of behavior
This can be seen in this plunke

[2017-10-07 11:31] marvinosswald commented on #1552
@adityarb88 me neither but my angular-cli test is asking for it, that it shouldn't ask for it in the first place is absolute true.

[2017-10-07 11:47] marvinosswald commented on #1552
@hippee-lee thing is i didn't use the seed i've used a cli generated project and then installed clarity on top of it. But i've just did that same thing again and now i can't reproduce it in there myself, though the issue still exists on my real project. But until i can't reproduce it myself i will close it here as is obviously has something to do with my project setup.

[2017-10-07 11:47] #1552 closed

[2017-10-08 16:19] WuglyakBolgoink opened #1560 "is it possible to scale custom clarity icons?"
**Select one ...**  (check one with "x")
[code]

Hallo,

is it possible to scale custom clarity icons?

[code]

if I add custom big svg icon I can not use
[code]
in this case I see nothing...

But If I change size manually:
[code]

it is OK :)

example:
size:500

![bildschirmfoto 2017-10-08 um 18 16 43](https://user-images.githubusercontent.com/2271337/31318570-fb8af9b8-ac54-11e7-8b6c-fff5f2e407a5

[2017-10-09 12:04] zsf3 commented on #351
Wanted!

[2017-10-09 12:43] mathisscott commented on #1557
@youdz : Could you advise on whether or not `*ngIf` is the right approach?

[2017-10-09 12:51] mathisscott commented on #1559
@adityarb88
Could you take a look at this? I tried putting a z-index on `.tooltip-content` but that didn't work. @jbgarr appears to be using the angular component so I'm not sure why the subnav and sidebar are clipping off the tooltip.

[2017-10-09 12:52] youdz commented on #1560
You want to use `viewBox` and `preserveAspectRatio` on your SVG to control exactly how it scales with respect to the container.
For instance, Clarity icons SVGs all have `viewBox="0 0 36 36"` and  `preserveAspectRatio="xMidYMid meet"`, but obviously the SVG itself has been written accordingly, taking into account the 36x36 view box.

[2017-10-09 12:54] mathisscott commented on #1560
@youdz answer is the correct one. Let us know if you need further explanation, @WuglyakBolgoink

[2017-10-09 12:54] #1560 closed

[2017-10-09 15:18] youdz commented on #1557
Actually, that `*ngIf` solution is currently the recommended workaround, so feel free to go ahead and use it.

This is a known issue, it was first described in #215, and we planned to work on it as part of #903 (the actual issue is #895 but the description is in the epic). To understand exactly what is happening, I recommend reading https://medium.com/claritydesignsystem/ng-content-the-hidden-docs

[2017-10-09 15:18] #1557 closed

[2017-10-09 16:27] jeeyun commented on #1553
Hi @goodmorninggoaway thanks again for submitting the PR. Since we had a bigger fix we needed to do on our icons package, the fix that would've been in your PR was merged in with #1556. Closing this issue.

[2017-10-09 16:27] #1553 closed

[2017-10-10 03:20] adityarb88 commented on #1559
@jbgarr: Thanks for reporting this issue. We will add it to our queue and get this fixed. But fortunately there is a work around which solves this issue. This is happening because `.card` has a `position: relative` on it. If you override that to `position: static`, the tooltip is not clipped off. You could do that in your stylesheet right now until the fix is released. Please refer to this plnkr:

[2017-10-10 08:14] marcojahn opened #1563 "Missing main.scss in clarity-ui after upgrading to 0.10.8"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
existing ```main.scss``` file in folder ```/node_modules/clarity-ui/src/``` after updating to be able to build a custom version of clarity during angular-cli build.

### Actual behavior
We are importing the main.scss file in our styles.scss to be able to theme/style clarity for our own needs.
After upgrading to 0.10.8 the requi

[2017-10-10 13:34] jacobbutton commented on #474
Any update on development progress on this?

[2017-10-10 13:51] #1268 closed

[2017-10-10 14:25] adityarb88 commented on #1563
@jeeyun: Could you please take a look at this?

[2017-10-10 14:36] adityarb88 commented on #1559
After investigating more, I found that we can't directly remove the `position: relative` from cards as the progress bar positioning in cards depends on that. This issue is now blocked by #1469

[2017-10-10 17:25] jlkoszarek opened #1565 "Documentation Bug."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
VerticalNav documentation is incorrect in the code example for collapse nav. P URL: https://vmware.github.io/clarity/documentation/vertical-nav/collapsible-nav/normal

currently is:
<clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed">
should be:
<clr-vertical-nav [clrVerticalNavCo

[2017-10-10 17:29] adityarb88 commented on #1565
@jlkoszarek: Thanks for reporting this issue. We will get this fixed soon.

[2017-10-10 17:42] mathisscott commented on #474
Hi @jacobbutton
The datepicker is still in development. We've had to address some internationalization and accessibility issues, as well as form factor issues, of late. This is delayed things somewhat but we feel it will result in a stronger component and fewer breaking changes in the future.

[2017-10-10 18:25] Shijir opened #1567 "ClarityIcons size attribute is not controlling the size of non-svg elements"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The non-svg elements inside clr-icons shouldn't exceed the specified size given.

### Actual behavior

If I use a large-size image as a template for an icon, the template elements would not be contained within the boundaries specified in the `clr-icon` size attribute.
https://github.com/vmware/clarity/blob/master/src/clarity-i

[2017-10-10 18:52] dherges opened #1568 "Question: are you using ng-packagr for building your angular lib?"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

[code]

in [package.json](https://github.com/vmware/clarity/blob/master/package.json#L16) on master branch

Are you using ng-packagr for building your angular lib?

### Actual behavior

Are you crazy? 🎃  😂

### Reproduction of behavior

Yeah yeah, see above 🍤

### Environment details

* **Clarity version:** master

[2017-10-10 19:08] hippee-lee commented on #1568
Hi @dherges - Thanks for creating  such a useful tool. Yes, it is being used to build Clarity.
Are you seeing any issues with how its been used in the project?

[2017-10-10 19:24] dherges commented on #1568
No not all. It's good news! :basketball_woman:

I'll have a lightning talk at [angular connect](https://www.angularconnect.com/). Introduction slide is going to be "Let's componentize our brand in Angular!" and from there the motivation to build a component library - may I use clarity as an example for that? Also the clarity logo and/or website on a slide?

[2017-10-10 19:45] mathisscott commented on #1568
@dherges
That would be great, thanks! Let us know if you need a logo or anything.

[2017-10-10 19:45] #1568 closed

[2017-10-10 22:48] reddolan opened #1569 "Update Clarity UI Template"
[code]

### Expected behavior
Have a comprehensive set components and override states

### Updates
- [x] change template to a Library (Sketch 47 update)
- [x] Basic card with a horizontal separator after the title
- [x] Checkbox: disabled unchecked
- [x] Checkbox: disabled checked
- [x] Disabled input field
- [x] Radio buttons: Disabled selected
- [x] Disabled select box
- [x] Radio buttons: Disab

[2017-10-10 22:54] reddolan opened #1570 "Update Design Resources"
[code]

### Expected behavior
Have a new Library version of the Clarity UI Template as well a content that shows the Clarity Sketch Library is available to download.

Will also want to keep the previous version of the UI Template (0.10.0) available for users who have not moved to Sketch 47 yet.

### Actual behavior
Current 0.10.0 version is using Sketch 46 and doesn't have the Libraries ability

#

[2017-10-11 05:16] coldhamix commented on #474
@mathisscott Would it be possible to use this component without inputs and dropdowns, like in calendar mode?

[2017-10-11 08:23] kaleksandrov opened #1571 "Improve "required" validation in order to support "select" elements"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Currently the "required" validation works only on input fields. It would be great if it works on "select" fields as well.

### Actual behavior
If the "required" mechanism is used over "select" fields, the info icon is shown over the dropdown icon.

### Reproduction of behavior
https://embed.plnkr.co/g3WmMI/

### Environment det

[2017-10-11 09:34] ajinkyac opened #1572 "Firefox stalls/unresponsive while server driven clr-datagrid is loading"
[code]

### Expected behavior
The browser should not stall or become unresponsive when clr-datagrid is being loaded for the first time.

### Actual behavior
For the server-driven grid, while loading of the data the grid makes the browser unresponsive or stalls clicking to other elements on the page.

### Reproduction of behavior
Use the clr-datagrid, plug it with a server data fetch method. Once t

[2017-10-11 11:04] b-mi opened #1573 "Header - set as active"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I would like to Header automatically changed 'active' property for clicked link.
Or, how can I programatically change 'active' property?

### Actual behavior
Header link have style class 'active' - this is fixed solution, need change class active after user click on header link.

### Reproduction of behavior
Behavior is visible

[2017-10-11 13:06] mathisscott commented on #1573
Angular allows you to bind to classnames like any other attribute. You can use `[class.active]="blah"` or `[ngClass]="{ active: blah)"` for example.

[You can read more about this in the Angular docs](https://angular.io/guide/template-syntax#binding-targets)

[2017-10-11 13:06] #1573 closed

[2017-10-11 13:08] mathisscott commented on #1572
@youdz
When you get back, this is something we want to look at.

[2017-10-11 13:10] mathisscott commented on #1571
@kaleksandrov
This is a duplicate of the work currently being done on #1118

That work is currently in the design phase. Please subscribe to that issue or one of the issues related to it to track progress.

Thanks.

[2017-10-11 13:10] #1571 closed

[2017-10-11 13:12] mathisscott commented on #474
@coldhamix
Being able to use the calendars on their own Is not something that we have currently scoped for version 1 of the date picker.

What use case are you trying to solve by using the calendars of the date picker in this way?

[2017-10-11 13:37] kaleksandrov commented on #1571
Hi @mathisscott

Thanks for the fast reply! I don't think this is a duplicate as #1118 is related to "optiona" parameters. The current issue is about extending its support to other DOM elements like "select" which currently is not supported.

Do you still think this is a duplicate?

There is no information about the state of this enhancement in #1118 - can you share a little bit more? When could w

[2017-10-11 13:39] coldhamix commented on #474
@mathisscott I just wanted to have something like a calendar widget for dashboard

[2017-10-11 13:40] #476 closed

[2017-10-11 13:55] #1563 closed

[2017-10-11 13:56] gnomeontherun commented on #474
@coldhamix That sounds like a different use case, and you could implement that separately using the design patterns in this ticket.

[2017-10-11 13:56] mathisscott commented on #1550
Just need to be able to add an input on a row that disables checkboxes and radio buttons for that row.

[2017-10-11 14:01] mathisscott commented on #1546
Looks like we can solve this misalignment by applying `margin-top: -1px` to the `clr-dropdown` element.

[2017-10-11 14:04] mathisscott commented on #1546
We need to make sure that we specify the direct child of button-group here so we don't mess up nested dropdown menus!

[2017-10-11 14:05] mathisscott commented on #1545
@reddolan
Thoughts?

[2017-10-11 14:06] mathisscott commented on #1537
@Shijir
When are we planning to backport this to 0.9?

[2017-10-11 14:10] mathisscott commented on #1534
Given @youdz feedback on the issues that this would cause for ngFor, I'm going to close this as something we won't do. If you need unique IDs for your datagrid items (and you aren't getting them from the database), you should really be using something in your code that can generate them instead of loop indices.

If you changed pages in the datagrid, for example, your loop indices would remain the

[2017-10-11 14:10] #1534 closed

[2017-10-11 14:14] yalexx opened #1574 "Can't resolve 'clarity-angular/emphasis/alert/providers/icon-and-types-service'"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When we try to build our app we get a build error after. We didn't change any versions in package.json. Removed the node_modules folder then installed the modules again with npm install and now we have the error.

ERROR in ./src/app/app.module.ts

Module not found: Error: Can't resolve 'clarity-angular/emphasis/alert/providers/

[2017-10-11 14:14] mathisscott commented on #1528
This may actually be fixed in #1079. Will check back after that is merged in to verify.

[2017-10-11 14:16] mathisscott commented on #1521
@adityarb88
Have we filed an issue with Metropolis on this yet?

[2017-10-11 14:18] mathisscott commented on #1505
@adityarb88
Can we file an issue with Chrome on this?

[2017-10-11 14:19] mathisscott commented on #1489
@jeeyun
This is a candidate for Clarity Tools/Extras/In-Contacts

Please move to your issue tracker when you get that set up.

[2017-10-11 14:20] mathisscott commented on #1487
@hippee-lee
Any word on this?

[2017-10-11 14:21] mathisscott commented on #1483
@anavgale
I'm assuming you got what you needed. Thanks!

[2017-10-11 14:21] #1483 closed

[2017-10-11 14:21] mathisscott commented on #1444
@youdz ^

[2017-10-11 14:22] mathisscott commented on #1444
He's like Beetlejuice. You have to say his name three times!

[2017-10-11 14:22] b-mi commented on #1573
Ok, but I think it is not ideal - use click event for storing clicked link, and then bind active class...

[2017-10-11 14:26] mathisscott commented on #1411
@tarquinrex
This is not a pattern we are going to support. It seems you want a kind of mega-menu navigation from the sub-nav.

I recommend using the header (and dropdowns from there) or perhaps a vertical nav with top-level and child navigation items.

[2017-10-11 14:27] adityarb88 commented on #1431
@mattmutt: We need to make sure that the position is changed to `static` to make sure that the tooltip is not clipped off in containers with overflow hidden or auto.

cc: @jeeyun

[2017-10-11 14:28] adityarb88 commented on #1431
Closing the issue based on this. Please feel free to reopen this issue if you have any additional questions/feedback.

[2017-10-11 14:28] #1431 closed

[2017-10-11 14:28] gnomeontherun commented on #1573
A better solution is https://angular.io/api/router/RouterLinkActive#how-to-use so when that link is active the class is automatically applied to that element.

[2017-10-11 14:50] mathisscott commented on #1574
You most likely are using static HTML alerts in an angular app.

See my answer here: https://stackoverflow.com/a/46024788

That should help.

[2017-10-11 14:50] #1574 closed

[2017-10-11 14:53] mathisscott commented on #1571
@kaleksandrov
It's in design/research at the moment, so it is still a ways off.

I was wrong to point you to #1118, however. Because it is just one part of #932 <- which is what I should have directed you to.

Sorry for the confusion.

[2017-10-11 15:51] b-mi commented on #1573
gnomeontherun - thank you, routerLinkActive helped me

[2017-10-11 16:00] hippee-lee opened #1575 "[WEB] Modal and Wizard demo pages have focus on the nav link after navigating away from them"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Modal and Wizard navigation links should not have focus after navigating away from their respective demo pages.

### Actual behavior

Modal and Wizard navigation links have focus after navigating away from their respective demo pages.
![pasted image at 2017_10_11 11_17 am](https://user-images.githubusercontent.com/433692/31451

[2017-10-11 18:53] jbgarr commented on #1559
@adityarb88 Thanks for the updates on this. I tried your suggested fix and it didn't quite do the trick. It allowed the tooltip to overflow from the `card`, but then it was still being clipped by the header and sidenav. Interestingly your example plunker doesn't do that though.

I'll keep an eye on this issue though as you continue to work on it.

[2017-10-11 20:30] mfp22 commented on #506
Any updates on this?

[2017-10-11 20:33] mathisscott commented on #506
@mfp22
Yes, we are very close to having a dark theme ready for review. This effort will include a more simplified approach to theming Clarity.

[2017-10-11 20:40] mfp22 commented on #506
Awesome!! Is there another issue for that I can watch?

[2017-10-11 22:59] lthoang101 opened #1579 "Vertical Nav Icons are not blue on active"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
In the demo for the Vertical Nav with icons, the icon for the active link has a blue fill color on active and on hover. (see https://vmware.github.io/clarity/documentation/vertical-nav/icon-links/normal)

### Actual behavior
However, on our page, it appears that the blue fill color is only enabled on hover and not on active/sel

[2017-10-11 23:02] adityarb88 commented on #1579
@lthoang101: In the plnkr you have provided, I do not see the router links configured. Without that `routerLinkActive` will not work. Could you please provide an updated plnkr with the router links so we can reproduce the issue.

[2017-10-12 06:15] yalexx commented on #1574
I did check and AlertIconAndTypesService service is in app.module.ts also removed out all the usagges of alert in the app. And the error still persist.

ERROR in ./src/app/app.module.ts
Module not found: Error: Can't resolve 'clarity-angular/emphasis/alert/providers/icon-and-types-service' in '/home/jumperbg/Projects/auxionize/tb-app/src/app'
 @ ./src/app/app.module.ts 75:0-107
 @ ./src/main.ts
 @

[2017-10-12 11:10] dorthrithil commented on #1551
`[clrWizardButtonDisabled]` stopped working for me after I upgraded from 0.10.4 to 0.10.8. So the bug was temporarily fixed in 0.10.4 and then reintroduced? Maybe this helps you tracking it down.

[2017-10-12 11:30] mathisscott commented on #1574
@yalexx

Please read this [big red box from the website documentation](https://vmware.github.io/clarity/documentation/alerts).

<img width="893" alt="screen shot 2017-10-12 at 6 21 47 am" src="https://user-images.githubusercontent.com/2728359/31493645-b861bbae-af15-11e7-85fa-5d37e33f94a0.png">

Then [please read this answer from Stack Overflow](https://stackoverflow.com/a/46024788).

![screen shot

[2017-10-12 11:56] windischb opened #1580 "Clarity & Monaco Editor in a Form"
[code]

### Expected behavior
Set Cursor to last position on line, if click on an empty Area in line.

### Actual behavior
Nothing happend when click on a line...
Works correct in Firefox!
The Problem only exists on Chrome.

### Reproduction of behavior
Working example without clarity -> https://jsfiddle.net/c4Lb9ybb/
Not Working exampe with clarity -> https://jsfiddle.net/9vqz2x0c/
It does also w

[2017-10-12 13:06] ninodinatale opened #1581 "Form Validation Tooltips inside Modals are cut off"
**Select one ...**  (check one with "x")
[code]
### Actual behavior

The validation tooltips in forms inside modals are cut off the edge of the modal. I can set `overflow: visible` to the modal, which works. Is this the expected behaviour and if so, what are the reasons for this? Am I doing something wrong?

### Reproduction of behavior

* Include a link to the reproduction scenario you created by

[2017-10-12 13:29] adityarb88 commented on #1581
@ninodinatale: This issue is a duplicate and we plan to resolve it with #932. Please subscribe to #932 for more updates.

[2017-10-12 13:29] #1581 closed

[2017-10-12 13:50] adityarb88 commented on #1580
@windischb: I believe this issue is because inside of Clarity forms, we target the `span` selector directly. You can do this in your app CSS for now:

[code]

to resolve the issue. But this will be resolved with #932.

Closing the issue based on the above info. Please feel free to reopen the issue if you have any more questions.

[2017-10-12 13:50] #1580 closed

[2017-10-12 13:54] chunghha opened #1582 "New build is not Windows friendly"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

"npm run build" should be error-free on Windows.
### Actual behavior

"npm run build" fails on Windows. "del ./dist" and the cpy npm tasks are troulbesome on Windows. Running on Linux is fine though.

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker T

[2017-10-12 13:55] adityarb88 commented on #1582
@jeeyun Could you please take a look at this?

[2017-10-12 14:43] voznik commented on #1040
I'm using Input() binding over container component with Observables from ngrx-store - and I also have no pagination on 2nd page

[code]

[code]

[code]

[2017-10-12 14:59] voznik commented on #1040
sorry, I've read so many times that one can not use `*clrDgItems` for async, but I did that mistake!
can I leave the previous comment here - for others to use this as working base to use datagrid with ngrx-store?

[2017-10-12 15:13] gnomeontherun commented on #1040
@voznik are you saying the example above works for you or is there an issue still?

[2017-10-12 15:35] hippee-lee commented on #1582
I'll take a look at it.

[2017-10-12 16:47] #1575 closed

[2017-10-12 18:33] vijay-venkatraman-vmware opened #1586 "Datagrid Enhancement: Freeze/Pin First Column"
### Description

The most common use case is for freezing/pinning the first column in the datagrid. The first column is usually the primary identifier. With that frozen/pinned, you can horizontally scroll the datagrid without losing context.

### Documentation

You can freeze/pin the first column by clicking on the freeze/pin icon in the column header. Click again to toggle back to the initial unf

[2017-10-12 18:34] vijay-venkatraman-vmware commented on #619
We have merged your request into #1586 and will be closing this one. Please read the documentation and subscribe for updates. Comments and questions can be posted there.

Thank you.

[2017-10-12 18:34] #619 closed

[2017-10-12 18:34] vijay-venkatraman-vmware commented on #1586
Original request - #619

[2017-10-12 19:05] krotscheck opened #1587 "FocusTrapDirective in IE-11 throws runtime errors in some cases."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
FocusTrapDirective.setPreviousFocus() should not error.

### Actual behavior
FocusTrapDirective.setPreviousFocus() throws errors under certain conditions in IE-11 (see repro).

### Reproduction of behavior

1. In IE-11, `document.activeElement` can be null under certain circumstances (no form elements on page), or set to a DOM

[2017-10-12 19:09] clementcur commented on #1587
It looks related to the fact that focus events in IE11 are handled asynchronously, thus after Angular component lifecycle, see https://github.com/jquery/jquery/issues/3123

In our case, after confirming the modal panel, we navigate away from the previous view, and IE11 still tries to focus on the destroyed view...

[2017-10-12 19:14] windischb commented on #1580
You are right!

[code]

solved my problem.

Many thanks!

[2017-10-12 19:30] robbiesmith79 commented on #1407
Hold on. I'm still getting this on 0.10.8 in the browser:
ERROR Error: Uncaught (in promise): Error: No provider for AlertIconAndTypesService!
Error: No provider for AlertIconAndTypesService!
    at injectionError (core.es5.js:1169)
    at noProviderError (core.es5.js:1207)
    at ReflectiveInjector_.webpackJsonp.../../../core/@angular/core.es5.js.ReflectiveInjector_._throwOrNull (core.es5.js:2649

[2017-10-12 19:38] adityarb88 commented on #1407
@robbiesmith79 We will not be able to debug the issue without a Plnkr to replicate the issue. Also, did you go through our release notes: https://vmware.github.io/clarity/news/0.10.0-alpha.2 for migrating from 0.9 to 0.10 wrt Alerts?

[2017-10-12 21:50] quetool opened #1588 "Error after updating Clarity"
Hi! I don't know if is a Clarity error or something else but after update to Clarity 0.9.20 I am getting this error "fixedAttrs.map is not a function"

### console.log
[code]

### Environment details
[code]

### npm outdated output if it helps
[code]

[2017-10-12 21:55] adityarb88 commented on #1588
doesn't look like Clarity. I don't remember anyone else raising this issue. Could you please provide more info about the error? Does it only fail on 0.9.20? Is it possible to replicate this on a Plnkr?

[2017-10-12 22:21] aleksashin commented on #1521
Hi gents.

What is the ETA for this? VMC console clients are complaining...

Thanks!

[2017-10-12 22:30] adityarb88 commented on #1521
@aleksashin: We are investigating this issue and will get back to you when we have more updates. We have also filed an issue with the font creator @chrismsimpson for more information regarding this. Issue on the Metropolis repo: https://github.com/chrismsimpson/Metropolis/issues/15

[2017-10-12 23:53] hippee-lee commented on #1582
Turns out `del` and `cpy` don’t play nice with windows

https://github.com/sindresorhus/cpy-cli/issues/9

I can get `del-cli` to work but nothing doing for cpy. If we need to support windows (I think yeah, even though I don’t want to) it seems like we will need to change the delete/copy tools commands for our build. From the author:
``` I couldn't care less about Windows, but feel free to change i

[2017-10-13 03:53] chunghha commented on #1582
How about using [shx](https://github.com/shelljs/shx)?

[2017-10-13 12:25] quetool commented on #1588
@adityarb88 I do not have more info right now... In order to continue with my development I had to downgrade to 0.9.16. Sorry, I will update with more info soon!

[2017-10-13 13:25] colossal-squid opened #1589 "Datagrid ExpressionChangedAfterItHasBeenCheckedError after re-assigning the selection"
We're trying to implement a directive, that stores user selection in-between live data refreshes. Wrapping the assignment in 'preselect-comparator.ts' line 57 into a setTimeout works, but i'd like to avoid using setTimeout.

The plunkr is just a partial implementation for a singular selection (i've removed multi-select branches to make it shorter)
[code]
https://plnkr.co/edit/WUNt57MsppVCqK18VtH1

[2017-10-13 13:31] adityarb88 commented on #1589
@colossal-squid: It looks to me that you are updating the array twice. First setting it to empty and then shuffling and resetting it. If I remove the first assignment where you set it to empty, everything works fine and we get the same result. Please see: https://plnkr.co/edit/QyzLJiE5h2PjFRg974pg?p=preview

Does this help?

[2017-10-13 13:37] colossal-squid commented on #1589
Yes, this definitely "fixes" it in a plunkr, but even if i remove similar "reset" assignments before http service calls, I'd like to prevent such exceptions occurring in real life environment.

Can anyone explain me if this is a bug, or us using it wrong? And if second - what happens under the hood and why is this illegal?

[2017-10-13 13:41] adityarb88 commented on #1589
I believe that you just have to make sure that the bindings are not updated after the view has been updated. If they are you need to manually run change detection again. If you can find this pattern in your use case right now (you could check this by logging into the different lifecycle hooks), then an `ExpressionChangedAfterItHasBeenCheckedError` error will be thrown. More info can be found here:

[2017-10-13 14:03] belyan commented on #627
I have the same task.

[2017-10-13 14:11] arjunrao2709 commented on #853
@reddolan To answer your questions, we have a case where we wish to show the progress of an action (Example : on clicking download in a card, I want the button to convert to a spinner and show progress of download) The problem with the progress bar is that it occupies too much space (it says this in the Clarity docs as well) and having progress bars on multiple cards will cause a visual overload.

[2017-10-13 14:36] belyan opened #1590 "Need wrapper to adapt tabs for mobile devices"
[code]

### Expected behavior
When tabs do not fit on the screen of the mobile device, they have to hide outside of the view area of the screen. In this case the user should be able to scroll tabs forward and back via slide move.
Here is example of this behavior:
https://codepen.io/belyan/pen/gGeWEg

To realize this approach is need to add extra element around list of tabs:
[code]

### Actual beha

[2017-10-13 14:51] belyan commented on #1590
I know about the ability to hide tabs with Tab Overflow, but it is not useful for me, because tabs in my application are nicely fit on large screen. So I don't want to hide it always, I want to hide it **only in case** if it no longer fit on screen.

[2017-10-13 14:53] adityarb88 commented on #1590
@belyan: But you could listen to the screen resize event and depending on the screensize, enable the tab overflow, no?

[2017-10-13 15:12] belyan commented on #1590
Yes, but it's more complex solution. Because every time when resize event is fire I have to calculate width of tabs and compare it with width of device and then find tabs which don't fit on screen and set attribute `clrTabLinkInOverflow` for it.

Also it is not good UX solution, because the user must to tap twice every time when he wants to switch between hidden tabs. It is much more convenient an

[2017-10-13 15:14] adityarb88 commented on #1590
@belyan: I would argue otherwise regarding the UX feedback that you posted above. With the horizontal overflow, the user has no way to know if additional actions are present in the tab if the scrollbars are hidden. Tab Overflow clearly indicates that there is a dropdown which can be opened for additional actions.

cc: @reddolan

[2017-10-13 15:16] adityarb88 commented on #1590
Also, how many times do you expect for the resize event to be fired? I wouldn't expect it to be fired a lot of times. Most of the times, if the user opens a web page on one device, the screen is not resized. Again the horizontal scroll solution can be easily created at your end but I don't believe our UX team recommends this. I will let @reddolan add his feedback to this post.

[2017-10-13 15:27] hippee-lee commented on #1582
@chunghha - that looks interesting. Thanks!
I'll take a look and see it it works a bit more seamlessly for *nix && Windows.

[2017-10-13 15:28] belyan commented on #1590
It is a common misconception. If the user sees that the content is clipped, he realizes that it is not ended and he can scrolls through further. For this reason vertical scrolling is hidden by default and appear only in the moment of interaction with the page in many mobile applications and even in a desktop browser Safari.

However, if we doubt about skills of the user we can hint him. For exampl

[2017-10-13 15:33] adityarb88 commented on #1590
@belyan: I am not sure if we can always assume that the content will be clipped. What if the scroll happens right on the whitespace? I dont believe this is a reliable solution which will work 100% of the time. Also, the codepen that you provided above hides scrollbars. Only few browsers provide that support. Firefox for eg. recently deprecated the ability to hide scrollbars. I believe that was for

[2017-10-13 15:39] gnomeontherun commented on #1590
You might be best served to use media queries to show/hide two different implementations of the tabs for mobile or larger screens. That way you can cater the experience, and avoid edge cases.

[2017-10-13 15:46] belyan commented on #1590
We can add semi-transparent background, which width will be more than width of the space between tabs. In this case the label of the corner tab will be disappearing smoothly.

You are right, but there are ways to hide scrollbar in all browsers, e.g.
https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll

[2017-10-13 15:52] adityarb88 commented on #1590
@belyan: We are investigating custom scroll bars at the moment but i don't believe thats the right way to go. Custom scrollbars are a pain to get to work like native scrollbars. You have to listen to container resizes (which is not supported natively in most browsers) & screen resizes and add scroll events on overflow containers to make sure that the scrollbar is in sync with the native hidden scr

[2017-10-13 15:56] belyan commented on #1590
@gnomeontherun
You are right, I already thought about this solution. But I more like the solution when the tabs can be slide back and forward. This solution will also allow to add an animation of switching tabs in the future. Users usually like such things. :-)

[2017-10-13 16:05] belyan commented on #1590
@adityarb88
Regarding to customize scrollbar I completely agree with you. I spent a lot of time looking for a good plugin that hides the native scrollbar and breaks nothing. I recommend to take a look at this plugin:
https://github.com/utatti/perfect-scrollbar

[2017-10-13 16:10] adityarb88 commented on #1590
@belyan: Yep :-) We will be posting more updates on the Scrollbar issue soon https://github.com/vmware/clarity/issues/1522. Please subscribe to https://github.com/vmware/clarity/issues/1522 for more updates.

Our UX team will respond to your our queries and feedback here. Thanks!

[2017-10-13 16:25] belyan commented on #1590
Thank you.

[2017-10-13 16:58] hippee-lee commented on #1587
@krotscheck , @clementcur - I'm unable to recreate a runtime error in an app for this issue.

In the movie below here is the code displayed on the page. I removed all navigation elements from the app for recreation purposes.
[code]

Here are the steps I took to try and generate the error
1. Navigate directly to `http://localhost:4200/modal/modal-form`
2. Open the modal
3. Navigate to the app root

[2017-10-13 17:09] clementcur commented on #1587
@hippee-lee We've seen it while running our unit tests against IE11 on Browserstack so far. We also noticed that the time spent to execute those tests takes 10x longer than other browsers, so we suspect there might be some race condition happening when the system/browser is being slow...

[2017-10-13 17:12] hippee-lee commented on #1587
@clementcur - Do you have any ideas for good approach to recreating that in an app? Could it be something specific to how the test is scripted?

[2017-10-13 17:15] krotscheck commented on #1587
@hippee-lee I found a plunkr: http://jsfiddle.net/u3uNP/ - focus on a textbox in the bottom left, then click on the background. Note that the value of activeElement becomes the HTMLBodyElement, which in IE-11 does not support the `blur()` method.

You should be able to reproduce it in your test simply by setting activeElement = document.body, or blurring whatever element currently has focus. Note

[2017-10-13 21:24] reddolan commented on #853
@arjunrao2709 we have a spinner button spec out right now #1488. Is this what you are looking for?

[2017-10-13 21:47] jeeyun opened #1591 "Dark theme specs for scrollbar?"
**Select one ...**  (check one with "x")
[code]
We rely on the native browser's rendering of scrollbars for light (current) theme of Clarity. It would be nice to provide specs and css for the scrollbars in dark theme.

Some screenshots for visuals:

Dark theme with native scrollbars:
<img width="501" alt="screenshot 2017-09-28 17 21 04" src="https://user-images.githubusercontent.com/1827742/315676

[2017-10-14 00:11] hippee-lee commented on #1582
Ran into issues with many things on my windows VM. The related thing to his issue is that the `replace` command we are using seems have a problem with `$npm_package_version - it seems windows wants %npm_package_version% but I can't confirm that for sure as I'm getting an error that is quite troublsome to debug: `cp: copyFileSync: could not write to dest file (code=ENOENT)` .

A possible solution m

[2017-10-14 09:07] williamhallatt opened #1592 "clarity-angular version bump from 0.10.7 to 0.10.9 results in angular-cli build module resolution error"
[code]

### Expected behavior
ng build/serve should compile without errors

### Actual behavior
Angular CLI based project fails with, what seems to be, a webpack error (field 'browser' doesn't contain a valid alias configuration). Complete error output follows.

[code]

### Reproduction of behavior
package.json content is as below, changing the clarity-angular version from 0.10.7 to 0.10.9 as ment

[2017-10-14 15:36] chunghha commented on #1582
So far this still works on Linux, will test on Windows.
https://gist.github.com/anonymous/99cf282d9573d9ec423a0be260896703

[2017-10-15 16:05] chunghha commented on #1582
The above error is from Windows 10/node 8.7.0. But, from Windows7/node 6.11.4, the above error disappears. Just mention that here for record now. Since I tested with node 8.7.0 on my Linux, I am not sure node version is related to the error during webpack on Windows 10.

With Windows7/node 6.11.4, one error I am getting is from this code in clarify-icons-svg.js
[code]
The error is "The system cann

[2017-10-16 08:29] colossal-squid commented on #1589
There is another one with multiselect, I think I should create a separate ticket for this. Thanks

[2017-10-16 08:29] #1589 closed

[2017-10-16 09:14] colossal-squid opened #1593 "datagrid.selected is reassigned with an empty array"
**Select one ...**  (check one with "x")
[code]
https://plnkr.co/edit/WUNt57MsppVCqK18VtH1?p=preview
### Expected behavior
After datagrid.selected is assigned - the selection if populated on screen

### Actual behavior
The value is assigned and grid is redrawn, but after that this code from datagrid/selection.js seems to rewrite it
[code]

### Reproduction of behavior
https://plnkr.co/edit/WUNt57M

[2017-10-16 09:45] voznik commented on #1040
@gnomeontherun the example above works, thx

[2017-10-16 11:26] GnanendraPaladugu opened #1594 "Modal footer issue."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Modal footer buttons background is hiding when we reduce vertical height.

### Actual behavior
Adjust the modal footer height automatically.

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4

[2017-10-16 12:14] ninodinatale opened #1595 "Problem displaying the content in <clr-modal> with <ng-content>"
**Select one ...**  (check one with "x")
[code]

### Problem
I wanted to wrap my own component around <clr-modal>. My problem is, if I want to display the content of my component inside the <clr-modal> with transclution (so <ng-content>) the content won't show. I can't see anything in the DOM besides the modal itself and the header. May someone tell what I am doing wrong? I actually don't know if

[2017-10-16 15:36] mathisscott commented on #1594
Hi @GnanendraPaladugu
Thanks for reaching out!

Could you provide a [plunkr demonstrating the issue](plnkr.co/uNwwZe)? It will help us to triage it and figure out what's happening.

Thanks!

[2017-10-16 15:40] mathisscott commented on #1592
@hippee-lee and @jeeyun : Could one of you check this out?

[2017-10-16 19:01] #1587 closed

[2017-10-16 22:56] youdz commented on #1595
This is an Angular behavior we can't do much about. Re-projecting projected content loses the selectors of the projected content, it puts it in a "black box".

You can fix this very easily by using `ngProjectAs=".modal-body"` (or whatever the selector of what you're trying to re-project is). I just did it on your plunker, and its works again: https://plnkr.co/edit/3jcgOUqgFSPYuuMbzeHG?p=preview

[2017-10-16 22:56] #1595 closed

[2017-10-17 13:19] jayrungta commented on #1512
@adityarb88 Hi Aditya, is there any timeline by which this issue is going to be addressed?

[2017-10-17 14:42] chunghha commented on #1582
@hippee-lee when you have time, please take a look at this.
https://gist.github.com/chunghha/5cc00f1021d2aaf26277ce2667c4095e
This is a working version on my Windows7/node 6.11.4 along with the shx/cross-conf-env/replace-in-file changes above. I haven't fully verified contents of all-shapes.zip are matched with the one from Linux but svg icons in other shape zip files looked OK.

When I can get a

[2017-10-17 16:08] hippee-lee commented on #1582
Thank you for continuing to look into this! What I see in your gist looks like a viable approach.

If you want, feel free to submit a PR with your suggested changes. Then, I can pull it on my end and test it out my Windows VM.

[2017-10-17 17:00] el-davo commented on #326
Came across this issue also. I am following the offical angular-cli guide - https://github.com/angular/angular-cli/wiki/stories-universal-rendering. This works with the offical angular materia https://material.angular.io/l. However doesnt seem to be supported yet in clarity.

[2017-10-17 18:12] adityarb88 commented on #1579
@lthoang101: Are you still facing this issue with the routes configured?

[2017-10-17 19:13] joshjohnsonux opened #1603 "Vertical nav doesn't collapse on open-space click, but opens on it."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When using the vertical nav component with expand/collapse enabled, when the user clicks open space below the nav items, the component expands.  Logically, when the user clicks again in the same open space while expanded, it should collapse.

### Actual behavior
Clicking of open space does not collapse.

### Environment details

[2017-10-17 19:16] dsaojose commented on #1603
I also find this behaviour confusing.

[2017-10-17 19:18] joshjohnson72 opened #1604 "Vertical Nav collapse function should be at bottom, not top"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When implementing a vertical nav component for my applications navigation, the ability to navigate is the primary concern, so the navigational items should be presented primarily and other features of the nav control should be secondary

### Actual behavior
When implementing a vertical nav component, the ability to expand/colla

[2017-10-17 19:20] dsaojose commented on #1604
I agree with this design decision.  The expanding and collapsing should be at the bottom, not the top.

[2017-10-17 19:20] adityarb88 commented on #1603
@joshjohnson72: Would you mind replicate this on a Plnkr? Are you using a Vertical Nav with links on the Nav Group level as well on the Nav Group Item level? A plnkr would help us better understand the issue and effectively debug it. Thanks!

I see this on our website:
![nimbus-record-video-2017-10-17-15-17-31](https://user-images.githubusercontent.com/1426805/31684733-afe89c80-b34e-11e7-9d4d-4011

[2017-10-17 19:24] joshjohnson72 opened #1605 "App Header should adjust alignment when used with vertical nav"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When developing an application that uses both the application header and the vertical navigation component, the elements should not cause alignment discontinuities.  In particular, a collapsed vertical navigation bar should align with some element of the app header.

### Actual behavior
The collapsed vertical nav bar aligns wit

[2017-10-17 19:27] dsaojose commented on #1603
I believe it is in regards to the expanding behaviour when clicking on whitespace.  Here is a screenshot that may help:
<img width="356" alt="expectations" src="https://user-images.githubusercontent.com/22899950/31685021-a157e06c-b34f-11e7-8ba2-90fa61a23224.png">

[2017-10-17 19:29] adityarb88 commented on #1604
@joshjohnson72: This looks like a duplicate for this: https://github.com/vmware/clarity/issues/1328

Please subscribe to #1328 for more updates. Thanks!

[2017-10-17 19:29] #1604 closed

[2017-10-17 20:27] dsaojose commented on #1605
I agree with this design choice.  The icons should align.

[2017-10-17 20:30] adityarb88 commented on #1605
cc: @reddolan

[2017-10-17 20:31] adityarb88 commented on #1603
Oh I understand the issue now. Let me redirect this question to our UX team and ask for their feedback on this. Thanks!

cc: @reddolan

[2017-10-17 21:17] mathisscott commented on #1547
@pantonis
Is @jacobbutton's sufficient for your use case? It appears to answer your concerns. Please reopen this issue if not.

Thanks, @jacobbutton !

[2017-10-17 21:17] #1547 closed

[2017-10-17 21:26] #1411 closed

[2017-10-17 22:15] mathisscott commented on #850
I've left a response on the EasyList forum for this issue. I'm hoping to hear back at some point.

If not, I will try emailing them directly to get direction on next steps. If the answer is for us to change the name of our deliverables, we need to come to an understanding that will prevent this issue from resurfacing in the future.

It's also a little silly that they have refused to whitelist our

[2017-10-18 15:23] #1079 closed

[2017-10-18 15:41] mathisscott commented on #1258
@gnomeontherun
Any ideas on what is the cause here?

[2017-10-18 16:08] johnstill opened #1609 "Upgrade to 0.10.9 fails with "No Provider for MainContainerWillyWonka""
[code]

### Expected behavior
Upgrading should not complain about Willy Wonka.

### Actual behavior
My project builds correctly, but upon navigation to localhost:4200 the page hangs and I see the exception in the console.

### Reproduction of behavior
I've been able to reliably reproduce this on my machine, but unfortunately our project is pretty complex and there's no clear pointers in the traceb

[2017-10-18 16:09] mathisscott commented on #1521
This will be solved when we complete #603

[2017-10-18 16:10] mathisscott commented on #1217
@reddolan

[2017-10-18 16:11] mathisscott commented on #1444
@youdz

[2017-10-18 16:11] youdz commented on #1444
You called, master?

[2017-10-18 16:18] #1528 closed

[2017-10-18 16:19] mathisscott commented on #1609
@youdz ^

[2017-10-18 17:50] MJuma commented on #1258
Root cause can be found on this line: [datagrid.html#L18](https://github.com/vmware/clarity/blob/e42a3788bc338a971c3dd5ad254e031e1d46469a/src/clarity-angular/data/datagrid/datagrid.html#L18)

`
<clr-checkbox [(ngModel)]="allSelected"></clr-checkbox>
`
needs to be changed to
`
<clr-checkbox [clrChecked]="allSelected"></clr-checkbox>
`

This will make it support ChangeDetection.OnPush

[2017-10-18 20:09] jacobbutton commented on #474
I have every intention of using this clarity component once it's available, but my project is in a stage of development where I really need a functional datetimepicker to move forward.

I've tried many different third party components but they either didn't work, or they conflicted with clarity in such a way that made them unusable.... until today.

Today I found https://www.npmjs.com/package/ng-p

[2017-10-18 20:39] coldhamix commented on #474
@gnomeontherun well, most major datepicker implementations (including the one mentioned in comment above) include inline mode. It might be a nice to have feature for Clarity too.

[2017-10-18 21:24] luis-cortina opened #1610 "Creating DataGrid Columns Dynamically?"
Hi:

Is it possible to create the data grid columns dinamically? Somthing like this maybe?

[code]

[2017-10-19 00:08] #1294 closed

[2017-10-19 04:04] adityarb88 commented on #1610
@luis-cortina: This looks like a question for StackOverflow. I would recommend, asking a question there with the `vmware-clarity` tag. More info here:

https://vmware.github.io/clarity/get-started#stackoverflow
https://stackoverflow.com/tags/vmware-clarity

Closing based on this. Thanks!

[2017-10-19 04:04] #1610 closed

[2017-10-19 05:04] #1512 closed

[2017-10-19 05:57] b-mi commented on #474
jacobbutton - thank for tipfor Clarity comaptible date control. I wait for Clarity date control too, it should be published in november - I think.

[2017-10-19 13:49] amolpowar opened #1612 "AlertIconAndTypesService service breaks with 0.10.8 or 0.10.9"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Upgrading the Clarity framework from 0.10.7 to 0.10.8 or 0.10.9 should not break AlertIconAndTypesService service

### Actual behavior
Compilation fails with the following error

ERROR in ./src/app/main.nav.mod.ts
Module not found: Error: Can't resolve 'clarity-angular/emphasis/alert/providers/icon-and-types-service' in '/Users

[2017-10-19 13:57] johnstill opened #1613 "Wizards mess with tree node spinners"
[code]

### Expected & Actual behavior
I have a lazy loading tree in the first page of a wizard.  Normally, when each node of the tree begins loading, the caret is replaced with a spinner, which is nice and attractive.  In the wizard, however, [this scss rule](https://github.com/vmware/clarity/blob/668568b3275d8cdf61f6a1df543e208da6b0dcce/src/clarity-angular/wizard/_wizard.clarity.scss#L357) is ca

[2017-10-19 14:28] #1567 closed

[2017-10-19 14:58] GnanendraPaladugu commented on #1594
Hi,
We have found the solution above issue. we had given inside container height is 100% it is causing issue. Please close the issue.
Thanks.

[2017-10-19 15:00] adityarb88 commented on #1612
This issue is a duplicate of: https://github.com/vmware/clarity/issues/1574

More info here: https://stackoverflow.com/questions/46010942/getting-error-no-provider-for-alerticonandtypesservice

[2017-10-19 15:00] #1612 closed

[2017-10-19 15:05] #1594 closed

[2017-10-19 15:12] adityarb88 commented on #1613
@johnstill: I can confirm that this is a bug. Thanks for reporting this. We will take a look at this and get back to you.

[2017-10-19 15:14] jayrungta commented on #1512
Thank you @adityarb88 !

[2017-10-19 15:15] adityarb88 commented on #1512
@jayrungta: Just a heads up. This has not been released yet but the fix has been merged into master. It will be released soon.

[2017-10-19 15:35] dehru commented on #1079
Thank you @mathisscott

[2017-10-19 16:29] aavelyn opened #1615 "Wizard opens with all 4 clr-wizard-buttons"
[x] bug
[ ] feature request
[ ] enhancement

### Expected behavior
wizard button to behave in the examples

### Actual behavior
All 4 wizard buttons are displayed (cancel, back, next, finish)

### Reproduction of behavior
start new angular cli project (1.4.8)
add latest clarity and a basic wizard example.

https://github.com/aavelyn/clarity-wizard-btn/tree/master/testclarity

* Include a link to t

[2017-10-19 16:38] hippee-lee commented on #1615
Hi @aavelyn - I'm not seeing any wizard code in your plunker. Are you shire its the correct one?

[2017-10-19 16:44] gnomeontherun commented on #1258
Just a little more context, this is due to ngModel having an internal async process for setting a new value (https://github.com/angular/angular/blob/4.4.6/packages/forms/src/directives/ng_model.ts#L30) to avoid expression changed errors (more common than this scenario I guess).

[2017-10-19 16:58] aavelyn commented on #1615
just updated the plunker

[2017-10-19 16:59] reddolan commented on #1570
@hippee-lee we will want to add something to the release notes about deprecating the Craft Library and that we want folks to move over to Sketch Library

[2017-10-19 18:58] #1609 closed

[2017-10-19 19:07] jacobbutton commented on #474
Will the datepicker be able to pop outside of modals if need be? Because it should be able to without clipping issues.

[2017-10-19 21:59] aaronfrost opened #1616 "Getting linebreaks in tooltip-content"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

I would love to see a way to add a linebreak into my tooltip, so that I could have a slight ability to break things up. Like a list of things in a tooltip can make sense. If there is a way to do this currently, I couldn't see it in the docs. Would love to see that this already exists.

### Actual behavior

In a tooltip, all we

[2017-10-19 22:07] adityarb88 commented on #1616
@aaronfrost: Tooltips are just for a line of text. See our docs:
![image](https://user-images.githubusercontent.com/1426805/31796495-c4a5740e-b4f7-11e7-9e5b-2d122f9f02d2.png)
https://vmware.github.io/clarity/documentation/tooltips

You should use Signposts if you want to accommodate content that spans across multiple lines:
https://vmware.github.io/clarity/documentation/signposts

Irrespective of

[2017-10-19 22:07] #1616 closed

[2017-10-19 22:11] adityarb88 commented on #1616
@aaronfrost: Plnkr for more info: https://plnkr.co/edit/Wi412HnCBkPsXgmZbBGQ?p=preview

[2017-10-19 22:13] aaronfrost opened #1617 "Tooltips inside of dropdown menus don't wrap text"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Putting a tooltip inside of a dropdown menu item should not lose the default wrapping of text that normally exists in tooltips

### Actual behavior

When you put a tooltip inside of a dropdown menu, you lose the wordwrap, cause the menu forces `white-space: no-wrap` on it's children. You have to override it manually.

### Repr

[2017-10-19 22:22] adityarb88 commented on #1616
@aaronfrost: Apologies. I missed the comment about the docs. Thanks for the feedback! I will raise a separate ticket to tag our UX team to see how our docs can be improved for tooltips and signposts.

[2017-10-19 22:25] adityarb88 commented on #1617
@aaronfrost: Thanks for reporting this bug and providing the plnkr to replicate this issue. We will add this our queue so that its fixed.

[2017-10-19 22:36] aaronfrost commented on #1617
No, thank you guys for building clarity and sharing it with us. You have made a lot of things easier. Seeing your patterns are more than interesting.

I am one of the organizers of ng-conf. I think that your team should put together a few of the greatest patterns and innovations you have done, and prepare them to submit in a talk to ng-conf. The CFP is open right now. Some of the stuff you have do

[2017-10-19 22:48] aaronfrost commented on #1616
I figured it out. I can break on linebreaks by doing the following in my template:

[code]

Again, thanks for the response on this. Made me think a bit, and I got to what I wanted. Here is a plunker. https://plnkr.co/edit/QshPkH?p=preview

[2017-10-19 22:59] aaronfrost opened #1618 "If clr-tooltip-content is nested inside of ng-container, there is an error"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

when I wrap `ng-container` around `clr-tooltip-content` _(cause sometimes I optionally want to have the tooltip and othertimes not, so I use the `ng-container` to ngIf if I want to show it or not)_ it shouldn't throw an error. It should be fine, and not care if I wrapped it with a span or an ng-container.

### Actual behavior

[2017-10-19 23:13] adityarb88 commented on #1618
Thanks again @aaronfrost. Will take a look and get back to you.

[2017-10-20 00:07] youdz commented on #1618
Yes, we are just grabbing the parent host `ElementRef` and using it to position the tooltip, but adding an extra `ng-container` around the content means we get an undefined element. So we just need to get the `Tooltip` itself instead of the parent host, and use this to position.

Thanks for filing this. 👍

[2017-10-20 00:26] youdz commented on #1617
Hi Aaron, this is really good to hear, we're glad you like the patterns we're trying to push. We're spending a lot of time and effort on trying to be as innovative as possible with a very young Angular framework, were everything is up for grabs. 😄

We did submit a few talks at ng-conf last year, a couple of them on the specific patterns we use to make our components easy to use and reusable, but t

[2017-10-20 01:03] aaronfrost commented on #1617
Before you submit... let me know. I can help you "liven up" your talk title and description. Seriously, let me know and we can do a hangout and chat about it.

[2017-10-20 05:39] b-mi commented on #474
mathisscott - I would like to say, that Clarity without Date control is not usable in real application, because default date input control implementation in browser like Firefox and some other browser is unacceptable.

[2017-10-20 06:11] mathisscott commented on #474
@jacobbutton
Yes, I believe that to be the case

[2017-10-20 06:13] mathisscott commented on #474
@b-mi
Thanks for the feedback. I will note that there are dozens of real applications using Clarity right now.

That said, the datepicker is in development right now. There is no higher priority that we can give it.

Thanks.

[2017-10-20 10:17] b-mi commented on #474
There are a lot of problems with use of another date picker controls. Now it looks we have to change all input controls to google material.

[2017-10-20 13:46] belyan opened #1622 "A modal window takes place when it is in a hidden state"
[code]

### Expected behavior
A modal window does not create extra padding when it is in a hidden state.

### Actual behavior
A modal window takes place when it is in a hidden state.

### Reproduction of behavior
https://embed.plnkr.co/UC5LA68PKfVMjoUwtqss/

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:** latest

* **OS and version:** Windows 10

* **Browser:** Chrome

[2017-10-20 13:56] belyan opened #1623 "Tab overflow drop-down creates a horizontal scroll"
[code]

### Expected behavior
Tab overflow drop-down does not create a horizontal scroll.

### Actual behavior
Tab overflow drop-down creates a horizontal scroll when it is in a hidden state and has not been initialized.

### Reproduction of behavior
https://embed.plnkr.co/3rEVkZRBDvtyYmjuUrf2/

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:** Latest

* **OS and versio

[2017-10-20 14:04] belyan commented on #1590
Could you please reopen this issue, because it has not received clarification still.

[2017-10-20 14:22] sascha-friederich commented on #1615
i have the same behaviour, in 0.10.7 wizard works fine, error starts with version 0.10.8

[2017-10-20 14:57] adityarb88 commented on #1590
cc: @reddolan

[2017-10-20 15:01] adityarb88 commented on #1622
@belyan: Not sure if I understand the question correctly.

![image](https://user-images.githubusercontent.com/1426805/31827455-cb9cfbf4-b585-11e7-98ba-ed710bb0d6f0.png)

Clarity buttons have margin around them. Are you talking about that? I don't believe modal takes any space because it is `position: fixed`

[2017-10-20 15:09] adityarb88 commented on #1615
@gnomeontherun: Could you please check if this issue is related to: https://github.com/vmware/clarity/commit/4610fd46e3dfcc9c4e4766b42da3a399c1216c31

[2017-10-20 15:53] hippee-lee commented on #1570
@reddolan how about something like this ...

Sketch docs and Clarity files). The Craft Library is now deprecated and will be removed when Clarity v0.11.0 is released.

My thought is to include it in next weeks release (or I can update yesterday's) and include the message inside an `alert-warning` as part of the `Other Changes` section.

Sound good to you?

[2017-10-20 15:56] belyan commented on #1622
@adityarb88 I cleared margins for paragraphs in CSS. Cause is in the custom element `clr-modal`. It has the style `display: inline-block` by default, therefore it creates extra padding between paragraphs.

[2017-10-20 16:01] adityarb88 commented on #1622
@belyan: I am still not sure what the issue is. Are you looking for this? If yes, you need to clear the margin for the button.

![image](https://user-images.githubusercontent.com/1426805/31830479-509aff4c-b58e-11e7-9db8-e51180bd3a07.png)

https://plnkr.co/edit/GxHX55zxg4TsUS7NTL5C?p=preview

[2017-10-20 16:04] adityarb88 commented on #1623
@belyan: Will take a look and get back to you.

[2017-10-20 16:06] belyan commented on #1622
@adityarb88 Could you please add the CSS rule `clr-modal { display: block; }`, and you will see difference.

[2017-10-20 16:08] adityarb88 commented on #1622
@belyan: I understand your question now. I will take a look and get back to you.

[2017-10-20 16:09] belyan commented on #1622
@adityarb88 Thanks.

[2017-10-20 16:40] hippee-lee opened #1624 "[CORE] Improve build and tooling"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Satisfied Developers

### Actual behavior

There are little things that subtract from developer happiness. These things usually start out as minor, annoying things that one puts up with because they are focused on other things. However, the continually subtract from a pleasant developer experience and over time they add up to

[2017-10-20 19:07] clementcur opened #1625 "In the Datagrid component, fire a clrDgColumnSizeChange event whenever a column width changes"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
In the Datagrid component, whenever a column width changes by any mean (sibling columns getting resized, window getting resize, etc.), a `clrDgColumnSizeChange` event would be bubbled up. That applies to any column in the datagrid.

### Actual behavior
As of today, a `clrDgColumnResize` event is only bubbled up when a particula

[2017-10-20 20:13] youdz commented on #1609
This issue was closed automatically because we merged a pull request that addresses it, but I want to make clear what we decided to do.

Your issue comes from the fact that you're using a `clr-header` without a parent `clr-main-container`, which we do not support. Our entire layout needs to be written with a `clr-main-container` at the root because components like header or responsive nav depend o

[2017-10-20 20:20] johnstill commented on #1609
I doubt I would've easily figured that out on my own, thank you for letting me know what I need to do. 👍

[2017-10-20 21:04] jonathantrevor opened #1627 "Clarity-icon JS file npm distribrution is widely blocked due to adblocker regex"
Related to https://github.com/vmware/clarity/issues/850 which was closed without any changes.

While clarity-ui itself does not ship a .js file the clarity icon package does (several minified js files depending on what icons are needed). Anyone using these files as part of the distribution (or copying to their own CDNs) will be unable to see clarity-icons because the clarity name is blacklisted on

[2017-10-20 21:32] mathisscott commented on #1627
Hi @jonathantrevor
#850 has been reopened and I've already been in contact with individuals on the ad blocker end of things.

Long story short, they aren't going to do anything. But I've identified a path forward and we will be executing on that in the next week or two.

I'm closing this as a duplicate. Please subscribe to #850 for future updates.

Thanks for raising awareness that your team was h

[2017-10-20 21:32] #1627 closed

[2017-10-20 23:23] clementcur commented on #1625
In the meantime, I got unblocked by following @Shijir advice, which is to listen to the `clrDgColumnResize` event on each column, and using a template reference on a specific column, I can detect if its size changed.

I'll let you guys decide if this enhancement still makes sense since @youdz mentioned that in a near future, the Datagrid component might move to a flexbox style instead of hard widt

[2017-10-21 03:49] rongery opened #1628 "List of cards does not show all cards -- seemingly unrelated html changes bring them back"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

See the plunkr. There should be 100 cards showing as you scroll down the page. Above the cards is an input box with a filter icon. Below the cards is the text "Bottom".

### Actual behavior

See the plunkr. Only some portion of the cards show up. Hover the mouse on any card, and the missing ones show up. Hover in the blank spa

[2017-10-21 15:59] WuglyakBolgoink opened #1629 "🤦🏻‍♂️ Question: Documentation"
Hallo guys,

I have a small question about updates in docu. :)

![image](https://user-images.githubusercontent.com/2271337/31853480-67062aa8-b689-11e7-9a69-892efa8cf627.png)

How can we see, what was changed? Are we have something like git repo?

[2017-10-21 18:07] hippee-lee commented on #1629
Hey there, @WuglyakBolgoink

For the latest news you can go to https://vmware.github.io/clarity/news.
That said, I did the release this week and forgot to update the sidenav notes for v0.10.10.
I'll update it so that it reflects the latest changes that were released last week.

[2017-10-21 18:07] #1629 closed

[2017-10-21 18:11] WuglyakBolgoink commented on #1629
Hallo @hippee-lee  thank you!

[2017-10-22 01:57] joshjohnson72 commented on #1328
While I think both the request for the collapse to be at the bottom and the different treatment of sub-menus both have some degree of merit, I'd suggest they be split into two issues, as they don't have strong dependencies on one another.

[2017-10-22 15:53] coldhamix opened #1630 "Dropdown has wrong initial position"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Closed dropdown should not create extra space on the screen

### Actual behavior

Dropdown has wrong initial position when dropdown's content is longer than trigger width. It result in unneeded scrollbars.

![dd-location](https://user-images.githubusercontent.com/2734568/31863675-cfa11428-b761-11e7-958d-3594b7311cde.png)

When

[2017-10-22 16:08] coldhamix commented on #1623
It looks to me to be the same bug as #1630

[2017-10-22 16:12] belyan commented on #1623
@coldhamix I agree with you.

[2017-10-22 17:29] windischb opened #1631 "Underlying checkboxex are in front of Dropdown body"
[code]

### Expected behavior
Use Dropdown in Datagrid ActionBar.

### Actual behavior
Checkboxes for selecting items are in front of dropdown body

### Reproduction of behavior
https://plnkr.co/edit/3nl7U7yjPXW9cHwI2gTr?p=preview

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:** 0.10.10

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Saf

[2017-10-23 02:06] adityarb88 commented on #1630
@coldhamix: We recommend that you use the `*clrIfOpen` directive with `clr-dropdown-menu`. Please see this: https://plnkr.co/edit/PE4d6fLvckVn8MKvuS8D?p=preview When you use `*clrIfOpen`, the menu is not loaded be default and is positioned correctly.

I believe this issue is a duplicate of: https://github.com/vmware/clarity/issues/1474. Please subscribe to that issue for more updates or use the al

[2017-10-23 02:06] #1630 closed

[2017-10-23 02:16] adityarb88 commented on #1628
Interesting. Haven't been able to figure out why this is happening. Will take a look again and get back to you.

[2017-10-23 13:28] adityarb88 commented on #1623
Closing this as a duplicate of #1474. Please subscribe to that issue for more updates.

[2017-10-23 13:33] adityarb88 commented on #1631
@windischb one alternative is that you add the dropdown outside of the datagrid for now: https://plnkr.co/edit/5xmfT9M4QeY4Vt91Ie5R?p=preview let us know if that works for you. We will still look for a solution to the issue you posted.

[2017-10-23 13:42] adityarb88 commented on #1630
Apologies. This is a duplicate of: https://github.com/vmware/clarity/issues/1262 Please subscribe to that issue for more updates.

[2017-10-23 20:30] gracesnoh opened #1632 "Datagrid Enhancement: Filtering"
## Description
Filtering in the datagrid component has been enhanced to include:
- Cross-column filtering
- Ability to easily clear filters
- Key:value filtering behavior
- Filter visibility

![documentaiton](https://user-images.githubusercontent.com/8237984/31907735-8a2e13e0-b7e9-11e7-9a72-c7d46eeae99f.png)

## Documentation*
### Filters (new section)
Filters are text-input based and are represen

[2017-10-23 23:56] yuxin-ux opened #1633 "Timeline component"
**Select one ...**  (check one with "x")
[code]

## Description
Timeline is a visual indicator that shows progress and might guide the user through a certain process

## Use Cases

- Set an expectation of the whole process
- See progress and the current step
- Read the additional description of each step and provide contextual actions

## Horizontal Timeline

### Layout
- Recommended for workflows

[2017-10-24 00:33] joshjohnson72 commented on #1632
This looks really good.  Three items I wasn't clear on though.

1. I assume that the filter label items are automatically AND'd together for the query.  If so, then I would assume there's some sort of OR'ing going on inside the filter label.  Does that mean I could have a filter that looks like this: (key: foo, bar)?

2. For the values of the filters, what's the purpose of adding the quotes?  Isn'

[2017-10-24 00:46] adityarb88 commented on #1633
@reddolan

[2017-10-24 01:15] harshabhat86 opened #1634 "Issue with consistent state change for tree-view"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Checking a top level node should check bottom level nodes till the leaf node even when the nodes are collapsed.

### Actual behavior

The clarity documentation has this bug already, so showing the gif from there.
 In the gif below, the states of READ, MODIFY, CREATE and DELETE should change when the checkbox "Authenticated Use

[2017-10-24 01:31] adityarb88 commented on #1634
@harshabhat86: I believe this is a duplicate of: https://github.com/vmware/clarity/issues/1400. Please subscribe to https://github.com/vmware/clarity/issues/1400 for more updates.

Closing based on this.

[2017-10-24 01:31] #1634 closed

[2017-10-24 01:45] harshabhat86 commented on #1634
Thanks @adityarb88 !

[2017-10-24 02:21] #1618 closed

[2017-10-24 02:49] adityarb88 commented on #1579
@lthoang101: We haven't heard back from you regarding this issue. We are closing the issue assuming that you managed to resolve it at your end. Please feel free to reopen the issue with the routes configured if you continue facing this and we will take a look. Thanks!

[2017-10-24 02:49] #1579 closed

[2017-10-24 02:53] adityarb88 commented on #1588
@quetool: Were you able to figure out what the issue was? No one else has reported this issue and we definitely require more information to reproduce this. We are closing this issue assuming that this issue is specific to your application. Please feel free to reopen the issue if you have more info on how to reproduce this and we will take a look. Thanks!

[2017-10-24 02:53] #1588 closed

[2017-10-24 02:56] adityarb88 commented on #1545
@reddolan: Please take a look and provide feedback whenever you a get a chance. Thanks!

[2017-10-24 03:33] arjunrao2709 commented on #853
@reddolan That is not it. I am looking for a determinate spinner. Here is an example. https://plnkr.co/edit/?p=preview

[2017-10-24 08:25] envyN opened #1636 "clr-wizard doesnt activate a page toggled with *ngIf if it is the first page"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
If i have a wizard with three pages out of which the first one is optional, i would toggle that page with a *ngIf but when the condition for *ngIf is truthy, the first page should be activated along with being shown in the steps.

### Actual behavior
For a page with *ngIf modifier, it is not activated and instead the next page

[2017-10-24 12:49] quetool commented on #1588
no @adityarb88 I am sorry! I went forward with the development after downgrade to 0.9.16. Yes, I will definitely reopen the issue if necessary! Thanks and sorry!

[2017-10-24 12:53] rokobasilisk commented on #1592
Also experiencing this issue.

[2017-10-24 13:07] adityarb88 commented on #1592
@williamhallatt @rokobasilisk: Clarity website is built on top of Angular CLI too and we didn't face this issue. Could you give us more information to reproduce this? Can this be replicated on a Plnkr? https://embed.plnkr.co/AuJuo5/ If not then can you share a git repo which reproduces this?

[2017-10-24 13:35] windischb commented on #1631
Yes, this is working for now!
Thanks

[2017-10-24 14:22] #1617 closed

[2017-10-24 15:09] adityarb88 commented on #1521
@mathisscott I don't this #603 will resolve this. The webfont conversion process somehow still does not fix the issue.

Also, I noticed that if you have multiple backtick characters in succession:

```<p>```````````` This line should show multiple backticks</p>```

then it renders like this:

![image](https://user-images.githubusercontent.com/1426805/31951335-c5371b18-b8ab-11e7-9ef0-ae283e452826.p

[2017-10-24 15:36] gnomeontherun commented on #1615
It works fine if you use `<button (click)="wizard.open()" >Open</button>` with a template variable set on the wizard itself `<clr-wizard #wizard [(clrWizardOpen)]="open">`. This can give you a workaround for now until I land a fix. https://plnkr.co/edit/qirZbs23IAYJnAkLaScr?p=preview

I can confirm that the two-way binding of the `open` property is rendering all buttons, have a fix coming.

[2017-10-24 16:09] GnanendraPaladugu opened #1639 "Right side fixed search filter compoent."
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Please add a component right side fixed search filter bar.  While we are scrolling up the filter section should show.

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x

[2017-10-24 16:16] adityarb88 commented on #1639
@GnanendraPaladugu: Thanks for filing the request!
Could you please provide more information on how the component should function?
Also, could you specify what use case is this component trying to solve?
Do you have any examples that you can post here?

We need additional details to review this request and provide feedback.

[2017-10-24 16:43] GnanendraPaladugu commented on #1639
Hi Aditya,
Please take a look once following url ans right side bar.
https://getbootstrap.com/docs/3.3/components/

[2017-10-24 16:53] adityarb88 commented on #1639
@GnanendraPaladugu:
Could you please elaborate more on why this should be a separate component. Also, in the link you shared above, I dont see the search filter bar?  Would you mind adding a few screenshots to your description so that we know exactly what you are requesting.

Also, We already support:
1. Sidenav: https://vmware.github.io/clarity/documentation/sidenav
2. Vertical Nav: https://vmwar

[2017-10-24 17:05] jayrungta commented on #1512
@adityarb88 that's good enough for me. Thanks again.

[2017-10-24 17:11] GnanendraPaladugu commented on #1639
Hi Aditya,
Can you please help me how to add image.
Thanks.

[2017-10-24 17:13] gracesnoh commented on #1632
Hi @joshjohnson72! Thanks for bringing up these points.

1. The AND/OR filters is definitely something we want to build into the next release of this, and I'll open a new issue to make sure it gets on the roadmap. Right now, we're going with what we currently have (string filters) so we can release this enhancement.
2. The quotes are meant to signify that the value is a string typed by the user. I

[2017-10-24 17:33] gracesnoh opened #1640 "Datagrid filters: and/or filters"
[code]

### Expected behavior
Built-in filters that let you AND/OR multiple filters (e.g. aws AND azure, windows OR linux)

### Actual behavior
Needs to be a custom built filter

### Reproduction of behavior
n/a

[2017-10-24 19:35] aaronfrost opened #1642 "Outputs for child components not firing when parent component uses *clrIfOpen"
[code]

### Expected behavior

When I make a component to do nested dropdown menus, the clicks from inside of the sub menus fire the output on the component, which the parent component can handle.

### Actual behavior

When I make a component to do nested dropdown menus, the clicks from inside of the sub menus DO fire the output on the nested menu component, BUT, because the parent component is us

[2017-10-24 20:19] youdz commented on #1642
That's an interesting one...

I don't want to classify it as a bug yet, because we need a bit more investigation. In the meantime, for the workaround, I would say the cleanest solution is simply to have the "root" component (the one that contains the trigger) declare a provider that contains the current selection. That way your components can communicate through a locally centralized service rathe

[2017-10-24 21:16] aaronfrost commented on #1642
😲  I haven't ever seen anything like this. This technique of creating an on-the-fly injectable like this... is kind of cool. What is this technique called?

[2017-10-24 21:38] youdz commented on #1642
It's a typical use of non-class dependency injection tokens. It's explained pretty well here: https://angular.io/guide/dependency-injection#dependency-injection-tokens

It's very useful to declare quick and small providers everywhere and communicate through them, you end up with a cleaner application than having to chain outputs from bottom components all the way up to top components.

[2017-10-24 22:11] joshjohnson72 commented on #1632
Other item that would likely have to be a future item but would be really useful is the ability to filter by date range, such that a user could create something like (date: 2017-10-24 to 2017-10-31) and any row item with a date that falls between those two bounds would be selected.  Alternatively, users should also be able to search by relative durations using something like (date: yesterday) wher

[2017-10-25 01:34] joshjohnson72 commented on #1632
Hi Grace, one more question (yes, I'm working on something in this area right now, hence my interest).

If I translate the design into a query string, I believe it becomes something like: Items WHERE key_1 contains value_a AND key_2 contains value_b.

I just want to be sure that the operator behaviour is meant to always be "contains" rather than say "is" or "starts with".  I personally think that

[2017-10-25 02:29] #1615 closed

[2017-10-25 02:49] KingMario opened #1643 "header display problem when there's a long navigation bar"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Show the header properly.
If the navigation bar too long, it would be appreciated if a dropdown is added to the right of the header to show the overflowed navigation links.

### Actual behavior

When the long navigation bar causes the header to be wider than the window, there are problems in showing the header.
For chrome, the

[2017-10-25 02:56] KingMario commented on #1643
PS: for Firefox, if the following css is added, the behavior is the same as for Chrome.
[code]

[2017-10-25 06:40] williamhallatt commented on #1592
@adityarb88 Here we go mate: [clarity-break-minimal](https://github.com/williamhallatt/clarity-break-minimal)

If you grab that repo 'as-is', it will build ("clarity-angular": "0.10.7"), as soon as you (nuke your node_modules), update the package.json to 0.10.9, 'yarn install' (I doubt it matters how you pull your packages, npm or otherwise, but included this bit for the sake of completeness) and

[2017-10-25 12:17] rokobasilisk commented on #1592
@adityarb88 it turns out we were referencing a clarity object 'Page' in a unit test which was causing the error as Clarity seems to have started using Declaration files in the node_modules. We fixed our unit tests by changing an import from `import { Page } from 'clarity-angular/data/datagrid/providers/page';` to `import { ɵz as Page } from 'clarity-angular'; `.

Then we also had to pass in a Stat

[2017-10-25 13:30] adityarb88 commented on #1643
@KingMario: Thanks for filing this issue. Our design recommendations say this:

![image](https://user-images.githubusercontent.com/1426805/32001050-99ed55e2-b966-11e7-9146-0eb93164e51c.png)

You can find our design recommendations for navigation here:
https://vmware.github.io/clarity/documentation/navigation

If you have more than 4 links on the header, then its better to use the secondary navigat

[2017-10-25 13:30] #1643 closed

[2017-10-25 13:43] mathisscott commented on #753
Design completed. Implementation will be tracked in #1632

[2017-10-25 13:43] #753 closed

[2017-10-25 13:43] adityarb88 commented on #1592
@williamhallatt, @rokobasilisk: It looks to me that this issue is happening when you try to access the internal API. @williamhallatt In the repo your linked above I see this:

[code]

Could you please tell me why you need access to the nav service and the nav codes. We do not export these and accessing them is going to cause breakages.

Same applies for `Page` @rokobasilisk

cc: @hippee-lee

[2017-10-25 13:48] #1572 closed

[2017-10-25 13:59] rokobasilisk commented on #1592
@adityarb88 we needed a greater level of customisation, and also as I previously mentioned for more thorough unit testing.

We understand the risks involved but thought our solution might help someone down the line and was worth posting!

[2017-10-25 13:59] mathisscott commented on #1569
@reddolan : Is this done?

[2017-10-25 14:00] mathisscott commented on #1537
@Shijir
Any update on this?

[2017-10-25 14:00] mathisscott commented on #1570
@reddolan
Any update on this?

[2017-10-25 14:13] mathisscott commented on #1119
@reddolan
Has this been done already?

[2017-10-25 14:19] mathisscott commented on #1639
@GnanendraPaladugu
You generally just have to drag the image into your comment box and it will upload. There's also the "selecting them" link at the bottom of the comment box...

[2017-10-25 14:31] mathisscott commented on #1622
`clr-modal` needs a `display: none` on the host when it is not open. This should fix this extra space that is added.

[2017-10-25 14:32] mathisscott commented on #1605
@reddolan ^

[2017-10-25 14:33] mathisscott commented on #1603
@reddolan ^

[2017-10-25 14:34] mathisscott commented on #1593
@youdz ^

[2017-10-25 15:02] showlong commented on #1592
We also face the same issue in our customized checkbox tree view that meets our product need after upgrading to 0.10.9. It seems we cannot customize clarity-angular widgets anymore.

[2017-10-25 15:12] gnomeontherun commented on #1636
Confirming as a bug, based on other similar issues its because ngIf makes the list of pages async to build and the initial page is set before the ngIf changes propagate through, thus selecting the first page without an ngIf.

You could workaround by instead having it skip to the second page instead of hiding the first page when you want to make the first one optional.

[2017-10-25 15:24] gracesnoh commented on #1632
@joshjohnson72 Yep, date filters are definitely in the roadmap. Have you seen examples of relative durations like "yesterday" being used in other applications? I think we would have to find a pretty good use case to implement something like that. 🤔

And yes, the query will continue to behave as "contains" rather than "is" or "starts with"; this is how the existing built-in string filter works curr

[2017-10-25 15:36] adityarb88 commented on #1592
@rokobasilisk: I am failing to understand why you need `Page` for testing components on your side. Could you please post an example and elaborate more on that?

@showlong: We need more details to understand the issue.

I don't believe this is true. What exactly are you trying to customize? What were you trying to access before that you cannot access now? If you provide us with more details and the

[2017-10-25 17:06] govi2010 commented on #1622
Hello Team , I am working on this right now Will send PR soon @mathisscott .

[2017-10-25 17:08] aaronfrost opened #1644 "Clarity Team: Request to attend podcast"
@youdz Would you and one of your teammates be interested in coming on Adventures in Angular podcast to talk about the Clarity project? It's a pretty chill podcast, where the panelists will just ask you questions, and you can talk about whatever you want to with regards to the Clarity project.

https://devchat.tv/adv-in-angular

_Sorry for submitting an issue for this. I didn't know how else to get

[2017-10-25 17:08] #1644 closed

[2017-10-25 17:08] aaronfrost commented on #1644
I found your email address. I will email you.

[2017-10-25 17:09] adityarb88 commented on #1622
Thanks @govi2010

[2017-10-25 18:55] joshjohnson72 commented on #1632
Relative date filters are something we hear commonly as an ask for customers.  Where it gets tricky is in some cases the duration is fixed and the end point is now (last 24 hours) and in some cases the duration is only semi-fixed and the end point isn't now (last month).  This is typically only an issue when the filter can be saved and re-run again later where the expectation is that the time-rang

[2017-10-25 19:13] CQBB commented on #1632
Thanks for the enhancement. Is there documentation that to show how to use the new feature?

[2017-10-25 19:31] #1613 closed

[2017-10-25 22:01] gracesnoh commented on #1632
@joshjohnson72 Thanks, that gives me a better idea of why that's a useful addition. Sounds like it would be worth trying to implement when the date filter is ready. 👍

@CQBB No problem! The documentation above should give you an idea of how it works; however, this is just a design spec and hasn't been implemented in Clarity yet. Feel free to follow this issue to track implementation progress!

[2017-10-25 22:56] showlong commented on #1592
I simply just want to +1 to report this issue.
In my case it seems the following 3 internal API are not exposed from your webpack build now but are available from previous angular cli build. It is simple question that if your webpack build block the internal APIs.

import {Expand} from 'clarity-angular/utils/expand/providers/expand';
import {TreeSelectionService} from 'clarity-angular/data/tree-vi

[2017-10-25 23:59] hippee-lee commented on #1221
This issue was closed with https://github.com/vmware/clarity/pull/1460

[2017-10-25 23:59] #1221 closed

[2017-10-26 00:53] gnomeontherun commented on #1592
I believe our bundles are now correctly isolating private APIs, and I don't believe we want to be supporting internal APIs that aren't meant for external consumption.

I'm not entirely sure what the use cases are for them here. If you are accessing internal APIs of Clarity, then you are likely unit testing Clarity and not your components, and the recommendation is to test using the public APIs.

[2017-10-26 06:35] GnanendraPaladugu commented on #1639
![filter](https://user-images.githubusercontent.com/32838279/32038056-cc44b9c4-ba45-11e7-9e7a-1feaeee8d0ac.png)

Please take a look above image if we are scrolling up filter will be same position.

[2017-10-26 08:17] kaleksandrov commented on #474
Hi @mathisscott,

Can you give more details on the work that is going on - ETA? What is going to be delivered - the whole feature or just some parts? If so, which parts?

Thanks!

[2017-10-26 10:16] Aeseir commented on #1565
Just a addition to this,  **[(clrVerticalNavCollapsed)]="collapsed"** doesn't seem to do anything as per example (with @jlkoszarek fix that is).
However  **[clrVerticalNavCollapsed]="collapsed"** loads the vertical nav in collapsed state which i believe was the intention of demo (could be wrong, most likely am).

[2017-10-26 11:32] williamhallatt commented on #1592
@adityarb88

"Could you please tell me why you need access to the nav service and the nav codes. We do not export these and accessing them is going to cause breakages."

That explains a lot, I did not actually implement those bits, will find out and confirm whether or not there was a logical use-case or if it is learning curve related.

Thanks for the investigation and feedback!

[2017-10-26 13:39] adityarb88 commented on #1559
@jbgarr: Could you check if any of the parent elements of your card has a `position: relative` or a `overflow: hidden`. That might clip the tooltip. Also are you using the Angular tooltip component?

[2017-10-26 13:51] mathisscott commented on #474
Hi @kaleksandrov
Version 1 of the datepicker is going to be the input that opens a calendar from which a single date can be selected.

What were you needing and when were you needing it by? I might be able to give you an idea of if it can be expected to be ready for your case.

[2017-10-26 13:59] mathisscott commented on #1639
@GnanendraPaladugu
I see what you're trying to do. You should look into [CSS Grid](https://developer.mozilla.org/en-US/docs/Glossary/Grid) or [Flexbox](https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox).

Note that a limitation of that proposed layout is if the content in the right section is too tall for a browser window.

[2017-10-26 13:59] #1639 closed

[2017-10-26 16:07] govi2010 commented on #1622
hello @mathisscott , I have made changes which are require. now i am doing `npm build`, then `npm start`. I noticed that my changes are not being applied. Sorry to ask but I am new to this project. am i doing something wrong?

[2017-10-26 16:25] govi2010 commented on #1622
@adityarb88  Sending PR.

[2017-10-26 16:43] govi2010 commented on #1622
#1647 here is FIX @adityarb88  and @mathisscott . Let me know if you need any help

[2017-10-26 17:13] reddolan commented on #1569
Sketch Library updates are complete and ready for the update in #1570
[Clarity-UI-Library-0.10.11.sketch.zip](https://github.com/vmware/clarity/files/1419344/Clarity-UI-Library-0.10.11.sketch.zip)

[2017-10-26 17:47] #1569 closed

[2017-10-26 17:50] adityarb88 commented on #1623
duplicate of #1232. Please subscribe to #1232 for more updates.

[2017-10-26 17:50] #1623 closed

[2017-10-26 17:57] #1232 closed

[2017-10-26 19:38] jbgarr commented on #1559
@adityarb88 Ok, I found the issue, but I'm not sure the best way to handle it. Right now, the tooltip is wrapped by a parent component that has a `position: relative` in order to position the icon that anchors the tooltip correctly (in the top right of my component). Is the only solution to avoid clipping of tooltips to make sure that no parents of a tooltip has a `position: relative`? That seems

[2017-10-26 21:06] reddolan commented on #1570
Clarity UI Library - 0.10.11
[Uploading Clarity-UI-Library-0.10.11.sketch.zip…]()

Clarity Icons Library - 0.10.11
[Clarity-Icons-Library-0.10.11.sketch.zip](https://github.com/vmware/clarity/files/1420056/Clarity-Icons-Library-0.10.11.sketch.zip)

[2017-10-26 22:53] reddolan commented on #1570
![artboard](https://user-images.githubusercontent.com/1858226/32080656-cbd123fe-ba65-11e7-9942-0de8942cf158.png)

[2017-10-26 23:02] steveland83 commented on #1592
@adityarb88 In relation to your question to @williamhallatt  above - we're using the ResponsiveNavService because the responsive menu's hamburger toggle actions dont seem to fire automatically - at least in our implementation.

I've forked the example @williamhallatt created to demonstrate the issue - to see this behaviour, pull down and serve this app: https://github.com/steveland83/clarity-break

[2017-10-27 06:29] dkanev opened #1649 "The latest npm packages of clarity don't contain typescript files of the components"
[code]

### Expected behavior
The clarity npm packages to have "src" folder with the component typescript files which to be consumed from webpack builds.
### Actual behavior
The clarity npm packages after version 0.10.7 don't have “src” folder with typescript files of the components.
The result is that the build of our project which uses webpack and uses clarity is failing.
![claity-angular packag

[2017-10-27 06:37] steveland83 commented on #1592
Update to the above - I've just found https://vmware.github.io/clarity/documentation/navigation
This section does describe the usage for responsive nav - we just didnt think to look under patterns before.

I've tested with this - and it certainly does work if used as described (`<clr-header>` tag directly within `<clr-main-container>`). In our case we insert this code based on the route (we have p

[2017-10-27 07:33] kaleksandrov commented on #474
Hi @mathisscott,

Thanks for the fast reply!

We need the date and time picker in order to use it in a bigger component for picking a time range, where the user should be able to pick starting and ending time of a period. That's why we need both the date and time pickers. Our deadline is at the end of the year, however anytime sooner will be great.

Thanks!

[2017-10-27 11:58] pakopa opened #1650 "Update docs re: datagrid selection (header checkbox only selects rows on current page)"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Header checkbox selects all rows in the datagrid record set

### Actual behavior
Header checkbox selects only the rows on the current page.

Is this the intended behavior? Maybe there could be an option to perform the selection of all rows.

### Reproduction of behavior
Check the header checkbox in the header of a datagrid with

[2017-10-27 13:18] youdz commented on #1649
We are just following Angular's recommendation when it comes to publishing libraries.
For instance, if you look at Angular itself, they are not publishing the typescript files either, just the `.d.ts` and a single (or almost single) JS file in ES5. We are doing exactly the same.

If your project is using webpack and can build with Angular, then it can build with Clarity. You shouldn't compile from

[2017-10-27 13:18] #1649 closed

[2017-10-27 13:43] dorthrithil opened #1651 "Sorting / order icon"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
An icon that can be used on buttons that provide sorting functionality for lists, tables, etc. This could look for example like the icon used by Youtube:

<img width="93" alt="screen shot 2017-10-27 at 15 41 16" src="https://user-images.githubusercontent.com/3655915/32106968-83aeb56e-bb2d-11e7-8362-eff2c8fed57d.png">

### Actua

[2017-10-27 13:45] adityarb88 commented on #1651
@lil-kim, @mathisscott

[2017-10-27 13:45] adityarb88 commented on #1650
cc: @reddolan

[2017-10-27 13:59] adityarb88 commented on #1592
@steveland83: Could you replicate your issue on a Plnkr https://embed.plnkr.co/AuJuo5/ and file a new issue. Once you do that we can figure out whats going on.

[2017-10-27 14:04] nghiado commented on #1636
We had the same issue, the first step only available during Add flow so we have to hide in Edit flow.
Please fix this, thanks.

[2017-10-27 14:09] adityarb88 commented on #1592
I am going to close this issue. For more details please read @youdz's response here: https://github.com/vmware/clarity/issues/1649#issuecomment-339968863

I would recommend that you submit a separate issue for each of your use cases which break after upgrading from 0.10.7 to the latest version. Please provide details on why you need to access the internal API and we can give more feedback on how y

[2017-10-27 14:09] #1592 closed

[2017-10-27 16:08] mathisscott commented on #474
@kaleksandrov
The time picker is not part of the initial delivery. That will come in a later phase.

And I don't know if there will be enough time post-delivery of the date picker for you to integrate it by the end of the year. We're still a ways out on it.

I advise moving forward with another datepicker like https://www.npmjs.com/package/ng-pick-datetime for now.

[2017-10-27 16:22] kaleksandrov commented on #474
@mathisscott, thanks for the information and the suggested workaround!

[2017-10-27 16:22] mathisscott commented on #1651
I added this to the Vol. 9 Icon epic -- #1518 . @lil-kim , could you review this request and make a determination on its inclusion when you circle back around to icons? Thanks.

[2017-10-27 17:04] #1570 closed

[2017-10-27 17:08] mathisscott commented on #850
I'm going to need some help from @jeeyun to work through a webpack issue I'm hitting with this.

[2017-10-27 18:04] RainTomassi opened #1652 "Registering for Datagrid Checkbox events"
**Select one ...**  (check one with "x")
[code]

We have the scenario where we are using a datagrid to display a list of 'items'.  Each item has the potential to have subitems.

![image](https://user-images.githubusercontent.com/20799942/32117939-de59e868-bb04-11e7-8e6e-26f4eb315a0f.png)

It would be nice to be able to register for notifications when a datagrid checkbox was checked.  In our scenar

[2017-10-27 18:56] mathisscott commented on #850
@jeeyun : Nevermind on previous comment. @hippee-lee helped me out. I just have one more hurdle to figure out. I'm hoping to have something to discuss on this on next Tuesday's standup. I know you're still out so no worries on that. ❤️

[2017-10-27 20:14] reddolan opened #1653 "Update Vertical Nav examples to have correct background color"
[code]

### Expected behavior
Vertical Navigation examples should have a #fafafa background color on the content area

### Actual behavior
background color is #ffffff right now

### Reproduction of behavior
![image](https://user-images.githubusercontent.com/1858226/32123363-beab17b2-bb18-11e7-880c-7a86d5623df4.png)

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* *

[2017-10-27 20:29] adityarb88 commented on #1653
fixed

[2017-10-27 20:29] #1653 closed

[2017-10-27 22:22] steveland83 commented on #1592
Thanks @adityarb88 - we do not need access to the internal API.
Our problems with Responsive Nav were the result of incorrect classes on the nav element - which were resolved after comparing to the example at https://vmware.github.io/clarity/documentation/navigation

[2017-10-28 21:04] youdz commented on #1652
`[(clrDgSelected)]` on the datagrid rows offers two-way binding, which means there is a `(clrDgSelectedChange)` output for you to use in this case. It emits `true` when the user selects the row, and `false` when the user unselects it.

I'm closing this issue because the feature already exists, but I recommend posting on StackOverflow with `vmware-clarity` tag (https://stackoverflow.com/questions/t

[2017-10-28 21:04] #1652 closed

[2017-10-29 03:05] aaronfrost opened #1654 "Documentation for clrSignpostPosition needs to be updated"
**Select one ...**  (check one with "x")
[code]

### Actual behavior

In the documentation for signposts, it says two things that need to be updated. First, it needs to show that `clrSignpostPosition` has changed to `clrPosition`, and second, it needs to show that the `clrPostion` goes on the `clr-signpost-content` component, NOT ON the `clr-signpost` component. Currently, the documentation shows

[2017-10-30 00:13] adityarb88 commented on #1654
@hippee-lee could you please take a look at this?

[2017-10-30 09:23] kaleksandrov opened #1655 "Datagrid footer is not fully visible in IE and Edge browsers when there is a horizontal scrollbar"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The datagrid footer should be fully visible in all browsers.

### Actual behavior
When there is a horizontal scrollbar, it covers the datagrid footer in IE and Edge browsers

### Reproduction of behavior
https://plnkr.co/edit/UC5YXXKWYsDqTaAOIJJs

### Environment details

* **Browser:** IE, Edge

[2017-10-30 13:17] adityarb88 commented on #1655
I believe this is a duplicate of #1255. Please subscribe to #1255 for more updates. Closing the issue as duplicate.

[2017-10-30 13:17] #1655 closed

[2017-10-30 14:23] KeirDavis1 opened #1656 "Login component not taking up entire page"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
The login component to take up the entire screen with no scroll or padding.

### Actual behavior
Shows padding and a scrollbar. This is meant to be a single page login screen and doesn't look right with the padding and scrollbar.

### Reproduction of behavior
![image](https://user-images.githubusercontent.com/1273689/32175664-7

[2017-10-30 14:28] adityarb88 commented on #1656
@KeirDavis1: Our UX team recommends that you should use the login as a separate page without the header. It looks like you are placing the login inside of the `.content-area` which has a padding on it. Please let me know if this helps.

[2017-10-30 14:30] KeirDavis1 commented on #1656
Yes, it's a component which is loaded in via the app.routing. How do I specify that the application load this without the `.content-area`?

[2017-10-30 14:34] KeirDavis1 commented on #1656
Or should I really say, what is the recommended way of completing this?

I'm aware that the app.component.html contains the following snippet, however if I am to remove this, it will lose padding on all the other pages.
[code]

[2017-10-30 14:57] adityarb88 commented on #1656
@keirdavis1: You could use router outlet name to render the login component outside of the layout that clarity provides and render everything else inside of the layout.

More info here:
https://angular.io/api/router/RouterOutlet
https://stackoverflow.com/questions/38038001/multiple-named-router-outlet-angular-2

If you have more questions, I would recommend asking on StackOverflow with the `vmware

[2017-10-30 14:57] #1656 closed

[2017-10-30 16:23] hippee-lee commented on #1654
Thanks for reporting this @aaronfrost.
I updated our docs and it will get published this week.

[2017-10-30 16:51] RainTomassi commented on #1652
Thank you Eudes for the guidance.  I was unaware of the relationship between the two.  Also, good thoughts on Stackoverflow.  Thanks again.

[2017-10-30 18:33] #1654 closed

[2017-10-31 05:43] krotscheck commented on #1186
In case you'd like a slightly more elegant workaround for this (including #126) when using `router-outlet`, here's a way to apply a class to the "Host" container created by the router outlet, so that clarity's styles will flow properly. In the below case, the router outlet lives as an immediate child of the `<clr-main-container>`, and receives the class from the currently loaded component.

[code]

[2017-10-31 07:39] kaleksandrov commented on #1255
The behavior is observed in Edge as well

[2017-10-31 08:09] madhurpgarg opened #1660 "Tooltip support for svg"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I would like to use the tooltip component in svg as well

### Actual behavior
Not possible to use current tooltip component in svg

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **

[2017-10-31 13:34] zeratulmdq commented on #1642
Subscribing for notifications.

[2017-10-31 14:28] jacobbutton opened #1661 "Datagrid action icons should be vertically aligned in the middle of a grid row."
**Select one ...**  (check one with "x")
[code]
### Actual behavior

Action Icons are top aligned

![grid-alignment](https://user-images.githubusercontent.com/7592811/32229038-40122b28-be26-11e7-8622-d8af95b7953b.png)

[2017-10-31 14:33] hippee-lee commented on #1661
Thanks for reporting this. Can you update the issue with a plunker that recreates the issue so we can take a look at it?

https://embed.plnkr.co/AuJuo5/

[2017-10-31 14:34] mathisscott commented on #1661
Hi @jacobbutton
The initials bubbles are pushing the row height of that datagrid out. Our recommendation would be to reduce the size of those bubbles so that your row heights can be 35px (plus border) tall.

If that is not something you are interested in pursuing, you can reposition the icons using CSS.

[2017-10-31 14:35] mathisscott commented on #1660
@madhurpgarg
What do you mean by "use the tooltip component in svg"?

[2017-10-31 19:19] zeratulmdq opened #1662 "Weird behaviour using clr-dropdown inside a component with OnPush detection strategy"
**Select one ...**  (check one with "x")
[code]
### Actual behavior
We are migrating from 0.9.14 to latest and I’ve found a weird behaviour when using `clr-dropdown` on a component with `ChangeDetectionStrategy.OnPush`. If you don’t add the `clrIfOpen` directive to `clr-dropdown-menu` component, once you click on the trigger button, the menu opens correctly but if you click outside of the menu it

[2017-10-31 19:37] nghiado opened #1663 "Support css utils classes to keep our code DRY"
[ ] bug
[x] feature request
[ ] enhancement

### Expected behavior
Clarity should  support css utils like bootstrap provided here https://github.com/twbs/bootstrap/tree/v4-dev/scss/utilities?

We found that during migration our app from bootstrap based styles to Clarity, we ended up copied these classes into our codebase which I feel like they should belong to clarity-ui css since they are used ev

[2017-10-31 19:57] jacobbutton commented on #1661
@hippee-lee - please excuse the css hack to push the row height, I couldn't figure out how to load the ngx-avatar package into plunkr to recreate the exact scenario I have in my application. This ends up producing the same results though.

https://embed.plnkr.co/Pp51MXJYEzyLm1vS6wAB/

@mathisscott - repositioning the buttons/icons via css was my initial approach, but that ended up proving to be ea

[2017-10-31 20:21] mathisscott commented on #1661
@jacobbutton

Doesn't seem too bad to me... https://plnkr.co/edit/LhpBHhVvYZl9xBo4wbJl?p=preview

YMMV

The challenge is that you don't really want the actions to center align in the row.

You want them to vertically center with the first line of your content. The reason this isn't happening is because the `ngx-avatar` is blowing out the line height to 32px.

We can't vertically center the actions

[2017-10-31 20:29] jacobbutton commented on #1661
@mathisscott - I'm not seeing a difference between your plunk and mine

[2017-10-31 20:43] mathisscott commented on #1661
@jacobbutton
My bad. Plunkr goofed up on saving my work. Hopefully [this one looks better](https://plnkr.co/edit/Kh30T6ZOg9qpbf59w7d0?p=preview)

[2017-11-01 07:23] madhurpgarg commented on #1660
I can use tooltip component as mentioned in documentation for ex,

<a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
    <clr-icon shape="info-circle" size="24"></clr-icon>
    <span class="tooltip-content">Lorem</span></a>

​Which is fine when I am using this tooltip in regular html tags, but I
would like to use this tooltip ​with the same styling in D3 charts (which
a

[2017-11-01 09:49] MatthiasSkopek opened #1664 "Clarity Server Side Rendering"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

I have an Clarity Angular app and with ng serve it works great. But with server side rendering in Angular 4.3.6 it crashes.
### Actual behavior

I get this error...
**node_modules/clarity-angular/utils/template-ref/template-ref-container.js:6
import { Component, TemplateRef, ViewChild } from "@angular/core";
^^^^^^
SyntaxError

[2017-11-01 13:38] jacobbutton commented on #1661
I wanted to avoid modifying the global css to affect the style of a single component, but I suppose I can make that work.  Any idea why adding these rules to the component css doesn't work? Thanks.

[2017-11-01 13:41] jacobbutton commented on #1664
From my understanding Clarity does not support Server Side Rendering. At least, it didn't use to, and I don't remember that changing. You're most likely going to have to turn server side rendering off if you wan to continue using Clarity.

[2017-11-01 14:02] #1551 closed

[2017-11-01 14:04] #1565 closed

[2017-11-01 14:05] mathisscott commented on #967
Passing over to @reddolan to create Dark Theme Sketch Library after dark theme implementation is approaching completion per discussion at this week's UX meeting.

[2017-11-01 14:15] mathisscott commented on #1664
@MatthiasSkopek
My understanding is that we are working on server-side rendering for after the Angular 5 release. The problem we have is that there are some native elements in a few of our components that we need to place guards around. This won't be backported but I believe it will be viable within the 0.10.x releases.

Pinging @youdz and @gnomeontherun for more details. Please close if this is a

[2017-11-01 14:18] gnomeontherun commented on #1664
I'm actually working on SSR with Clarity for our documentation, and I have not seen this issue. From what I can gather this sounds like a possible configuration issue with your compiling because it is complaining about `import`.

I'm working against Angular 5.0.0-rc.7 right now and the latest Clarity. There are some things that have to be ironed out so that pages can render properly (such as a few

[2017-11-01 14:21] mathisscott commented on #1661
@jacobbutton
Our datagrid rows are 36px tall. The `ngx-avatar` code you are using inside the datagrid is making the rows 42px tall. As explained above, "centering" the actions on a datagrid row is not a viable solution. What users expect is that the actions align with the first line of content in a datagrid row.

We do this now with the first line of content fitting in the design of 36px tall sing

[2017-11-01 14:21] #1661 closed

[2017-11-01 14:23] mathisscott commented on #1660
@madhurpgarg
Writing the HTML/CSS manually is the way to go. It may not seem that way. But if we were to "separate" the tooltip content as its own component, you'd have the same issue.

[2017-11-01 14:23] #1660 closed

[2017-11-01 14:25] mathisscott commented on #1650
This is the expected behavior. Do we have documentation we need to update on this @reddolan ?

[2017-11-01 14:30] adityarb88 commented on #1628
@rongery: I can't seem to replicate this now. @hippee-lee can you replicate this now?

[2017-11-01 14:34] mathisscott commented on #1545
The Materialize tabs approach is not accessible in high contrast modes. We can't use that approach. Closing for now...

[2017-11-01 14:34] #1545 closed

[2017-11-01 14:36] mathisscott commented on #184
Verified with @adityarb88 that this is not something that is still a problem.

[2017-11-01 14:36] #184 closed

[2017-11-01 14:43] AlexeyKub commented on #547
How to use "details per cell" in the datagrid row?

[2017-11-01 17:09] jacobbutton commented on #1661
@mathisscott - you already explained that and I accepted that answer. My next questions was why does that css have to be global?  Try placing that css you wrote in index.html and put it in app.component.css, it doesn't work, I don't understand why it doesn't.

https://plnkr.co/edit/ntNQecf8nzD1UkiJAC90?p=preview

As I said I can make it work as is, I'd just like to understand what's going on.  Sor

[2017-11-01 17:18] adityarb88 commented on #1661
@jacobbutton: Would you mind asking this question on StackOverflow with the `vmware-clarity` tag: https://stackoverflow.com/tags/vmware-clarity? We are very active on StackOverflow and will make sure to answer this. This way this answer can be useful to other members in the community too. Thanks!

[2017-11-01 17:33] mathisscott commented on #1661
@jacobbutton
[It doesn't have to be global.](https://plnkr.co/edit/Y5iBV1qJOWbsnqO5jIW2?p=preview)

The reason the CSS is in index.html is because of Plunkr. Plunkr loads the CSS in weirdly so what winds up happening is your CSS on app.component.css actually gets loaded in _before_ the clarity CSS (which means the clarity CSS overrides it because it's same specificity and later in the cascade).

[2017-11-01 17:56] jacobbutton commented on #1661
Yes, you can add a specific class selector, that's not what I meant by global. Maybe I'm not using the correct terminology.  I was referring to what file you're in, whether its the index.html (global), or in the component where you're implementing the grid.  The selection for the caret does not work from the component, regardless of whether it's in plunkr or in my dev environment, it must be selec

[2017-11-01 18:52] jacobbutton commented on #627
I'm looking for this functionality as well

[2017-11-01 21:27] dorthrithil opened #1665 "Input field prefix and suffix"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
It would be really nice to have the possibility of adding pre- and suffixes to input fields. This is useful for adding units to an input for example.

Here's a concrete example of what I mean: https://material.angular.io/components/form-field/overview#prefix-amp-suffix

### Environment details

* **Clarity version:** 0.10.11

[2017-11-02 08:04] MatthiasSkopek commented on #1664
I follow the documentation for running SSR, so i dont‘t know... an other project without an Clarity worked just fine. Should I upgrade to Angular 5 and the newest Clarity version?

[2017-11-02 09:08] MatthiasSkopek commented on #1664
When I leave out --prod and --aot than it works. But now there is this error

ClarityIconElement.prototype = Object.create(HTMLElement.prototype, { constructor: { configurable: true, writable: true, value: ClarityIconElement } });
ReferenceError: HTMLElement is not defined

With Angular 5.0.0 and Clarity 0.10.11

[2017-11-02 13:08] adityarb88 commented on #1665
@dorthrithil: Thanks for the feedback. We will pass this back to our UX team and see what they say.

@reddolan: Could you please take a look at this?

[2017-11-02 13:24] adityarb88 commented on #1663
@nghiado: Thanks for the feedback. We already do import a few utility classes from Bootstrap but we are planning to revisit those imports. We want to deprecate some of them.

We do provide alignment classes where needed for eg in our Grid: https://vmware.github.io/clarity/documentation/grid

We don't believe that we need to add utility classes for positioning and spacing because:
1. Positioning ut

[2017-11-02 13:28] dkanev opened #1666 "Can not shrink datagrid columns on Chrome"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
I am creating clarity datagrid columns by iterate column definitions with *ngFor.
I expect the created clarity datagrid columns to be shrinkable.
### Actual behavior
When create clarity datagrid columns (clr-dg-column elements)  with *ngFor, they can't be shrink on Chrome.
The shrink of the datagrid columns work on FF and IE.

[2017-11-02 13:30] adityarb88 commented on #1666
@dkanev: Thanks for reporting this. We will take a look and get back to you.

@Shijir: Would you mind taking a look at this.

[2017-11-02 13:51] #1326 closed

[2017-11-02 14:40] gnomeontherun commented on #1664
I'd need to have a look at your build and configuration, if you can create a sample repo with one that is giving you trouble? I'm finding that for SSR I was able to get icons working better if I included them in the index.html instead of .angular-cli.json. I'm still investigating this so your milage may vary.

[2017-11-02 14:46] reddolan commented on #1665
@dorthrithil this looks very similar to the request in #1478. Is that correct?

[2017-11-02 15:14] dorthrithil commented on #1665
@reddolan Yes, kind of. Although @srivathsah was only referring to the bootstrap input group buttons. The feature I was referring to would be the `input-group-addon` span in bootstrap.

[2017-11-02 15:15] dorthrithil commented on #1478
@srivathsah For checking the username availability in a form you could use an async validator and then indicate errors via the standard input alerts.

[2017-11-02 15:37] reddolan commented on #552
@Jinnie the plnkr you have in the description seems broken now

[2017-11-02 16:00] gnomeontherun commented on #1664
Are you running dynamic or static rendering? Dynamic seems to work better, but static rendering causes things like icons not to display (because they don't get added unless you have a `window` object).

[2017-11-03 08:38] Jinnie commented on #552
@reddolan I will soon update it, although based on our current implementations and experiences within our and related teams, I will have to make some modifications to the original request. Namely:
- The panel should not overlap the main content, but stay next to it.
- The panels should be resizable. Which probably leads us to the idea, that many people will benefit from a general split pane in Cla

[2017-11-03 15:23] ali5ter opened #1668 "Sketch UI Library: Label of text symbols to include application"
**Select one ...**
[code]

### Expected behavior
When adding/replacing a symbol from Clarity-UI-Library-0.10.11, it would be useful if the label for the text symbol described how the text should be used - like the former Craft library did for text styles (see image)
![screen shot 2017-11-03 at 11 13 24 am](https://user-images.githubusercontent.com/265869/32381133-599c8fde-c088-11e7-8c1d-520d0bd1c4

[2017-11-03 16:21] oliverhanappi opened #1669 "Clarity Icons should not be focusable in Internet Explorer"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Icons should not be focusable elements.

### Actual behavior

In contrast to any other browser, SVG elements are focusable by default in Internet Explorer 11. It is required to mark them explicitly as non-focusable using the following attribute (see https://stackoverflow.com/questions/18646111/disable-onfocus-event-for-svg-ele

[2017-11-03 16:22] adityarb88 commented on #1669
@oliverhanappi Thanks for reporting this issue. We will take a look at this and get back to you.

@Shijir: could you please take a look at this?

[2017-11-03 17:11] Shijir commented on #1669
@oliverhanappi, I wasn't aware of the issue in IE11. The solution you mentioned seems to be the only working solution to circumvent this IE11 issue. We will make changes to how we currently store our shape templates soon. In the same process, we will also address this issue. Thanks for reporting this issue.

[2017-11-03 17:44] Shijir commented on #1666
This is the duplicate of https://github.com/vmware/clarity/issues/1537.

[2017-11-04 12:03] whizkidwwe1217 opened #1672 "Form input control's focus highlight is double stroked when inside a form in Chrome browser"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Input focus highlight should be a single solid stroke.
![image](https://user-images.githubusercontent.com/1977391/32405167-9e102c1c-c19a-11e7-9bc2-2649f441960e.png)

### Actual behavior

When an input is placed inside a form and the form is placed inside a div with a 'row' class (i.e. Forms in Grid), the focus highlight stoke

[2017-11-05 20:03] coldhamix opened #1673 "Clarity CDK"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
It would be great to have something like Component Development Kit based on Clarity as Angular Material has one https://material.angular.io/cdk/. Clarity implements a number of useful directives and classes that are unfortunately private for external developers. I wanted to implement a custom element based on AbstractPopover, b

[2017-11-06 12:07] shepsels opened #1674 "modify the CSS to allow for tooltips to be placed in the datagrid and table headers"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When hovering over datagrid column title, it should show a tooltip with the full column name for long names.

### Actual behavior
There's no tooltip currently.
### Reproduction of behavior
any grid. for example:
https://embed.plnkr.co/plunk/KJhNDD

* **Browser:** [all ]

[2017-11-06 14:39] adityarb88 commented on #1674
@shepsels: Clarity uses a declarative API. So if you wanted to do this you could do this right now. Please see this plnkr: https://plnkr.co/edit/WtlaxXPJgsSxGNiIC2Gd?p=preview Note that this is not recommended or supported by default. You would have to make sure that the column alignment is fine by adjusting the CSS at your end.

I will also tag our UX team to check with them, what they recommend

[2017-11-06 14:46] adityarb88 commented on #1672
@whizkidwwe1217 Thanks for filing this issue. I cant reproduce the issue in the screenshot that you provided above. I see this in your plnkr:

![image](https://user-images.githubusercontent.com/1426805/32446541-3e662c2e-c2d7-11e7-8e73-f8cd063af0f4.png)

Could you please provide a plnkr which replicates this issue and we will take a look at it.

[2017-11-06 14:47] adityarb88 commented on #1668
@reddolan: Could you please take a look at this issue?

[2017-11-06 18:44] mathisscott commented on #1674
I think we should modify the CSS on our end to allow for tooltips to be placed in the datagrid and table headers without blowing out the height of the header cell. Other than that, I don't think we should change our UX recommendations or make any other concessions on this issue.

Given that the CSS is easy to implement on the product side, I will mark this as `has-workaround` and prioritize accord

[2017-11-06 18:53] mathisscott commented on #1661
@jacobbutton
The issue you are having is due to view encapsulation. There are ways around that. [This is one of them](https://plnkr.co/edit/HV8735?p=preview). I can't recommend which approach is best for your application...

[2017-11-06 19:19] jacobbutton commented on #1661
Thanks. I'll look into that.

[2017-11-07 00:52] hippee-lee opened #1675 "`clr-dg-row-detail` Components should expand to take the full width of the parent"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The `clr-dg-row-detail` component should expand to take the full width of its parent (row) container.

### Actual behavior
The `clr-dg-row-detail` component is only as wide as its content.

See the datagrid under Custom Component Row Details in [this](https://plnkr.co/edit/uVsLLzqcgnjTc9SXUyVG?p=preview) plunker for a reproduc

[2017-11-07 02:17] whizkidwwe1217 commented on #1672
@adityarb88 I issue happens when scaling the display in Windows 10. I'm using Dell XPS 13 and it has very small aspect ratio so I had to scale it up to 125%.
![image](https://user-images.githubusercontent.com/1977391/32473685-d0bd7240-c3a3-11e7-8f4d-9113c0bd4f2a.png)

It can also be replicated even in 100% by just zooming in the browser in Chrome.
![image](https://user-images.githubusercontent.com

[2017-11-07 12:40] chanm003 opened #1676 "Error when opening modal: No provider for InjectionToken DocumentToken!"
[code]

### Expected behavior
Modal should open.

### Actual behavior
Console shows following error:
Error: No provider for InjectionToken DocumentToken!

Is this a service that needs to be registered somewhere?

### Reproduction of behavior
Copied the markup from:
https://github.com/vmware/clarity/blob/master/src/app/modal/modal-angular-show.demo.html

So view template looks like this:
[code]
And

[2017-11-07 12:58] chanm003 commented on #1676
My app.module.ts looks like this:
[code]
I also use a shared module.  SharedModule gets imported into all my feature modules:
[code]

[2017-11-07 14:15] adityarb88 commented on #1676
@chanm003: I can't replicate this issue. Please see this: https://plnkr.co/edit/wKjfh33HbIQTR7aU6quh?p=preview

Could you please replicate this on a Plnkr?

[2017-11-07 14:23] jacobbutton commented on #1675
Thanks for posting this here @hippee-lee. I never know if I should be posting this stuff in the issues here or over on stackoverflow. I don't want to clog up the issues here if it's not necessary.

[2017-11-07 14:29] adityarb88 commented on #1675
@jacobbutton: This definitely was a good question for StackOverflow. While answering it, we found a bug and thats why moved it to Github :-) Thanks for filing this issue/question! Please note though that there is a workaround for this issue like @hippee-lee mentioned above. Just noting that so that you are not blocked by this bug.

[2017-11-07 14:33] jacobbutton commented on #1675
The workaround has already been implemented and is working wonderfully. Thanks again.

[2017-11-07 15:56] jacobbutton commented on #627
@mathisscott - is there still a workaround for this with the new way tabs are implemented?

[2017-11-07 16:53] mathisscott commented on #627
@jacobbutton
You can try what @rongery did above to see if that would work for you.

[2017-11-07 17:14] chanm003 commented on #1676
@adityarb88 Thanks for the quick response.

The issue went away.  I upgraded from Angular 4.2.4 to 5.0.0 and went to Clarity 0.10.12

I am not sure if I had to do both.  Or just needed to do one of the above.

[2017-11-07 17:14] #1676 closed

[2017-11-07 18:22] jacobbutton commented on #627
It does, but some changes need to be made to make the workaround compatible with the new tabs markup.

The new markup is...
`    <clr-tab>
        <button clrTabLink [routerLink]="./stream">Stream</button>
        <clr-tab-content *clrIfActive="isActivePath('stream')">
            ***
        </clr-tab-content>
    </clr-tab>
`

[2017-11-07 19:43] gnomeontherun commented on #1673
Besides AbstractPopover, do you have any other examples?

[2017-11-07 21:45] spetri opened #1677 "Using Datagrid, when there's many headers, footer / pagination gets pushed off page"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When I see a data-grid on the page with many headers (i.e. more than 10-15 so that the table goes off screen horizontally), I should still be able to paginate between pages without scrolling.

### Actual behavior
When I see a data-grid on the page with many headers (i.e. more than 10-15 so that the table goes off screen horizon

[2017-11-08 15:18] #1522 closed

[2017-11-08 15:19] #965 closed

[2017-11-08 15:29] #1664 closed

[2017-11-08 15:33] adityarb88 commented on #1628
@rongery: Wanted to check back and see if you are still facing this issue?

[2017-11-08 15:35] #1505 closed

[2017-11-08 17:24] rongery commented on #1628
@adityarb88 Yes, I still see this using the plunkr above. I'm using Chrome 61.0.3163.100. Attached screenshot shows clipped cards starting with part of number 40:

<img width="557" alt="screen shot 2017-11-08 at 9 21 33 am" src="https://user-images.githubusercontent.com/11431579/32563583-7eded644-c466-11e7-8523-6bd6712bf47a.png">

[2017-11-08 17:35] adityarb88 commented on #1628
@rongery: The icons dont show up in FF and Safari because custom elements is not loaded in the Plnkr template. Try this one: https://plnkr.co/edit/4uwYofalimXunWegwn1W?p=preview

I use Chrome 62. May be this is an issue with Chrome? Could you try using the Plnkr that i supplied above and see if you can replicate the same issue?

[2017-11-08 17:59] rongery commented on #1628
I can still reproduce with your plunkr above with Chrome. I upgrade to 62.0.3202.89 and still see the same behavior. Seeing correct behavior, with icon, in FF using your plunkr. This is looking like an issue with Chrome, but I don't understand why you are not seeing it in your Chrome.

[2017-11-08 18:02] adityarb88 commented on #1628
@rongery: I could reproduce it but only once. Same thing happened when @hippee-lee tried to reproduce this. Not sure whats wrong. Looks like an issue with Chrome?

[2017-11-08 22:24] rongery commented on #1628
Yes I suspect this is Chrome. I will leave it to you to close out the ticket.

[2017-11-08 23:10] #1628 closed

[2017-11-09 05:35] govi2010 commented on #1550
I am working on this .

[2017-11-09 06:51] royling opened #1679 "publish clarity modules under a namespace, eg. @clarity/{angular,icons,ui}"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Following popular modules on npm, using a namespace (eg. `@clarity`) to publish all modules.

### Actual behavior

now it's flat.

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **

[2017-11-09 08:21] WuglyakBolgoink commented on #1505
@mathisscott why ticket was closed?

[2017-11-09 15:17] mathisscott commented on #1505
It appears to be an issue with Chrome. There's no fix that Clarity can introduce that will fix Chrome.

[2017-11-09 15:20] biapar opened #1680 "Is't possible to use Clarity without Angular? if yes, how?"
Is't possible to use Clarity without Angular? if yes, how?

[2017-11-09 15:29] gnomeontherun commented on #1680
It is, and there is a stack overflow topic on it that may help!

https://stackoverflow.com/questions/47165860/can-one-use-clarity-without-angular

[2017-11-09 15:29] #1680 closed

[2017-11-09 15:57] gnomeontherun commented on #1679
We've looked into this before and the `@clarity` namespace was already taken. We don't know who has it, but they haven't published anything public with it.

We've got some plans in this space, and will be making improvements but changing the package name and location is a breaking change that we need to be careful to do it only when we're ready.

Closing since we've already got something in motion

[2017-11-09 15:57] #1679 closed

[2017-11-09 16:20] #1258 closed

[2017-11-09 16:44] juanmendes commented on #1262
We are running into this problem by having a lot of options in the menu. Using the ngFor index to decide the position is not really feasible, you have to combine it with offsetTop, screen height to get decent results that don't scroll off the top. At the very least, Clarity should make a suggestion as to how longs menus from cards should work. Isn't there a fix like the one suggested at https://gi

[2017-11-09 17:16] Shijir commented on #1666
I've opened this issue again as it reproduces the same problem in a different way.

[2017-11-09 18:10] #295 closed

[2017-11-09 18:10] #1204 closed

[2017-11-09 22:15] marvinosswald opened #1681 "button loading spinner not showing in button group"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

A loading spinner should show on a button even if its in a button group

### Actual behavior

loading spinner doesn't show

### Reproduction of behavior

https://plnkr.co/edit/k0vC2vtiV4wvPP4RrRZv?p=preview

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:** 0.10.12

* **OS and version:**

* **Browse

[2017-11-09 22:17] adityarb88 commented on #1681
@marvinosswald That plnkr contains a Modal. Could you please update to replicate the issue you are facing?

[2017-11-09 22:43] marvinosswald commented on #1681
@adityarb88 my bad, updated the plnkr same url though

[2017-11-10 08:14] timvl opened #1682 "When a button group overflows, the outer left button borders are missing"
[code]

### Expected behavior
When a button group overflows, the outer left button borders on the overflowed lines should be visible.

### Actual behavior
When a button group overflows, the outer left button borders are missing

### Reproduction of behavior
<a href="https://ibb.co/d2GL2b"><img src="https://preview.ibb.co/nnypvw/button_overflow.png" alt="button_overflow" border="0"></a>

[code]

##

[2017-11-10 08:16] biapar commented on #1680
Only Angular2+?

[2017-11-10 12:00] dherges opened #1683 "[NG] Angular v5 migration"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Please support Angular v5!

When you feel ready to and decide to migrate to v5, can you keep me posted whether you encounter issues with binaries produced by [ng-packagr](https://github.com/dherges/ng-packagr)?

We've started migration using [ng-packagr@1.5.1](https://github.com/dherges/ng-packagr/blob/master/CHANGELOG.md#151-

[2017-11-10 13:41] mathisscott commented on #1683
Hi @dherges
Thanks for checking in with us!

We have a PR out for the NG5 upgrade -> #1659

The plan is for that to go out in our 0.11 release. We will have alpha and beta releases before that so please subscribe to #1659 and you'll see when the changes are merged in.

[2017-11-10 13:41] #1683 closed

[2017-11-10 13:44] mathisscott commented on #1680
@biapar
You can use Clarity's HTML and CSS in any application. You can also use Clarity's Icon library in any application (even a static website).

The only thing you would not be able to use are the heavily interactive and stateful components like datagrid. Most of our components can be added to an application by bringing in the CSS file and putting the expected HTML in your website or applicatio

[2017-11-10 13:47] mathisscott commented on #1682
@timvl
That's a _lot_ of buttons!

Our UX team recommends that button groups not be allowed to wrap like that. You should consider using the [button group overflow dropdown on the Button Groups page of our documentation](https://vmware.github.io/clarity/documentation/button-group).

This may mean you use the Bootstrap-4-based hidden/visible classes at different breakpoints. But button groups wrapp

[2017-11-10 13:47] #1682 closed

[2017-11-10 14:26] adityarb88 commented on #1681
@marvinosswald: Thanks for reporting this. This definitely is a bug and we will add this to our backlog.

[2017-11-10 14:45] bnlambert opened #1684 "How to implement [clrLoading]"
Hi

I am using Clarity with angular 4.x. I am unable to implement [clrLoading]. I keep having this error

'ERROR Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'clrLoading' since it isn't a known property of 'button'. ("'

[2017-11-10 14:48] adityarb88 commented on #1684
@bnlambert: Thanks for filing the issue. Could you please re-submit the issue following our issue template which you can access when you open a new issue? We require the version of Clarity you are using and also a Plnkr which replicates the issue. Without this information, it wont be possible for us to debug the issue. Thanks!

Closing the issue based on this.

[2017-11-10 14:48] #1684 closed

[2017-11-10 15:00] govi2010 commented on #1681
@adityarb88  I think this is because of `selector: "button[clrLoading]"` in loading-button.ts. ...

[2017-11-10 15:04] adityarb88 commented on #1681
@govi2010: Yes right now the loading indicators works only for static buttons but we wont be able to extend the selector to `button[clrLoading], clr-button[clrLoading]` because `clr-button` already is a separate component. Angular will throw an error when two different templates are defined. I will think of a solution and discuss with the team on how we can resolve this.

[2017-11-10 15:22] allanbond commented on #1673
@coldhamix Have you tried using Angular CDK's overlay?

Listening to [Jeremy Elbourne's talk](https://www.youtube.com/watch?v=kYDLlfpTLEA) @ Angular Mix, it sounds as if the Material team has positioned Angular CDK as something that can be used by any component lib.

[2017-11-10 15:36] govi2010 commented on #1681
@adityarb88  I fixed this issue by

[2017-11-10 15:41] govi2010 commented on #1681
<img width="600" alt="screen shot 2017-11-10 at 9 11 26 pm" src="https://user-images.githubusercontent.com/8776031/32665896-c1f1c7f6-c65b-11e7-87be-d6f6bd30be69.png">

[2017-11-10 21:42] krist-jin opened #1686 "how to programmatically control the open/close of dropdown"
Hi,

I'm trying to figure out a way to programmatically control the open and close for clarity dropdown.

Here is what I have tried:
1. using property binding to **clrIfOpen**
I prefer this way but it's not working properly. Say I bind a variable **openDropDown** to **clrIfOpen**. When the dropdown is closed, dropdown.ifOpenService.open is set to false but **openDropDown** is still true. If I set

[2017-11-10 21:49] adityarb88 commented on #1686
@krist-jin: Programmatically opening and closing the dropdown using `*clrIfOpen` should work. Please take a look at this Plnkr: https://plnkr.co/edit/e1Fcz1XmNK4zfAxKk8A2?p=preview

In your case whats happening is that when you click the toggle dropdown button outside, it closes the dropdown menu itself because the dropdown is closed when you click outside of the menu.

Let me know if this helps.

[2017-11-10 22:15] chrizy commented on #1364
Thanks @mathisscott for your answer, I am also stuck on this problem. How would you register/invoke `<urapp-component1-modal></urapp-component1-modal> `from a service?

[2017-11-10 22:20] gnomeontherun commented on #1364
@chrizy please see https://stackoverflow.com/questions/46664588/how-to-use-modal-dialog-with-vmware-clarity/46964407 for some details and an example.

[2017-11-11 01:08] krist-jin commented on #1686
Thanks @adityarb88
What if I change to `this.openDropDown = true;`
Then it will pop up for this first time, then if I click outside of the menu it will disappear and never show again automatically.
What should I do in order to show the menu again through `this.openDropDown = true;` after I click outside? Thanks!
please refer to: https://plnkr.co/edit/any84rmAlVaQcf4Z6qRN?p=preview

[2017-11-11 02:55] adityarb88 commented on #1686
@krist-jin: Then you should use the de-sugared syntax for the clrIfOpen structural directive. More info here: https://plnkr.co/edit/tiC8eWf4u3kTJaYWGR8M?p=preview I hope this answers your question. Closing the issue based on this. Please feel free to ask more questions on StackOverflow with the `vmware-clarity` tag. We monitor StackOverflow daily and your question might be beneficial to other memb

[2017-11-11 02:55] #1686 closed

[2017-11-11 17:14] chanm003 opened #1688 "clr-tab-content not maintaining state across tab clicks"
[code]

### Expected behavior
[code]

1.  Page loads
2. User interacts with child component in first tab
    -  types 'Hello World' into a `<input type="text">`
3. User clicks on tab two
4. User clicks on tab one, and child component should remember its state
    - i.e. the text 'Hello World' should remain in the `<input type="text">`

### Actual behavior
Same steps as above, but after step 4, the

[2017-11-13 07:05] deanchalk opened #1689 "Cannot build clarity"
[ x] bug
[ ] feature request
[ ] enhancement
[code]

[2017-11-13 08:31] govi2010 commented on #1681
@adityarb88  any update on my code review. Let me know it you want to fix this any other way

[2017-11-13 15:51] adityarb88 commented on #1688
@chanm003: This is how tabs are designed to work. Only the active tabs remains in the view. This is done to improve performance of the page. Imagine that an app had 6-7 tabs and all tab content was stored in memory. That would impact the performance of the application.

If you wanted to save the state of the application you could do it in multiple ways. One way is to use Inputs and Outputs. You co

[2017-11-13 15:51] #1688 closed

[2017-11-13 15:53] adityarb88 commented on #1689
@hippee-lee: Could you please take a look at this?

[2017-11-13 16:11] falcon-eu opened #1690 "How to prevent converting px into rem"
Hi all,

My root html font size was set to percent. I upgraded clarity lib in my project based on Angular. As an effect my template is extremaly different than before becaouse all properties based on pixels are automatically converted into rem. How to prevent that? Thank you for help in advance.

[2017-11-13 16:13] mathisscott commented on #1690
Hi @falcon-eu
If you could [provide a plunkr](https://plnkr.co/edit/uNwwZe) with the general idea of what you are trying to do by setting the `html` font-size to a percent, we could probably help you figure something out.

[2017-11-13 16:27] omrico commented on #672
Nice workaround I came up with, use the input inside a label. You can style the label with Clarity .btn and .btn-link classes:

[code]

[2017-11-14 07:19] brihaspati opened #1692 "Problem with clarity-ui package wrt css"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Angular is supposed to be able to identify locally installed clarity styles css files
### Actual behavior

There is some sort of problem with clarity css packages, due to which it's not being recognized by Angular, however if I use the CDN version of same in Index.html, it works just fine
### Reproduction of behavior
Local Set

[2017-11-14 07:50] falcon-eu commented on #1690
Okay my problem was that my project includes styles from file cliarity-ui.css located in node_modules and lots of styles were inherited from there. I have just copy old css file and now everything is okay.

[2017-11-14 07:50] #1690 closed

[2017-11-14 12:37] dgrahn commented on #616
I'll add my support for this view type. There are sometimes when breadcrumbs are the most appropriate visual component. For instance, imaging navigating through a file system without breadcrumbs.

[2017-11-14 14:31] adityarb88 commented on #1692
Our website is built with angular-cli and it works for us. For more info please refer to this: https://github.com/vmware/clarity/blob/new-website/angular-cli.json

Would you be able to share a sample repo which reproduces the issue?

[2017-11-14 14:34] yehia2amer commented on #1565
@Aeseir yes it should be [clrVerticalNavCollapsed]="true" too

[2017-11-14 16:33] brihaspati commented on #1692
@adityarb88, Apologies. I had faced this two times for sure, otherwise i wouldn't have raised an issue here.And I am pretty sure that I had followed the same procedure each time as I am comfortable in using angular-cli. But with a new project setup, its working fine now. I don't know whats the issue here, for now, please close the bug. Hope it won't appear again in future.

[2017-11-14 16:33] #1692 closed

[2017-11-14 16:48] adityarb88 commented on #1692
@brihaspati: No worries. Let us know if you face any issues. Thanks!

[2017-11-14 17:05] #1537 closed

[2017-11-14 17:05] #1666 closed

[2017-11-14 20:27] KevinABoucher commented on #1262
A similar issue occurs when a signpost is at the end of a paragraph that can flow to different positions on the screen.

[2017-11-14 21:13] mathisscott opened #1693 "Add wrapper divs around design guidelines and code examples in the docs"
This feature request asks us to add wrapper divs around the design guidelines code examples.

So we go from…

[code]

…to…

[code]

It doesn't matter if the actual element is a `div` or not. It just needs to be a block level element.

[2017-11-15 13:21] belyan commented on #1550
I have the question related to this issue. How to disable check box to avoid the selection of certain rows in a data grid?

[2017-11-15 17:53] hippee-lee opened #1694 "Fix datagrid hideable column toggle component"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

It should have the correct layout and active state

### Actual behavior
Datagrid hideable column toggle component has incorrect layout and active state
- When selection is enabled on the data grid its positioned in the middle of the footer
- the active state is incorrect

### Reproduction of behavior
<img width="1167" alt="scr

[2017-11-15 17:59] reddolan opened #1695 "Multi-app level alerts do not cycle correctly"
[code]

### Expected behavior
- clicking on the right arrow while being on the last alert, should cycle it to the first alert
- clicking on the left arrow while being on the first alert, should cycle it to the last alert

### Actual behavior
- clicking the right arrow on the last alert does nothing
- clicking the left arrow on the first alert does nothing

### Reproduction of behavior
![mulit-app-

[2017-11-15 19:25] #1694 closed

[2017-11-15 19:48] hippee-lee commented on #1689
Hi @deanchalk - are you building on windows perchance?

We have an issue (https://github.com/vmware/clarity/issues/1582 ) that sounds similar to this one as well as a PR (that is in the works).

If you are using windows, can you tell me a little more about your setup?
- What's a common way to install node for windows devs?
- Do you use the command prompt, powershell, a bash equivalent or something

[2017-11-15 23:17] #1622 closed

[2017-11-16 00:37] reddolan commented on #1518
*Beaker* icon for things like: labs, testing, etc.

[2017-11-16 13:27] deanchalk commented on #1689
Im am not on Windows, but on Mac OSX (High Sierra)
The issue looks similar to #1582, but can you confirm that your proposed fix also fixes the same issue on Mac

Thanks

[2017-11-16 16:14] hippee-lee commented on #1689
Hmmm. I'm not having any issues building and do most of the work on a OSX (High Sierra)

Is there any way you can share your fork with me so I can take a look and see the error?

[2017-11-16 16:26] hippee-lee commented on #1689
Also, I'm sure you have already run `npm install` to install the dev-dependencies and dependencies. Can you check the node modules folder to see if `del` is installed? It should be here: `<clarity-root>/node_modules/del` Perhaps something went astray with the install.

[2017-11-16 16:47] deanchalk commented on #1689
1) I have only cloned the repository - no changes to the source code at all
2) I have run npm install successfully
3) the del folder exists in node_modules

I've tried this on a windows machine, and I get the same error
Here is the build log

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin

[2017-11-16 17:08] hippee-lee commented on #1689
Yeah, I am aware of the issues on windows, the `del node_package` isn't a windows compatible command. That's what we are trying to fix for the other issue i referenced above.

Since you use OSX to develop let's focus on that.
`del` is installed and working fine for me on my dev computer. (OSX Sierra 10.12.6). Its part of the `clean` task that removes the `dis/` directory before building. I just pu

[2017-11-16 18:49] hippee-lee commented on #1689
Another follow question for you @deanchalk - what version of `node` is installed?

[2017-11-17 14:02] deanchalk commented on #1689
OK, we've solved one problem, but now there's another (minor) problem

Doing a clean clone of the current github repository and doing 'npm i' followed by 'npm run clean' works now. And 'npm run build' actually builds and I have build output in the dist directory - perfect.

However, when I navigate to the ks-app subdirectory and build that it fails - because its expecting the file dist/clarity-ang

[2017-11-17 16:36] hippee-lee commented on #1689
Thanks for the follow-up.

Yes, I am aware of this `ks-app` issue you ran into. Sorry about that - it was a change that came in during our migration to webpack and is on my list of things to investigate for developer happiness.

I'm closing this issue based on your feedback that you can clean and build. Feel free to reopein it if `del` gives you more problems.

[2017-11-17 16:36] #1689 closed

[2017-11-17 19:53] gnomeontherun opened #1700 "Badges in Labels alignment issue"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Labels with badges should look aligned properly.

### Actual behavior

Badges are slightly high.

![screen shot 2017-11-17 at 1 40 22 pm](https://user-images.githubusercontent.com/79500/32966055-340b9528-cb9e-11e7-9f45-d833ea2164d4.png)

### Reproduction of behavior

Can be seen on docs. https://vmware.github.io/clarity/docume

[2017-11-19 00:01] boemska-nik opened #1701 "Textbox [type="date"] year format validation allows 6 character YYYY"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

The Textbox date-formatted selector for dates validates to 4-digit YYYY value

### Actual behavior

There's a couple of digits too many on the YYYY, it's more like YYYYYY.

Here's what I did in Chrome 62 on Windows on the example in the Input Fields docs:

![image](https://user-images.githubusercontent.com/11962123/32985870-69

[2017-11-20 13:39] coldhamix commented on #1701
It has nothing to do with Clarity, it's just how date picker works in Chrome. You can still do something like:

[code]

[2017-11-20 14:26] adityarb88 commented on #1701
@boemska-nik: @coldhamix is right. We have just styled the native date input. You have to handle the validation at your end for the native date input. Closing based on this. Thanks!

[2017-11-20 14:26] #1701 closed

[2017-11-20 16:25] #1695 closed

[2017-11-20 19:15] jaivardhanbhati opened #1703 "Notification / Toast messages / auto hide alerts"
Title: Need a way to raise notifications/toast messages or a way to auto-hide alerts.

[ ] enhancement
[ ] feature request
We use clarity .alert ( warnings and success ) heavily in our codebase as means of notifying the user about success/error/warning scenarios. But there is a need to hide the success and the warning messages after 8 seconds if not removed manually. This will be much like a toast

[2017-11-20 19:19] adityarb88 commented on #1703
@jaivardhanbhati: This looks like a duplicate of https://github.com/vmware/clarity/issues/365. Please subscribe to #365 for more updates.

[2017-11-20 19:28] adityarb88 commented on #1703
@jaivardhanbhati: Also you could use the `clrAlertClosed` input to make the alerts disappear after a few seconds. Please refer to this link: https://plnkr.co/edit/FtMhQxbIFX4wZo2tHTnC?p=preview

Closing the issue based on this.

[2017-11-20 19:28] #1703 closed

[2017-11-21 14:12] adityarb88 commented on #1112
After the dropdown refactor to use the `*clrIfOpen` directive, this ticket is not valid anymore. Closing the issue based on this.

[2017-11-21 14:12] #1112 closed

[2017-11-21 14:19] vpvelikov opened #1704 "Allow removal of modal & wizard overlay in iframes"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Consider the following use case: I am developing a UI extension to existing Web application which normally does not allow me to access/modify its DOM (e.g. my piece of UI is embedded inside an iframe).

I would like to be able to use Clarity modal and wizard components with no dark overlay to prevent bad user experience.

### A

[2017-11-21 14:28] adityarb88 commented on #1704
@vpvelikov: But you could modify the CSS to remove the backdrop and change the height of the modal dialog, no? Something like this: https://plnkr.co/edit/OzfeYFIdvYjhj0eR3OuE?p=preview

[2017-11-21 14:41] vpvelikov commented on #1704
This makes the dark overlay disappear but in the provided example I get significant useless whitespace instead and my actual wizard does not scale up to cover the whole iframe.
Generally, overlay and whitespace offset don't make sense inside an iframe. So I think the Clarity component should allow me to configure it to take up the full area in this case like this:
![image](https://user-images.gith

[2017-11-21 15:36] adityarb88 commented on #1704
@vpvelikov: But you could also change the size of the modal dialog using CSS. Clarity also provides 4 sizes for the modal. May be use the `xl` size?

Removing the backdrop and then changing the size of the dialog box is not recommended by our UX team. I don't believe we will be able to do this on our end. The modal component is supposed to pop-out and the dialog should not take the entire space on

[2017-11-21 15:36] #1704 closed

[2017-11-21 16:11] adityarb88 commented on #1704
@vpvelikov: Thanks for your feedback. I will let our UX team take a look at this and respond back.
cc: @mathisscott @reddolan

[2017-11-21 16:28] vpvelikov commented on #1704
@adityarb88 Cool, thanks a lot for having a look at it.

[2017-11-21 17:23] beaker1977 opened #1705 "Clarity doesn't work with IE11"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Expect my SPA to load and function in IE 11. My application works fine in Firefox Quantum and Chrome 62.

### Actual behavior
Page fails to load and throws an error in polyfills.bundle.js on line 396 (see enclosed screenshot).

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking on

[2017-11-21 17:25] gnomeontherun commented on #1705
What polyfills do you have enabled? The `app/polyfills.ts` file has some imports to include for IE11 and have comments to tell you which ones.

[2017-11-21 17:39] beaker1977 commented on #1705
Thanks for the info. I didn't even know about the polyfills.ts file. After uncommenting the IE import statements my SPA now loads, albeit with some funky CSS behaviour I'll have to deal with. You can mark this closed.

[2017-11-21 17:48] gnomeontherun commented on #1705
Great, you can also reference Angular docs https://angular.io/guide/browser-support#polyfills

[2017-11-21 17:48] #1705 closed

[2017-11-21 17:51] bangelakos commented on #1700
This doesn't seem to occur on a build of the latest locally.

![image](https://user-images.githubusercontent.com/1455881/33088094-3c2f9db4-ceb2-11e7-89ae-bf222e20d3f8.png)

[2017-11-21 18:04] adityarb88 commented on #1704
@vpvelikov: You could also use the inline wizard. Please refer to this link: https://github.com/vmware/clarity/blob/master/src/app/wizard/wizard-inline.demo.html

[2017-11-21 18:06] bangelakos commented on #973
Adding max-width: 47% to .clrweb-DoxVersusBox-itemWrapper solves the issue.

[2017-11-22 00:19] lil-kim opened #1707 "Upload a custom icon to the clarity icon library for VMware Cloud site"
**Select one ...**  (check one with "x")
[code]

###  Upload a custom icon to the clarity icon library
for VMware Cloud Services site:
[Cursor_hand_click_line.svg.zip](https://github.com/vmware/clarity/files/1493450/Cursor_hand_click_line.svg.zip)
@mathisscott

Requested by
Roshni Pary:  paryr@vmware.com

[2017-11-22 02:17] yehia2amer commented on #351
This Feature is Very much needed.

Maybe something like that : [ngx-inline-editor](https://github.com/qontu/ngx-inline-editor)

[2017-11-22 05:21] shravansofts opened #1708 "Stepper component in clarity"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Stepper provides a wizard-like workflow by dividing content into logical steps.
This will be useful for building Getting Started pages for the product.

Can we get a stepper component in clarity like one in angular-material?
https://material.angular.io/components/stepper/overview

Environment details

* **Angular version:** 4.x

[2017-11-22 06:13] karmasakshi opened #1709 "Loading text is displayed inside Datagrid spinner"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Spinner without "Loading..." when Datagrid `clrDgLoading` is `true`.

### Actual behavior
"Loading..." text spins with the spinner.

### Reproduction of behavior
Check https://github.com/vmware/clarity/blob/master/src/clarity-angular/data/datagrid/datagrid.html, line 59.

### Environment details

* **Angular version:** 5.x.x

[2017-11-22 06:18] karmasakshi commented on #1709
It's surprising it doesn't show in the demo: https://vmware.github.io/clarity/documentation/datagrid/server-driven.

[2017-11-22 08:37] vpvelikov commented on #1704
@adityarb88 That's great! Seems exactly what I am looking for. I will try it out and report if there are any problems. Thanks a lot for the positive reply.

Just one more question: Are **clrWizardPreventModalAnimation**, **clr-wizard--inline** and **clr-wizard--no-shadow** supported by Clarity? Where can I read the full list of options?
I hope all demos I see in the wizard folder are official ones

[2017-11-22 12:20] vpvelikov commented on #1704
Tested it and it works quite well within the iframe.
There is one glitch: the wizard scales horizontally to consume all available width of the iframe but it **does not scale vertically to consume all available height**. It turns out _clr-wizard--inline_ defines "position: static" style which causes the issue. If it is changed to "position: fixed" llike it is for normal wizards all is fine.
As I do

[2017-11-22 13:28] dexfab opened #1710 "Active and open classes do no get removed when dropdown is used inside a header"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When user clicks outside the dropdown content area:
- open class should be removed from clr-dropdown item
- active class should be removed from div with dropdown-toggle class

### Actual behavior
When user clicks outside the dropdown content area:
- open class remains on clr-dropdown item
- active class remains on div with drop

[2017-11-22 13:30] vpvelikov commented on #1704
The mentioned issue is because when static position is used there needs to be **max-height: 100%** for both the navigation and the content area. Instead, this was applied only to the content area. The following screenshot explains the problem with the Inline wizard:
![image](https://user-images.githubusercontent.com/29205644/33129776-c9eac754-cf99-11e7-88a3-50d0124d6e90.png)
Could you please look

[2017-11-22 14:22] adityarb88 commented on #1708
@shravansofts: I believe this is a duplicate of: https://github.com/vmware/clarity/issues/1633

Please subscribe to the above issue for more updates. Closing this one as a duplicate.

[2017-11-22 14:22] #1708 closed

[2017-11-22 14:24] adityarb88 commented on #1709
@karmasakshi: Could you please post a plnkr which replicates the issue that you are facing? This will help us debug the issue. Thanks! Plnkr template: https://embed.plnkr.co/AuJuo5/

[2017-11-22 14:32] adityarb88 commented on #1710
@dexfab Could you please replicate the issue on a plnkr? I can't seem to replicate it. It works fine for me. Please see this: https://plnkr.co/edit/HZz0wUvG4q2I7XvmkvSg?p=preview

[2017-11-22 15:06] dexfab commented on #1710
@adityarb88 thanks for the quick update. I've tried the plunker and couldn't reproduce it either. So I went back to our app and what seems to be causing the issue is that we are wrapping the header inside its own component. If I take the header out into the main app component, I get the expected behavior.
Code is like:
`<clr-main-container>`
`<app-navbar>`
`<clr-header>`
`...`
`</clr-header>`
`</a

[2017-11-22 15:35] adityarb88 commented on #1704
@vpvelikov: Thanks for doing this investigation. Inline wizards was created by just modifying the CSS for the pop-out wizard. Not a lot of users use Inline Wizards and we do not plan to support it. We haven't found a lot of issues with inline wizards (this might be one of the first ones reported) but we rely on external contributions from users who use this feature to fix bugs. Please feel free to

[2017-11-22 15:38] vpvelikov commented on #1704
Cool, I will do that.
But I hope you are not planning to drop **clrWizardPreventModalAnimation**, **clr-wizard--inline** and **clr-wizard--no-shadow**, right? :)

[2017-11-22 15:50] dexfab commented on #1710
@adityarb88 I'm managed to reproduce it in plunker:
https://plnkr.co/edit/4DwQByxHVV869Fz5Bq8h

It seems that using a different change detection policy is causing the issue.

[2017-11-23 03:17] shravansofts commented on #1633
Any target date to bring in this component?

[2017-11-23 07:37] jansivans commented on #932
What's the status of this issue?

[2017-11-23 09:04] mdmarkova opened #1711 "Inline wizard navigation pane should have max-height: 100%"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Using inline wizard, the navigation pane of the wizard should have maximum height of 100% instead of .75h.

The issue is filed by request of @adityarb88 from issue https://github.com/vmware/clarity/issues/1704

### Actual behavior

The inline wizard scales horizontally to consume all available width of the iframe but it does n

[2017-11-23 09:05] mdmarkova commented on #1704
@adityarb88: I filed a new issue: https://github.com/vmware/clarity/issues/1711

[2017-11-23 14:19] KANekT opened #1712 "Modal Dialog box not displayed"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Modal dialog box should open when button is clicked

### Actual behavior
Modal does not open and the following error is shown in the web console:

ERROR Error: Found the synthetic listener @fadeDown.done. Please include either "BrowserAnimationsModule" or "NoopAnimationsModule" in your application.

### Reproduction of behavior

[2017-11-23 14:19] KANekT commented on #1712
Clarity not support Angular 5 ?

[2017-11-23 14:32] zivanov123 opened #1713 "Conditional clr-dg-row-detail"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Currently there is no way to have a datagrid with expandable rows and some of them to not have the expand caret.
This is needed in the case where [clrDgReplace] is true and expanding actually won't be displaying anything more than currently displayed.

### Actual behavior
The caret in case of datagrid with clr-dg-row-detail can

[2017-11-24 06:24] KANekT commented on #1712
I updated to 4/4/6

[2017-11-24 06:24] #1712 closed

[2017-11-25 02:32] whizkidwwe1217 opened #1714 "Multi app level alerts pager control's background sets to white"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Background color of the multi-alert pager should be of the same color hue of the currently displayed alert.
### Actual behavior

The background color of the pager is white and the text is not visible.
![image](https://user-images.githubusercontent.com/1977391/33226560-db7dbc2c-d1cb-11e7-98f5-bd48616f7e2c.png)

### Reproduction

[2017-11-26 10:54] bystronerik opened #1715 "Bad resizing"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior

Bad resizing, more on screen
[https://imgur.com/a/7pPTY](https://imgur.com/a/7pPTY)

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 5.0.0

* **Clarity version:** 0.10.1

[2017-11-26 18:43] 19Arne75 opened #1716 "Stack View"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Stack view children with overflow enchantment similar to datagrid `<clr-dg-action-overflow>` to allow adding/removing/children easily when using editModal as shown in Clarity example with value editing.

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one

[2017-11-27 05:17] indukr opened #1717 "Request for split pane similar to ng2-split-pane in clarity"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
My basic requirement is to split a screen in wizard step. I don't need the splitted screen to be resizable also. Currently I am using ng2-split-pane to acheive the same. Can you let me know if you have similar functionality in clarity to achieve the same? If yes, please share your knowledge on this

### Actual behavior
N/A

###

[2017-11-27 12:10] a-student opened #1718 "Indeterminate (Looping) Progress Bars do not get color styling"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Consider this code:
[code]
Progress bar is expected to be red (`danger` styled).

### Actual behavior

Progress bar is blue as by default.

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

https://plnkr.co/edit/efcWXsvKTAUHekK6P8g2?p=previ

[2017-11-27 12:36] a-student opened #1719 "Indeterminate (Looping) Progress Bars are not visible inside cards"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Consider this code:
[code]
The looping progress bar is expected to be visible and looping.

### Actual behavior

The looping progress bar is not visible.

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

https://plnkr.co/edit/n0BcXi28jSZde

[2017-11-27 15:09] jacobbutton commented on #1717
If you don't need the "panes" to be resizable, could you not just use the Grid component to create two columns?

https://vmware.github.io/clarity/documentation/grid

[2017-11-27 15:11] mathisscott commented on #1633
@shravansofts
We haven't reviewed it with our UX team yet. So it isn't in our queue for implementation. There are a lot of priorities ahead of it so giving a target date at this point in time would not be helpful.

Perhaps you can give us some information on your use case so we understand the urgency here.

As with many things, your team could pick up the development of this component if we can't

[2017-11-27 15:12] mathisscott commented on #932
@jansivans
It's in progress. Other priorities pulled our UX resource from it for a couple of weeks. We'll get back on it as soon as resourcing allows.

[2017-11-27 15:21] mathisscott commented on #1718
@a-student
I cannot get your plunkr to work but I have verified that this is an issue on the website.

[2017-11-27 15:22] mathisscott commented on #1719
@a-student
The plunkr you provided is not working...

[2017-11-27 15:46] alberthoekstra opened #1720 "Datagrid toggle selection modes"
Is it possible to enable/disable any type of selection (single/multi) with a two way binding property on a data grid?

By default my users need to be able to select one record. When they hit a certain button it should change the datagrid and be able to select multiple records.

I can't find other issues like this and I can't find it in documentation.

[2017-11-27 15:48] youdz commented on #1713
I don't understand the request, it's entirely possible to have some rows expandable, and some not: https://plnkr.co/edit/8RhYgQrPmFdE5jHWsdm4?p=preview

Is that what you need?

[2017-11-27 15:55] youdz commented on #1714
For some reason we're missing a `:host { display: block }` on the alerts container.

In the meantime, you can simply fix it on your side by adding this in your CSS:
[code]

[2017-11-27 17:57] georgiee opened #1721 "Change root font-size from 24px to 125%"
[code]

### Expected behavior
REM values should be easier to calculate.
If I look into the nav link in the sidenav for example, I see the following values:
[code]
With your base font-size of 24px you end up with those calculated values:
[code]

This wasn't obvious from reading the rem values. This makes it hard for you as the maintainer of this project to calculate rem values, you always end up wi

[2017-11-27 18:38] a-student commented on #1719
![1](https://user-images.githubusercontent.com/1752546/33282913-33ef3df4-d3bb-11e7-8f03-7edfe699a0f0.gif)

[2017-11-27 23:36] lil-kim commented on #1518
All final icons for this epic:
[vol9_icons.zip](https://github.com/vmware/clarity/files/1507991/vol9_icons.zip)
Please add these icons to Clarity Iconography. Thanks!

[2017-11-28 06:45] indukr commented on #1717
hi @jacobbutton ,
Thanks for suggesting grid option but grid's behavior is horizontal and I am looking for a vertical split of the screen that may look like:
![image](https://user-images.githubusercontent.com/26592033/33305574-c71341b0-d434-11e7-81dd-39d58332c6f0.png)

Is there a way to do this using grid or any other options in clarity?

Thanks
Rajendra

[2017-11-28 07:05] KingMario opened #1723 "Make title element inside SVG optional"
Could you please make the title element of SVG optional, because in Firfox, the title will be shown as a tooltip when hover the icon (which is not always wanted).
<img width="286" alt="image" src="https://user-images.githubusercontent.com/3956876/33306405-716bd9de-d44d-11e7-9f10-bc5ef2ff166f.png">

**Select one ...**  (check one with "x")
[code]

### Expected behavior

Remove the title element ins

[2017-11-28 07:16] Shijir commented on #1723
@KingMario which version of Clarity Icons are you using? We have made a change to Clarity Icons in the version of 0.10.12 that addresses this issue. So if you upgrade to Clarity Icons v0.10.12 or later versions, that tooltip shouldn't appear in any browser.

[2017-11-28 08:31] zivanov123 commented on #1713
Yes, that is exactly what I needed.
I've missed the ngProjectAs part with ng-container.

Thanks!

[2017-11-28 08:32] #1713 closed

[2017-11-28 08:55] KingMario commented on #1723
@Shijir The version is 0.10.4. I just tried the version of 0.10.12 and the problem is gone. Thanks for your help.

[2017-11-28 08:55] #1723 closed

[2017-11-28 14:20] mathisscott commented on #1717
@indukr
You could do it regular CSS and HTML. You could use flexbox if you wanted. Or an HTML table. Or CSS grid – depending on your browser support. Easiest path is probably CSS grid.

https://developer.mozilla.org/en-US/docs/Web/CSS/grid

[2017-11-28 14:20] #1717 closed

[2017-11-28 14:26] mathisscott commented on #1719
Hi @a-student
Thanks for getting the plunkr working again. Maybe it was an issue with plunkr or something. Not sure. The fix you have in there is good. Likely there was something recently that stomped on it because I'm pretty sure those styles used to be in our CSS.

Feel free to contribute if you want or we'll have someone take a look at this when they become available.

[2017-11-28 16:17] #1532 closed

[2017-11-28 16:50] grreeenn opened #1725 "Datagrid - long column headers overlap next column header when sorting"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Next column would move right when the sorted column header expands

### Actual behavior
When sorting some column, its header expands to include the sorting icon, but the next column remains where it was. When sorting by column with long name, its header overlaps the next one

### Reproduction of behavior
Make a datagrid with en

[2017-11-28 18:36] #968 closed

[2017-11-28 19:49] mpicard commented on #968
@el-davo

[2017-11-29 00:38] reddolan commented on #1633
@yuxin-ux We reviewed the design proposal. Here is our feedback

- recommend not more than 4 or 5 steps total, or it will get trimmed
- it will not wrap (it might be disastrous if it did)
- component looks tied to the datagrid
  - can this be used outside the datagrid?
  - if yes, would be helpful to see it in other context
- blobs and buttons below the step label look somewhat disconnected
  - ma

[2017-11-29 07:15] indukr commented on #1717
Hi @mathisscott ,
Thanks for your suggestion. I tried it and I am able to get the UI as required. But found a better option in the form of "angular-split" which is a wrapper over 'split.js' and is more flexible and easy. Just updating you as this might be useful when you come up with a clarity component for split pane ;)

Thanks
Rajendra

[2017-11-29 14:53] mathisscott commented on #1700
@hippee-lee
Can you take a look and see if this is an issue still? No rush. Later this week or next week is fine.

[2017-11-29 15:07] mathisscott commented on #1721
@georgiee
Thanks for the suggestion. It's a great idea. Our only concern is that products that need a 20px baseline would struggle because math is apparently hard.

We think a SASS function to which people could pass the baseline they want (20, 24, 18, 28) would be useful.

I don't know whether it would be better to set the font-size to 10px or go forward with 62.5% as you suggest. So I'd like to

[2017-11-29 15:43] georgiee commented on #1721
Hello @mathisscott,
thanks for your response and I'm glad to hear that you consider this a useful change.

**Regarding the root font-size**
You can read [that issue ](https://github.com/twbs/bootstrap/issues/19460) on the bootstrap repository for clarification why it's always better to have a relative font-size on the html element. Putting hard pixels will eliminate user preferences and will harm

[2017-11-29 16:52] rmeshksar opened #1729 "ng-packagr question"
**Select one ...**  (check one with "x")
[code]

Hi,
I am learning about ng-packagr and found your project to be using it.
I would appreciate your clarification on my question.

Noticed that in this file:
https://github.com/vmware/clarity/blob/master/src/clarity-angular/index.ts

All the modules have been exported first. Wondering if there is a module per component why the module for each componen

[2017-11-29 17:12] #1693 closed

[2017-11-29 18:08] hippee-lee commented on #970
PR https://github.com/vmware/clarity/pull/1687 addresses this issue.

[2017-11-29 18:08] #970 closed

[2017-11-29 18:23] youdz commented on #1729
Good catch, there is no reason, it's just an artifact of the old architecture.
It's an easy change, just a bit long and manual. 😛

Thanks for raising this!

[2017-11-29 18:28] rmeshksar commented on #1729
Thanks for prompt reply, I noticed exact same structure in another library as well and thought maybe there is a reason for that.
https://github.com/Alfresco/alfresco-ng2-components/blob/development/lib/core/index.ts

[2017-11-29 19:25] #1378 closed

[2017-11-29 19:36] rbirkgit commented on #1677
The workaround above causes new issues (at least with 0.10.14). We get unnecessary horizontal scrollbar as grid gets too wide many times. e.g. if you have an 'expand' column, then grid gets that columns width extra wide. There are other cases too, but this one most easy to reproduce as it always happen.

The empty grid text is also no longer vertically centered. Small bug, but it's another side ef

[2017-11-29 20:24] hippee-lee opened #1730 "Datagrid: selected rows have #000 font color"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Selected rows in the datagrid should have the correct color for dark theme. @lil-kim can you confirm that it should be `#fff` like we do for other selected font colors in dark theme?

### Actual behavior
http://clarity-ks-dark.surge.sh/datagrids (single select demo)
For comparison, the light theme is here:
http://clarity-ks.su

[2017-11-29 20:51] sunpasup opened #1731 "Does Clarity UI Support Targets in the Progress bars.."
**Select one ...**  (check one with "x")
[code]

### Expected behavior

### Actual behavior

### Reproduction of behavior

* Include a link to the reproduction scenario you created by forking one of the Clarity Plunker Templates:

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:**

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX |

[2017-11-29 21:09] mathisscott commented on #1731
@sunpasup
What do you mean by "targets"?

[2017-11-30 07:49] georgiee commented on #1729
While you are already talking about this.

I think the content of the files index.ts and public_api.ts are semantically upside down. The public_api.ts is there by convention to define what's being exported, the index.ts is only defined for convenience when pointing locally to this folder. You reverse that meaning by putting everything in the index.ts already.

In the end this all really doesn't ma

[2017-11-30 14:28] mathisscott opened #1734 "Textarea padding regression"
rem unit changes introduced a regression with the padding in text areas.

See https://github.com/vmware/clarity/pull/1495 for more info. Shouldn't be a difficult fix.

[2017-11-30 15:30] youdz commented on #1729
Yes, the `index.ts` and `public_api.ts` are reversed. I mentioned this to the team a couple weeks back, we haven't adressed it yet though because of the low priority. Thanks for pointing it out. 😉

[2017-11-30 17:02] mattmutt commented on #1217
The scrollbars should be added the grid data body, not below or outside of the grid itself, as that would be counter intuitive.

Is there any sample of a Clarity datagrid that lays out correctly given these parameters? Correctly means in narrow / wide circumstances.
- percentage based column width definition
- flexible container ( a div or card component) that holds the Clarity datagrid

[2017-11-30 18:02] #1707 closed

[2017-11-30 18:03] #1714 closed

[2017-11-30 23:04] mathisscott opened #1735 "Make UX recommendation for datagrid export"
We need a design recommendation for how people should implement datagrid export. We will discuss whether this lives on the Clarity site under the datagrid documentation or elsewhere.

Teams want to implement export functionality in their datagrids but are looking to us for visual/workflow consistency.

[2017-12-01 00:18] spetri commented on #1559
FYI, the same thing happens with a SignPost (it gets cut off by the sidebar).

[2017-12-01 17:36] beaker1977 opened #1737 "Resized icons not displaying properly in vertical-nav component"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
Resizing icons to 24 from the default 16 on a vertical-nav link should display a larger icon and icon should be displayed when vertical nav collapses.

### Actual behavior
I have a vertical nav component with icons in the links. I have resized the icons to size 24 from the standard 16 and am using the 'clrVerticalNavIcon' prope

[2017-12-01 21:42] beaker1977 commented on #1737
Here you go. https://plnkr.co/edit/0JcaOa4UrPUO1m5TYcNb?p=preview

[2017-12-02 09:09] icepeng opened #1738 "Lack of font customization"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
There should be a method or document provided to use a font other than Metropolis as a basis.

### Actual behavior
Theme entry in the document states that Font customization is possible, but it is very difficult to actually change the font-family. Creating the theme.scss and overriding $clr-font does work, but it took a long ti

[2017-12-03 08:13] vinayakpatil commented on #1582
Will this be merged anytime soon?

[2017-12-04 03:54] jericdeleon commented on #933
As an incoming new user of Clarity, I also need to pitch in that the current documentation on Custom Filters were lacking (a lot of `...`s); but @jeeyun's Plunkr was clear enough to give direction so all was good in the end (I had to search for this issue, though)

[2017-12-04 16:17] KashMoneyMillionaire opened #1739 "Email Templates"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
A set of templates to use for emails, including inline css, similar to https://foundation.zurb.com/emails/email-templates.html

[2017-12-04 16:31] hippee-lee commented on #1582
Hi @vinayakpatil -

I'm really sorry but I haven't had time to come back to this. I'll update the PR this issue is linked to with feedback this week.

[2017-12-04 20:18] marcelocarmona commented on #1725
### Overlapping also occur in the row
![grid](https://user-images.githubusercontent.com/4614400/33573986-5c5ef5d0-d916-11e7-80c0-825f1b1c11d5.gif)
https://plnkr.co/edit/vq243E?p=preview

[2017-12-04 23:22] #1718 closed

[2017-12-04 23:32] #1734 closed

[2017-12-05 03:45] hlzpy opened #1745 "signpost will disappears when it rolls"
[ ] bug
[ ] feature request
[X ] enhancement

### Expected behavior
I ran into this problem:
signpost will disappears when it rolls
This section of the website can see the problem:
https://vmware.github.io/clarity/documentation/signposts

### Actual behavior

Whether you can implement the scroll without disappearing, on the link：https://vmware.github.io/clarity/documentation/signposts

[2017-12-05 06:35] essivision opened #1746 "Responsive Table"
[code]

### Expected behavior
I wanna to table that responsive in mobile and tablet view. If you have this feature, please send us this manual.

Thanks

[2017-12-05 11:47] grreeenn commented on #1725
Hi @marcelocarmona,  what you're talking about is defined as an expected behavior - see https://github.com/vmware/clarity/issues/618

[2017-12-05 13:08] marcelocarmona commented on #1725
Hi @grreeenn thanks, I had not seen that issue.

[2017-12-05 15:53] digitlz opened #1747 "Two ways to write alert-types [clrAlertType]"
**Select one ...**  (check one with "x")
[code]

### Expected behavior
When I'm creating a `<clr-alert>` I have to set `[clrAlertType]="'alert-info'"` . When I want to add pagination for multiple alerts I will have to use `<clr-alerts>` with `<clr-alert>` as children using `[clrAlertType]="'alert-info'"`.

### Actual behavior
The styling will not allow a background-color in the multi-alerts-pagina

[2017-12-05 15:58] mathisscott commented on #1739
Thanks for the suggestion, @KashMoneyMillionaire

Email templates are not in our plans. I'll leave this open on the project for future consideration.

[2017-12-05 16:01] mathisscott commented on #1738
@icepeng

I don't think adding a method or mixin would help for this. Documentation specific to changing the default font might be helpful, however.

[2017-12-05 19:39] Shijir commented on #1546
It looks to me that there are at least three separate issues. https://plnkr.co/edit/0nxDWpCkyCtlm2zqWBj5?p=preview

[2017-12-05 20:34] mathisscott commented on #1747
@digitlz
The comment [in the File your referenced](https://github.com/vmware/clarity/blob/master/src/clarity-angular/emphasis/alert/utils/alert-types.ts) points out that `alert-*` types have been deprecated and will be removed.

That said, the new Alerts pager should support both for the time being. I will mark this as a bug.

[2017-12-05 21:08] jmcmichael commented on #248
Any update on the status of this component? Could you maybe add it to the [Component Status page](https://vmware.github.io/clarity/documentation)?

[2017-12-05 21:18] mathisscott commented on #248
@jmcmichael

We had an external contributor [working on it who got pretty far with it](https://github.com/vmware/clarity/issues/1421). But then it appears he stopped working on it or maybe something else came up.

It is currently not one of our top three priorities. But we do plan to work on it in the future.

We're also working on a better way to communicate both our current priorities (and progr

[2017-12-05 21:55] marvinosswald commented on #248
@jmcmichael @mathisscott it‘s still in my todo just priorities in my project shifted a little bit which pushed this component a little bit back in our timeline

[2017-12-06 00:18] reddolan opened #1748 "Add vol 9 icons to Icon Library"
[code]

### Expected behavior
vol 9 icons included in the Icon Library
#1518 - vol 9 icons are here

### Actual behavior
no vol 9 icons are in there now

### Reproduction of behavior

### Environment details

* **Angular version:** 4.x.x

* **Clarity version:** 0.10.16

* **OS and version:**

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Brow

[2017-12-06 01:26] lil-kim opened #1749 "Please add one new header color to Clarity Dark Theme"
**Select one ...**  (check one with "x")
[code]

Add a new header color to Clarity Dark Theme

New color: #0F171C

Requested by @elesueur
Request approved by smathis

Should look like this:
![image](https://user-images.githubusercontent.com/23196444/33639603-feec73de-d9e0-11e7-863e-4e90c138dd47.png)

[2017-12-06 01:35] Shijir commented on #1748
This will be fixed by #1744. Probably will go in v0.10.17.

[2017-12-06 06:51] msoni11 opened #1750 "Portlet layout"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

Portlet view is missing from Clarity project. The example can be seen in Summary view in html5 client.

### Actual behavior
This is new feature request and can be seen in Summary view in html5 client. Here is the screenshot:
![screen shot 2017-12-06 at 12 20 25 pm](https://user-images.githubusercontent.com/1658096/33648441-e43

[2017-12-06 15:25] mathisscott commented on #1716
Can we get more information on the feature or bug you're describing? Maybe a [plunkr](https://plnkr.co/edit/uNwwZe) setting up what you are expecting to happen and then a description of what isn't?

[2017-12-06 17:29] Shijir commented on #1725
@grreeenn @marcelocarmona This issue might have a simple workaround if you specify the style of handling word breaks in the datagrid columns and cells:

[code]

This is the result: https://plnkr.co/edit/nyo8KOcVMitktCjNwrJ0?p=preview

[2017-12-06 18:24] grreeenn commented on #1725
Hi @Shijir
Looked at your plunker - it looks like this
![clarity_bug_0](https://user-images.githubusercontent.com/13204857/33678070-6b1ab2f4-dac3-11e7-8b61-c93ccdf49bb5.png)

[2017-12-06 20:01] jmcmichael commented on #248
I was just looking over Clarity's Sketch templates, and noticed the 'Search' component, as well as in the component Status page. Are we discussing the 'Search' component in this issue, or is this about a different component?

[2017-12-06 20:09] mathisscott commented on #248
@jmcmichael
They’re related but different

[2017-12-06 20:54] Shijir commented on #1725
@grreeenn ah it's Firefox, right? I think the workaround should be improved in Firefox.

[2017-12-06 21:43] jbgarr opened #1752 "[Datagrid] Manually updating clrDgPageSize no longer results in clrDgRefresh being triggered"
[code]

### Expected behavior
Manually updating the clrDgPageSize should trigger a clrDgRefresh event to be fired on the table (this was how it worked in Clarity v0.9.x).

### Actual behavior
Manually updating clrDgPageSize no longer triggers a clrDgRefresh event.

### Reproduction of behavior
Here is a working version (v0.9.x): https://plnkr.co/edit/7PBBUqnPSopd21NCyfxU?p=preview
And here is the

[2017-12-06 21:46] #1711 closed

[2017-12-06 22:05] #1494 closed

[2017-12-06 23:29] abbey24 opened #1753 "Request: Inline validation for select box"
**Select one ...**  (check one with "x")

[ ] bug
[x] feature request
[ ] enhancement

### Expected behavior
Clarity has inline validation for input field, which is very handy and users can quickly locate the error. Select box should have similar behavior too. When user selects the wrong item from the list or they forget to make selection, the select box show have inline validation, maybe the line

[2017-12-07 11:17] rameshyala commented on #1001
![after](https://user-images.githubusercontent.com/18004992/33712682-5108e9de-db6e-11e7-9fae-f9c66845abe5.png)
Hi, i am using section headers in side nave, when i collapse this section headers something look like this, is their any way to hide them when collapse. Thank you.
![screenshot at 2017-12-07 16 45 52](https://user-images.githubusercontent.com/18004992/33712670-4547efb4-db6e-11e7-9a79-620d

[2017-12-07 11:29] grreeenn commented on #1725
@Shijir although this workaround works in chrome (and only in chrome, btw - it does not in both FF and Edge) it turns the column name to unreadable pile of characters, so I don't know if it may be considered as a workaround after all, sorry.

[2017-12-07 16:15] mathisscott commented on #1753
This is a duplicate of #46 – which is still in design phase.

[2017-12-07 16:15] #1753 closed

[2017-12-07 16:19] mathisscott commented on #1750
@msoni11
What would be the difference between this and [just using a grid](https://vmware.github.io/clarity/documentation/grid)? Is it just that you want cards to be able to collapse?

[2017-12-07 16:43] msoni11 commented on #1750
@mathisscott It is actually card layout with collapse/expand.

[2017-12-07 16:50] msoni11 commented on #1750
This is not a grid but kind of [stack view](https://vmware.github.io/clarity/documentation/stack-view)

[2017-12-07 17:57] #1518 closed

[2017-12-07 19:23] #1748 closed

[2017-12-07 19:23] #1515 closed

[2017-12-07 23:08] reddolan commented on #1748
@hippee-lee here is the updated Icon Library for the site
[Clarity-Icons-Library-0.10.17.sketch.zip](https://github.com/vmware/clarity/files/1540882/Clarity-Icons-Library-0.10.17.sketch.zip)

Download button on [https://vmware.github.io/clarity/get-started#designResources](https://vmware.github.io/clarity/get-started#designResources) needs to have version number updated to 0.10.17

I also noticed

[2017-12-08 03:46] gnomeontherun opened #1757 "Refactor internal use of old popovers"
Need to clean up uses of the old popover implementation and replace with updated version.

* [ ] Button Group Overflow
* [x] Datagrid Filters
* [x] Dropdowns
* [ ] Signposts
* [ ] Tooltips

[2017-12-08 05:22] rameshyala commented on #1001
Thank you @mathisscott , Hear is the plunker [https://plnkr.co/edit/XTtSFqM4l0nHSntpVGR0?p=preview](url).

[2017-12-08 05:30] rameshyala commented on #1001
Thank you @mathisscott , Hear is the plunker link [plunker link](https://plnkr.co/edit/si6V24QOFvDn2ivznmGL?p=preview)

[2017-12-08 14:23] sathomas opened #1758 "Only Core Clarity Icons Available (Other Sets Not Working)"
**Select one ...**  (check one with "x")
[code]

### Expected behavior

- Include `clarity-icons.min.css` CSS file.
- Include `custom-elements.min.js` JavaScript file.
- Include `clarity-icons.min.js` JavaScript file.

### Actual behavior
Icons in sets other than "Core" are not available, and the `error-standard` icon is displayed instead.

### Reproduction of behavior
See [pen](https://codepen.io

[2017-12-08 17:45] Shijir commented on #1758
@sathomas that's very odd. In Plunkr, all shapes are loading just fine. https://plnkr.co/edit/HpjUYCMngZntYZwMKkfD?p=preview

I will investigate further...

[2017-12-08 17:51] Shijir commented on #1758
It's only reproducible in codepen for some reason. Also, in codepen, I can retrieve the shape, `pencil`, from the Api. https://codepen.io/anon/pen/aVezXq?editors=1111

[2017-12-08 18:33] Shijir commented on #1758
@sathomas okay figured out what's going on after trying it out in other online editors such as jsfiddle, jsbin, and plunkr. The reason that all shapes were not loading was that codepen loads 3rd party libraries at the end of `body` tag, not in the head. It should be easily fixable.